<foreach name="all_infos" item="vo" key="k">
	<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;">
		<div class="mui-card-content">
			<div class="mui-card-content-inner" style="padding: 5px 15px;">
				<a style="color: #000;" str="{$vo['part_time_job_id']}" class="topheight">
					<div class="heading">
						<span>{$vo['part_time_job_title']}</span>
						<?php if($vo['part_time_job_is_top'] == 1){ ?>
						置顶
						<?php }else{ ?>
						<em>{$vo['part_time_job_time']}</em>
						<?php } ?>
					</div>
					<div>
				      <h2 style="font-size: 16px;color:#fd6a34;line-height: 21px;"><span style="margin-right: 20px;display: inline-block;line-height: 20px;font-weight: normal;">
				      <?php if($vo['part_time_job_wages1'] == 0){ ?>
				        面议
				      <?php }else{ ?>
					    {$vo.part_time_job_wages1}{$vo.part_time_job_wages2}
				      <?php } ?>
					    </span>
					 <small style="border:1px solid #27b94c;color: #27b94c;font-weight: normal;border-radius: 2px;font-size: 12px;padding: 0px 4px;vertical-align: middle;">{$vo.part_time_job_term}</small>
					<small style="border:1px solid #38b8ea;color: #38b8ea;font-weight: normal;border-radius: 2px;font-size: 12px;padding: 0px 4px;vertical-align: middle;">{$vo.part_time_job_settlement}</small>
						<span style="font-size: 14px;color: #666;font-weight: normal;float: right;line-height: 21px;vertical-align: bottom;">
						{$vo.part_time_job_position}
					</span>
				</h2>
			</div>
			<p class="mui-ellipsis-address" style="margin:0;">{$vo.part_time_job_address}</p>
		</a>
	</div>
</div>
</div>
</foreach> 