.head{
	height: 1rem;
	line-height: 1rem;
	font-size: .38rem;
	text-align: center;
	position: relative;
	border-bottom: 0.02rem solid #e6e6e6;
}
.head a{
	position: absolute;
	left: 0.07rem;
	top: 0.1rem;
}
.head a img{
	height: .5rem;
}
.invitation{
	padding: 0 .2rem;
}
.member{
	margin-top: 0.3rem;
}
.member .mem_infor{
	float: left;
	width: 70%;
}
.member .mem_infor .mem_pic{
	float: left;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 0.15rem;
}
.member .mem_infor .mem_pic img{
	width: 100%;
	min-height: 1rem;
}
.member .mem_infor .mem_name{
	font-size: 0.32rem;
} 