.reword{font-family:"Microsoft Yahei"; border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;margin: 0 auto}
.arrow2{float: left;
    margin-right: 20px;
	background-image: url(../images/success.png);
	width:70px;
	height: 70px;
	}
.wrap{width: 400px;margin:100px auto;margin-bottom: 63px;}
.wrap h1{width:347px;height: 44px;font-family:"Microsoft Yahei";font-size: 30px;font-weight: 500;}
.wrap p{color: #999; font-size: 14px;}
.reword-list ul{margin-top: 20px ;list-style:none;line-height: 79px;
	border: 2px solid #e4e4ee;width:650px;height: 244px;border-bottom: none;margin:80px auto 100px; }
.reword-list li{border-bottom: 2px solid #e4e4ee	;height: 81px;}
.list{    width: 145px;
	height: 81px;
    text-align: center;
    background: #f2f2f5;
    display: inline-block;
    float: left;}
.blue{color: #00aaee;margin-left: 30px;}
.orange{color: #ff6600;
    font-size: 22px; margin-left: 30px;}
.last{border-bottom: 2px solid #e4e4ee;}
.down{font-family:"Microsoft Yahei";font-size:14px;
    color:#666;text-align: center;}