{#$cssFile = array("my.css")#}
{#include file='_header.html' pageTitle='我的' cssFile=$cssFile#}

  <div class="header">
    <div class="header-l"></div>
    <div class="header-middle">我的</div>
    <div class="header-r"><a href="setup.html" class="setup"></a></div>
  </div>

  <div class="container">

    <div class="list">

      <div class="bgfff link">
        <dl class="fn-clear">
          <dt class="icon3"></dt>
          <dd><a href="/wmsj/statistics/statistics.php" class="fn-clear"><span class="tit">统计</span><span class="arrow"></span></a></dd>
        </dl>
      </div>

    </div>

  </div>

  {#include file='_footer.html'#}

</body>
</html>
