
/** { -webkit-tap-highlight-color: inherit!important;}*/
input,textarea{-webkit-appearance:none;}

body{
    margin-top: .9rem;
}
/*公用头部*/
.header{
    height: .9rem;
    background: #fd5530 !important;
    color: #fff;
    font-size: .32rem;
    line-height: .9rem;
    max-width: 1080px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    overflow: hidden;
}
.header a{
	display: inline-block;
	color: #fff;
}
.header .back{
    height: .9rem;
    line-height: .9rem;
    width: 17%;
    float: left;
    margin-left: .1rem;
}
.header .back i{
    width: 0.4rem;
    height: .9rem;
    display: inline-block;
    background: url(../images/back.png) no-repeat 4px 10px;
    vertical-align: middle;
    background-size: .3rem;
}
.header .header_right{
	float: right;
	height: .9rem;
	margin-right: .2rem;
}
.header .header_right i{
    width: 0.04rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin: 0 .15rem;
}
.header .title{
    float: left;
    width: 64%;
    text-align: center;
    font-size: 0.38rem;
}
.header .share{
    height: .9rem;
    float: right;
    width: 12%;
    background: url(../images/pb_11.png) no-repeat center;
    background-size: .5rem;
}