.share{display: none;}
.header_right{display: none;}

.write{ height: 1rem; line-height: 1rem; font-size: 0.28rem; border-bottom: 0.02rem solid #e6e6e6; padding: 0 0.2rem; position: relative;}
.write span{ position: relative; padding-left: 0.3rem; margin-right: 0.4rem; float: left; width: 16%;}
.write span i{ width: .11rem; height: .11rem; position: absolute; top: 0.44rem; left: 0.05rem; background: #fd5530; border-radius: 100%;}
.write input{ border: none; width: 74%;}
.write em{ float: left; color: #cfcfcf; font-size: 0.24rem;}
.write .arrow{ float: right;}
.write .arrow img{ width: .4rem; height: .2rem; margin-top: 0.41rem; margin-right: 0.1rem; transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; -ms-transition: all 0.5s;}
.write .arrow.box_open img{ -webkit-transform: rotate(180deg);}

.btn{ height: 1rem; line-height: 1rem; text-align: center; font-size: 0.32rem; color: #fff; background: #fd5530; position: fixed; bottom: 0; left: 0; right: 0;}
