body,html{
    width: 100%;
    overflow: hidden;
    overflow-y:auto; 
}
textarea,input{font-size: .32rem!important;}
input{display: inline-block;margin-top: .3rem!important;}
.share{
	display: none;
}
.header_right{
	display: none;
}
.info{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.28rem;
	border-bottom: 0.02rem solid #e6e6e6;
	padding: 0 0.2rem;
	position: relative;
	background: #fff;
}
.info span{
	position: relative;
	padding-left: 0.3rem;
	margin-right: 0.4rem;
	float: left;
	width: 16%;
    font-size: .28rem;
    font-weight: bold;
}
.info span i{
	width: .11rem;
	height: .11rem;
	position: absolute;
	top: 0.44rem;
	left: 0.05rem;
	background: #fd5530;
	border-radius: 100%;
}
.info input{
	border: none;
	width: 74%;
}
.info .choice{
	float: left;
	width: 74%;
	position: relative;
	color: #737171;
    font-size: .28rem;
    font-weight: bold;
}
.info select{
    width: 74%;
    color: #737171;
    border:none;
}
.info i{
    width: .4rem;
    height: .2rem;
    position: absolute;
    right: 0.2rem;
    top: 0.4rem;
    background: url(../images/arrow.png) no-repeat center;
    background-size: .4rem;
    -webkit-transform: rotate(180deg);
}
.intro h1{
	background: #e6e6e6;
	font-size: .28rem;
	padding-left: 0.5rem;
	position: relative;
	height: .7rem;
	line-height: .7rem;	
}
.intro h1 em{
    width: .11rem;
    height: .11rem;
    position: absolute;
    top: .3rem;
    left: 0.25rem;
    background: #fd5530;
    border-radius: 100%;
}
.intro_txt{
	padding: 0 .2rem;
	margin-top: 0.15rem;
}
.intro_txt .t1{
    text-indent: 0.4rem;
    display: block;
    color: #898989;
    display: none;
}
.intro_txt textarea{
	width: 94%;
	height: 2rem;
	border: none;
	padding: 0 .2rem;
	resize:none;
    font-size: .28rem;
}
.picture_2{
	background: #e6e6e6;
	padding-bottom: 0.15rem;
}
.picture_2 .pic_list{
	background: #f0f0f0;
	padding: 0 0.4rem;
}
.picture_2 ul li{
	float: left;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1px 10px 1px rgba(0,0,0,.2);
	margin-top: 0.3rem;
	margin-bottom: 0.2rem;
	width: 1.3rem;
	height: 1.3rem;
	margin-right: .36rem;
}
.picture_2 ul li img{
	width: 1.3rem;
	height: 1.3rem;
}
.picture_2 .uploadbtn{
	width: 1.3rem;
	height: 1.3rem;
	text-align: center;
	background: #fff;
}
.picture_2 .uploadbtn input{
	opacity: 0;
}
.picture_2 .uploadbtn em{
    width: .7rem;
    height: .7rem;
    display: block;
    margin: 0.1rem auto;
    background: url(../images/shi.png) no-repeat center;
    background-size: .7rem;
}
.picture_2 .uploadbtn p{
	color: #bfbfc0;
}
.picture_2 .uploadbtn .webuploader-container div{
	width: 1.3rem;
	height: 1.3rem;
}
.picture_2 .pic_tips{
	color: #bfbfc0;
	padding-bottom: 0.2rem;
}
.picture_2 .cancel{
	position: absolute;
	right: 0;
	top: 0;
	width: .3rem;
	height: .3rem;
	background: url(../images/cha.png) no-repeat center;
	background-size: .3rem;
}
.input-control {
    padding: 0 1em;
    border-bottom: 1px solid #D5DADC;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    font-size: 0.28rem;
}
.input-control span{
	display: block;
    float: left;
    color: #222;
    height: 3.5em;
    min-width: 3.9em;
    padding-right: 1em;
    font-weight: bold;
}
.input-control i{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin-right: .2rem;
    background: url(../images/yuan.png) no-repeat center;
    background-size: .25rem;
    float: left;
    vertical-align: text-bottom;
    margin-top: 0.25rem;
}
.input-control s{
    float: left;
    width: 0.12rem;
    height: 0.13rem;
    background: #FE5400 ;
    border-radius: 100%;
    margin-right: .2rem;
    margin-top: .45rem;
    margin-left: .18rem;
}
.input-control .user-fav input{
    border: none;
    width: 80%;
}
.input-control .user-fav em{
    color: #bfbfc0;
}
.input-control .user-fav{
    float: left;
    width: 72%;
    position: relative;
}
.input-control .user-fav .get{
    width: 1.5rem;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    border-radius: .04rem;
    position: absolute;
    right: 0;
    top: .33rem;
    border: 1px solid #FE5400;
    color: #FE5400;
}
.agree{
    line-height: 1.5rem;
    background: #f3f3f3;
    text-align: center;
    font-size: .28rem;
}
.agree a{
    color: #FE5400;
}
.agree i{
    width: .4rem;
    height: .4rem;
    display: inline-block;
    background: url(../images/yuan_2.png) no-repeat center;
    background-size: .4rem;
    vertical-align: text-bottom;
    margin-right: .1rem;
}
.agree.agree_bc i{
    width: .4rem;
    height: .4rem;
    display: inline-block;
    background: url(../images/yuan_4.png) no-repeat center;
    background-size: .4rem;
    vertical-align: text-bottom;
    margin-right: .1rem;
}
.btn_box {
    padding: 25px 15px;
    background: #f3f3f3;
    padding-top: 0;
}
.btn{
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    background: #fd5530;
    border-radius: .1rem;
}
.wechat{
	padding-bottom: 0.1rem;
	background: #e6e6e6;
}
.da_bc{
    padding-top: .1rem;  
    background: #e6e6e6; 
}
.gongkai span{
    width: 41%;
    padding-left: 0.58rem;
}
.gongkai span i{
    left: .25rem!important;
    width: 0.13rem;
    height: 0.13rem;
}
.gongkai .choice{
    width: 37%;
    text-align: right;
}
.certfy ul li{
    position: relative;
}
.certfy ul li i{
    position: absolute;
    right: 0;
    top: 0;
    width: .4rem;
    height: .4rem;
    background: url(../images/cha.png) no-repeat center;
    background-size: .4rem;
}
.delete{
    position: fixed;
    left: 50%;
    margin-left: -3rem;
    top: 25%;
    z-index: 12;
    background: url(../images/pb_7.png) no-repeat top;
    width: 6rem;
    height: 6rem;
    background-size: 6rem;
    text-align: center;
    display: none;
}
.delete h1{
    font-size: .3rem;
    margin-top: 1.8rem;
    font-weight: bold;
    background: #fff;
}
.delete h2{
    font-size: .3rem;
    padding-top: .1rem;
    font-weight: bold;
    background: #fff;
    padding-bottom: .3rem;
    border-bottom: 0.04rem solid #e6e6e6;
}
.de_foot{
    width: 100%;
    background: #fff;
}
.delete .de_btn{
    width: 80%;
    margin: 0 auto;
    padding: .4rem 0
}
.delete .de_btn span{
    background: #fd5530;
    color: #fff;
    padding: 0.15rem .8rem;
    font-size: .28rem;
    border-radius: 0.1rem;
}
.delete .de_btn span.sure{
    margin-right: .4rem;
}
.disk {
    background: #000;
    opacity: .5!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: none;
}
.succeed_box{
    position: fixed;
    left: 50%;
    margin-left: -3rem;
    top: 25%;
    z-index: 12;
    background: url(../images/pb_7.png) no-repeat top;
    width: 6rem;
    height: 6rem;
    background-size: 6rem;
    text-align: center;
     display: none; 
}
.succeed_box h1{
    font-size: .3rem;
    margin-top: 1.8rem;
    font-weight: bold;
    background: #fff;
}
.succeed_box h2{
    font-size: .24rem;
    padding-top: .1rem;
    background: #fff;
    padding-bottom: .3rem;
    border-bottom: 0.04rem solid #e6e6e6;
}
.succeed_box h3{
    font-size: .24rem;
    padding-top: .1rem;
    background: #fff;
    padding : 0.1rem 0;
}
.succeed_box h2 em{
    color: #fe8267;
}
.succeed_box p{
    background: #fff;
    border-radius: 0 0 0.2rem 0.2rem;
    padding: 0.35rem 0;
}
.succeed_box p span{
    width: 60%;
    height: .75rem;
    color: #fff;
    font-size: 0.28rem;
    border-radius: 0.15rem;
    background: #fd5530;
    line-height: .75rem;
    display: block;
    margin:  0 auto;
}