a:hover{text-decoration: none;}

.share{display: none;}
.header_right{display: none;}
.empty{text-align: center; padding: 2rem 0 0; }
.empty p{font-size: .3rem; margin-top: .2rem;}

.list li{font-size: .28rem; padding: .2rem .4rem .2rem .3rem; margin: .3rem .2rem; box-shadow: -2px -1px 2px 2px #dadada;}
.list li img{width: 1.5rem; height: 1.5rem; border-radius: 1.5rem; margin-right: .2rem; position: relative; overflow: hidden;}
.list li .txtbox p span{color: #666;}
.list li .state{text-align: right; margin-top: .1rem;}
.list li p.state span{color: #fff; background: #fd5530; border-radius: .4rem; padding: .05rem .2rem; font-size: .24rem;}
