body, html{height: 100%; width: 7.5rem;}

body{background: url(../images/zhuan_bg.png) 0 0 no-repeat; min-height: 100%; background-size: 7.5rem auto;}
.rotate_wrap{position: relative; padding-top: 4.4rem;}
.contain #i_bg{width: 5.8rem; display: block; margin: 0 auto; height: 5.8rem;}
.contain #i_cont{width: 1.8rem; display: block; position: absolute; left: 50%; margin-left: -.9rem; top: 7.1rem; margin-top: -.9rem;}
.qian-box{position: relative; color: #fff; text-align: center; font-size: .24rem; margin-top: .1rem;}
.qian-box p em{color: #f7dd00;}
.link-qian{position: absolute; background: url(../images/qiandao.png) center center no-repeat; background-size: 2rem auto; display: block; width: 2rem; height: .8rem; text-indent: -9999em; right: .2rem; top: 0;}

.rule-box{margin-top: .8rem;}
.rule-box a{display: block; float: left; width: 3rem; margin-left: .5rem; padding: .2rem 0; text-indent: -888em;}
.rule-box .jilu{background: url(../images/jilu.png) center center no-repeat; background-size: contain;}
.rule-box .guize{background: url(../images/guize.png) center center no-repeat; background-size: contain;}

.notice-box{margin: .6rem auto 0; padding: .3rem 0.9rem .8rem; background: url(../images/notice_bg.png) center 0 no-repeat; background-size: 7rem auto; color: #fff;}
.notice-box .notice-tit{font-size: .3rem; margin-bottom: .2rem;}
.notice-box .notice-tit em{color: #f7dd00;}
.notice-box .bd{height: 3.2rem; overflow: hidden;}
.notice-box li{padding: .1rem; text-align: center; background: #2395d4;}
.notice-box li span{width: 33.3%; float: left;}
.notice-box li.bg{background: #3fb4f7;}

.attention{color: #31a5e2; border: 1px solid #31a5e2; border-radius: .04rem; padding: 0 .3rem .2rem; font-size: .26rem; width: 6.1rem; margin: 0 auto;}
.attention p{margin-bottom: .3rem;}
.attention .atit{font-size: .3rem; margin-bottom: .6rem; margin-top: .6rem;}

.footer{height: 1.5rem; width: 100%; background: url(../images/footer_bg.png) 0 0 no-repeat; background-size: 7.5rem auto; margin-top: .4rem;}

/*弹出层*/
.layer{position: fixed; height: 3.5rem; width: 100%; top: 50%; text-align: center; z-index: 10; margin-top: -1.75rem; display: none;}
.layer .txt{padding-top: 1.6rem; font-size: .3rem;}
.layer .blank{display: block; color: #fff; background: #fd5530; border-radius: .1rem; width: 3.2rem; margin: .4rem auto 0; font-size: .26rem; padding: .05rem 0;}
.empty, .failer{background: url(../images/fail.png) center center no-repeat; background-size: contain;}
.success{background: url(../images/success.png) center center no-repeat; background-size: contain;}
.mask{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #000; opacity: .4; -webkit-opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; filter:alpha(opacity=40); z-index: 9; display: none;}
