.main .content {
	position:relative;
}
.main .city-label {
	position:absolute;
	background:#fff;
	border-radius:10px;
	height:39px;
	line-height:39px;
	font-size:28px;
	font-weight:bold;
	width:100px;
	text-align:center;
	left:50%;
	margin-left:-50px;
	top:-70px;
	color:#905DC6;