html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, sub, sup, dl, dt, dd, ol, ul, li, form, input, button, label, textarea, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

body {
	font: normal 400 12px/1.5 Microsoft YaHei;
    color: #333;
    background: #fafafa;
    min-width:1000px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #f00;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 800;
    font-size: 100%;
}

em {
    font-style: normal;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 12px;
}

label, input, select, textarea {
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

img, button {
    background: none;
    border: none;
    margin-top: 10px
}

ol, ul, li {
    list-style: none;
}

table, td {
    border: none;
}

* {
    outline: none
}

.header {
    width: 1000px;
    height: 83px;
    margin: 0px auto;
}

.logo {
    width: 180px;
    float: left;
}

.guild {
    float: right;
    font-size: 16px;
    line-height: 83px;
}

.guild a {
    display: inline;
    margin-left: 15px;
}

.green_baner {
    width: 100%;
    height: 440px;
    background: #6b9e35;
}

.green_baner2 {
    width: 1000px;
    margin: 0px auto;
}

.main {
    width: 100%;
    background: #fed34d;
    padding-bottom: 20px;
}

.content {
    width: 1000px;
    margin: 0px auto;
}

.green_btm {
    background: url(../images/s_lc_05.jpg) no-repeat center;
    height: 31px;
}

.zl {
    height: 350px;
    position: relative;
    background: url(../images/s_lc_07.jpg) no-repeat top;
    margin-top: 53px;
}

.zl_mjtx {
    width: 86px;
    height: 86px;
    position: absolute;
    left: 192px;
    top: -32px;
}

.zl_mjtx2 {
    width: 86px;
    height: 86px;
    position: absolute;
    left: 703px;
    top: -32px;
}

.zl_mj {
    width: 200px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    left: 158px;
    top: 64px;
    font-size: 22px;
}

.zl_mj2 {
    width: 200px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    left: 648px;
    top: 64px;
    font-size: 22px;
}

.zl_le {
    width: 450px;
    height: 60px;
    position: absolute;
    left: 21px;
    top: 163px;
    font-size: 16px;
    line-height: 26px;
}

.zl_rig {
    width: 450px;
    height: 60px;
    position: absolute;
    left: 529px;
    top: 165px;
    font-size: 16px;
    line-height: 26px;
}

.lc_z {
    width: 1000px;
    height: 2696px;
    position: relative;
}

.lux {
    width: 30px;
    height: 2501px;
    background: url(../images/s_lc_09.jpg) no-repeat center;
    position: absolute;
    left: 223px;
    top: 0px;
}

.fenzhi {
    width: 162px;
    height: 2302px;
    position: absolute;
    background: url(../images/s_lc_12.jpg) no-repeat center;
    left: 399px;
    top: 121px;
}

.gjj_k {
    width: 346px;
    position: absolute;
    left: 67px;
    top: 368px;
    z-index: 999;
}

.gjj_k2 {
    width: 346px;
    position: absolute;
    left: 65px;
    top: 1549px;
    z-index: 999;
}

.gjj_bj {
    /* height:136px; */
}

.nr_bj {
    background: url(../images/s_lc_22.png) repeat-y;
    display: block;
    font-size: 16px;
    line-height: 26px;
    width: 296px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.gjj_btm {
    background: url(../images/s_lc_24.png) no-repeat center;
    height: 13px;
    display: block;
}

.box {
    font-size: 16px;
    line-height: 24px;
    left: 582px;
    width: 290px;
    border-radius: 15px;
    border: 5px solid #585858;
    background: #fff;
    position: absolute;
    padding: 10px;
}

.box em {
    font-size: 18px;
    font-weight: bold;
}

.price_ico {
    display: inline-block;
    padding-left: 19px;
    color: #619E43;
    background: url("../images/s_lc_27.jpg") no-repeat left center;
}

.box a {
    color: #619E43;

}

.box a:hover {
    color: #44681E;

}

.gj01 {
    left: 582px;
    top: 120px;
}

.gj02 {
    top: 224px;
}

.gj03 {
    top: 330px;
}

.gj04 {
    top: 460px;
}

.gj05 {
    top: 640px;
}

.gj06 {
    top: 750px;
}

.gj07 {
    top: 860px;
}

.gj08 {
    top: 1000px;
}

.gj09 {
    top: 1101px;
}

.gj10 {
    top: 1229px;
}

.gj11 {
    top: 1338px;
}

.gj12 {
    top: 1449px;
}

.gj13 {
    top: 1583px;
}

.gj14 {
    top: 1696px;
}

.gj15 {
    top: 1855px;
}

.gj16 {
    top: 1991px;
}

.gj17 {
    top: 2102px;
}

.gj18 {
    top: 2189px;
}

.gj19 {
    top: 2373px;
}

.gjj_k3 {
    position: absolute;
    left: 106px;
    top: 2505px;
}

.copy {
    text-align: center;
    font-size: 18px;
    color: #363636;
}

.footer {
    text-align: center;
    background: #fff;
    height: 50px;
    padding: 20px 0;
}

.footerNav {

}

.footerNav a:first-child {
    border: 0;

}

.footerNav a {
    border-left: 1px solid #C1C1C1;

    color: #666666;
    font-size: 14px;
    padding: 0px 7px 0 8px;
}

.footerNav a:hover {
    color: #f33;
}

.copyright {
    color: #C1C0C4;
}

.red_banner {
    background: #EC6552;
}

.red_banner2 {
    width: 1000px;
    margin: 0 auto;
}

.red_btm {
    background: url(../images/red_banner_bottom.jpg) no-repeat top;
    height: 31px;
}

.red_zl {
    height: 303px;
    position: relative;
    background: url(../images/s_lc_07.jpg) no-repeat top;
    margin-top: 53px;
}

.red_lc_z {
    width: 1000px;
    height: 1914px;
    background: url('../images/red_gd_bottom.jpg') no-repeat left top;
    position: relative;
    padding-top: 120px;
}

.red.lux {
    display: none;

}

.red.gjj_k {
    width: 318px;
    top: 135px;
    left: 194px;
}

.red.fenzhi {
    background: url('../images/yix_tree.jpg') no-repeat left top;
    top: 288px;
    left: 333px;
    height: 1727px;
}

.red.price_ico {
    background-image: url('../images/red_price.jpg');
    color: #F45D42;
}

.red .box {
    left: 462px;
}

.red .gj01 {
    top: 343px;
}

.red .gj02 {
    top: 440px;
}

.red .gj03 {
    top: 573px;
}

.red .gj04 {
    top: 683px;
}

.red .gj05 {
    top: 795px;
}

.red .gj06 {
    top: 931px;
}

.red .gj07 {
    top: 1043px;
}

.red .gj08 {
    top: 1154px;
}

.red .gj09 {
    top: 1290px;
}

.red .gj10 {
    top: 1422px;
}

.red .gj11 {
    top: 1527px;
}

.red .gj12 {
    top: 1632px;
}

.red .gj13 {
    top: 1812px;
}
.red_deal{
    width: 100%;
    background: url('../images/red_jiaoyi.jpg') no-repeat 220px top;
    height: 237px;
}
.zs_banner{
    background: #905DC6;

}
.zs_banner2{
    width: 1000px;
    margin: 0 auto;
}
.zs_btm {
    background: url(../images/zs_banner_bottom.jpg) no-repeat left top;
    height: 31px;
}
.zs.fenzhi{
    background: url(../images/zs_fenzhi.jpg) no-repeat left top;
    left: 403px;
    height: 2458px;
    width: 179px;
}
.zs_deal{
    width: 100%;
    background: url(../images/zs_jywc.jpg) no-repeat 112px top;
    height: 238px;
}
.zs.lc_z{
    height: 2529px;
}

.zs .box {
    left: 582px;
}

.zs .gj01 {
    top: 118px;
}

.zs .gj02 {
    top: 227px;
}

.zs .gj03 {
    top: 339px;
}

.zs .gj04 {
    top: 477px;
}

.zs .gj05 {
    top: 665px;
}

.zs .gj06 {
    top: 884px;
}

.zs .gj07 {
    top: 995px;
}

.zs .gj08 {
    top: 1129px;
}

.zs .gj09 {
    top: 1240px;
}

.zs .gj10 {
    top: 1347px;
}

.zs .gj11 {
    top: 1478px;
}

.zs .gj12 {
    top: 1584px;
}

.zs .gj13 {
    top: 1690px;
}
.zs .gj14 {
    top: 1796px;
}
.zs .gj15 {
    top: 1950px;
}
.zs .gj16 {
    top: 2104px;
}
.zs .gj17 {
    top: 2214px;
}
.zs .gj18 {
    top: 2297px;
}
.zs .gj19 {
    top: 2480px;
}
.zs.box {
    border-color: #905DC6;
    
}
.zs.price_ico{
    background-image: url('../images/zs_price.png');
    color: #905DC6;
}
.zs a{
    color: #905DC6;
    
}
.zs a:hover{
    color: #602Da6;
    
}

.blue_banner{
    background: #4AAAD2;
}
.blue_banner2{
    width: 1000px;
    margin: 0 auto;
}
.blue .zs_btm{
    background-image: url('../images/blue_banner_bottom.png');
}
.blue .price_ico{
    background-image: url('../images/blue_price.png');
    color: #4AAAD2;
}
.blue a{
    color: #4AAAD2;
}
.blue a:hover{
    color: #2369d2;
}
.blue_deal{
    width: 100%;
    background: url('../images/blue_jywb.png') no-repeat 112px top;
    height: 238px;
}
.blue .lc_z{
    height: 3200px;
}
.blue .fenzhi{
    background: url('../images/fenzhi_blue.png') left top no-repeat;
    height: 3240px;
}
.blue .lux{
    background: url('../images/blue_lux.png') no-repeat 1px top;
    
    height: 3172px;
}
.blue .gjj_k2{
    top: 2112px;
}
.zs .gjj_k2{
    top: 1535px;
}
.blue .gj01{
    top: 161px;
}
.blue .gj02{    top: 268px;
}
.blue .gj03{        top: 401px;
}
.blue .gj04{        top: 535px;
}
.blue .gj05{        top: 694px;
}
.blue .gj06{        top: 1407px;
}
.blue .gj07{        top: 1519px;
}
.blue .gj08{        top: 1647px;
}
.blue .gj09{        top: 1776px;
}
.blue .gj10{        top: 1856px;
}
.blue .gj11{        top: 1970px;
}
.blue .gj12{        top: 2085px;  }
.blue .gj13{        top: 2200px;  }
.blue .gj14{        top: 2361px;  }
.blue .gj15{        top: 2475px;  }
.blue .gj16{        top: 2584px;  }
.blue .gj17{        top: 2744px;  }
.blue .gj18{        top: 2855px;  }
.blue .gj19{        top: 2968px;  }
.blue .gj20{        top: 3080px;  }
.blue .gj21{        top: 3262px;  }
.blue .box{   }
.blue .box.sbox{
    border: 3px dashed #505050;
    border-radius: 10px;
    background: #FFDC79;
    top: 805px;
    width: 236px;
    padding: 14px 39px;
    text-align: center;
}
.blue .sbox .sbox{
    border: 4px solid #585858;
    border-radius: 18px;
    background: #fff;
    margin: 22px 0;
    padding: 10px;
    width: 205px;
    position: relative;
    text-align: center;
}
.blue .sbox .sbox::after{
    content:'';
    border-left: 3px solid #585858;
    position: absolute;
    bottom: -26px;
    left: 50%;
    height: 24px;
}
.blue .sb01{        top: 0px;  }
.blue .sb02{        top: 0px;  }
.blue .sb03{        top: 0px;  }
.blue .sb04{        top: 0px;  }
.blue .sb05{        top: 0px;  }
.blue .sbox .sb05::after{
    display:none;
}
.sbox span{
    font-size: 30px;
    font-weight: bold;
    margin: 13px 0 8px;
    display: inline-block;
}
.gl_banner{
    background: url("../images/gl_banner.png") #2C2232 no-repeat center top;
    width: 100%;
    min-width: 1000px;
    height: 460px;
    position: relative;
}
.gl_banner .banner_bottom{
    position: absolute;
    
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background: url("../images/gl_banner.png") #FFD55F no-repeat center bottom;
}
.gl_nav{
    position: absolute;

    right: 0;
    top: 450px;
    z-index: 10;
}
.gl_nav ul{

}
.gl_nav li{
    background: #312635;

    color: #fff;
    border-radius: 25px 0 0 25px;
    height: 50px;
    margin-bottom: 2px;
    width: 185px;
    text-align: left;
    text-indent: 42px;
    line-height: 50px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.gl_nav li.active{
    color:#FFD55F;
}
.gl_nav li::after{
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #FFD55F;
    margin-top: -6px;
    border-radius: 6px;
}
.gl_content{
    /* width: 1000px; */

    min-width: 1000px;
    margin: 0 auto;
    background: #FFD55F;
}
.gl_content .bz{
    width: 830px;

    height: 225px;
    margin: 0 auto 85px;
    position: relative;
    background: url(../images/gl_finger.png) #2C2232 no-repeat 190px bottom;
    color: #fff;
    border-radius: 117px;
}
.gl_content .bz::after{
    content:'';
    height: 29px;
    width: 29px;
    position: absolute;
    background: url(../images/gl_jt.png) no-repeat left top;
    left: 50%;
    margin-left: -15px;
    bottom: -56px;
}
.gl_content_nr{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.gl_content .nr{
    float: left;
    font-size: 18px;
    line-height: 28px;
    padding: 42px 0;
    max-width: 380px;
    color: #FFFFFF;
}
.gl_content .title{
    width: 230px;
    height: 100%;
    float: left;
}
.gl_content .ico{
    float: right;
    width: 204px;
    height: 100%;
}
.gl_content .step1{}
.gl_content .step2{}
.gl_content .step3{}
.gl_content .step4{
    height: 370px;
    border-radius: 185px;
}
.gl_content .step5{}
.gl_content .step6{
    margin-bottom: 50px;
}
.gl_content .step6::after{
    display: none;
}
.gl_content .step5 .nr{
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 22px 0;
    text-align: center;
}
.gl_content .step1 .title{
    background: url("../images/title01.png") no-repeat 50% 50%;
}
.gl_content .step2 .title{
    background: url("../images/title02.png") no-repeat 50% 50%;
}
.gl_content .step3 .title{
    background: url("../images/title03.png") no-repeat 50% 50%;
}
.gl_content .step4 .title{
    background: url("../images/title04.png") no-repeat 50% 50%;
}
.gl_content .step5 .title{
    background: url("../images/title05.png") no-repeat 20% 100%;
    width: 100%;
    /* margin-top: 30px; */
    height: 93px;
    float: none;
}
.gl_content .step6 .title{
    background: url("../images/title06.png") no-repeat 50% 50%;
}
.gl_content .step1 .ico{
    background: url("../images/gl_ico01.png") no-repeat 0 50%;
}
.gl_content .step2 .ico{
    background: url("../images/gl_ico02.png") no-repeat 0 50%;
}
.gl_content .step3 .ico{
    background: url("../images/gl_ico03.png") no-repeat 0 50%;
}
.gl_content .step4 .ico{
    background: url("../images/gl_ico04.png") no-repeat 0 50%;
}
.gl_content .step5 .ico{
    display: none;
}
.gl_content .step6 .ico{
    background: url("../images/gl_ico06.png") no-repeat 0 50%;
}
.gl_content .sx_tips{
    padding: 11px;
    font-size: 16px;
    color: #7D7A7E;
}
.gl_content .sx_btn{}
.gl_content .sx_btn a{
    height: 54px;
    display: inline-block;
    border: 3px solid;
    color: #fff;
    line-height: 54px;
    border-radius: 27px;
    padding: 0 17px;
    font-size: 16.8px;
    box-shadow: 2px 4px 3px #000,-1px -3px 2px #000 inset;
}
.gl_content .sx_btn .btn01{
    border-color: #F46657;
}
.gl_content .sx_btn .btn02{
    border-color: #3CA7CE;
}
.gl_content .sx_btn .btn03{
    border-color: #609E45;
}
.gl_content .sx_btn .btn04{
    border-color: #9559C0;
}
.red a{
    color: #F45D42;
}
.red a:hover{
    color: #f00;
}
.priceDetail:hover{
  color:#FFDD72;
  text-decoration: underline;
}
.priceDetail {
    float: right;
    padding-right: 166px;
    padding-top: 65px;
    padding-left: 20px;
    color: #FFDD72;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    background: url(../images/yellow_price.png) no-repeat left 96%;
}
.moreDetail {
    color: #FFDD72;
    padding-left: 50px;
    font-style: italic;
    background: url(../images/book.png) no-repeat 24px center;
    font-size: 16px;
}
.hhh{
	width: 100%;
	height: 50px;
	margin: 0 auto;
}
.nav .rent-free .hot {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    height: 13px;
    background: url(../images/rent-research-hot.png) no-repeat 50%;