*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;}
body.show {opacity:1;}
html{background: #ebebeb;}
em,i{font-style: normal;}

/*头部*/
.header{height: .8rem;background: #f6f6f6;display: -webkit-box;position: fixed;top: 0;left: 0;right: 0;z-index: 10;border-bottom: 1px solid #ddd;}
.header a{display: table-cell;width: .8rem;height: .8rem;vertical-align: middle;}
.header img{display: block;width: .4rem;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .3rem;line-height: .8rem;}
.header-r{visibility: hidden;}


/*基本信息*/
.info{margin-top: .8rem;}
.wrapper{background: #fff;padding: .2rem;margin-bottom: .2rem;}
.wrapper h1{font-size: .32rem;}
.wrapper .time{color: #999;}
.wrapper h3{font-size: .32rem;color: #777;margin-bottom: .2rem;	}
.wrapper h3 span{padding-left: .2rem;border-left: .08rem solid #00b5ca;display: block;line-height: .35rem;}
.wrapper li{font-size: .26rem;line-height: .6rem;}
.wrapper li span{display: inline-block;}
.wrapper li .info-tit{width: 1.5rem;text-align: right;}
.wrapper li .info-txt{display: inline-block;width: 75%;}
.wrapper .wrapper-txt{font-size: .26rem;line-height: .5rem;}
.swiper-slide img{display: block;width: 100%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{width: 100%;}
.swiper-pagination-bullet{background: #000 !important;opacity: .5 !important;}
.swiper-pagination-bullet-active{opacity: 1 !important;background: #fff !important;}