body, html {
    background: #eeeeee;
    height: 100%;
    display: block;
}
.rank_lead{
	width: 60%;
	background: #fff;
	height: .8rem;
	line-height: .8rem;
	margin: 0 auto;
	border-radius: 0.1rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	overflow: hidden;
	border: 0.02rem solid #eb5147;
}
.rank_lead ul li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.29rem;
	color: #eb5147;
}
.rank_lead ul li:last-child{
	border-left: 0.02rem solid #eb5147;
}
.rank_bc{
	color: #fff!important;
	background: #eb5147;
}
.indent_list .indent_txt{
	margin-top: 0.24rem;
	background: #fff;
	padding: 0 0.24rem;
}
.indent_list .indent_txt:last-child{
	margin-bottom: 1rem;
}
.indent_list .indent_txt h1{
	text-align: center;
	position: relative;
	height: 0.8rem;
	line-height: .8rem;
	color: #b5b5b5;
	font-size: 0.28rem;
	border-bottom: 0.02rem solid #dbdbdb;
}
.indent_list .indent_txt h1 em{
	position: absolute;
	right: 0rem;
	top: 0.15rem;
	border-radius: 0.05rem;
	width: 1rem;
	height: 0.5rem;
	color: #f42f38;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.24rem;
	padding: 0 0.24rem;
	border: 0.02rem solid #f42f38;
}
.indent_list .indent_txt ul{
	border-bottom: 0.02rem solid #dbdbdb;
	padding: 0.24rem 0;
}
.indent_list .indent_txt ul li{
	font-size: 0.24rem;
	color: #a2a2a2;
}
.indent_list .indent_txt .it_foot {
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
}
.indent_list .indent_txt .it_foot .price{
	float: left;
}
.indent_list .indent_txt .it_foot .price em{
	color: #e4345a;
}
.indent_list .indent_txt .it_foot span{
	float: right;
	margin-right: 0.24rem;
}