body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.datum_form {
	padding: 0.3rem;
	font-size: 0.28rem;
}
.datum_form .da_txt{
	height: .8rem;
	line-height: .8rem;
}
.datum_form .da_txt em{
	width: 1.5rem;
	display: inline-block;
	text-align: right;
	margin-right: .08rem;
}
.datum_form .da_txt span{
	font-weight: bold;
	color: #e83829;
}
.datum_form .da_txt input{
	height: .6rem;
	border: 0.02rem solid #d6d6d6;
	border-radius: 0.1rem;
	background: #fff;
	width: 76%;
	text-indent: 0.2rem;
}
.datum_list{
	background: #fff;
	padding: 0.3rem;
	font-size: .24rem;
}
.datum_list ul li{
	height: .4rem;
	line-height: .4rem;
}
.datum_list ul li em{
	width: 1.2rem;
	text-align: right;
	margin-right: 0.1rem;
	display: inline-block;
}
.datum_button button{
    width: 70%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 0.24rem;
    font-size: 0.3rem;
}
.datum_button .save{
	background: #e83829;
	margin-bottom: 0.3rem;
	margin-top: 0.5rem;
}
.datum_button .bang{
	background: #f8f8f8;
	color: #000;
	border: 0.02rem solid #909090 
}
.warning{
	background: #000;
    opacity: .5;
    color: #fff;
    position: fixed;
    top: 40%;
    border-radius: 0.1rem;
    display: none;
    padding: 0.24rem 0.24rem;
    font-size: 0.28rem;
    margin-left: 2.5rem;
}