body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.email_lead{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	text-align: center;
	font-size: 0.36rem;
	border-bottom: 0.04rem solid #c0c0c0;
}
.main_title{
	height: 1rem;
	line-height: 1rem;
	border-bottom: 0.02rem solid #c0c0c0;
}
.main_title em{
	margin-left: 0.3rem;
	font-size: 0.3rem;
	font-weight: bold;
	width: 90%;
	display: block;
}
.main_lead{
	padding: 0.25rem;
	font-size: 0.28rem;
	border-bottom: 0.02rem solid #dd5142;
	background: #fff;
}
.main_lead ul li b{
	color: #dd5142;
	font-weight: normal;
}
.main_lead ul li i{
	font-style: normal;
}
.main_txt{
	padding: 0.2rem;
}