body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.free_pic{
	padding: 1rem 0;
}
.free_pic img{
	width: 4rem;
	height: 4rem;
	margin: 0 auto;
	display: block;
}
.free_txt{
	width: 6rem;
	margin: 0 auto;
}
.free_txt h1{
	text-align: center;
	font-size: .32rem;
	margin-bottom: .2rem;
}
.free_txt h1 em{
	color: #e84733;
	display: inline-block;
	margin: 0 0.1rem;
}
.free_txt ul li{
	height: .6rem;
	line-height: .6rem;
	font-size: .28rem;
	text-indent: 1rem;
}
.free_txt span{
	text-align: center;
	color: #c4c4c4;
	font-size: .3rem;
	width: 100%;
	display: block;
	margin: .2rem 0;
}
.free_button{
	margin-top: .4rem;
}
.free_button button{
    width: 70%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    background: #e83829;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 0.24rem;
    font-size: 0.3rem;
}