<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>确认订单-{#$home_title#}</title>
<meta name="keywords" content="{#$home_keywords#}"/>
<meta name="description" content="{#$home_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/order.css?v=3" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$home_channelDomain#}', cfg_staticPath = staticPath = '{#$cfg_staticPath#}';

var criticalPoint = 1240, criticalClass = "w1200";
$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#include file="top.html"#}

<!-- 内容部分 -->
<div class="container clearfix">
	<form action="/include/ajax.php?service=home&action=pay" method="post" id="payform">
		<input type="hidden" name="pros" id="pros" value="{#$pros#}" />
		<input type="hidden" name="paytype" id="paytype" value="" />
		<input type="hidden" name="addressid" id="addressid" value="0" />
		<div class="left orderInfo">
			<h3>确认订单信息</h3>

			{#$totalPrice = 0#}
			{#$totalCount = 0#}

			{#foreach from=$cartList item="cart"#}
			<div class="sj">
				<ul class="title clearfix">
					<li class="shop">店铺：{#if $cart.domain#}<a href="{#$cart.domain#}" target="_blank" title="{#$cart.store#}">{#$cart.store#}</a>{#else#}{#$cart.store#}{#/if#}</li>
					<li class="uPrice">单价</li>
					<li class="uCount">数量</li>
					<li class="uCount">运费</li>
					<li class="subtotal">小计</li>
				</ul>

				{#foreach from=$cart.list item="list"#}

				{#$totalPrice = $totalPrice + $list.price * $list.count + $list.logistic#}
				{#if $totalPrice != 0#}
				{#$totalCount = $totalCount + $list.count#}
				{#/if#}
				<ul class="sp clearfix">
					<li class="img"><a href="{#$list.url#}" target="_blank"><img src="{#$list.thumb#}"></a></li>
					<li class="title"><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
					<li class="uPrice">{#echoCurrency type='symbol'#}{#$list.price#}</li>
					<li class="uCount">{#$list.count#}</li>
					<li class="uCount">{#if $list.logistic == 0#}免运费{#else#}{#echoCurrency type='symbol'#}{#$list.logistic#}{#/if#}</li>
					<li class="subtotal">{#echoCurrency type='symbol'#}{#($list.count * $list.price + $list.logistic)|string_format:"%.2f"#}</li>
				</ul>
				{#/foreach#}
				<div class="remarks"><div class="left"><span>备注：</span><input type="text"  name="note[{#$cart.sid#}]" placeholder="可以告诉卖家你的特殊要求" /></div></div>
			</div>
			{#/foreach#}
		</div>
		<div class="right addr-pay">
			<h3>收货地址</h3>
			<div class="addr">
				<ul class="address">
					{#member action="address"#}
					<li{#if $_bindex.row == 1#} class="current"{#/if#} data-id="{#$row.id#}" data-name="{#$row.person#}" data-mobile="{#$row.mobile#}" data-tel="{#$row.tel#}" data-addr="{#$row.addrname#}" data-address="{#$row.address#}">
						<div class="info"><a href="javascript:;" class="default">{#if $_bindex.row == 1#}默认地址{#else#}设为默认地址{#/if#}</a>
							<p class="t"><span class="name">{#$row.person#}</span><span class="phone">{#if $row.mobile != "" && $row.tel != ""#}{#$row.mobile#}{#elseif $row.mobile == "" && $row.tel != ""#}{#$row.tel#}{#else#}{#$row.mobile#}{#/if#}</span></p>
							<p><span class="x"><em>{#$row.addrname|replace:" ":"</em><em>"#}</em></span><span class="detail">{#$row.address#}</span></p>
						</div>
						<div class="can"><a class="edit" href="javascript:;">修改</a><a class="delete" href="javascript:;">删除</a></div>
					</li>
					{#/member#}
				</ul>
			</div>
			<p><a class="addition" href="javascript:;">添加收货地址</a></p>
			<div class="editAddr fn-hide">
				<ul>
					<li class="name"><input id="person" type="text" value="收货人姓名" data-val="收货人姓名" onblur="if(value==''){value='收货人姓名'}" onfocus="if(value=='收货人姓名'){value=''}"><p class="input-tips"><s></s>请正确填写姓名，2-15个字</p></li>
					<li>
						<span id="addrlist">
							<select id="addrid" name="addrid[]">
								<option value="0">请选择区域</option>{#siteConfig action="addr" return="addr" son="0"#}
								<option value="{#$addr.id#}">{#$addr.typename#}</option>
								{#/siteConfig#}
							</select>
						</span>
						<p class="input-tips"><s></s>请选择区域</p>
					</li>
					<li class="detail"><input id="address" type="text" value="详细地址" data-val="详细地址" onblur="if(value==''){value='详细地址'}" onfocus="if(value=='详细地址'){value=''}" />
					<p class="input-tips"><s></s>请填写街道地址，5-60个字，不能全部为数字</p></li>
					<li class="phone"><input id="mobile" type="text" value="手机号码" data-val="手机号码" onblur="if(value==''){value='手机号码'}" onfocus="if(value=='手机号码'){value=''}"><p class="input-tips" style="display: inline-block;"><s></s>手机号码和固定电话最少填写一项</p></li>
					<li class="phone"><input id="tel" type="text" value="固定电话" data-val="固定电话" onblur="if(value==''){value='固定电话'}" onfocus="if(value=='固定电话'){value=''}"><p class="input-tips"><s></s>手机号码和固定电话最少填写一项</p></li>
					<li class="sub"><a id="submit" href="javascript:;">保存</a> <a class="cancel" href="javascript:;">取消</a></li>
				</ul>
			</div>
			<h3>支付方式</h3>
			<div class="payStyle">
				<div class="blist">
					{#siteConfig action="payment" return="payment"#}
					{#if $_bindex.payment  == 1#}
					<a href="javascript:;" class="bank-icon{#if $_bindex.payment == 1#} active{#/if#}" title="{#$payment.pay_name#}" data-type="{#$payment.pay_code#}"><span class="{#$payment.pay_code#}"></span><b></b></a>
					{#/if#}
					{#/siteConfig#}
				</div>
				<a class="select-pay" href="javascript:;">选择支付方式<i></i></a>
			</div>
			<div class="pb">
				{#if $userinfo.point > 0#}
				<div class="use-account fn-clear">
					<span class="discharge">-{#echoCurrency type='symbol'#}<em id="disMoney">0</em></span>
					<div class="account-summary">
						<label><input id="usePinput" name="usePinput" type="checkbox" value="1" />使用{#$cfg_pointName#}抵扣</label>
						<span class="use-input">使用：<input type="text" id="usePcount" name="point" onkeyup="value=value.replace(/\D+/ig,'')" />个</span>
						<div class="use-tip">（您有 {#$userinfo.point#} 个{#$cfg_pointName#}，此单最多可用 <em id="cusePoint">0</em> 个）</div>
					</div>
				</div>
				{#/if#}

				{#if $userinfo.money > 0#}
				<div class="use-account fn-clear">
					<span class="discharge">-{#echoCurrency type='symbol'#}<em id="balMoney">0</em></span>
					<div class="account-summary">
						<label><input id="useBalance" name="useBalance" type="checkbox" value="1" />使用余额支付</label>
						<span class="use-input">使用：<input type="text" id="useBcount" name="balance" onkeyup="value=value.replace(/[^0-9.]/ig,'')" />{#echoCurrency type='short'#}</span>
						<div class="use-tip">（账户余额 {#$userinfo.money#} {#echoCurrency type='short'#}，此单最多可用 <em id="cuseBalance">0</em> {#echoCurrency type='short'#}）</div>
						<div class="use-tip"><label>支付密码：<input type="password" id="paypwd" name="paypwd" /></label></div>
					</div>
				</div>
				{#/if#}
			</div>
			<div class="account">
				<span>应付总金额：<em>{#echoCurrency type='symbol'#}<i><strong id="totalPayMoney">{#$totalPrice|string_format:"%.2f"#}</strong></i></em></span><a href="javascript:;" id="js">立即结算</a>
			</div>
		</div>
	</div>

	<!-- 弹出层 -->
	<div id="bg"></div>
	<div id="pop">
		<div class="popCon">
			<div class="title"><h3 class="left">选择支付方式</h3><i class="right"></i></div>
			<div class="payment"><a class="current" href="javascript:;">支付平台</a><a href="javascript:;">银联</a></div>
			<div class="pay">
				<div class="blist clearfix">
					{#siteConfig action="payment" return="payment"#}
					<a href="javascript:;" class="bank-icon{#if $_bindex.payment == 1#} active{#/if#}" title="{#$payment.pay_name#}" data-type="{#$payment.pay_code#}"><span class="{#$payment.pay_code#}"></span><b></b></a>
					{#/siteConfig#}
				</div>
				<div class="blist clearfix" style="display: none;">
					<a href="javascript:;" class="bank-icon" title="中国工商银行" data-type="alipay$ICBC-DEBIT"><span class="icbc"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中国建设银行" data-type="alipay$CCB"><span class="ccb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中国银行" data-type="alipay$BOCB2C"><span class="boc"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="交通银行" data-type="alipay$COMM"><span class="comm"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中国农业银行" data-type="alipay$ABC"><span class="abc"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="招商银行" data-type="alipay$CMB"><span class="cmb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="邮政储蓄银行" data-type="alipay$POSTGC"><span class="psbc"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中国光大银行" data-type="alipay$CEB-DEBIT"><span class="ceb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中国民生银行" data-type="alipay$CMBC"><span class="cmbc"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="平安银行" data-type="alipay$SPABANK"><span class="pingan"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="浦发银行" data-type="alipay$SPDB"><span class="spdb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="中信银行" data-type="alipay$CITIC-DEBIT"><span class="ecitic"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="兴业银行" data-type="alipay$CIB"><span class="cib"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="广发银行" data-type="alipay$GDB"><span class="cgb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="北京银行" data-type="alipay$BJBANK"><span class="beijing"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="北京农商银行" data-type="alipay$BJRCB"><span class="bjrcb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="富滇银行" data-type="alipay$FDB"><span class="fudian"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="宁波银行" data-type="alipay$NBBANK"><span class="nbcb"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="上海银行" data-type="alipay$SHBANK"><span class="shanghai"></span><b></b></a>
					<a href="javascript:;" class="bank-icon" title="上海农商银行" data-type="alipay$SHRCB"><span class="srcb"></span><b></b></a>
				</div>
			</div>
			<a href="javascript:;" class="confirm">确定</a>
		</div>
	</form>
</div>

{#include file="bottom.html"#}
<script type="text/javascript">
var totalAmount = {#$totalPrice#}, totalPoint = {#$userinfo.point#}, totalBalance = {#$userinfo.money#}, pointRatio = {#$cfg_pointRatio#};
var pointName = '{#$cfg_pointName#}';
var orderList = "{#getUrlPath service='member' type='user' template='order' module='home'#}";
</script>
<script type="text/javascript" src="{#$templets_skin#}js/order.js?v=2"></script>
</body>
</html>
