<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$detail_title#}</title>
<meta name="keywords" content="{#$home_keywords#}"/>
<meta name="description" content="{#$home_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/newsd.css" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$home_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#include file="top.html"#}

<div class="bread">
	您当前位置：<a href="{#$home_channelDomain#}">首页</a><em>></em><a href="{#getUrlPath service='home' template='news'#}">资讯</a><em>></em><a href="{#getUrlPath service='home' template='news' typeid={#$detail_typeid#}#}">{#$detail_typename#}</a>
</div>

<!-- 内容部分 -->
<div class="container clearfix">
	<h3>{#$detail_title#}</h3>
	<div class="info">
		<p class="left"><span>{#$detail_pubdate|date_format:"%Y/%m/%d"#}&nbsp;&nbsp;{#$detail_pubdate|date_format:"%H:%m"#}</span></p>
		<div class="right shareCon">
			<p>分享到:</p>
			<div class="bdsharebuttonbox bdshare_t bds_tools get-codes-bdshare" id="bdshare">
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			</div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		</div>
	</div>

	<div class="newsCon">
		{#$detail_body#}
	</div>

	<h3 class="about">相关阅读</h3>
	<ul class="about clearfix">
		{#home action="news" typeid={#$detail_typeid#} page=1 pageSize=6#}
		<li>
			<dl>
				{#if $row.litpic#}<dt><a href="{#$row.url#}" target="_blank"><img src="{#changeFileSize url={#$row.litpic#} type='middle'#}" alt="{#$row.title#}"></a></dt>{#/if#}
				<dd><a href="{#$row.url#}" target="_blank">{#$row.title#}</a></dd>
				<dd><p>{#$row.desc#}</p></dd>
			</dl>
		</li>
		{#/home#}
	</ul>

</div>

{#include file="bottom.html"#}
</body>
</html>
