<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>资讯-{#$home_title#}</title>
<meta name="keywords" content="{#$home_keywords#}"/>
<meta name="description" content="{#$home_description#}"/>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/news.css" media="all"/>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$home_channelDomain#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
</script>
</head>

<body>
{#include file="top.html"#}

<div class="bread">
	您当前位置：<a href="{#$home_channelDomain#}">首页</a> > <a href="{#getUrlPath service='home' template='news'#}">资讯</a>{#if $pid != 0#} > <a href="{#getUrlPath service='home' template='news' typeid={#$pid#}#}">{#$pname#}</a>{#/if#}{#if $tid != 0#} > <a href="{#getUrlPath service='home' template='news' typeid={#$tid#}#}">{#$tname#}</a>{#/if#}
</div>

<!-- 内容部分 -->
<div class="container clearfix">

	<div class="select">
		<div class="b">
			<span class="title">类别</span>
			<div>
				<a{#if $pid == 0#} class="on"{#/if#} href="{#getUrlPath service='home' template='news'#}">不限</a>
				{#home action="newsType" return="type" pageSize="10"#}
				<a{#if $pid == {#$type.id#}#} class="on"{#/if#} href="{#getUrlPath service='home' template='news' typeid={#$type.id#}#}">{#$type.typename#}</a>
				{#/home#}
			</div>
		</div>
		{#if $pid != 0 && $child > 0#}
		<div class="b">
			<div>
				<a{#if $tid == 0#} class="on"{#/if#} href="{#getUrlPath service='home' template='news' typeid={#$pid#}#}">不限</a>
				{#home action="newsType" return='type' type={#$pid#}#}
				<a{#if $tid == {#$type.id#}#} class="on"{#/if#} href="{#getUrlPath service='home' template='news' typeid={#$type.id#}#}">{#$type.typename#}</a>
				{#/home#}
			</div>
		</div>
		{#/if#}
	</div>

	<ul class="list">
		{#home action="news" typeid={#$typeid#} page={#$page#} pageSize="20"#}
		<li><a href="{#$row.url#}" target="_blank" class="read">阅读全文<i></i></a>
			<div class="left">
				<p>{#$row.pubdate|date_format:"%d"#}</p>
				<span>{#$row.pubdate|date_format:"%Y.%m"#}</span>
			</div>
			<dl class="clearfix">
				{#if $row.litpic#}<dt><a href="{#$row.url#}" target="_blank"><img src="{#changeFileSize url={#$row.litpic#} type='middle'#}" alt="{#$row.title#}"></a></dt>{#/if#}
				<dd><a href="{#$row.url#}" target="_blank">{#$row.title#}</a></dd>
				<dd><p>{#$row.desc#}</p></dd>
			</dl>
		</li>
		{#/home#}
		{#if $pageInfo.totalCount == 0#}
		<li class="empty">报歉！ 暂无相关资讯</li>
		{#/if#}
	</ul>

	<!-- 分页 -->
	{#getPageList service='home' template='news' typeid={#$typeid#}#}

</div>

{#include file="bottom.html"#}
</body>
</html>
