body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.line{
	width: 100%;
	height: .1rem;
	background: url(../images/ll_1.png) no-repeat center;
	display: block;
	background-size: 7.5rem;
	margin-top: .4rem;
}
.place{
	background: #fff;
	padding: .24rem 0.24rem;
	position: relative;
}
.place ul li {
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.28rem;
}
.place ul li em{
	width: 1.5rem;
	display: inline-block;
}
.place p{
	width: .5rem;
	height: .5rem;
	position: absolute;
	background: #e5382a;
	right: 0.1rem;
	top: .8rem;
	border-radius: 100%;
}
.place p a{
	display: block;
}
.place p i{
	width: .5rem;
	height: .5rem;
	display: inline-block;
	background: url(../images/dingwei.png) no-repeat center;
	background-size: .45rem;
	margin: 0 auto;
}
.pay_style{
	background: #fff;
	height: .6rem;
	line-height: .6rem;
	padding: 0.24rem 0;
	font-size: 0.28rem;
	margin-bottom: .4rem;
	margin-top: .4rem;
}
.pay_style span{
	float: left;
	margin-left: 0.24rem;
	margin-right: 0.24rem;
}
.pay_style ul {
	float: left;
}
.pay_style ul li{
	float: left;
	width: 1.5rem;
	text-align: center;
	border: 0.02rem solid #d4d4d4;
	margin-right: 0.2rem;
	border-radius: 0.1rem;
}
.pay_bc{
	border: 0.02rem solid #e83829!important;
	color: #e83829;
}
.car_list{
	background: #fff;
}
.car_list{
	padding:0.24rem 0.24rem;
}
.car_list .car_t1 {
	padding-bottom: 0.1rem;
	border-bottom: 0.02rem solid #dddddd;
}
.car_list .car_t1 .car_pic{
	float: left;
	margin-right: .2rem;
}
.car_list .car_t1 .car_pic img{
	width: 1.5rem;
	height: 1.5rem;
}
.car_list .car_t1 h1{
	font-size: .3rem;
	margin-bottom: .6rem;
}
.car_list .car_t1 span em{
	float: left;
	font-size: .28rem;
	font-weight: bold;
	color: #e83828;
}
.car_list .car_t1 span p{
	float: right;
	font-size: .28rem;
	width: 22%;
}
.car_list .car_t1 span p input{
	width: 24%;
	text-align: center;
	border: none;
}
.car_list .car_t1 span p i{
	width: .4rem;
	height: .4rem;
	border: 0.02rem solid #d6d6d6;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	background: url(../images/jianhao.png) no-repeat center;
	background-size: .3rem;
	margin-right: 0.04rem;
}
.car_list .car_t1 span p b{
	width: .4rem;
	height: .4rem;
	border: 0.02rem solid #e83828;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	background: url(../images/jiahao.png) no-repeat center;
	background-size: .3rem;
	margin-left: 0.04rem;
}
.car_list .car_t2{
	padding-top: 0.1rem ;
}
.car_list .car_t2 ul li{
	font-size: 0.28rem;
}
.beizhu {
	margin: 0.4rem 0;
	background: #fff;
	height: 1rem;
	line-height: 1rem;
	font-size: .28rem;
	padding: 0 0.24rem;
}
.beizhu em{
	margin-right: .24rem;
	display: inline-block;
}
.beizhu input{
	border: 0.02rem solid #cbcbcb;
	border-radius: 0.1rem;
	text-indent: .15rem;
	width: 80%;
	height: .6rem;
	line-height: .6rem;
}
.price{
	padding: 0 0.24rem;
	font-size: 0.28rem;
}
.price b{
	color: #e83828;
}
.car_button{
	margin-top: .4rem;
}
.car_button button{
	    width: 70%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    background: #e83829;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 0.24rem;
    font-size: 0.3rem;
}
.navtion{
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.navtion ul li{
	float: left;
	width: 25%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.28rem;
}
.navtion ul li a{
	display: block;
}
.navtion ul .shop a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/house_3.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .xuangou a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/biaoqian.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.navtion ul .car a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/gouwuche_2.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .center a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/ren.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.nav_bc a span{
	color: #e84538;
}