body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.ci_lead{
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	background: #fff;
}
.ci_lead ul li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	font-size: 0.3rem;
	border-right: 0.02rem solid #f1f1f1;
	border-bottom: 0.02rem solid #f8f8f8;
}
.ci_lead ul li:last-child{
	border-right: none;
}
.ci_lead ul li a{
	display: block;
}
.cil_bc{
	border-bottom: 0.02rem solid #e95249!important;
}
.cil_bc a{
	color: #e95249!important;
}
.cid_main1{
	margin-top: .4rem;
	background: #fff;
	padding: 0.1rem 0.3rem;
}
.cid_main1 h1{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
	border-bottom: 0.02rem solid #e6e6e6;
}
.cid_main1 h1 i{
	width: .6rem;
	height: .5rem;
	background: url(../images/dianpu.png) no-repeat center;
	background-size: .5rem;
	vertical-align: text-bottom;
	display: inline-block;
}
.cid_main1 .content{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
	border-bottom: 0.02rem solid #e6e6e6;
}
.cid_main1 .content b{
	float: right;
	font-weight: normal;
}
.cid_main1 .content i{
	float: right;
	font-style: normal;
	margin-right: .4rem;
	color: #a0a0a0;
}
.cid_main1 .total{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
}
.cid_main1 .total span{
	float: right;
}
.cid_main1 .total em{
	float: right;
	color: #e95249;
}
.ci_main2{
	margin-top: .4rem;
	background: #fff;
	padding: .1rem .3rem;
}
.ci_main2 h1{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
    border-bottom: 0.02rem solid #e6e6e6;
}
.ci_main2 h1 i{
		width: .6rem;
	height: .5rem;
	background: url(../images/ren_1.png) no-repeat center;
	background-size: .45rem;
	vertical-align: text-bottom;
	display: inline-block;
}
.ci_main2 ul li{
	height: .6rem;
	line-height: .6rem;
	color: #8c8c8c;
	font-size: .28rem;
}
.ci_main3{
	margin-top: .4rem;
	background: #fff;
	padding: .1rem .3rem;
}
.ci_main3 h1{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
    border-bottom: 0.02rem solid #e6e6e6;
    margin-bottom: .1rem;
}
.ci_main3 h1 i{
		width: .6rem;
	height: .5rem;
	background: url(../images/waimai.png) no-repeat center;
	background-size: .5rem;
	vertical-align: text-bottom;
	display: inline-block;
}
.ci_main3 ul li{
		height: .5rem;
	line-height: .5rem;
	font-size: .28rem;
}
.ci_main4{
		margin-top: .4rem;
	background: #fff;
	padding: .1rem .3rem;
	margin-bottom: 1.2rem;
}
.ci_main4 .m4_lead{
		height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
    border-bottom: 0.02rem solid #e6e6e6;
    margin-bottom: .1rem;
}
.ci_main4 .m4_lead em{
	float: left;
}
.ci_main4 .m4_lead span{
	float: right;
	width: 1.3rem;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	border: 0.02rem solid #e95249;
	color: #e95249;
	margin-top: .1rem;
}
.ci_main4 .m4_lead span a{
	color: #e95249;
}
.new_com{
	background: #fff;
}
.new_com .com_lead{
	height: .7rem;
	line-height: .7rem;
}
.new_com .com_lead em{
	float: left;
	font-size: 0.3rem;
	color: #8c8c8c;
}
.new_com .com_lead span{
	float: right;
	color: #999999;
	font-size: 0.28rem;
}
.new_com .com_lead span i{
	width: .35rem;
	height: .35rem;
	background: url(../images/arrow_right.png) no-repeat center;
	background-size: .35rem;
	display: inline-block;
	vertical-align: text-bottom;
}
.new_com .com_list .com_txt{
	border-bottom: 0.02rem solid #dddddd;
	padding: 0.15rem 0;
	position: relative;
}
.new_com .com_list .com_txt h1{
	font-size: 0.28rem;
}
.new_com .com_list .com_txt p{
	color: #999999;
	font-size: 0.24rem;
	height: .6rem;
	line-height: .6rem;
}
.new_com .com_list .com_txt span em{
	float: right;
	color: #999999;
	font-size: 0.24rem;
}
.new_com .com_list .com_txt .pingjia{
    background: url(../images/star_2.png) no-repeat;
    background-size:1.5rem;
    width: 1.5rem;
    height: 0.4rem;
    display: inline-block;
    position: absolute;
    top: 0.2rem;
    right: 0.24rem;
}
.new_com .com_list .com_txt .pingjia i{
	background: url(../images/star_1.png) no-repeat;
    background-size:1.5rem;
    width: 1rem;
    height: 0.4rem;
    display: inline-block;
}
.refresh{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
	background: #e95249;
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}