body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.ci_lead{
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	background: #fff;
}
.ci_lead ul li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	font-size: 0.3rem;
	border-right: 0.02rem solid #f1f1f1;
	border-bottom: 0.02rem solid #f8f8f8;
}
.ci_lead ul li:last-child{
	border-right: none;
}
.ci_lead ul li a{
	display: block;
}
.cil_bc{
	border-bottom: 0.02rem solid #e95249!important;
}
.cil_bc a{
	color: #e95249!important;
}
.ci_list .ci_left{
	float: left;
    width: 25%;
    box-sizing: border-box;
    margin-top: 1rem;
}
.ci_list .ci_left .point{
	width: 1rem;
	margin: 0 auto;
}
.ci_list .ci_left .line{
	width: 0.05rem;
	height: 1.2rem;
	display: block;
	margin: 0 auto;
	background: #dadada;
}
.ci_list .ci_left .line.on_1{
	background:#f90101!important;
}
.ci_list .ci_left  .qishou{
	width: 1.1rem;
	margin: 0 auto;
}
.ci_list .ci_left  .qishou em{
	width: 1.1rem;
	height: 1.1rem;
	background: url(../images/sp_20.png) no-repeat center;
	background-size: 1.1rem;
	display: inline-block;
}
.ci_list .ci_left .point em{
    position: relative;
    width: .25rem;
    height: .25rem;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #d4d4d4;
}
.ci_list .ci_left .point.on em{
    border:1px solid #f90101
}
.ci_list .ci_left .point em i{
	width: .15rem;
    height: .15rem;
    background: #f90101;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    border-radius: 100%;
}
.ci_list .ci_right{
	float: right;
	font-size: .24rem;
	width: 75%;
	box-sizing:border-box;
	padding-right: .5rem;
}
.ci_list .ci_right .ci_txt{
	margin-top: .7rem;
}
.ci_list .ci_right .ci_txt.ci_1{
	margin-top: 1.1rem;
}
.ci_list .ci_right .ci_txt.ci_2{
	margin-top: 1.2rem;
}
.ci_list .ci_right .ci_txt span{
	float: left;
	position: relative;
}
.ci_list .ci_right .ci_txt span  a{
	position: absolute;
	top: -.2rem;
	right: -.6rem;
	width: .5rem;
	height: .5rem;
	display: inline-block;
	background: url(../images/phone.png) no-repeat center;
	background-size: .5rem;
	vertical-align: text-bottom;
}
.ci_list .ci_right .ci_txt em{
	float: right;
	color: #b7b7b7;
}
.ci_list .ci_right p{
	color: #b7b7b7;
	margin-top: .1rem;
}
.map{
	display: block;
	margin-top: .5rem;
	height: 2rem;
}
.refresh{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
	background: #e95249;
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}