body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.search{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
}
.search i{
	width: .4rem;
	height: .4rem;
	display: inline-block;
	background: url(../images/Arrow_left.png) no-repeat center;
	background-size: .4rem;
	float: left;
	margin-top: .25rem;
	margin-left: 0.1rem;
}
.search input{
	height: .7rem;
	border:0.02rem solid #e8e8e8;
	border-radius: 0.1rem;
	width: 68%;
	margin-left: 0.2rem;
	padding-left: 0.5rem;
	background: url(../images/search_1.png) no-repeat 0.1rem;
	background-size: .4rem;
	text-indent: 0.2rem;
	font-size: 0.28rem;
}
.search button{
	border:none;
	background: #fff;
	font-size: 0.3rem;
	margin-left: 0.2rem;
}
.history ul li a{
	height: .7rem;
	line-height: .7rem;
	font-size: 0.24rem;
	text-indent: 0.4rem;
	display: block;
}
.all_shan{
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.3rem;
	color: #ff0000;
	background: #fff;
}
.all_shan p {
	padding-left: 0.5rem;
	background: url(../images/lese.png) no-repeat left;
	width: 2rem;
	margin: 0 auto;
}
