body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.location_input{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	margin-bottom: 0.2rem;
	border-bottom: 0.02rem solid #dddddd;
}
.location_input input{
	font-size: .28rem;
	height: .8rem;
	padding-left: .7rem;
	background: url(../images/search_1.png) no-repeat left;
	background-size: .5rem;
	border:none;
	margin-left: .4rem;
}
.click{
	border-bottom: 0.02rem solid #dddddd;
	border-top: 0.02rem solid #dddddd;
	background: #fff;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.click span{
	padding-left: .4rem;
	font-size: .28rem;
	background: url(../images/loca_1.png) no-repeat left;
}