body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.balance_list{
	background: #fff;
	margin-top: .4rem;
}
.balance_list .bal_txt{
	margin-left: 1.1rem;
	border-bottom: 0.02rem solid #d5d5d5;
	position: relative;
}
.balance_list .bal_txt:last-child{
	border-bottom: none;
}
.balance_list .bal_txt a {
	display: block;	
	height: .8rem;
	line-height: .8rem;
	font-size: 0.28rem;
}
.balance_list .bal_txt a span{
		width: .5rem;
	height: .5rem;
	background: url(../images/arrow_right.png) no-repeat center;
	float: right;
	margin-top: .15rem;
	margin-right: .2rem;
}
.balance_list .bal_txt a i{
    width: .5rem;
    height: .5rem;
    background: url(../images/sp_17.png);
    background-size: .6rem;
    position: absolute;
    left: -.8rem;
    top: .15rem;
}
.balance_list .bal_txt.yue a i{
	background-position: -.05rem -.03rem;
}
.balance_list .bal_txt.lisi a i{
	background-position: -.05rem -.57rem;
}