body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.mem_form{
	padding: 0.2rem .5rem;
}
.mem_form .mem_txt{
	font-size: .28rem;
	height: .9rem;
	line-height: .9rem;
}
.mem_form .mem_txt em{
	width: 1.2rem;
	display: inline-block;
}
.mem_form .txt input{
	width: 75%;
	height: .6rem;
	line-height: .6rem;
	border: 0.02rem solid #d8d8d8;
	border-radius: .1rem;
	text-indent: .1rem;
}
.mem_form .mem_txt label{
	position: relative;
	margin-right: .2rem;
}
.mem_form .mem_txt label input{
	position: absolute;
    top: 0px;
    left: -9999999999999999px;
}
.mem_form .mem_txt label s{
	width: .3rem;
	height: .3rem;
	vertical-align: middle;
	border: 0.02rem solid #cbcbcb;
	border-radius: 100%;
	display: inline-block;
	margin-right: .1rem;
}
.mem_form .mem_txt label i{
	font-style: normal;
	display: inline-block;
	font-size: 0.3rem;
	pointer-events:none;
}
.mem_form .mem_txt label.la_bc s{
	width: .3rem;
	height: .3rem;
	border: 0.02rem solid #e83829;
	border-radius: 100%;
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: url(../images/dui_3.png) no-repeat center;
	display: inline-block;
	background-size: .3rem;
	vertical-align: text-bottom;
}
.mem_form .mem_txt.tel span{
	float: right;
	width: 1.8rem;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	background: #e83829;
	color: #fff;
	border-radius: .1rem;
	margin-top: .2rem;
}
.mem_form .tel input{
	width: 75%;
	height: .6rem;
	line-height: .6rem;
	border: 0.02rem solid #d8d8d8;
	border-radius: .1rem;
	display: none;
	text-indent: .1rem;
}
.mem_form .tel_1{
	display: none;
}
.mem_form .tel_1 input{
	width: 20%;
	height: .6rem;
	line-height: .6rem;
	border: 0.02rem solid #d8d8d8;
	border-radius: .1rem;
	text-indent: .1rem;
}
.mem_form .tel_1 span{
	width: 1.8rem;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	background: #e83829;
	color: #fff;
	border-radius: .1rem;
	margin-top: .2rem;
	display: inline-block;
	margin-left: 0.2rem;
}
.mem_button{
	margin-top: .5rem;
}
.mem_button button{
	    width: 70%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    background: #e83829;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 0.24rem;
    font-size: 0.3rem;
}
.warning{
    background: #000;
    opacity: .5;
    color: #fff;
    position: fixed;
    top: 40%;
    border-radius: 0.1rem;
    display: none;
    padding: 0.24rem 0.24rem;
    font-size: 0.28rem;
    margin-left: 2.5rem;
}