body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.rank_lead{
	width: 60%;
	background: #fff;
	height: .8rem;
	line-height: .8rem;
	margin: 0 auto;
	border-radius: 0.1rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	overflow: hidden;
	border: 0.02rem solid #eb5147;
}
.rank_lead ul li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.29rem;
	color: #eb5147;
}
.rank_lead ul li:last-child{
	border-left: 0.02rem solid #eb5147;
}
.rank_bc{
	color: #fff!important;
	background: #eb5147;
}
.rank_list{
	background: #fff;
	padding: 0 0.6rem;
}
.rank_list .rank_ll span{
	float: left;
	width: 50%;
	box-sizing:border-box;
	font-size: 0.3rem;
	color: #9a9a9a;
}
.rank_list ul li{
	height: .8rem;
	line-height: .8rem;
}
.rank_list ul li em{
	float: left;
	box-sizing:border-box;
	width: 50%;
	font-size: 0.28rem;
}
.rank_list ul li span{
	box-sizing:border-box;
	width: 50%;
	float: left;
}
.rank_list ul li span b{
	color: #e95249;
	font-size: 0.28rem;
	width: 30%;
	float: left;
	overflow: hidden;
}
.rank_list ul li span s{
	width: 70%;
	height: 0.2rem;
	display: inline-block;
}
.rank_list ul li span i{
	width: 70%;
	height: 0.2rem;
	display: block;
	background: #e95249;
}