body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.lead{
    position: relative;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    border-bottom: 0.04rem solid #c5c5c5;
}
.lead span{
    font-size: .36rem;
}
.lead b{
	width: .5rem;
	height: .5rem;
	position: absolute;
	right: 0.3rem;
	top: 0.2rem;
	background: url(../images/heart_1.png) no-repeat center;
	background-size: .5rem;
}
.lead_bc{
	background: url(../images/heart.png) no-repeat center!important;
	background-size: .5rem!important;
}
.shop_list{
	background: #fff;
	margin-bottom: .2rem;
}
.shop_list ul li{
	float: left;
	width: 25%;
	text-align: center;
	box-sizing:border-box;
	border-bottom: 0.02rem solid #eeeeee;
	border-right: 0.02rem solid #eeeeee;
}
.shop_list ul li:nth-child(4){
	border-right: none;
}
.shop_list ul li:nth-child(8){
	border-right: none;
}
.shop_list ul li:nth-child(12){
	border-right: none;
}
.shop_list ul li a{
	padding: 0.2rem 0;
	display: block;
}
.shop_list ul li a span{
	font-size: 0.3rem;
	color: #9c9488;
	width: 100%;
	display: block;
	margin-top: 0.1rem;
}
.shop_list ul .message a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_1.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .bill a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_2.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .comment a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_3.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .dynamic a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_4.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .rank a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_5.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .email a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_6.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .dan a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_7.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .sign a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_8.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .integral a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_9.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .favorable a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_10.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .datum a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_11.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .turntable a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_12.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .member a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_13.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .nav a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_14.png) no-repeat center;
	background-size: .8rem;
}
.shop_information{
	background: #fff;
	padding: 0.2rem 0.4rem ;
	margin-bottom: 0.2rem;
}
.shop_information h1{
	font-size: 0.3rem;
	height: .7rem;
	line-height: .7rem;
}
.shop_information ul li{
	height: .7rem;
	line-height: .7rem;
	font-size: .28rem;
	border-top: 0.02rem solid #dddddd;
}
.shop_information ul li em{
	width: 1.5rem;
	display: inline-block;
}
.new_com{
	background: #fff;
	padding: 0.2rem 0.4rem ;
}
.new_com .com_lead{
	height: .7rem;
	line-height: .7rem;
}
.new_com .com_lead em{
	float: left;
	font-size: 0.3rem;
}
.new_com .com_lead span{
	float: right;
	color: #999999;
	font-size: 0.28rem;
}
.new_com .com_lead span i{
	width: .35rem;
	height: .35rem;
	background: url(../images/arrow_right.png) no-repeat center;
	background-size: .35rem;
	display: inline-block;
	vertical-align: text-bottom;
}
.new_com .com_list .com_txt{
	border-top: 0.02rem solid #dddddd;
	padding: 0.15rem 0;
	position: relative;
}
.new_com .com_list .com_txt h1{
	font-size: 0.28rem;
}
.new_com .com_list .com_txt p{
	color: #999999;
	font-size: 0.24rem;
}
.new_com .com_list .com_txt span em{
	float: right;
	color: #999999;
	font-size: 0.24rem;
}
.new_com .com_list .com_txt .pingjia{
    background: url(../images/star_2.png) no-repeat;
    background-size:1.5rem;
    width: 1.5rem;
    height: 0.4rem;
    display: inline-block;
    position: absolute;
    top: 0.2rem;
    right: 0.24rem;
}
.new_com .com_list .com_txt .pingjia i{
	background: url(../images/star_1.png) no-repeat;
    background-size:1.5rem;
    width: 1rem;
    height: 0.4rem;
    display: inline-block;
}
.foot{
	background: #f8f8f8;
	padding-bottom: .5rem;
	margin-bottom: 1rem;
}
.foot .tel{
	font-size: 0.3rem;
	color: #ff9a02;
	padding-top: 0.2rem;
	margin-left: 0.25rem;
}
.foot .footer{
	width: 2.6rem;
	margin: 0 auto;
	color: #a09f9f;
}
.foot .footer .ff{
	margin-bottom: 0.1rem;
	padding-top: 0.4rem;
}
.foot .footer .ff img{
	float: left;
	width: .9rem;
	margin-right: 0.1rem;
}
.foot .footer .ff h1{
	font-size: 0.28rem;
}
.foot .footer span{
	text-align: center;
	display: block;
	font-size: 0.28rem;
}
.navtion{
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.navtion ul li{
	float: left;
	width: 25%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.28rem;
}
.navtion ul li a{
	display: block;
}
.navtion ul .shop a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/house_2.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .xuangou a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/biaoqian.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.navtion ul .car a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/gouwuche.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .center a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/ren.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.nav_bc a span{
	color: #e84538;
}