body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.shuru{
    background: #fff;
	padding: .3rem .3rem;
}
.shuru textarea{
	width: 100%;
	height: 1.5rem;
	text-indent: 0.2rem;
	font-size: 0.28rem;
	border: none;
    overflow: hidden;
    resize: none;
}
.qd_list{
	border-top: 0.02rem solid #e6e6e6; 
	border-bottom: 0.02rem solid #e6e6e6; 
	padding: 0.2rem 0 ;
	background: #fff;
}
.qd_list ul {
	float: left;
	width: 70%;
	box-sizing: border-box;
}
.qd_list ul li{
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	text-align: center;
}
.qd_list ul li em{
	width: 100%;
	display: block;
	font-size: 0.28rem;
}
.qd_list ul li span{
	width: 100%;
	font-size: 0.28rem;
	display: block;
}
.qd_list .on{
	float: left;
	width: 1.5rem;
	height: .8rem;
	border: 0.04rem solid #e8381e;
	line-height: .8rem;
	text-align: center;
	border-radius: 0.25rem;
	color: #e8381e;
	font-size: 0.36rem;
	font-weight: bold;
	margin-left: 0.3rem;
}
.qd_list .down{
	float: left;
	width: 1.5rem;
	height: .8rem;
	border: 0.04rem solid #e8381e;
	line-height: .8rem;
	text-align: center;
	border-radius: 0.25rem;
	color: #e8381e;
	font-size: 0.36rem;
	font-weight: bold;
	margin-left: 0.3rem;
	display: none;
}
.gift{
	height: 0.8rem;
	line-height: .8rem;
	font-size: 0.28rem;
	background: #fff;
	margin-bottom: 0.3rem;
	border-bottom: 0.02rem solid #e6e6e6; 
}
.gift em{
	margin-left: 0.4rem;
}
.sign_list{
	background: #fff;
	padding: 0 0.4rem;
}
.sign_list ul li{
	min-height: 1rem;
	line-height: .5rem;
	font-size: 0.28rem;
	padding: 0.1rem 0 ;
	border-bottom: 0.02rem solid #e6e6e6; 
}
.sign_list ul li .sign_infor em{
	color: #999999;
	float: left;
}
.sign_list ul li .sign_infor span{
	float: right;
	color: #e83828;
}