.HN_public_share_list{
    width: 840px;
    margin-top: 400px;
}
.HN_share_box {
    position: relative;
    width: 790px;
    height: 43px;
}

.HN_share {
    margin-top: 20px;
    padding-left: 23px;
    width: 790px;
}

.HN_share a {
    width: 140px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: 26px center;
    font: 14px/40px Microsoft YaHei;
    color: #222;
    float: left;
    margin: 0 8px;
    text-indent: 64px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline
}

.HN_share a:hover {
    color: #f54343
}

.HN_share a.HN_sina {
    background-image: url(../images/sina_ed3b5529.png);
    border: 1px solid #f56467
}

.HN_share a.HN_wx {
    background-image: url(../images/wx_0868d839.png);
    border: 1px solid #8dc81b
}

.HN_share a.HN_wxq {
    background-image: url(../images/wxq_d0336192.png);
    border: 1px solid #71c8d6
}

.HN_share a.HN_qzone {
    background-image: url(../images/qq_581694f4.png);
    border: 1px solid #f5be3f
}
.HN_share a.HN_qq {
    background-image: url(../images/qq.png);
    border: 1px solid #000;
}
.HN_pop {
    position: absolute;
    top: -112px;
    width: 232px;
    height: 112px;
    display: none; background: url(../images/s_pop_bg_7a887240.gif) no-repeat;
}

.HN_pop_wx {
    left: 75px
}

.HN_pop_wxq {
    left: 233px
}

.HN_popin {
    position: relative;
    padding: 10px 20px 22px 10px
}

.HN_popin img {
    display: block;
    float: left
}

.HN_popin p {
    color: #666;
    line-height: 24px;
    margin-top: 15px;
    float: right
}

.HN_popin .HN_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer
}