.content-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  /*-webkit-font-smoothing: antialiased;*/
}


.experts-recommend .tabs-box {
  width: 1200px;
  overflow: hidden;
}


.experts-recommend .tabs {
  height: 320px;
  margin: 20px 0 0 0;
}
.experts-recommend .tabs .tab {
  background: #fff;
  border: 1px solid #ececec;
  width: 214px;
  height: 324px;
  float: left;
  margin-left: 30px;
  padding: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.experts-recommend .tabs .tab:hover {
  margin-top: -4px;
  -webkit-box-shadow:  12px 12px 20px #ececec;
  -moz-box-shadow:  12px 12px 20px #ececec;
  box-shadow:  12px 12px 20px #ececec;
}

.hot-thoughts .tabs .tab:hover {
  margin-top: -4px;
  -webkit-box-shadow:  12px 12px 20px #ececec;
  -moz-box-shadow:  12px 12px 20px #ececec;
  box-shadow:  12px 12px 20px #ececec;
}

.link{
  /*background: #fff;*/
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
}

.link-color {
  background: #fff;
}

.experts-recommend .tabs .tab .link:hover{
  color: #333;
  text-decoration: none;
}
.tabSub-tt .link:hover{
  background:#fbfbfb;
  color:#333;
}
.experts-recommend .tabs .tab:first-child,
.hot-thoughts .tabs .tab:first-child {
  margin-left: 0;
}

.experts-recommend .tabs .tab .expert-img {
  height: 120px;
  width: 120px;
  margin: 25px auto 0;
}

.experts-recommend .tabs .tab .expert-img img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #eee;
}

.experts-recommend .tabs .tab .expert-name {
  color: #444;
  text-align: center;
  margin: 18px 0 10px 0;
  font-size: 18px;
}

.experts-recommend .tabs .tab .expert-info {
  color: #656565;
  text-align: center;
  margin-bottom: 15px;
  font-size:12px;
  color:#888;
}

.experts-recommend .tabs .tab .expert-info .work-hours {
  color: #1dc35f;
  font-size: 16px;
  font-weight: bold;
}

.experts-recommend .tabs .tab .features {
  color: #1dc35f;
  text-align: center;
  height: 58px;
  padding-bottom: 8px;
  width:186px;
  margin: 0 auto;
}

.experts-recommend .tabs .tab .features .feature {
  height: 30px; line-height: 30px; display:inline-block; padding:0 20px; font-size: 14px; color: #a5a5a5; border-radius:3px ; border:1px solid #c3c3c3;
}


.solveForyou {
  overflow: hidden;
}

/*分页*/
.yn-container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    overflow: hidden;
	padding-bottom:30px;
}
.yn-left {
    width: 850px;
    float: left
}

.yn-right {
    width: 330px;
    float: right
}
.inline {
 display: inline-block

}
.yn-title-1 {
    padding: 10px 15px;
    font-size: 17px;
    background: #f9f9f9;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.yn-title-1.simple {
    background: white;
    padding: 0;
    border: none;
    margin-bottom: 10px
}

.yn-title-1 .icon,
.yn-title-1-icon {
    display: inline-block;
    width: 3px;
    height: 16px;
    background: red;
    position: relative;
    top: 2px;
    margin-right: 3px
}

.yn-title-1-2 {
    padding: 12px 15px;
    font-size: 17px
}
.yn-left .articleBox{ overflow: hidden; margin-top: 20px;}
.ynpagination {
    -webkit-user-select: none;
    margin-top: 20px;
    text-align: center;
	padding-bottom:10px;
}

.ynpagination li {
    font-size: 12px;
    color: red;
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    padding: 0 12px;
    margin-right: 5px
}

.ynpagination li a {
    cursor: pointer
}

.ynpagination li:hover {
    background: rgb(245, 245, 245)
}

.ynpagination li.active {
    background: #0c74c9;
    border-color: #0c74c9
}

.ynpagination li.active a {
    color: white
}

.ynpagination li:first-child {
    border-left: 1px solid rgb(200, 200, 200)
}

/*知识产权问答*/
.clear:after {
    content: "";
    clear: both;
    display: block;
    *zoom: 1
}

#askStock {
    width: 1200px;
    margin: 0 auto
}

#askStock .wrap {
    position: relative
}

#askStock .frame-left {
    width: 100%
}

#askStock .frame-right {
    width: 31.5%;
    float: right;
    top: 0;
    right: 0
}

#ask-logo {
    margin-bottom: 30px;
    margin-top: -15px;
    height: 250px;
    min-width: 1200px;
    background: url(../images/askstock.jpg) no-repeat center;
}

#ask-logo .wrap {
    position: relative;
}

#ask-logo .logo-text {
    position: absolute;
    top: 125px;
    right: 65px;
    text-align: right;
    color: #fff;
    font-size: 18px;
}

#ask-logo .logo-text .buttons {
    position: relative;
    top: 15px;
    right: 40px;
}

#ask-logo .trigger {
    width: 150px;
    height: 40px;
    font-size: 18px;
    background: #feaa0c;
    border: 2px solid #fff;
}

#ask-logo .trigger:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.3s;
}

#ask-logo .logo-text h1 {
    margin: 46px 0 24px;
    display: inline-block;
    font-size: 66px
}

#ask-logo .logo-text p {
    line-height: 30px;
    font-size: 18px
}

#ask-logo .logo-text p strong {
    font-size: 24px;
    margin: 0 3px
}

#ask-logo .logo-text .info {
    margin-top: 25px;
    font-size: 24px;
    display: inline-block;
    width: 168px;
    text-align: center;
    line-height: 48px;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer
}

#ask-logo .logo-text .calf {
    position: absolute;
    right: 0;
    margin-top: -1%
}

#ask-logo .logo-wrap {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#askStock .frame-left {
    width: 840px
}

/*左边菜单*/
.leftBox{ width:800px; float: left; margin-top: 30px; background:#fff; padding:20px;box-shadow: 0 1px 2px rgba(0,0,0,0.05); position:relative}
.leftBox .tab{ height: 40px; width:850px; position:absolute; left:0px; top:0px; background:#f0f0f0; line-height:40px; border-bottom:solid 1px #eeeeee}
.leftBox .tab a{ display: block; float: left; font-size: 18px; font-family: "微软雅黑";height:40px; color: #333;background:#fff; border-right:solid 1px #eeeeee; padding:0 20px}
.leftBox .tab a:hover,.leftBox .tab a.active{ color: #fff; background:#2b4f8d; border-right:solid 1px #2b4f8d}


/**/
.rightBox{ width: 300px; float: right;margin-top: 20px; background:#fff; padding:20px;box-shadow: 0 1px 2px rgba(0,0,0,0.05);}
.rightBox .search{height: 50px; position:relative}
.rightBox .search .text{height: 26px;line-height:26px;width:237px;font-size: 14px;color: #898989;outline: 0;color: #333; border:solid 1px #dddddd; padding:5px; float:left; border-right:none}
.rightBox .search .post{ width:51px; height: 38px; border:solid 1px #dddddd; background:#f8f8f8;float:left;outline: 0;}
.rightBox .search .post:active{ background:#f1f1f1}
.rightBox .box{ margin-bottom: 20px; overflow: hidden;}
.rightBox .box .tit{height: 15px;border-bottom: solid 1px #EEEEEE;}
.rightBox .box .tit h3{ float: left; padding: 0 10px; border-left:solid 5px #4a6cac;font-size: 18px; color: #333;}
.rightBox .box .a_bg{ margin-top: 10px;}
.rightBox .box .a_bg li{  overflow: hidden; border-bottom:dashed 1px #dddddd; line-height:40px}
.rightBox .box .a_bg li a{ line-height: 20px; color:#999; padding: 4px 0px 4px 30px; line-height:20px; border-radius:3px; display: inline-block;font-size: 14px; background:url(../images/qa_list.png) no-repeat 0 6px}
.rightBox .box .a_bg li a:hover{color: #398ecd;}

.hot_erwei{ background-color:#fafafa; margin-top:20px;}
.hot_erwei .hot_jpg{ margin-left:73px;}
.hot_erwei p{ color:#0c74c9; line-height:22px; font-size:14px; text-align:center; padding:10px 0 20px 0;}
.rightBox .tit{ padding:10px 0 20px 20px; color:#333; font-size:16px;}
.hot_list .h_txt{ padding:0 20px 10px 20px;}
.rightBox .tit em{ color:#0c74c9;}

/*内容页*/
.contentPage{ overflow: hidden;}
.contentPage .title{ overflow: hidden; border-bottom: solid 1px #EEEEEE; }
.contentPage .title h1{ overflow:hidden; font-size: 18px;line-height: 1.5em; color: #333; font-weight: bold;}
.contentPage .title h1 i{width:18px; height: 18px; float:left; display: block;  margin: 4px 10px 0 0;background: url(../Images/userCenter.png)}
.contentPage .title h1 i.x{background: url(../Images/userCenter.png) -52px -194px;}
.contentPage .title h1 i.g{background: url(../Images/userCenter.png) -94px -194px;}
.contentPage .title .b{ overflow: hidden; height: 30px; margin: 10px 0;  line-height:30px}
.contentPage .title .b span{ margin: 0 10px; font-size: 14px; color: #999;}
.contentPage .table{ width:100%; margin-bottom:30px; border-top:solid 1px #dddddd; border-left:solid 1px #dddddd}
.contentPage .table th{ width:120px; text-align:right; border-bottom:solid 1px #dddddd; border-right:solid 1px #dddddd;padding:0 10px; background:#f8f8f8;}
.contentPage .table th em{ color:red; margin-right:5px}
.contentPage .table tr{ height:40px;}
.contentPage .table td{border:solid 1px #dddddd;padding:0 10px; background:#fff; border-bottom:solid 1px #dddddd; border-right:solid 1px #dddddd;}
.contentPage .c{ margin-top: 30px; color: #666;}
.contentPage .c p{ line-height: 30px; font-size: 14px;}
.contentPage .table .text{ height:28px; border:solid 1px #dddddd; width:200px; margin:5px 0}
.contentPage .btnBox{ height:50px}
.contentPage .btnBox .btn{background:#5489c9}


#askStock .frame {
    margin-bottom: 12px
}

#askStock .frame .title .fa-online {
    position: relative;
    display: inline-block;
    background: url(/public/images/homeIcon.png) no-repeat
}

#online-teacher {
    background: white;
    border: 1px solid rgb(220, 220, 220)
}

#online-teacher.frame .title {
    border-bottom: 1px solid rgb(235, 235, 235);
}

#online-teacher.frame .title .fa-online {
    top: 1px;
    width: 14px;
    height: 16px;
    background-position: -583px -81px
}

#online-teacher.frame .title .tip {
    color: gray;
    font-size: 13px;
    border-left: 1px solid rgb(200, 200, 200);
    padding-left: 10px;
    line-height: 1em;
}

#askStock .frame .title .text {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

#askStock .frame .action {
    position: absolute;
    right: 20px;
    top: 12px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    -webkit-user-select: none;
    cursor: pointer
}

#online-teacher .content {
    overflow: hidden
}

#online-teacher .content .item {
    padding: 20px;
    position: relative;
    float: left;
    width: 50%
}

#online-teacher .content .item:nth-child(odd) {
    border-right: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240)
}

#online-teacher .content .item:nth-child(even) {
    border-bottom: 1px solid rgb(240, 240, 240)
}

#online-teacher .content .teacher-head {
    width: 104px;
    height: 104px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin-right: 16px
}

#online-teacher .teacher-head img {
    height: 100%;
    border: none;
    transition: transform 0.3s;
}

#online-teacher .item:hover .teacher-head img {
    transform: scale(1.3, 1.3);
    transition: transform 0.3s;
}

#online-teacher .content .string {
    height: 104px;
    overflow: hidden;
    width: 69%;
    line-height: 25px
}

#online-teacher .string .name {
    font-size: 18px;
    color: rgb(51, 51, 51);
    margin-bottom: 5px;
    font-weight: bold;
}

#online-teacher .string .tec-tag {
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 25px
}

#online-teacher .string .tec-tag .style {
    font-size: 14px;
    color: #333333
}

#online-teacher .tec-tag span:not(:first-child) {
    margin: 0 10px
}

#online-teacher .string .context {
    font-size: 12px;
    color: rgb(153, 153, 153);
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#online-teacher .string .operative {
    font-size: 14px;
    color: rgb(215, 39, 33)
}

#online-teacher .operative span {
    cursor: pointer;
}

#online-teacher .operative span:first-child {
    margin-right: 10px;
}

#hotAsk.frame .title .fa-online {
    top: 1px;
    width: 14px;
    height: 16px;
    background-position: -626px -81px
}

#answerRanking.frame .title .fa-online {
    top: 1px;
    width: 14px;
    height: 16px;
    background-position: -626px -81px
}

#Answer .type-title {
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#Answer .type-title .item {
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
}

#Answer .type-title .item.select {
    color: #d50000;
}

#Answer .title .indicate {
    margin-top: -2px;
    border-bottom: 2px solid rgb(215, 33, 39);
    position: absolute;
    left: 0;
    text-align: center
}

#Answer .indicate .icon {
    color: rgb(215, 33, 39);
    position: relative;
    top: 4px
}

#askStock .frame .title {
    width: 100%;
    padding: 10px;
    background: #fff;
}

#Answer .title {
    border-bottom: 1px solid rgb(235, 235, 235);
}

#Answer .sub-title {
    padding: 0 20px;
    background: #fff;
    border-top: none;
	margin-top:20px;
}

#Answer .sub-title .item {
    display: inline-block;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    -webkit-user-select: none;
    font-size: 16px;
    color: rgb(51, 51, 51);
    padding: 14px 27px;
}

#Answer .sub-title .item.select {
    color:#398ecd;
    border-bottom: 2px solid #398ecd;
}

#Answer .content .item {
    overflow: hidden;
    display: block;
    padding: 15px 20px;
    margin: 13px 0;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

#Answer .content .item .content-wrap img {
    width: 25px;
    height: 25px
}

#Answer .item .content-wrap {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 760px;
    word-break: break-all;
    display: inline-table;
    line-height: 28px;
    text-align: justify;
    cursor: pointer;
}

#Answer .item .content-wrap:hover {
    color: #d72621
}

#Answer .item .question .content-wrap {
    color: #333;
    font-size: 16px;
}

#Answer .answer .content-wrap {
    color: #666;
    font-size: 16px;
    display: inline-block;
    max-height: 200px;
    overflow: hidden;
}

#Answer .item .classify {
    display: inline-block;
    color: gray;
    font-size: 12px
}

#Answer .item .classify i {
    width: 14px;
    height: 15px;
    display: inline-block;
    background: url(../images/homeIcon.png) no-repeat -103px -47px;
    margin-right: 10px;
    position: relative;
    top: 3px
}

#Answer .item {
    padding: 15px 0;
    line-height: 25px
}

#Answer .question .faquestion {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    display: inline-block;
    background: url(../images/homeIcon.png) no-repeat;
    background-position: -841px -13px
}

#Answer .answer .faanswer {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    display: inline-block;
    background: url(../images/homeIcon.png) no-repeat;
    background-position: -885px -14px
}

#Answer .item .info {
    margin-top: 10px;
    padding-left: 25px
}

#Answer .info .user-photo {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e1e1e1
}

#Answer .info .user-photo img {
    border: none;
    height: 100%
}

#Answer .info span {
    line-height: 36px
}

#Answer .info span.user-name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin: 0 10px 0 15px
}

#Answer .info span.time {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    line-height: 15px;
    white-space:nowrap;
    position:relative;
    top:3px;
}

#Answer .info span.info-btn {
    font-size: 12px;
    display: inline-block;
    width: 75px;
    color: #d6000b;
    text-align: center;
    line-height: 18px;
    border: 1px solid #d6000b;
    border-radius: 24px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    top: 1px
}

#Answer .info span.info-btn:hover {
    background: #d6000b;
    color: white
}

#Answer .info .count {
    font-size: 12px;
    color: rgb(153, 153, 153)
}

#Answer .info span.count i {
    font-style: normal;
    display: inline-block;
    margin: 0 10px
}

#Answer .info .count .look i {
    width: 16px;
    height: 9px;
    background: url(/public/images/homeIcon.png) no-repeat -117px -51px
}

#Answer .info .count .read i {
    width: 13px;
    height: 14px;
    background: url(/public/images/homeIcon.png) no-repeat -132px -48px;
    position: relative;
    top: 2px
}

#ynpagination {
    margin: 30px auto
}

.judge-state {
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 5px;
    line-height: 20px;
    margin-left: 15px
}

.judge-state0 {
    display: none
}

.judge-state.onNum {
    background: red
}

.judge-state.downNum {
    background: green
}


/*交易列表*/
.tradingListPage{}
.tradingListPage a{ color: #333;}
.tradingListPage .tabBox{ height: 50px; line-height: 50px;border-bottom: solid 2px #0c74c9;background: #e8effb; }
.tradingListPage .tabBox a{ padding: 0 30px;font-size: 16px; display: block; float: left;}
.tradingListPage .tabBox a.active{ background: #0c74c9 ; color: #FFFFFF;}
.tradingListPage .tabBox .release{ float:right; background:#0c74c9; color:#fff; padding:0 10px; height:30px; line-height:30px; margin:10px 10px 10px 0; font-size:14px;border-radius:3px}
.retrieve{ padding: 10px; overflow: hidden; background:#ffffff; font-size:12px;}
.retrieve dl{ border-bottom: solid 1px #EEEEEE;padding:10px 0;}
.retrieve dl dt{ width: 80px; text-align: right; float: left; line-height: 30px; color:#333;}
.retrieve dl dd{ width: 1080px; float: left; line-height: 30px; }
.retrieve dl dd a{ margin: 0 5px; padding: 0 5px; display: inline-block; height: 26px; line-height:26px;}
.retrieve dl dd a:hover, .retrieve dl dd a.active{ background: #ff650b; color: #FFFFFF;}
.retrieve dl dd .text{ height:30px; line-height:30px; border:solid 1px #eeeeee; width:200px; margin-left:5px; padding:0 10px; background:#f8f8f8}
.retrieve dl dd .btn{ padding:0 20px; height:32px; border:solid 1px #eeeeee; background:#0c74c9; color:#fff}

.trading_c{ overflow: hidden; margin-top: 20px;}
.tradingListPage .trading_left{ width: 950px; float: left; overflow: hidden;}
.tradingListPage .tradingListBox{ background:#ffffff}
.tradingListPage .tradingListBox .sortBox{ height: 40px; line-height: 40px;background: #f7f7f7;}
.tradingListPage .tradingListBox .sortBox h3{ color:#333; margin:0 20px;}
.tradingListPage .tradingListBox .sortBox a{padding: 0 20px; display: inline-block; height:40px; line-height:40px;}
.tradingListPage .tradingListBox .sortBox a.active{color: #f60;  background: #FFFFFF; border-left:solid 1px #ededed ;border-right:solid 1px #ededed ; margin-left: -1px;}
.tradingListPage .tradingListBox ul{}
.tradingListPage .tradingListBox ul li{ border-bottom: dashed 1px #ededed; padding:20px 0; overflow: hidden; margin:0 20px}
.tradingListPage .tradingListBox ul li img{ width: 100px; height: 100px; float: left; margin-right: 20px;}
.tradingListPage .tradingListBox ul li h4{ }
.tradingListPage .tradingListBox ul li h4 a{ color: #333333;font-size: 14px; line-height: 20px;}
.tradingListPage .tradingListBox ul li h4 em.class{ color:#f60}
.tradingListPage .tradingListBox ul li h4 a:hover{ color:#ef8200;}
.tradingListPage .tradingListBox ul li p{ color: #999;}
.tradingListPage .tradingListBox ul li .info{ float: left;width: 340px;}
.tradingListPage .tradingListBox ul li .price{ float: left; width: 150px;text-align:center; line-height: 30px; font-size: 14px; line-height: 25px;}
.tradingListPage .tradingListBox ul li .price .color{ color: #f40;font-weight: 700;font-family: verdana,arial; font-size: 18px;}
.tradingListPage .tradingListBox ul li .time{float: right;width: 200px; text-align: center;font-size: 12px; color: #999;}
.tradingListPage .loading{ height:200px; background:url(../images/loading.gif) center no-repeat;width:100%}

.tradingListPage .trading_left .page{ text-align: center; height: 50px; padding: 20px 0;}
.tradingListPage .trading_left .page a{ height: 30px; line-height: 30px; padding: 0 10px; display: inline-block; margin: 0 5px; background:#0c74c9; color:#fff}
.tradingListPage .trading_left .page a.active{ background: #f60; color: #000;}

.tradingListPage .trading_right{ width: 230px;  float: right; overflow: hidden;}

.tradingListPage .hotBox{  background:#fff}
.tradingListPage .hotBox .title{ height: 40px; line-height: 40px; border-bottom:1px solid #ededed;background: #f7f7f7; padding: 0 10px;}
.tradingListPage .hotBox .title h3{ color: #333333;}
.tradingListPage .hotBox li{ padding: 10px;}
.tradingListPage .hotBox li img{ width: 208px; height: 208px;}
.tradingListPage .hotBox li .name{ line-height:20px; margin-top: 5px;}
.tradingListPage .hotBox li .pr{ height:20px;}
.tradingListPage .hotBox li .pr .l{ float: left; color: #f60; font-size: 14px;}
.tradingListPage .hotBox li .pr .r{ float: right;}
.clear:after{clear:both;display:block;visibility:visible;height:0;line-height:0;content:"";} 