
/*政策推送*/
.body_c{ height:auto; padding:30px 0 90px;}
.wd1200{ width:1200px; margin:0 auto;}
.list{ height:auto; overflow:hidden; padding-top:5px;}
.list ul{ width:1200x;}
.list li{ float:left; margin:20px 28px 0 0; display:inline; background-color:#FFF; width:545px; height:80px; padding:16px;}
.list_img{ width:80px; height:80px;}
.list_infor{ width:449px;}
.list_infTop{ height:24px; padding-top:5px; margin-bottom:5px;}
.list_infTop a{ display:block; height:24px;}
.list_infName{ display:inline-block; font-size:16px; width:361px; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#000; font-weight:600;}
.list_infTime{ color:#999; font-size:12px;}
.list_infIntro{ color:#999; line-height:22px; height:44px; overflow:hidden; font-size:12px;}
.view{ height:auto; overflow:hidden; padding-top:30px;}
.view_l{ width:872px;}
.view_r{ width:242px; padding-right:20px; display:inline;}
.title{ line-height:normal;}
.title h3{ color:#333; font-size:24px;}
.infor{ font-family:'宋体'; color:#898989; height:28px; line-height:28px; padding:8px 0 8px; border-bottom:1px solid #dcdcdc;}
.infor span{ float:left; display:inline-block; margin-right:18px;}
.share_come{ width:138px; height:28px;}
.news_content{ padding:25px 0;}
.pre_nextPage{ height:35px; line-height:35px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.view_Rbox{ padding-bottom:28px;}
.view_Rbname{ height:46px; line-height:46px; border-bottom:1px solid #dcdcdc;}
.view_Rbname a{ float:left; font-size:16px; display:block; height:46px; border-bottom:1px solid #009b4d;}
.view_Rblist{ padding-top:7px;}
.view_Rblist li{ height:41px; line-height:41px; border-bottom:1px dotted #888;}
.view_Rblist a{ display:block; height:41px; padding-left:12px;}
.view_Rblist a span{ display:block; background:url(../images/list_Vac.png) no-repeat left; padding-left:16px; font-size:14px; width:214px; height:41px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.view_Rblist a:hover span{ background:url(../images/list_Vho.png) no-repeat left;}
.view_peo .view_l{ width:100%;}
.yn-container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    overflow: hidden;
	padding-bottom:30px;
}
.yn-icon-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(100, 100, 100)

}
.yn-left {
    width: 850px;
    float: left
}

.yn-right {
    width: 330px;
    float: right
}
.inline {
 display: inline-block

}
.yn-title-1 {
    padding: 10px 15px;
    font-size: 17px;
    background: #f9f9f9;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.yn-title-1.simple {
    background: white;
    padding: 0;
    border: none;
    margin-bottom: 10px
}

.yn-title-1 .icon,
.yn-title-1-icon {
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #398ecd;
    position: relative;
    top: 2px;
    margin-right: 3px
}

.yn-title-1-2 {
    padding: 12px 15px;
    font-size: 17px
}
.yn-left .articleBox{ overflow: hidden; margin-top: 20px;}
.ynpagination {
    -webkit-user-select: none;
    margin-top: 20px;
    text-align: center



}

.ynpagination li {
    font-size: 12px;
    color: red;
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    padding: 0 12px;
    margin-right: 5px
}

.ynpagination li a {
    cursor: pointer
}

.ynpagination li:hover {
    background: rgb(245, 245, 245)
}

.ynpagination li.active {
    background: #0c74c9;
    border-color: #0c74c9
}

.ynpagination li.active a {
    color: white
}

.ynpagination li:first-child {
    border-left: 1px solid rgb(200, 200, 200)
}

.bdsharebuttonbox {
    display: none;
    position: absolute;
    z-index: 10000;
    background: white;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px
}

.bdsharebuttonbox a {
    display: inline-block;


    margin: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background: url(/public/images/q-img.png) 0 -216px no-repeat;
    margin-right: 10px
}

.bdsharebuttonbox a.bds_weixin {
    background-position: 0 -216px
}

.bdsharebuttonbox a.bds_tsina {
    background-position: 0 -254px
}

.bdsharebuttonbox a.bds_qzone {
    background-position: 0 -292px
}

#layer-item-container {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100000
}

#layer-item-container .layer-item-icon {
    background: url(/public/icons/ynicons-01.png);
    width: 40px;
    height: 40px;
    float: left;
    background-position: -200px 0
}

#layer-item-container .layer-item-wrap {
    display: inline-block;
    margin-top: 20%
}

/*专家与人才*/
.content-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  /*-webkit-font-smoothing: antialiased;*/
}


.experts-recommend .tabs-box {
  width: 1200px;
  overflow: hidden;
}


.experts-recommend .tabs {
  height: 320px;
  margin: 20px 0 0 0;
}
.experts-recommend .tabs .tab {
  background: #fff;
  border: 1px solid #ececec;
  width: 214px;
  height: 324px;
  float: left;
  margin-left: 30px;
  padding: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.experts-recommend .tabs .tab:hover {
  margin-top: -4px;
  -webkit-box-shadow:  12px 12px 20px #ececec;
  -moz-box-shadow:  12px 12px 20px #ececec;
  box-shadow:  12px 12px 20px #ececec;
}

.hot-thoughts .tabs .tab:hover {
  margin-top: -4px;
  -webkit-box-shadow:  12px 12px 20px #ececec;
  -moz-box-shadow:  12px 12px 20px #ececec;
  box-shadow:  12px 12px 20px #ececec;
}

.link{
  /*background: #fff;*/
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
}

.link-color {
  background: #fff;
}

.experts-recommend .tabs .tab .link:hover{
  color: #333;
  text-decoration: none;
}
.tabSub-tt .link:hover{
  background:#fbfbfb;
  color:#333;
}
.experts-recommend .tabs .tab:first-child,
.hot-thoughts .tabs .tab:first-child {
  margin-left: 0;
}

.experts-recommend .tabs .tab .expert-img {
  height: 120px;
  width: 120px;
  margin: 25px auto 0;
}

.experts-recommend .tabs .tab .expert-img img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #eee;
}

.experts-recommend .tabs .tab .expert-name {
  color: #444;
  text-align: center;
  margin: 18px 0 10px 0;
  font-size: 18px;
}

.experts-recommend .tabs .tab .expert-info {
  color: #656565;
  text-align: center;
  margin-bottom: 15px;
  font-size:12px;
  color:#888;
}

.experts-recommend .tabs .tab .expert-info .work-hours {
  color: #1dc35f;
  font-size: 16px;
  font-weight: bold;
}

.experts-recommend .tabs .tab .features {
  color: #1dc35f;
  text-align: center;
  height: 58px;
  padding-bottom: 8px;
  width:186px;
  margin: 0 auto;
}

.experts-recommend .tabs .tab .features .feature {
  height: 30px; line-height: 30px; display:inline-block; padding:0 20px; font-size: 14px; color: #a5a5a5; border-radius:3px ; border:1px solid #c3c3c3;
}


.solveForyou {
  overflow: hidden;
}

/*专家与人才详情页*/
.talentCPage{}
.content-wrap .info{ background: #FFFFFF; overflow: hidden; margin-top: 20px;}
.content-wrap .info .pic{ width:126px; height: 126px; float: left; margin:50px;}
.content-wrap .info .pic img{ border:solid 3px #0c74c9;  width: 120px; height: 120px; border-radius:126px;}
.content-wrap .info .info_r{ width: 940px; float: left;}
.content-wrap .info .info_r h1{ font-size: 18px; padding-top: 30px; font-weight:bold; color:#333}
.content-wrap .info .info_r .spanBox{ overflow:hidden; margin-top:20px}
.content-wrap .info .info_r .spanBox span{ width:300px;  display:inline-block; line-height:30px; font-size:14px; height:30px; float:left; color:#333}
.content-wrap .talentC_nav a:hover, .content-wrap .talentC_nav a.active{background:#0c74c9;}
.content-wrap .info .info_r table{ width: 100%;  margin-top: 10px;}
.content-wrap .info .info_r table tr{ line-height: 40px;}
.content-wrap .info .info_r table th{ text-align: left; width: 60px; color: #333;}
.content-wrap .talentC_nav{ line-height: 40px; height: 40px; background: #b0b0b0; padding: 0 20px;}
.content-wrap .talentC_nav a{color: #FFFFFF; padding: 0 20px; font-size: 14px; display:block; float: left;}
.content-wrap .talentC_nav a:hover,.talentCPage .talentC_nav a.active{ background: #0c74c9;}
.content-wrap .tabBox{ background: #FFFFFF; padding: 30px; line-height: 30px; font-size: 14px; display: none;}
