i{font-style: normal;}

/*火鸟门户官方演示站*/
.huoniao_site{height: 49px;padding-left:60px;}
.huoniao_site img{width: 58px;height: 49px;float: left;}
.huoniao_site p{float: left;font-size: 16px;height: 49px;line-height: 49px;}
/*火鸟门户官方演示站*/
/*蓝色背景区*/
.blue_bg{height:70px;background: #13a1ff;padding-left: 60px;position: relative;z-index: 2;overflow: hidden;}
.blue_bg a{height: 70px;line-height: 70px;display: block;float: left;text-align: center;font-size: 16px;color: #fff;margin-right:10px;padding: 0 15px; 	}
.blue_bg a:hover{color: #fff;background-color: #0585da;font-weight: bold;}
.bc{color: #fff;background-color: #0585da;font-weight: bold;}
.bg{ position: absolute;
    left: 60px;
    width: 84px;
    height: 50px;
    background: #0585da;
    z-index: -1;
    transition: left .25s;}
    .leftmenu .list a.active, .leftmenu .list a:hover{    color: #fff;}
    .leave a:{color: #747474}
/*蓝色背景区*/
/*大标题*/
.channel_mode{font-size: 50px;font-weight: normal;margin: 65px 0 48px 60px;width: 800px;}
/*大标题*/
/*主体部分*/
.catalogue_menu{}
.fixed_area{float: left;min-height: 870px;margin-left: 60px;}
.fixed_area ul{width: 170px;}
.fixed_area ul li {font-size: 16px;color: #363636;width: 50%;overflow: hidden;float: left;text-align: center;}
.select-channel {  color: #fff;background-color:#13a1ff;font-weight: bold;border-radius: 20px;}
.select-channel a{color: #fff;}
.select-channel a:hover{color: #fff!important;}
.fixed_area ul li a{height: 32px;line-height: 32px;overflow: hidden;}
.fixed_area ul li a:hover{color: #13a1ff}
.GD{display:block;height: 32px; line-height: 32px;padding-left: 10px; font-size: 16px; }


.auto_area{max-width: 1720px;overflow: hidden;margin-left:290px;max-height: 900px;}
.auto_area ul{border: 1px solid #e8e8e8;}
/*.auto_area .box{margin-left: 40px;float: left; width: 17px; height: 300px;}*/
.auto_area ul li{margin: 5px 15px;font-size: 16px;  color: #030303;} 
.auto_area ul li a img{width: 158px;height: 198px;margin-top: 10px;}
.auto_area ul li.a a{font-size: 14px;color: #6e6e6e;}
.auto_area ul li.a a:hover{color: #ff6600;}
.filtr-item {padding: 10px 14px;width: 200px}
.filtr-item:hover{box-shadow:5px 5px 5px #e4e4e4 ;z-index: 1111;height: 315px;}

/*修改dai*/
.filtr-item .s{margin: 3px 18px;}
.filtr-item .s .price{color: #75c000;}
.filtr-item .s .count{color: #8e8e8e; font-size: 14px;}
.filtr-item .s .count b{color: #5e6068; font-weight: 100;}
.filtr-item .a .tit{display: block; max-width: 112px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #363945; float: left;}
.filtr-item .a .icon{display: block; float: right; width: 18px; height: 18px; margin-right: 3px;}
.filtr-item .a .icon-1{background: url(../images/icon1.png) no-repeat; background-size: 18px auto}
.filtr-item .a .icon-2{background: url(../images/icon2.png) no-repeat; background-size: 20px auto}
.filtr-item .qq{margin: 10px 15px 15px;}
.filtr-item .qq a{color: #86878c; border-bottom: 1px solid #aaa; line-height: 15px; white-space: nowrap; overflow: hidden; max-width: 170px; display: block; text-overflow: ellipsis; vertical-align: bottom; display: inline-block; font-style: normal; float: left;}
.filtr-item .qq i{display: block; width: 20px; height: 20px; background: url(../images/qq.png) 0 -1px no-repeat; background-size: 20px auto; float: left;
}
.pp{display: none;}


/*结尾*/
.end_ding{height: 65px;background: #f2f2f2;line-height: 65px;padding-left: 72px;padding-right: 75px;position: relative;}
.end_ding a.compan_y img{height: 65px;line-height: 65px;float: left;}
.end_ding a.compan_y{float: left;}
.end_ding a.about_huoniao{float: right;margin-left: 30px;}
/*结尾*/


