.house_nav{
	height: 54px;
	background: #f4f4f4;
	line-height: 54px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 26px;
}
.house_nav ul li{
	float: left;
	width: 174px;
	height: 54px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.house_nav ul li.HN_bc{
	background: #008cf4;
	color: #fff;
}
.house_detail {
    padding: 20px 20px;
    background: #fff;
    margin-bottom: 15px;
}
.house_detail .house_pic{
	float: left;
	width: 194px;
	height: 194px;
	margin-right: 23px;
}
.house_detail .house_pic img{
	width: 100%;
	height: 100%;
}
.house_detail .house_info .hosue_title{
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.house_detail .house_info .hosue_tips{
	margin-top: 10px;
}
.house_detail .house_info .hosue_tips em{
	font-size: 14px;
	color: #008cf4;
	border: 1px solid #008cf4;
	padding: 0 5px;
}
.house_detail .house_type{
	font-size: 14px;
	margin-top: 16px;
}
.house_detail .house_type em{
	color: #b0b0b0;
}
.house_detail .house_price{
	font-size: 14px;
	margin-top: 10px;
}
.house_detail .house_price em{
	font-size: 18px;
}
.house_detail .house_location{
	font-size: 14px;
	line-height: 22px;
	margin-top: 5px;
}
.house_detail .house_location i{
    width: 19px;
    height: 20px;
    display: inline-block;
    background: url(../images/location.png) no-repeat -1px 1px;
    background-size: 15px;
    vertical-align: middle;
}
.house_detail .hosue_foot .house_time {
	font-size: 14px;
	margin-top: 5px;
	float: left;
}
.house_detail .hosue_foot .house_time i{
    width: 19px;
    height: 20px;
    display: inline-block;
    background: url(../images/time.png) no-repeat 0px 2px;
    background-size: 15px;
    vertical-align: middle;
}
.house_detail .hosue_foot .house_sell_price{
	float: right;
	color: #008cf4;
	font-size: 16px;
}
.house_detail .hosue_foot .house_sell_price em{
	font-size: 22px;
}
.house_detail.zu .house_location{
	margin-top: 30px;
}
.house_detail.zu .house_type{
	margin-top: 20px;
}
.house_detail.zu .house_pic{
	position: relative;
}
.house_detail.zu .house_pic .zhongjie{
    position: absolute;
    right: -10px;
    top: -11px;
    width: 100px;
    height: 100px;
    background: url(../images/house_1.png) no-repeat center;
}
.house_detail.zu .house_pic .geren{
    position: absolute;
    right: -10px;
    top: -11px;
    width: 100px;
    height: 100px;
    background: url(../images/house_2.png) no-repeat center;
}