.huodong_detail{
	padding: 25px 20px;
    background: #fff;
    margin-bottom: 15px;
}
.huodong_detail .huodong_info{
	position: relative;
}
.huodong_detail .huodong_pic{
	float: left;
	width: 240px;
	height: 199px;
	margin-right: 23px;
}
.huodong_detail .huodong_pic img{
	width: 100%;
	height: 100%;
}
.huodong_detail .hodong_title{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.huodong_detail ul li{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
.huodong_detail ul li em{
	color: #b2b2b2;
	display: inline-block;
	width: 90px;
}

.huodong_foot{
	margin-top: 13px;
}
.huodong_foot em{
	color: #b2b2b2;
	width: 90px;
	float: left;
	font-size: 16px;
}
.huodong_foot .share_box{
	float: left;
}
.huodong_foot .share_box .Share{
    position: relative;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 6px;
}
.huodong_foot .share_box .Share a{
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 100%;
    background: url(../images/infor.png) no-repeat;
    padding: 0;
    margin: 0;
}
.huodong_foot .share_box .Share i{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: #ededed;
    display: block;
}
.huodong_foot .share_box .Share:hover i{
    background: #23b8f6;
}
.huodong_foot .share_box .Share_QQ a{
    background-position: -224px -7px;
}
.huodong_foot .share_box .Share_weixin a{
    background-position: -299px -7px;
}
.huodong_foot .share_box .Share_weibo a{
    background-position: -261px -7px;
}
.huodong_foot .share_box .Share a:hover{
    opacity: 1;
}
.huodong_detail .huodong_info .huodong_btnbox{
	position: absolute;
	right: 0;
	bottom: -5px;
	width: 235px;
}
.huodong_detail .huodong_info .huodong_btnbox .in_btn {
	float: right;
}
.huodong_detail .huodong_info .huodong_btnbox .in_btn a{
	width: 88px;
	height: 36px;
	line-height: 36px;
	background: #5e17f1;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
}
.huodong_detail .huodong_info .huodong_btnbox .in_btn span{
	width: 88px;
	height: 36px;
	line-height: 36px;
	background: #dadada;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
}
.huodong_detail .huodong_info .huodong_btnbox .per_num{
	font-size: 20px;
	float: left;
	line-height: 36px;
	color: #34bdf6;
}
.huodong_detail .huodong_info .huodong_btnbox .per_num em{
	color: #b2b2b2;
	font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}