.info_detail{
    padding: 20px 40px;
    background: #fff;
    margin-bottom: 15px;
}
.info_detail .info_lead{
	height: 35px;
}
.info_detail .info_lead .news_title{
    float: left;
    width: 80%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info_detail .info_lead .news_title a{
    font-weight: bold;
    margin-right: 5px;
}
.info_detail .info_lead .news_title i{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/infor.png) no-repeat;
    vertical-align: text-bottom;
}
.info_detail .info_lead .news_title i.jian{
    background-position: -345px -6px;
}
.info_detail .info_lead .news_title i.ji{
    background-position: -128px -3px;
}
.info_detail .info_lead .tel{
	float: right;
	font-size: 18px;
	color: #34bdf6;
	height: 35px;
	line-height: 35px;
}
.info_detail .info_lead .tel i{
    width: 25px;
    height: 25px;
    background: url(../images/infor.png) no-repeat;
    background-position: -225px -215px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.info_detail .tel_location{
	text-align: right;
	font-size: 14px;
}
.info_detail h1{
	font-size: 16px;
}
.info_detail .info_foot{
	font-size: 14px;
	color: #b5b5b5;
	margin-top: 10px;
}
.info_detail ul {
    width: 800px;
    margin-top: 15px;
}
.info_detail ul li{
	float: left;
    width: 250px;
    height: 178px;
    overflow: hidden;
    margin-right: 12px;
}
.info_detail ul li a img{
	width: 100%;
	height: 100%;
}