
body, html{background: #f4f4f4;}
.edit-tip{background: #fffaeb; margin-bottom: .2rem; padding: .2rem; font-size: .28rem; color: #666; border-bottom: 1px solid #fff6db;}

.connect{background: #fff;}
.connect li{padding: .2rem; border-bottom: 1px solid #f4f4f4; }
.connect li img{vertical-align: middle; width: .4rem; height: .4rem; margin-right: .2rem;}
.connect .fail .l{color: #999;}
.connect .fail .l img{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4;}
a.orange{color: #ff6800;}
a.blue{color: #027cff;}
