body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;}
body.show {opacity:1;}
body{
	    background-color: #eee;
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea { -webkit-appearance: none;} 
.de-img{
	margin-top: 0.9rem;
	position: relative;
}
.de-img img{
	    width: 100%;
	    display: block;
}
.de-img span{
    font-size:0.6rem;
    line-height: 0.72rem;
    text-shadow: 0 0 0.04rem rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 0.2rem;
    right: 0.2rem;
}
.de-img .dj{
	    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
}
.de-img .dj p{
	    display: inline-block;
    padding: 0.04rem 0.16rem;
    border-radius: 0.04rem;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    margin-left:0.12rem;
    font-size: 0.24rem;
    line-height: 0.4rem;
}
.de-infor{
    padding: 0.3rem 0.2rem 0.1rem;
    margin-bottom: 0.2rem;
    font-size: 0.28rem;
    zoom: 1;
    position: relative;
    z-index: 2;
    background-color: #eee;
}
.de-infor dl dt{
	    max-width:2rem;
    position: absolute;
    top: -0.8rem;
}
.de-infor dl dt img{
	    border-radius: 0.08rem;
    width:1.6rem;
    height:1.6rem;
    vertical-align: top;
}
.de-infor dl dd{
    padding-left: 1.9rem;
}
.de-infor dl dd h1{
	    font-size:0.36rem;
    font-weight: normal;
    padding-right:1rem;
}
.de-infor dl dd h1 i{
	    display: inline-block;
    vertical-align: middle;
    font-size:0.24rem;
    line-height:0.32rem;
    padding:0.04rem 0.1rem;
    border-radius:0.04rem;
    background-color: #2fbf79;
    color: #fff;
    margin-left: 0.16rem;
    text-decoration: none;
    font-style: normal;
}
.place{
    margin: 0.3rem 0 0.2rem;
}
.place ul li{
	position: relative;
    z-index: 1;
    text-align: left;
    width: 40%;
    padding-left:0.6rem;
    line-height: 0.44rem;
    float: left;
}
.place ul li a s{
    display: block;
    position: absolute;
    left: 0;
    top: 0.1rem;
    width: 0.42rem;
    height:0.62rem;
    
}
.place ul li a p{
	    height:0.44rem;
    line-height:0.44rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.place ul li a p em{
	    color: #aaa;
}
.pl-1 a s{
    background: url(../images/business_icons.png) no-repeat 0 0;
    background-size: 2rem auto;
    background-position: 0 -15.2rem;
}
.pl-2 a s{
    background: url(../images/business_icons.png) no-repeat 0 0;
    background-size: 2rem auto;
    background-position: -40px -15.2rem;
}
.map{
	padding-bottom: 0.2rem;
    color: #444;
    background-color: #b1c5df;
    padding: 0.1rem;
    border-radius: 0.06rem;
    display: block;
    line-height:0.5rem;
}
.map p{
	    background: url(../images/business_icons.png) no-repeat 0 0;
    background-size:2rem auto;
    display: inline-block;
    content: ' ';
    vertical-align: middle;
    width: 0.3rem;
    height:0.4rem;
    margin-right: 0.12rem;
    background-position: -1.7rem -2.92rem;
}
.share{
	position: absolute;
    right: 0;
    top: 0;
    padding: 0.24rem 0.2rem 0;
}
.share a{
	    border-left: 0.02rem solid #e5e5e5;
    display: block;
    text-align: center;
    width:0.64rem;
    height: 0.4rem;
    padding: 0.52rem 0 0 0.2rem;
    color: #aaa;
    font-size: 0.24rem;
    background: url(../images/tg_ico.png) no-repeat 0.32rem -1.48rem;
    background-size: 3.28rem auto;
    line-height: 0.4rem;
}
.de-list{
    height: 0.82rem;
    position: relative;
    overflow-y: hidden;
    border-bottom: 0.02rem solid #eeeeee;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #666666;
    background: #ffffff;
}
.de-list ul{
        overflow-x: auto;
    display: -webkit-box;
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
}
.de-list ul li{
    width:1.8rem;
    text-align: center;
    overflow: hidden;
}
.bb{
    border-bottom:0.02rem solid #ff9933;
}
.ddd{
    
}
.de-txt{
    display: block;
    padding: 0.2rem;
    line-height: 0.44rem;
    font-size: 0.28rem;
    background: #ffffff;
    overflow: hidden;
    max-height: 6rem;
    overflow: hidden;
}
.more{
    background: #fff;
    position: relative;
    font-size:0.32rem;
    text-align: center;
    line-height:0.8rem;
    border-top: 0.02rem solid #eee;
}

.more em,.more em:after{
    vertical-align: -0.06rem;
    margin-left: 0.1rem;
    display: inline-block;
    border-color: #adadad transparent transparent transparent;
    border-width: 0.12rem;
    border-style: solid;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transform-origin: 50% 25% 0;
    -webkit-transform-origin: 50% 25% 0;
    position: relative;
    z-index: 1;
}
.more em:after{
    content: ' ';
    border-color: #fff transparent transparent transparent;
    position: absolute;
    margin: -0.16rem 0 0 -0.12rem;
}
.de-pic{
	    margin-top:0.2rem;
    background-color: #fff;
    padding:0.2rem 0;
    overflow-x: auto;
}
.pic .swiper-slide{
    display: table;
}
.pic .swiper-slide{
    width: 2.5rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 0.1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pic .swiper-slide img{
	width: 100%
}
.erwei{
	    display: block;
    border: 0.02rem solid #eee;
    background-color: #fff;
    margin-top:0.2rem;
    border-radius: 0.08rem;
    text-align: center;
    padding: 0.1rem 0;
    font-size: 0.32rem;
}
.comments{
	    background-color: #fff;
    margin-top: 0.2rem;
    border-bottom: 0.02rem solid #e5e5e5;
}
.comments-lead{
	border-bottom: 0.02rem solid #eee;
}
.comments-lead span{
    border-bottom: 0.02rem solid #fb9031;
    margin-bottom: -0.02rem;
    padding: 0.2rem;
    font-size: 0.32rem;
    display: inline-block;
}
.comments-lead p{
	color: #999999;
    font-size: 0.28rem;
    display: inline-block;
    padding: 00.12rem;
    margin-left: 0.3rem;
    position: relative;
    border: 0.02rem solid #cacaca;
    line-height: 0.2rem;
    vertical-align: 0.04rem;
}
.comments-lead p:after{
	    position: absolute;
    border-left: 0.02rem solid #999999;
    border-bottom: 0.02rem solid #999999;
    content: '';
    width:0.12rem;
    height:0.12rem;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    left: -5px;
    top: 0.14rem;
}
.comments-lead a{
	float: right;
    display: block;
    border: 0.02rem solid #eee;
    color: #555;
    padding: 0.04rem 0.2rem;
    font-size: 0.28rem;
    margin: 0.14rem 0.14rem 0 0;
    line-height: 0.5rem;
}
.comments-lead a:after{
	background: url(../images/revert2014.png) no-repeat 0 0;
	    width: 0.28rem;
    height:0.3rem;
    background-position: 0 -3.54rem;
    background-size: 0.5rem auto;
    display: inline-block;
    vertical-align: -0.06rem;
    content: ' ';
    margin-right: 0.08rem;
        float: left;
    margin-top:0.12rem;
}
.com-txt{
	padding-bottom: 0.2rem;
	padding: 0 0.2rem;
}
.com-txt ul li{
	    padding: 0.24rem 0 0.2rem 0;
	        font-size: 0.24rem;
	            border-bottom: 0.02rem solid #f3f3f3;
}
.com-txt ul li img{
	    width:0.6rem;
    height:0.6rem;
    border-radius: 0.3rem;
    vertical-align: top;
    float: left;
    margin-right: 0.2rem;
}
.txt-right .name{
	    color: #5191d2;
	font-size: 0.28rem;
}
.txt-right p{
	    font-size:0.24rem;
    color: #ccc;
}
.txt-right .zan{
	    font-size: 0.24rem;
    margin-right: 0.12rem;
    float: right;
}
.txt-right .zan a{
    background: url(../images/revert2014.png) no-repeat 0 0;
    display: inline-block;
    padding-left:0.36rem;
    vertical-align: middle;
    color: #999;
    background-size: 0.5rem auto;
    line-height: 0.4rem;
}
.txt-right .zan a:last-child{
	margin-left: 0.2rem;
}
.txt-right .zan .zz{
	background-position: 0 -2.6rem;
}
.txt-right .zan .hh{
	background-position: 0 -3.04rem;
}
.com-txt .com-content{
    color: #333;
    font-size:0.32rem;
    line-height:0.52rem;
    margin-top: 0.2rem;
    display: inline-block;
    padding-left: 0.76rem;
}
.fanye{
	border-top: none;
}
.reply{
	    padding: 0.06rem 0.06rem 0;
    margin-bottom: 0.06rem;
    border: 0.02rem solid #eee;
    background-color: #fafafa;
    margin-left: 0.8rem;
}
.reply .reply-head{
	padding: 0.06rem 0 0.04rem 0;
}
.reply .reply-head p{
	float: left;
    color: #a3a391;
    font-size:0.24rem;
    background-color: #eee;
    border-top-right-radius: 0.06rem;
    border-bottom-right-radius: 0.06rem;
    line-height: 0.4rem;
    width: 0.4rem;
    height: 0.4rem;
    overflow: hidden;
    text-align: center;
}
.reply .reply-head span{
	color: #5191d2;
	font-size: 0.28rem;
	margin-left: 0.2rem;
}
.reply .reply-head a{
	background: url(../images/revert2014.png) no-repeat 0 0;
	display: inline-block;
    padding-left:0.36rem;
    vertical-align: middle;
    color: #999;
    background-size: 0.5rem auto;
    line-height: 0.4rem;
        background-position: 0 -3.04rem;
}
.reply .reply-txt{
	padding-left: 0.6rem;
	font-size: 0.32rem;
}
.find{
	    background-color: #fff;
    margin-top:0.2rem;
    border-bottom: 0.02rem solid #e5e5e5;
}
.find .find-lead{
	    border-bottom: 0.02rem solid #eee;
}
.find .find-lead span{
	    display: inline-block;
    border-bottom: 0.02rem solid #fb9031;
    margin-bottom: -0.02rem;
    padding:0.2rem;
    font-size: 0,32rem;
}
.find .find-lead a{
    background: url(../images/business_icons.png) no-repeat 0 0;
    background-size: 2rem auto;
    float: right;
    margin:0.2rem 0.2rem 0 0;
    width: 0.52rem;
    height:0.64rem;
    overflow: hidden;
    text-indent: -999em;
    background-position: -1.48rem -9.3rem;
}
.in{
	margin-top:0.2rem;
}
.de-bottom{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 1rem;
    background-color: #fff;
}
.de-bottom ul li{
	float: left;
	width: 33.33333333%;
	text-align: center;
}
.de-bottom ul li s{
	    display: block;
    margin: 0 auto;
    vertical-align: middle;
    width: 0.56rem;
    height: 0.52rem;
    background: url(../images/business_icons.png) no-repeat -0.56rem -9.8rem;
    background-size: 2.4rem auto;
}
.de-bottom .deb-1 a{
	height: 0.9rem;
    padding-top:0.1rem;
    background-color: #2190e6;
    color: #fff;
    display: block;
    font-size: 0.24rem;
    line-height: 0.36rem;
    width: 100%;
}
.de-bottom .deb-1 a s{
	    background-position: 0 -9.8rem;
    width: 0.46rem;
    height: 0.52rem;
}
.de-bottom .deb-2 a{
	height: 0.9rem;
    padding-top:0.1rem;
    background-color: #fb9032;
    color: #fff;
    display: block;
    font-size: 0.24rem;
    line-height: 0.36rem;
    width: 100%;
}
.de-bottom .deb-2 a s{
	    background-position: 0 -10.48rem;;
    width: 0.5rem;
    height: 0.52rem;
}
.de-bottom .deb-3 a{
	height: 0.9rem;
    padding-top:0.1rem;
    background-color: #83cb43;
    color: #fff;
    display: block;
    font-size: 0.24rem;
    line-height: 0.36rem;
    width: 100%;
}
.de-bottom .deb-3 a s{
    width: 0.56rem;
    height: 0.52rem;
}
.content-list ul li{
	width: 7.1rem;
}
.share-list{
    text-align: center;
    padding: 0.16rem 0 0.3rem 0.08rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1008;
    background-color: #eee;
    border-top: 0.02rem solid #eee;
    display: none;
}
.sl-lead{
    display: block;
    margin-bottom: 0.12rem;
    font-size: 0.28rem;
    color: #999;
}
.bdsharebuttonbox ul li{
        float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
}
.bdsharebuttonbox ul li a{
        float: none!important;
    overflow: hidden;
    height: auto!important;
    display: block;
    margin: 0 auto 0.2rem!important;
    position: relative;
    z-index: 1;
    background-image: none!important;
    text-indent: -0.4rem!important;
    width:0.9rem!important;
    padding-top: 1.2rem;
    text-align: center;
    color: #666!important;
    font-size: 0.24rem;
    line-height: 0.4rem!important;
}
.bdsharebuttonbox a:before{
        background: url(../images/sys_share_ico.png) no-repeat;
    width: 0.7rem;
    height: 0.7rem;
    background-size: 0.6rem auto;
    display: block;
    content: ' ';
    position: absolute;
    top: 0.33rem;
    left: 50%;
    z-index: 2;
    margin-left: -0.3rem;
}
.bdsharebuttonbox a:after{
        border-radius: 0.6rem;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 1.2rem!important;
    z-index: 1;
}
.bdsharebuttonbox .bds_weixin:after{
    background-color: #23c823;
}
.bdsharebuttonbox .bds_weixin:before{
    background-position: 0 0;
}
.bdsharebuttonbox .bds_tqf:after{
    background-color:#7ecb59;
}
.bdsharebuttonbox .bds_tqf:before{
    background-image: url(../images/腾讯朋友.png);
}
.bdsharebuttonbox .bds_sqq:after{
    background-color: #3399ff;
}
.bdsharebuttonbox .bds_sqq:before{
    background-position: 0 -3.2rem;
}
.bdsharebuttonbox .bds_tsina:after{
    background-color: #ff0000;
}
.bdsharebuttonbox .bds_tsina:before{
    background-position:0 -1.6rem;
}
.bdsharebuttonbox .bds_qzone:after{
    background-color: #fb9031;
}
.bdsharebuttonbox .bds_qzone:before{
    background-position:0 -2.4rem;
}
.bdsharebuttonbox .bds_tqq:before{
    background-position: 0 -3.94rem;
}
.bdsharebuttonbox .bds_tqq:after{
        background-color: #7ecb59;
}
.bdsharebuttonbox .bds_tieba:before{
    background-position: 0 -4.78rem;
}
.bdsharebuttonbox .bds_tieba:after{
        background-color: #49aaee;
}
.bdsharebuttonbox .bds_renren:before{
    background-position: 0 -5.66rem;
}
.bdsharebuttonbox .bds_renren:after{
        background-color: #005eac;
}
.cancel a{
    display: block;
    margin: 0.2rem 0.2rem 0 0.12rem;
    background-color: #fff;
    font-size: 0.28rem;
    padding: 0.16rem 0;
    border-radius: 0.1rem;
}
.pla-1{
    display: none;
}
.hhh{
    max-height:100%;
}
.nic em, .nic em{
        transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}
.nic em:after, .nic em:after{
        transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
}
.sjew{
    position: fixed;
    z-index: 1008;
    top: 0;
    left: 0.6rem;
    right: 0.6rem;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 0.08rem;
    text-align: center;
    top: 3.09rem;
    display: none;
}
.sjew span{
        display: block;
    text-align: center;
    border-bottom: 0.02rem solid #eee;
    padding-bottom: 0.12rem;
    font-size: 0.32rem;
}
.sjew img{
        width: 100%;
    vertical-align: top;
    display: block;
    margin-bottom: 0.2rem;
}
.sjew span p{
    float: right;
    width: 0.46rem;
    height: 0.46rem;
    overflow: hidden;
    text-indent: -999em;
    background: url(../images/tg_ico.png) no-repeat -1.5rem -1.02rem;
    background-size: 3.28rem auto;
}
.jweixn{
    top: 2.57rem;
    display: none;
    position: fixed;
    z-index: 1008;
    left:0.6rem;
    right: 0.6rem;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 0.08rem;
    text-align: center;
    font-size:0.32rem;
}
.jweixn span{
        display: block;
    text-align: center;
    border-bottom: 0.02rem solid #eee;
    padding-bottom: 0.12rem;
}
.jweixn img{
        width: 100%;
    vertical-align: top;
    display: block;
    margin-bottom: 0.2rem;
}
.jweixn b{
    font-weight: normal;
        color: #2c8cd6;
}
.jweixn span p{
    float: right;
    width: 0.46rem;
    height: 0.46rem;
    overflow: hidden;
    text-indent: -999em;
    background: url(../images/tg_ico.png) no-repeat -1.5rem -1.02rem;
    background-size: 3.28rem auto;
}
.pinglun{
    background-color: #eee;
    width: 100%;
    bottom: 0;
    left: 7.54rem;
    z-index: 99;
    padding: 0;
    position: relative;
        top: 0;
    z-index: 1005;
    position:fixed;
    display: none;
}
.pinglun .pl-lead span{
    display: block;
    line-height: 0.52rem;
    text-align: center;
    margin: 0 auto;
    padding: 0.2rem 0 0 0;
    white-space: nowrap;
    max-width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.32rem;
}
.back{
        position: absolute;
    left: 0.2rem;
    top: 0.22rem;
    width: 0.56rem;
    height:0.48rem;
    text-indent: -999rem;
    overflow: hidden;
    background: url(../images/headIcon.png) no-repeat 0 0;
    background-position: -1rem -3.54rem;
    background-size: 2rem auto;
}
.submit{
    position: absolute;
    right: 0.14rem;
    top: 0.14rem;
    padding: 0.04rem 0.2rem;
    border: 0.02rem solid #dddddd;
    background-color: #ffffff;
    color: #666;
    background-position: -2.04rem -1.2rem;
    overflow: hidden;
    z-index: 8;
    outline: 0;
    font-size: 0.28rem;
    line-height: 0.54rem;
}
.pl-txt{
    vertical-align: top;
    word-break: break-all;
    outline: 0;
    margin: 0.2rem 0 0 0;
    border: 0 none;
    font-size: 0.28rem;
    line-height: 0.36rem;
    height: 4rem;
    padding: 0.14rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0.02rem solid #eee;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.pl-txt img{
       width: 10%;
    height: 21%;
    line-height: 28%;
    vertical-align: middle;
    text-align: center;
}
.tab s{
    background: url(../images/headIcon.png) no-repeat 0 0;
    background-size: 2rem auto;
}
.tab-f  li{
    font-size:0.24rem;
    position: relative;
    float: left;
    margin: 0 0.3rem;
    padding-top: 0.9rem;
    width: 0.6rem;
    text-align: center;
    color: #aaa;
}
.tab .tab-1 s{
        display: block;
    position: absolute;
    top: 0.26rem;
    left: 0;
    width: 0.6rem;
    height: 0.6rem;
        background-position: 0.02rem -9.42rem;
}
.tab .tab-2 s{
    display: block;
    position: absolute;
    top: 0.26rem;
    left: 0;
    width: 0.6rem;
    height: 0.6rem;
    background-position: -0.94rem -9.4rem;
}
.show{
    display: block;
}
.by{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.face{
    display: none;
}
.face-list ul{
        max-height: 3.8rem;
    overflow: auto;
    width: 100%;
    margin-top: 1.5rem;
    background: #fff;
    border-bottom: 0.02rem #eee solid;
    border-top: 0.02rem #eee solid;
}
.face-list ul li{
    width: 20%;
    float: left;
}
.face-list ul li a img{
    width: 100%
}
.colo_r{
    color:  #f93!important;
}
.on s{
    background-position: 0.02rem -10.98rem!important;
}
.picture{
        margin-top: 0.2rem;
    text-align: center;
    float: left;
    display: none;
}
.picture-1{
        float: left;
    position: relative;
    z-index: 1;
    width: 35%;
    padding-left: 0.2rem;
    margin-bottom: 0.2rem;
}
.picture-1 img{
    height: 81.75px;
    cursor: pointer;
        display: block;
    vertical-align: top;
    width: 100%;
    height: auto;
    border: 0.02rem dashed #ddd;
}
.picture p{
    text-align: center;
    font-size: 12px;
    color: #aaa;
    margin-top: 6px;
    float: left;
    width: 100%;
    margin-left:20px;
}