.foot ul .vip a i{
   background-position: 0 -4.54rem;
}
.foot ul .jh a i{
   background-position: 0 0;
}
.foot ul .jh a{
	color: #333;
}
.foot ul .vip a{
	color: #ff5e00;
}
.tui{
	text-align: center;
	background: #fff;
	color: #ff6400;
}
.tui p{
    padding: 0.1rem 0.3rem 0;
    height: 0.64rem;
    font-size: 0.25rem;
}
.tui a img{
	width: 100%
}
.openo{
	    padding-bottom: 2rem;
	    padding-left: 0.3rem;
	    background:#fff;
}
.openo ul li{
	padding: 0.14rem 0.24rem 0.14rem 0;
    border-bottom: 1px solid #e6e6e8;
    clear: both;
    overflow: hidden;
}
.openo ul li div i{
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 0;
    top: 0;
    background: url(../images/myAccount.png) no-repeat;
    background-size: 100% auto;
}
.openo ul li div{
	    position: relative;
    float: left;
    padding: 0 0 0 1rem;
    color: #999;
}
.openo ul li .op-1 i{
    background-position: 0 -3.2rem;
}
.openo ul li .op-2 i{
    background-position: 0 -2.4rem;;
}
.openo ul li .op-3 i{
    background-position: 0 0;
}
.openo ul li .op-4 i{
    background-position: 0 -4rem;
}
.openo ul li .op-5 i{
    background-position: 0 -4.8rem;
}
.openo ul li .op-6 i{
    background-position: 0 -12.4rem;
}
.openo ul li .op-7 i{
    background-position: 0 -5.6rem;
}
.openo ul li div p{
	    color: #ff6400;
    font: 15px/26px microsoft yahei;
    vertical-align: middle;
}
.openo ul li a{
	    display: block;
    float: right;
    width: 1.3rem;
    height: 0.6rem;
    margin: 0.14rem 0 0;
    font: 400 16px/30px microsoft yahei;
    color: #ff6400;
    text-align: center;
    border: 0.02rem solid #ff6400;
    -moz-border-radius: 0.06rem;
    -webkit-border-radius: 0.06rem;
    border-radius: 0.06rem;
}