<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0;  //图集配置
var imglist = {#$pics#}, certify = {#$certify#}, banner = {#$banner#}, mapCity = "{#$cfg_mapCity#}",
	typeid = {#$typeid#}, addrid = {#$addrid#}, typeListArr = {#$typeListArr#}, addrListArr = {#$addrListArr#}, action = '{#$action#}', modelType = '{#$action#}', adminPath = "{#$adminPath#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">店铺名称：</label></dt>
    <dd>
      <input class="input-xxlarge" type="text" name="title" id="title" data-regex=".{2,60}" maxlength="60" value="{#$title#}" />
      <span class="input-tips"><s></s>请输入店铺名称。</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺LOGO：</dt>
    <dd>
	  <input name="logo" type="hidden" id="logo" value="{#$logo#}" />
      <div class="spic{#if $logo == ''#} hide{#/if#}">
        <div class="sholder">{#if $logo#}<img src="/include/attachment.php?f={#$logo#}" />{#/if#}</div>
        <a href="javascript:;" class="reupload"{#if $logo#} style="display: inline-block;"{#/if#}>重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=business&type=logo&obj=logo" style="width:100%; height:25px;{#if $logo#} display:none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="typeid">经营品类：</label></dt>
    <dd>
      <span id="typeList">
        <select name="typeid" id="typeid" class="input-large"></select>
      </span>
      <span class="input-tips"><s></s>请选择经营品类</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="addrid">所属地区：</label></dt>
    <dd>
      <span id="addrList">
        <select name="addrid" id="addrid" class="input-large"></select>
      </span>
      <span class="input-tips"><s></s>请选择所属地区</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="address">详细地址：</label></dt>
    <dd>
      <input class="input-large" type="text" name="address" id="address" value="{#$address#}" maxlength="60" data-regex=".{2,60}" />
      <img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;" title="标注地图位置" />
      <span class="input-tips"><s></s>请输入详细地址，2-60位</span>
      <input type="hidden" name="lnglat" id="lnglat" value="{#$lnglat#}" />
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="wechatname">微信名称：</label></dt>
    <dd><input class="input-large" type="text" name="wechatname" id="wechatname" value="{#$wechatname#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="wechatcode">微信号：</label></dt>
    <dd><input class="input-large" type="text" name="wechatcode" id="wechatcode" value="{#$wechatcode#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label>微信二维码：</label></dt>
    <dd>
      <input name="wechatqr" type="hidden" id="wechatqr" value="{#$wechatqr#}" />
      <div class="spic{#if $wechatqr == ''#} hide{#/if#}">
        <div class="sholder">{#if $wechatqr#}<img src="/include/attachment.php?f={#$wechatqr#}" />{#/if#}</div>
        <a href="javascript:;" class="reupload"{#if $wechatqr#} style="display: inline-block;"{#/if#}>重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=business&type=card&obj=wechatqr" style="width:100%; height:25px;{#if $wechatqr#} display:none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="tel">联系电话：</label></dt>
    <dd><input type="text" class="input-large" id="tel" name="tel" value="{#$tel#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="qq">联系QQ：</label></dt>
    <dd><input type="text" class="input-large" id="qq" name="qq" value="{#$qq#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt>幻灯图片：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection2" class="piece clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder2"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" class="hide" id="deleteAllAtlas2">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>店铺图集：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection" class="piece clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" id="deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>经营许可证：</label></dt>
    <dd>
      <input name="license" type="hidden" id="license" value="{#$license#}" />
      <div class="spic{#if $license == ''#} hide{#/if#}">
        <div class="sholder">{#if $license#}<img src="/include/attachment.php?f={#$license#}" />{#/if#}</div>
        <a href="javascript:;" class="reupload"{#if $license#} style="display: inline-block;"{#/if#}>重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=business&type=card&obj=license" style="width:100%; height:25px;{#if $license#} display:none;{#/if#}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>其他证明文件：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection1" class="piece clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder1"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" class="hide" id="deleteAllAtlas1">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="opentime">营业时间：</label></dt>
    <dd><input type="text" class="input-large" id="opentime" name="opentime" value="{#$opentime#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="amount">人均消费：</label></dt>
    <dd><input type="text" class="input-large" id="amount" name="amount" value="{#$amount#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="parking">停车位：</label></dt>
    <dd><input type="text" class="input-large" id="parking" name="parking" value="{#$parking#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">店铺状态：</label></dt>
    <dd class="radio">
      <select name="state" id="state" class="input-medium">
        {#html_options options=$stateList selected=$state#}
      </select>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>认证信息：</label></dt>
    <dd>
		{#foreach from=$authArr item=auth#}
		<label><input type="checkbox" name="authattr[]" value="{#$auth.id#}"{#if $authattr && in_array($auth.id, $authattr)#} checked{#/if#} />{#$auth.typename#}</label>&nbsp;&nbsp;
		{#/foreach#}
		<a href="businessAuthAttr.php" class="btn btn-info btn-mini" style="display: inline-block; vertical-align: middle;" id="customRz">自定义认证属性</a>
	</dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><button class="btn btn-large btn-success" type="submit" name="button" id="btnSubmit">确认提交</button></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
