@charset "utf-8";
/* CSS Document */
body{background:url(../images/bj.jpg) no-repeat;;}
.main {background: rgba(0, 0, 0, 0);}

/* 导航 */
.channel_screen_wide{height:31px;line-height:31px; background:#6f4f29;}
.main .main-menu{height:31px;line-height:31px;}
.main .main-menu li{background:url(../images/menuline.jpg) no-repeat right center;}
.main .main-menu li a{color:#fff;font-size:14px;font-weight:bold; display:block;}
.main .main-menu li a:hover{background:#d2c9b8;}
.main .main-menu li.navcurrent a{background:#d2c9b8;color:#000}

/* 招牌sign */
.sign_screen_wide{background-image:url(../images/sign.jpg);}
.m-sign .cname{color:#6f4f29;}
.clogo { color:#6f4f29;}

/* 标题 */
.con-title{font-weight:bold;color:#6f4f29;}
.con-title span{ display:inline-block;font-family:"Microsoft YaHei";font-size:16px;}
#bf0 .con-title,#bf6 .con-title{background:url(../images/bf0-h2.jpg) no-repeat;text-align:center;height:100px;line-height:115px;}
#bfa .con-title{background:url(../images/bfa-h2.jpg) repeat-x left center;text-align:center;height:40px;line-height:40px;}
#bfa .con-title span{background:url(../images/bfa-span.jpg) no-repeat;width:211px;}

/* 全屏轮播 */
.flashDiv .JQ-slide-content li a{background:url(../images/banner1.png) no-repeat center top;}

/* 公司档案 */
.company_files .moduleBoxbg{background:#fff;}
.com_da_T{background:url(../images/com_da_T.jpg) repeat-x;height:60px;line-height:60px;}
.g_com_span{color:#fff;}
.sj-line p{color:#3c3c3c;}

/* 产品分类 */
.cateBg_m{background:url(../images/cateBg.jpg) repeat-x 0 -30px;height:30px;line-height:30px;padding:0 10px;}
.cateBg_l{background:url(../images/cateBg.jpg) no-repeat 0 0;height:30px;line-height:30px;width:4px;}
.cateBg_r{background:url(../images/cateBg.jpg) no-repeat 0 -61px;height:30px;line-height:30px;width:4px;}
.cateBg_m .icon_cate_i{display:block;padding-left:14px;background:url(../images/icon_cate_i.png) no-repeat left center;}

/* 收藏店铺按钮 */
.btn-collect{background:url(../images/btn-collect.png) no-repeat left center;}
.btn-collect span{background: url(../images/btn-collect.png) no-repeat right center;}

/* 产品搜索 */
.product_search .moduleBoxbg{background:#886644;}
.input_w1,.input_w2{border:1px dotted #775522;background:#fff;}
.search-btn{background:url(../images/sear_btn.png) no-repeat;}
#bf1 .search-btn,#bf2 .search-btn{background-position:0 -36px;}

/* 产品橱窗 */
.btnBuy{display:none;}

/* 底部 */
#bf8{color:#fff;}
.copyright_screen_wide{background:#6f4f29;}
.footer p {text-align:center; color:#fff}
.footer .nav{height:34px;line-height:34px; color:#fff;}
.footer .nav a{color:#fff;}

/* 公司相册 */
.ad-gallery{padding-top:10px;}

/* 资讯详情 */
.product_search_rule .con-box,.info_detail_w .con-box{border-top:2px solid #6f4f29;}

/* 单品模块 */
.proSingle_n .moduleBoxbg{border:none;}
.proSigle_new1,.proSigle_new3{background:url(../images/proSbg.jpg) no-repeat top center;color:#663300;}
.proSigle_new4{background:url(../images/proSbg.jpg) no-repeat top center;color:#663300;}
.p_ts a{color:#663300;}
.n_pro_pf,.pro_dp_l5{background:#996633;}
.proSigle_new2{background:url(../images/proSbg4.jpg) no-repeat top center;color:#663300;}
.proSigle_new5{background:url(../images/proSbg5.jpg) no-repeat top center;height:360px;color:#663300;}
.n_pfUl{background:#996633;}
.n_pro_pf,.n_pfUl,.pro_dp_l5 .p_ts a{color:#fff;}

/* 单品属性 */
.pro_item_r{background:#996633;color:#fff;}

/* 亮点展示 */
.prohighUl li{background:#996633;}
.prohighUl,.proh_txt h2 a{color:#fff;}