<div class="w-form">
	{#if $storeid == 0#}
	<p style="color: #f00; text-align: center; line-height: 300px;">请先配置站点信息！</p>
	{#else#}
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=website&action={#if $id != ""#}edit{#$type#}&id={#$id#}{#else#}add{#$type#}{#/if#}" data-url="{#getUrlPath service='member' template='website-news'#}">
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>信息标题：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="100" data-title="请输入信息标题" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>信息分类：</dt>
			<dd id="selType">
				<div class="sel-group" data-title="请选择信息分类">
					<button type="button" class="sel">{#if $detail_typename#}{#$detail_typename#}{#else#}请选择{#/if#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#website action="sitetype" act="article"#}
						<li><a href="javascript:;" data-id="{#$row.id#}">{#$row.name#}</a></li>
						{#/website#}
					</ul>
				</div>
				<input type="hidden" name="typeid" id="typeid" value="{#$detail_typeid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>上传图片：</dt>
			<dd class="thumb fn-clear listImgBox">
				<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
				{#if $detail_litpic != ""#}
				<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;">
					<li id="WU_FILE_0_1">
						<a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}" width="100" height="100" /></a>
						<a class="reupload li-rm" href="javascript:;">删除图片</a>
					</li>
				</ul>
				{#else#}
				<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
				{#/if#}
				<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id="litpic">
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>关键词：</dt>
			<dd><input type="text" name="keywords" class="inp" id="keywords" size="60" maxlength="100" value="{#$detail_keywords#}" /></dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt>描述：</dt>
			<dd><textarea class="inp text" name="description" id="description" rows="3" cols="60" >{#$detail_description#}</textarea></dd>
		</dl>
		<dl class="fn-clear">
			<dt><span>*</span>内容：</dt>
			<dd>
				<script id="body" name="body" type="text/plain" style="width:90%;height:500px">{#$detail_body#}</script>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>验证码：</dt>
			<dd>
				<input type="text" class="inp" maxlength="4" size="6" name="vdimgck" id="vdimgck" autocomplete="off" data-title="请输入验证码" />
				<img src="/include/vdimgck.php" title="看不清？点击换一张" id="verifycode" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}确认提交{#else#}提交修改{#/if#}</button></dd>
		</dl>
	</form>
	{#/if#}
</div>
