{#$pageTitle = "站内消息 - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/message.css?v=1" media="all" />
<script>var atpage = 1, totalCount = 0, pageSize = 12, state = '{#$state#}', url = '{#getUrlPath service="member" template="message_detail" id="%id"#}';</script>
</head>

{#$pageCurr = "message"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">

	<div class="notice">公告：管理控制台改版啦，为便于您的操作，用户中心功能整合到管理控制台并对样式进行优化，欢迎体验！<a href="#" target="_blank">操作指南</a> <a href="#" target="_blank">建议反馈</a><em class="close">&times;</em></div>

	<div class="nav-tabs fn-clear">
		<ul class="fn-clear">
			<li data-id=""><a href="javascript:;">全部 (<span id="total">0</span>)</a></li>
			<li data-id="0"><a href="javascript:;">未读 (<span id="unread">0</span>)</a></li>
			<li data-id="1"><a href="javascript:;">已读 (<span id="read">0</span>)</a></li>
		</ul>
	</div>
	<div class="container">
	
		<div class="list" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />加载中，请稍候...</p></div>
		<div class="opera">
			<label><input type="checkbox" id="selectAll" /> 全选</label>
			<a href="javascript:;" class="delSelect">删除</a>
			<a href="javascript:;" class="readSelect">标记已读</a>
		</div>
		<div class="pagination fn-clear"></div>

	</div>
	
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/message.js?v=2"></script>
</body>
</html>