<style>
	.list {padding: 0 15px;}
</style>
<div class="nav-tabs fn-clear">
	<ul class="fn-clear">
		<li data-id="1" class="active"><a href="javascript:;">待送餐 (<span id="state1">0</span>)</a></li>
		<li data-id="2"><a href="javascript:;">等待收货 (<span id="state2">0</span>)</a></li>
		<li data-id="3"><a href="javascript:;">成功订单 (<span id="state3">0</span>)</a></li>
	</ul>
</div>
<table class="oh">
	<colgroup>
		<col style="width:30%;">
		<col style="width:10%;">
		<col style="width:10%;">
		<col style="width:10%;">
		<col style="width:10%;">
		<col style="width:18%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>菜单</td>
			<td>单价</td>
			<td>数量</td>
			<td>配送费</td>
			<td>优惠</td>
			<td>实付款</td>
			<td>操作</td>
		</tr>
	</tbody>
</table>
