<!-- 底部 s -->
<div class="footer-login">
	<p>
		<a href="">关于我们</a><span class="pice-1">|</span>
		<a href="">联系我们</a><span class="pice-1">|</span>
		<a href="">投诉建议</a><span class="pice-1">|</span>
		<a href="">广告服务</a><span class="pice-1">|</span>
		<a href="">隐私保护</a><span class="pice-1">|</span>
		<a href="">免责声明</a><span class="pice-1">|</span>
		<a href="">用户协议</a><span class="pice-1">|</span>
		<a href="">法律声明</a><span class="pice-1">|</span>
		<a href="">服务条款</a><span class="pice-1">|</span>
		<a href="">网络安全声明</a><span class="pice-1">|</span>
		<a href="">帮助中心</a>
	</p>
	<p>Copyright © {#$smarty.now|date_format:"%Y"#} {#$cfg_shortname#}. All rights reserved.  工信部备案：<a href="http://www.miibeian.gov.cn/" target="_blank">{#$cfg_beian#}</a></p>
</div>
<!-- 底部 e -->

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/laydate.js"></script>
