@charset "utf-8";
/* CSS Document */
*{padding:0 ;margin:0;}
a{text-decoration: none;}
*{font-family: "Microsoft Yahei";font-size: 15px;color: #333}
.fn-clear:after {visibility:hidden; display:block; font-size:0;content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
img{
	border: none;
}
.picture{
    background: #1da2ec url(../images/hy_banner.jpg) no-repeat 50% 0;
    height: 324px;
    margin-bottom: 20px;
    position: relative;
}
.picture .formbox{
    position: absolute;
    top: 195px;
    left: 50%;
    margin-left: -400px;
}
.search{
	/*position: absolute;
    left: 540px;
    top: 195px;*/
    background-color: #80cbf4;
    padding: 6px;
    border-radius: 2px;
    float: left;
}
.picture form input{
    padding: 0 8px;
    font-size: 16px;
    color: #555;
    height: 48px;
    width: 540px;
    border: 0 none;
    outline: 0;
    float: left;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.picture form button{
	    background: url(../images/company_sp_2017.png) no-repeat;
	border: 0 none;
    outline: 0;
    float: left;
    height: 48px;
    padding: 0 20px 0 50px;
    background-color: #f78115;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: -354px 10px;
}
.picture .but-2{
	/*position: absolute;
    left: 1220px;
    top: 195px;*/
    float: left;
    margin-left: 10px;
    background-color: #80cbf4;
    padding: 6px;
    border-radius: 2px;
}
.picture .but-2 a{
	border-radius: 2px;
    display: block;
    color: #fff;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    background-color: #82cc12;
    font-size: 16px;
}
.text{
	width: 1200px;
	margin: 0 auto;
}
.t-l{
	width: 210px;
	float: left;
}
.t-head a{
	background-color: #fff;    
	border: 1px solid #eee;
    border-top: 2px solid #f78115;
    color: #404040;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: normal;
    width: 184px;
    float: left;
}
.t-head a:hover{
    color: #ff6600;
    text-decoration: none;
}
.t-list ul{
	    height: 106px;
	    overflow: hidden;
	    float: left;
}
.t-list ul.live span{
	border-left: 2px solid #f78115;
}
.t-list ul.live span a{
	color: #f78115;
} 
.caption b{
	float: left;
	width: 196px;
    border: 1px solid #eee;
    border-bottom: 0 none;
    border-top: 0 none;
    padding: 5px 0 5px 12px;
    line-height: 28px;
    font-size: 14px;
}
.caption b a{
	float: left;
    width: 50%;
    height: 28px;
    overflow: hidden;
    word-break: break-all;
    font-weight: normal;
        color: #999;
        font-size: 14px;
}
.caption b a:hover{
	color: #d00;
}
.caption span{
	width: 184px;
	display: block;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-bottom: 0 none;
    border-top: 0 none;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: normal;
    float: left;
    position: relative;
}
.caption span p{
    background: url(../images/company_sp_2017.png) no-repeat;
    display: block;
    position: absolute;
    right: 12px;
    top: 17px;
    width: 16px;
    height: 12px;
    background-position: -384px -82px;
    cursor: pointer;
    float: right;
}
.bb{
    background: #37a6e7;
    border-radius: 3px; 
}
.bb a{
    color: #fff;
}
.caption span a{
	color: #404040;
	    font-size: 16px;
    font-weight: normal;
}
.caption span a i{
	font-style: normal;
    color: #aaa;
    font-weight: normal;
    font-size: 12px;
    margin-left: 3px;
}
}
.t-r{
	margin-left: 20px;
	float: left;
}
.quyu ul {
	    border: 1px solid #eee;
    font-size: 14px;
    line-height: 31px;
    padding: 13px 0;
    margin-bottom: 15px;
    float: right;
    width: 966px;
}
.quyu ul li a{
    float: left;
    padding: 0 14px;
    border-radius: 3px;
        font-size: 14px;
    line-height: 31px;
    height: 31px;

}
.quyu ul li p{
    background: url(../images/pc_icons_11.png) no-repeat;
        float: left;
    color: #999;
    padding: 0 8px 0 32px;
    height: 31px;
    background-position: -118px -185px;
    line-height: 31px;
}
.quyu ul li{
	float: left;
}
.title{
    background-color: #f7f7f7;
    float: left;
    margin-left: 20px;
    width: 968px;
}
.title-1{
	float: left;
	width: 548px;
    padding-left: 15px;
    margin-right: 12px;
	height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
}
.title-2{
	float: left;
    width: 76px;
    text-align: center;
    margin-right: 61px;
	height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
}
.title-3{
    float: left;
    width: 86px;
    text-align: center;
  	height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
}
.information{
	width: 968px;
    float: right;
    margin-left: 20px;
    height: 65px;
        padding: 15px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: 14px;
}
.hover{
	background-color: #fcfcfc;
}
.information .xinxi{
	    width: 548px;
    margin-right: 12px;
    float: left;
}
.information .xinxi a img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    vertical-align: top;
    float: left;
    margin-right: 15px;
    position: relative;
}
.information .xinxi ul{
	height: 60px;
}
.information .xinxi ul li{
	height: 36px;
}
.information .xinxi ul li p a{
    color: #3366cc;
    font-size: 16px;
    float: left;
    font-weight: normal;
    max-width: 170px;
    margin-right: 5px;
}
.information .xinxi ul li span{
	    color: #777;
    float: left;
    margin-right: 10px;
}
.information .xinxi ul li span a{
	text-decoration: none;
    color: #333;
    font-size: 14px;
}
.information .xinxi ul li span a:hover{
	color: #d00;
}
.information .xinxi ul li b{
	font-style: normal;
	    float: left;
    margin-right: 6px;
    color: #fff;
    padding: 1px 4px;
    border: 1px solid #2bc17a;
    background-color: #2bc17a;
    border-radius: 2px;
    font-size: 12px;
}
.information .xinxi ul li i{
	font-style: normal;
	    background-color: #fff;
    border: 1px solid #f96969;
    color: #f96969;
    padding: 1px 4px;
    font-size: 12px;
    border-radius: 2px;
    float: left;
    margin-right: 6px;
}
.information .xinxi ul .xin-1{
	color: #999;
    margin-bottom: 6px;
    padding-left: 20px;
    background: url(../images/company_sp_2017.png) no-repeat;
        background-position: -382px -44px;
    display: block;
    float: left;
    font-size: 14px;
}
.fabu{
	float: left;
    width: 76px;
    text-align: center;
    margin: 22px 61px 0 15px; 
}
.fabu p{
    font-size: 14px;
    color: #666;    
}
.pingfen{
	float: left;
    width: 84px;
    text-align: center;
    margin: 22px 61px 0 10px;
}
.pingfen span{
    background: url(../images/pc_icons_11.png) no-repeat;
    width: 84px;
    height: 18px;
    background-position: -93px -585px;
    float: left;
}
.phone{
	width: 87px;
	height: 24px;
	float: left;
	margin-top: 22px;
    position: relative;
}
.phone .droptit{
    float: left;
    display: inline;
    margin-left: 5px;
    position: relative;
    border: 1px solid #eee;
    width: 22px;
    height: 22px;
    border-radius: 2px;
}
.phone  p{
    background: url(../images/company_sp_2017.png) no-repeat;
    display: block;
    background-position: 2px -45px;
    text-indent: -999em;
    overflow: hidden;
    width: 22px;
    height: 22px;
}
.phone  i{
    background: url(../images/company_sp_2017.png) no-repeat;
    background-position: -33px -45px;
    width: 22px;
    height: 22px;
    display: block;
}
.phone b{
    background: url(../images/company_sp_2017.png) no-repeat;
    background-position: 2px 4px;
    width: 22px;
    height: 22px;
    display: block;
}
.phone span{
    background: url(../images/company_sp_2017.png) no-repeat;
    display: block;
    position: absolute;
    top: 22px;
    right: 7px;
    width: 7px;
    height: 4px;
    overflow: hidden;
    background-position: -50px -12px;
}
.yejiao{
	float: right;
	width: 968px;
    font-family: arial;
    font-size: 14px;
    padding: 40px 0!important;
    text-align: center;
}
.up{
    color: #ddd;
    border: 1px solid #eee;
    padding: 8px 13px;
    font-size: 14px;
    line-height: 20px;
}
.down{
    color: #ddd;
    border: 1px solid #eee;
    padding: 8px 13px;
    font-size: 14px;
    line-height: 20px;
}
.nub{
    background-color: #fff;
    padding: 8px 13px;
    border: 1px solid #ededed;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.nub-1{
    color: #fff;
    border-color: #88929a!important;
    background: #88929a!important;
    margin: 0 0 0 5px;
    padding: 8px 13px;
}
.live{
	height: auto!important;
}
.live li span p{
    background-position: -384px -121px;
}
.p-1,.p-2,.p-3{
    display: none;
    position: absolute;
    right: 0px;
    top: 26px;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 2px;
    color: #f78115;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 24px;
    z-index: 111;
}
.p-3 img{
    width: 100px;
    height: 100px;
    vertical-align: top;
}
.yejiao p{
    float: right;
    font-size: 14px;
    color: #999; 
}
.t-r{
    float: right;
}
.title{
    float: right;
}
.right{
    float: right;
    width: 968px;
}