.lead-img{
	width: 1200px;
	margin: 0 auto;
}
.lead-img img{
	width: 1180px;
	height: 193px;
	margin-top: 10px;
    border: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    padding: 10px;
}
.paihang{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
    height: 35px;
    background-color: #f27613;
}
.paihang .p-1 a{
	color: #000;
}
.p-1{
	background-color: #dbdbdb;
	position: relative;
}
.p-1 p{
		background-image: url(../images/tp_bg.gif);
	background-position: -328px -184px;
	width: 20px;
	height: 10px;
	position: absolute;
	left: 64px;
}

.paihang span{
	float: left;
	width: 148px;
	height: 35px;
	text-align: center;
}
.paihang span a{
	font-size: 15px;
    color: #fff;
    line-height: 35px;
}
.paihang span a:hover{
	text-decoration: underline;
}
.p-2{
	background: url(../images/tp_bg.gif) no-repeat 0 0;
	display: block;
    width: 103px;
    height: 28px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.list{
	width: 1200px;
	margin: 10px auto;
}
.content{
	width: 205px;
	margin: 10px 17px;
	float: left;
}
.content p a img{
	vertical-align: top;
    width: 205px;
    height: 170px;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #ddd;
}
.t-1{
	width: 205px;
	height: 22px;
	background-color: #fefbec;
	padding: 3px;
}
.t-1 p{
	margin-left: 4px;
	float: left;
    color: #666;
}
.t-1 a{
	color: #333;
	float:left;
}
.t-1 a:hover{
    color: #d00;
    text-decoration: none
}
.t-1 span{
	float: right;
    color: #666;
}
.t-2{
	width: 205px;
	height: 16px;
	background-color: #fefbec;
	padding: 3px;
}
.t-2 p{
	float: left;
	width: 68px;
	height: 16px;
	text-align: center;
}
.t-2 p span{
    color: #d00;
    margin-left: 4px;
}
.t-2 p i{
    color: #005dbc;
    margin-left: 4px;
}
.t-2 p b{
	color: #49870c;
	margin-left: 4px;
}
.t-2 p img{
	width: 13px;
	height: 13px;
}
.t-3{
	width: 205px;
	height: 24px;
	background-color: #fef0d0;
	padding: 3px;
}
.t-3 span a {
	float: left;
	display: block;
    width: 68px;
    height: 18px;
    background-color: #f27613;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 18px;
    margin-top: 3px;
}
.t-3 p a{
	float: left;
	width: 68px;
	height: 18px;
	text-align: center;
	line-height: 21px;
    color: #666;
    margin-top: 3px;
}
.dd{
	width: 1200px;
	margin: 0 auto;
	height: 39px;
	margin-top: 30px;
}
.page .p{
	width: 8px;
	height: 20px;
	color: #888; 
}
.page li{
	font-size: 14px;
		text-align: center;
	line-height: 9px;
}
.page .oo{
	margin-left: -1px;
    padding: 8px 9px;
    border: 1px solid #eee;
    color: #aaa;
    font-style: normal;
}
.page .pp{
	margin-left: -1px;
    padding: 8px 9px;
    border: 1px solid #eee;
    color: #aaa;
    font-style: normal;
}
.opdv{
    width: 600px;
    height: 260px;
    border: 1px solid #dddfdc;
    margin: 0 auto;
    position: fixed;
    background: #fff;
    z-index: 999;
    left: 50%;
    margin-left: -300px;
    top: 180px;
    display: none;
}
.rewardS-mask{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}
.op-1{
    background-color: #ff9a32;
    height: 36px;
}
.op-1 p{
    float: left;
    color: #ffffff;
    margin-left: 10px;
    line-height: 36px;
    font-size: 14px;
}
.op-1 span{
    float: right;
    color: #ffffff;
    line-height: 36px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.op-2{
    color: #ff0101;
    text-align: center;
    height: 43px;
    line-height: 43px;
}
.op-3{
    width: 600px;
    height: 50px;
}
.op-3 p{
    font-size: 14px;
    float: left;
    line-height: 38px;
    margin-left: 10px;
}
.op-3 input{
    float: left;
    width: 138px;
    height: 38px;
    outline: none;
    border: 1px solid #efefef;
    padding-left: 10px;
    font-size: 14px;
}
.op-4{
    width: 600px;
    height: 50px;
    margin-top: 10px;
}
.op-4 p {
    font-size: 14px;
    float: left;
    line-height: 38px;
    margin-left: 10px;
}
.op-4 input{
    float: left;
    width: 138px;
    height: 38px;
    outline: none;
    border: 1px solid #efefef;
    margin-left: 11px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.op-5 {
    width: 600px;
    height: 50px;
}
.op-5 span a{
    width: 96px;
    height: 35px;
    background-color: #ff9a32;
    border-radius: 5px;
    text-align: center;
    float: left;
    line-height: 35px;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 10px;
    outline: none;
}
.jk{
    color: #9a9a9c;
    line-height: 44px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.vdimgck{
    float: left;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
    margin-top: 12px !important;
}
