@charset "utf-8";
/* CSS Document */
*{padding:0 ;margin:0;}
a{text-decoration: none;}
*{font: 12px/1.5 "Microsoft Yahei"}
.fn-clear:after {visibility:hidden; display:block; font-size:0;content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
li {list-style: none;}
.head {width: 1200px;
	margin:15px auto;
}
img{
	border: none;
}
.head p{
	float: left;
	color: #848484;
	background:url(../images/house_pc_icons.png) no-repeat;
	background-position: 0 -56px;
	text-indent: 15px;
}
.head a{
	color: #848484;
}
.head i{
	color: #f78115;
}
.border{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #f1f1f1;
}
.border .lead{
    padding: 0 10px;
    border-bottom: 0 none;
    height: 33px;
    background-color: #f7f7f7;
}
.border .lead  li span{
    font-size: 16px;
    line-height: 31px;
    color: #666;
}
.l-1{
	float: left;
	width: 620px;
}
.l-2{
	float: left;
	width: 220px;
}
.l-3{
	float: left;
	width: 180px;
}
.l-4{
	float: left;
	width: 130px;
}
.text{
	 padding: 0 10px;
	 height: 47px;
	 border-bottom: 1px solid #f1f1f1;
}
.text li span{
    color: #666;
    font-size: 14px;
    line-height: 46px;
    height: 46px;
}
.text li span a{
	font-size: 14px;
    color: #36c;
    float: left;    
    width: 620px;
    line-height: 46px;
    height: 46px;
}
.text li span a:hover{
    color: #d00
}
.next li{
	text-align: center;
    padding: 50px 0;
}
.up{
	color: #e4e4e4;
	font-size: 14px;
	border: 1px solid #e4e4e4;
	padding: 8px 13px;
	margin-right: 10px;
}
.up:hover{
	background-color: #f78115;
}
.down{
	color: #e4e4e4;
	font-size: 14px;
	border: 1px solid #e4e4e4;
	padding: 8px 13px;
	margin-left: 10px;
}
.down:hover{
	background-color: #f78115;
}
.numb{
    border: 1px solid #f78115;
    background-color: #f78115;
    color: #fff;
    cursor: default;
    padding: 8px 13px;
}
.nn{
    border: 1px solid #e4e4e4;
    color: #666;
    padding: 8px 13px;
}
.nn:hover{
    border: 1px solid #f78115;
    background-color: #f78115;
    color: #fff;
}