.show{
	width: 1200px;
	margin: 0 auto;
}
.show img{
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 15px;
}
.show-r{
	float: left;
	background-color: #f3f3f3;
	height:300px;
	overflow: hidden;
	width: 785px;
}
.name{
	width: 770px;
	height: 53px;
	border-bottom: 1px solid #dddddd
}
.name p{
    color: #666;
    float: left;
    line-height: 54px;
    margin-left: 20px;
}
.name i{
	 color: #666;
    float: right;
      line-height: 54px;
      margin-right: 20px;
}
.name span{
	font-size: 18px;
    color: #000;
    float: left;
    line-height: 50px;
}
.age b{
	font-size: 14px;
    color: #999;
    float: left;
    margin: 10px 0px 10px 20px;
}
.age p{
    color: #666;
    font-size: 14px;
    float: left;
    margin: 10px 50px 10px 0;
} 
.wei{
	width: 200px;
}
.age-1{
	float: left;
	width: 770px;
}
.age-1 b{
	font-size: 14px;
    color: #999;
    float: left;
    margin-left: 20px;
}
.age-1 p{
    color: #666;
    font-size: 14px;
    float: left;
}
.votes{
	float: left;
	background: #e6e6e6;
    margin: 15px 10px 8px;
    padding: 6px 5px;
    width: 750px;
}
.votes span{
	    color: #999;
    font-size: 14px;
}
.v-1{
	margin-left: 122px;
}
.votes b{
	    color: #f30;
    font-size: 24px;
}
.votes i{
    color: #037be1;
    font-size: 24px
}
.votes em{
	color: #629c10;
    font-size: 24px;
}    
.choose{
	float: left;
	margin-top: 10px;
	width: 760px;
}
.choose .c-1{
	background: url(../images/tp_menu.gif) no-repeat 0 0;
	width: 161px;
    height: 43px;
    float: left;
    margin-left: 10px;
}
.choose .c-2{
	background: url(../images/tp_menu.gif) no-repeat 0 0;
	width: 106px;
    height: 35px;
    background-position: 0 -43px;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}
.choose .other{
	text-decoration: underline;
	color: #333;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}
.other:hover{
	    color: #d00;
}
.pass{
	float: left;
	margin-top: 10px;
}
.pass b{
	    color: #666;
	        line-height: 40px;
    margin-left: 10px;
    float: left;
}
.weibo{
    padding: 1px 12px 4px 17px;
    margin: 9px 0 6px 6px;
    float: left;
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #edeeee;
    cursor: pointer;
    font-size: 12px;
    background-position: -363px -82px;
}
.kongjian{

    padding: 1px 12px 4px 17px;
    margin: 9px 0 6px 6px;
    float: left;
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #edeeee;
    cursor: pointer;
    font-size: 12px;
    background-position: -361px -107px;
}
.tengxun{
    padding: 1px 12px 4px 17px;
    margin: 9px 0 6px 6px;
    float: left;
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #edeeee;
    cursor: pointer;
    background-position: -359px -132px;
}
.weixin{
    padding: 1px 12px 4px 17px;
    margin: 9px 0 6px 6px;
    float: left;
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #edeeee;
    cursor: pointer;
    font-size: 12px;
    background-position: -360px -157px;
}
.cansai{
	width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}
.can-l{
	height: 35px;
    background-color: #f27613;
    text-align: left;
    position: relative;
}
.can-l p{
	text-align: center;
    background-color: #dbdbdb;
    height: 35px;
    width: 148px;
    line-height: 35px;
    font-size: 15px;
    position: relative;
}
.can-l span{
	background: url(../images/tp_bg.gif) no-repeat 0 0;
	display: block;
    width: 20px;
    height: 10px;
    background-position: -328px -184px;
    position: absolute;
    left: 63px;
}
.can-l em{
	    color: #fff;
	    float: right;
        position: absolute;
	    right: 18px;
	    top: 8px;
}
.can-l b{
        color: #fff;
        float: right;
        position: absolute;
        right: 57px;
        top: 5px;
        font-size: 16px;
}
.can-n{
	 border: 1px solid #dbdbdb;
	 padding: 10px;
	 line-height: 20px;
}
.can-n span{
	font-size: 20px;
}
.can-n p{
	font-size: 20px;
	line-height: 33px;
}
.can-n b{
	font-size: 28px;
}
.fengcai{
	width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}
.wangyou {
	width: 1200px;
	margin: 10px auto;
	 border: 1px solid #dbdbdb;
	 line-height: 20px;
}
.hh{
	 padding: 25px;
	 line-height: 20px;
	 margin-top: 10px;
}
.pinglun{
	width: 1148px;
	height: 105px;
	    border-bottom: 1px solid #f3f3f3;
}
.pinglun img{
	float: left;
}
.p-1{
	width: 1069px;
	float: left;
}
.p-1 p{
    color: #999;
    float: left;
}
.p-1 b{
	color: #36c;
	float: left;
    margin-left: 4px;
}
.p-1 i{
	float: right;
	  color: #999;
}
.p-2 p{
	width: 1069px;
	float: left;
	color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
}
.pinglun ul{
	margin-left: 10px;
	float: left;
}
.p-3{
	margin-top: 10px;
	width: 123px;
	float: right;
}
.p-3 p{
	background: url(../images/revert2014.png) no-repeat 0 0;
    background-position: 0 1px;
    float: left;
    text-indent: 20px;
    color: #36c;
    cursor: pointer;
}
.p-3 p:hover{
	    color: #d00;
}
.p-3 b{
    background: url(../images/revert2014.png) no-repeat 0 0;
    background-position: 0 -75px;
    float: left;
    text-indent: 20px;
    color: #36c;
    cursor: pointer;
    margin-left: 8px;
}
.p-3 b:hover{
	color: #d00;
}
.tt{
	margin-bottom: 22px;
}
.tt .shuru{
	width: 1138px;
	height: 99px;
	border: 1px solid #eee;
	outline: none;
	margin: 0 auto;
	padding: 7px 10px 10px;
	border: 1px solid #ddd;
}
.tijiao{
	width: 1138px;
	margin: 0 auto;
	height: 30px;
	border: 1px solid #ddd;
	border-top: none;
	padding: 7px 10px 10px;
}
.tijiao p a{
	background: url(../images/revert2014.png) no-repeat 0 0;
	padding-left: 22px;
    background-position: 0 -193px;
    line-height: 28px;
    color: #333;
    float: left;
    height: 28px;
}
.tijiao p a:hover{
	    background-position: 0 -218px;    
	    color: #d00;
}
.right{
	float: right;
}
.right b {
	font-size: 12px;
    line-height: 28px;
    color: #666;
    margin-left: 5px;
}
.right i{
	    color: rgb(64, 64, 64);
	    margin: 0 10px ;
}
.right button{
	    background-color: #aaa;
        width: 88px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 0 none;
    vertical-align: top;
    outline: none;
}
.tt-1{
    margin-bottom: 22px;
    float: right;
    margin-left: 86px;
    display: none;
}
.tt-1 .shuru-1{
    width: 1000px;
    height: 99px;
    border: 1px solid #eee;
    outline: none;
    margin: 0 auto;
    padding: 7px 10px 10px;
    border: 1px solid #ddd;
}
.tijiao-1{
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    border: 1px solid #ddd;
    border-top: none;
    padding: 7px 10px 10px;
}
.tijiao-1 p a{
    background: url(../images/revert2014.png) no-repeat 0 0;
    padding-left: 22px;
    background-position: 0 -193px;
    line-height: 28px;
    color: #333;
    float: left;
    height: 28px;
}
.tijiao-1 p a:hover{
        background-position: 0 -218px;    
        color: #d00;
}
.right-1{
    float: right;
}
.right-1 s {
    font-size: 12px;
    line-height: 28px;
    color: #666;
    margin-left: 5px;
    text-decoration: none;
}
.right-1 strong{
        color: rgb(64, 64, 64);
        margin: 0 10px ;
}
.right-1 button{
        background-color: #aaa;
        width: 88px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 0 none;
    vertical-align: top;
    outline: none;
}

.opdv{
    width: 600px;
    height: 260px;
    border: 1px solid #dddfdc;
    margin: 0 auto;
    position: fixed;
    background: #fff;
    z-index: 999;
    left: 50%;
    margin-left: -300px;
    top: 180px;
    display: none;
}
.op-1{
    background-color: #ff9a32;
    height: 36px;
}
.op-1 p{
    float: left;
    color: #ffffff;
    margin-left: 10px;
    line-height: 36px;
    font-size: 14px;
}
.op-1 span{
    float: right;
    color: #ffffff;
    line-height: 36px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.op-2{
    color: #ff0101;
    text-align: center;
    height: 43px;
    line-height: 43px;
}
.op-3{
    width: 600px;
    height: 50px;
}
.op-3 p{
    font-size: 14px;
    float: left;
    line-height: 38px;
    margin-left: 10px;
}
.op-3 input{
    float: left;
    width: 138px;
    height: 38px;
    outline: none;
    border: 1px solid #efefef;
    font-size: 14px;
    padding-left: 10px;
}
.op-4{
    width: 600px;
    height: 50px;
    margin-top: 10px;
}
.op-4 p {
    font-size: 14px;
    float: left;
    line-height: 38px;
    margin-left: 10px;
}
.op-4 input{
    float: left;
    width: 138px;
    height: 38px;
    outline: none;
    border: 1px solid #efefef;
    margin-left: 11px;
    margin-right: 10px;
    font-size: 14px;
    padding-left: 10px;
}
.op-5 {
    width: 600px;
    height: 50px;
}
.op-5 span a{
    width: 96px;
    height: 35px;
    background-color: #ff9a32;
    border-radius: 5px;
    text-align: center;
    float: left;
    line-height: 35px;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 10px;
    outline: none;
}
.jk{
    color: #9a9a9c;
    line-height: 44px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.vdimgck{
    float: left;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
    margin-top: 12px !important;
}
.rewardS-mask{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}