{#$pageTitle = "预约管理 - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage.css" media="all" />
<script type="text/javascript">
	var module = '{#$module#}', atpage = 1, totalCount = 0, pageSize = 30, state = '{#$state#}', type = '{#$type#}';
</script>
</head>

{#$pageCurr = "booking_{#$module#}"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	{#include file="booking-$module.html"#}
	<div class="container fn-clear">
		<div class="list {#$module#}" id="list"><p class="loading"><img src="{#$cfg_staticPath#}images/ajax-loader.gif" />加载中，请稍候...</p></div>
		<div class="pagination fn-clear"></div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/booking-{#$module#}.js?v=1"></script>
</body>
</html>
