{#if $do == "edit"#}
{#$pageTitle = "修改团队成员信息 - "|cat:$detail_name|cat:" - "|cat:$cfg_webname#}
{#else#}
{#$pageTitle = "新增团队成员 - "|cat:$cfg_webname#}
{#/if#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v=2" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/team.css?v=2" media="all" />
<script type="text/javascript">
	var modelType = '{#$module#}', uploadType = "photo";
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}';
	var id = {#$id#};
</script>
</head>

{#$pageCurr = "team_{#$module#}"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
	<div class="container fn-clear">
		{#include file="teamAdd-$module.html"#}
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v=2"></script>
<script type="text/javascript" src="{#$templets_skin#}js/teamAdd-{#$module#}.js?v=3"></script>
</body>
</html>
