
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>泸西微城</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" >
		<link rel="stylesheet" href="css/mui.min.css">
		<style>
		.banner img{
			width: 100%;
			display: block;
		}
		.text{
			background: #fff;
			padding: 10px;
			margin-bottom: 10px;
		}
		.text .tips{
			margin-top: 5px;
		}
		.text span{
			font-size: 14px;
			margin-right: 5px;
		}
		.details{
			background: #fff;
			margin-bottom: 10px;
		}
		.details .title{
			padding:5px 10px;
			border-bottom: 1px solid #ddd;
			font-weight: 600;
		}
		.details .content{
			padding: 10px;
			font-size: 14px;color: #666;
		}
		</style>
	</head>
	<body>
		<div class="mui-content">
			<div class="banner">
				<img src="img/banner.png" alt="">

			</div>
			<div class="text">
				<h4>我是标题</h4>
				<div class="tips">
					<span style="color: #ff7400;">免费</span>
					<span>库存：5000</span>
					<span>已领取:1258</span>	
				</div>
			</div>
			<div class="details">
				<div class="title">商品详情</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus minus voluptatem earum, nemo iure laudantium fugit accusamus ea quam minima culpa. Excepturi aspernatur vel explicabo maiores laboriosam officiis eum tempore.
				</div>
			</div>
			<div class="details">
				<div class="title">免费领取规则</div>
				<div class="content">
					为满足每位用户的需求,你可以对平台的界面、功能使用、服务等方面的问题提出有益的建议
					<br>一经采用,即可免费领取该礼品！
				</div>
			</div>
			<div style="padding: 15px;">
					<a href="advise.html" class="mui-btn mui-btn-danger" style="background-color: #ff7400;top:5px;width: 100%;border:none;line-height: 30px;">马上提意见</a>
				</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
	</body>
</html>