{#$cssFile = array("index.css")#}
{#include file='_header.html' pageTitle='店铺列表' cssFile=$cssFile#}

  <!-- 列表 s -->
  <div class="container">
    <div class="loading" style="border-bottom: 0px solid transparent; height: 0px;" data-loading="false">下拉刷新...</div>
    <div class="list">
      <div class="load">正在加载，请稍后···</div>
    </div>

  </div>
  <!-- 列表 e -->

  <div class="blank"></div>

  {#$jsFile = array("drag-loading.js", "index.js")#}
  {#include file='_footer.html' curr='shop'#}
  
</body>
</html>
