<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}",
  modelType = "waimai", adminPath = "{#$adminPath#}",
  typeid = {#$typeid#};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="storeName">所属餐厅：</label></dt>
    <dd style="position:static;">
      <input class="input-xlarge" type="text" name="storeName" id="storeName" autocomplete="off" value="{#$storeName#}" />
      <input type="hidden" name="store" id="store" value="{#$store#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>请输入餐厅名称</span>
      <div id="storeList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="typeid">相册分类：</label></dt>
    <dd>
      <select id="typeid" name="typeid" disabled="disabled">
        {#$typeList#}
      </select>
    </dd>
  </dl>
  {#if $dopost == "edit"#}
  <dl class="clearfix">
    <dt><label for="title">图片名称：</label></dt>
    <dd>
      <input class="input-large" type="text" name="title" id="title" value="{#$title#}" maxlength="20" data-regex=".{2,20}" />
      <span class="input-tips"><s></s>请输入图片名称，2-20位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>缩略图：</dt>
    <dd>
      <input name="litpic" type="hidden" id="litpic" value="{#$path#}" />
      <div id="license" class="uploadinp uploading"><span id="uploadBt"></span></div>
      <div id="licenseFiles" style="display:inline-block;"><a href='{#$cfg_attachment#}{#$path#}' target="_blank"><img alt="" src="{#$cfg_attachment#}{#$path#}&type=small" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;" style="display:inline-block;">删除图片</a>
      <div id="licenseProgress" class="progressBar">
        <i id="licenseProgressBar" class="progress"></i>
        <span id="licensePercent">0%</span>
        <a id="cancelUploadBt" href="javascript:;">取消</a>
      </div>
    </dd>
  </dl>
  {#else#}
  <dl class="clearfix">
    <dt>上传图片：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection" class="picColor clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" id="deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  {#/if#}
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>