<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/center.css">
</head>
<body>
	<div class="center_lead fn-clear">
		<div class="cen_pic"><img src="upfile/20160212214325_iFSaZ.thumb.224_0.jpeg" alt=""></div>
		<div class="cen_id">
			<span><b>最后的最后</b><em>VIP</em></span>
			<p>顾客ID：16238987</p>
		</div>
		<div class="qd"><a href="#">
			<p><i></i>签到</p>
			<s></s>
		</a></div>
	</div>
	<div class="center_infor fn-clear">
		<ul>
			<li><a href="#"><em>0.00</em><span>会员余额</span></a></li>
			<li><a href="#"><em>22</em><span>积分</span></a></li>
			<li><a href="#"><em>0</em><span>优惠券</span></a></li>
			<li><a href="#"><em>1</em><span>我的邮件</span></a></li>
		</ul>
	</div>
	<div class="center_list">
		<div class="center_txt dingdan"><a href="center_indent.html"><i></i><em>我的订单</em><span></span></a></div>
		<div class="center_txt shoucang"><a href="#"><i></i><em>我的收藏</em><span></span></a></div>
		<div class="center_txt youxiang"><a href="#"><i></i><em>我的邮箱</em><span></span></a></div>
	</div>
	<div class="center_list">
		<div class="center_txt huiyuan"><a href="#"><i></i><em>会员中心</em><span></span></a></div>
		<div class="center_txt jifen"><a href="#"><i></i><em>我的积分</em><span></span></a></div>
		<div class="center_txt youhui"><a href="#"><i></i><em>优惠券</em><span></span></a></div>
		<div class="center_txt jiangpin"><a href="#"><i></i><em>我的奖品</em><span></span></a></div>
	</div>
	<div class="navtion fn-clear">
		<ul>
			<li class="shop "><a href="shop.html"><i></i><span>首页</span></a></li>
			<li class="xuangou"><a href="xuangou.html"><i></i><span>选购</span></a></li>
			<li class="car"><a href="car.html"><i></i><span>购物车</span></a></li>
			<li class="center nav_bc"><a href="center.html"><i></i><span>个人中心</span></a></li>
		</ul>
	</div>
	<script src="js/public.js"></script>
</body>
</html>