<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/email.css">
</head>
<body>
	<div class="email_lead fn-clear"><em>标题</em><span>时间</span><span>查看</span></div>
	<div class="eamil_list">
		<div class="email_txt fn-clear">
			<em>ceshi</em><span><i>2017-13-15</i><i>11:12:43</i></span><span><a href="email_detail.html"><b>详情</b></a></span>
		</div>
		<div class="email_txt fn-clear">
			<em>ceshi</em><span><i>2017-13-15</i><i>11:12:43</i></span><span><a href="email_detail.html"><b>详情</b></a></span>
		</div>
		<div class="email_txt fn-clear">
			<em>ceshi</em><span><i>2017-13-15</i><i>11:12:43</i></span><span><a href="email_detail.html"><b>详情</b></a></span>
		</div>
		<div class="email_txt fn-clear">
			<em>ceshi</em><span><i>2017-13-15</i><i>11:12:43</i></span><span><a href="email_detail.html"><b>详情</b></a></span>
		</div>
		<div class="email_txt fn-clear">
			<em>ceshi</em><span><i>2017-13-15</i><i>11:12:43</i></span><span><a href="email_detail.html"><b>详情</b></a></span>
		</div>
	</div>


	<script src="js/public.js"></script>
</body>
</html>