<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/onfoot.css">
	<link rel="stylesheet" href="css/indent.css">
</head>
<body>
	<div class="indent_list">
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="indent_detail.html">
			<h1>2017-03-23 11:19:28 <em>取消订单</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>待抢</span>
			</div>
		</a></div>
	</div>
	<div class="on_nav fn-clear">
		<ul>
			<li class="first"><a href="onfoot.html"><i></i><span>首页</span></a></li>
			<li class="second_1"><a href="indent.html"><i></i><span>订单</span></a></li>
			<li class="third"><a href="mine.html"><i></i><span>我的</span></a></li>
		</ul>
	</div>
	<script src="js/public.js"></script>
</body>
</html>