<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/integral_gift.css">
</head>
<body>
	<div class="gift_list">
		<div class="gift_lead fn-clear"><em>奖品列表</em><span>当前积分：22</span></div>
		<div class="need fn-clear"><em>所需积分：<b>0</b></em></div>
	</div>
	<div class="gift_infor">
		<h1>联系信息</h1>
		<div class="in_list">
			<div class="in_txt name"><em>联系人：</em><input type="text"></div>
			<div class="in_txt tel"><em>电话：</em><input type="text"></div>
			<div class="in_txt"><em>地址：</em><input type="text"></div>
			<div class="in_txt"><em>备注：</em><input type="text"></div>
		</div>
	</div>
	<div class="gift_button"><button>确认兑换</button></div>
	<div class="warning"></div>
	<script src="js/public.js"></script>
	<script src="js/integral_gift.js"></script>
</body>
</html>