<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/sign_in.css">
</head>
<body>
	<div class="shuru">
		<textarea placeholder="嗨，谢谢你的心情吧"></textarea>
	</div>
	<div class="qd_list fn-clear">
		<ul class="fn-clear">
			<li><em>3月24日</em><span>星期五</span></li>
			<li><em>1</em><span>总签到数</span></li>
			<li><em>1</em><span>连续签到数</span></li>
		</ul>
		<p class="on">签到</p>
		<p class="down">已签到</p>
	</div>
	<div class="gift">
		<em>今日签到奖励：</em>
		<span>20积分</span>
	</div>
	<div class="sign_list ">
		<ul>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
			<li>
				<div class="sign_infor fn-clear"><em>3月24日 星期五</em> <span>王*雅</span></div>
				<div class="sign_txt">外卖很不错！</div>
			</li>
		</ul>
	</div>
	<script src="js/public.js"></script>
	<script src="js/sign_in.js"></script>
</body>
</html>