body{
	font-family: "Helvetica Neue",arial!important;
}
select{
	display: block;
}
.location{
	margin-top: 30px;	
}
.location span a{
	color: #d1d1d1;
	font-size: 12px;
}
.location span.house a{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/qos_img.png) no-repeat center;
	background-position: -157px -62px;
	vertical-align: middle;
}
.location em{
	width: 15px;
	height: 25px;
	display: inline-block;
	background: url(../images/qos_img.png) no-repeat center;
	background-position: -163px -95px;
	vertical-align: middle;
}
.connect{
	margin-top: 20px;
}
.connect .slide{
	float: left;
	width: 528px;
	height: 420px;
	overflow: hidden;
}
.connect .slide .show_box{
	float: left;
	width: 420px;
	height: 420px;
}
.connect .slide .show_box ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;	
	border: 1px solid #e8e8e8;
	width: 420px;
	height: 418px;
}
.connect .slide .show_box ul li.hide{
	display: none!important;
}
.connect .slide .show_box ul li img{
	width: 100%;
}
.connect .slide .choice_box{
	float: right;
	width: 97px;
}
.connect .slide .choice_box ul li{
	width: 95px;
	height: 95px;
	border: 1px solid #e8e8e8;
	margin-bottom: 11px;
	cursor: pointer;
	overflow: hidden;
}
.connect .slide .choice_box ul li img{
	width: 95px;
	height: 95px;	
}
.connect .slide .choice_box ul li.choice_bc{
	border: 3px solid #2076e0;
	width: 92px;
	height: 92px;
}
.information{
	float: left;
	margin-left: 47px;
	width: 623px;
}
.information h1{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 50px;
}
.information ul li{
	height: 55px;
	line-height: 55px;
	overflow: hidden;
}
.information ul li em{
	font-size: 16px;
	color: #ababab;
	display: inline-block;
	width: 115px;
}
.information ul li span{
	font-size: 16px;
	font-weight: bold;
}
.information ul li span.tips{
	font-size: 14px;
	color: #c1c1c1;
	padding: 5px 12px;
	font-weight: normal;
	border: 1px solid #c1c1c1; 
	cursor: pointer; 
}
.information ul li span.tips_bc{
	border: 1px solid #1673e3;
	color: #1673e3;
}
.detail_btn{
	margin-top: 102px;
	float: left;
}
.detail_btn div{
	width: 292px;
	height: 68px;
	float: left;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 68px;
	border-radius: 5px;
}
.detail_btn div a{
	display: block;
}
.detail_btn div.inquiry{
	border: 1px solid #2076e0;
	margin-right: 37px;
}
.detail_btn div.inquiry a{
	color: #2076e0;
}
.detail_btn div.add{
	background: #2076e0;
}
.detail_btn div.add a{
	color: #fff;
}
/*宸﹁竟琛ㄦ牸*/
#inquiry_left {
	height: 412px;
	width: 607px;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	float: left;
}

.left-title {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
}

.left-title ul {
	width: 2000px;
	height: 59px;
	background-color: #e1e1e1;
}
.left_choice {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 59px;
}
.left_choice ul{
	width: 2000px;
	height: 59px;
	background-color: #ebebeb;	
}
.left_choice ul li{
	float: left;
    line-height: 1;
    padding: 0 10px;
    width: 171px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    word-wrap: break-word;
    height: 30px;
}
.left_choice ul li select{
	width: 100%;
	padding: 5px 0;
}
.left_choice ul li:nth-child(3){
	width: 200px;
}
.left_choice ul li select{
	width: 100%;
	border: 1px solid #e5e5e5;
	color: #c1c1c1;
}
.right_choice ul{
	background-color: #ebebeb;	
	height: 59px;
}
.right_choice ul li{
    float: left;
    line-height: 59px;
    width: 166.5px;
    text-align: center;
    font-size: 16px;
    color: #666;
    height: 25px;
    margin-top: 15px;
}
.right_choice ul li select{
	width: 100%;
	border: 1px solid #e5e5e5;
	color: #c1c1c1;
	padding: 5px 0;
}

#inquiry_left .left-content ul li {
	float: left;
	line-height: 59px;
	padding: 0 10px;
	width: 171px;
	text-align: center;
	font-size: 16px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#inquiry_left .left-content ul li.third{
	width: 200px;
}
#inquiry_left .left-title ul li {
	float: left;
	line-height: 1;
	padding: 0 10px;
	width: 171px;
	text-align: center;
	font-size: 16px;
	color: #666;
	/*margin-top: 21.5px;*/
	/*margin-bottom: 21.5px;*/
	margin-top: 15px;
	word-wrap: break-word;
	background: url(../images/bg.gif) no-repeat right;
	cursor: pointer;
}
#inquiry_left .left-title ul li.up{
	background: url(../images/desc.gif) no-repeat right;
}
#inquiry_left .left-title ul li.down{
	background: url(../images/asc.gif) no-repeat right;
}
#inquiry_left .left-title ul li.third{
	width: 200px;
}
.left-content {
	width: 2000px;
	height: auto;
	position: absolute;
	top: 118px;
}

.left-content ul {
	width: auto;
	height: 59px;
}

#inquiry_left .left-content ul li {
	font-size: 14px;
}

/*鍙宠竟琛ㄦ牸*/
#inquiry_right .right-content {
	height: 354px;
	overflow-y: auto;
}

#inquiry_right ul li {
	float: left;
	line-height: 59px;
	width: 166.5px;
	text-align: center;
	font-size: 16px;
	color: #666;
}
#inquiry_right .right-content ul li {
	font-size: 14px;
	width: 161px;
	position: relative;
}
#inquiry_right .right-content ul li.four_2{
	line-height: 14px!important;
	margin-top: 22px!important;
}
#inquiry_right ul li.second{
	width: 157px;
}
#inquiry_right ul li.third_2{
	width: 100px;
}
#inquiry_right .right-content ul li.second{
	width: 147px;
}
#inquiry_right .right-content ul li.third_2{
	width: 100px;
}
#inquiry_right .right-content ul li a {
	color: #325588;
	text-decoration: none;
}
#inquiry_right .right-content ul li a:hover{
	color: #ffb400;
}
#inquiry_right .right-content ul {
	width: auto;
	height: 59px;
}

#inquiry_right .right-title {
	background-color: #e1e1e1;
	height: 59px;
	z-index: 22;
}
#inquiry_right .right-title ul li{
	line-height: 1;
	margin-top: 15px;
	background: url(../images/bg.gif) no-repeat right;
	cursor: pointer;
}
#inquiry_right .right-title ul li.up{
	background: url(../images/desc.gif) no-repeat right;
}
#inquiry_right .right-title ul li.down{
	background: url(../images/asc.gif) no-repeat right;
}
#inquiry_right .right-title ul li.first{
	background-position:  152px 4px;
}
#inquiry_right .right-title ul li.third_2{
	background: none;
}
#inquiry_right .right-title ul li.four{
	background: none;
}
#inquiry_right .right-content ul li input {
    width: 82px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.right-content ul li span.minus {
	width: 26px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 13;
	cursor: pointer;
	font-size: 18px;
}

.right-content ul li span.plus {
	width: 26px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 16px;
}
.right-content ul li .plusMinus{
	width: 86px;
	height: 35px;
	position: relative;
	float: left;
	margin: -10px 2px 0 18px;
}
.inquiry-content {
	border: 1px solid #d3d3d3;
	margin-bottom: 20px;
}
.evaluate{
	margin-top: 37px;
}
.evaluate .evaluate_title{
	border-bottom: 1px solid #e6e6e6;
}
.evaluate .evaluate_title ul li{
	float: left;
	width: 252px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
}
.evaluate .evaluate_title ul li em{
	color: #2d7ee2;
}
.evaluate .evaluate_title ul li.eva_bc{
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff;
	height: 61px;
	position: relative;
	top: 1px;
}
.evaluate_con{
	border: 1px solid #e6e6e6;
	border-top: none;
}
.evaluate_con .eva_list{
	padding: 15px 35px;
	padding-bottom: 100px;
}
.eva_description {
	padding: 20px 0;
	border-bottom: 1px dashed #e6e6e6
}
.eva_description.last_box{
	border-bottom: none;
}
.eva_description .description_title{
	padding-left: 50px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.eva_description .description_title em{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0;
	top: 0;
}
.eva_description .description_title.t1 em{
	background: url(../images/qos_img.png) no-repeat left;
	background-position: -148px -2px;
}
.eva_description .description_title.t2 em{
	background: url(../images/qos_img.png) no-repeat left;
	background-position: -198px -2px;
}
.eva_description .description_title.t3 em{
	background: url(../images/qos_img.png) no-repeat left;
	background-position: -247px -2px;
}
.eva_description ul li{
	font-size: 14px;
	padding-left: 50px;
	color: #888888;
}
.footer{
	margin-top: 290px;
}