.search_top{
	margin-top: 20px;
	margin-bottom: 10px;
}
.search_top .search_box{
	float: right;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	height: 38px;
	line-height: 38px;
	width: 350px;
	position: relative;
	overflow: hidden;
}
.search_top .search_box input.shuru{
	width: 84%;
	font-size: 14px;
	text-indent: 10px;
	border: none;
}
.search_top .search_box .submit{
	background: #2076e0;
	height: 38px;
	width: 38px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.search_top .search_box .submit em{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/qos_img.png) no-repeat center;
	background-position: -245px -53px;
}
.down_list{
	width: 1300px!important;
}
.down_detail{
	float: left;
	border: 1px solid #efefef;
	width: 287px;
	height: 287px;
	border-radius: 5px;
	overflow: hidden;
	margin-right: 15px;
	margin-top: 15px;
}
.down_detail .down_type{
	height: 178px;
	width: 100%;
	background: url(../images/qos3.png) no-repeat center;
	text-align: center;
	color: #fff;
}
.down_detail .down_type h1{
	padding-top: 50px;
	font-size: 25px;
}
.down_detail .down_type a{
	width: 151px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	color: #fff;
	font-size: 18px;
	background: url(../images/qos1.png);
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}
.down_detail .down_type a.over{
	background: url(../images/qos2.png);
	color: #d2d2d2;
}
.down_name{
	padding: 0 23px;
	padding-top: 15px;
}
.down_name p{
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	margin-bottom: 30px;
}
.down_name .down_state{
	font-size: 12px;
	color: #c9c9c9;
}
.down_name .down_state span{
	float: left;
}
.down_name .down_state em{
	float: right;
}
.footer{
	margin-top: 200px;
}