.help_txt{
	margin-bottom: 20px;
}
.help_connect{
	margin-top: 40px;
}
.help_connect .h_title{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	height: 40px;
	line-height: 40px;
}
.help_connect .h_title em{
	font-weight: bold;
	color: #2076e0;
}
.help_connect ul{
	padding: 15px 0;
}
.help_connect ul li{
	font-size: 16px;
}
.help_connect ul li a em{
	font-size: 20px;
	margin-right: 8px;
}
.footer{
	margin-top: 100px;
}