
.search_banner{
	height: 405px;
	background: url(../images/qos4.png) no-repeat center;
	margin-top: 23px;
	position: relative;
	padding-top: 85px;
}
.search_box{
	background: url(../images/qos_5.png) no-repeat center;
	height: 272px;
	opacity: 1;
	text-align: center;
	padding-top: 65px;
	padding-left:30px; 
	padding-right:30px; 
	width: 1140px!important;
}
.search_box h1{
	font-size: 25px;
	font-weight: bold;
}
.search_choice{
	width: 1200px;
	margin-top: 45px;
}
.search_choice .searchable-select{
	float: left;
	width: 374px;
	background: #fff;
	height: 54px;
	line-height: 54px;
	text-indent: 30px;
	text-align: left;
	border-radius: 5px;
	margin-right: 10px;
}
.search_choice .searchable-select-holder{
	height: 54px;
	line-height: 41px;
	font-size: 16px;
	font-weight: bold;
}
.searchable-select-dropdown{
	top: 51px;
}
.searchable-select-input{
	width: 85%;
}
.searchable-select-item{
	height: 30px;
	line-height: 22px;
}
.searchable-select-caret{
	border: none;
	width: 29px;
	height: 29px;
	background: url(../images/qos_img.png) no-repeat;
	background-position: -7px -4px;
}
.search_btn{
	width: 172px;
	height: 55px;
	background: #2076e0;
	color: #fff;
	font-size: 20px;
	line-height: 55px;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 40px;
	cursor: pointer;
}
.commodity_title{
	width: 870px;
	margin: 0 auto;
	margin-top: 90px;
}
.commodity_title i{
	float: left;
	height: 1px;
	width: 250px;
	background: #dcdcdc;
	margin-top: 17px;
}
.commodity_title span{
	float: left;
	font-weight: bold;
	font-size: 24px;
	margin: 0 29px;
}
.commodity_title span em{
	font-weight: bold;
	color: #2076e0;
}
.com_connect1{
	margin-top: 43px;
	width: 1300px;
}
.com_connect1 ul li{
	float: left;
	width: 385px;
	height: 270px;
	position: relative;
	margin-right: 22px;
	margin-top: 22px;
	overflow: hidden;
}
.com_connect1 ul li a{
	display: block;
}
.com_connect1 ul li a:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.com_connect1 ul li a img{
	width: 100%;
	height: 270px;
	transition: all .3s;
}
.com_connect1 ul li a .con_tips{
	width: 100%;
	height: 57px;
	background: url(../images/qos5.png) no-repeat center;
	text-align: right;
	font-size: 18px;
	color: #fff;
	line-height: 57px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.com_connect1 ul li a .con_tips em{
	margin-right: 18px;
}
.featuer{
	margin-bottom: 80px;
}
.featuer_list {
	width: 1250px;
	margin-top: 50px;
}
.featuer_list ul li{
	float: left;
	width: 385px;
	height: 270px;
	overflow: hidden;
	position: relative;
	margin-right: 22px;
}
.featuer_list ul li a{
	display: block;
}
.featuer_list ul li a:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.featuer_list ul li a img{
	width: 100%;
	height: 270px;
	transition: all .3s;
}
.featuer_list ul li a .feature_tips{
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/qos_img.png) no-repeat center;
    background-position: -8px -55px;
    width: 116px;
    height: 200px;
}
.featuer_list ul li a .feature_tips em{
    color: #fff;
    font-size: 18px;
    -webkit-transform: rotate(44deg);
    line-height: 55px;
    display: block;
    text-indent: 36px;
}
.searchable-select-holder{
	border: none;
}