.list{
	margin-top: 45px;
}
.list_left{
	float: left;
	width: 346px;
}
.list_search{
	background: #f6f6f6;
	padding: 20px 20px;
	padding-bottom: 28px;
	border-radius: 5px;
}
.ls_title{
	font-size: 18px;
	height: 20px;
	line-height: 22px;
	padding-left: 10px;
	border-left: 3px solid #2076e0;
	margin-bottom: 20px;
}
.ls_title em{
	font-weight: bold;
}
.searchable-select{
	width: 100%;
	margin-bottom: 15px;
}
.searchable-select-holder{
	height: 48px;
	line-height: 34px;
}
.searchable-select-dropdown{
	z-index: 10;
	top: 45px;
}
.searchable-select-caret{
	border: none;
	width: 29px;
	height: 29px;
	background: url(../images/qos_img.png) no-repeat;
	background-position: -177px -139px;
}
.ls_btn{
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #2076e0;
	border-radius: 5px;
	margin-top: 13px;
}
.brand{
	margin-top: 27px;
	border: 1px solid #ededed;
	border-radius: 5px;
	padding: 20px 20px;
	padding-bottom: 0;
}
.brand .br_title {
	font-size: 18px;
	height: 20px;
	line-height: 22px;
	padding-left: 10px;
	border-left: 3px solid #2076e0;
	margin-bottom: 20px;
}
.brand .br_title span{
	float: left;
	margin-right: 5px;
}
.brand .br_title em{
	float: left;
	font-weight: bold;
}
.brand .br_title a{
	float: right;
	font-size: 14px;
}
.brand ul{
	width: 400px;
}
.brand ul li{
	float: left;
	width: 146px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.brand ul li .br_img{
	border: 1px solid #ededed;
	width: 144px;
	height: 144px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.brand ul li .br_img a{
	display: block;
}
.brand ul li .br_txt{
	margin-top: 7px;
	font-size: 14px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.list_right{
	float: right;
	width: 830px;
}
.list_right .merchandise_news{
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 25px;
	position: relative;
	margin-bottom: 29px;
}
.list_right .merchandise_news a{
	display: block;
}
.list_right .merchandise_news a:hover{
	color: #000;
}
.list_right .merchandise_news:hover{
	background: #f9f9f9;
}
.list_right .merchandise_news .mer_pic{
	float: left;
	width: 183px;
	height: 183px;
	margin-right: 30px;
}
.list_right .merchandise_news .mer_pic img{
	width: 183px;
	height: 183px;
}
.list_right .merchandise_news .mer_titel{
	font-size: 20px;
	margin-bottom: 12px;
	color: #2076e0;
}
.list_right .merchandise_news ul li{
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.list_right .merchandise_news ul li em{
	width: 185px;
	display: inline-block;
	font-weight: bold;
}
.list_right .merchandise_news ul li span{
	margin-left: 28px;
}
.list_right .merchandise_news .made_in{
	position: absolute;
	right: 60px;
	bottom: 27px;
	font-size: 16px;
	color: #bababa;
}
.list_right .merchandise_news .made_in i{
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url(../images/qos_img.png) no-repeat center;
	background-position: -203px -62px;;
	vertical-align: text-bottom;
}
.page_count{
    float: left;
    min-width: 450px;
    font-size: 14px;
    margin: 100px 0 100px 50%;
}
.inner{
    float: left;
    min-width: 450px;
    margin-left: -50%;
}
.inner ul li{
    width: auto;
    margin-right: 3px;
    background: #fff;
    float: left;
}
.inner ul li a , .inner ul li span{
    position: relative;
    height: 35px;
    line-height: 33px;
    display: block;
    padding: 0 15px;
    border: 1px solid #ededed;
    color: #3e3e3e;
}
.inner ul li a:hover{
    text-decoration: none;
    border-color: #2076e0;
    color: #2076e0;
    z-index: 1;
}
.inner ul li span{
    background: #fff;
    color: #9a9a9a;
    border-color: #ddd;
}
.inner ul li.page_current span{
    background: #2076e0;
    color: #fff;
    border-color: #2076e0;
    font-weight: 700;
}
.inner ul li.page_more span{
    background: none;
    border: none;
    font-size: 10px;
    padding: 0 5px;
}
.searchable-select-holder{
	border: none;
}
