body{
	font-family: "Helvetica Neue",arial!important;
}
select{
	display: none;
}
.head{
	margin-top: 43px;
}
.head .logo{
	float: left;
}
.head .head_nav{
	float: left;
	margin-left: 135px;
	margin-top: 50px;
}
.head .head_nav ul li{
	float: left;
	height: 35px;
	line-height: 35px;
}
.head .head_nav ul em{
	float: left;
	font-size: 18px;
	height: 35px;
	line-height: 32px;
	color: #bbbbbb;
	margin:  0 12px;
}
.head .head_nav ul li a{
	font-size: 16px;
	font-weight: bold;
}
.head .log_in{
	float: right;
	width: 278px;
	margin-top: 45px;
}
.head .log_in .btn{
	width: 131px;
	height: 44px;
	line-height: 44px;
	border-radius: 5px;
}
.head .log_in .login{
	float: left;
	background: #2076e0;
	color: #fff;
}
.head .log_in .login a{
	display: block;
	color: #fff;
	text-align: center;
}
.head .log_in .registration{
	float: right;
	border: 1px solid #2076e0;
	text-align: center;
}
.head .log_in .registration a{
	color: #2076e0;
	display: block;
}
.footer{
	background: #f9f9f9;
	height: 250px;
}
.footer .foot_connect{
	padding-top: 80px;
}
.footer .foot_connect ul li{
    float: left;
    padding-left: 81px;
    padding-right: 48px;
    width: 270px;
    padding-bottom: 5px;
}
.footer .foot_connect ul li h1{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 3px;
}
.footer .foot_connect ul li a{
	display: block;
	height: 20px;
	line-height: 20px;
}
.footer .foot_connect ul li.foot_left{
	border-right: 1px solid #d3d3d3;
}
.footer .foot_connect ul li.foot_right{
	border-left: 1px solid #d3d3d3;
	padding-bottom: 10px;
}
.footer .foot_connect ul li.foot_right a{
	padding-left: 25px;
	position: relative;
	height: 25px;
	line-height: 25px;
}
.footer .foot_connect ul li.foot_right a i{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 3px;
	background: url(../images/qos_img.png) no-repeat center;
}
.footer .foot_connect ul li.foot_right a.tel i{
	background-position: -46px -9px;
}
.footer .foot_connect ul li.foot_right a.qq i{
	background: url(../images/in1.png) no-repeat center;
	/*background-position: -74px -9px;*/
}
.footer .foot_connect ul li.foot_right a.wechat i{
	background: url(../images/s1.png) no-repeat center;
	/*background-position: -105px -11px;*/
}
/*—滚动条默认显示样式–*/
::-webkit-scrollbar-thumb {
	background-color: #052a4f;
	height: 50px;
	outline-offset: -2px;
	outline: 2px solid #fff;
	-webkit-border-radius: 15px;
	border: 2px solid #e8e8e8;
	/*padding: 20px!important;*/
}

/*—鼠标点击滚动条显示样式–*/
::-webkit-scrollbar-thumb:hover {
	background-color: #052a4f;
	height: 50px;
	-webkit-border-radius: 15px;
}

/*—滚动条大小–*/
::-webkit-scrollbar {
	width: 14px;
	height: 15px;
}

/*—滚动框背景样式–*/
::-webkit-scrollbar-track-piece {
	background-color: #e8e8e8;
	/*border: 1px solid #ccc;*/
	-webkit-border-radius: 0;
	/*padding: 40px;!important;*/
}
