body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.center_lead{
	height: 1rem;
	padding: .2rem 0.3rem;
	border-bottom: 0.02rem solid #dddddd;
	background: #fff;
}
.center_lead .cen_pic{
	float: left;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	overflow: hidden;
	margin-right: .2rem;
}
.center_lead .cen_pic img{
	width: 1rem;
	border-radius: 100%;
	height: 1rem;
}
.center_lead .cen_id{
	float: left;
	margin-top: .1rem;
}
.center_lead .cen_id span{
	font-size: .28rem;
}
.center_lead .cen_id span b{
	font-size: .28rem;
}
.center_lead .cen_id span em{
	width: .7rem;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	border-radius: .24rem;
	background: #e83828;
	color: #fff;
	margin-left: .4rem;
	display: inline-block;
}
.center_lead .cen_id p{
	font-size: .28rem;
}
.center_lead .qd{
	float: right;
	line-height: 1rem;
}
.center_lead .qd s{
	    width: .4rem;
    height: .5rem;
    background: url(../images/arrow_right.png) no-repeat center;
    background-size: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: .24rem;
    margin-left: .1rem;
}
.center_lead .qd p{
	float: left;
	width: 1rem;
	height: .4rem;
	line-height: .4rem;
	padding-left: .2rem;
	font-size: .24rem;
	color: #e83828;
	border: 0.02rem solid #e83828;
	border-radius: 0.24rem;
	text-align: center;
	background: url(../images/qiandao.png) no-repeat .1rem;
	margin-top: .27rem;
}
.center_lead .qd a{
	display: block;
}
.center_infor{
	padding: 0.2rem 0;
	border-bottom: 0.02rem solid #e84538;
	margin-bottom: .4rem;
	background: #fff;
}
.center_infor ul li{
	float: left;
	width: 25%;
	box-sizing:border-box;
	border-right: 0.02rem solid #d6d6d6;
	text-align: center;
}
.center_infor ul li em{
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 0.36rem;
	color: #e83828;
}
.center_infor ul li span{
	display: block;
	width: 100%;
	font-size: .28rem;
}
.center_infor ul li:last-child{
	border-right: none;
}
.center_infor ul li a{
	display: block;
}
.navtion{
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.navtion ul li{
	float: left;
	width: 25%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.28rem;
}
.navtion ul li a{
	display: block;
}
.navtion ul .shop a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/house_3.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .xuangou a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/biaoqian.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.navtion ul .car a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/gouwuche.png) no-repeat center;
	margin-top: .1rem;
}
.navtion ul .center a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/ren_2.png) no-repeat center;
	background-size: .5rem;
	margin-top: .1rem;
}
.nav_bc a span{
	color: #e84538;
}
.center_list{
    background: #fff;
    margin-top: .4rem;
}
.center_list .center_txt{
    margin-left: 1.1rem;
    border-bottom: 0.02rem solid #d5d5d5;
    position: relative;	
}
.center_list .center_txt:last-child{
	border-bottom: none;
}
.center_list .center_txt a{
    display: block;
    height: .8rem;
    line-height: .8rem;
    font-size: 0.28rem;
}
.center_list .center_txt a i{
	width: .5rem;
    height: .52rem;
    background: url(../images/sp_19.png) no-repeat;
    background-size:4.5rem;
    position: absolute;
    left: -.8rem;
    top: .15rem;
}
.center_list .center_txt a span{
	width: .5rem;
    height: .5rem;
    background: url(../images/arrow_right.png) no-repeat center;
    background-size: .5rem;
    float: right;
    margin-top: .15rem;
    margin-right: .2rem;
}
.center_list .center_txt.dingdan a i{
    background-position: -.09rem -.15rem;
}
.center_list .center_txt.shoucang a i{
    background-position: -.75rem -.154rem;
}
.center_list .center_txt.youxiang a i{
    background-position: -1.37rem -.154rem;
}
.center_list .center_txt.huiyuan a i{
    background-position: -2.03rem -.154rem;
}
.center_list .center_txt.jifen a i{
    background-position: -2.7rem -.154rem;
}
.center_list .center_txt.youhui a i{
    background-position: -3.32rem -.154rem;
}
.center_list .center_txt.jiangpin a i{
    background-position: -3.95rem -.154rem;
}