body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.dy_lead{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	text-align: center;
	font-size: 0.3rem;
	border-bottom: 0.02rem solid #dcdcdc;
}
.dy_list{
	background: #fff;
}
.dy_list .dy_txt{
	padding: 0.2rem 0.3rem;
	border-bottom: 0.02rem solid #dcdcdc;
	color: #939393;
	font-size: 0.28rem;
}
.dy_list .dy_txt .dt_1{
	margin-bottom: 0.1rem;
}
.dy_list .dy_txt .dt_1 em{
	float: left;	
}
.dy_list .dy_txt .dt_1 span{
	float: right;
}