body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.ing {
	height: 2.5rem;
	background: #fff;
}
.ing .ing_txt{
	float: left;
	width: 1rem;
	text-align: center;
	width: 33.33%;
	font-size: 0.28rem;
	position: relative;
}
.ing  span.line_1{
    width: 29.3%;
    height: 0.05rem;
    background: #dadada;
    float: left;
    position: absolute;
    top: .96rem;
    left: 1.4rem;
}
.ing  span.line_2{
    width: 29.3%;
    height: 0.05rem;
    background: #dadada;
    float: left;
    position: absolute;
    top: .96rem;
    left: 3.9rem;
}
.ing .on_1{
	background: #f90101!important;
}
.ing .ing_txt em{
	position: relative;
	width: .25rem;
	height: .25rem;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	border: 1px solid #d4d4d4;
	margin-bottom: 0.2rem;
	margin-top: .84rem;
}
.ing .on em{
	border: 1px solid #f90101;
}
.ing .on em i{
	width: .15rem;
    height: .15rem;
    background: #f90101;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    border-radius: 100%;
}
.indent_information{
	background: #fff;
	padding: 0.24rem 0.5rem;
}
.indent_information h1{
	height: 0.7rem;
	line-height: .7rem;
	font-size: 0.28rem;
	border-bottom: 0.02rem solid #d7d7d7;
	position: relative;
}
.indent_information h1 em{
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	width: 1.3rem;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	border: 0.02rem solid #e95249;
	color: #e95249;
	border-radius: 0.05rem;
}
.indent_information ul li{
	height: .7rem;
	line-height: .7rem;
	font-size: 0.28rem;
}
.indent_information ul li em{
	width: 1.5rem;
	display: inline-block;
	color: #7c7c7c;
}
.indent_information ul li b{
	color: #e95249;
}
.refresh {
	margin: 1rem 0;
}
.refresh button{
	width: 90%;
	background: #e95249;
	border: none;
	border-radius: 0.24rem;
	height: .8rem;
	color: #fff;
	font-size: 0.36rem;
	display: block;
	margin: 0 auto;
}
.disk{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: .5!important;
	height: 100%;
	width: 100%;
	display: none;
}
.sure{
	width: 5rem;
	background: #fff;
	position: fixed;
	top: 40%;
	left: 18%;
	border-radius: 0.1rem;
	z-index: 99999;
	display: none;
}
.sure h1{
	text-align: center;
	font-size: 0.36rem;
	border-bottom: 0.02rem solid #d7d7d7;
	height: 1rem;
	line-height: 1rem;
}
.sure ul li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	text-align: center;
	height: .7rem;
	line-height: .7rem;
	font-size: 0.28rem;
	border-right: 0.02rem solid #d7d7d7;
	background: #f7f7f7;
	color: #e95249;
}
.sure ul li:last-child{
	border-right: none;
}