.search{
	height: .8rem;
	background: #ff2e4b;
	line-height: .8rem;
}
.search .location a{
	float: left;
	background: url(../images/dingwei.png) no-repeat left;
	padding-left: 0.48rem;
	background-size: 0.5rem;
	font-size: 0.28rem;
	color: #fff;
	margin-left: 0.2rem;
	max-width: 5rem;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search .se_1 a{
	width: 0.5rem;
	background: url(../images/sousuo.png) no-repeat center;
	float: right;
	height: 0.5rem;
	margin-top: 0.15rem;
	margin-right: 0.2rem;
	background-size: 0.5rem;
}
.lead_pic img{
	height: 3rem;
	width: 100%;
	display: block;
}
.navigation{
	z-index: 999;
	height: .8rem;
	position: relative;
}
.navigation .nav_lead{
	border-bottom: 0.02rem solid #e6e6e6;
	background: #fff;
}
.navigation .nav_lead ul li{
	float: left;
	width: 33.33%;
	box-sizing:border-box;
	text-indent: 0.4rem;
	font-size: 0.28rem;
	border-right: 0.02rem solid #e6e6e6;
	position: relative;
	margin-bottom: 0.15rem;
	margin-top: 0.15rem;
}
.navigation .nav_lead ul li:last-child{
	border-right:none;
}
.navigation .nav_lead ul li i{
	width: 0.2rem;
	height: 0.2rem;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat center;
	background-size: 0.2rem;
	position: absolute;
	left: 2rem;
	top: 0.1rem;
}
.nav_lbc{
	color: #e83828;
}
.nav_lbc i{
    background: url(../images/arrow_up.png) no-repeat center!important;
    background-size: 0.27rem!important;
    height: 0.3rem!important;
}
.navigation .nav_txt {
	position: fixed;
	top: 0.75rem;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99999;
	max-height: 5rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.navigation .nav_txt .nav{
	display: none;
}
.navigation .nav_txt .nav ul li a{
	height: .75rem;
	line-height: .75rem;
	font-size: 0.28rem;
	border-bottom: 0.02rem solid #e6e6e6;
	padding-left: 0.38rem;
}
.navigation .nav_txt .nav ul li a{
	display: block;
	position: relative;
}
.navigation .nav_txt .nav ul li a b{
	width: 0.05rem;
	height: 0.34rem;
	display: inline-block;
	background: #e83828;
	position: absolute;
	top: 0.2rem;
	left: 0.35rem;
	display: none;
}
.navigation .nav_txt .nav ul li a i{
	width: .5rem;
	height: .5rem;
	background: url(../images/dui.png) no-repeat center;
	position:  absolute;
	right: 0.3rem;
	top: 0.12rem;
	background-size: 0.5rem;
	display: none;
}
.nav_bc a{
	color: #e83828;
	padding-left: 0.55rem!important;
}
.nav_bc a b{
	display: block!important;
}
.nav_bc a i{
	display: block!important;
}
.le_list .le_xtt{
	background: #fff;
	padding: 0.2rem 0.25rem;
	border-bottom: 0.02rem solid #e6e6e6;
}
.le_list .le_xtt a{
	display: block;
}
.le_list .le_xtt .le_pic{
	position: relative;
	float: left;
	margin-right: 0.25rem;
}
.le_list .le_xtt .le_pic img{
    width: 1.5rem;
}
.le_list .le_xtt .le_pic .xx {
	position: absolute;
	z-index: 1;
	right: .1rem;
	bottom: .2rem;
	width: .65rem;
	height: .65rem;
}
.le_list .le_xtt .le_text {
	position: relative;
	overflow: hidden;
}
.le_list .le_xtt .le_text h1{
	font-size: 0.3rem;
}
.le_list .le_xtt .le_text h1 div {
	font-size: .2rem;
	line-height: .4rem;
	color: #999;
}
.le_list .le_xtt .le_text .pingjia{
	margin: 0.15rem 0;
}
.le_list .le_xtt .le_text .pingjia span{
	background: url(../images/star_2.png) no-repeat;
    width: 2.1rem;
    height: 0.4rem;
    display: none;
    background-size: 2rem;
	line-height: .4rem;
	vertical-align: middle;
}
.le_list .le_xtt .le_text .pingjia span p{
	    background: url(../images/star_1.png) no-repeat;
    width: 1rem;
    height: 0.4rem;
    display: inline-block;
    background-size: 2rem;
}
.le_list .le_xtt .le_text .pingjia em{
	font-size: 0.21rem;
	color: #666;
    display: inline-block;
	line-height: .4rem;
	vertical-align: middle;
}
.le_list .le_xtt .le_text .pingjia b{
	font-weight: normal;
	font-size: 0.24rem;
	color: #fff;
	width: 1.2rem;
	float: right;
	background: #fd9600;
	height: 0.4rem;
	text-align: center;
	border-radius: 5px;
	line-height: 0.4rem;
}
.le_list .le_xtt .le_text .le_foot .lf_left{
	float: left;
	font-size: 0.24rem;
	color: #868383;
}
.le_list .le_xtt .le_text .le_foot .lf_left em{
	margin: 0 0.1rem;
}
.le_list .le_xtt .le_text .le_foot .lf_right{
	float: right;
	font-size: 0.28rem;
	color: #848181;
}

.le_list .le_xtt .le_text .favorable{
	margin-top: .1rem;
	border-top: 1px solid #e6e6e6;
}
.le_list .le_xtt .le_text .favorable ul{
	padding: 0.1rem 0;
}
.le_list .le_xtt .le_text .favorable ul li{
	margin-bottom: 0.1rem;
	font-size: .2rem;
}
.le_list .le_xtt .le_text .favorable ul li:last-child{
	margin-bottom: 0;
}
.le_list .le_xtt .le_text .favorable ul li em{
	width: .4rem;
	height: .4rem;
	border-radius: 100%;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: .4rem;
	margin-right: 0.2rem;
	display: inline-block;
}
.le_list .le_xtt .le_text .favorable ul .shou em{
	background: #01a3e4;
}
.le_list .le_xtt .le_text .favorable ul .zhe em{
	background: #702c65;
}
.le_list .le_xtt .le_text .favorable ul .jian em{
	background: #e93b2d;
}
.le_list .le_xtt .tejia{
	border-top: 1px dashed #e6e6e6;
	line-height: 0.4rem;
	font-size: 0.28rem;
	padding-top: .1rem;
}


.le_list .le_xtt .food {
	border-top: 1px solid #e6e6e6;
	font-size: .28rem;
	line-height: .7rem;
}
.le_list .le_xtt .food span {
	float: left;
	max-width: 4rem;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.le_list .le_xtt .food em {
	float: right;
	color: #999;
	font-size: .2rem;
}



.loading {
	line-height: 1.5rem;
	text-align: center;
}
.disk{
	background: #000;
	opacity: .5!important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 998;
}
.none{
	display: none;
}
.com_screen_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #f4f4f4;
    background: #fff;
    z-index: 999999999;
    width: 100%;
}
