@charset "UTF-8";
/**
 * 
 * @authors zhangzhixin
 * @date    2018-04-10 14:56:24
 */
div.navbar{
	border-bottom: 0.02rem solid #dedede;
}
.mygallery{
	margin-top: .3rem;
	padding: 0 .15rem;
}
div.burger {
	/* display: none; */
}