@charset "UTF-8";
/**
 * 
 * @authors zhangzhixin
 * @date    2018-04-11 09:27:14
 */


.list{
	background: #dedede;
}
.CompanyBox{
	background: #fff;
	display: block;
	width: 85%;
	margin: 0 auto;
	border-radius: .5rem;
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	margin-top: .2rem;
	font-size: .28rem;
}