@charset "UTF-8";

/**
 * 
 * @authors zhangzhixin 
 * @date    2018-04-09 16:19:11
 */



#slider img{
	width: 100%;
}
.pagination{
	position: absolute;
    z-index: 20;
    left: 0;
    bottom: 10px!important;
    width: 100%;
}
.PublicTitle{
	font-size: .3rem;
	text-align: center;
	font-weight: bold;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 0.02rem solid #dedede;
	background: #fff;
}
.PublicTitle span{
	position: relative;
	float: left;
	padding-left: .28rem;
}
.PublicTitle span:after{
	content: "";
    width: 1.1rem;
    height: .04rem;
    background: #eb3d00;
    position: absolute;
    left: .30rem;
    bottom: -0.02rem;
}
.ServiceBox{
	padding: .3rem .25rem;
	border-bottom: 0.04rem solid #dedede;
	position: relative
}
.ServiceBox.bb{
	border-bottom: .2rem solid #dedede;
}
.ServiceBox .ImgBox{
	width: 1rem;
	height: 1rem;
	text-align: center;
	position: absolute;
	left: 0.25rem;
	top: 0.3rem;
}
.ServiceBox .ImgBox img{
	width: 1rem;
}
.ServiceCon{
	padding-left: 1.27rem;
	float: left;
}
.ServiceCon h4{
	font-size: .3rem;
}
.ServiceCon p{
	font-size: .24rem;
	margin-top: .08rem;
	color: #6f6f6fcf;
}
.Registered{
	padding-bottom: .7rem;
}
.Registered .part{
	width: 5rem;
	height: 1.5rem;
	text-align: center;
	margin: 0 auto;
	background: #7bc623;
	color: #fff;
	border-radius: 3rem;
}
.Registered .part span{
	font-size: .32rem;
	padding-top: .3rem;
	display: block
}
.Registered .part p{
	font-size: .24rem;
	color: #dcdcdc;
	margin-top: .1rem;
}
.arrow{
	opacity: 1;
	width: 1rem;
	display: block;
	margin: 0.4rem auto;
}
.arrow img{
	width: 100%;
}
.Registered .part.step1{
	margin-top: .7rem;
}
.s_arrow1{
	-webkit-animation:myfirst 1.5s ease-in-out 0s backwards;
	-moz-animation:myfirst 1.5s ease-in-out 0s backwards;
	-o-animation:myfirst 1.5s ease-in-out 0s backwards;
	-ms-animation:myfirst 1.5s ease-in-out 0s backwards;
	animation:myfirst 1.5s ease-in-out 0s backwards;
}
.step2{
	-webkit-animation:fadeIn 1.5s ease-in-out .5s backwards;
	-moz-animation:fadeIn 1.5s ease-in-out .5s backwards;
	-o-animation:fadeIn 1.5s ease-in-out .5s backwards;
	-ms-animation:fadeIn 1.5s ease-in-out .5s backwards;
	animation:fadeIn 1.5s ease-in-out .5s backwards;
}
.s_arrow2{
	-webkit-animation:myfirst 1.5s ease-in-out 1s backwards;
	-moz-animation:myfirst 1.5s ease-in-out 1s backwards;
	-o-animation:myfirst 1.5s ease-in-out 1s backwards;
	-ms-animation:myfirst 1.5s ease-in-out 1s backwards;
	animation:myfirst 1.5s ease-in-out 1s backwards;
}
.step3{
	-webkit-animation:fadeIn 1.5s ease-in-out 1.5s backwards;
	-moz-animation:fadeIn 1.5s ease-in-out 1.5s backwards;
	-o-animation:fadeIn 1.5s ease-in-out 1.5s backwards;
	-ms-animation:fadeIn 1.5s ease-in-out 1.5s backwards;
	animation:fadeIn 1.5s ease-in-out 1.5s backwards;
}
.s_arrow3{
	-webkit-animation:myfirst 1.5s ease-in-out 2s backwards;
	-moz-animation:myfirst 1.5s ease-in-out 2s backwards;
	-o-animation:myfirst 1.5s ease-in-out 2s backwards;
	-ms-animation:myfirst 1.5s ease-in-out 2s backwards;
	animation:myfirst 1.5s ease-in-out 2s backwards;
}
.step4{
	-webkit-animation:fadeIn 1.5s ease-in-out 2.5s backwards;
	-moz-animation:fadeIn 1.5s ease-in-out 2.5s backwards;
	-o-animation:fadeIn 1.5s ease-in-out 2.5s backwards;
	-ms-animation:fadeIn 1.5s ease-in-out 2.5s backwards;
	animation:fadeIn 1.5s ease-in-out 2.5s backwards;
}
@keyframes myfirst {  
	0% {  
		transform: translate(0px, 0px);  
		opacity: 0; 
	}  
	50% {  
		opacity: 0; 
		transform: translate(0px, -15px);  
	}  
	100% {  
		opacity: 1; 
		transform: translate(0px, 0px);  
	}  
}  
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
}

#announcement {
	height:2em;
	background:#f5f8fc;
	border:1px solid #d2e1f1;
	margin:0.5em;
}
#announcement a {
	color:#294c7f;
	text-decoration:none;
	display:block;
	line-height:2;
	height:2em;
	text-indent:0.5em;
	overflow:hidden;
	padding-left: .28rem;
	background: url('../images/laba.png') no-repeat left;
	background-size: .28rem;
	margin-left: .2rem;
}
