@charset "UTF-8";
/**
 * 
 * @authors zhangzhixin
 * @date    2018-04-10 16:21:41
 */


.navbar{
	border-bottom: 0.02rem solid #dedede;
}
.list{
	padding: 0 .25rem;
}
.NewsBox{
	border-bottom: .04rem solid  #dedede;
	padding: .16rem 0;
}
.NewsBox .NewsTitle{
	font-size: .28rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.NewsBox .time{
	text-align: right;
	color: #a9a9a9;
	font-size: .24rem;
	margin-top: .1rem;
}