@charset "UTF-8";
/**
 * 
 * @authors zhangzhixin
 * @date    2018-04-11 10:46:58
 */


.JobBox{
	padding: .15rem .25rem;
	border-top: 0.02rem solid #e6e6e6;
}
.JobTitle span{
	font-size: .32rem;
	float: left;
}
.JobTitle em{
	float: right;
	margin-top: .1rem;
    color: #ff6e6f;
    font-size: .24rem;
}
.JobCompany{
	font-size: .26rem;
	margin-top: .05rem;
}
.TipsBox{
	margin: .2rem 0;
}
.TipsBox em{
	padding: 0.03rem .1rem;
	border: 0.02rem solid #7bc623;
	border-radius: .1rem;
	color: #7bc623;
	float: left;
	margin-right: .1rem;
}
.JobInfo span{
	padding-left: 0.33rem;
	color: #c8c8c8;
	margin: .1rem;
	background: url(../images/job.png) no-repeat left;
	padding-top: .1rem;
	background-size: .3rem;
}
.JobInfo .location{
	background-position: 0 .08rem;
}
.JobInfo .year{
	background-position: 0 -.28rem;
}
.JobInfo .education{
	background-position: 0 -0.67rem;
}

