.nav_3 {
	background: #379be9!important;
} 
.n3_left ul li a{
	color: #fff!important;
	font-weight: normal!important;
}
.n4_right{
	overflow: hidden;
}
.n4_right .kind ul{
	float: left;
}
.n4_right .kind ul li{
    float: left;
    padding: 2px 0px 0px 5px;
    height: 45px;
}
.n4_right .kind ul li a{
    display: block;
    height: 22px;
    padding-top: 23px;
    width: 60px;
    text-align: center;
    line-height: 22px;
    color: #666;
	background: url(../images/car.png) no-repeat center;
}
.n4_right .kind ul li.kind_1 a{
	background-position: 10px 1px;
}
.n4_right .kind ul li.kind_2 a{
	background-position: -55px 1px;
}
.n4_right .kind ul li.kind_3 a{
	background-position:-122px 1px;
}
.n4_right .kind ul li.kind_4 a{
	background-position: -186px 1px;
}
.n4_right .kind ul li.kind_5 a{
	background-position: -251px 1px;
}
.n4_right .kind ul li.kind_6 a{
	background-position: -317px 1px;
}
.n4_right .kind ul li.kind_7 a{
	background-position: -380px 1px;
}
.n4_right .kind ul li.kind_8 a{
	background-position: -446px 1px;
}
.n4_right .kind ul li.kind_9 a{
	background-position: -508px 1px;
}
.n4_right .kind .price{
	float: left;
    width: 344px;
    height: 37px;
    margin-left: 20px;
    padding-top: 8px;
    line-height: 20px;
}
.n4_right .search{
	height: 40px;
	line-height: 40px;
	margin: 5px 0;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
.n4_right .search input{
	margin-left: 10px;
}
.n4_right .search select{
	margin-left: 5px;
}
.n4_right .search .in{
	background: url(../images/space.gif);
    border: 0px;
    background-position: -410px -309px;
    width: 41px;
    height: 20px;
    cursor: pointer;
    vertical-align: text-bottom;
}
.n4_right .search .ss{
	background: url(../images/space.gif);
	    border: 0px;
    background-position: -410px -280px;
    width: 41px;
    height: 20px;
    cursor: pointer;
    vertical-align: text-bottom;
}
.n4_right .search .car{
	vertical-align: text-bottom;
}
.gonggao{
    margin-bottom: 7px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.gonggao span{
	float: left;
    padding-left: 20px;
    background: url(../images/i20.gif) no-repeat left;
    margin-left: 10px;
    font-size: 14px;
}
.gonggao .gg_list a{
	float: left;
}
.part_1 {
	height: 355px;
}
.part_1 .p1_left{
	float: left;
	width: 390px;
	height: 355px;
	border: 1px solid #d1d1d1
}
.part_1 .p1_left h1{
	background: #f0f0f0;
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	padding-left: 10px;
	font-weight: bold;
}
.part_1 .p1_left img{
    width: 390px;
    height: 322px;
}
.part_1 .p1_left .flash{
	position: relative;
    width: 390px;
    height: 322px;
    overflow: hidden;
}
.part_1 .p1_left .flash h3{
	width: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	z-index: 2;
	bottom: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.part_1 .p1_left .flash h3 a{
	color: #fff;
}
.part_1 .p1_left .flash .bg{
	position: absolute;
	bottom: 30px;
	background: #000;
    opacity: .5;
    width: 100%;
    height: 30px;
}
.part_1 .p1_left .hd{
	position: absolute;
	right: 0;
	bottom: 5px;
}
.part_1 .p1_left .hd ul li{
	text-align: center;
	cursor: pointer;
	height: 14px;
	width: 26px;
	background:#666;
	color: #fff;
	float: left;
	line-height: 14px;
	margin-right: 5px;
}
.part_1 .p1_left .hd ul li.on{
	background: #333;
}
.part_1 .p1_mid{
	float: left;
	width: 475px;
	height: 355px;
	overflow: hidden;
	margin: 0 10px;
	border: 1px solid #d1d1d1;
}
.part_1 .p1_mid h1{
	background: #f0f0f0;
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	padding-left: 30px;
	font-weight: bold;
	position: relative;
}
.part_1 .p1_mid h1 em{
    position: absolute;
    left: -3px;
    top: -5px;
    background: url(../images/new.png) no-repeat center;
    background-size: 50px;
    width: 50px;
    height: 50px;
}
.part_1 .p1_mid p{
	width: 96%;
	padding: 0 10px;
	margin: 5px 0;
	font-size: 18px;
	color: #CC0000;
	text-align: center;
}
.p1m_lead{
	height: 30px;
	line-height: 30px;
	width: 96%;
	margin: 0 10px;
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 6px;
}
.p1m_lead em{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #c00;
    height: 25px;
    line-height: 25px;
    width: 150px;
    border-bottom: 4px solid #c3c3c3;
}
.p1m_lead a{
	float: right;
}
.p1_mid ul {
	margin: 0 10px;
}
.p1_mid ul li{
	width: 455px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 10px;
	background: url(../images/icon_dot_22.gif) no-repeat left;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 14px;
}
.p1_right{
	float: left;
	width: 309px;
	height: 355px;
}
.p1_right .cuxiao{
    float: left;
    width: 309px;
    height: 185px;
    overflow: hidden;
    border: 1px solid #d1d1d1;
}
.p1_right .cuxiao h1{
    background: #f0f0f0;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
}
.p1_right .cuxiao h1 em{
	font-weight: bold;
}
.p1_right .cuxiao h1 a{
	float: right;
	font-size: 12px;
	color: #074181;
}
.p1_right .cuxiao ul{
	margin: 0 10px;
	margin-top: 2px;
}
.p1_right .cuxiao ul li{
    width: 279px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/icon_dot_22.gif) no-repeat left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.p1_right .bianjie  {
	margin: 0 2px;
	float: left;
}
.p1_right .bianjie ul li{
    width: 76px;
    height: 60px;
    float: left;
    margin-top: 17px;
}
.p1_right .bianjie ul li a{
    width: 76px;
	display: block;
    text-align: center;
    float: left;
}
.p1_right .bianjie ul li a em{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
    background: url(../images/car_2.png);
}
.p1_right .bianjie ul li.bian_1 a em{
	background-position: -1px -4px;
}
.p1_right .bianjie ul li.bian_2 a em{
	background-position: -62px -1px;
}
.p1_right .bianjie ul li.bian_3 a em{
	background-position: -123px -1px;
	width: 50px;
}
.p1_right .bianjie ul li.bian_4 a em{
	background-position: -194px -1px;
}
.p1_right .bianjie ul li.bian_5 a em{
	background-position: -235px -61px;
}
.p1_right .bianjie ul li.bian_6 a em{
	background-position: -296px -61px;
}
.p1_right .bianjie ul li.bian_7 a em{
	background-position: -357px -61px;
	width: 54px;
}
.p1_right .bianjie ul li.bian_8 a em{
	background-position: -425px -61px;
	width: 46px;
}
.part_2{
	margin-top: 10px;
	height: 160px;
	border: 1px solid #d1d1d1;
	border-top: 5px solid #c00;
}
.part_2 .p2_nav{
	float: left;
	width: 1013px;
}
.p2_lead {
	background: url(../images/car_bc.png) repeat-x 0px -14px;
	width: 1013px;
	float: left;
	overflow: hidden
}
.p2_lead ul li{
	height: 31px;
    line-height: 33px;
    width: 80px;
    display: block;
    border-right: 1px solid #d1d1d1;
    float: left;
    text-align: center;
    overflow: hidden;
	cursor: pointer;
}
.p2_lead ul li.p2l_bc{
    height: 36px;
    background: url(../images/bg_navspan.gif) no-repeat 0 0!important;
    font-weight: bold;
    border-right: none;
}
.p2_list {
	width: 1013px;
	height: 121px;
	overflow: hidden;
	float: left;
}
.p2_list .p2_t ul li{
	float: left;
	margin: 5px 0px;
}
.p2_list .p2_t ul li a{
	float: left;
	width: 144px;
    height: 20px;
    line-height: 20px;
    display: block;
    float: left;
    text-indent: 10px;
}
.part_2 .ad{
	width: 185px;
	height: 160px;
	float: left;
}
.part_2 .ad img{
	width: 185px;
	height: 160px;
}
.part_3 {
	margin-top: 10px;
	width: 1200px;
	height: 409px;
}
.part_3 .p3_lead em{
	width: 265px;
	height: 39px;
	float: left;
	background: url(../images/cxtj1.gif) no-repeat center;
}
.part_3 .p3_lead a{
	height: 39px;
	line-height: 39px;
	color: #fff;
	display: block;
	width: 935px;
	float: left;
	margin-top: 1px;
	background: url(../images/tg2.gif) repeat-x ;
}
.part_3 .p3_lead a span{
	float: right;
	margin-right: 20px;
}
.part_3 .p3_ll{
	height: 333px;
	border: #d1d1d1 1px solid;
	border-top: none;
	margin-top: -1px;
	padding: 10px 20px 25px 20px;
}
.part_3 .p3_ll .p3l{
	float: left;
	width: 264px;
	height: 330px;
	border: 1px solid #dadcdb;
}
.part_3 .p3_ll .p3l img{
	width: 250px;
	height: 280px;
	padding: 6px;
}
.part_3 .p3_ll .p3l p{
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	width: 264px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.part_3 .p3_ll .p3r{
	width: 880px;
	float: right;
	margin-left: 12px;
}
.part_3 .p3_ll .p3r ul{
	width: 920px;
}
.part_3 .p3_ll .p3r ul li{
	float: left;
	width: 160px;
	height: 160px;
	border: 1px solid #dadcdb;
	text-align: center;
	margin-bottom: 8px;
	margin-right: 19px;
}
.part_3 .p3_ll .p3r ul li a{
	display: block;
}
.part_3 .p3_ll .p3r ul li img{
	width: 150px;
	height: 113px;
	margin-top: 4px;
}
.part_3 .p3_ll .p3r ul li p{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	width: 160px;
	overflow: hidden;
}
.part_4{
	margin-top: 10px;
}
.part_4 .p4_lead{
    width: 1200px;
    height: 34px;
    margin: 0px 8px 0px 0px;
    border: 1px solid #D1D1D1;
    border-bottom: none;
    display: inline;
    float: left;
    background: #f0f0f0;
}
.part_4 .p4_lead ul li{
	width: 120px;
    height: 34px;
    float: left;
    color: #4F4F4F;
    font-size: 12px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    display: block;
    cursor: pointer;
    border-right: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
	border-top: 3px solid transparent;
    box-sizing:border-box;
}
.part_4 .p4_lead ul li.p4l_bc{
    color: #BD0404;
	border-top: 3px solid #cc0000;
    border-bottom: none;
    background: #fff;
}
.border_nn{
	border-right: none!important;
}
.p4_list  {
	border: 1px solid #D1D1D1;
	border-top: none;
	width: 1200px;
	float: left;
}
.p4_list ul{
	float: left;
}
.p4_t ul li{
	padding: 0 10px;
    border-top: 1px dotted #e1e1e1;
    clear: both
}
.p4_t ul li strong{
	font-size: 14px;
	height: 35px;
	line-height: 35px;
}
.p4_t ul li span{
	font-size: 14px;
	height: 35px;
	line-height: 35px;
}
.p4_t  ul li.head{
	padding: 0 10px;
	background: #f7f7f7;
	width: 580px;
}
.p4_t  ul li span.t01, .p4_t  ul li strong.t01{width:100px;float:left; white-space:nowrap; overflow:hidden;}
.p4_t  ul li span.t02{width:157px;float:left; white-space:nowrap; overflow:hidden;}
.p4_t  ul li span.t03{width:75px;float:left; text-align:right;overflow:hidden;}
.p4_t  ul li span.t04{width:75px;color:#BD0404;float:left; text-align:right;overflow:hidden;}
.p4_t  ul li span.t05{width:58px;color:#787878;float:left; padding-left:8px;}
.p4_t  ul li span.t06{width:106px;float:left; white-space:nowrap; overflow:hidden; text-align:right;}

.part_5{
	margin-top: 10px;
	width: 1200px;
}
.part_5 .p5_lead em{
    width: 265px;
    height: 39px;
    float: left;
    background: url(../images/ersc.gif) no-repeat center;
}
.part_5 .p5_lead p{
    height: 39px;
    line-height: 39px;
    color: #fff;
    text-align: right;
    color: #fff;
    display: block;
    width: 935px;
    float: left;
    margin-top: 1px;
    background: url(../images/tg2.gif) repeat-x;
}
.part_5 .p5_lead p a{
	color: #fff;
	font-size: 14px;
	padding: 0 5px;
}
.part_5 .p5_list{
    border: #d1d1d1 1px solid;
    border-top: none;
    width: 1199px;
}
.part_5 .p5_list p{
	width: 1179px;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: bold;
    background: #f7f7f7;
}
.part_5 .p5_list .recommend_car{
    padding: 15px;
    text-align: center;
}
.part_5 .p5_list .recommend_car ul{
	width: 1300px;
}
.part_5 .p5_list .recommend_car ul li{
	float: left;
	width: 158px;
	height: 170px;
	margin-right: 45px;
}
.part_5 .p5_list .recommend_car ul li img{
	width: 150px;
	height: 122px;
	padding: 3px;
	border: 1px solid #efefef;
}
.part_6{
	margin-top: 10px;
}
.part_6 .p6_com{
	float: left;
	width: 590px;
	height: 275px;
	border: 1px solid #d1d1d1;
}
.p6m{
	margin-left: 16px;
}
.part_6 .p6_com .p6_lead{
    width: 570px;
    height: 35px;
    line-height: 35px;
    background: #fbfbfb;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
}
.part_6 .p6_com .p6_lead a span{
    float: right;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    font-weight: normal;
}
.part_6 .p6_com .p6_list{padding: 0 10px;}
.ul_table_2car {margin:0px auto; width:570px; float:left;font-size: 14px;}
.ul_table_2car li a {text-decoration:underline;}
.ul_table_2car li a:hover {text-decoration:none;}
.ul_table_2car li{text-align:left;float:left; height:22px; padding-top:2px;}   
.ul_table_2car .c0{height:32px;line-height:32px; }      
.ul_table_2car li.t {height:32px;line-height:32px; font-weight:bold; color:#808080; border-bottom:1px solid #D1D1D1;}
.ul_table_2car .t1,.ul_table_2car .c1{width:110px; padding-top:0px;border-bottom:1px solid #efefef;}
.ul_table_2car .t2,.ul_table_2car .c2{width:220px; padding-top:0px;border-bottom:1px solid #efefef;}
.ul_table_2car .t3,.ul_table_2car .c3{width:80px;padding-top:0px;border-bottom:1px solid #efefef;}
.ul_table_2car .t4,.ul_table_2car .c4{width:60px;padding-top:0px;border-bottom:1px solid #efefef;}
.ul_table_2car .t6,.ul_table_2car .c6{width:90px;padding-top:0px;border-bottom:1px solid #efefef; white-space:nowrap; overflow:hidden;}	


.part_7{
	margin-top: 10px;
}
.part_7 .p7_lead em{
	    width: 265px;
    height: 39px;
    float: left;
    background: url(../images/girlcar.gif) no-repeat center;
}
.part_7 .p7_lead p{
	height: 39px;
    line-height: 39px;
    color: #fff;
    text-align: right;
    color: #fff;
    display: block;
    width: 935px;
    float: left;
    margin-top: 1px;
    background: url(../images/tg2.gif) repeat-x;
}
.part_7 .p7_lead p a{
	padding: 0 10px;
	color: #fff;
}
.p7_list{
    height: 373px;
    border: #d1d1d1 1px solid;
    border-top: none;
    margin-top: -1px;
    padding: 10px 20px;
}
.p7_list .p7_left{
	    float: left;
    width: 264px;
    height: 370px;
    text-align: center;
    border: 1px solid #dadcdb;
}
.p7_list .p7_left img{
	width: 253px;
	height: 335px;
	padding-top: 5px;
}
.p7_list .p7_left p{
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	font-size: 14px;
	width: 264px;
	overflow: hidden;
}
.p7_list .p7_right{
	float: left;
	width: 872px;
	margin-left: 20px;
}
.p7_list .p7_right .pic_up ul{
	width: 900px;
}
.p7_list .p7_right .pic_up ul li{
	float: left;
	width: 132px;
	height: 209px;
	text-align: center;
	border: 1px solid #dadcdb;
	margin-right: 14px;
}
.p7_list .p7_right .pic_up ul li img{
	width: 122px;
	height: 165px;
	margin-top: 5px;
}
.p7_list .p7_right .pic_up ul li p{
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	width: 132px;
	overflow: hidden;
}
.p7_list .p7_right .pic_down ul{
	width: 900px;
}
.p7_list .p7_right .pic_down ul li{
	float: left;
	width: 160px;
	height: 160px;
	text-align: center;
	border: 1px solid #dadcdb;
	margin-right: 18px;
}
.p7_list .p7_right .pic_down ul li img{
	width: 150px;
	height: 113px;
	margin-top: 5px;
}
.p7_list .p7_right .pic_down ul li  p{
	height: 32px;
	line-height: 32px;
	font-size: 14px;
}
.part_8{
	margin-top: 7px;
}
.part_8 .part_txt1{
    float: left;
    width: 283px;
    height: 270px;
}
.pub_mar{
	margin-right: 20px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.pt_lead{
	width: 283px;
    height: 46px;
    background: #e0f2ff;
    font-size: 25px;
	line-height: 46px;
	text-indent: 10px;
}
.part_8 .part_txt1 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_1.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_8 .part_txt1 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.pt_txt{
	margin-top: 5px;
}
.part_8 .part_txt1 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_8 .part_txt1 .pt_txt ul li{
	    height: 26px;
    line-height: 26px;
    width: 261px;
    overflow: hidden;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.part_8 .part_txt2{
    float: left;
    width: 283px;
    height: 270px;
}
.part_8 .part_txt2 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_2.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_8 .part_txt2 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_8 .part_txt2 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_8 .part_txt2 .pt_txt ul li{
    height: 21px;
    line-height: 22px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.part_8 .part_txt3{
    float: left;
    width: 283px;
    height: 270px;
}
.part_8 .part_txt3 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_3.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_8 .part_txt3 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_8 .part_txt3 .pt_txt{
    width: 244px;
    height: 201px;
    padding: 10px 18px;
}
.part_8 .part_txt3 .pt_txt .pt_1{
	margin-bottom: 2px;
}
.part_8 .part_txt3 .pt_txt ul li{
	height: 21px;
	font-size: 14px;
	margin-bottom: 7px;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    overflow: hidden;
}
.part_8 .part_txt3 .pt_txt p span{
	float: left;
}
.part_8 .part_txt3 .pt_txt p span a{
	display: block;
	width: 101px;
	height: 33px;
	background: #ff5a00;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	line-height: 33px;
}
.part_8 .part_txt3 .pt_txt p  em{
	margin-left: 40px;
	float: left;
}
.part_8 .part_txt3 .pt_txt p  em a{
	width: 101px;
	height: 33px;
	display: block;
	border-radius: 5px;
	line-height: 33px;
	background: #fff;
	border: 1px solid #cdcdcd;
	position: relative;
	text-indent: 38px;
}
.part_8 .part_txt3 .pt_txt p  em a i{
	width: 22px;
	height: 22px;
	position: absolute;
	left: 11px;
	top: 5px;
	background: url(../images/fc_qq.png) no-repeat center;
}
.part_8 .part_txt4{
	float: left;
	width: 283px;
	height: 270px;
	border: 1px solid #e0f2ff;
}
.part_8 .part_txt4 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_4.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_8 .part_txt4 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_8 .part_txt4 .pt_txt{
    width: 281px;
    height: 221px;
}
.part_8 .part_txt4 .pt_txt .ptt_lead{
	border-bottom: 1px solid #cfcfcf
}
.part_8 .part_txt4 .pt_txt .ptt_lead ul li{
    margin-right: 0;
    padding: 0 5px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.part_8 .part_txt4 .pt_txt .ptt_lead ul li.ptt_first{
	border-right: 1px solid #cfcfcf;
}
.part_8 .part_txt4 .pt_txt .ptt_lead ul li.ptt_bc{
	border-bottom: 2px solid #ff6440;
}
.part_8 .part_txt4 .pt_txt .ptt_list{
	padding: 0 5px;
}
.part_8 .part_txt4 .pt_txt .ptt_list ul li{
	padding-left: 32px;
	background: url(../images/fc_hot.png) no-repeat left;
	height: 24px;
	line-height: 24px;
	margin-top: 6px;
}
.part_8 .part_txt4 .pt_txt .ptt_list ul li em{
	color: #0e3c7a;
	font-size: 16px;
	float: left;
	width: 140px;
	overflow: hidden;
	height: 24px;
}
.part_8 .part_txt4 .pt_txt .ptt_list ul li span{
	color: #39bd29;
	font-size: 12px;
	margin-left: 2px;
}
.part_8 .part_txt4 .pt_txt .ptt_list ul li i{
	font-style: normal;
	float: right;
	color: #e10000;
}
.p_lead em{
	font-size: 22px;
	padding-left: 30px;
	background: url(../images/i100.png) no-repeat left;
	color: #f17b19;
	float: left;
	width: 93px;
}