.nav_3 {
	background: #f18101!important;
} 
.n3_left ul li a{
	color: #fff!important;
	font-weight: normal!important;
}
.part_1{
	margin-top: 7px;
}
.part_1 .p_lead img{
	float: left;
}
.part_1 .p_lead span{
	float: left;
	padding-left: 20px;
	background: url(../images/i20.gif) no-repeat left;
	margin-left: 60px;
	font-size: 14px;
}
.part_1 .p_lead{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
}
.part_1 .gg_list{
	height: 30px;
	line-height: 30px;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
}
.p1_list{
	border: 1px solid #cbcbcb;
	height: 290px;
}
.p1_list .p1l_lead{
	border-bottom:  1px solid #cbcbcb;
}
.p1_list .p1l_lead ul li{
	width: 171px;
	float: left;
	text-align: center;
	border-right: 1px solid #cbcbcb;
	box-sizing:border-box;
	height: 33px;
	line-height: 33px;
	position: relative;
	font-size: 16px;
	cursor: pointer;
}
.p1_list .p1l_lead ul li i{
    position: absolute;
    top: 33px;
    background: url(../images/ms_1.png) no-repeat center;
    left: 76px;
    width: 14px;
    height: 5px;
    display: none;
}
.p1_list .p1l_lead ul li.last_box{
	border-right:none;
}
.p1_list .p1l_lead ul li.p1l_bc{
	background: #ee8300;
	color: #fff;
}
.p1_list .p1l_lead ul li.p1l_bc i{
	display: block;
}
.p1_list .p1l_txt{
	padding: 5px;
}
.p1_list .p1l_txt .p1lt_1{
	margin-top: 3px;
}
.p1_list .p1l_txt .p1lt_1 ul{
	width: 1220px;
}
.p1_list .p1l_txt .p1lt_1 ul li{
	width: 163px;
	float: left;
	height: 150px;
	margin-right: 8px;
} 
.p1_list .p1l_txt .p1lt_1 ul li a img{
	width: 163px;
	height: 118px;
}
.p1_list .p1l_txt .p1lt_1 ul li a p{
	font-size: 14px;
	width: 163px;
	height: 20px;
	overflow: hidden;
	color: rgb(17, 102, 187)
}
.p1_list .p1l_txt .p1lt_2{
	width: 1300px;
}
.p1_list .p1l_txt .p1lt_2 ul{
	float: left;
	margin-right: 35px;
}
.p1_list .p1l_txt .p1lt_2 ul li{
    height: 30px;
    line-height: 30px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.part_2{
	margin-top: 7px;
}
.part_2 .p_lead{
	height: 30px;
	line-height: 30px;
	margin-bottom: 7px;
}
.p_lead em{
	font-size: 22px;
	padding-left: 30px;
	background: url(../images/i100.png) no-repeat left;
	color: #f17b19;
	float: left;
	width: 93px;
}
.part_2 .p_lead ul {
    float: left;
    margin-left: 142px;
}
.part_2 .p_lead ul li{
	float: left;
    height: 30px;
    line-height: 30px;
}
.part_2 .p_lead ul li a{
	    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
.part_2 .p_lead  span{
	    float: right;
    font-size: 18px;
    font-weight: bold;
}
.part_2 .p2_list .p2l_pic{
	float: left;
	margin-right: 6px;
	width: 253px;
	height: 103px;
}
.part_2 .p2_list .p2l_pic a{
	display: block;
	height: 103px;
}
.part_2 .p2_list .p2l_pic img{
	width: 253px;
	height: 103px;
}
.part_2 .p2_list .p2ll{
	float: left;
	width: 336px;
	overflow: hidden;
	height: 103px;
}
.part_2 .p2_list .p2ll img{
	float: left;
	width: 147px;
	height: 103px;
	margin-right: 6px;
}
.part_2 .p2_list .p2ll .p2ll_txt{
	height: 103px;
	overflow: hidden;
}
.part_2 .p2_list .p2ll .p2ll_txt h1 a{
	padding-left: 30px;
	background: url(../images/hand.gif) no-repeat left;
	color: #FD0000;
	font-size: 14px
}
.part_2 .p2_list .p2ll .p2ll_txt ul li{
	margin-bottom: 5px;
}
.part_2 .p2_list .p2ll .p2ll_txt ul li.dian{
	margin-bottom: 0;
}
.part_2 .p2_list .p2ll .p2ll_txt ul li.dian span{
    background: url(../images/review_start.gif) no-repeat 0 -58px;
    width: 58px;
    vertical-align: text-bottom;
    height: 16px;
    display: inline-block;
}
.part_2 .p2_list .p2l_tab{
	float: left;
	margin-left: 6px;
	width: 261px;
	height: 103px;
	overflow: hidden;
	border: 1px solid #bfbfbf;
}
.part_2 .p2_list .p2l_tab .tab{
	height: 31px;
	line-height: 30px;
}
.part_2 .p2_list .p2l_tab .tab ul li{
	float: left;
	width: 33.3333%;
	text-align:center;
	font-size: 14px;
	border-right:  1px solid #bfbfbf;
	border-bottom:  1px solid #bfbfbf;
	box-sizing:border-box;
	cursor: pointer;
}
.part_2 .p2_list .p2l_tab .tab ul li.last_box{
	border-right: none;
}
.part_2 .p2_list .p2l_tab .tab ul li.tab_bc{
	border-bottom: none;
}
.part_2 .p2_list .p2l_tab .tab_list{
	padding: 0 10px;
}
.part_2 .p2_list .p2l_tab .tab_list ul li{
	height: 25px;
	line-height: 25px;
	padding-left: 13px;
	width: 230px;
	background: url(../images/point_1.png) no-repeat left;
	border-bottom: 1px dashed #e4e5e7;
}
.part_2 .p2_list .p2l_tab .tab_list ul li.b_last{
	border-bottom: none;
}
.part_2 .p2_list .p2l_tab .tab_1 h1{
	background: url(../images/todaydjtop.jpg) no-repeat center;
	display: block;
	height: 32px;
}
.part_5{
	margin-top: 7px;
}
.part_5 .part_txt1{
    float: left;
    width: 283px;
    height: 270px;
}
.pub_mar{
	margin-right: 20px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.pt_lead{
	width: 283px;
    height: 46px;
    background: #e0f2ff;
    border-radius: 5px;
    font-size: 25px;
	line-height: 46px;
	text-indent: 10px;
}
.part_5 .part_txt1 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_1.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .pt_lead a{
	float: right;
	margin-right: 10px;
	font-size: 14px;
}
.pt_txt{
	margin-top: 5px;
}
.part_5 .part_txt1 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt1 .pt_txt ul li{
	    height: 26px;
    line-height: 26px;
    width: 261px;
    overflow: hidden;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.part_5 .part_txt2{
    float: left;
    width: 283px;
    height: 270px;
}
.part_5 .part_txt2 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_2.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt2 .pt_lead em{
    width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 92px;
}
.part_5 .part_txt2 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt2 .pt_txt ul li{
    height: 21px;
    line-height: 22px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.part_5 .part_txt3{
    float: left;
    width: 283px;
    height: 270px;
}
.part_5 .part_txt3 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_3.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt3 .pt_lead em{
	 width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 95px;
}
.part_5 .part_txt3 .pt_txt{
    width: 244px;
    height: 201px;
    padding: 10px 18px;
}
.part_5 .part_txt3 .pt_txt .pt_1{
	margin-bottom: 2px;
}
.part_5 .part_txt3 .pt_txt .pt_1 img{
	width: 104px;
	height: 82px;
	float: left;
}
.part_5 .part_txt3 .pt_txt .pt_1 span a{
	color: grey;
}
.part_5 .part_txt3 .pt_txt ul li{
	margin-bottom: 3px;
	font-size: 14px;
	margin-bottom: 7px;
	    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 234px;
    height: 21px;
    overflow: hidden;
}
.part_5 .part_txt4{
	float: left;
	width: 283px;
	height: 270px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.part_5 .part_txt4 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_4.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt4 .pt_lead em{
	width: 34px;
	height: 11px;
	background: url(../images/more.gif) no-repeat center;
	display: inline-block;
	margin-top: 18px;
	margin-left: 95px;
}
.part_5 .part_txt4 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt4 .pt_txt ul li{
	    height: 30px;
    line-height: 30px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.h_search{
	float: left;
	width: 946px;
	height: 94px;
	padding-left: 10px;
	background: url(../images/new_1.png) no-repeat center;
	position: relative;
}
.h_search .sear_lead ul{
	padding-left: 133px;
	clear: both;
}
.h_search .sear_lead ul li{
	float: left;
	height: 30px;
	text-align: center;
	line-height: 27px;
	width: 85px;
	height: 27px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 700;
	padding-top: 1px;
}
.h_search .sear_list .sear{
	z-index: 10;
	position: absolute;
	margin: 0 8px;
	width: 920px;
	padding-top: 6px;
}
.h_search .sear_list .sear form{
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 9px;
}
.h_search .sear_list .xinwen  input{
	border: #bc3d3a 2px solid;
	padding: 0 2px;
	height: 30px;
	font-size: 14px;
	text-indent: 10px;
	width: 807px;
	float: left;
}
.h_search .sear_list .xinwen .btn{
	float: left;
	width: 83px;
	height: 30px;
	background: url(../images/sosobg.gif);
	background-position: -390px -125px;
	border: none;
	margin-top: 2px;
}
.h_search .sear_list .loupan{
	z-index: 999;
    float: left;
    height: 30px;
    padding: 4px 0 4px 4px;
} 
.select{
	margin-right: 10px;
	float: left;
	width: 104px;
	height: 32px;
	background: url(../images/sosobg.gif) no-repeat;
	background-position: -182px -125px;
}
.select .sle{
    padding-bottom: 0px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 30px;
    color: #780000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    cursor: pointer;
}
.select ul{
	BORDER-BOTTOM: #bf2722 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #bf2722 1px solid;
    PADDING-BOTTOM: 5px;
    LIST-STYLE-TYPE: none;
    MARGIN: -1px 0px 0px;
    PADDING-LEFT: 0px;
    WIDTH: 102px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #ffffff;
    BORDER-TOP: #bf2722 1px solid;
    BORDER-RIGHT: #bf2722 1px solid;
    PADDING-TOP: 0px;
}
.select ul li{
    TEXT-ALIGN: left;
    cursor: pointer;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 10px;
    DISPLAY: block;
    HEIGHT: 22px;
    COLOR: #222;
    FONT-SIZE: 15px;
    TEXT-DECORATION: none;
}
.select ul li:hover{
	background: #bc3d3a;
	color: #fff;
}
.loupan .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 450px;
    float: left;
}
.btn{
    float: left;
    width: 83px;
    height: 30px;
    background: url(../images/sosobg.gif);
    background-position: -390px -125px;
    border: none;
    margin-top: 0px;
    margin-left: 10px;
}
.ershou{
	padding-top: 6px;
}
.ershou .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 350px;
    float: left;
}
.jiaju {
	padding-top: 6px;
}
.jiaju .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 695px;
    float: left;
}
.sea_bc{
    BACKGROUND-IMAGE: url(../images/sosobg.gif);
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    PADDING-LEFT: 0px;
    WIDTH: 86px;
    PADDING-RIGHT: 4px;
    BACKGROUND-POSITION: 0px -125px;
    HEIGHT: 30px;
    COLOR: #da0000;
    PADDING-TOP: 0px;
}