.nav_3 {
	background: #c20a0a!important;
} 

.n3_left ul li a{
	color: #fff!important;
	font-weight: normal!important;
}
.part_1{
	margin-top: 7px;
}
.part_1 img{
	float: left;
}
.part_1 .p1_lead {
	margin-bottom: 7px;
}
.part_1 .p1_lead span{
	float: left;
	padding-left: 20px;
	background: url(../images/i20.gif) no-repeat left;
	margin-left: 60px;
	font-size: 14px;
}
.part_1 .p_lead{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
}
.p1_list{
	height: 444px;
	overflow: hidden;
}
.p1_list ul{
	width: 1250px;
}
.p1_list ul li{
	width: 169px;
    height: 196px;
    border: 1px solid #e7e7e7;
    padding: 8px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.p1_list ul li h1{
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 5px;
}
.p1_list ul li h1 em{
	font-weight: bold;
	color: #bc0c00;
}
.p1_list ul li .p1l_pic{
	width: 168px;
	height: 120px;
	color: #fff;
}
.p1_list ul li .p1l_pic img{
	width: 168px;
	height: 120px;
}
.p1_list ul li .go_see{
	background:#ea3405;
	color: #fff;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
}
.p1_list ul li .go_see span{
	margin-left: 8px;
}
.p1_list ul li .go_see em{
	width: 66px;
	height: 24px;
	background: #fdcb36;
	border-radius: 5px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	display: block;
	float: right;
	margin-top: 3px;
	margin-right: 5px;
}
.part_2{
	margin-top: 7px;
}
.part_2 .p2_lead{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
}
.part_2 .p2_lead img{
	float: left;
}
.part_2 .p2_lead ul{
	float: left;
	margin-left: 405px;
}
.part_2 .p2_lead ul li{
	float: left;
}
.part_2 .p2_lead ul li a{
	padding: 0 10px;
	font-size: 14px;
}
.part_2 .p2_lead p{
	float: left;
}
.part_2 .p2_lead p i{
	float: left;
}
.part_2 .p2_lead p i a{
	width: 105px;
	height: 30px;
	display: block;
	background: url(../images/fc_1.png) no-repeat center;
}
.part_2 .p2_lead span{
	float: left;
}
.part_2 .p2_lead span a{
	width: 105px;
	height: 30px;
	display: block;
	background: url(../images/fc_2.png) no-repeat center;
}
.p5_mid{
	width: 455px;
	height: 400px;
	border: 1px solid #cfcfcf;
	float: left;
	margin-right: 9px
}
.p5_lead {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #cfcfcf;
}
.p5_mid .p5_lead ul{
	float: left;
	margin-left: 5px;
}
.p5_mid .p5_lead ul li{
	margin-right: 0;
	padding:0 5px;
	height: 33px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	float: left;
}
.p5_mid .p5_lead ul li.pl_first{
	border-right: 1px solid #cfcfcf;
}
.p5_mid .p5_lead ul li.pl_bc{
	border-bottom: 2px solid #ff6440;
}
.p5_mid .p5_lead a{
	float: right;
	margin-right: 10px;
}
.p5_mid .p5_list{
	padding: 0 10px;
}
.p5_mid .p5_list .p5_tx {
	margin-top: 9px;
}
.p5_mid .p5_list .p5_tx ul li{
	float: left;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.p5_mid .p5_list .p5_tx ul li.tx5_1{
	width: 165px;
	color: #025998;
	margin-right: 7px;
}
.p5_mid .p5_list .p5_tx ul li.tx5_2{
	width: 92px;
	color: #099802;
}
.p5_mid .p5_list .p5_tx ul li.tx5_3{
	width: 87px;
	color: #dc5300;
}
.p5_mid .p5_list .p5_tx ul li.tx5_4{
	width: 84px;
	color: #949693;
}
.p2_right{
	float: right;
	width: 266px;
	border: 1px solid #cfcfcf;
}
.p2_right .p2r_lead {
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #cfcfcf;
}
.p2_right .p2r_lead ul{
    margin-left: 5px;
    float: left;
}
.p2_right .p2r_lead ul li{
    margin-right: 0;
    padding: 0 5px;
    height: 31px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.p2rl_first{
    border-right: 1px solid #cfcfcf;
}
.p2_right .p2r_lead ul li.p2rl_bc{
	border-bottom: 2px solid #ff6440;
}
.p2_right .p2r_list{
	padding: 3px 5px;
}
.p2_right .p2r_list ul li{
	padding-left: 10px;
	background: url(../images/point.png) no-repeat left;
	width: 246px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.p2_right .p2r_list ul li a{
	display: block;
	width: 246px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.part_3{
	margin-top: 7px;
}
.part_3 .part_txt1{
    float: left;
    width: 283px;
    height: 270px;
}
.pub_mar{
	margin-right: 20px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.pt_lead{
	width: 283px;
    height: 46px;
    background: #e0f2ff;
    font-size: 25px;
	line-height: 46px;
	text-indent: 10px;
}
.part_3 .part_txt1 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_1.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt1 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.pt_txt{
	margin-top: 5px;
}
.part_3 .part_txt1 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_3 .part_txt1 .pt_txt ul li{
	    height: 26px;
    line-height: 26px;
    width: 261px;
    overflow: hidden;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.part_3 .part_txt2{
    float: left;
    width: 283px;
    height: 270px;
}
.part_3 .part_txt2 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_2.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt2 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_3 .part_txt2 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_3 .part_txt2 .pt_txt ul li{
    height: 21px;
    line-height: 22px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.part_3 .part_txt3{
    float: left;
    width: 283px;
    height: 270px;
}
.part_3 .part_txt3 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_3.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt3 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_3 .part_txt3 .pt_txt{
    width: 244px;
    height: 201px;
    padding: 10px 18px;
}
.part_3 .part_txt3 .pt_txt .pt_1{
	margin-bottom: 2px;
}
.part_3 .part_txt3 .pt_txt ul li{
	height: 21px;
	font-size: 14px;
	margin-bottom: 7px;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    overflow: hidden;
}
.part_3 .part_txt3 .pt_txt p span{
	float: left;
}
.part_3 .part_txt3 .pt_txt p span a{
	display: block;
	width: 101px;
	height: 33px;
	background: #ff5a00;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	line-height: 33px;
}
.part_3 .part_txt3 .pt_txt p  em{
	margin-left: 40px;
	float: left;
}
.part_3 .part_txt3 .pt_txt p  em a{
	width: 101px;
	height: 33px;
	display: block;
	border-radius: 5px;
	line-height: 33px;
	background: #fff;
	border: 1px solid #cdcdcd;
	position: relative;
	text-indent: 38px;
}
.part_3 .part_txt3 .pt_txt p  em a i{
	width: 22px;
	height: 22px;
	position: absolute;
	left: 11px;
	top: 5px;
	background: url(../images/fc_qq.png) no-repeat center;
}
.part_3 .part_txt4{
	float: left;
	width: 283px;
	height: 270px;
	border: 1px solid #e0f2ff;
}
.part_3 .part_txt4 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_4.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt4 .pt_lead a{
	float: right;
    margin-right: 10px;
    font-size: 14px;
}
.part_3 .part_txt4 .pt_txt{
    width: 281px;
    height: 221px;
}
.part_3 .part_txt4 .pt_txt .ptt_lead{
	border-bottom: 1px solid #cfcfcf
}
.part_3 .part_txt4 .pt_txt .ptt_lead ul li{
    margin-right: 0;
    padding: 0 5px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.part_3 .part_txt4 .pt_txt .ptt_lead ul li.ptt_first{
	border-right: 1px solid #cfcfcf;
}
.part_3 .part_txt4 .pt_txt .ptt_lead ul li.ptt_bc{
	border-bottom: 2px solid #ff6440;
}
.part_3 .part_txt4 .pt_txt .ptt_list{
	padding: 0 5px;
}
.part_3 .part_txt4 .pt_txt .ptt_list ul li{
	padding-left: 32px;
	background: url(../images/fc_hot.png) no-repeat left;
	height: 24px;
	line-height: 24px;
	margin-top: 6px;
}
.part_3 .part_txt4 .pt_txt .ptt_list ul li em{
	color: #0e3c7a;
	font-size: 16px;
	float: left;
	width: 140px;
	overflow: hidden;
	height: 24px;
}
.part_3 .part_txt4 .pt_txt .ptt_list ul li span{
	color: #39bd29;
	font-size: 12px;
	margin-left: 2px;
}
.part_3 .part_txt4 .pt_txt .ptt_list ul li i{
	font-style: normal;
	float: right;
	color: #e10000;
}
.p_lead em{
	font-size: 22px;
	padding-left: 30px;
	background: url(../images/i100.png) no-repeat left;
	color: #f17b19;
	float: left;
	width: 93px;
}







.h_search{
	float: left;
	width: 946px;
	height: 94px;
	padding-left: 10px;
	background: url(../images/new_1.png) no-repeat center;
	position: relative;
}
.h_search .sear_lead ul{
	padding-left: 133px;
	clear: both;
}
.h_search .sear_lead ul li{
	float: left;
	height: 30px;
	text-align: center;
	line-height: 27px;
	width: 85px;
	height: 27px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 700;
	padding-top: 1px;
}
.h_search .sear_list .sear{
	z-index: 10;
	position: absolute;
	margin: 0 8px;
	width: 920px;
	padding-top: 6px;
}
.h_search .sear_list .sear form{
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 9px;
}
.h_search .sear_list .xinwen  input{
	border: #bc3d3a 2px solid;
	padding: 0 2px;
	height: 30px;
	font-size: 14px;
	text-indent: 10px;
	width: 807px;
	float: left;
}
.h_search .sear_list .xinwen .btn{
	float: left;
	width: 83px;
	height: 30px;
	background: url(../images/sosobg.gif);
	background-position: -390px -125px;
	border: none;
	margin-top: 2px;
}
.h_search .sear_list .loupan{
	z-index: 999;
    float: left;
    height: 30px;
    padding: 4px 0 4px 4px;
} 
.select{
	margin-right: 10px;
	float: left;
	width: 104px;
	height: 32px;
	background: url(../images/sosobg.gif) no-repeat;
	background-position: -182px -125px;
}
.select .sle{
    padding-bottom: 0px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 30px;
    color: #780000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    cursor: pointer;
}
.select ul{
	BORDER-BOTTOM: #bf2722 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #bf2722 1px solid;
    PADDING-BOTTOM: 5px;
    LIST-STYLE-TYPE: none;
    MARGIN: -1px 0px 0px;
    PADDING-LEFT: 0px;
    WIDTH: 102px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #ffffff;
    BORDER-TOP: #bf2722 1px solid;
    BORDER-RIGHT: #bf2722 1px solid;
    PADDING-TOP: 0px;
}
.select ul li{
    TEXT-ALIGN: left;
    cursor: pointer;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 10px;
    DISPLAY: block;
    HEIGHT: 22px;
    COLOR: #222;
    FONT-SIZE: 15px;
    TEXT-DECORATION: none;
}
.select ul li:hover{
	background: #bc3d3a;
	color: #fff;
}
.loupan .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 450px;
    float: left;
}
.btn{
    float: left;
    width: 83px;
    height: 30px;
    background: url(../images/sosobg.gif);
    background-position: -390px -125px;
    border: none;
    margin-top: 0px;
    margin-left: 10px;
}
.ershou{
	padding-top: 6px;
}
.ershou .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 350px;
    float: left;
}
.jiaju {
	padding-top: 6px;
}
.jiaju .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 695px;
    float: left;
}
.sea_bc{
    BACKGROUND-IMAGE: url(../images/sosobg.gif);
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    PADDING-LEFT: 0px;
    WIDTH: 86px;
    PADDING-RIGHT: 4px;
    BACKGROUND-POSITION: 0px -125px;
    HEIGHT: 30px;
    COLOR: #da0000;
    PADDING-TOP: 0px;
}