.nav_3 {
    background: #3ea3ff!important;
} 
.n3_left ul li a{
    color: #fff!important;
    font-weight: normal!important;
}
.part_1{
	margin-top: 7px;
}
.part_1 .p_lead img{
	float: left;
}
.part_1 .p_lead span{
	float: left;
	padding-left: 20px;
	background: url(../images/i20.gif) no-repeat left;
	margin-left: 60px;
	font-size: 14px;
}
.part_1 .p_lead{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.part_1 .gg_list{
	height: 30px;
	line-height: 30px;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
}
.part_1 .p_list{
	width: 1197px;
}
.part_1 .p_list{
	border: 1px solid rgb(101, 200, 151);
	border-bottom: none;
}
.part_1 .p_list .ad_l{
	width: 1220px;
}
.part_1 .p_list .pl_ad{
    padding: 6px;
    width: 171px;
    height: 71px;
    float: left;
    border-bottom: 1px solid rgb(101, 200, 151);
    border-right: 1px solid rgb(101, 200, 151);
    box-sizing: border-box;
    position: relative;
}
.part_1 .p_list .pl_ad:hover i{
	display: block;
}
.part_1 .p_list .pl_ad:hover .ad_detail{
	display: block;
}
.part_1 .p_list .pl_ad img{
	width: 159px;
	height: 58px;
}
.br_none{
    border-right: none!important;
}
.part_1 .p_list .pl_ad i{
	position:  absolute;
	left: 6px;
	top: 6px;
	width: 159px;
	height: 58px;
	background: rgba(0, 0, 0, 0.54);
	display: none;
	z-index: 2;
}
.part_1 .p_list .pl_ad .ad_detail{
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 3;
    width: 159px;
    border: 2px solid #49A3FF;
    background-color: #F8FDFF;
    font-size: 14px;
    display: none;
}
.part_1 .p_list .pl_ad .ad_detail h1{
	font-weight: bold;
	padding: 0 5px;
}
.part_1 .p_list .pl_ad .ad_detail ul {
	padding: 0 5px;
}
.part_2{
	margin-top: 7px;
}
.part_2 .p2l_left{
	height: 54px;
	background: url(../images/i12.gif);
	float: left;
	width: 480px;
}
.part_2 .p2l_left ul li{
    float: left;
    width: 159px;
    text-align: center;
    line-height: 54px;
    font-size: 18px;
    font-weight: bold;
    font-family: "宋体";
    cursor: pointer;
}
.part_2 .p2l_right{
	float: left;
	width: 720px;
	line-height: 54px;
	height: 54px;
	background: url(../images/i13.gif) repeat-x;
}
.part_2 .p2l_right a{
	float: right;
	padding-right: 30px;
    color: red;
    font-size: 14px;
    margin-right: 14px;
    font-weight: bold;
	background: url(../images/news1222.gif) no-repeat right;
}
.part_2 .p2_list .p2ll{
	height: 468px;
}
.part_2 .p2_list .p2l_1{
	padding: 0 5px;
}
.part_2 .p2_list .p2l_1 ul li{
	float: left;
	width: 25%;
	border-bottom:  #999999 1px dotted;
	height: 52px;
	padding: 5px;
	box-sizing:border-box;
	font-size: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.part_2 .p2_list .p2l_1 ul li h1{
	width: 100%;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.part_2 .p2_list .p2l_1 ul li p span{
    color: rgb(255, 102, 0);
    font-weight: bold;
    margin-right: 3px;
}
.part_2 .p2_list .p2l_1 ul li p a{
	margin-right: 8px;
	color: rgb(0, 51, 153);
}
.part_2 .p2_list .p2l_1 ul li p a:hover{
	color: #f00;
}
.part_2 .p2_list .p2l_2 ul li{
    float: left;
    width: 25%;
    border-bottom: #999999 1px dotted;
    height: 33px;
    line-height: 24px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.part_2 .p2_list .p2l_2 ul li .pos{
	position: absolute;
    z-index: 999;
    width: 150px;
    padding: 3px;
    border: 1px solid #5A9ECE;
    background-color: #Ffffff;
    color: #213f68;
    white-space: normal;
    line-height: normal;
    display: none;
}
.part_2 .p2_list .p2l_2 ul li .pos em{
	font-weight: 700;
    color: #db1023;
    padding-left: 0;
}
.part_2 .p2_list .p2l_3{
	position: relative;
	overflow: hidden;
}
.part_2 .p2_list .p2l_3 ul{
    float: left;
    width: 271px;
    margin-right: 38px;
}
.part_2 .p2_list .p2l_3 ul.mr_none{
	margin-right: 0;
}
.part_2 .p2_list .p2l_3 ul li a img{
	margin-left: 5px;
}
.part_2 .p2_list .p2l_3 ul li em{
	color: #999999;
}
.part_2 .p2_list .p2l_3 .line1{
    height: 350px;
    width: 14px;
    position: absolute;
    left: 289px;
    top: 20px;
}
.part_2 .p2_list .p2l_3 .line2{
    height: 350px;
    width: 14px;
    position: absolute;
    left: 597px;
    top: 20px; 	
}
.part_2 .p2_list .p2l_3 .line3{
    height: 350px;
    width: 14px;
    position: absolute;
    left: 907px;
    top: 20px;
}
.p2l_bc{
	color: #ED6E03!important;
}
.part_3{
	margin-top: 7px;
}
.part_3 .part_txt1{
    float: left;
    width: 283px;
    height: 270px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.pub_mar{
	margin-right: 20px;
}
.pt_lead{
	width: 283px;
    height: 46px;
    background: #e0f2ff;
    font-size: 25px;
	line-height: 46px;
	text-indent: 10px;
}
.part_3 .part_txt1 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_1.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .pt_lead a{
	float: right;
	margin-right: 10px;
	font-size: 14px;
}
.pt_txt{
	margin-top: 5px;
}
.part_3 .part_txt1 .pt_txt{
    width: 281px;
    height: 221px;
}
.part_3 .part_txt1 .pt_txt h1 {
	text-align: center;
	padding-top: 25px;
	margin-bottom: 5px;
}
.part_3 .part_txt1 .pt_txt h1 a{
    font-size: 14px;
    color: #FF0000;
}
.part_3 .part_txt1 .pt_txt ul{
    padding: 0 18px;
}
.part_3 .part_txt1 .pt_txt ul li{
	line-height: 27px;
}
.part_3 .part_txt1 .pt_txt ul li em{
    font-size: 12px;
    color: #ff5400;
}
.part_3 .part_txt2{
    float: left;
    width: 283px;
    height: 270px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.part_3 .part_txt2 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_2.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt2 .pt_lead em{
    width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 68px;
}
.part_3 .part_txt2 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px 5px;
}
.part_3 .part_txt2 .pt_txt ul li{
	width: 50%;
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}
.part_3 .part_txt2 .pt_txt ul li i{
	width: 18px;
	height: 15px;
	background: url(../images/r.gif) no-repeat center;
	display: inline-block;
	vertical-align: text-bottom;
}
.part_3 .part_txt3{
    float: left;
    width: 283px;
    height: 270px;
    border: 1px solid #e0f2ff;
	border-radius: 5px;
}
.part_3 .part_txt3 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_3.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt3 .pt_lead em{
	 width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 88px;
}
.part_3 .part_txt3 .pt_txt{
    width: 244px;
    height: 201px;
    padding: 10px 18px;
}
.part_3 .part_txt3 .pt_txt .pt_1{
	margin-bottom: 2px;
}
.part_3 .part_txt3 .pt_txt .pt_1 img{
	width: 104px;
	height: 82px;
	float: left;
}
.part_3 .part_txt3 .pt_txt .pt_1 span a{
	color: grey;
}
.part_3 .part_txt3 .pt_txt ul li{
	margin-bottom: 3px;
	font-size: 14px;
	margin-bottom: 7px;
}
.part_3 .part_txt4{
	float: left;
	width: 283px;
	height: 270px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.part_3 .part_txt4 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_4.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_3 .part_txt4 .pt_lead em{
	width: 34px;
	height: 11px;
	background: url(../images/more.gif) no-repeat center;
	display: inline-block;
	margin-top: 18px;
}
.part_3 .part_txt4 .pt_txt{
    width: 261px;
    height: 202px;
    padding: 10px 10px;
}
.part_3 .part_txt4 .pt_txt ul li{
    height:24px;
    line-height: 24px;
    width: 261px;
    overflow: hidden;
}
.p_lead em{
	font-size: 22px;
	padding-left: 30px;
	background: url(../images/i100.png) no-repeat left;
	color: #f17b19;
	float: left;
	width: 140px;
}
.disk{
	z-index: 100;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.2;
}
.position{
    z-index: 1001;
    position: fixed;
    width: 568px;
    height: 627px;
    top: 150px;
	left: 50%;
	margin-left: -323px;
    font-size: 12px;
    background: #fff;
    border-bottom: solid 3px #ad1319;
    text-align: left;
}
.position .pos_lead{
    height: 32px;
    line-height: 26px;
    background: #c11f28 url(../images/box-head.gif) left top repeat-x;
    color: #fff;
    text-indent: 12px;
    position: relative;
}
.position .pos_lead span{
	float: right;
	margin-right: 10px;
	cursor: pointer;
}
.position .pos_list{
    padding:40px 10px 0px 10px;
}
.position .pos_list a{
    background: #fafafa;
    border: solid 1px #efefef;
    width: 178px;
    float: left;
    margin-left: 1px;
    text-indent: 5px;
    position: relative;
}
.position .pos_list a:hover{
	border: solid 1px #aaa;
	color: #000;
}
.pos_detail{
    background: #fff;
    font-size: 12px;
    padding: 3px;
    border: solid 2px #c11f28;
    text-align: left;
    width: 500px;
    position: absolute;
    z-index: 10000;
	left: 77px;
	top: 10px;
	display: none;
}
.pos_detail p{
    width: 100%;
    display: block;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    background: #fafafa;
    border: solid 1px #efefef;
    margin-left: 1px;
    margin-bottom: 1px;
    float: left;
    text-indent: 6px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    background-color: #fff;

}
.pos_detail em{
	    display: block;
    _display: inline;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    background: #fafafa;
    border: solid 1px #efefef;
    margin-left: 1px;
    margin-bottom: 1px;
    width: 95px;
    float: left;
    text-indent: 6px;
    color: #333;
    text-decoration: none;
}
.pos_detail em:hover{
	border: solid 1px #aaa;
	color: #000;
}