<!-- 底部 s -->
<div class="footer-login">
	<p>
		<a href="">关于我们</a><span class="pice">|</span><a href="">联系我们</a><span class="pice">|</span><a href="">投诉建议</a><span class="pice">|</span><a href="">广告服务</a><span class="pice">|</span><a href="">隐私保护</a><span class="pice">|</span><a href="">免责声明</a><span class="pice">|</span><a href="">用户协议</a><span class="pice">|</span><a href="">法律声明</a><span class="pice">|</span><a href="">服务条款</a><span class="pice">|</span><a href="">网络安全声明</a><span class="pice">|</span><a href="">帮助中心</a>
	</p>
	<p>Copyright © 2016 火鸟门户. All rights reserved.  工信部备案：苏ICP备13047463号  公安部备案：<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32059002001108" target="_blank">32059002001108号</a></p>
	<p>增值电信业务许可证：<a href="http://www.ikuman.cn/icp.html" target="_blank">苏B1.B2-20140200</a>、<a href="http://www.ikuman.cn/sp.html" target="_blank">B2-20160517</a></p>
</div>
<!-- 底部 e -->

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
