.fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fn-linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));background:-moz-linear-gradient(top,#fcfcfc,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top,#fcfcfc,#f1f1f1);background:-ms-linear-gradient(top,#fcfcfc,#f1f1f1);background:linear-gradient(to bottom,#fcfcfc,#f1f1f1)}
.fn-linear-light{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));background:-moz-linear-gradient(top,#fcfcfc,#f9f9f9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');background:-o-linear-gradient(top,#fcfcfc,#f9f9f9);background:-ms-linear-gradient(top,#fcfcfc,#f9f9f9);background:linear-gradient(to bottom,#fcfcfc,#f9f9f9)}
.fn-box-shadow{box-shadow:-2px 0 5px #ccc,0 -2px 5px #ccc,0 2px 5px #ccc,2px 0 5px #ccc;background-color:#fff\9;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#ccc')}
.fn-rmb{font-family:arial;font-style:normal;padding-right:4px}
.fn-webkit-adjust{-webkit-text-size-adjust:none}
.fn-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-break:keep-all}
.fn-inline-block{display:inline-block;*display:inline;*zoom:1}
.fn-arrow{position:absolute;border-width:4px;border-color:#ccc #fff #fff #fff;border-style:solid;top:18px;left:3px;font-size:0;line-height:0}
.textarea{resize: none;}
em{font-style: normal}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.row{width: 100%}
.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
.overflowHiden{overflow: hidden}
/* layout*/.tl{text-align:left}
.tc{text-align:center}
.tr{text-align: right}
.vt{vertical-align:top}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
.bc{margin-left:auto;margin-right:auto}
/* blockCenter*/.pr{position:relative}
.pa{position:absolute}
.cl{clear: both}
.fl{float: left;background: none;border: 0;}
.fr{float: right}
.fn{float: none}
.block{display:block !important}
.dib{display:inline-block}
.ofa{overflow:auto;zoom:1}
.ofh{overflow: hidden;}
.zindex{z-index: 100}
.ofs-y{overflow-y:scroll;zoom:1}
.zoom{zoom:1}
.justify{text-align:justify;text-justify:inter-ideograph;}
.hide{display: none!important;}
.hidden{visibility:hidden!important;}
.fs-b40{font-size: 2.45em;}
.fs-b36{font-size: 2.25em;}
.fs-b32{font-size: 2em;}
.fs-b24{font-size: 1.5em;}
.fs-b20{font-size: 1.25em;}
.fs-b18{font-size: 1.125em;}
.fs-b16{font-size: 1em;}
.fs-b14{font-size: .875em;}
.fs-b13{font-size: .8em;}
.fs-b12{font-size: .75em;}
.fs-b11{font-size: .7em;}
.fs-b10{font-size: .625em;}
.fs-b9{font-size: .55em;}
.box{display:-moz-box;display:-webkit-box;display:box;width:100%;}
.b-flex{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.b-flex2{-moz-box-flex:2;-webkit-box-flex:2;box-flex:2}
.b-flex3{-moz-box-flex:3;-webkit-box-flex:3;box-flex:3}
.box-vm{display:-moz-box;-moz-box-pack:center;-moz-box-align:center;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-pack:center;box-align:center}
.box-vb{display:-moz-box;display:-webkit-box;display:box;-moz-box-pack:center;-webkit-box-pack:center;box-pack:center;-moz-box-align:end;-webkit-box-align:end;box-align:end}
/* border*/.br-eee{border: 1px solid #eee;}
.br-eee{border: 1px solid #eee;}
.br-t-eee{border-top: 1px solid #eee;}
.br-b-eee{border-bottom: 1px solid #eee;}
.br-r-eee{border-right: 1px solid #eee;}
.br-l-eee{border-left: 1px solid #eee;}
.br-t-h0{border-top:0!important;}
.br-e4{border: 1px solid #e4e4e4;}
.br-t-e4{border-top: 1px solid #e4e4e4;}
.br-b-e4{border-bottom: 1px solid #e4e4e4;}
.br-b-da-e4{border-bottom: 1px dashed #e4e4e4;}
.br-l-e4{border-left: 1px solid #e4e4e4;}
.noborder{border:0!important;}
/* margin*/.m1{margin:1px}
.m2{margin:2px}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m40{margin:40px}
.mt0{margin-top:0!important;}
.mt1{margin-top:1px}
.mt2{margin-top:2px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mr0{margin-right:0!important;}
.mr1{margin-right:1px}
.mr2{margin-right:2px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mb0{margin-bottom:0}
.mb1{margin-bottom:1px}
.mb2{margin-bottom:2px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mb52{margin-bottom: 52px!important;}
.mb70{margin-bottom:70px!important;}
.ml0{margin-left:0!important;}
.ml1{margin-left:1px}
.ml2{margin-left:2px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mauto{margin-left:auto;margin-right: auto;}
/* padding*/.p0{padding:0!important;}
.p2{padding: 2px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.p40{padding:40px}
.pt0{padding-top:0!important;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}
.pr0{padding-right:0!important;}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
.pr50{padding-right:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pb40{padding-bottom:40px}
.pb50{padding-bottom:50px}
.pl0{padding-left:0!important;}
.pl5{padding-left:5px}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl35{padding-left:35px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.pl80{padding-left:80px}
.pl90{padding-left:90px}
.pl100{padding-left:100px}
.fw700{font-weight: 700}
.fwno{font-weight: normal}
.h{height:100%}
.h24{height:24px}
.h30{height:30px}
.h40{height:40px}
.h50{height:50px}
.h80{height:80px}
.h88{height:88px}
.h100{height:100px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w120{width:120px}
.w130{width:130px}
.w140{width:140px}
.w150{width:150px}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px}
.w210{width:210px}
.w220{width:220px}
.w240{width:240px}
.w280{width:280px}
.w300{width:300px;}
.w320{width:320px;}
.w340{width:340px;}
.w360{width:360px;}
.w400{width:400px;}
.w480{width:480px;}
.w640{width:640px;}
.w680{width:680px;}
.w720{width:720px;}
.w800{width:800px;}
.w960{width:960px}
.mainPanel{margin-top: 15px;position: relative}
.leftPhonewrap{float: left;position: relative;}
.leftPhonewrap .holderPhone{background: url("../images/holderPhone.png") no-repeat top center;width: 348px;height: 651px;margin: 0 auto;position: relative;display: block;overflow: hidden;}
.wxHd{width: 320px;height: 64px;background: url('../images/wxhd.png') no-repeat top center;background-size: 100%;margin: 30px auto 0;position: relative;}
.phoneTitle{color: #fff;text-align: center;width: 210px;position: absolute;left: 65px;right: 0;bottom: 9px;}
#actName h2{font-size: 18px;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 3px 0;height: 20px;line-height: 20px;}
#actNames h2{font-size: 18px;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 3px 0;height: 20px;line-height: 20px;}
#anythingContent{width: 320px;height: 514px;margin: 0 auto;}
#anythingContent{background: #8C8B91 url(../images/load.gif) center center no-repeat;position: relative;overflow: hidden;}
#anythingContent .mianMod{position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: #fff;height: 514px;    visibility: hidden;}
.swiperImg{padding: 0;margin: 0;}
.swiperImg .imgList{height: 180px;position: relative;    overflow: hidden;}
.swiperImg .imgList img{height: 100%;    width: 100%;}
.swiperImg .buttle{position: absolute;left: 0;right: 0;bottom: 15px;z-index: 5;text-align: center}
.swiperImg .buttle i{display: inline-block;width: 8px;height: 8px;background: url("../images/bullet.png") no-repeat;margin: 0 3px;cursor:pointer}
.swiperImg .buttle i.on{background: url("../images/bullet-on.png") no-repeat}
.regularMod .BigTit{height: 35px;line-height: 35px;background: #2bce89;overflow: hidden;}
.regularMod .BigTit h2{font-size: 16px;color: #fff;font-weight: normal;padding:0 15px;position: relative;}
.regularMod .baseInfo{background: #d9f9eb;padding: 20px 0}
.regularMod .baseInfo .rowList{overflow: hidden;background: #fff}
.regularMod .baseInfo .row{overflow: hidden;border-top: 1px solid #dae7e1;margin:0;margin-top: -1px;line-height: 34px;}
.regularMod .baseInfo .row img{vertical-align: middle;margin:0 5px;width: 28px;height: 28px;float: left;margin-top: 3px;}
.regularMod .baseInfo .row .descText{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 238px;float: left}
.regularMod .baseInfo .row .descText span{white-space: nowrap;}
.regularMod .baseInfo .row .descText span em{margin-right:15px}
.regularMod .baseInfo .row .arrow{width: 38px;height: 34px;background: url("../images/r.png") no-repeat center center}
.regularMod .baseInfo .row.noArrow .arrow{background: none}
.activeMod{}
.activeMod .form_component{min-height: 100px}
.form_component li{border: 1px dashed transparent;padding: 2px;}
.form_component>li{padding: 5px 0px;background: #fff;width: 318px;display: block;position: relative;}
.form_component li:hover{border-color: #ddd}
#anythingContent .form_component>li.clicked {
    background-color: #d6ce77;
    color: #000000;
}
.form_component li.unedited{background-color: #FFF5C9 !important;background-color: #FFF5C9\9;}
.addModBtn{text-align: center;padding-top: 20px}
.addModBtn a{height: 32px;line-height: 32px;background: #3caf59;color:#fff;font-size: 12px;padding: 0 20px}
.addModBtn a i{width:15px;height: 15px;vertical-align: middle;background: url("../images/addMod.png") no-repeat center center;margin-right: 5px}
.addModBtn a:hover{background: #24AF2A}
.formWrap{padding: 0 20px}
.activeFormMod input[type=text],.activeFormMod textarea{padding: 0 10px;border-radius: 5px;overflow: hidden;width: 258px;border:1px solid #cdcdcd;font-size: 12px}
.activeFormMod select{padding: 0 10px;border-radius: 5px;width: 100%;border:1px solid #cdcdcd;font-size: 12px;height: 30px;line-height:30px;background: none;}
.activeFormMod input[type=text]{height:30px;line-height: 30px}
.activeFormMod textarea{resize: none;height:120px}
.activeFormMod input[type=text].minInput{width: 40%}
.haederText{padding: 10px 0;padding-top: 0}
.haederText h2{font-size:16px;color: #666;font-weight: normal;}
.haederText h2 span.title{padding: 0 !important;font-weight: normal}
.haederText h2 i{vertical-align: middle;color: #ff1010;font-size: 12px;font-style: normal}
.haederText h2 i.redTip{display: none}
.haederText h2 s{text-decoration: none}
.haederText p{font-size: 12px;color: #9d9d9d}
.checkBoxAndRadio .modCell ul{width: 100%;display: block}
.checkBoxAndRadio .modCell ul li{float: left;width: 47.33333333%;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.checkBoxAndRadio .modCell ul li input{vertical-align: middle}
.checkBoxAndRadio .modCell ul li span{margin-left:5px;vertical-align: middle;}
.checkBoxAndRadio .modCell ul li .i-pic{line-height: 75px;overflow: hidden;height:75px;margin-bottom: 10px;text-align: center;margin-top: 5px;}
.checkBoxAndRadio .modCell ul li .i-pic img{display: inline;max-height: 100%;max-width: 100%;vertical-align: middle;height: 100%}
.modCell ul li{margin-bottom: 10px}
.modCell ul.column-1 li{float: none;display: block;width: auto;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.modCell ul.column-2 li{width: 47.33333333333%;float: left;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.modCell ul.column-3 li{width: 30.33333333333%;float: left;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.modCell ul.column-4 li{width: 22.33333333333%;float: left;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.imgMod{margin: 10px 0}
.imgMod .i-pic{width: 100%;text-align: center;}
.imgMod .i-pic img{display: inline;vertical-align: middle;}
.imgMod p{text-align: left;font-size: 12px;color: #9d9d9d;padding: 5px 0}
.in_pic_upload{display: none;}
.sectionMod{}
.sectionMod h3{border-bottom: 1px solid #cdcdcd;font-size: 16px;font-weight: normal;color: #666;padding: 0;padding-bottom: 5px;}
.sectionMod p{text-align: left;font-size: 12px;color: #9d9d9d;padding: 5px 0}
.fileUploadMod ul li{margin-bottom: 10px}
.fileUploadMod ul li{float: left;position: relative;width: 25%;text-align: center;border: 0;padding: 0}
.fileUploadMod .imgList li img{width:60px;height: 50px;display: inline-block;}
.fileUploadMod .imgList li i{width: 15px;height: 15px;position: absolute;right: 0px;top: -7.5px;background: url(../images/delete.png) no-repeat;background-size: cover;display: none;}
.fileUploadMod .btn li a{width: 59px;height: 49px;display: inline-block;border:1px solid #cdcdcd;}
.fileUploadMod .btn li.add a{background:url(../images/add.png) no-repeat center center;}
.fileUploadMod .btn li.reduce a{background:url(../images/reduce.png) no-repeat center center}
.fileUploadMod .btn li a:active{background-color: #f1f1f1}
.fileUploadMod .btn li input[type=file]{top: 0px;left: 0px;right: 0;bottom: 0;height: 49px;width: 100%;color: #999;opacity: 0;filter: alpha(opacity=0);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity: 0;-khtml-opacity: 0;overflow: hidden;z-index: 10;}
.fileUploadMod .btn li.cancel{display: none;}
.fileUploadMod .btn li.cancel a{color:red;line-height:50px;text-align: center}
.codeMod .code{display: inline-block;vertical-align: top;margin-left:5px;    padding: 0;}
.codeMod .code img{height:30px;vertical-align: bottom;}
.codeMod .btn{display: inline-block;width: 50px;height: 30px;background: url(../images/refurbish.png) no-repeat center center;;vertical-align: top;}
.codeMod .btn:active{background-color:#f1f1f1;}
.footBtn{background: #ebebeb;text-align: center;height:60px;border-top: 1px solid #cdcdcd;width: 100%}
.footBtn button{display: inline-block;width: 200px;height:40px;line-height:40px;border-radius:10px;color: #fff;background: #3caf59;text-align: center;border:0;margin-top:10px;font-size: 16px}
.rightEditwrap{overflow: hidden;padding-left: 40px;}
.rightEditwrap .formEditHd ul li{float: left;width: 25%;text-align: center}
.rightEditwrap .formEditHd ul li a{display: block;background: #eaeaea;font-size: 14px;color: #666;padding: 13px 0}
.rightEditwrap .formEditHd ul li.on a{background: #3caf59;color: #fff}
.rightEditwrap .formEditBd{color: #666}
.rightEditwrap .formEditBd .row{display: block;padding-bottom: 60px;}
.rightEditwrap .formEditBd .formRow{margin-top: 10px}
.rightEditwrap .formEditBd .rowTitle{float: left;color:#666;font-size: 14px;margin-top: 3px;width: 100px;text-align: right}
.rightEditwrap .formEditBd .mt32{margin-top: 32px}
.rightEditwrap .rowTitle132 .formRow .rowTitle{width: 132px}
.rightEditwrap .formEditBd .rowTitle i{display: inline-block;font-style: normal;vertical-align: middle;color: red}
.rightEditwrap .formEditBd .longTitle{line-height: 15px;margin-top: -4px;}
.rightEditwrap .formEditBd .shortTitle{width: 90px}
.rightEditwrap .formEditBd .putWrap{overflow: hidden;position: relative;padding-right: 23px;}
.rightEditwrap .formEditBd .addWrapBorder{border:1px solid #e0e0e0;padding: 10px;width: 358px}
.rightEditwrap .formEditBd .wxShareImg,.rightForm .formEditBd .inclusionSet{display: none}
.rightEditwrap .formEditBd .putWrap input[type=text],.rightEditwrap .formEditBd .putWrap textarea{display: block;width: 100%;padding: 5px 10px;font-size: 12px;color: #333;}
.rightEditwrap .formEditBd .putWrap input[type=text],.rightEditwrap .formEditBd .putWrap textarea,.rightEditwrap .formEditBd .putWrap select{border: 1px solid #e0e0e0;background: none;border-radius: 0;outline: none}
input[type=text].focusOn,textarea.focusOn,select.focusOn{border:1px solid #3caf59!important;}
.rightEditwrap .formEditBd .putWrap select{width: 50px}
.rightEditwrap .formEditBd .putWrap p{font-size: 12px;color: #999;margin-top: 5px}
.rightEditwrap .formEditBd .shortPut input[type=text]{width: 145px;display: inline;text-align: center}
.rightEditwrap .formEditBd .minPut input[type=text]{width: 83px;display: inline;text-align: center}
.rightEditwrap .formEditBd .midPut input[type=text]{width: 80px;display: inline;text-align: center}
.rightEditwrap .formEditBd .hasDatepicker{cursor: pointer}
.rightEditwrap .formEditBd .shortPut em,.rightEditwrap .formEditBd .minPut em,.rightEditwrap .formEditBd .midPut em{padding: 0 17px}
.rightEditwrap .formEditBd .formRow label{line-height: 24px;margin-right: 15px;}
.rightEditwrap .formEditBd .formRow label input,.rightEditwrap .formEditBd label span{vertical-align: middle}
.rightEditwrap .formEditBd .t0{color: #999}
.rightEditwrap .formEditBd .t1{color: #666;padding: 15px 0}
.rightEditwrap .formEditBd .t1 em{color: #3caf59}
.subTab-hd{}
.subTab-hd ul{border-bottom: 2px solid #bfbfbf;}
.subTab-hd ul li{float: left;border-bottom: 2px solid #bfbfbf;margin-bottom: -2px;padding: 10px 0;}
.subTab-hd ul li a{display: block;border-left: 1px solid #eee;padding: 0 5px;width: 118px;text-align: center;font-size: 14px}
.subTab-hd ul li:first-child a{border: 0;}
.subTab-hd ul li.on{background: url("../images/minArrow.png") bottom center no-repeat;border-color: #3caf59;}
#form_baseEdit .subTab-hd ul li{width: 20%;text-align: center;}
.advancedSetup .advMod{border-bottom: 1px solid #eaeaea}
.advancedSetup .advMod h2{font-size: 14px;color: #666;font-weight: normal;padding: 15px 0}
.advancedSetup label span{vertical-align: middle;margin-left: 5px;color: #666}
.advancedSetup input[type=text],.advancedSetup input[type=password]{border: 1px solid #e0e0e0;background: none;border-radius: 0;outline: none;padding: 5px 10px;font-size: 12px;color: #333;width: 280px}
.advancedSetup input[type=text].midPut,.advancedSetup input[type=password].midPut{width: 100px}
.advancedSetup input[type=text].minPut,.advancedSetup input[type=password].minPut{width: 60px}
.advancedSetup .t0{color: #999;font-size: 12px;vertical-align: middle}
.set-expiryDate em{padding: 0 17px}
.expiryDate-radio{margin-bottom: 15px}
.expiryDate-radio label{margin-right: 15px}
.set-expiryDate{margin-bottom: 15px}
.expiryDate-checkBox>div{margin-bottom: 10px}
.notification>.checkBox{margin-bottom: 15px}
.allNotice{margin-top: 0px;margin-left: 25px;}
.allNotice .noticeSet{margin-bottom: 15px}
.allNotice .noticeSet .noticeSet-details{margin-left: 25px}
.allNotice .noticeSet .noticeSet-details p{padding: 10px 0;color: #9d9d9d}
.advMod3 .checkBox>div{margin-bottom: 15px}
.utilityCol{padding: 10px 0;}
.utility{width: 26.5%;margin: 6px 2%;background: #FFF;padding: 5px 0.6% 5px 1.4%;z-index: 10;border: 1px dashed #999;/*border-radius: 3px;*/cursor: pointer;float: left;}
.utilityCol .utility{transition-property: all;transition-duration: 200ms;transition-delay: 0;transition-timing-function: ease-in-out;-webkit-transition-property: all;-webkit-transition-duration: 200ms;-webkit-transition-delay: 0;-webkit-transition-timing-function: ease-in-out;-moz-transition-property: all;-moz-transition-duration: 200ms;-moz-transition-delay: 0;-moz-transition-timing-function: ease-in-out;-o-transition-property: all;-o-transition-duration: 200ms;-o-transition-delay: 0;-o-transition-timing-function: ease-in-out;}
.utility .title{line-height: 35px;margin: 0 auto;font-size: 12px;padding: 0;height: auto;font-weight: normal;}
.utilityCol .utility:hover{background-color: #e9faee;border-color: #a5e1b4;border-style: solid;}
.formOption{display: inline-block;width: 40px;height: 35px;float: right;background-position: center center;background-repeat: no-repeat;}
.formOption_text{background-image: url("../images/c1.png")}
.formOption_multiple{background-image: url("../images/c2.png")}
.formOption_section{background-image: url("../images/c3.png")}
.formOption_dropDown{background-image: url("../images/c4.png")}
.formOption_number{background-image: url("../images/c5.png")}
.formOption_code{background-image: url("../images/c6.png")}
.formOption_radio{background-image: url("../images/c7.png")}
.formOption_checkbox{background-image: url("../images/c8.png")}
.formOption_fileUpload{background-image: url("../images/c9.png")}
.formOption_pictureRadio{background-image: url("../images/c10.png")}
.formOption_pictureCheckbox{background-image: url("../images/c11.png")}
.formOption_city{background-image: url("../images/c12.png")}
.formOption_picture{background-image: url("../images/c13.png")}
.formOption_data{background-image: url("../images/c14.png")}
.formOption_email{background-image: url("../images/c15.png")}
.formOption_ID{background-image: url("../images/c16.png")}
.formOption_phone{background-image: url("../images/c17.png")}
.formBuilder_edit_tooltip{display: none;position: absolute;height: 20px;width: 148px;padding-left: 8px;background-color: #FFF;border: 1px solid #CCC;border-radius: 3px;}
.deleteButton{width: 20px;height: 20px;position: absolute;right: 10px;top: 10px;background:#fff url(../images/remove.png) no-repeat center center;cursor: pointer;border-radius: 100%;overflow: hidden;border: 1px solid #ddd;}
.form_component li .deleteButton{display: none;}
.form_component .clicked .deleteButton{display: block;}
.form_component li:hover .deleteButton{display: block;}
.form_componentEdit_tips, #form_edit_nothing{font-size: 14px;text-align: center;box-shadow: #eee 0px 2px 3px;text-shadow: #BEC5CC 0px 1px 1px;padding: 20px;margin: 40px 32px 26px 26px;border-width: 1px;border-style: solid;border-color:#BBB;}
.form_edit{padding: 5px 5%;margin-bottom: 5px;display: none;}
.form_edit input[type=radio],.form_edit input[type=checkbox]{vertical-align: middle}
.form_eit_describe{padding: 0 5px 2px 0;margin-bottom: 5px;font-weight: bold;font-size: 14px;}
.title_textarea{height: 30px;width: 95%;}
.input{width: 168px;height: 18px;}
.input, .input_small, .textarea{outline: 0 none;border: 1px solid #D9D9D9;border-top-color: #AAAAAA;border-radius: 2px;padding: 5px;transition-property: all;transition-duration: 200ms;transition-delay: 0;transition-timing-function: ease-in-out;-webkit-transition-property: all;-webkit-transition-duration: 200ms;-webkit-transition-delay: 0;-webkit-transition-timing-function: ease-in-out;-moz-transition-property: all;-moz-transition-duration: 200ms;-moz-transition-delay: 0;-moz-transition-timing-function: ease-in-out;-o-transition-property: all;-o-transition-duration: 200ms;-o-transition-delay: 0;-o-transition-timing-function: ease-in-out;}
.form_edit_addLink{display: inline-block;padding-left: 12px;color: #2776A4;line-height: 20px;vertical-align: bottom;background: url('../images/externalLinkSprit.png') 0 5px no-repeat;}
textarea.instruct_textarea{height: 54px;width: 95%;overflow: auto;}
.edit_texttype{padding: 4px;}
.required, .selecttype, .editTextalignStyle, .editTitlealignStyle, .selectlayout, .editPictureShowStyle{padding-left: 18px;}
.setField_radio{margin-right: 20px;}
#form_edit_picture .editPictureFileShowStyle{margin-bottom: 5px;padding-left: 18px;}
.upload_file, .upload_shopping_img{position: relative;left: 0;top: 0;bottom: 10px;height: 20px;padding: 5px;margin-right: 20px;background: #FFF;border-radius: 2px;border: 1px solid #D9D9D9;border-top-color: #AAA;}
.input_file{position: absolute;top: 0px;left: 0px;height: 30px;width: 100%;color: #999;opacity: 0;filter: alpha(opacity=0);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);font-size: 160px;overflow: hidden;z-index: 10;}
.upload_file p{color: #333;}
.upload_file p{display: inline-block;white-space: nowrap;width: 95%;overflow: hidden;}
.upload_file img{position: absolute;right: 8px;top: 4px;width: auto;}
.input_val, .input_val .input{position: relative;}
.uploadImageFromUrl{display: none;}
.edit_input{padding-top: 4px;padding-bottom: 4px;width: 95%;}
.input_val span{position: absolute;left: 5px;top: 0;color: #999999;cursor: text;}
#form_edit_picture_link .input_val span, .uploadImageFromUrl.input_val span{top: 5px;color: #333;}
#form_edit_filetype .picNum{margin-top: 10px;}
#form_edit_filetype .picNumTit{margin-top: 5px;margin-right: 10px;}
#form_edit_filetype .picNumBox{border: 1px solid #eee;line-height: 28px}
#form_edit_filetype .picNumBox input{line-height: 28px;padding: 0 5px;width: 30px;text-align: center;border: 1px solid #fff}
#form_edit_filetype .picNumBox input{outline: none}
#form_edit_filetype .picNumBox em{margin: 0 5px;}
#form_edit_filetype .picNumBox .numCtrl{margin-right: 5px;}
#form_edit_filetype .picNumBox .numCtrl i{display: block;width: 12px;height: 15px;background: url('../images/sprite.png') no-repeat;overflow: hidden;line-height: 1000px;cursor: pointer}
#form_edit_filetype .picNumBox .numCtrl i:active{opacity: .8}
#form_edit_filetype .picNumBox .numCtrl .add{background-position: 0 0}
#form_edit_filetype .picNumBox .numCtrl .reduce{background-position: -12px 0}
.form_edit_batch{cursor: pointer;float: right;margin-right: 8px;font-size: 12px;color: #2776A4;font-weight: normal;}
#form_componentEdit .editselect_item, #form_componentEdit .editradio_item, #form_componentEdit .editcheckbox_item{margin: 0;margin-left: 10px;padding: 4px;}
#form_componentEdit .editselect_item input, #form_componentEdit .editradio_item input, #form_componentEdit .editcheckbox_item input{margin-left: 5px;}
#form_componentEdit li textarea, #fromEditGroup li textarea{margin-top: 5px;margin-left: 10px;width: 90%;height: 6em;overflow: auto;}
#form_edit_radioset .input_textarea, #form_edit_checkboxset .input_textarea, #form_edit_selectset .input_textarea{height: 18px;width: 168px;vertical-align: middle;margin-top: 0;margin-left: 5px;overflow: hidden;line-height: 6px;}
.radio_limit_tip{display: inline;margin-left: 5px;}
.radio_limit{border: none;border-bottom: solid 1px #bbb;width: 26px!important;margin: 0;text-align: center;-webkit-transition-property: border;-moz-transition-property: border;-o-transition-property: border;transition-property: border;-webkit-transition-duration: .2s;-moz-transition-duration: .2s;-o-transition-duration: .2s;transition-duration: .2s;}
.removeButton, .removeOtherButton{display: inline-block;width: 20px;height: 20px;margin: 0 2px 0 5px;background: url(../images/minus.png) no-repeat;background-position: left center;cursor: pointer;vertical-align: middle;}
.addButton{display: inline-block;width: 20px;height: 20px;margin: 0 5px 0 5px;background: url(../images/plus.png) no-repeat;background-position: left center;cursor: pointer;vertical-align: middle;}
.addButton:hover{background: url(../images/plus_hover.png) no-repeat;background-position: left center;}
.removeButton:hover{background: url(../images/minus_hover.png) no-repeat;background-position: left center;}
#form_componentEdit li.other-input{margin: 0;margin-left: 15px;padding: 4px;}

#form_baseEdit  .wsDtail input{width:300px !important;float:left}
.add-other-select{padding: 5px;border-radius: 2px;border: 1px solid #D9D9D9;border-top-color: #AAA;width: 213px;display: inline-block;background-color: #DDD;cursor: pointer;}
.radio_limit_tip_chosen{margin: 10px 10px 10px 18px;}
.radio_limit_tip_common{margin-bottom: 4px;}
.radio_limit_tip_common .radio_limit_tip_common_input{width: 26px;margin: 0;text-align: center;border: none;border-bottom: solid 1px #bbb;}
.editBatch{display: none;margin-right: 10px;padding: 8px 10px;border: 1px solid #a6a6a6;}
.editBatch.on{display: block;}
.editBatch .title{font-size: 14px;color: #333;margin-bottom: 6px;}
.editBatch .batch_items{width: 100%;height: 200px;box-sizing: border-box;overflow: auto;}
.editBatch .tip{text-align: right;position: static;padding: 0;background: none;border: 0;width: auto;}
.editBatch .tip_text{font-size: 12px;color: #333;}
.editBatch .footer{margin-top: 8px;text-align: center;padding: 0;}
.editBatch .footer .btn{display: inline-block;padding: 4px 10px;border-radius: 2px;font-size: 12px;}
.editBatch .footer .btn{*display: inline}
.editBatch .footer .btn-primary{color: white;background: #2976A4;margin-right: 40px;line-height: 26px;}
.setField_radio{margin-right: 20px;}
.formBuilder_edit .errorinfo{padding-left: 5px;color: #8F0000;}
.logicset{margin-left: 20px;}
.select-number-type{width: 100px;padding: 3px;height: 30px;border: 1px solid #D9D9D9;border-top-color: #AAA;border-radius: 2px;margin: 0 4px;outline: none;}
.edit-select-number{width: 20%;}
.pictextcontect{position: relative;display: inline-block;width: 330px;margin-bottom: 8px;margin-left: 10px;}
.imgcontect{display: inline-block;position: relative;width: 64px;height: 64px;vertical-align: middle;text-align: center;border: 1px dashed #BEBEBE;}
.upload_choiceimg{position: relative;overflow: hidden;width: 66px;height: 66px;position: absolute;left: 0;top:0;z-index: 12;opacity: 0;}
.upload_choiceimg input{position: absolute;left: 0;top: 0;z-index: 2;width: 100%;height: 100%;}
.choicePicture{position: absolute;width: 100%;max-height: 100%;z-index: 10;left: 0;top: 0;display: none;}
/*.uploadimg{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);opacity: 0;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 12;cursor: pointer;}*/
.upload_btn{display: inline-block;padding: 6px;border-radius: 2px;font-size: 12px;color: #6B6B6B;margin-top: 10px;overflow: hidden;white-space: nowrap;padding-left: 8px;padding-right: 8px;}
.imgedittext{width: 110px;margin-left: 5px;margin-right: 5px;padding: 5px 4px;border: 1px solid #D9D9D9;}
.colorRect{width: 20px;height: 20px;background: #f60;background: linear-gradient(to right,red,orange,yellow,#0be500,#0072de);display: none;border: 1px solid #999;}
.rightEditwrap .formEditBd .putWrap .placeHolder{margin-right: 10px;position: relative;height: 73px;width: 73px;text-align: center;line-height: 73px;}
.rightEditwrap .formEditBd .putWrap .placeHolder > img{width: auto;height: auto;max-width: 100%;max-height: 100%;display: inline;;vertical-align: middle;}
.rightEditwrap .formEditBd .putWrap .uploadImg{overflow: hidden;}
.rightEditwrap .formEditBd .putWrap .uploadImg .filePut a{position: relative;}
.rightEditwrap .formEditBd .putWrap .uploadImg .filePut input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}
.rightEditwrap .formEditBd .putWrap .uploadImg .filePut .uploadCoverBtn{border: 1px solid #e0e0e0;cursor: pointer;color: #fff;background: #3caf59;width: 90px;height: 35px;line-height: 35px;text-align: center;border-radius: 4px;position: relative;overflow: hidden;vertical-align: bottom;}
.rightEditwrap .formEditBd .putWrap .uploadImg .filePut .uploadCoverBtn input{position: absolute;left: 0;top:0;width: 100%;height: 100%}
.rightEditwrap .formEditBd .putWrap .uploadImg .filePut .recovery{border: 1px solid #e0e0e0;cursor: pointer;color: #666;background: #efefef;width: 90px;height: 35px;line-height: 35px;text-align: center;border-radius: 4px;margin-left: 10px;}
.rightEditwrap .formEditBd .putWrap p{font-size: 12px;color: #999;margin-top: 5px;margin-bottom: 0;}
.rightEditwrap .formEditBd .putWrap p.imgJumpLinkP{line-height: 28px;font-size: 14px;width: 100%;overflow: hidden;display: block;clear: both;margin-top: 20px;}
.minCell{margin-bottom: 5px;position: relative;}
.minCell .amount{margin-left: 15px;}
.minCell .slider-range{display: inline-block;width: 150px;}
.rightEditwrap .formEditBd .componentStyle .rowTitle{display: block;float: none;}
.spaceMarginSetRow .cssRadio{margin: 20px 0}
.saveBottomBar{height: 50px;background: #ebebeb;margin-top: 22px;border-top: 1px solid #c8c8c8;}
.fixBottombar{position: fixed;left: 35px;right: 20px;bottom: 0;z-index: 10;}
.saveBottomBar .buttonBox{width: 165px;height: 35px;margin: 10px auto;}
.saveBottomBar .buttonBox .bottomButon{height: 30px;text-align: center;line-height: 30px;border-radius: 2px;display: inline-block;font-weight: bold;cursor: pointer;}
.saveBottomBar .buttonBox .bottomButon{*display: inline;}
.saveBottomBar .buttonBox .saveButon{width: 85px;background: none repeat scroll 0 0 #3caf59;border: 1px solid #3caf59;color: #fff;}
.saveBottomBar .buttonBox .disableButon{background-color: #f4f5f7;color: #888;border: 1px solid #c8c8c8;}
.saveBottomBar .buttonBox .previewButton{width: 60px;background: none repeat scroll 0 0 #f4f5f7;margin-left: 10px;border: 1px solid #c8c8c8;}
.fullBg{background-color: #000;left: 0;right: 0;bottom: 0;opacity: 0.8;position: fixed;top: 0;z-index: 3;filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;display: none;z-index: 1000;width: 100%;}
.window{position: fixed;top: 50px;left: 50px;z-index: 1009;display: none;}
.windowPreview{width: 970px;height: 720px;left: 50%;margin-left: -485px;top: 50%;margin-top: -360px;background: #3caf59;border-radius: 10px;overflow: hidden}
.windowPreview .leftWrap{height: 100%;width: 645px;background: #fff;}
.windowPreview .leftWrap .leftPhonewrap{margin: 0 auto;float: none;top: 32px;}
.windowPreview .leftWrap .leftPhonewrap .anythingContent{width: 320px;height: 514px;margin: 0 auto;}
.windowPreview .xClosed{position: absolute;right: 15px;top: 15px;display: block;width: 24px;height: 24px;background: url("../images/sprite.png") 0 -15px no-repeat}
.windowPreview .rightWrap{text-align: center}
.windowPreview .rightWrap img.qrcode{width:205px;height: 205px;margin-top: 170px;margin-bottom: 15px}
.windowPreview .rightWrap p{line-height: 24px;color: #fff}
.windowPreview .rightWrap .backToEdit{padding: 5px 30px;color: #fff;font-size: 18px;background: none;border: 1px solid #fff;border-radius: 25px;margin-top: 30px;outline: none;cursor: pointer}
.windowPreview .rightWrap .backToEdit:active{background: #fff;color: #3caf59}


