body{width: 7.5rem;}
body.fixed{position: fixed;}
a:hover{text-decoration: none;}
/*.padTop20{padding-top: 20px;}*/
.padTop20 .header{padding-top: 20px;}

/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .48rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .9rem; margin: 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; background: url(../images/header_la.png) center center no-repeat; background-size: auto .5rem; text-align: center;}

/*导航*/
.navHeight{height: .8rem;}
#navlist{height: 100%;}
#navBox{position: fixed;top: -200%; width: 7.5rem; margin: 0 auto; text-align: center; -webkit-transition: top .3s; transition: top .3s; z-index: 99999;}
#navBox .navlist{z-index: 2; position: relative; background: #fff;}
#navBox .navlist ul{min-height: 100%; border-top: 1px solid #f2f2f2;}
#navBox li{ width: 25%; text-align: center; font-size: .28rem; color: #ababab; float: left; border-right: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; box-sizing: border-box; padding: .1rem 0 .2rem 0;}
#navBox li span{width: 1rem; height: 1rem !important; box-sizing: border-box; border-radius: 100%; line-height: 1 !important; padding: 0 !important; margin: 0 auto; display: block;}
#navBox li span.nav_1{background: url(../images/navicon1.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_2{background: url(../images/navicon2.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_3{background: url(../images/navicon3.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_4{background: url(../images/navicon4.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_5{background: url(../images/navicon5.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_6{background: url(../images/navicon6.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_7{background: url(../images/navicon7.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_8{background: url(../images/navicon8.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_9{background: url(../images/navicon9.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_10{background: url(../images/navicon10.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_11{background: url(../images/navicon11.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_12{background: url(../images/navicon12.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_13{background: url(../images/navicon13.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_14{background: url(../images/navicon14.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_15{background: url(../images/navicon15.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_16{background: url(../images/navicon16.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_17{background: url(../images/navicon17.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_18{background: url(../images/navicon18.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_19{background: url(../images/navicon19.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_20{background: url(../images/navicon20.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_21{background: url(../images/navicon21.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_22{background: url(../images/navicon22.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_23{background: url(../images/navicon23.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_24{background: url(../images/navicon24.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_25{background: url(../images/navicon25.png) center center no-repeat; background-size: .6rem auto;}
#navBox li span.nav_26{background: url(../images/navicon26.png) center center no-repeat; background-size: .6rem auto;}


#navBox li img{width: .7rem;margin-top: .2rem;}

#navBox .bg {position: fixed;top:0;width: 7.5rem;height: 0;opacity:0;background:rgba(0,0,0,0.5);-webkit-transition:opacity .5s;transition:opacity .5s;z-index: 1;left: 0; right: 0;}
#cancelNav{ padding: .15rem 0; background: #F2F7FC; border-bottom: 1px solid #f0f5f9; margin: .1rem 0 0;}
