body, html{font-size: .3rem; background: #f6f6f6; font-weight: 500; -webkit-tap-highlight-color:transparent}
body {width: 7.5rem;color: #666; font-size: 32px;font-size: .32rem;max-width: 1080px;margin: 0 auto;font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;}
i, em{font-style: normal;}
a:hover{text-decoration: none;}

.topbox{display: -webkit-box;}
.topbox .topl{position: relative;}
.topbox .topl .top-tit{background: url(../images/down.png) right center no-repeat; background-size: auto .1rem; padding: .2rem .25rem .2rem .1rem; display: block; margin: 0 .3rem 0 .2rem;}
.topbox .topl .top-tit.open{transform: rotate(180deg); transition: background .3s;}
.topbox .topl .arrow{position: absolute; width: 0; height: 0; border-bottom: .15rem solid #fff; border-left: .15rem solid transparent; border-right: .15rem solid transparent; top: 0.85rem; left: 0.65rem; z-index: 1000; display: none;}
.dropdown{position: absolute; top: 1rem; left: 0; background: #fff; color: #333; width: 2rem; padding: 0 .2rem; box-shadow: 3px 5px 13px 0px #b6b6b6; border-bottom-right-radius: .04rem; border-top-right-radius: .04rem; display: none;}
.topbox .topl ul li{padding: 0.2rem .1rem 0.15rem .55rem;}
.topbox .topl ul .icon1{background: url(../images/navicon1.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon2{background: url(../images/navicon2.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon3{background: url(../images/navicon3.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon4{background: url(../images/navicon4.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon4{background: url(../images/navicon4.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon5{background: url(../images/navicon5.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon6{background: url(../images/navicon6.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon7{background: url(../images/navicon7.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topl ul .icon8{background: url(../images/navicon8.png) left center no-repeat; background-size: .45rem auto;}
.topbox .topm{position: relative; -webkit-box-flex: 1; margin-top: .1rem;}
.topbox .topm i{position: absolute; display: block; width: .4rem; height: .4rem; background: url(../images/search.png) center center no-repeat; background-size: .5rem auto; top: .15rem; left: .1rem;}
.topbox .topm input{ border: 0; outline: 0; appearance: none; -webkit-appearance: none; background: #fff; padding: .1rem .1rem .1rem .6rem; width: 4rem;}
.topbox .topr{padding: .1rem .2rem; margin: .1rem;}

/*历史记录*/
.history{background: #fff; margin-top: .1rem; border-top: 1px solid #efefef;}
.history .htop{padding: .1rem .3rem; font-size: .28rem; border-bottom: 1px solid #f4f4f4;}
.history .htop span{color: #999; line-height: .5rem;}
.history .htop em{display: block; width: .5rem; height: .5rem; background: url(../images/laji.png) center center no-repeat; background-size: .4rem auto;}
.history li{padding: .2rem; display: -webkit-box; border-bottom: 1px solid #f8f8f8;}
.history li i{display: block; width: .4rem; height: .4rem; background: url(../images/time.png) bottom center no-repeat; background-size: .35rem auto; margin-right: .1rem;}
.history li p{-webkit-box-flex: 1;}
