body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;color: #000;}
body.show {opacity:1;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}
a:active, a:hover {text-decoration: none;}
.huoniao_iOS .list-body{margin-top: 1.85rem;}
.huoniao_iOS .fenlei{top: 1.75rem;}
.lead{
    width: 100%;
    height: 0.8rem;
    background-color: #FFF;
    z-index: 3035;
    border-bottom: 0.02rem solid #e8e8e8;
    left: 0rem;
    top: 0rem;
    position: fixed;
}
.lead a img{
    width: 1.54rem;
    height: 0.7rem;
    line-height: 0.8rem;
    float: left;
    margin: 0 0 0 0.2rem;
    font-size: 0.28rem;
    color: #0099e9;
    display: block;
    margin-top: 0.08rem;
}
.lead .search{
        display: block;
    width: 0.62rem;
    height: 0.62rem;
    float: right;
    background: url(../images/icon_search.png) no-repeat 0 0 / 0.62rem 0.62rem;
    margin: 0.1rem 0.1rem 0 0;
}
.lead .tab{
    display: block;
    width: 0.62rem;
    height: 0.62rem;
    background: url(../images/icon_member.png) no-repeat 0 0 / 0.62rem 0.62rem;
    float: right;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
}
.lead .tab-list{
    display: none;
}
.lead .tab-list ul{
    position: absolute;
    overflow: hidden;
    padding-top: 0.14rem;
    background: url(../images/icon_jiao_top.png) no-repeat 0 0 / 1.8rem 0.14rem;
    right: .1rem;
    top: 0.8rem;
}
.lead .tab-list ul li{
    display: block;
    height: 0.74rem;
    border-left: 0.02rem solid #ddd;
    border-right: 0.02rem solid #ddd;
    border-bottom: 0.02rem solid #ddd;
    background-color: #FFF;
}
.lead .tab-list ul li a{
    display: block;
    min-width: 1.76rem;
    height: 0.74rem;
    padding:0 .1rem;
    text-align: center;
    line-height:0.74rem;
    font-size: 0.26rem;
    color: #000;
}
.lead a i{
    display: block;
    width: 0.7rem;
    height: 0.38rem;
    float: left;
    margin: 0.2rem 0 0 0.3rem;
    padding-left: 0.3rem;
    background: url(../images/back.png) no-repeat 0 0 / 0.2rem 0.38rem;
    font-size: 0.32rem;
    color: #0099e9;
    line-height:0.38rem;
}

.by{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.list-head{
    width: 100%;
    height:0.64rem;
    background-color: #efeff4;
    position: fixed;
    top:0.8rem;
    z-index: 3003;
    border-bottom: 0.02rem solid #ddd;
}
.huoniao_iOS .list-head{top: calc(.8rem + 20px);}
.list-head ul li{
    width: 33%;
    height:0.64rem;
    float: left;
}
.list-head ul li a{
    display: block;
    width: 100%;
    height: 0.64rem;
    text-align: center;
}
.list-head ul li a span {
    background: url(../images/icon_index_3.png) no-repeat right / 0.18rem 0.12rem;
    color: #666;
    font-size: 0.24rem;
    height: 0.64rem;
    line-height: 0.64rem;
    padding-right:0.26rem;
    margin: 0 auto;
}
.list-body{
	    margin-top: 1.5rem;
}
.list-body ul li{
	    overflow: hidden;
    border-bottom: 0.02rem solid #d9d9d9;
}
.list-body ul li a{
    display: block;
    overflow: hidden;
    border-bottom: 0.02rem solid #F5F5F8;
    background: #fff;
    padding: 0.24rem;
}
.list-body ul li a img{
	    width:2.74rem;
        height:1.6rem;
        float: left;
        margin-right: 0.2rem;
}
.lb-txt{
    height: 1.6rem;
    position: relative;
}
.lb-txt h2{
	    height:0.76rem;
    font-size: 0.28rem;
    font-weight: normal;
    color: #000;
    line-height:0.38rem;
    margin: -0.02rem 0 0.3rem;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lb-txt p{
	font-size: 0.22rem;
    color: #aaa;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 2.8rem;
}
.lb-txt span i{
    width: 2.6rem;
    float: left;
    font-size: 0.22rem;
    color: #aaa;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
}
.lb-txt span b{
	margin: 0;
    display: inline;
    color: #ff9e00;
    line-height: 0.32rem;
    float: right;
    margin-top: 0.1rem;
    font-size: 0.32rem
}
.lb-txt span b em{
	text-decoration: none;
	font-size: 0.24rem
}
.active{
    color: #333;
    font-weight: bold;
}
.fenlei{
        position: fixed;
    top: 1.45rem;
    left: 0;
    right: 0;
    z-index: 10;
}
.fenlei .fenlei-1{
    display: none;
}
.fenlei ul{
    max-height: 7.4rem;
    overflow-y: auto;
}
.fenlei ul li{
        width: 100%;
}
.fenlei ul li a{
    display: block;
    height: 0.8rem;
    line-height:0.8rem;
    border-top: 0.02rem solid #e8e8e8;
    background-color: #FFF;
    color: #666;
    padding-left:0.3rem;
    font-size: 0.28rem;
    text-align: left;
}
.fenlei ul li.ff{
    border-top:none;
}
.mask{
        width: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    bottom: 0;
    display: none;
}
.oo a{
    color: #0099e9!important;
}

.loading {padding:.5rem .2rem;text-align: center;}
.loading.toend {padding:.2rem;}
