{#$pageTitle = $langData['siteConfig'][19][879]|cat:" - "|cat:$cfg_webname#}
{#include file="head.html"#}
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/checkout-order.css?v={#$cfg_staticVersion#}" media="all" />
</head>

{#$pageCurr = "checkout-order"#}

<body>
{#include file="headSidebar.html"#}

<div class="main">
  <div class="nav-tabs fn-clear">
  	<ul class="fn-clear">
      {#if $userOpenModules#}
      {#$first = 1#}
      {#$modulename = ""#}
      {#foreach from=$userOpenModules item=module#}
        {#$active = ""#}
        {#if $module.module == "tuan" || $module.module == "shop" || $module.module == "waimai"#}
        {#if $first == 1#}{#$active = "active"#}{#$first = 0#}{#/if#}
        {#if $module.module == "tuan"#}
          {#$modulename = $langData['siteConfig'][16][46]#}
        {#elseif $module.module == "shop"#}
          {#$modulename = $langData['siteConfig'][16][47]#}
        {#elseif $module.module == "waimai"#}
          {#$modulename = $langData['siteConfig'][16][48]#}
        {#/if#}
        <li class="{#$active#}" data-module="{#$module.module#}"><a href="javascript:;">{#$modulename#}</a></li>
        {#/if#}
      {#/foreach#}
      {#/if#}
  	</ul>
  </div>
  <div class="container fn-clear">
    <div class="tbody"></div>
    <div class="tbody fn-hide"></div>
    <div class="tbody fn-hide"></div>
    <div class="pagination fn-clear"></div>
  </div>
</div>
<div class="mask"></div>


{#include file="footer.html"#}
<script type="text/javascript">
  var atpage = 1, totalCount, pageSize = 10;
</script>
<script type="text/javascript" src="{#$templets_skin#}js/checkout-order.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
