.ce-lead{
    margin-bottom: 0.3rem;
    width: 94%;
    padding: 0 3%;
    margin: 0 auto;
    border-bottom: 0.02rem solid #d8d8d8;
    background: #fff;
}
.ce-lead h1{
	    color: #333;
    font-size: 0.34rem;
    line-height: 0.64rem;
    padding: 0.2rem 0 0.06rem;
}
.ce-lead span{
    margin-bottom: 0.1rem;
    font-style: 0.24rem;
}
.ce-lead p:first-child{
	    color: #ff608e;
    padding-right: 0.1rem;
    float: left;
}
.ce-lead p:last-child{
	color: #666;
    padding-left: 0.2rem;
    border-left: 0.02rem solid #d8d8d8;
    text-decoration: line-through;
    float: left;
}
.ce-lead i{
    margin: 0.4rem 0;
    display: block;
}
.ce-lead i a{
	    display: block;
    line-height: 0.76rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.24rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    width: 47%;
    float: left;
    font-style: normal;
}
.ce-lead i a:first-child{
	color: #666;
    border: 0.02rem solid #c9c9c9;
    margin-right: 0.2rem;
}
.ce-lead i a b{
	    padding: 0.1rem 0.2rem;
    background: url(../images/04_enter.png) no-repeat left center;
    background-size:0.32rem auto;
}
.ce-lead i a:last-child{
	color: #ff608e;
    border: 0.02rem solid #ff608e;
    margin: 0;
}
.ce-d{
	    width: 100%;
    background: #fff;
    margin-bottom: 0.3rem;
}
.ce-d h1{
	    line-height: 0.76rem;
    color: #333;
    font-size: 0.3rem;
    padding-left: 3%;
}
.ce-list{
	height: 3.2rem;
	overflow: hidden;
}
.ce-list dl{
	padding: 0 3%;
    line-height: 0.42rem;
    border-bottom: 0.02rem solid #e8e8e8;
    margin-bottom: 0.2rem;
}
.ce-list dl dt{
	color: #333;
    font-size: 0.28rem;
    padding-left: 0.56rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.42rem auto;
    margin: 0.04rem 0 0.2rem;
}
.ce-list dl dd ul li{
	    position: relative;
    border-top: 0.02rem solid #e8e8e8;
    padding: 0.14rem 0;
}
.ce-list dl dd ul li span{
	    position: absolute;
    left: 0;
    top: 0.16rem;
    color: #333;
}
.ce-list dl dd ul li p{
	    margin-left: 0.9rem;
    color: #666;
    line-height:0.44rem;
	font-size: 0.24rem;
}
.team dt{
	background-image: url(../images/04_1.png);
}
.lay dt{
    background-image: url(../images/04_2.png);
}
.decorate dt{
    background-image: url(../images/04_3.png);
}
.addition dt{
    background-image: url(../images/04_3.png);
}
.optional dt{
    background-image: url(../images/04_3.png);
}
.more{
    text-align: center;
    color: #666;
    border-bottom: 0.02rem solid #e8e8e8;
    height: 0.82rem;
    line-height: 0.82rem;
    position: relative;
}
.more i{
   position: absolute;
    top: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/greyDown.png) no-repeat center center;
    background-size: 0.25rem auto;
}
.tixi ul{
	border-bottom: none;
}
.nic{
	height: 20rem!important;
}
.nn i{
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}