body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;background-color: #f0efed;opacity: 0;}
body.show{opacity: 1;}
.lead .lead-2 .li{
	margin-top: 0.2rem;
}
.lead .lead-2 .li:first-child{
	margin-top: 0;
}
.lead .lead-2 .you p{
    border: 0.02rem solid #ff9932;
    color: #ff9932;
}
.tixi ul li a em{
	display: block;
	margin-bottom: 0.06rem;
	color: #7A7A7A;
}
.tixi ul li a em s{
	    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 50%;
    margin-left: 0.1rem
}
.tixi ul li a em .green{
	    background: #81cb4a;
}
.tixi ul li a em .purple{
    background: #c79ee9;
}
.tixi ul li a em .white{
	    background: #f4f2e5;
}
.tixi ul li a em .roseo{
	    background: #ff6466;
}
.tao{
    width: 94%;
    padding: 0 3%;
    margin: 0 auto;
    border-bottom: 0.02rem solid #d8d8d8;
    background: #fff;
    margin-bottom: 0.3rem;
}
.tao h1{
	    line-height: 0.76rem;
    color: #333;
    font-size: 0.28rem;
    padding-top: 0.04rem;
}
.tao ul {
    padding-bottom:0.36rem;
    overflow: hidden;
    height: 1rem;
}
.tao ul li{
	    width: 30.6%;
    margin: 0 0 0.16rem 2%;
    float: left;
    border: 0.04rem solid #ffc1d1;
    text-align: center;
    background: #ff9eb6;
    padding: 0.2rem 0;
    box-sizing: border-box;
}
.tao ul li span{
    color: #fff
}
.tao ul li p{
    color: #fff
}
.tao-more{
	    height: 0.94rem;
    line-height: 0.94rem;
    border-top: 0.02rem solid #e6e6e6;
    position: relative;

}
.tao-more a{
	    font-size: 0.28rem;
    color: #666;
    display: block;
}
.tao-more i{
	    position: absolute;
    right: 0;
    top: 0.24rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/greyDown.png) no-repeat center center;
    background-size: 0.4rem auto;
    -webkit-transform: rotate(360deg);
}
.nic{
    height: 4rem!important;
}
.nn i{
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.jkl{
    position: fixed;
    top: 0;
    left: 7.68rem;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    color: #999;
    z-index: 123213123;
}
.jkl-lead{
    color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
    margin: 0 auto;
    background: #fff;
    padding: 0.1rem 5%;
    border-bottom: 0.02rem solid #e0e0e0;
}
.jkl-lead span{
        display: block;
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/09_back.png) no-repeat center center;
    background-size: 0.24rem auto;
}
.jkl ul .ting{
    line-height: 0.8rem;
}
.jkl ul .ting em{
    font-size: 0.3rem;
    color: #333;
}
.jkl ul li{
    font-size: 0.26rem;
    padding: 0 5%;
}