body{
	    background: #f0f0f0;
}
.dd-lead{
    background: #fff;
    padding: 0.1rem 0;
    border-bottom: 0.02rem solid #e6e6e6;
    width: 100%;
    color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
}
.dd-lead a{
	    display: block;
    width: 0.7rem;
    height: 0.6rem;
    position: absolute;
    left: 0.3rem;
    top: 0.06rem;
    background: url(../images/hyTip.png) no-repeat 0.1rem 0.1rem;
    background-size: 0.6rem auto;
}
.img{
	width: 100%;
}
.img img{
	width: 100%;
}
.youhui{
	padding:0.06rem 5%;
    background: #fff;
    height: 0.88rem;
    z-index: 1;
    width: 90%;
    position: relative;
    border-bottom: 0.02rem solid #e6e6e6
}
.youhui .pice{
	    width: 60%;
    float: left;
    line-height: 0.9rem;
    font-size: 0.24rem;
        display: inline-block;
    color: #ff608e;
    vertical-align: middle;
}
.youhui .pice i{
	font-style: normal;
	font-size: 0.36rem;
}
.youhui .quan{
    width: 40%;
    float: left;
    height: 0.68rem;
    line-height: 0.68rem;
    text-align: center;
    margin-top: 6px;
    background: #ff608e;
    color: #fff;
    font-size: 0.28rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
}
.xiang{
    width: 90%;
    padding: 0 5%;
    background: #fff;
}
.xiang .xiang-lead{
	    font-size:0.32rem;
    line-height: 0.4rem;
    color: #333;
    padding: 0.3rem 0 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nic{
	height: 12rem!important;
}
.nn i{
	    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.xiang-list{
	    height: 6.3rem;
    overflow: hidden;
}
.xiang-list h1{
	    font-size: 0.28rem;
    color: #a0a0a0;
    padding: 0.2rem 0;
    border-bottom: 0.02rem solid #e6e6e6;
}
.xiang-list .zaoxing{
	padding: 0.2rem 0 0.2rem 48px;
    border-bottom: 0.02rem solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: left 0.24rem;
    background-size: 0.5rem auto;
    background-image: url(../images/tx1.png);
}
.xiang-list ul li i{
	    display: block;
    width: 80px;
    color: #a0a0a0;
}
.xiang-list ul li{
	font-size: 0.24rem;
    color: #666;
    line-height:0.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.xiang-list ul li span{
	display: block;
    line-height:0.36rem;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-top: 0.1rem;
}
.xiang-list .paishe{
	padding: 0.2rem 0 0.2rem 48px;
    border-bottom: 0.02rem solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: left 0.24rem;
    background-size: 0.5rem auto;
    background-image: url(../images/tx2.png);
}
.xiang-list .waijing{
	padding: 0.2rem 0 0.2rem 48px;
    border-bottom: 0.02rem solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: left 0.24rem;
    background-size: 0.5rem auto;
    background-image: url(../images/tx3.png);
}
.xiang-list .sheying{
	padding: 0.2rem 0 0.2rem 48px;
    border-bottom: 0.02rem solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: left 0.24rem;
    background-size: 0.5rem auto;
    background-image: url(../images/tx4.png);
}
.xiang-list .xiangce{
	padding: 0.2rem 0 0.2rem 48px;
    border-bottom: 0.02rem solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: left 0.24rem;
    background-size: 0.5rem auto;
    background-image: url(../images/tx5.png);
}
.more{
	height: 0.94rem;
    line-height: 0.94rem;
    position: relative;
}
.more p{
	font-size: 0.28rem;
    color: #666;
    display: block;
}
.more i{
	    position: absolute;
    right: 0;
    top: 0.24rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/greyDown.png) no-repeat center center;
    background-size: 0.4rem auto;
}
.shop-infor{
    margin-bottom: 0.3rem;
    padding: 0.3rem 5%;
    width: 90%;
    background: #fff;
    border-width: 0.02rem 0 0.02rem;
    border-style: solid;
    border-color: #e6e6e6;
    margin: 0.2rem 0;
}
.shop-infor h1{
	    font-size: 0.28rem;
    color: #333;
}
.infor-1{
	    color: #666;
    font-size: 0.28rem;
    position: relative;
    line-height: 0.6rem;
    margin-bottom:0.06rem;
}
.infor-1 p{
	    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
        display: inline-block;
    vertical-align: middle;
}
.infor-1 span{
	    width: 1.6rem;
    height: 0.46rem;
    background: url(../images/star01.png) no-repeat left center;
    background-size: 1.08rem auto;
    position: relative;
        display: inline-block;
    vertical-align: middle;
    margin-left: 0.1rem
}
.infor-1 span i{
	    height: 0.34rem;
    display: inline-block;
    background: url(../images/star02.png) no-repeat left center;
    background-size: 1.08rem auto;
        width: 1.08rem;
            display: inline-block;
}
.infor-1 span b{
	font-weight: normal;
	    position: absolute;
    right: 0;
    top: -0.06rem;
    font-size: 0.24rem;
}
.infor-1 em{
	position: absolute;
    right: 0;
    top: 0.1rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/greyDown.png) no-repeat center center;
    background-size: 0.4rem auto;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.infor-2{
	padding: 0;
    margin: 0;
    font-size:0.24rem;
    color: #a0a0a0;
}
.infor-2 p{
	    color: #999;
    background: #f0f0f0;
    padding: 0 0.1rem;
    line-height: 0.4rem;
    display: inline-block;
    margin-right: 0.1rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
	margin-left: 0.4rem;

}
.hot{
	    width: 90%;
    padding: 0 5%;
    background: #fff;
    border-width: 0.02rem 0 0.02rem;
    border-style: solid;
    border-color: #e6e6e6;
}
.hot h1{
	    font-size: 0.24rem;
    color: #333;
    margin-top: 0.2rem;
}
.hot ul li{
	position: relative;
    padding:0.5rem 0;
}
.hot ul li:after{
	    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.02rem;
    background: #e6e6e6;
    content: "";
}
.hot ul li a img{
	    width: 1.6rem;
    height: 1rem;
    position: absolute;
    top: 0.32rem;
    left: 0;
}
.hot ul li a .hot-txt{
	margin-left: 1.8rem;
}
.hot ul li a h2{
	    font-size: 0.28rem;
    color: #333;
    height: 0.4rem;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hot ul li a  span{
	    color: #ff608e;
    font-size: 0.24rem;
    position: relative;
    margin: 0.1rem 0;
}
.hot-more{
	    height: 0.94rem;
    line-height: 0.94rem;
    position: relative;
}
.hot-more a{
	    font-size: 0.24rem;
    color: #666;
    display: block;
}
.hot-more i{
	position: absolute;
    right: 0;
    top: 0.24rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/greyDown.png) no-repeat center center;
    background-size: 0.4rem auto;
        -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}