*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;background-color: #efefef;opacity: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,li{text-decoration: none;list-style: none;color: #333;outline: 0;}
.clear{clear: both;}
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
body.show{opacity: 1;}
input{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;}

/*头部*/
.header{height: .8rem;display: -webkit-box;font-size: .32rem;line-height: .8rem;width: 100%;max-width: 1080px;background: #fff;position: fixed;top: 0;border-bottom: 1px solid #efefef;}
.header-l a{display: table-cell;width: 1rem;height: .8rem;vertical-align: middle;}
.header-l img{display: block;width: .4rem;height: .4rem;margin: 0 auto}
.header-l{-webkit-box-flex: 1;}
.header-address{-webkit-box-flex: 1;text-align: center;}
.header-search{-webkit-box-flex: 1;}
.header-search a{display: block;;height: .8rem;width: .8rem;float: right;}
.header-search img{display: block;width: .5rem;height: .5rem;margin: 0 auto;margin-top: .15rem;}

/*搜索框*/
.search-box{margin-top: .8rem;padding: .2rem 0;width: 100%;background: #fff;}
.search-box form{text-align: center;}
.search-txt{outline: 0;height: .7rem;border: 1px solid #dfdfdf;border-radius: .06rem;padding-left: .5rem;background: #f0f0f0 url(../images/search2.png) .1rem center no-repeat;background-size: .3rem .3rem;width: 4.8rem;font-size: .28rem;}
.search-btn{height: .7rem;width: 1.2rem;background: #e8643e;border: 0;color: #fff;border-radius: .06rem;margin: 0 .2rem;appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;display: inline-block;font-size: .28rem;}

/*热门搜索*/
.content-tit{height: .8rem;}
.content-tit span{font-size: .3rem;line-height: .8rem;color: #636363;padding-left: .4rem;}
.content-con{background: #fff;padding: 0 .3rem .3rem .3rem;}
.content-con li{padding: .1rem .2rem;border: 1px solid #efefef;display: inline-block;border-radius: .4rem;font-size: .26rem;margin: .3rem .1rem 0 0;}

/*搜索列表*/
.content-list{display: none;}
.near-list{margin-bottom: .2rem;}
.near-box .near-list a{background: #fff;padding: .2rem 0 .2rem .2rem;display: -webkit-box;}
.near-list .near-list-img{height: 1.3rem;margin-right: .2rem;width: 25%;}
.near-list .near-list-img img{display: block;;width: 100%;height: 100%;}
.near-list-txt{width: 72%;}
.near-list-txt h1{font-weight: 100;font-size: .34rem;padding-right: .2rem}
.near-list-txt h1 span{display: inline-block;width: 70%;height: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.near-list-txt h1 em{float: right;font-size: .26rem;line-height: .4rem;}
.judge-box{color: #656565;margin-top: .08rem;padding-right: .2rem}
.judge-box .judge-star{margin-right: .2rem;}
.judge-box .judge-star em{width: .3rem;height: .3rem;display: inline-block;}
.judge-box .judge-star em img{display: block;width: 100%;height: 100%;}
.starting-price{color: #656565;margin-top: .08rem;font-size: .26rem;border-bottom: 1px solid #efefef;padding-bottom: .2rem;}
.starting-price em{margin: 0 .1rem 0 .15rem;}
.near-list-txt .gray{color: #a6a6a6;font-size: .26rem;margin-top: .1rem;}
.near-list-txt .gray i{display: inline-block;width: .35rem;height: .35rem;margin-right: .2rem;}
.near-list-txt .gray i img{display: block;width: 100%;height: 100%;margin: .08rem 0 0 0;}