.coll_list{
	float: right;
	width: 936px;
	background: #fff;
	border: 1px solid #ececec;
}
.coll_list .coll_lead{
	height: 75px;
	line-height: 75px;
	font-size: 16px;
	border-bottom: 1px solid #ececec;
}
.coll_list .coll_lead span{
	margin-left: 30px;
}
.coll_list .coll_txt{
    padding: 0 50px 50px 30px;
    font-size: 14px;
}
.coll_list .coll_txt .cot_lead{
    border-bottom: 1px dashed #ededed;
    text-align: center;
}
.coll_list .coll_txt .cot_lead span{
	float: left;
	width: 33%;
	height: 54px;
	line-height: 54px;
}
.coll_list .coll_txt .item_list .item{
	height: 70px;
	line-height: 70px;
	border-bottom: 1px dashed #ededed;
}
.coll_list .coll_txt .item_list .item div{
	float: left;
	width: 33%;
}
.coll_list .coll_txt .item_list .item .td_1 .it_pic{
	margin-left: 47px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 10px;
}
.coll_list .coll_txt .item_list .item .td_1 .it_pic img{
	height: 50px;
	display: block;
	margin: 0 auto;
}
.coll_list .coll_txt .item_list .item .td_1 span{
	font-size: 14px;
	color: #3c95cb;
}
.coll_list .coll_txt .item_list .item .td_1 i{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    vertical-align: middle;
    margin-left: 9px;
}
.coll_list .coll_txt .item_list .item .td_2{
	text-align: center;
}
.coll_list .coll_txt .item_list .item .td_3{
	text-align: center;
	font-size: 12px;
	color: #999999;
}
/* 分页 */
.pagination {height: 36px; margin: 55px 0 60px; display: block;}
.pagination-pages {float: none; max-width: 300px; margin: 0 auto;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 25px; height: 35px; padding: 0 5px; margin: 0 0 0 10px; background-color: #f8f8f8; text-align: center; line-height: 35px; font-size: 16px; cursor: pointer; color: #333; text-decoration: none; border-radius: 4px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #52a7df; color: #fff;}
.pagination-pages a:hover {background-color: #52a7df; color: #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .next {padding: 0 8px; background: #f8f8f8 url(../images/next.png) center center no-repeat;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}