.bind{
    position: relative;
    overflow: hidden;
    padding-left: 18px;
}
.bind_box{
	background: #fff;
    border: 1px solid #ededed;
}
.bind_box .bind_lead{
    font-size: 16px;
    padding: 25px;
    border-bottom: 1px solid #ededed;
}
.bind_box .right_now ul{
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.bind_box .right_now ul li{
	float: left;
	width: 100px;
	text-align: center;
	margin-right: 60px;
}
.bind_box .right_now ul li p{
	width: 84px;
	height: 84px;
	background: #e0e0e0;
	border-radius: 100%;
	margin: 0 auto;
}
.bb_bc p{
	background: #52a7df!important;
}
.bind_box .right_now ul li p i{
	width: 52px;
	height: 52px;
	display: inline-block;
	background: url(../images/ys_75.png) no-repeat;
	margin: 16px auto;
}
.bind_box .right_now ul .tel p i{
    background-position: -5px -5px;
}
.bind_box .right_now ul .messages p i{
    background-position: -79px -5px;
}
.bind_box .right_now ul .qq p i{
    background-position: -161px -5px;
}
.bind_box .right_now ul .sina p i{
    background-position: -245px -5px;
}
.bind_box .right_now ul .wx p i{
    background-position: -334px -5px;
}
.bind_box .right_now ul li span{
	width: 100px;
	display: block;
	font-size: 12px;
	color: #999999;
	margin-top: 5px;
}
.bind_box .right_now ul li a{
	font-size: 14px;
	margin-top: 5px;
	display: block;
}
.bind_box .right_now ul li .quxiao{
	color: #000;
}
.bind_box .right_now ul li .bang{
	color: #52a7df;
}
.bind_box  .re_set{
	padding-left: 30px;
}
.bind_box  .re_set .set_lead{
	font-size: 14px;
	color: #999999;
}
.bind_box  .re_set .set_lead i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/ys_76.png) center center;
	vertical-align: text-bottom;
	margin-right:2px;
}
.bind_box  .re_set .set_list{
	margin-bottom: 50px;
}
.bind_box  .re_set .set_list ul li{
	font-size: 16px;
	margin: 10px 0;
}
.bind_box  .re_set .set_list ul li span{
	margin-right: 10px;
}
.bind_box  .re_set .set_list ul li em{
	color: #999999;
	font-size: 12px;
	margin-left: 30px;
}
.al-toggle-button{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 40px;
    height: 25px;
    background: #dfdfdf;
    border-radius: 16px;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: 5px;
}
.al-toggle-button:checked{
    border-color: #52a7df;
    background-color: #52a7df;
}
.al-toggle-button:before, .al-toggle-button:after{
    content: " ";
    position: absolute;
    top: 1px;
    left: -1px;
    height: 21px;
    border-radius: 15px;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}
.al-toggle-button:before{
    width: 38px;
    background-color: #fdfdfd;
}
.al-toggle-button:after{
    width: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.al-toggle-button:checked:before{
    transform: scale(0);
    -webkit-transform: scale(0);
}
.al-toggle-button:checked:after{
    transform: translateX(17px);
    -webkit-transform: translateX(17px);
}