.ad{
	width: 1200px;
	margin: 5px auto;
}
.ad a img{
	width: 1200px;
	height: 80px;
}
.bn{
	border-bottom: none!important;
}
.part_1{
	width: 1200px;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
	background: #f5f5f5;
	border: 1px solid #dddddd;
}
.part_2 .p2_left{
	width: 860px;
	float: left;
	padding: 0 20px;
}
.part_2 .p2_left .p2f_lead{
	height: 22px;
	line-height: 22px;
	margin-top: 20px;
}
.part_2 .p2_left .p2f_lead h1{
	width: 420px;
	float: left;
	padding-left: 30px;
	background: url(../images/ys_35.png) no-repeat left;
	font-size: 18px;
	overflow: hidden;
	font-weight: bold;
}
.part_2 .p2_left .p2f_lead p{
	float: right;
}
.part_2 .p2_left .p2f_txt{
	font-size: 15px;
	line-height: 30px;
	padding: 30px 0;
	border-bottom: 1px dashed #dddddd; 
}
.part_2 .p2_left .p2f_pic h1{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0; 
}
.part_2 .p2_right{
	float: right;
	border-left: 1px solid #dddddd;
	width: 298px;
}
.part_2 .p2_right h1{
	height: 63px;
	line-height: 63px;
	padding-left: 25px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dashed #dddddd;
}
.part_2 .p2_right ul li{
	height: 56px;
	line-height: 56px;
	padding-left: 25px;
	font-size: 14px;
	border-bottom: 1px dashed #dddddd;
}
.part_2 .p2_right ul li em{
	color: #a7a7a7;
	margin-right: 43px;
	width: 56px;
	float: left;
}
.part_2 .p2_right ul li span{
	color: #61ade1;
}
.part_2 .p2_right ul li .price{
	color: #f3632e;
}
.part_3{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}
.part_3 .p3_left{
	float: left;
	width: 858px;
	padding: 0 20px; 
	background: #f5f5f5;
    border: 1px solid #dddddd;
}
.part_3 .p3_left .p3l_up .p3l_lead{
	height: 22px;
    line-height: 22px;
    margin-top: 20px;
}
.part_3 .p3_left .p3l_up .p3l_lead h1{
	float: left;
	width: 80px;
	padding-left: 30px;
	background: url(../images/ys_36.png) no-repeat left;
	font-size: 18px;
    overflow: hidden;
    font-weight: bold;
}
.part_3 .p3_left .p3l_up .p3l_lead p{
	padding-left:25px;
	font-size: 14px;
	color: #52a7df;
	float: right;
	background: url(../images/ys_39.png) no-repeat left; 
	cursor: pointer;
}
.part_3 .p3_left .p3l_up .p3l_lead span{
	padding-left:25px;
	font-size: 14px;
	color: #999999;
	float: right;
	background: url(../images/ys_40.png) no-repeat left; 
	cursor: pointer;
}
.part_3 .p3_left .p3l_up .wenben_1{
	font-size: 14px;
	color: #999999;
	margin-top: 20px;
}
.part_3 .p3_left .p3l_up .wenben_2{
	font-size: 14px;
	margin-top: 20px;
}
.part_3 .p3_left .p3l_up .wenben_2 em{
	font-size: 14px;
	color: #999999;
}
.part_3 .p3_left .p3l_up .shuru{
    width: 836px;
    height: 160px;
    border: 1px solid #dddddd;
    background: #fff;
    padding: 10px;
    margin-top: 18px;
}
.part_3 .p3_left .p3l_up button{
	width: 100px;
	height: 30px;
	background: #52a7df;
	color: #fff;
	line-height: 30px;
	text-align: center;
	float: right;
	border: none;
	margin-top: 20px;
	font-size: 16px;
}
.part_3 .p3_left .p3l_down{
	margin-top: 30px;
	border-top:  1px dashed #dddddd;
}
.part_3 .p3_left .p3l_down h2{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0;
}
.part_3 .p3_left .p3l_down ul li{
	width: 790px;
	height: 48px;
	background: #fff;
	line-height: 48px;
	margin-bottom: 15px;
}
.part_3 .p3_left .p3l_down ul li a{
	padding-left: 35px;
	font-size: 15px;
	color: #2626d0;
	text-decoration:  underline;
	background: url(../images/ys_37.png) no-repeat left;
	height: 48px;
	line-height: 48px;
	float: left;
	margin-left: 10px;
}
.part_3 .p3_left .p3l_down ul li span{
	width: 130px;
	height: 40px;
	background: #52a7df;
	color: #fff;
	float: right;
	margin-top: 4px;
	line-height: 40px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.part_3 .p3_left .p3l_down ul li span em{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 100%;
    float: left;
    line-height: 19px;
    font-size: 28px;
    text-align: center;
    margin-left: 26px;
    margin-top: 7px;
}
.part_3 .p3_left .p3l_down ul li span i{
	font-style: normal;
	font-size: 16px;
	margin-left: 10px;
}
.part_3 .p3_right{
	float: right;
	width: 289px;
}
.part_3 .p3_right .lc{
	width: 249px;
	border: 1px solid #dddddd;
	height: 170px;
	padding: 20px;
}
.part_3 .p3_right .lc h1{
	font-size: 15px;
	font-weight: bold;
}
.part_3 .p3_right .lc ul {
	border-left:  1px dashed #52a7df;
	margin-top: 29px;
}
.part_3 .p3_right .lc ul li{
	margin-bottom: 28px;
	font-size: 14px;
	position: relative;
	text-indent: 20px;
}
.part_3 .p3_right .lc ul li em{
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/ys_17.png) no-repeat center;
	color: #fff;
	left: -11px;
	text-align: center;
	line-height: 25px;
	text-indent: 0;
}
.part_3 .p3_right .wx{
	width: 291px;
	height: 296px;
	background: #f5f5f5;
	text-align: center;
	margin-top: 30px;
}
.part_3 .p3_right .wx img{
	margin-top: 29px;
}
.part_3 .p3_right .wx span{
	display: block;
	font-size: 14px;
	margin-top: 15px;
}
.part_3 .p3_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.part_3 .p3_right .wx p{
	font-size: 12px;
	color: #999999;
}
.part_3 .p3_right .new{
	margin-top: 20px;
}
.part_3 .p3_right .new h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.part_3 .p3_right .new h1 span{
	float: left;
}
.part_3 .p3_right .new h1 a{
	    float: right;
    font-size: 12px;
    color: #b0b0b0;
}
.part_3 .p3_right .new ul{
	margin-top: 20px;
}
.part_3 .p3_right .new ul li{
    width: 300px;
    float: left;
    margin-right: 54px;
    margin-bottom: 17px;
}
.part_3 .p3_right .new ul li a{
	font-size: 14px;
}
.part_3 .p3_right .new ul li a span{
	width: 250px;
    height: 20px;
    overflow: hidden;
    float: left;
}
.part_3 .p3_right .new ul li a em{
	    float: right;
    font-size: 12px;
    color: #a9a9a9;
    line-height: 20px;
}
.foot{
	margin-top: 400px;
}
.highslide-gallery{
	width: 860px;
	border: none;
	margin: 0;
	padding: 0;
}
.highslide img{
	width: 150px;
	height: 100px;
}