.part_1{
	height: 343px;
	background: #f7f7f7;
}
.part_1 .p1_txt{
	width: 1300px;
	margin: 0 auto;
}
.part_1 .p1_list{
    float: left;
    width: 213px;
    text-align: center;
    margin: 62px 50px;
}
.part_1 .p1_list span{
	width: 213px;
	display: block;
	font-size: 16px;
	margin-top: 10px;
}
.part_1 .p1_list p{
    font-size: 12px;
    color: #999999;
    margin-top: 15px;
    line-height: 25px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 h1{
	height: 100px;
	line-height: 100px;
	font-size: 14px;
	color: #a9a9a9;
}
.part_2 h1 em{
	font-size: 22px;
	color: #52a7df;
	margin-right: 10px;
}
.part_2 div span{
	width: 70px;
	margin-right: 10px;
	float: left;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
}
.part_2 div i{
	font-size: 12px;
	color: #bbbbbb;
	font-style: normal;
	margin-left: 10px;
}
.part_2 .type ul{
	float: left;
	width: 920px;
}
.part_2 .type ul li{
	float: left;
	width: 130px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	position: relative;
}
.part_2 .type s{
    width: 26px;
    height: 26px;
    background: url(../images/ys_33.png) no-repeat center;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.part_2 .place{
	height: 45px;
	line-height: 45px;
	margin-bottom: 20px;
}
.part_2 .place .pl_1{
	width: 119px;
	height: 32px;
	font-size: 14px;
	border: 1px solid #dddddd
}
.part_2 .place .pl_2{
	width: 150px;
	height: 32px;
	font-size: 14px;
	border: 1px solid #dddddd;
	color: #cacaca;
}
.part_2 .txt {
	margin-bottom: 20px;
}
.part_2 .txt .shuru{
	border:1px solid #dddddd;
	width: 835px;
	float: left;
	padding: 15px;
	height: 235px;
}
.part_2 .zhenj{
	margin-bottom: 20px;
}
.part_2 .zhenj img{
    vertical-align: bottom;
}
.part_2 .money_1{
		height: 45px;
	line-height: 45px;
	margin-bottom: 20px;
}
.part_2 .money_1 select{
	width: 168px;
	height: 32px;
	font-size: 14px;
	border: 1px solid #dddddd
}
.part_2 .money_2{
	margin-bottom: 20px;
}
.part_2 .money_2 .money_list {
	float: left;
}
.part_2 .money_2 .money_list .ml_txt{
	width: 200px;
	height: 100px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 5px;
	float: left;
	margin-right: 70px;
	cursor: pointer;
	position: relative;
}
.part_2 .money_2 .money_list .ml_txt s{
	width: 26px;
	height: 26px;
	background: url(../images/ys_33.png) no-repeat center;
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}
.part_2 .money_2 .money_list .ml_txt p{
	font-size: 20px;
	color: #f3632e;
	margin-top: 20px;
}
.part_2 .money_2 .money_list .ml_txt p em{
	font-size: 16px;
	color: #000;
}
.part_2 .money_2 .money_list .ml_txt b{
	font-size: 16px;
	margin-top: 10px;
	display: block;
	font-weight: normal;
}
.part_2 .money_2 .fu_list {
	float: left;
    margin-left: 79px;
}
.part_2 .money_2 .fu_list .fu_1{
	width: 706px;
	height: 150px;
	border: 1px solid #dddddd;
	float: left;
	border-radius: 5px;
	background: #f7f7f7;
	margin-top: 15px;
	padding: 20px;
	position: relative;
}
.part_2 .money_2 .fu_list .fu_1 h2{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}
.part_2 .money_2 .fu_list .fu_1 ul li{
	font-size: 14px;
}
.part_2 .money_2 .fu_list .fu_1 em{
    position: absolute;
    top: -10px;
    right: 97px;
    background: url(../images/ys_32.png) no-repeat center;
    width: 14px;
    height: 14px;
}
.part_2 .money_2 .fu_list .five em{
	top: -10px;
    right: 367px;
}
.part_2 .money_2 .fu_list .eight em{
    top: -10px;
    right: 631px;
}
.part_2 .name{
	height: 45px;
	line-height: 45px;
	margin-bottom: 20px;
}
.part_2 .name input{
	width: 327px;
	height: 42px;
	font-size: 14px;
	border: 1px solid #dddddd;
	text-indent: 10px;
}
.part_2 button{
	width: 172px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: #fea861;
	border: none;
	margin-left: 77px;
}
.en_bc{
	background: #fff7ed;
	border: 1px solid #fea861!important;
}
.en_bc s{
	display: block!important;
}