.ent_1{
	background: url(../images/ys_24.png) no-repeat center;
	height: 300px;
	position: relative;
}
.ent_1 .ent_list{
    width: 300px;
    height: 170px;
    position: absolute;
    left: 50%;
    top: 31%;
    margin-left: 145px;
}
.ent_1 .ent_list h1{
	width: 300px;
    text-align: center;
	font-size: 18px;
}
.ent_1 .ent_list h1 em{
	font-size: 22px;
	color: #fea75f;
	margin: 0 5px;
}
.ent_1 .ent_list .button{
	width: 300px;
	margin-top: 28px;
}
.ent_1 .ent_list .button a{
	background: #fea861;
	width: 180px;
	height: 50px;
	border: none;
	color: #fff;
	font-size: 23px;
	border-radius: 30px;
	margin: 0 auto;
	display: block;
	line-height: 50px;
}
.ent_1 .ent_list .button a b{
    background: url(../images/ys_26.png) no-repeat left;
    width: 24px;
    height: 24px;
    background-size: 24px;
    float: left;
    margin-left: 27px;
    margin-top: 13px;
    margin-right: 10px;
}
.ent_1 .ent_list span{
	width: 300px;
	font-size: 12px;
	margin-top: 20px;
    text-align: center;
	display: block;
}
.ent_1 .ent_list span i{
	font-style: normal;
	margin: 0 10px;
}
.ent_2{
	width: 1200px;
	margin: 15px auto;
}
.ent_2 .ent_2_list{
	width: 1300px
}
.ent_2 .ent_2_list div{
	width: 238px;
	height: 102px;
	border: 1px solid #dddddd;
	padding: 11px 25px 15px 20px;
	float: left;
	margin-right: 20px;
}
.ent_2 div span{
	font-size: 16px;
	height: 50px;
	line-height: 50px;
}
.ent_2 div p{
	font-size: 14px;
	color: #999999;
}
.ent_2 .ent_team span i{
	width: 50px;
	height: 50px;
	background: url(../images/ys_1.png) no-repeat center;
	float: left;
	margin-right: 24px;
	background-size: 50px;
}
.ent_2 .ent_team p em{
	color: #52a7df;
}
.ent_2 .ent_know span i{
	width: 50px;
	height: 50px;
	background: url(../images/ys_2.png) no-repeat center;
	float: left;
	margin-right: 24px;
	background-size: 50px;
}
.ent_2 .ent_know p em{
	color: #fea861;
}
.ent_2 .ent_cn span i{
	width: 50px;
	height: 50px;
	background: url(../images/ys_3.png) no-repeat center;
	float: left;
	margin-right: 24px;
	background-size: 50px;
}
.ent_2 .ent_cn p em{
	color: #00d390;
}
.ent_2 .ent_fw span i{
	width: 50px;
	height: 50px;
	background: url(../images/ys_4.png) no-repeat center;
	float: left;
	margin-right: 24px;
	background-size: 50px;
}
.ent_2 .ent_fw p em{
	color: #f3632e;
}
.ent_3{
	width: 1200px;
	margin: 0 auto;
}
.ent_4{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    margin-top: 15px;
}
.ent_4 .e4_lead{
	height: 42px;
	line-height: 42px;
	border-bottom: 1px dashed #ebebeb;
}
.ent_4  p{
	float: left;
	font-size: 12px;
}
.ent_4  .title{
	margin-left: 25px;
	width: 426px;
	margin-right: 53px;
	height: 40px;
	overflow: hidden;
}
.ent_4  .money{
	width: 105px;
	overflow: hidden;
	height: 40px;
}
.ent_4  .kind{
	width: 50px;
	margin-right: 59px;
	height: 40px;
	overflow: hidden;
}
.ent_4  .place{
	width: 80px;
	margin-right: 39px;
	height: 40px;
	overflow: hidden;
}
.ent_4  .time{
	width: 56px;
	margin-right: 42px;
	height: 40px;
	overflow: hidden;
}
.ent_4  .go{
	width: 90px;
	margin-right: 33px;
	height: 40px;
	overflow: hidden;
}
.ent_4  .more{
	width: 93px;
	text-align: center;
}
.e4_list ul li a{
	display: block;
	height: 63px;
	line-height: 63px;
	border-bottom: 1px dashed #ebebeb;
}
.e4_list ul li:hover{
	background: #e9f8fe;
}
.e4_list ul li  p{
	color: #a1a1a1;
}
.e4_list ul li .title{
	color: #52a7df;
	font-size: 14px;
}
.e4_list ul li .money{
	color: #f3632e;
	font-size: 14px;
}
.e4_list ul li .more{
	width: 93px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: #52a7df;
	margin-top: 20px;
}
.last{
	border-bottom: none!important;
}
.fen{
    width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li {
    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.fen ul .fen_all {
    width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul li a:hover {
    color: #fff;
}
.fen ul li:hover {
    background: #52a7df;
}
.fen ul .fen_all:hover{
	background: none;
}