.indent_list{
	float: left;
    width: 936px;
    margin-left: 20px;
    background: #fff;
}
.indent_list .indent_lead{
    height: 75px;
    line-height: 75px;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.indent_list .indent_lead span{
    margin-left: 30px;
    display: block;
}
.indent_list .item_list{
	padding: 0 30px;
}
.indent_list .item_list .item{
	margin-top: 10px;
	width: 865px;
	height: 148px;
	border: 1px solid #ececec;
}
.indent_list .item_list .item .item_lead{
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #999999;
	background: #f5f5f5;
}
.indent_list .item_list .item.ing .item_lead{
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #999999;
	background: #e9f8fe;
}
.indent_list .item_list .item .item_lead span{
	float: left;
	margin-left: 17px;
}
.indent_list .item_list .item .item_lead p{
	float: right;
	margin-right: 19px;
}
.indent_list .item_list .item .item_txt {
	padding: 19px;
}
.indent_list .item_list .item .item_txt .it_left{
	float: left;
	width: 414px;
	height: 85px;
	overflow: hidden;
}
.indent_list .item_list .item .item_txt .it_left .it_pic{
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-right: 20px;
}
.indent_list .item_list .item .item_txt .it_left .it_pic img{
	height: 80px;
	display: block;
	margin: 0 auto;
}
.indent_list .item_list .item .item_txt .it_left h1{
	font-size: 16px;
}
.indent_list .item_list .item .item_txt .it_left h1 i{
	width: 23px;
	height: 27px;
	display: inline-block;
	background: url(../images/ys_79.png) center center;
	vertical-align: text-bottom;
	margin-left: 10px;
}
.indent_list .item_list .item .item_txt .it_left span{
	color: #ff4400;
	font-weight: bold;
	font-size: 14px;
}
.indent_list .item_list .item .item_txt .it_left p{
	color: #999999;
	width: 200px;
	height: 36px;
	overflow: hidden;
}
.indent_list .item_list .item .item_txt .it_mid{
	float: left;
	padding-left: 20px;
	width: 145px;
	height: 70px;
	border-left: 1px solid #ececec;
}
.indent_list .item_list .item .item_txt .it_mid span{
	color: #52a7df;
	font-size: 14px;
	margin-top: 10px;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
.indent_list .item_list .item .item_txt .it_mid.no_ren span{
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14px;
	margin-top: 10px;
	display: block;
}
.indent_list .item_list .item .item_txt .it_mid span i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -111px -63px;
    vertical-align: middle;
    margin-left: 9px;
}
.indent_list .item_list .item .item_txt .it_mid p{
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #e2e2e2;
	font-size: 14px;
	margin-top: 5px;
}
.indent_list .item_list .item .item_txt .it_mid p a{
	display: block;
}
.indent_list .item_list .item .item_txt .it_mid p:hover{
	background: #52a7df
}
.indent_list .item_list .item .item_txt .it_mid p:hover a{
	color: #fff;
}
.indent_list .item_list .item .item_txt .it_right{
	float: right;
	margin-top: 10px;
}
.indent_list .item_list .item .item_txt .it_right em{
	color: #feb57d;
}
.indent_list .item_list .item .item_txt .it_right span{
	color: #52a7df;
	width: 69px;
	display: block;
	text-align: center;
}
.indent_list .item_list .item .item_txt .it_right p{
	width: 69px;
	height: 24px;
	line-height: 24px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #e2e2e2;
	font-size: 14px;
	margin-top: 5px;
}
.indent_list .item_list .item .item_txt .it_right p a{
	display: block;
}
.indent_list .item_list .item .item_txt .it_right p:hover{
	background: #52a7df
}
.indent_list .item_list .item .item_txt .it_right p:hover a{
	color: #fff;
}
.disappear{
	display: none!important;
}
/* 分页 */
.pagination {height: 36px; margin: 55px 0 60px; display: block;}
.pagination-pages {float: none; max-width: 300px; margin: 0 auto;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 25px; height: 35px; padding: 0 5px; margin: 0 0 0 10px; background-color: #f8f8f8; text-align: center; line-height: 35px; font-size: 16px; cursor: pointer; color: #333; text-decoration: none; border-radius: 4px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #52a7df; color: #fff;}
.pagination-pages a:hover {background-color: #52a7df; color: #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .next {padding: 0 8px; background: #f8f8f8 url(../images/next.png) center center no-repeat;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}