.head{
	height: 34px;
	background: #eeeeee;
	line-height: 34px;
}
.head .head_list{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}

.head .head_list .head_left{
	float: left;
}
.head .head_list .head_left .location{
    float: left;
    width: 64px;
    cursor: pointer;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-right: 10px;
}
.head .head_list .head_left .location:hover{
	border-color: #ddd;
    background: #fff;
}
.head .head_list .head_left .location:hover s{
	display: block;
}
.head .head_list .head_left .location:hover .location_list{
	display: block;
}
.head .head_list .head_left .location:hover i{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .head_left .location i{
    background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: -2px -82px;
    display: inline-block;
    width: 9px;
    height: 8px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;
    margin-left: 5px;
}
.head .head_list .head_left .location b{
    background: url(../images/location.png) no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px;
    margin-left: 4px;
    float: left;
    margin-top: 10px;
}
.head .head_list .head_left .location s{
	    width: 64px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    z-index: 9999;
    left: 0;
    display: none;
}
.head .head_list .head_left .location .location_list{
    position: absolute;
    left: -1px;
    top: 34px;
    width: 482px;
    height: 316px;
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 17px 20px 0 20px;
    display: none;
    z-index: 9;
}
.head .head_list .head_left .location .location_list .lo_lead {
	border-bottom: 1px solid #52a7df;
}
.head .head_list .head_left .location .location_list .lo_lead .location_bc{
	background:#52a7df;
	color: #fff;
}
.head .head_list .head_left .location .location_list .lo_lead li{
	float: left;
	width: 80px;
	height: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
}
.head .head_list .head_left .location .location_list .city{
	margin-top: 12px;
}
.head .head_list .head_left .location .location_list .city ul li em{
	color: #52a7df;
	margin-right: 19px;
	float: left;
}
.head .head_list .head_left .location .location_list .city ul li .cl{
	float: left;
	width: 406px;
}
.head .head_list .head_left .location .location_list .city ul li a{
	margin-right: 12px;
}
.head .head_list .head_left form{
	float: left;
}
.head .head_list .head_left form .name{
	float: left;
	position: relative;
	width: 80px;
    padding-left: 20px;
    background: #fff;
    border-radius: 2px;
    height: 20px;
    margin-top: 7px;
    line-height: 20px;
    overflow: hidden;
}
.head .head_list .head_left form .name b{
	position: absolute;
    left: 4px;
    top: 2px;
	background: url(../images/person.png) no-repeat left;
	background-size: 14px;
	width: 16px;
	height: 16px;
}
.head .head_list .head_left form .name input{
    border: none;
}
.head .head_list .head_left form .password{
	float: left;
	position: relative;
	margin-left: 10px;
	width: 80px;
	border-radius: 2px;
	padding-left: 20px;
	background: #fff;
	height: 20px;margin-top: 7px;
    line-height: 20px;
    overflow: hidden;
}
.head .head_list .head_left form .password b{
	position: absolute;
    left: 4px;
    top: 2px;
	background: url(../images/lock.png) no-repeat left;
	background-size: 14px;
	width: 16px;
	height: 16px;
}
.head .head_list .head_left form .password input{
	border: none;
}
.head .head_list .head_left form button{
	width: 60px;
	height: 20px;
	border-radius: 2px;
	background: #52a7df;
	border: none;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}
.head .head_list .head_left .zhuce{
	float: left;
    width: 60px;
    height: 20px;
    border-radius: 2px;
    margin-left: 10px;
    background: #9fa0a0;
    text-align: center;
    margin-top: 7px;
    line-height: 20px;
}
.head .head_list .head_left p a{
	font-size: 12px;
	color: #fff;
}
.head .head_list .head_left .anthor{
    float: left;
    width: 108px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
}
.head .head_list .head_left .anthor span{
    margin-right: 5px;
    margin-left: 13px;
 }
.head .head_list .head_left .anthor b{
	background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: -2px -85px;
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;

}
.head .head_list .head_left .anthor:hover{
    border-color: #ddd;
    background: #fff;
}
.head .head_list .head_left .anthor:hover .anthor_list{
	display: block;
}
.head .head_list .head_left .anthor:hover b{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .anthor_list{
    width: 108px;
    height: 78px;
    background: #fff;
    border: 1px solid #e2e2e2;
    position: absolute;
    left: -1px;
    top: 34px;
    text-align: center;
    border-top: none;
    display: none;
}
.head .head_list .anthor_list .qq i{
	background:url(../images/public_icons.png) no-repeat;
	background-position: -8px 0px;
	    display: inline-block;
    width: 20px;
    height: 20px;
        margin: -4px 4px 0 0;
    vertical-align: middle;
}
.head .head_list .anthor_list .wx i{
	background:url(../images/public_icons.png) no-repeat;
	background-position: -6px -20px;
	    display: inline-block;
    width: 20px;
    height: 20px;
        margin: -4px 4px 0 0;
    vertical-align: middle;
}
.head .head_list .head_right{
	float: right;
    width: 483px;
}
.head .head_list .head_right ul li{
	float: left;
	margin-left: 25px;
}
.head .head_list .head_right ul li a{
	display: block;
}
.head .head_list .head_right ul .HR_lead{
    cursor: pointer;
    position: relative;
    width: 81px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: 10px;
}
.head .head_list .head_right ul .HR_lead span{
    margin-left: 11px;
}
.head .head_list .head_right ul .HR_lead i{
	width: 81px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom:-1px;
	z-index: 9999;
	left: 0;
	display: none;
}
.head .head_list .head_right ul .HR_lead b{
	background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: 2px -81px;
    display: inline-block;
    width: 17px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;
}
.head .head_list .head_right ul .HR_lead:hover{
    border-color: #ddd;
    background: #fff;
}
.head .head_list .head_right ul .HR_lead:hover b{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .head_right ul .HR_lead:hover .nav_list{
	display: block;
}
.head .head_list .head_right ul .HR_lead:hover i{
	display: block;
}
.head .head_list .head_right ul .HR_lead .nav_list{
	width: 913px;
	height: 232px;
	border: 1px solid #e2e2e2;
	position: absolute;
	right: -1px;
	top: 34px;
	background:#fff;
	padding: 28px 19px 18px 19px;
	display: none;
	z-index: 9;
}
.head .head_list .head_right ul .HR_lead .nav_list .area{
	width: 177px;
	height: 230px;
	float: left;
	border-right: 1px solid #eeeeee;
	padding-right: 33px;
}
.head .head_list .head_right ul .HR_lead .nav_list .area h1{
	font-size: 15px;
	color: #fe4e31;
	border-left: 4px solid #fe4d31;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 16px;
}
.head .head_list .head_right ul .HR_lead .nav_list .area a{
	width: 35px;
	height: 18px;
	float: left;
	margin-bottom: 7px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}
.head .head_list .head_right ul .HR_lead .nav_list .area a:hover{
	background:#eeeeee;
	color: #fea861;
}
.head .head_list .head_right ul .HR_lead .nav_list .area .area_bc{
	background:#fea861;
	color: #eeeeee;
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality{
	width: 177px;
	padding:0 22px 0 33px;
	float: left;
	border-right: 1px solid #eeeeee;
	height: 230px
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality h1{
	font-size: 15px;
	color: #fea861;
	border-left: 4px solid #fea861;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality a{
 float: left;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 18px;
     margin-right: 11px;
    width: 48px;
    height: 18px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge{
	padding: 0 33px;
	border-right: 1px solid #eeeeee;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge h1{
	font-size: 15px;
	color: #8cd564;
	border-left: 4px solid #8cd564;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge a{
	width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 13px;
	text-align: center;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve{
	padding: 0 33px;
	border-right: 1px solid #eeeeee;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve h1{
	font-size: 15px;
	color: #52a7df;
	border-left: 4px solid #52a7df;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve a{
		width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 11px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer{
	padding: 0 33px;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer h1{
	font-size: 15px;
	color: #cf74e3;
	border-left: 4px solid #cf74e3;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer a{
		width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 11px;
}
.head .head_list .head_right ul .HR_tel span{
	float: left;
}
.head .head_list .head_right ul .HR_tel em{
	color: #fea861;
	float: left;
}
.head .head_list .head_right ul .HR_tel i{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-style: normal;
    background: #fea861;
    color: #fff;
    float: left;
    margin-top: 11px;
    line-height: 12px;
    margin-left: 5px;
}
.search{
	width: 1200px;
	margin: 0 auto;
}
.search .logo{
	float: left;
	margin-top: 20px;
}
.search .logo img{
	width: 114px;
	height: 55px;
}
.search_list{
	margin-left: 103px;
	float: left;
	width: 650px;
	margin-top: 25px;
	line-height: 40px;
}
.search_list form{
	float: left;
	width: 502px;
	height: 40px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	border-right: none;
}
.search_list .choice{
	font-size: 16px;
    width: 90px;
    padding: 5px 0;
    float: left;
    height: 30px;
    line-height: 30px;
    text-indent: 25px;
    background: url(../images/arrow_1.png) no-repeat 63px 18px;
    position: relative;
}
.search_list .choice i{
	width: 1px;
	height: 28px;
	background: #c7c7c7;
	position: absolute;
	right: -1px;
	top: 5px;
}
.search_list .choice:hover .choice_list{
	display: block;
}
.search_list .choice:hover i{
	height: 38px;
}
.search_list .choice_list{
    position: absolute;
    bottom: -92px;
    left: -1px;
    border: 1px solid #c7c7c7;
	z-index: 999;
    border-top: none;
    display: none;
}
.search_list .choice_list p{
	width: 90px;
	height: 31px;
	background: #fff;
	text-align: center;
	line-height: 31px;
	font-size: 16px;
	cursor: pointer;
	text-indent: 0;
}
.search_list .choice_list p:hover{
	background: #85c0ea;
	color: #fff;
}
.search_list input{
	border:none;
	text-indent: 10px;
	width: 289px;
	font-size: 14px;
}
.search_list form button{
	width: 119px;
	height: 40px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #52a7df;
	font-size: 15px;
	color: #fff;
}
.search_list form button:hover{
	background: #3c95cb;
}
.search_list .online{
	float: left;
	margin-left: 20px;
	width: 118px;
	height: 40px;
	background: #fea861;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 5px;
}
.search_list .online:hover{
	background: #f49e59
}
.search .tell{
	float: right;
	margin-top: 20px;
}
.search .tell img{
	float: left;
	margin-right: 10px;
}
.search .tell span{
	font-size: 14px;
	color: #999999;
}
.search .tell p{
    font-size: 26px;
    color: #52a7df;
    line-height: 30px;
}
.lead{
	border-bottom: #52a7df 3px solid;
	margin-top: 18px;
}
.lead ul{
	width: 1200px;
	margin: 0 auto;
}
.lead ul li{
	float: left;
	width: 92px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.lead ul li a{
	display: block;
	font-size: 16px;
}
.lead ul .lead_bc{
	background: #52a7df;
}
.lead ul .lead_bc a{
	color: #fff;
}
.classify{
	border-bottom: 1px solid #e2e2e2;
}
.classify ul{
	width: 1200px;
	margin: 0 auto;
}
.classify ul li{
	float: left;
	width: 99px;
	height: 60px;
	text-align: center;
	position: relative;
	z-index: 1
}
.classify ul li a{
	display: block;
}
.classify ul li em{
    height: 38px;
    width: 1px;
    background: #d8d8d8;
    float: left;
    margin-top: 12px;
    position: absolute;
    right: 0;
    top: 0;
}
.classify ul li i{
	background: url(../images/class.png) no-repeat center;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: block;
	margin-top: 8px;
}
.classify ul li:hover i{
	background: url(../images/class.png) no-repeat center;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: block;
	margin-top: 8px;
}
.classify ul li:hover a{
	color: #52a7df;
}
.classify ul .gs i{
	background-position: 1px -3px;
}
.classify ul .sh i{
    background-position: -30px -3px;
}
.classify ul .gx i{
    background-position: -60px -3px;
}
.classify ul .bc i{
    background-position: -90px -3px;
}
.classify ul .ht i{
    background-position: -120px -3px;
}
.classify ul .dy i{
    background-position: -156px -3px;
}
.classify ul .bz i{
    background-position: -188px -3px;
}
.classify ul .zd i{
   background-position: -221px -3px;
}
.classify ul .pq i{
    background-position: -253px -3px;
}
.classify ul .zc i{
    background-position: -289px -3px;
}
.classify ul .jc i{
    background-position: -321px -3px;
}
.classify ul .ws i{
    background-position: -352px -3px;
}
.classify ul .gs:hover i{
	background-position: 1px -32px;
}
.classify ul .sh:hover i{
    background-position: -30px -32px;
}
.classify ul .gx:hover i{
    background-position: -60px -32px;
}
.classify ul .bc:hover i{
    background-position: -90px -32px;
}
.classify ul .ht:hover i{
    background-position: -120px -32px;
}
.classify ul .dy:hover i{
    background-position: -156px -32px;
}
.classify ul .bz:hover i{
    background-position: -188px -32px;
}
.classify ul .zd:hover i{
   background-position: -221px -32px;
}
.classify ul .pq:hover i{
    background-position: -253px -32px;
}
.classify ul .zc:hover i{
    background-position: -289px -32px;
}
.classify ul .jc:hover i{
    background-position: -321px -32px;
}
.classify ul .ws:hover i{
    background-position: -352px -32px;
}
.ad{
	width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}
.ad ul{
	width: 1300px;
}
.ad ul li{
	float: left;
	margin-right: 9px;
}
.ad ul li a img{
	width: 293px;
	height: 88px;
}
.part_1{
	width: 1200px;
    margin: 15px auto;
}
.part_1 .Concern{
	float: left;
}
.part_1 .Concern .concern_lead{
	font-size: 16px;
	border-bottom: 1px solid #e2e2e2;
	width: 329px;
	height: 35px;
	line-height: 35px;
}
.part_1 .Concern .concern_lead p{
	float: left;
}
.part_1 .Concern .concern_lead a{
	float: right;
	font-size: 12px;
	color: #b0b0b0
}
.concern_list{
	width: 329px;
}
.concern_list h1 {
	width: 319px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	padding-left: 10px;
	background:url(../images/point.png) no-repeat left;
	margin-top: 12px;
}
.concern_list h1 a{
	font-size: 16px;
	font-weight: bold;
}
.concern_list h1 a:hover{
	color: #52a7df;
}
.concern_list ul li{
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 319px;
    height: 40px;
}
.concern_list ul li a{
	width: 251px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 14px;
	float: left;
}
.concern_list ul li a:hover{
	color: #52a7df;
}
.concern_list ul li em{
	float: right;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	color: #999999;
}
.concern_list .line{
	height: 1px;
	width: 330px;
	border-bottom: 1px dashed #e2e2e2;
	margin: 10px 0;
}
.part_1_mid{
	float: left;
	margin-left: 26px;
	width: 585px;
}
.famous {
	width: 585px;
}
.famous h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 585px;
    height: 35px;
    line-height: 35px;
}
.famous ul{
	width: 605px;
	margin-top: 10px;
}
.famous ul li{
	float: left;
	width: 100px; 
	height: 100px;
	position: relative;
	margin-right: 21px;
	overflow: hidden;
	margin-top: 10px;
}
.famous ul li a img{
	width: 110px; 
	height: 136px; 
}
.famous ul li a span{
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	background:#000;
	width: 110px;
	height: 20px;
	line-height:20px;
}
.answer{
	margin-top: 20px;
}
.answer h1{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 585px;
    height: 35px;
    line-height: 35px;
}
.answer h1 p{
	float: left;
}
.answer h1 a{
	float: right;
	font-size: 12px;
    color: #b0b0b0;
}
.answer .answer_list{
	width: 644px;
}
.answer .answer_list ul{
	float: left;
	width: 269px;
	margin-top: 10px;
	margin-right: 49px;
}
.answer .answer_list ul li{
	background:url(../images/point.png) no-repeat left;
	padding-left: 10px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
}
.answer .answer_list ul li p{
	float: left;
	width: 217px;
	height: 40px;
	overflow: hidden;
}
.answer .answer_list ul li em{
	color: #a9a9a9;
}
.interview h1{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 585px;
    height: 35px;
    line-height: 35px;	
}
.interview .inter_list{
	margin-top: 18px;
}
.interview .inter_list .inter_pic{
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-right: 14px;
}
.interview .inter_list .inter_pic img{
	height: 100px;
	margin: 0 auto;
	display: block;
}
.interview .inter_list h2 a{
	font-size: 16px;
	color: #f69634;
	width: 470px;
	height: 25px;
	overflow: hidden;
}
.interview .inter_list h2 em{
	width: 54px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	background:#f69634;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
}
.interview .inter_list span{
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	display: block;
}
.interview .inter_list span i{
	font-style: normal;
	font-weight: normal;
	color: #52a7df;
}
.interview .inter_list p{
	margin-top: 5px;
	line-height: 24px;
	font-size: 12px;
}
.interview .inter_list p b a{
	font-weight: normal;
	color: #52a7df;
}
.part_1_right{
	float: right;
	width: 240px;
}
.part_1_right .notice h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.part_1_right .notice h1 p{
	float: left;
}
.part_1_right .notice h1 a{
	float: right;
	font-size: 12px;
    color: #b0b0b0;
}
.part_1_right .notice  ul{
	margin-top: 10px;
}
.part_1_right .notice  ul li{
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 230px;
    height: 30px;
    line-height: 30px;
}
.part_1_right .classroom h1{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 8px;
}
.part_1_right .classroom .class_list a img{
	width: 240px;
	height: 140px;
}
.part_1_right .classroom .class_list a span{
	height: 33px;
	text-align: center;
	line-height: 33px;
	font-style: 12px;
	display: block;
}
.ad_mid{
	width: 1200px;
	margin: 0 auto;
}
.ad_mid img{
	width: 1200px;
	height: 80px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .hot{
	float: left;
}
.part_2 .hot h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 329px;
    height: 35px;
    line-height: 35px;
}
.part_2 .hot .hot_list{
    height: 367px;
    background: #f5f5f5;
    margin-top: 20px;
    width: 329px;
}
.part_2 .hot .hot_t{
	padding: 12px 16px 10px 16px;
	border-bottom: 1px  solid #fff;
}
.part_2 .hot .hot_list ul{
	float: left;
	width: 80px;
}
.part_2 .hot .hot_list .hot_mid{
	margin: 0 20px;
}
.part_2 .hot .hot_list ul li{
	width: 80px;
	height: 34px;
	text-align: center;
	font-size: 14px;
	margin-right: 20px;
	line-height: 34px;
}
.part_2 .hot .hot_list ul li:hover{
	background:#fea861;
}
.part_2 .hot .hot_list ul li a{
	display: block;
}
.part_2 .hot .hot_list ul li a:hover{
	color: #fff;
}
.part_2 .hot .hot_d{
	padding: 20px 31px 10px 31px;
	width: 270px;
}
.part_2 .hot .hot_d select{
	width: 270px;
	text-align: center;
	border: none;
	background:#fff;
	border-radius: 5px;
	height: 34px;
	margin-bottom: 10px;
}
.part_2 .hot .hot_d input{
	width: 270px;
	height: 34px;
	border: none;
	border-radius: 5px;
	text-indent: 4px
}
.part_2 .hot .hot_d button{
	width: 270px;
	height: 34px;
	background: #52a7df;
	border: none;
	border-radius: 5px;
	color: #fff;
	line-height: 34px;
	font-size: 14px;
	margin-top: 14px;
}
.part_2 .consult{
    float: left;
    margin-left: 26px;
    width: 585px;
}
.part_2 .consult h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 585px;
    height: 35px;
    line-height: 35px;
}
.part_2 .consult h1 a{
	float: right;
    font-size: 12px;
    color: #b0b0b0;
}
.part_2 .consult ul{
	margin-top: 20px;
}
.part_2 .consult ul li{
	padding-left: 10px;
	background:url(../images/point.png) no-repeat left;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-bottom: 10px;
}
.part_2 .consult ul li p{
	width: 380px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin-right: 46px;
}
.part_2 .consult ul li span{
	color: #a1a1a1;
	font-size: 12px;
	margin-right: 41px;
}
.part_2 .consult ul li em{
	color: #a1a1a1;
	font-size: 12px;
	float: right;
}
.part_2 .consult .tell{
	color: #fea861;
    padding-left: 25px;
    background: url(../images/wen.png) no-repeat left;
    font-size: 14px;
    margin-top: 15px;
}
.part_2 .consult .tell_1{
	width: 585px;
	height: 44px;
	background:#52a7df;
	color: #fff;
	border-radius: 5px;
	line-height: 44px;
	margin-top: 10px;
}
.part_2 .consult .tell_1 span{
	font-size: 16px;
    float: left;
    margin-left: 85px;
    color: #fff;
}
.part_2 .consult .tell_1 span em{
	font-size: 18px;
	color: #fea861;
	margin: 0 5px;
	font-weight: bold;
}
.part_2 .consult .tell_1 p{
	width: 114px;
	height: 29px;
	border-radius: 20px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 29px;
	float: left;
	text-align: center;
	margin-left: 74px;
	margin-top: 7px;
	font-size: 16px;
}
.part_2 .dynamic{
	width: 240px;
	float: right;
}
.part_2 .dynamic h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.part_2 .dynamic .dynamic_list{
	width: 233px;
    height: 371px;
    border-left: 1px solid #e2e2e2;
    margin-top: 20px;
    float: right;
}
.part_2 .dynamic .dynamic_list .dy_t{
	position: relative;
	margin-left: 10px;
	margin-bottom: 20px;
}
.part_2 .dynamic .dynamic_list .dy_t h2{
	width: 63px;
	left: 23px;
	font-size: 12px;
	color: #fff;
	background:url(../images/dt_2.png) no-repeat left;
	text-indent: 15px;
}
.part_2 .dynamic .dynamic_list .dy_t h2 i{
    background: url(../images/dt_1.png) no-repeat center;
    width: 12px;
    height: 17px;
    position: absolute;
    left: -17px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n{
	margin-top: 15px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n .dy_pic {
	float: left;
	margin-left: 8px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n .dy_pic img{
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.part_2 .dynamic .dynamic_list .dy_t .dy_n span{
	color: #000;
	font-size: 12px;
	line-height: 20px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n span em{
	color: #3c95cb;
	margin: 0 1px;
}
.recommend{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}
.recommend h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 1200px;
    height: 35px;
    line-height: 35px;
}
.recommend .recommend_list{
	margin-top: 20px;
	width: 1300px;
}
.recommend .recommend_list .re_txt{
	width: 120px;
	height: 207px;
	float: left;
	margin-right: 15px;
}
.recommend .recommend_list .re_txt .re_pic{
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.recommend .recommend_list .re_txt span{
	width: 120px;
	text-align: center;
	font-size: 14px;
	color: #52a7df;
	display: block;
	margin-top: 10px;
}
.recommend .recommend_list .re_txt p{
	width: 120px;
	text-align: center;
	font-size: 14px;
	display: block;
}
.recommend .recommend_list .re_txt em{
	border:  1px solid #e2e2e2;
	text-align: center;
	width: 120px;
	border-radius:5px; 
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	margin-top: 5px;
}
.recommend .recommend_list .re_txt em a{
	display: block;
}
.part_3{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.part_3 .advantage{
	width: 329px;
	float: left;
}
.part_3 .advantage h1{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 329px;
    height: 35px;
    line-height: 35px;
}
.part_3 .advantage .adv_1{
	height: 521px;
	background:#f5f5f5;
	margin-top: 15px;
}
.part_3 .advantage .adv_1 .adv_txt{
    padding: 15px 20px 15px 17px;
    border-bottom: 1px solid #fff;
}
.part_3 .advantage .adv_1 .adv_txt img{
	float: left;
	margin-right: 18px;
}
.part_3 .advantage .adv_1 .adv_txt span{
	color: #52a7df;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a1 span{
	color: #fea861;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a2 span{
	color: #00d390;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a3 span{
	color: #f3632e;
	font-size: 14px;
}
.part_3 .advantage .adv_1 form{
	    padding: 20px 31px 10px 31px;
    width: 270px;
}
.part_3 .advantage .adv_1 select{
	    width: 270px;
    text-align: center;
    border: none;
    background: #fff;
    border-radius: 5px;
    height: 34px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.part_3 .advantage .adv_1 button{
	    width: 270px;
    height: 34px;
    background: #52a7df;
    border: none;
    border-radius: 5px;
    color: #fff;
    line-height: 34px;
    font-size: 14px;
    margin-top: 10px
}
.case {
	margin-left: 26px;
	float: left;
	width: 585px;
}
.case .case_lead{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 585px;
    height: 35px;
    line-height: 35px;
}
.case .case_lead span{
	float: right;
	margin-right: 46px;
}
.case .case_lead p{
	float: right;
	margin-right: 20px;
}
.case .case_list .ct{
	padding: 15px 0;
    border-bottom: 1px dashed #e2e2e2;
    height: 68px;
}
.case .case_list .tt{
	border-bottom: none;
}
.case .case_list .ct .ct_l{
	float: left;
	width: 353px;
	position: relative;
}
.case .case_list .ct .ct_l h1{
	width: 353px;
	height: 20px;
	font-size: 14px;
	overflow: hidden;
}
.case .case_list .ct .ct_l h1 a:hover{
	color: #52a7df;
}
.case .case_list .ct .ct_l span{
	width: 353px;
	height: 35px;
	overflow: hidden;
	display: block;
	margin-top: 5px;
}
.case .case_list .ct .ct_l p{
	position: absolute;
	right: -24px;
	top: 0px;
	width: 28px;
	height: 14px;
	background: url(../images/new.png)no-repeat center;
}
.case .case_list .ct .ct_m{
	float: left;
	height: 77px;
	line-height: 54px;
	color: #a1a1a1;
	margin-left: 46px;
	font-size: 13px;
}
.case .case_list .ct .ct_r{
	margin-left: 47px;
	height: 77px;
	line-height: 54px;
	float: left;
	font-size: 13px;
}
.case .case_fb .liji{
	width: 266px;
	height: 34px;
	color: #fff;
	background: #52a7df;
	float: left;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	border-radius: 5px;
}
.case .case_fb .more{
	width: 266px;
	height: 34px;
	color: #fff;
	background: #fea861;
	float: right;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	border-radius: 5px;
}
.part_3 .part_3_right{
	float: right;
	width: 241px;
}
.part_3 .part_3_right .recommend_2{
	width: 241px;
}
.part_3 .part_3_right .recommend_2 h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 241px;
    height: 35px;
    line-height: 35px;
}
.part_3 .part_3_right .recommend_2 ul{
	margin-top: 16px;
	width: 260px;
}
.part_3 .part_3_right .recommend_2 ul li{
	float: left;
	margin-right: 16px;
}
.part_3 .part_3_right .recommend_2 ul li p{
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.part_3 .part_3_right .recommend_2 ul li em{
	display: block;
	width: 70px;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.part_3 .part_3_right .evaluate{
	width: 241px;
}
.part_3 .part_3_right .evaluate h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 241px;
    height: 35px;
    line-height: 35px;
}
.part_3 .part_3_right .evaluate .eva_list{
    width: 233px;
    height: 371px;
    border-left: 1px solid #e2e2e2;
    margin-top: 20px;
    float: right;
}
.part_3 .part_3_right .evaluate .eva_list .eva_t{
	    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_t h2{
	    width: 63px;
    left: 23px;
    font-size: 12px;
    color: #fff;
    background: url(../images/dt_2.png) no-repeat left;
    text-indent: 15px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_t h2 i{
	    background: url(../images/dt_1.png) no-repeat center;
    width: 12px;
    height: 17px;
    position: absolute;
    left: -17px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n{
	margin-top: 15px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n .eva_pic{
	    float: left;
    margin-left: 8px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n .eva_pic img{
	width: 40px;
	height: 40px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n  span{
	color: #000;
    font-size: 12px;
    line-height: 20px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n em{
    color: #3c95cb;
}
.ad_down{
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 10px;
}
.ad_down a img{
	width: 1200px;
	height: 88px;
}
.part_4{
	width: 1200px;
	margin: 0 auto;
}
.part_4 .knowledge{
    float: left;
    width: 950px;
}
.part_4 .knowledge h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 940px;
    height: 35px;
    line-height: 35px;
}
.part_4 .knowledge .know_com {
	width: 200px;
	float: left;
}
.part_4 .knowledge .know_com ul{
	width: 200px;
	height: 385px;
	border-top: 1px solid #e2e2e2;
	margin-top: 17px;
	float: left;
	border-bottom: 1px solid #e2e2e2;
}
.part_4 .knowledge .know_com ul li{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-indent: 30px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.zq{
	border-left:2px solid #f69634!important;
	color: #f69634;
}
.zq em{
	background: url(../images/to_right2.png) no-repeat center;
}
.zq i{
	display: block!important;
}
.part_4 .knowledge .know_com ul li em{
	background: url(../images/to_right.png) no-repeat center;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 23px;
	top: 16px;
}
.part_4 .knowledge .know_com ul li i{
	position: absolute;
	width: 5px;
	height: 42px;
	right: -1px;
	top: 0;
	background: #fff;
	display: none;
}
.part_4 .knowledge .know_list {
    float: left;
    margin-left: 47px;
    margin-top: 15px;
    width: 693px;
}
.part_4 .knowledge .know_list .kn_t .kn_lead{
	width: 693px;
	height: 94px;
	background: #fafafa
}
.part_4 .knowledge .know_list .kn_t .kn_lead .kn_pic{
	width: 160px;
	height: 94px;
	overflow: hidden;
	float: left;
	margin-right: 19px;
}
.part_4 .knowledge .know_list .kn_t .kn_lead h2{
    width: 495px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin: 10px 0;
}
.part_4 .knowledge .know_list .kn_t .kn_lead h2 a{
	font-size: 15px;
	color: #52a7df
}
.part_4 .knowledge .know_list .kn_t .kn_lead span{
	width: 495px;
	height: 35px;
	overflow: hidden;
	display: block;
}
.part_4 .knowledge .know_list .kn_t .kn_list{
	width: 693px;
}
.part_4 .knowledge .know_list .kn_t .kn_list ul{
	width: 800px;
	margin-top: 10px;
}
.part_4 .knowledge .know_list .kn_t .kn_list ul li{
	width: 311px;
	float: left;
	margin-right: 54px;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    margin-bottom: 17px;
}
.part_4 .knowledge .know_list .kn_t .kn_list ul li a{
	font-size: 14px;
}
.part_4 .knowledge .know_list .kn_t .kn_list ul li a em{
	float: right;
	font-size: 12px;
	color: #a9a9a9;
	line-height: 20px;
}
.part_4 .knowledge .know_list .kn_t .kn_list ul li a span{
	width: 250px;
	height: 20px;
	overflow: hidden;
	float: left;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2{
	width: 693px;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2 ul{
	width: 750px;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2 ul li{
	float: left;
	width: 134px;
	line-height: 40px;
	line-height: 40px;
	text-align: center;
	background: #f5f5f5;
	margin-right: 6px;
	margin-top: 10px;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2 ul li:hover{
	background: #52a7df;
	color: #fff;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2 ul li a{
	display: block;
}
.part_4 .knowledge .know_list .kn_t .kn_list_2 ul li a:hover{
	color: #fff;
}
.part_4 .allday{
	width: 240px;
	float: right;
}
.part_4 .allday h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.part_4 .allday ul{
	margin-top: 15px;
}
.part_4 .allday ul li{
	background: url(../images/point.png) no-repeat left;
    width: 230px;
    height: 20px;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 17px;
}
.part_4 .allday ul li a{
	display: block;
	width: 230px;
    height: 20px;
    overflow: hidden;
}
.last{
	margin-bottom: 0;
}
.part_5{
	width: 1200px;
	margin: 0 auto;
}
.part_5 .p5_l{
	width: 360px;
	float: left;
}
.part_5 .p5_l h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 360px;
    height: 35px;
    line-height: 35px;
}
.part_5 .p5_l ul{
	margin-top: 15px;
}
.part_5 .p5_l ul li{
	width: 350px;
	height: 20px;
	overflow: hidden;
	padding-left: 10px;
	background: url(../images/point.png) no-repeat left;
	margin-bottom: 17px ;
	font-size: 16px;
}
.part_5 .p5_l ul li a span{
    width: 280px;
    height: 20px;
    overflow: hidden;
    float: left;
}
.part_5 .p5_l ul li a em{
	float: right;
    font-size: 12px;
    color: #a9a9a9;
    line-height: 20px;
}
.part_5 .p5_m{
	float: left;
	width: 360px;
	margin:0 60px; 
}
.part_5 .p5_m h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 360px;
    height: 35px;
    line-height: 35px;	
}
.part_5 .p5_m .p5_poc{
	height: 92px;
	width: 360px;
	background: #fafafa;
	border: 1px solid #f5f5f5;
	margin-top: 15px;
}
.part_5 .p5_m .p5_poc .p5_pic{
	width: 120px;
	height: 94px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.part_5 .p5_m .p5_poc  span{
	font-size: 16px;
	width: 224px;
	height: 43px;
	overflow: hidden;
	margin-top: 10px;
	display: block;
}
.part_5 .p5_m .p5_poc p{
	font-size: 14px;
	color: #52a7df;
	margin-top: 10px;
}
.part_5 .p5_m ul{
	margin-top: 15px;
}
.part_5 .p5_m ul li{
	width: 350px;
	height: 20px;
	overflow: hidden;
	padding-left: 10px;
	background: url(../images/point.png) no-repeat left;
	margin-bottom: 17px ;
}
.part_5 .p5_m ul li a span{
    width: 280px;
    height: 20px;
    overflow: hidden;
    float: left;
    font-size: 14px;
}
.part_5 .p5_m ul li a em{
	float: right;
    font-size: 12px;
    color: #a9a9a9;
    line-height: 20px;
}
.part_6{
	width: 1200px;
	margin: 0 auto;
}
.part_6 .Rank{
	float: left;
	width: 360px;
}
.part_6 .Rank h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 360px;
    height: 35px;
    line-height: 35px;
}
.part_6 .Rank h1 p{
	float: left;
}
.part_6 .Rank h1 a{
	float: right;
	font-size: 12px;
}
.part_6 .Rank ul li {
	margin: 10px 0;
}
.part_6 .Rank ul li a i{
	font-size: 15px;
	color: #3c95cb;
	font-style: normal;
	width: 180px;
	height: 20px;
	overflow: hidden;
	float: left;
}
.part_6 .Rank ul li em{
	width: 16px;
	height: 16px;
	font-size: 12px;
	background:#c9c9c9;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 16px;
	border-radius: 2px;
	margin-right: 15px;
	margin-top: 3px;
}
.part_6 .Rank ul li span{
	width: 50px;
	height: 20px;
	overflow: hidden;
	float: left;
}
.part_6 .Rank ul li p{
	float: left;
    width: 20px;
    height: 20px;
    margin-left: 55px;
    font-weight: bold;
    text-indent: 7px;
    font-size: 16px;
}
.part_6 .Rank ul li .down{
	background: url(../images/ys_5.png) no-repeat center;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 55px;
}
.part_6 .Rank ul li .up{
	background: url(../images/ys_6.png) no-repeat center;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 55px;
}
.part_6 .Rank ul .first em{
	background: #ff6065;
}
.part_6 .Rank ul .second em{
	background: #ffa841
}
.part_6 .Rank ul .third em{
	background: #3c95cb
}
.part_6 .rank_m{
	margin: 0 60px;
}
.ad_last{
	width: 1200px;
	margin: 30px auto;
}
.ad_last a img{
	width: 1200px;
	height: 88px;
}
.part_7{
    height: 280px;
    background: #4296cb;
    color: #fff;
}
.part_7 .part_list{
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}
.part_7 .part_list .lianxi {
	width: 228px;
	height: 200px;
	border-right: 1px solid #60a9d4;
	float: left;
}
.part_7 .part_list .lianxi span{
	font-size: 18px;
	padding-top: 18px;
	display: block;
}
.part_7 .part_list .lianxi p{
	font-size: 14px;
	padding-left: 30px;
	background: url(../images/ys_8.png) no-repeat left;
	margin-top: 15px;
}
.part_7 .part_list .lianxi ul li{
	float: left;
	width: 60px;
	margin-right: 20px;
	margin-top: 29px;
	text-align: center;
}
.part_7 .part_list .lianxi ul li a{
	color: #fff;
	line-height: 25px;
}
.part_7 .part_list .lianxi ul li b{
	width: 60px;
	height: 60px;
	background: #4dafea;
	display: block;
	border-radius: 5px;
	position: relative;
}
.part_7 .part_list .lianxi ul li b em{
	background: url(../images/ys_7.png) no-repeat center;
	background-size: 36px;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}
.part_7 .p7_list{
	width: 240px;
	text-align: center;
	float: left;
	border-right: 1px solid #60a9d4;
	height: 200px;
}
.part_7 .p7_list ul h1{
	font-size: 16px;
	margin-bottom: 15px
}
.part_7 .p7_list ul li{
	font-size: 14px;
	margin-bottom: 15px;
}
.part_7 .p7_list ul li a{
	color: #fff;
}
.part_7  .weixin{
	text-align: center;
	margin-top: 30px;
}
.part_8 {
	width: 1200px;
	margin: 0 auto;
}
.part_8 .p8_lead {
	width: 1200px;
}
.part_8 .p8_lead ul li{
	width: 100px;
	height: 50px;
	border-bottom: 3px solid #c9c9c9;
	float: left;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}
.p8_bc{
	border-bottom-color:#3c95cb!important; 
}
.part_8 .p8_list{
	margin-top: 35px;
}
.part_8 .p8_list a{
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 100px;
    height: 20px;
    float: left;
    text-align: center;
}
.foot{
	border-top: 1px solid #e2e2e2;
	margin-top: 80px;
}
.foot .foot_l{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.foot .foot_l .f_list{
	margin-top: 55px;
}
.foot .foot_l .f_list em{
	margin: 0 5px;
}
.foot .foot_l span{
	margin: 10px 0 20px 0;
	display: block;
}
.none{
	display: none;
}