.part_1{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}
.part_1 .p1_left{
	float: left;
	border: 1px solid #dddddd;
}
.part_1 .p1_left .pl_lead ul li{
	width: 100px;
	height: 79px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.part_1 .p1_left .pl_lead ul li.on{
	background: #575a6b;
	color: #fff;
}
.part_1 .p1_left .pl_lead ul .zx i{
	background: url(../images/js_12.png) no-repeat center;
	background-size: 46px;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
    margin-top: 4px;
}
.part_1 .p1_left .pl_lead ul .zx.on i{
	background: url(../images/ys_9.png) no-repeat center;
}
.part_1 .p1_left .pl_lead ul .find i{
	background: url(../images/js_10.png) no-repeat center;
	background-size: 46px;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
    margin-top: 4px;
}
.part_1 .p1_left .pl_lead ul .find.on i{
	background: url(../images/ys_11.png) no-repeat center;
}
.part_1 .p1_left .pl_lead ul .aj i{
	background: url(../images/js_11.png) no-repeat center;
	background-size: 46px;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
    margin-top: 4px;
}
.part_1 .p1_left .pl_lead ul .aj.on i{
	background: url(../images/ys_10.png) no-repeat center;
}
.part_1 .p1_left .pl_list .pl_txt{
    padding: 30px 20px 25px 20px;
    background: #575a6b;
    width: 260px;
    height: 275px;
}
.part_1 .p1_left .pl_list .pl_txt i{
	width: 260px;
	display: block;
	font-size: 18px;
	color: #fff;
}
.part_1 .p1_left .pl_list .pl_txt span{
	font-size: 14px;
	color: #d9e0fa
}
.part_1 .p1_left .pl_list .pl_txt .shuru{
    width: 250px;
    height: 136px;
    background: #fff;
    text-indent: 10px;
    margin: 15px 0 27px 0;
    padding: 5px;
}
.part_1 .p1_left .pl_list .pl_txt button{
	width: 258px;
	height: 45px;
	border: none;
	background: #52a7df;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-size: 18px;
}
.part_1 .p1_left .pl_list .pl_find{
	padding: 30px 20px 25px 20px;
    background: #575a6b;
    width: 260px;
    height: 275px;
}
.part_1 .p1_left .pl_list .pl_find h1{
	font-size: 18px;
	padding-left:20px;
	background: url(../images/location_1.png) no-repeat left; 
	color: #fff;
}
.part_1 .p1_left .pl_list .pl_find form select{
	width: 258px;
	height: 45px;
	border: 1px solid #12b4f9;
	border-radius: 5px;
	margin-top:11px;
}
.part_1 .p1_left .pl_list .pl_find form .find_1{
	width: 259px;
	height: 45px;
	background: #fea861;
	line-height:45px;
	color: #fff;
	font-size: 18px;
	border: none;
	margin-top: 35px;
}
.part_1 .p1_left .pl_list .pl_find  .find_2{
	width: 257px;
	height: 43px;
	background: #575a6c;
	font-size: 18px;
	border: 1px solid #676c80;
	color: #fff;
	margin-top: 10px;
}
.part_1 .p1_left .pl_list .pl_wei{
	padding: 30px 20px 25px 20px;
    background: #575a6b;
    width: 260px;
    height: 275px;
}
.part_1 .p1_left .pl_list .pl_wei ul{
	margin: 0 32px;
	width: 280px;
}
.part_1 .p1_left .pl_list .pl_wei ul li{
	float: left;
	margin-right: 15px;
	color: #fff;
	font-size: 14px;
}
.part_1 .p1_left .pl_list .pl_wei form .title {
	width: 258px;
	height: 43px;
	line-height: 43px;
	background: #fff;
	text-indent: 12px;
	overflow: hidden;
	margin-top: 10px;
}
.part_1 .p1_left .pl_list .pl_wei form .title input{
	border: none;
	width: 258px;
}
.part_1 .p1_left .pl_list .pl_wei form .txt {
	width: 258px;
	height: 147px;
	line-height: 43px;
	background: #fff;
	text-indent: 12px;
	overflow: hidden;
	margin-top: 10px;
}
.part_1 .p1_left .pl_list .pl_wei form .txt .shuru{
    width: 233px;
    height: 127px;
    padding-top: 10px;
    resize: none;
    outline: 0;
    border: none;
    font-size: 12px;
}
.part_1 .p1_left .pl_list .pl_wei form button{
	height: 45px;
	width: 258px;
	background: #52a7df;
	line-height:45px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border: none;
	margin-top: 10px;
}
.part_1 .p1_mid{
	float: left;
	width: 498px;
	height: 410px;
	margin: 0 20px;
	border: 1px solid #dddddd;
	background: #f5f5f5; 
	padding: 0 30px;
}
.part_1 .p1_mid .p1m_lead{
	text-align: center;
	margin-top: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.part_1 .p1_mid .p1m_lead em{
	font-size: 27px;
	color: #65a7a7;
	margin-right: 10px;
}
.part_1 .p1_mid .p1m_lead i{
	font-style: normal;
	font-size: 18px;
	color: #65a7a7;
}
.part_1 .p1_mid .p1m_lead i b{
	width: 24px;
	height: 22px;
	background: url(../images/search.png) no-repeat center;
	display: inline-block;
	background-size: 25px;
	vertical-align: text-bottom;
}
.part_1 .p1_mid .p1m_list div{
	margin-top: 10px;
	line-height: 38px;
	margin-bottom: 20px;
}
.part_1 .p1_mid .p1m_list input{
	border: 1px solid #e3e9ee;
	font-size: 14px;
	text-indent: 10px;
	float: left;
}
.part_1 .p1_mid .p1m_list select{
	border: 1px solid #e3e9ee;
	float: left;
}
.part_1 .p1_mid .p1m_list em{
	float: left;
}
.part_1 .p1_mid .p1m_list div span{
	font-size: 16px;
	float: left;
}
.part_1 .p1_mid .p1m_list div p{
	font-size: 16px;
	float: left;
}
.part_1 .p1_mid .p1m_list .key input{
	width: 416px;
	height: 34px;
}
.part_1 .p1_mid .p1m_list .key span{
	width: 80px;
	text-align: center;
}
.part_1 .p1_mid .p1m_list .wenzi input{
	width: 185px;
	height: 34px;
}
.part_1 .p1_mid .p1m_list .wenzi p{
	margin-left: 20px;
}
.part_1 .p1_mid .p1m_list .wenzi select{
	width: 147px;
	height: 34px;
}
.part_1 .p1_mid .p1m_list .date input{
	width: 75px;
	height: 34px;
}
.part_1 .p1_mid .p1m_list .date em{
	margin: 0 10px;
}
.part_1 .p1_mid .p1m_list .date p{
	margin-left: 20px;
	margin-right: 17px;
}
.part_1 .p1_mid .p1m_list .date #place{
	margin-right: 7px;
}
.part_1 .p1_mid .p1m_list .date select{
	width: 70px;
	height: 34px;
}
.part_1 .p1_mid .p1m_list .lv select{ 
	width: 418px;
	height: 36px;	
}
.part_1 .p1_mid .p1m_list .button{
	margin-top: 30px;
}
.part_1 .p1_mid .p1m_list .button .search_1{
    width: 147px;
    height: 45px;
    background: #52a7df;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: 82px;
}
.part_1 .p1_mid .p1m_list .button .search_2{
    width: 147px;
    height: 45px;
    background: #fea761;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: 118px;
}
.part_1 .p1_right{
	float: left;
	border: 1px solid #dddddd;
}
.part_1 .p1_right .bank{
	width: 296px;
	height: 231px;
	background: url(../images/ys_12.png) no-repeat center;
}
.part_1 .p1_right .bank div{
	margin: 0 auto;
	width: 251px
}
.part_1 .p1_right .bank .all_numb{
    display: block;
    color: #52a7df;
    margin-bottom: 15px;
    padding-top: 150px;
}
.part_1 .p1_right .bank .all_numb span{
	float: left;
	width: 100px;
	padding-left: 30px;
	background: url(../images/ys_13.png) no-repeat left;
	font-size: 14px;
}
.part_1 .p1_right .bank .all_numb p{
	float: right;
}
.part_1 .p1_right .bank .refresh{
	display: block;
	color: #52a7df
}
.part_1 .p1_right .bank .refresh span{
	float: left;
	width: 100px;
	padding-left: 30px;
	background: url(../images/ys_14.png) no-repeat left;
	font-size: 14px;
}
.part_1 .p1_right .bank .refresh p{
	float: right;
}
.part_1 .p1_right .gg{
}
.part_1 .p1_right .gg h1{
	height: 35px;
	line-height: 35px;
	display: block;
	border-bottom: 1px solid #dddddd;
	margin-top: 10px;
}
.part_1 .p1_right .gg h1 span{
	width: 100px;
	float: left;
	padding-left: 12px;
	font-size: 15px;
}
.part_1 .p1_right .gg h1 a{
	float: right;
	color: #a9a9a9;
	margin-right: 5px;
}
.part_1 .p1_right .gg ul{
	padding: 0 13px;
}
.part_1 .p1_right .gg ul li{
	height: 20px;
	line-height: 20px;
	margin: 18px 0;
}
.part_1 .p1_right .gg ul li a p{
	width: 190px;
	padding-left: 10px;
	background:url(../images/point.png) no-repeat left;
	float: left;
	font-size: 14px;
	height: 20px;
	overflow: hidden;
}
.part_1 .p1_right .gg ul li a em{
	float: right;
	font-size: 12px;
}
.ad{
	width: 1200px;
	margin: 20px auto;
}
.ad img{
	height: 106px;
	width: 1200px;
}
.com{
	width: 1200px;
	margin: 20px auto;
}
.com .com_left{
	float: left;
	width: 880px;
}
.com .com_news{
	width: 880px;
	border: 1px solid #dddddd;
}
.com .com_left h1{
	font-size: 16px;
	padding-left: 20px;
	height: 36px;
	line-height: 36px;
	border-bottom:  1px solid #dddddd
}
.com .com_left .coml_list{
	padding: 0 39px;
	width: 800px;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #e8e8e8
}
.com .com_left .coml_list h2{
	width: 800px;
	height: 30px;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
}
.com .com_left .coml_list span{
	font-size: 16px;
	height: 35px;
	line-height: 35px;
}
.com .com_left .coml_list .coml_txt{
	width: 714;
	border: 1px solid #f0eff4;
	background: #f4f8f8;
	font-size: 14px;
	padding: 36px 42px 36px 42px;
}
.com .com_left .coml_list .com_foot{
	height: 35px; 
	line-height: 35px;
}
.com .com_left .coml_list .com_foot .by{
	float: left;
	width: 300px;
	overflow: hidden;
	height: 35px;
}
.com .com_left .coml_list .com_foot .time{
	float: right;
}
.bb{
	border-bottom: none!important;
}
.fen{
	width: 445px;
	margin: 0 auto;
	margin-top: 50px;
}
.fen ul li{
	float: left;
	width: 37px;
	height: 36px;
	border-radius: 5px;
	background: #eeeeee;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	margin-right: 15px;
}
.fen ul li:hover{
	background: #52a7df;
}
.fen ul li a{
	display: block;
}
.fen ul li a:hover{
	color: #fff;
}
.fen ul .fen_all{
	width: 60px;
	height: 36px;
	border-radius:0;
	background: #fff; 
}
.fen ul .fen_all:hover{
	background: none;
	color: #000;
}
.com .com_right{
	float: right;
	width: 300px;
}
.com .com_right h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.com .com_right .tj{
	margin-bottom: 20px;
}
.com .com_right .tj ul{
	margin-top: 5px;
	width: 400px;
}
.com .com_right .tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.com .com_right .tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.com .com_right .tj ul li .tj_pic:hover .infor{
	display: block;
}
.com .com_right .tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.com .com_right .tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.com .com_right .tj ul li .infor .to a{
	color: #fff;
}
.com .com_right .tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.com .com_right .tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.com .com_right .tj ul li .infor .rz {
	width: 360px;
}
.com .com_right .tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.com .com_right .tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.com .com_right .tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.com .com_right .tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.com .com_right .tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.com .com_right .tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.com .com_right .tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.com .com_right .tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.com .com_right .tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.com .com_right .tj ul li span{
	color: #52a7df;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.com .com_right .tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.com .com_right .tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.com .com_right .tj ul li s a{
	display: block;
}
.com .com_right .rank ul li em{
	background: url(../images/ys_18.png) no-repeat center;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	display: inline-block;
	margin-right: 5px;
}
.com .com_right .rank ul li {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin: 10px 0;
	font-size: 14px;
}
.com .com_right .rank ul .first em{
	background: url(../images/ys_15.png) no-repeat center;
	color: #fff;
}
.com .com_right .rank ul .second em{
	background: url(../images/ys_16.png) no-repeat center;
	color: #fff;
}
.com .com_right .rank ul .third em{
	background: url(../images/ys_17.png) no-repeat center;
	color: #fff;
}
.com .com_right  .close{
	margin-top: 20px;
}
.com .com_right  .close ul{
	margin-top: 10px;
}
.com .com_right  .close ul li{
	    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 290px;
    height: 30px;
}
.com .com_right  .close ul li span{
	width: 238px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    float: left;
}
.com .com_right .close ul li em{
	    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #999999;
}