.noti_list{
    float: right;
    width: 936px;
    background: #fff;
    border: 1px solid #ececec;
}
.noti_list .noti_lead{
	height: 75px;
    line-height: 75px;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
}
.noti_list .noti_lead span{
    margin-left: 30px;
}
.noti_list .noti_lead b{
	font-weight:normal;
    display: inline-block;
    height: 15px;
    padding: 0 4px;
    margin: -3px 0 0 5px;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    background-color: #fea861;
}
.noti_list .item_list {
    padding: 0 50px 50px 30px;
    font-size: 14px;
}
.noti_list .item_list .item_lead{
    border-bottom: 1px dashed #ededed;
    text-align: center;
}
.noti_list .item_list .item_lead span{
    float: left;
    width: 33%;
    height: 54px;
    line-height: 54px;
}
.noti_list .item_list .item {
	height: 55px;
	line-height: 55px;
	font-size: 14px;
    border-bottom: 1px dashed #ededed;
}
.noti_list .item_list .item div{
	float: left;
}
.noti_list .item_list .item .it_1{
	text-align: center;
	width: 282px;
}
.noti_list .item_list .item .it_1 i{
	font-size: 12px;
	color: #fea861;
	font-style: normal;
	line-height: 40px;
	display: inline-block;
	margin-left: 10px;
}
.noti_list .item_list .item .it_1 span{
	padding-left: 25px;
	background: url(../images/ys_80.png) no-repeat left -2px;
	cursor: pointer;
}
.noti_list .item_list .item .it_2{
    width: 288px;
    margin-top: 19px;
    line-height: 20px;
    margin-bottom: 10px;
}
.noti_list .item_list .item .it_2 a:hover{
	color: #52a7df;
}
.noti_list .item_list .item .it_2 a{
	margin-left: 50px;
	height: 20px;
    overflow: hidden;
    width: 222px;
    float: left;
}
.noti_list .item_list .item .it_2 i{
    width: 16px;
    height: 6px;
    display: inline-block;
    background: url(../images/ys_73.png);
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-position: -486px -15px;
    cursor: pointer;
}
.it_bc{
	background: url(../images/ys_81.png) no-repeat left -2px!important;
}
.noti_list .item_list .item .it_3{
	text-align: center;
	width: 283px;
}
.it_height{
	height: auto!important;
}
.xuan{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.last{
	border-bottom: none!important;
}
.noti_list .item_list .it_foot{
	height: 55px;
	border: 1px solid #eaeaea;
	line-height: 55px;
}
.noti_list .item_list .it_foot span{
	font-size: 14px;
	color: #52a7df;
	cursor: pointer;
	margin-right: 20px;
}
.noti_list .item_list .it_foot .all_choice{
	margin-left: 82px;
	padding-left: 25px;
	background: url(../images/ys_80.png) no-repeat left -2px;
	cursor: pointer;
}
/* 分页 */
.pagination {height: 36px; margin: 55px 0 60px; display: block;}
.pagination-pages {float: none; max-width: 300px; margin: 0 auto;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 25px; height: 35px; padding: 0 5px; margin: 0 0 0 10px; background-color: #f8f8f8; text-align: center; line-height: 35px; font-size: 16px; cursor: pointer; color: #333; text-decoration: none; border-radius: 4px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #52a7df; color: #fff;}
.pagination-pages a:hover {background-color: #52a7df; color: #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .next {padding: 0 8px; background: #f8f8f8 url(../images/next.png) center center no-repeat;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}