.part_1{
	width: 100%;
	background: #fff;
	height: 90px;
	line-height: 90px;
}
.part_1 .p1_list{
	width: 1200px;
	margin: 0 auto;
}
.part_1 .p1_list .logo{
	margin-top: 20px;
	float: left;
	width: 114px;
}
.part_1 .p1_list span{
	float: left;
	font-size: 26px;
	margin-left: 30px;
	width: 120px
}
.part_1 .p1_list p{
	float: right;
	width: 635px;
	float: right;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}
.part_1 .p1_list p em{
	font-weight: bold;
	color: #f7532b;
	margin: 0 5px;
}
.part_2{
	width: 100%;
	background: #f5f5f5;
	padding-top: 30px;
	padding-bottom: 100px;
}
.part_2 .p2_list{
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}
.part_2 .p2_list .title{
	padding-top: 40px;
	position: relative;
}
.part_2 .p2_list .title .title_warning{
	position: absolute;
    bottom: -24px;
    left: 143px;
    color: #ff424d;
}
.part_2 .p2_list .title .title_warning s{
    width: 18px;
    height: 18px;
    background: url(../images/ys_53.png) no-repeat;
    background-position: -6px -2px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.part_2 .p2_list  span{
	width: 140px;
	text-align: right;
	font-size: 20px;
	float: left;
	height: 52px;
	line-height: 52px;
}
.part_2 .p2_list .title .ti_txt{
	width: 560px;
	height: 32px;
	border: 1px solid #dddddd;
	float: left;
	padding: 10px 0;
	position: relative;
}
.part_2 .p2_list .title .ti_txt input{
	width: 520px;
	font-size: 15px;
	border: none;
	line-height: 32px;
	height: 32px;
	text-indent: 10px;
}
.part_2 .p2_list .title .ti_txt b{
    position: absolute;
    right: 8px;
    font-weight: normal;
    color: #a4a4a4;
    top: 16px;
}
.part_2 .p2_list .title p{
	width: 261px;
	height: 52px;
	background: #f4faff;
	border: 1px solid #edf6fe;
	float: left;
	font-size: 16px;
	line-height: 52px;
	margin-left: 90px;
	position: relative;
	color: #999999;
	padding-left: 10px;
}
.part_2 .p2_list .title p i{
    width: 11px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 14px;
    background: url(../images/ys_52.png) no-repeat center;
}
.part_2 .p2_list .content{
	margin-top: 50px;
	position: relative;
}

.part_2 .p2_list .con_txt {
	float: left;
	width: 562px;
	height: 168px;
	border: 1px solid #dddddd;
}
.part_2 .p2_list .con_txt .shuru{
    height: 112px;
    width: 542px;
    padding: 10px;
    resize: none;
    outline: 0;
    border: none;
    font-size: 14px;
}
.part_2 .p2_list .con_txt .position{
	width: 562px;
	height: 32px;
	background: #f5f5f5;
	line-height: 32px;
}
.part_2 .p2_list .con_txt .position .place{
	float: left;
	font-size: 14px;
	color: #559cd4;
	cursor: pointer;
}
.part_2 .p2_list .con_txt .position .place b{
	width: 15px;
	height: 17px;
	background: url(../images/ys_53.png) no-repeat;
	display: inline-block;
    background-position: -31px -5px;
    vertical-align: text-bottom;
    margin-left: 10px;
}
.part_2 .p2_list .con_txt .position .place em{
    width: 16px;
    height: 6px;
    display: inline-block;
    background: url(../images/ys_53.png);
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-position: -51px -9px;
    margin-left: 2px;
}
.part_2 .p2_list .con_txt .position .number{
	float: right;
	margin-right: 10px;
	color: #a4a4a4;
}
.part_2 .p2_list .content p{
	width: 251px;
	height: 132px;
	background: #f4faff;
	border: 1px solid #edf6fe;
	float: left;
	font-size: 16px;
	margin-left: 90px;
	position: relative;
	padding-left: 10px;
	color: #999999;
	padding-top: 10px;
	padding-right: 10px;
}
.part_2 .p2_list .content p i{
    width: 11px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 14px;
    background: url(../images/ys_52.png) no-repeat center;
}
.part_2 .p2_list .classify{
	margin-top: 50px;
}
.part_2 .p2_list .classify select{
	width: 250px;
	height: 52px;
	border: 1px solid #dddddd;
	font-size: 16px;
	text-indent: 10px;
}
.part_2 .p2_list .xs_money{
	position: relative;
	margin-top: 50px;
}
.part_2 .p2_list .xs_money ul{
	width: 582px;
	float: left;
}
.part_2 .p2_list .xs_money ul li{
	float: left;
	width: 130px;
	height: 52px;
	background: #eaeaea;
	line-height: 52px;
	text-align: center;
	color: #fff;
	font-size: 21px;
	margin-right: 13px;
	margin-bottom: 20px;
	cursor: pointer;
} 
.part_2 .p2_list .xs_money .other_mo{
    position: absolute;
    right: 501px;
    top: 70px;
}
.part_2 .p2_list .xs_money .other_mo span{
    height: 54px;
    line-height: 52px;
    float: left;
    width: 140px;
    text-align: center;
}
.part_2 .p2_list .xs_money .other_mo em{
	float: left;
	width: 130px;
	height: 52px;
	line-height: 52px;
	border: 1px solid #dddddd;
	font-size: 20px;
}
.part_2 .p2_list .xs_money .other_mo em input{
	width: 98px;
	border: none;
	font-size: 16px;
	text-indent: 10px;
}
.xs_bc{
	background: #ffa346!important;
}
.part_2 .p2_list .xs_money p{
	width: 251px;
	height: 105px;
	background: #f4faff;
	border: 1px solid #edf6fe;
	float: left;
	font-size: 16px;
	margin-left: 70px;
	position: relative;
	padding-left: 10px;
	color: #999999;
	padding-top: 10px;
	padding-right: 10px;
}
.part_2 .p2_list .xs_money p i{
	width: 11px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 14px;
    background: url(../images/ys_52.png) no-repeat center;
}
.part_2 .p2_list .tel{
	margin-top: 30px;
	position: relative;
}
.part_2 .p2_list .tel .tel_txt{
	width: 320px;
	height: 32px;
	border: 1px solid #dddddd; 
	font-size: 14px;
	float: left;
	padding: 10px 0;
	line-height: 36px;
}
.part_2 .p2_list .tel .tel_txt input{
	font-size: 16px;
	border: none;
	text-indent: 10px;
}
.part_2 .p2_list .tel_2 b{
	font-size: 16px;
	height: 52px;
	line-height: 52px;
}
.part_2 .p2_list .tel_2 i{
	width: 18px;
    height: 17px;
    background: url(../images/ys_53.png) no-repeat;
    display: inline-block;
    background-position: -73px -5px;
    vertical-align: text-bottom;
    margin-left: 30px;
}
.part_2 .p2_list .yzm{
	margin-top: 50px;
	position: relative;
}
.part_2 .p2_list .yzm .yzm_txt{
	width: 190px;
	height: 32px;
	border: 1px solid #dddddd; 
	font-size: 14px;
	float: left;
	padding: 10px 0;
	line-height: 36px;
}
.part_2 .p2_list .yzm .yzm_txt input{
	font-size: 16px;
	border: none;
	text-indent: 10px;
}
.part_2 .p2_list .yzm em{
	float: left;
	width: 120px;
	height: 52px;
	background: #eaeaea;
	border-radius: 5px;
	color: #fff;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}
.part_2 .p2_list .yzm p{
    width: 251px;
    height: 105px;
    background: #f4faff;
    border: 1px solid #edf6fe;
    float: right;
    font-size: 16px;
    margin-right: 137px;
    position: relative;
    padding-left: 10px;
    color: #999999;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: -103px;
}
.part_2 .p2_list .yzm p i{
	width: 11px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 14px;
    background: url(../images/ys_52.png) no-repeat center;
}
.part_2 .p2_list button{
	width: 150px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	background: #eaeaea;
	text-align: center;
	font-size: 22px;
	border: none;
	margin-top: 50px;
    margin-left: 139px;
    margin-bottom: 60px;
    cursor: pointer;
}
.foot {
    border-top: 1px solid #e2e2e2;
    margin-top: 0px;
}
.warning{
	position: absolute;
    bottom: -24px;
    left: 143px;
    color: #ff424d;
    display: none;
}
.warning s{
    width: 18px;
    height: 18px;
    background: url(../images/ys_53.png) no-repeat;
    background-position: -6px -2px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}
/*选择城市*/
.selcity{position: absolute; top: 174px; z-index: 8; background: #fff; border: 1px solid #ddd; width: 500px; color: #333; font-size: 12px;margin-bottom: 10px;line-height: 50px;display: none;}
.selcity dt{float: left; width: 100px; text-align: right; margin-right: 15px;}
.selcity dd{float: left;}
.selcity dd select{border: 1px solid #ddd; width: 111px; padding: 5px 10px; appearance:none; -moz-appearance:none; -webkit-appearance:none;background: url(../images/arrow_1.png) no-repeat scroll right center transparent;}
.selcity dd input{border: 1px solid #ddd; padding: 6px; width: 212px; outline: 0;}
.selcity .confirm{padding: 8px 35px; color: #fff; background: #52a7df; margin-left: 15px;}
.selcity .bg{position: absolute; width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:8px solid #ddd; top: -8px; left: 65px;}
.selcity .bg s{position: absolute; width:0; height:0; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:6px solid #fff; top: 2px; left: -7px;}