
.personal_lead{
	height: 53px;
	background: #52a7df;
	line-height: 53px;
}
.personal_lead .pl{
	width: 1200px;
	margin:  0 auto;
	height: 53px;
}
.personal_lead .pl .logo{
	float: left;
	height: 53px;
}
.personal_lead .pl .logo img{
	margin-top: 8px;
}
.personal_lead .pl .search{
	width: 220px;
	height: 36px;
	background: #fff;
	float: left;
	margin-left: 75px;
	border: 1px solid #ececec;
	border-radius: 5px;
	position: relative;
	line-height: 36px;
	margin-top: 8px;
	margin-right: 198px;
	overflow: hidden;
}
.personal_lead .pl .search input{
	border: none;
	font-size: 14px;
	text-indent: 10px;
	width: 180px;
}
.personal_lead .pl .search  i{
	width: 24px;
	height: 24px;
	background: url(../images/ys_54.png) no-repeat;
    background-position: -4px -188px;
	position: absolute;
	right: 7px;
	top: 6px;
}
.personal_lead .pl .pl_lead{
	float: left;
}
.personal_lead .pl .pl_lead li{
	float: left;
	font-size: 16px;
	margin-right: 52px;
}
.personal_lead .pl .pl_lead li a{
	color: #fff;
	display: block;
}
.personal_lead .pl .load{
	float: right;
}
.personal_lead .pl .load span{
	font-size: 14px;
	float: left;
}
.personal_lead .pl .load span a{
	color: #fff;
}
.personal_lead .pl .load em{
	float: left;
	font-size: 14px;
	color: #fff;
	margin: 0 10px;
}
.personal_lead .pl .load  p{
	float: left;
	font-size: 14px;
}
.personal_lead .pl .load  p a{
	color: #fff;
}
.personal_lead .pl .set{
	float: left;
}
.personal_lead .pl .set span{
	font-size: 17px;
	color: #fff;
	float: left;
}
.personal_lead .pl .set span .set_per{
	width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/ys_65.png);
    background-position: -2px -26px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.personal_lead .pl .set em{
		float: left;
	font-size: 14px;
	color: #fff;
	margin: 0 10px;
}
.personal_lead .pl .set .set_logo{
	position: relative;
	float: left;
}
.personal_lead .pl .set .set_logo:hover .set_list{
	display: block;
}
.personal_lead .pl .set .set_logo b{
	width: 21px;
    height: 36px;
    display: inline-block;
    background: url(../images/ys_65.png);
    background-position: -26px 14px;
    cursor: pointer;
}
.personal_lead .pl .set .set_logo .set_list{
    padding: 10px;
    width: 105px;
    height: 239px;
    background: url(../images/ys_67.png) no-repeat;
    position: absolute;
    bottom: -238px;
    left: -77px;
    display: none;
}
.personal_lead .pl .set .set_logo .set_list ul li {
	height: 34px;
	line-height: 34px;
	text-indent: 15px;
}
.personal_lead .pl .set .set_logo .set_list ul li:hover{
	background: #f2f2f5
}
.personal_lead .pl .set .set_logo .set_list ul li:hover a{
	color: #52a7df;
}
.personal_lead .pl .set .set_logo .set_list ul li a{
	color: #000;
	font-size: 14px;
}
.personal_lead .pl .set .set_logo .set_list p{
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #dddddd;
}
.part_1 {
	background: #f2f2f2;
}
.part_1 .p1_list{
	width: 1200px;
	margin: 0 auto;
	padding-top: 36px;
}
.part_1 .personal_pic{
	width: 130px;
	height: 207px;
	float: left;
	margin-right: 30px;
}
.part_1 .personal_pic span{
	width: 130px;
	height: 150px;
	overflow: hidden;
	display: block;
}
.part_1 .personal_pic img{
	height: 150px;
	display: block;
	margin: 0 auto;
}
.part_1 .personal_pic p{
	text-align: center;
	width: 68px;
	height: 26px;
	margin: 0 auto;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	line-height: 26px;
	margin-top: 10px;
}
.part_1 .personal_list{
	float: left;
	width: 729px;
	border-right: 1px dashed  #dddddd;
}
.part_1 .personal_list .name{
    font-size: 33px;
    height: 36px;
    line-height: 30px;
}
.part_1 .personal_list .name .name_1{
	float: left;
}
.part_1 .personal_list .name .vip{
	width: 100px;
    height: 26px;
    float: left;
    position: relative;
    z-index: 2;
}
.part_1 .personal_list .name .vip .vip_logo{
    width: 100px;
    height: 26px;
    display: inline-block;
    background: url(../images/ys_54.png);
    background-position: -2px -10px;
    margin-left: 5px;
}
.part_1 .personal_list .name .vip:hover .vip_list{
	display: block;
}
.part_1 .personal_list .name .vip .vip_list{
    position: absolute;
    bottom: -138px;
    background: url(../images/ys_66.png);
    width: 360px;
    height: 100px;
    padding: 20px;
    display: none;
}
.part_1 .personal_list .name .vip .vip_list .vip_lead em{
	float: left;
	width: 70px;
	overflow: hidden;
	color: #f15d6b;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	margin-right: 10px;
}
.part_1 .personal_list .name .vip .vip_list .vip_lead span{
	float: left;
	width: 175px;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
.part_1 .personal_list .name .vip .vip_list .vip_lead p{
	font-size: 12px;
	float: right;
	color: #52a7df;
	line-height: 20px;
	height: 20px;
}
.part_1 .personal_list .name .vip .vip_list .vip_lead p i{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../images/ys_65.png);
    background-position: -5px -7px;
    vertical-align: text-bottom;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor {
	margin-top: 10px;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor .vip_leve{
    float: left;
    width: 70px;
    height: 70px;
    background: url(../images/ys_65.png);
    background-position: -67px -7px;
    margin-right: 5px;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor h1{
	font-size: 12px;
	color: #999999;
	height: 20px;
	line-height: 20px;
	text-indent: 6px;
	margin-bottom: 5px;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor h2{
	font-size: 12px;
	color: #999999;
	height: 20px;
	margin-bottom: 5px;
	line-height: 20px;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor h2 em{
	color: #52a7df;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor h3{
	font-size: 12px;
	color: #999999;
	height: 20px;
	line-height: 20px;
}
.part_1 .personal_list .name .vip .vip_list .vip_infor h3 em{
	color: #ffbc6d;
}
.part_1 .personal_list .place{
	margin-top: 10px;
}
.part_1 .personal_list .place span{
	color: #999999;
	font-size: 14px;
	margin-right: 12px;
}
.part_1 .personal_list .be_good{
	margin-top: 10px;
}
.part_1 .personal_list .be_good span{
	color: #999999;
	font-size: 14px;
	float: left;
	margin-right: 10px;
}
.part_1 .personal_list .be_good ul li{
	float: left;
	margin-right: 20px;
	color: #000;
}
.part_1 .personal_list .be_good ul li i{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../images/ys_54.png) no-repeat;
    background-position: -43px -198px;
    vertical-align: middle;
    margin-right: 3px;
}
.part_1 .personal_list .statistics{
	margin-top: 30px;
}
.part_1 .personal_list .statistics span{
	width: 97px;
	text-align: center;
	float: left;
	margin-right: 10px;
	position: relative;
}
.part_1 .personal_list .statistics i{
	width: 97px;
	text-align: center;
	font-style: normal;
	font-size: 18px;
	color: #52a7df;
	display: block;
}
.part_1 .personal_list .statistics em{
	width: 97px;
	display: block;
	font-size: 14px;
	color: #999999;
}
.part_1 .personal_list .statistics b{
	width: 1px;
	height: 30px;
	position: absolute;
	top:10px;
	right: -3px;
	background: #dddddd;
}
.part_1 .tiwen{
	float: left;
	margin-left: 32px;
	width: 277px;
	text-align: center;
}
.part_1 .tiwen ul li{
	float: left;
	width: 70px;
	margin-right: 22px;
}
.part_1 .tiwen ul li i{
	width: 34px;
	height: 34px;
	background: url(../images/ys_54.png) no-repeat;
	display: block;
	margin: 0 auto;
}
.part_1 .tiwen ul li span{
	font-size: 14px;
	width: 70px;
	text-align: center;
	color: #999999;
	display: block;
}
.part_1 .tiwen ul .zz i{
    background-position: -129px -7px;
}
.part_1 .tiwen ul .db i{
    background-position: -178px -7px;
}
.part_1 .tiwen ul .tk i{
    background-position: -227px -7px;
}
.part_1 .tiwen em{
	width: 277px;
	font-size: 20px;
	color: #52a7df;
	margin-top: 30px;
	display: block;
}
.part_1 .tiwen em i{
	width: 26px;
    height: 26px;
    background: url(../images/ys_54.png) no-repeat;
    display: inline-block;
    background-position: -282px -11px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.part_1 .tiwen p{
	width: 144px;
	height: 38px;
	border-radius: 50px;
	background: #ffbc6d;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
	margin: 0 auto;
	margin-top: 20px;
}
.part_1 .tiwen p a{
	color: #fff;
}
.part_1 .p1_lead{
	width: 1200px;
	margin: 0 auto;
}
.part_1 .p1_lead ul {
	float: left;
}
.part_1 .p1_lead ul li{
	float: left;
	width: 100px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	margin-right: 10px;
}
.p1l_bc{
	background: #fff;
	font-weight: bold;
}
.part_1 .p1_lead .share{
	float: right;
	width: 250px;
	line-height: 28px;
	margin-top: 10px;
}
.part_1 .p1_lead .share em{
	float: left;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .p2_list .p2_left{
	float: left;
	width: 850px;
}
.inter_lead{
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	margin-top: 50px;
}
.inter_lead span{
	float: left;
}
.inter_lead a{
	float: right;
	margin-right: 10px;
	font-size: 14px;
	color: #999999;
	font-weight: normal;
}
.part_2 .p2_list .p2_left .individual p{
	font-size: 16px;
	margin-top: 15px;
}
.part_2 .p2_list .p2_left .individual p a{
	color: #999999;
	font-size: 15px;
	margin-left: 10px;
}
.part_2 .p2_list .p2_left .serve ul li{
	width: 165px;
	height: 210px;
	float: left;
	text-align: center;
}
.part_2 .p2_list .p2_left .serve ul li p{
	font-size: 16px;
}
.part_2 .p2_list .p2_left .serve ul li em{
	font-size: 12px;
}
.part_2 .p2_list .p2_left .serve ul li em i{
	font-style: normal;
	color: #f3632e;
	font-size: 20px;
	margin-right: 3px;
	font-weight: bold;
}
.part_2 .p2_list .p2_left .serve ul li span{
	width: 80px;
	height: 88px;
	display: block;
	margin: 10px auto;
	background: url(../images/ys_54.png);
	margin-top: 40px;
}
.part_2 .p2_list .p2_left .serve ul .online span{
    background-position: -4px -76px;
}
.part_2 .p2_list .p2_left .serve ul .tel span{
    background-position: -99px -76px;
}
.part_2 .p2_list .p2_left .serve ul .wx span{
    background-position: -195px -76px;
}
.part_2 .p2_list .p2_left .serve ul .qq span{
	background-position: -288px -76px;
}
.part_2 .p2_list .p2_left .serve ul .face span{
    background-position: -381px -76px;
}
.part_2 .p2_list .p2_left .consult .inter_lead p{
    float: left;
    font-size: 12px;
    color: #999999;
    font-weight: normal;
    line-height: 32px;
    margin-left: 10px;
}
.part_2 .p2_list .p2_left .consult .inter_lead p em{
	font-size: 12px;
	color: #000;
}
.part_2 .p2_list .p2_left .consult .inter_lead ul{
	float: right;
}
.part_2 .p2_list .p2_left .consult .inter_lead ul li{
	float: left;
	font-size: 14px;
	color: #fff;
	width: 99px;
	height: 25px;
	background: #b5b5b5;
	line-height: 24px;
	text-align: center;
	border-radius: 5px;
	font-weight: normal;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
}
.part_2 .p2_list .p2_left .consult .inter_lead ul li i{
    position: absolute;
    bottom: -5px;
    left: 25px;
    background: url(../images/ys_55.png) no-repeat center;
    width: 15px;
    height: 6px;
    display: none;
}
.inl_bac{
	background: #ffbc6d!important;
}
.inl_bac i{
	display: block!important;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com{
	padding: 30px 0 20px 0;
	border-bottom: 1px dashed  #dddddd;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left{
	float: left;
	width: 762px;
	overflow: hidden;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left p span{
	height: 20px;
	float: left;
	margin-right: 20px;
	max-width: 600px;
	overflow: hidden;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left p{
	font-size: 16px;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left p em{
	font-size: 12px;
	color: #999999;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left p i{
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/ys_54.png) no-repeat;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left .question i{
	background-position: -334px -13px;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_left .answer i{
    background-position: -377px -13px;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_right{
	width: 60px;
	color: #fea861;
	font-size: 14px;
	float: left;
}
.part_2 .p2_list .p2_left .consult .consult_list .consult_txt .con_com .com_right i{
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/ys_54.png) no-repeat;
	vertical-align: text-bottom;
	margin-right: 5px;
    background-position: -421px -13px;
}
.part_2 .p2_list .p2_left .wenji ul{
	    width: 1000px;
    margin-top: 10px;
}
.part_2 .p2_list .p2_left .wenji ul li{
	background: url(../images/point.png) no-repeat left;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    width: 400px;
    float: left;
    margin-right: 30px;
}
.part_2 .p2_list .p2_left .wenji ul li p{
	    float: left;
    width: 336px;
    height: 40px;
    overflow: hidden;
}
.part_2 .p2_list .p2_left .wenji ul li em{
	float: right;
    color: #a9a9a9;
}
.part_2 .p2_list .p2_left .wenji ul li a:hover{
	color: #52a7df;
}
.lvp_list .lvp_com{
	width: 160px;
	height: 205px;
	margin: 30px 20px 30px 20px;
	float: left;
}
.lvp_list .lvp_com a:hover{
	color: #52a7df;
}
.lvp_list .lvp_com span{
	width: 140px;
	height: 137px;
	background: url(../images/ys_58.png) no-repeat center;
	display: block;
	padding: 10px;
	position: relative;
}
.lvp_list .lvp_com span img{
	height: 137px;
	overflow: hidden;
	width: 140px;
}
.lvp_list .lvp_com span b{
	font-weight: normal;
	position: absolute;
	bottom: 10px;
	right: 15px;
	color: #fff;
	font-size: 16px;
}
.lvp_list .lvp_com p{
	width: 160px;
	height: 20px;
	overflow: hidden;
	font-size: 14px;
	margin-top: 10px;
}
.lvp_list .lvp_com  em{
	width: 160px;
	display: block;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #999999;
}
.part_2 .p2_list .p2_right{
	width: 260px;
	float: right;
}
.inter_lead2{
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin-top: 50px;
}
.inter_lead2 span{
	float: left;
}
.shangjin .shangjin_list ul li {
    background: url(../images/point.png) no-repeat left;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    width: 250px;
    margin-right: 30px;
}
.shangjin .shangjin_list ul li span{
	float: left;
	max-width: 215px;
    height: 40px;
	overflow: hidden;
}
.shangjin .shangjin_list ul li span em{
	color: #62aee1;
}
.shangjin .shangjin_list ul li span i{
	font-style: normal;
	color: #f3632e;
}
.shangjin .shangjin_list ul li p{
	float: right;
}
.shangjin .shangjin_list .sj_button{
	width: 260px;
}
.shangjin .shangjin_list .sj_button a{
	width: 126px;
	height: 38px;
	display: block;
	border-radius: 5px;
	background: #ffbc6d;
	color: #fff;
	line-height: 38px;
	text-align: center;
	margin: 10px auto;
}
.shangjin .shangjin_list .sj_button a i{
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url(../images/ys_54.png) no-repeat;
    background-position: -68px -188px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.pingjia .inter_lead2 p{
    width: 103px;
    height: 21px;
    float: right;
    position: relative;
    background: url(../images/ys_59.png);
    margin-top: 5px;
    margin-right: 3px;
}
.pingjia .inter_lead2 p b{
	width: 90px;
	height: 21px;
	position: absolute;
	left: 0;
    top: -1px;
	background: url(../images/ys_60.png);
}
.pingjia .inter_lead2 em{
	color: #fea861;
	font-size: 12px;
	float: right;
	margin-top: 8px;
}
.pingjia .pingjia_list ul li {
	font-size: 14px;
	margin: 15px 0;
}
.pingjia .pingjia_list ul li em{
	color: #62aee1;
}
.pingjia .pingjia_list ul li span{
	color: #999999;
	font-size: 12px;
	margin-left: 10px;
}
.dongtai .inter_lead2 p{
	float: right;
	font-size: 12px;
	color: #999999;
	margin-top: 8px;
	font-weight: normal;
}
.dongtai .inter_lead2 p em{
	color: #fea861;
	margin: 0 5px;
}
.dongtai ul li{
	margin: 15px 0;
}
.dongtai ul li span{
	color: #62aee1;
}
.dongtai ul li em{
	color: #f3632e;
}
.dongtai ul li i{
	font-style: normal;
	color: #999999;
	margin-left: 5px;
}
.tongji .inter_lead2 p{
	float: right;
}
.tongji .inter_lead2 p i{
	font-size: 12px;
	color: #fea861;
	font-style: normal;
}
.tongji .inter_lead2 p em{
	width: 20px;
    height: 20px;
    float: left;
    background: url(../images/ys_54.png) no-repeat;
    margin-right: 5px;
    background-position: -460px -13px;
    margin-top: 2px;
}
.tongji ul li{
	margin: 15px 0;
	font-size: 14px;
}
.tongji ul li em{
	color: #f3632e;
}
.part_2 .p2_list .p2_right .wx{
	width: 260px;
	height: 296px;
	background: #f5f5f5;
	text-align: center;
	margin-top: 30px;
}
.part_2 .p2_list .p2_right .wx img{
	margin-top: 29px;
}
.part_2 .p2_list .p2_right .wx span{
	display: block;
	font-size: 14px;
	margin-top: 15px;
}
.part_2 .p2_list .p2_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.part_2 .p2_list .p2_right .wx p{
	font-size: 12px;
	color: #999999;
}
.part_2 .p2_list2 .p2_left{
	float: left;
	width: 882px;
}
.part_2 .p2_list2 .p2_left .p2l_lead{
	margin: 30px 0;
}
.part_2 .p2_list2 .p2_left .p2l_lead span{
	float: left;
	font-size: 14px;
	margin-right: 10px;
}
.part_2 .p2_list2 .p2_left .p2l_lead ul{
	float: left;
}
.part_2 .p2_list2 .p2_left .p2l_lead ul li{
	float: left;
	margin-right: 10px;
	font-size: 14px;
}
.part_2 .p2_list2 .p2_left .p2l_lead ul li a{
	display: block;
	padding: 0 10px;
}
.lead_bc{
	background: #52a7df;
}
.lead_bc a{
	color: #fff;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com{
	padding: 20px 0 20px 0;
	border-bottom: 1px dashed  #dddddd;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left{
	float: left;
	width: 762px;
	overflow: hidden;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left p span{
	height: 20px;
	float: left;
	margin-right: 20px;
	max-width: 600px;
	overflow: hidden;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left p{
	font-size: 16px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left p em{
	font-size: 12px;
	color: #999999;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left p i{
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/ys_54.png) no-repeat;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .question i{
	background-position: -334px -13px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .answer i{
    background-position: -377px -13px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot{
	width: 762px;
	margin-top: 15px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .gongkai{
	float: left;
	font-size: 12px;
    color: #999999;
    margin-right: 10px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .gongkai b{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../images/ys_61.png);
	background-position: -2px -2px; 
    vertical-align: text-bottom;
    margin-right: 5px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .con_time{
	float: left;
	font-size: 12px;
    color: #999999;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .con_time b{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../images/ys_61.png);
	background-position: -30px -2px; 
    vertical-align: text-bottom;
    margin-right: 5px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .onbyone{
	float: left;
	font-size: 12px;
    color: #999999;
    margin-right: 10px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_left .con_foot .onbyone b{
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/ys_61.png);
    background-position: -54px -2px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_right{
	width: 60px;
	color: #fea861;
	font-size: 14px;
	float: left;
}
.part_2 .p2_list2 .p2_left .p2l_list .consult_list .consult_txt .con_com .com_right i{
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/ys_54.png) no-repeat;
	vertical-align: text-bottom;
	margin-right: 5px;
    background-position: -421px -13px;
}
.fen{
    width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li {
    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.fen ul .fen_all {
    width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul li a:hover{
    color: #fff;
}
.fen ul li:hover{
    background: #52a7df;
}
.fen ul .fen_all:hover{
	background: none;
}
.part_2 .p2_list2 .p2_right{
	float: right;
	width: 261px;
}
.p2r_list ul li{
	padding: 20px 0;
}
.p2r_list ul li a p{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.p2r_list ul li a h1{
	font-size: 16px;
	color: #52a7df;
}
.p2r_list ul li a span{
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_list3 .p3_left{
	float: left;
    width: 882px;
}
.part_2 .p2_list3 .p3_left .p2l_lead{
    margin: 30px 0;
} 
.part_2 .p2_list3 .p3_left .p2l_lead span{
	float: left;
    font-size: 14px;
    margin-right: 10px;
}
.part_2 .p2_list3 .p3_left .p2l_lead ul{
    float: left;
}
.part_2 .p2_list3 .p3_left .p2l_lead ul li{
    float: left;
    margin-right: 10px;
    font-size: 14px;
}
.part_2 .p2_list3 .p3_left .p2l_lead ul li a{
	display: block;
    padding: 0 10px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul{
	width: 890px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li{
    width: 24%;
    height: 248px;
    float: left;
    text-align: center;
    border: 1px solid transparent;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li .pp{
	width: 184px;
	margin: 0 auto;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li span{
    width: 80px;
    height: 88px;
    display: block;
    margin: 10px auto;
    background: url(../images/ys_54.png);
    margin-top: 40px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li p{
	    font-size: 16px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li em{
	font-size: 12px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li em i{
	    font-style: normal;
    color: #f3632e;
    font-size: 20px;
    margin-right: 3px;
    font-weight: bold;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li .on_foot{
	width: 116px;
	margin: 0 auto;
	color: #a9a9a9;
	font-size: 14px;
	margin-top: 10px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li .on_foot b{
	float: left;
	width: 39px;
	cursor: pointer;
}
.part_2 .p2_list3 .p3_left .p2l_list ul li .on_foot strong{
	float: right;
	font-weight: normal;
	cursor: pointer;
	width: 39px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .online span{
    background-position: -4px -76px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .tel span{
    background-position: -99px -76px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .wx span{
    background-position: -195px -76px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .qq span{
	background-position: -288px -76px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .face span{
    background-position: -381px -76px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .falv span{
    background-position: -478px -73px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .siren span{
    background-position: -569px -73px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .weituo span{
    background-position: -657px -73px;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .online:hover{
    border: 1px solid #ecaed9;
    box-shadow: 0px 2px 10px #ecaed9;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .tel:hover{
    border: 1px solid #60d8f6;
    box-shadow: 0px 2px 10px #60d8f6;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .wx:hover{
    border: 1px solid #a7e987;
    box-shadow: 0px 2px 10px #a7e987;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .qq:hover{
	border: 1px solid #6cbeea;
	box-shadow: 0px 2px 10px #6cbeea;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .face:hover{
    border: 1px solid #88cea4;
    box-shadow: 0px 2px 10px #88cea4;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .falv:hover{
    border: 1px solid #f79082;
    box-shadow: 0px 2px 10px #f79082;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .siren:hover{
    border: 1px solid #fec587;
    box-shadow: 0px 2px 10px #fec587;
}
.part_2 .p2_list3 .p3_left .p2l_list ul .weituo:hover{
    border: 1px solid #b29eca;
    box-shadow: 0px 2px 10px #b29eca;
}
.part_2 .p2_list3 .p3_left .p2l_shuoming{
	margin-bottom: 300px;
}
.part_2 .p2_list3 .p3_left .p2l_shuoming .inter_lead em{
	font-size: 14px;
	color: #f3632e;
}
.part_2 .p2_list3 .p3_left .p2l_shuoming .shuoming_txt{
	font-size: 16px;
	margin: 20px 0;
}
.part_2 .p2_list3 .p3_right{
	float: right;    
	width: 260px;
}
.part_2 .p2_list3 .p3_right .inter_lead2{
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin-top: 50px;
}
.part_2 .p2_list3 .p3_right .pingjia .inter_lead2 p{
    width: 103px;
    height: 21px;
    float: right;
    position: relative;
    background: url(../images/ys_59.png);
    margin-top: 5px;
    margin-right: 3px;
}
.part_2 .p2_list3 .p3_right .pingjia .inter_lead2 p b{
	width: 90px;
	height: 21px;
	position: absolute;
	left: 0;
    top: -1px;
	background: url(../images/ys_60.png);
}
.part_2 .p2_list3 .p3_right .pingjia .inter_lead2 em{
	color: #fea861;
	font-size: 12px;
	float: right;
	margin-top: 8px;
}
.part_2 .p2_list3 .p3_right .pingjia .pingjia_list ul li {
	font-size: 14px;
	margin: 15px 0;
}
.part_2 .p2_list3 .p3_right .pingjia .pingjia_list ul li em{
	color: #62aee1;
}
.part_2 .p2_list3 .p3_right .pingjia .pingjia_list ul li span{
	color: #999999;
	font-size: 12px;
	margin-left: 10px;
}
.part_2 .p2_list3 .p3_right .dongtai .inter_lead2 p{
	float: right;
	font-size: 12px;
	color: #999999;
	margin-top: 8px;
	font-weight: normal;
}
.part_2 .p2_list3 .p3_right .dongtai .inter_lead2 p em{
	color: #fea861;
	margin: 0 5px;
}
.part_2 .p2_list3 .p3_right .dongtai ul li{
	margin: 15px 0;
}
.part_2 .p2_list3 .p3_right .dongtai ul li span{
	color: #62aee1;
}
.part_2 .p2_list3 .p3_right .dongtai ul li em{
	color: #f3632e;
}
.part_2 .p2_list3 .p3_right .dongtai ul li i{
	font-style: normal;
	color: #999999;
	margin-left: 5px;
}
.part_2 .p2_list4 .p4_left {
	width: 882px;
	float: left;
}
.part_2 .p2_list4 .p4_left .p4l_lead{
    margin: 30px 0;
    margin-bottom: 10px;
} 
.part_2 .p2_list4 .p4_left .p4l_lead span{
	    float: left;
    font-size: 14px;
    margin-right: 10px;
}
.part_2 .p2_list4 .p4_left .p4l_lead ul{
	    float: left;
}
.part_2 .p2_list4 .p4_left .p4l_lead ul li{
	    float: left;
    margin-right: 5px;
    font-size: 14px;
}
.part_2 .p2_list4 .p4_left .p4l_lead ul li a{
	    display: block;
    padding: 0 10px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt{
	padding: 20px 0;
	border-bottom: 1px dashed #e8e8e8;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt h1{
	font-size: 18px;
	margin-bottom: 5px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt span{
	font-size: 14px;
	color: #999999;
	line-height: 25px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot {
	margin: 10px 0;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot div{
	float: right;
	margin-right: 20px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot div b{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/ys_62.png);
    vertical-align: text-bottom;
    margin-right: 5px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot .leibie b{
	background-position: -54px -5px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot .gengxin b{
	background-position: -29px -4px;
}
.part_2 .p2_list4 .p4_left .p4l_list .p4l_txt .p4l_foot .liulan b{
    background-position: -5px -5px;
}
.part_2 .p2_list4 .p4_right{
	float: right;
	width: 260px;
}
.part_2 .p2_list4 .p4_right .inter_lead2{
	font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin-top: 50px;
}
.part_2 .p2_list4 .p4_right .w_rank ul li{
	    background: url(../images/point.png) no-repeat left;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.part_2 .p2_list4 .p4_right .w_rank ul li span{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  	width: 210px;
  	float: left;
}
.part_2 .p2_list4 .p4_right .w_rank ul li em{
	font-size: 12px;
}
.part_2 .p2_list4 .p4_right .w_ping ul li{
	margin: 15px 0;
}
.part_2 .p2_list4 .p4_right .w_ping ul li span img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: text-bottom;
}
.part_2 .p2_list4 .p4_right .w_ping ul li span em{
	font-size: 14px;
	color: #62aee1;
}
.part_2 .p2_list4 .p4_right .w_ping ul li span  i{
	font-style: normal;
	color: #999999;
	margin-left: 8px;
	font-style: 12px;
}
.part_2 .p2_list4 .p4_right .w_ping ul li p{
	margin-top: 5px;
}
.part_2 .p2_list4 .p4_right .w_ping ul li p em{
	font-size: 14px;
	color: #999999;
	width: 43px;
	float: left;
}
.part_2 .p2_list4 .p4_right .w_ping ul li p b{
	font-weight: normal;
	font-size: 14px;
	color: #000;
	width: 217px;
	overflow: hidden;
	height: 20px;
	float: left;
}
.part_2 .p2_list5 .p5_left{
	float: left;
	width: 852px;
}
.part_2 .p2_list5 .p5_left .review{
	width: 850px;
	height: 330px;
	background: #fcfcfc;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	margin-top: 20px;
}
.part_2 .p2_list5 .p5_left .review .review_choice{
	margin-top: 50px;
}
.part_2 .p2_list5 .p5_left .review .review_choice em{
	margin-left: 75px;
	font-size: 14px;
	float: left;
	width: 80px;
	text-align: right;
}
.part_2 .p2_list5 .p5_left .review .review_choice .label{
	float: left;
}
.part_2 .p2_list5 .p5_left .review .review_choice label{
	margin-right: 15px;
	position:relative;
	font-size: 14px;
}
.part_2 .p2_list5 .p5_left .review .review_choice input{
    position: absolute;
    top: 0px;
    left: -9999999999999999px;
}
.part_2 .p2_list5 .p5_left .review .review_choice b{
    padding-left: 20px;
    background: url(../images/ys_64.png) no-repeat left;
    display: inline-block;
    vertical-align: text-bottom;
    font-weight: normal;
    cursor: pointer;
}
.lab_bc b{
	background: url(../images/ys_63.png) no-repeat left!important;
}
.part_2 .p2_list5 .p5_left .review  .review_txt{
	margin-top: 30px;
}
.part_2 .p2_list5 .p5_left .review  .review_txt em{
	margin-left: 75px;
	font-size: 14px;
	float: left;
	width: 80px;
	text-align: right;
}
.part_2 .p2_list5 .p5_left .review  .review_txt .shuru{
	    height: 120px;
    width: 556px;
    padding: 10px;
    resize: none;
    outline: 0;
    border: 1px solid #dddddd;
    font-size: 14px;
    border-radius: 10px;
}
.part_2 .p2_list5 .p5_left .button {
	width: 732px;
	margin-top: 20px;
}
.part_2 .p2_list5 .p5_left .button button{
	float: right;
	width: 100px;
	height: 30px;
	background: #52a7df;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	border: none;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_lead{
	font-size: 12px;
	height: 55px;
	line-height: 55px;
	margin-top: 30px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_lead .people{
	margin-left: 24px;
	margin-right: 239px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_lead .ping_com{
	margin-right: 224px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_lead .manyi{
	margin-right: 151px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt{
	font-size: 14px;
	height: 55px;
	line-height: 55px;
	border-top:1px dashed #eaeaea;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt .people{
	margin-left: 24px;
	margin-right: 58px;
	width: 100px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt .ping_com{
	float: left;
	width: 291px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;
    margin-right: 90px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt .manyi{
	margin-right: 81px;
	width: 70px;
	text-align: center;
	float: left;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt .time{
	color: #999999;
	font-size: 12px;
}
.part_2 .p2_list5 .p5_left .dian_list .dian_txt a:hover{
	color: #52a7df;
}
.part_2 .p2_list5 .p5_right{
	float: right;
	width: 260px;
}
.part_2 .p2_list6 .p6_left{
	float: left;
	width: 850px;
}
.part_2 .p2_list6 .p6_right{
	float: right;
	width: 260px;
}
.part_2 .p2_list7 .p7_left {
	float: left;
	width: 850px;
}
.part_2 .p2_list7 .p7_left ul li{
	margin-bottom: 30px;
	font-size: 16px;
}
.part_2 .p2_list7 .p7_left ul{
	margin-top: 50px;
}
.part_2 .p2_list7 .p7_left ul li em{
	color: #a1a1a1;
}
.part_2 .p2_list7 .p7_left ul .tel {
	color: #f3632e;
}
.part_2 .p2_list7 .p7_left ul .tel i{
	color: #999999;
	font-style: normal;
	font-size: 12px;
}
.part_2 .p2_list7 .p7_right{
	float: right;
	width: 261px;
}