.serve_list{
	width: 1200px;
	margin: 0 auto;
}
.serve_list .serve_left{
	float: left;
	width: 850px;
}
.serve_list .serve_left .sl_lead{
	margin-top: 16px;
}
.serve_list .serve_left .sl_lead em{
	float: left;
	font-size: 12px
}
.serve_list .serve_left .sl_lead ul{
	float: left;
}
.serve_list .serve_left .sl_lead ul li{
	float: left;
	margin-right: 5px;
}
.serve_list .serve_left .flow{
	margin-bottom: 50px;
	margin-top: 40px;
}
.serve_list .serve_left .flow .flow_liu{
	float: left;
}
.serve_list .serve_left .flow .flow_liu{
	width: 86px;
	height: 95px;
	text-align: center;
}
.serve_list .serve_left .flow .flow_liu i{
	width: 60px;
	height: 60px;
	display:block;
	background: url(../images/ys_68.png);
	margin: 0 auto;
}
.serve_list .serve_left .flow .flow_1 i{
    background-position: -12px -8px;
}
.serve_list .serve_left .flow .flow_2 i{
    background-position: -93px -8px;
}
.serve_list .serve_left .flow .flow_3 i{
    background-position: -188px -8px;
}
.serve_list .serve_left .flow .flow_4 i{
    background-position: -283px -8px;
}
.serve_list .serve_left .flow .flow_liu span{
	width: 86px;
	color: #999999;
	margin-top: 15px;
	display: block;
}
.liu_bc span{
	color: #52a7df!important;
}
.serve_list .serve_left .flow .xu_line{
	width: 90px;
	height: 1px;
	border-bottom: 1px dashed #e1e1e1;
	float: left;
	margin-top: 30px;
}
.serve_list .serve_left .explain{
	font-size: 16px;
	color: #999999;
}
.serve_list .serve_left .explain em{
	color: #52a7df;
	margin: 0 5px;
}
.serve_list .serve_left .explain b{
	font-weight: normal;
	color: #f3632e;
	margin: 0 2px;
}
.serve_list .serve_left .explain i{
	width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/ys_68.png);
    background-position: -28px -97px;
    vertical-align: text-bottom;
    margin: 0 2px;
}
.serve_list .serve_left .menu{
	margin-top: 40px;
	margin-bottom: 100px;
}
.serve_list .serve_left .menu span{
	width: 56px;
	height: 44px;
	line-height: 44px;
	float: left;
	text-align: right;
	font-size: 14px;
}
.serve_list .serve_left .menu span em{
	color: #ea2530;
	margin-right: 2px;
}
.serve_list .serve_left .menu .title{
	margin-bottom: 25px;
}
.serve_list .serve_left .menu .title p{
	width: 430px;
	height: 44px;
	border: 1px solid #dddddd;
	float: left;
	line-height: 44px;
	overflow: hidden;
}
.serve_list .serve_left .menu .title p input{
	text-indent: 10px;
	font-size: 14px;
	border: none;
	width: 430px;
}
.serve_list .serve_left .menu .menu_txt{
	margin-bottom: 25px;
}
.serve_list .serve_left .menu .menu_txt .shuru{
	width: 700px;
	height: 280px;
	border: 1px solid #dddddd;
	resize: none;
    outline: 0;
    font-size: 14px;
    padding: 10px;
}
.serve_list .serve_left .menu .name{
	margin-bottom: 25px;
}
.serve_list .serve_left .menu .name p{
	width: 200px;
	height: 44px;
	border: 1px solid #dddddd;
	float: left;
	line-height: 44px;
	overflow: hidden;
}
.serve_list .serve_left .menu .name input{
	text-indent: 10px;
	font-size: 14px;
	border: none;
	width: 200px;
}
.serve_list .serve_left .menu .tel{
	margin-bottom: 25px;
}
.serve_list .serve_left .menu .tel p{
	width: 300px;
	height: 44px;
	border: 1px solid #dddddd;
	float: left;
	line-height: 44px;
	overflow: hidden;
	font-size: 14px;
	text-indent: 10px;
}
.serve_list .serve_left .menu .tel input{
	font-size: 14px;
	border: none;
	width: 300px;
}
.serve_list .serve_left .menu .tel .verify{
	height: 44px;
	line-height: 44px;
	color: #19d79b;
	font-size: 16px;
}
.serve_list .serve_left .menu .tel .verify i{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/ys_77.png) center center;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.serve_list .serve_left .menu .tel em{
	height: 44px;
	line-height: 44px;
	color: #999999;
	font-size: 12px;
	margin-left: 10px;
}
.serve_list .serve_left .menu .tel i{
	height: 44px;
	font-style: normal;
	line-height: 44px;
	color: #52a7df;
	font-size: 12px;
	margin-left: 10px;
	cursor: pointer;
}
.serve_list .serve_left .menu .yz_ma p{
	width: 200px;
    height: 44px;
    border: 1px solid #dddddd;
    float: left;
    line-height: 44px;
    overflow: hidden;
    font-size: 14px;
    text-indent: 10px;
}
.serve_list .serve_left .menu .yz_ma p input{
    font-size: 14px;
    border: none;
    width: 200px;
}
.serve_list .serve_left .menu .yz_ma i{
	   width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/ys_77.png) center center;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
.serve_list .serve_left .menu .yz_ma .yz_fule{
	height: 44px;
	line-height: 44px;
	color: #ea2530;
	font-size: 14px;
}
.serve_list .serve_left .menu .yz_ma .yz_fule b{
   width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/ys_78.png) center center;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.serve_list .serve_left .menu .button button{
	width: 172px;
	height: 42px;
	border: none;
	background: #fea861;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	float: right;
}
.serve_list .serve_left .s_lead{
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin-top: 50px;
}
.serve_list .serve_left .s_lead span{
	float: left;
}
.serve_list .serve_left .s_lead em{
	font-size: 12px;
	float: left;
	color: #f3632e;
	line-height: 32px;
	height: 32px;
}
.serve_list .serve_left .state .state_txt{
	    font-size: 16px;
    width: 830px;
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 46px;
}
.serve_list .serve_right{
	float: right;
	width: 300px;
}
.serve_list .serve_right .serve_infor{
	width: 260px;
	height: 565px;
	border: 1px solid #eaeaea;
	background: #fcfcfc;
	margin-top: 20px;
	padding: 0 20px;
}
.serve_list .serve_right .serve_infor h1{
	font-size: 16px;
	margin-top: 24px;
	margin-bottom: 15px;
}
.serve_list .serve_right .serve_infor .si_pic{
	width: 130px;
	margin: 0 auto;
}
.serve_list .serve_right .serve_infor .si_pic p{
	width: 130px;
	height: 150px;
	overflow: hidden;
}
.serve_list .serve_right .serve_infor .si_pic p img{
	height: 150px;
	margin: 0 auto;
	display: block;
}
.serve_list .serve_right .serve_infor .si_pic span{
	width: 130px;
	text-align: center;
	font-size: 16px;
	color: #52a7df;
	display: block;
	margin-top: 15px;
	margin-bottom: 26px;
}
.serve_list .serve_right .serve_infor .si_number{
	padding: 30px 0;
	border-top: 1px dashed #ebebeb;
	border-bottom: 1px dashed #ebebeb;
}
.serve_list .serve_right .serve_infor .si_number ul{
	width: 400px;
}
.serve_list .serve_right .serve_infor .si_number ul li{
	float: left;
	width: 60px;
	text-align: center;
	font-size: 14px;
	margin-right: 44px;
}
.serve_list .serve_right .serve_infor .si_number ul li span{
	color: #52a7df;
	font-weight: bold;
}
.serve_list .serve_right .serve_infor .si_number ul li p{
	color: #999999;
}
.serve_list .serve_right .serve_infor .si_list ul li{
	margin: 20px 0;
	color: #999999;
}
.serve_list .serve_right .serve_infor .si_list ul li i{
	font-style: normal;
	color: #000;
}
.serve_list .serve_right .serve_infor .si_list ul li span{
	float: left;
}
.serve_list .serve_right .serve_infor .si_list ul li p{
	width: 180px;
	float: left;
}
.serve_list .serve_right .serve_infor .si_list ul li p em{
	color: #fff;
	padding: 5px;
	background: #ffbc6d;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.serve_list .serve_right .lianxi .lianxi_txt{
	margin-left: 47px;
	padding-top: 15px;
}
.serve_list .serve_right .lianxi{
	width: 311px;
	height: 72px;
	background: #52a7df;
	position: relative;
	color: #fff;
	margin-bottom: 20px;
}
.serve_list .serve_right .lianxi img{
	float: left;
	margin-right: 10px;
}
.serve_list .serve_right .lianxi span{
	font-size: 18px;
}
.serve_list .serve_right .lianxi p{
	font-size: 12px;
	line-height: 10px;
}
.serve_list .serve_right .lianxi i{
	width: 9px;
    height: 9px;
    background: url(../images/ys_70.png) no-repeat center;
    position: absolute;
    right: 0px;
    top: -9px;
}
.serve_list .serve_right .ad_2 a img{
    width: 300px;
    height: 180px;
}
.serve_list .serve_right .wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.serve_list .serve_right .wx img{
    margin-top: 29px;
}
.serve_list .serve_right .wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.serve_list .serve_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.serve_list .serve_right .wx p{
	font-size: 12px;
	color: #999999;
}
.dui{
	display: none!important;
}