.part_3{
	width: 1200px;
	margin: 0 auto;
}
.part_3 .part_3_left{
	float: left;
	width: 850px;
}
.part_3 .part_3_left .p3l_lead{
	margin: 60px 0 50px 0;
}
.part_3 .part_3_left .p3l_lead p{
	width: 74px;
	height: 74px;
	padding: 2px;
	border: 1px solid #ececec;
	float: left;
	margin-right: 10px;
}
.part_3 .part_3_left .p3l_lead h1{
	font-size: 16px;
	margin-bottom: 10px;
}
.part_3 .part_3_left .p3l_lead h1 em{
	font-size: 12px;
	margin-left: 5px;
}
.part_3 .part_3_left .p3l_lead span{
	margin-top: 10px;
}
.part_3 .part_3_left .p3l_lead span i{
	width: 100px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #52a7df;
	border: 1px solid #52a7df;
	font-style: normal;
	display: block;
	float: left;
	font-size: 16px;
}
.part_3 .part_3_left .p3l_lead img{
	width: 74px;
	height: 74px;
}
.part_3 .part_3_right{
	width: 260px;
	float: right;
}
.highslide-gallery{
	width: 850px;
	padding: 0;
	margin: 0;
	border: none;
	position: relative;
	overflow: inherit;
	height: auto;
}
.highslide img{
	border: none;
}
