.pub_con{
	float: right;
    width: 936px;
    margin-left: 20px;
}
.new_zi{
	width: 937px;
	background: #fff;
    border: 1px solid #ececec;
    margin-top: 10px;
}
.new_zi .new_lead{
	height: 75px;
	line-height: 75px;
	border-bottom: 1px solid #ececec;
}
.new_zi .new_lead .newl_left{
	float: left;
	font-size: 16px;
	margin-left: 30px;
}
.new_zi .new_lead .newl_left b{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/ys_73.png);
	background-position: -112px -8px;
	vertical-align: text-bottom;
	margin-left: 10px;
}
.new_zi .new_lead .newl_right{
	float: right;
	font-size: 14px;
	margin-right: 40px;
}
.new_zi .new_list{
	padding: 0 31px;
}
.new_zi .new_list .new_txt{
	padding: 20px 0;
	border-bottom: 1px dashed #ebebeb;
}
.new_zi .new_list .new_txt .nt_lead span{
	float: left;
}
.new_zi .new_list .new_txt .nt_lead em{
	float: left;
	color: #52a7df;
	margin-left: 10px;
	cursor: pointer;
}
.new_zi .new_list .new_txt .nt_lead em i{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/ys_73.png);
	background-position: -146px -9px;
	vertical-align: text-bottom;
}
.new_zi .new_list .new_txt .nt_lead p{
	float: right;
	width: 45px;
	height: 22px;
	border: 1px solid #52a7df;
	font-size: 12px;
	border-radius: 20px;
	color: #52a7df;
	line-height: 22px;
	text-align: center;
	margin-right: 20px;
}
.new_zi .new_list .new_txt .nt_lead b{
	float: right;
	font-weight: normal;
	font-size: 14px;
	color: #52a7df;
	margin-right: 20px;
	cursor: pointer;
}
.zhankai s{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.new_zi .new_list .new_txt .nt_lead b s{
	width: 16px;
    height: 6px;
    display: inline-block;
    background: url(../images/ys_73.png);
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-position: -486px -15px;
}
.new_zi .new_list .new_txt .nt_foot{
	margin-top: 5px;
}
.new_zi .new_list .new_txt .nt_foot ul li{
	float: left;
	margin-right: 20px;
}
.new_zi .new_list .new_txt .nt_foot ul li i{
	width: 16px;
	height: 16px;
	display: inline-block;
	background:  url(../images/ys_73.png);
	vertical-align: text-bottom;
	margin-right: 3px;
}
.new_zi .new_list .new_txt .nt_foot ul .repeat i{
	background-position: -200px -8px;
}
.new_zi .new_list .new_txt .nt_foot ul .open i{
	background-position: -229px -8px;
}
.new_zi .new_list .new_txt .nt_foot ul .time i{
	background-position: -260px -8px;
}
.new_zi .new_list .new_txt .supplement{
	margin-top: 20px;
	background: #fff;
}
.new_zi .new_list .new_txt .supplement .sup_lead{
	font-size: 16px;
	font-weight: bold;
}
.new_zi .new_list .new_txt .supplement .sup_txt{
	font-size: 14px;
	margin-top: 10px;
}
.new_zi .new_list .new_txt .supplement .root {
	width: 737px;
	height: 147px;
	background: url(../images/ys_74.png) no-repeat center;
	margin-top: 10px;
}
.new_zi .new_list .new_txt .supplement .root .shuru{
    margin: 10px;
    width: 703px;
    height: 112px;
        resize: none;
    outline: 0;
    border: none;
}
.new_zi .new_list .new_txt .supplement .button{
	width: 724px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}
.new_zi .new_list .new_txt .supplement .button button{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #52a7df;
	border: none;
	font-size: 16px;
	float: right;
}
.new_zi .new_list .new_txt:hover{
	background: #fbfbfb;
}
.new_zi .new_foot{
	width: 370px;
	margin: 39px auto;
}
.new_zi .new_foot span{
	float: left;
	width: 156px;
	height: 42px;
	border: 2px solid #999999;
	text-align: center;
	line-height: 42px;
	font-size: 16px;
	color: #999999;
	margin-right: 50px;
}
.new_zi .new_foot span a{
	display: block;
}
.new_zi .new_foot p{
	float: left;
	width: 160px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #52a7df;
}
.new_zi .new_foot p a{
	color: #fff;
	display: block;
}
.answer_txt{
	padding: 20px 0;
	position: relative;
	background: #fff;
}
.answer_txt .the_best{
	position: absolute;
	right: 0;
	top: 0;
	width: 130px;
	height: 35px;
	line-height: 35px;
	color: #52a7df;
	font-size: 21px;
}
.answer_txt .the_best i{
    background: url(../images/ys_46.png) no-repeat;
    width: 31px;
    height: 30px;
    background-position: -8px -60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.answer .answer_lead{
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ebebeb;
}
.answer .answer_lead em{
	color: #52a7df;
	margin: 0 2px;
}
.ans_left{
	float: left;
	margin-right: 20px;
}
.ans_left .ans_infor {
	position: relative;
}
.ans_left .ans_infor .ans_pic{
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.ans_left .ans_infor .ans_pic img{
	height: 80px;
	display: block;
	margin: 0 auto;
}
.ans_left .ans_infor:hover .vip-law{
	display: block;
}
.vip-law{width: 368px;height: 243px;background:white url(../images/33.png) no-repeat;position: absolute;top: 100%;left: -4px;padding: 25px 22px 4px 18px;margin-bottom: 10px; display: none; z-index: 99;}
.vip-law p.Lee-1 span{display: inline-block;float: left;color: #52a7df;font-size: 14px;font-weight: 700}
.vip-law p.no-d span{color: #333!important;}
.vip-law p.no-d a{background: none!important;color: #666!important;border: 1px solid #e2e2e2;border-radius: 3px;}
.vip-law p.no-d a:hover{background: #fea861!important;color: #fff!important;}
.vip-law p.Lee-1 span i{font-size: 12px;background: #ffbc6d;width: 20px;height: 10px;line-height: 10px;text-align: center;color: #fff;padding: 0 4px 0 1px;margin-left: 6px;border-radius: 3px;}
.vip-law p.Lee-1 a{display: inline-block;float: right;width: 80px;height: 26px;background: #fea861;line-height: 26px;text-align: center;color: #fff;font-size: 12px;border-radius: 3px;opacity: 1;filter: alpha(opacity=100);transition: 0.2s}
.vip-law p.Lee-1 a:hover{opacity: 0.8;transition: 0.2s;opacity: 0.8;filter: alpha(opacity=80);}
.vip-law p.Lee-2{font-size: 14px;color: #666;margin-top: 6px;}
.vip-law p.Lee-2 span{color: #f69634;}
.vip-law p.phone-f span{color: #999!important;}
.click-i{margin-top:12px;}
.click-i a{margin-right: 30px;display: inline-block;}
.click-i a s{display: inline-block;text-decoration: none;font-size: 14px;color: #52a7df;}
.click-i a.click-1 i{background: url(../images/photo.png) no-repeat;width:15px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-2 i{background: url(../images/iPhone.png) no-repeat;width:9px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-3 i{background: url(../images/045.png) no-repeat;width:20px;height: 20px;display: inline-block;vertical-align:bottom;margin-right:10px;}
.click-i a.click-4 i{background: url(../images/photo1.png) no-repeat;width:15px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-5 i{background: url(../images/iPhone1.png) no-repeat;width:9px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-6 i{background: url(../images/0451.png) no-repeat;width:20px;height: 20px;display: inline-block;vertical-align:bottom;margin-right:10px;}
.click-d s{color: #999999!important;}
.vip-law p.Lee-3{font-size: #666666;font-size: 14px;margin-top: 11px;line-height: 26px;}
.check-help{margin-top: 15px;}
.check-help a{width: 68px;height: 66px;position: relative;float: left;margin-left: 40px;}
.check-help a img{width:68px;height: 66px;position: absolute;top: 0;left: 0;display: block;}
.check-help a span{display: block;position: absolute;}
.check-help a .num-o{color: #8ccdf4;font-size: 14px;line-height: 51px;margin-left: 14px;}
.check-help a .good-u{color: #fff;font-size:12px;bottom: 0;margin-left: 11px;margin-bottom: 12px;}
.check-help a .num-d{left: 4px}
.check-help a .good-d{left: 4px;}
.hover-d{cursor: pointer;}

.ans_left .online a{
	width: 80px;
	height: 26px;
	border: 1px solid #e2e2e2;
	line-height: 26px;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;
	display: block;
}
.answer_txt .ans_right{
	float: left;
    width: 624px;
}
.answer_txt .ans_right .answer_name em{
	font-size: 15px;
	color: #3c95cb;
}
.answer_txt .ans_right .answer_name i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.answer_txt .ans_right .answer_name b{
	font-weight: normal;
}
.answer_txt .ans_right .no_rr em{
	color: #000;
	margin-right: 5px;
}
.answer_txt .ans_right .no_rr b{
	font-weight: normal;
}
.answer_txt .ans_right ul{
	width: 438px;
	margin-top: 17px;
}
.answer_txt .ans_right ul li{
	width: 200px;
	float: left;
	margin-right: 10px;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #999999;
	margin-bottom: 15px;
}
.answer_txt .ans_right ul li i{
	background: url(../images/ys_42.png) no-repeat center;
    width: 17px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}
.answer_txt .ans_right ul .tel{
	color: #f69634;
}
.answer_txt .ans_right ul .tel i{
    background-position: -27px -48px;
}
.answer_txt .ans_right ul .no_ren{
	color: #999999;
}
.answer_txt .ans_right ul .no_ren i{
    background-position: -4px -48px;
}
.answer_txt .ans_right ul .place i{
	background-position: -2px -2px;
}
.answer_txt .ans_right ul .help i{
	background-position: -23px -2px;
}
.answer_txt .ans_right ul .shang i{
	background-position: -45px -2px;
}
.answer_txt .ans_right .ans_txt{
	font-size: 15px;
}
.answer_txt .ans_right .ans_time{
	color: #b0b0b0;
	width: 624px;
	text-align: right;
}
.answer_txt .ans_right .answer_repeat .repeat_pic{
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin-right: 8px;
	background: url(../images/ys_47.png) no-repeat center;
}
.answer_txt .ans_right .answer_repeat .repeat_pic img{
	width: 50px;
}
.answer_txt .ans_right .answer_repeat h1{
	font-size: 14px;
	color: #3c95cb;
}
.answer_txt .ans_right .answer_repeat .ans_txt1{
	font-size: 14px;
}
.answer_txt .ans_right .user_list{
	margin-top: 10px;
	margin-bottom: 10px;
}
.answer_txt .ans_right .user_list .uu{
	float: right;
}
.answer_txt .ans_right .user_list .uu p{
	float: left;
	width: 55px;
	cursor: pointer;
}
.answer_txt .ans_right .user_list .uu p:hover{
	color: #52a7df;
}
.answer_txt .ans_right .user_list .uu em{
	float: left;
	margin: 0 10px;
	color: #dddddd;
}
.answer_txt .ans_right .user_list .uu p i{
	background: url(../images/ys_50.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
    margin-right: 5px;
}
.answer_txt .ans_right .user_list .uu .ask i{
	background-position: -2px -49px;
}
.answer_txt .ans_right .user_list .uu .caina i{
	background-position: -31px -49px;
}
.answer_txt .ans_right .user_list .uu .pingjia i{
	background-position: -60px -49px;
}
.answer_txt .ans_right .user_list .uu .dashang i{
	background-position: -88px -49px;
}
.answer_txt .ans_right .user_list .uu .ask:hover i{
	background-position: -2px -71px;
}
.answer_txt .ans_right .user_list .uu .caina:hover i{
	background-position: -31px -71px;
}
.answer_txt .ans_right .user_list .uu .pingjia:hover i{
	background-position: -60px -71px;
}
.answer_txt .ans_right .user_list .uu .dashang:hover i{
	background-position: -88px -71px;
}
.answer_txt .close{
	position: absolute;
	bottom: 0;
	right: 85px;
	width: 50px;
	height: 20px;
	color: #52a7df;
	font-size: 14px;
	cursor: pointer;
}
.answer_txt .close i{
	width: 20px;
	height: 20px;
	width: 16px;
    height: 6px;
    display: inline-block;
    background: url(../images/ys_73.png);
    vertical-align: middle;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -486px -15px;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}
.enjoy {
	width: 454px;
	height: 685px;
	background: #fff;
	position: fixed;
	top: 14%;
	left: 40%;
	z-index: 999;
	display: none;
}
.enjoy .enjoy_lead{
	height: 39px;
	background: #52a7df;
	color: #fff;
	line-height: 39px;
}
.enjoy .enjoy_lead p{
	font-size: 14px;
	float: left;
	margin-left: 10px;
	width: 50px;
}
.enjoy .enjoy_lead i{
	font-style: normal;
	font-size: 20px;
	float: right;
	margin-right: 10px;
	cursor:pointer;
	padding: 0 10px;
	width: 17px;
}
.enjoy .person{
	margin: 0 auto;
	width: 118px;
}
.enjoy .person span{
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
    margin-top: 10px;
}
.enjoy .person span img{
	width: 80px;
	height: 80px;
}
.enjoy .person em{
	color: #52a7df;
	width: 85px;
	font-size: 14px;
	float: left;
	text-align: center;
}
.enjoy .person i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    margin-left: 9px;
    float: left;
    margin-top: 3px;
}
.enjoy .en_money{
	padding: 20px 35px 20px 10px;
	border-bottom: 1px dashed #e2e2e2;
}
.enjoy .en_money p{
	font-size: 14px;
}
.enjoy .en_money .dashang_1 ul{
	margin-left: 29px;
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.enjoy .en_money .dashang_1 ul li{
	float: left;
	width: 115px;
	height: 50px;
	background: #eaeaea;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}
.dashang_bc{
	background: #ffa346!important;
}
.enjoy .en_money .other_mnoey{
	width: 352px;
	height: 16px;
	border: 1px solid #c7c7c7;
	padding: 9px 10px 16px 10px;
	line-height: 16px;
	margin-left: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.enjoy .en_money .other_mnoey input{
	width: 352px;
	border: none;
	font-size: 14px;
}
.enjoy .en_money .pay_style ul{
	margin: 20px 0;
	margin-left: 29px;
	width: 600px;
}
.enjoy .en_money .pay_style ul li{
	width: 180px;
	height: 33px;
	line-height: 33px;
	padding: 12px 0;
	float: left;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin-right: 10px;
}
.enjoy .en_money .pay_style ul li em{
	width: 16px;
    height: 16px;
    background: url(../images/ys_48.png) no-repeat;
    background-position: -180px -16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.pay_bc em{
	background-position: -155px -16px !important;
}
.enjoy .en_money .pay_style ul li{
	font-size: 16px;
}
.enjoy .en_money .pay_style ul li i{
	background: url(../images/ys_48.png) no-repeat;
	width: 34px;
	height: 34px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 10px;
}
.enjoy .en_money .pay_style ul .zfb i{
    background-position: -8px -7px;
}
.enjoy .en_money .pay_style ul .wx_1 i{
    background-position: -66px -8px;
}
.enjoy .en_money .pay_style span{
	display: block;
	margin-left: 29px;
}
.enjoy .en_money .pay_style span b{
	background: url(../images/ys_48.png) no-repeat;
    background-position: -124px -16px;
	width: 16px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 10px;
}
.enjoy .rigthnow a{
	display: block;
	width: 112px;
	height: 26px;
	background: #52a7df;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 26px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 15px;
}
.sc_bac {
	color: #62d1cb!important;
}
.sc_bac i{
    background-position: -138px -7px!important;
}
.repeat_txt{
	display: none;

}
.repeat_txt .shuru{
	padding: 10px;
	height: 90px;
	border: 1px solid #ebebeb;
}
.repeat_txt .re_button{
	width: 100%;
}
.repeat_txt .re_button a{
	float: right;
	width: 100px;
	height: 30px;
	background: #52a7df;
	line-height: 30px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	border-radius: 5px;
}
.huida_bc i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.huifu_bc p{
	color: #52a7df!important;
}
.huifu_bc i{
	background-position: -138px -68px!important;
}
.caina_list{
	width: 420px;
	height: 200px;
	background: #fff;
	position: fixed;
	top: 20%;
	left: 40%;
	z-index: 999;
	display: none;
	border-radius: 5px;
}
.caina_list .caina_lead{
	height: 38px;
	border-bottom: 1px solid #dddddd;
	color: #fff;
	background: #52a7df;
	line-height: 38px;
}
.caina_list .caina_lead p{
	    font-size: 14px;
    float: left;
    margin-left: 10px;
    width: 70px;
}
.caina_list .caina_lead i{
    font-style: normal;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    width: 20px;
}
.caina_list span{
	width: 180px;
	margin: 40px auto;
	font-size: 16px;
	display: block;
}
.caina_list ul {
	width: 178px;
	margin: 0 auto;
}
.caina_list ul li{
	width: 80px;
	height: 26px;
	border-radius: 5px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.caina_list ul .sure{
	background: #52a7df;
	float: left;
}
.caina_list ul .cancel{
	background: #999999;
	float: right;
}
.pingjia_list{
		width: 625px;
	height: 345px;
	background: #fff;
	position: fixed;
	top: 20%;
	left: 35%;
	z-index: 999;
	display: none;
	border-radius: 5px;
}
.pingjia_list .pingjia_lead{
	height: 38px;
	border-bottom: 1px solid #dddddd;
	color: #fff;
	background: #52a7df;
	line-height: 38px;
}
.pingjia_list .pingjia_lead p{
	    font-size: 14px;
    float: left;
    margin-left: 10px;
    width: 70px;
}
.pingjia_list .pingjia_lead i{
    font-style: normal;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    width: 20px;
}
.pingjia_list .pingjia_ta{
	padding: 0 10px;
}
.pingjia_list .pingjia_ta .pingjia_txt{
	width: 595px;
	height: 157px;
	padding: 5px;
	border: 1px solid #e2e2e2;
	margin-top: 10px;
}
.pingjia_list .pingjia_ta  label{
	font-size: 16px;
	float: left;
	line-height: 40px;
}
.pingjia_list .pingjia_ta .xing{
	margin-top: 10px;
}
.pingjia_list .pingjia_ta .widgt{
    overflow: hidden;
    padding: 8px;
    float: left;
}
.pingjia_list .pingjia_ta .widgt .pingfen{
	width: 126px;
    height: 22px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    background: url(../images/ys_51.png) 0 -34px repeat-x;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.pingjia_list .pingjia_ta .widgt .pingfen .pingfen_selected{
    position: absolute;
    height: 22px;
    background: url(../images/ys_51.png)0 -1px repeat-x;
    font-size: 0;
    overflow: hidden;
    left: 0;
    top: 0;
}
.pingjia_list .tiji a{
	width: 80px;
	height: 26px;
	background: #52a7df;
	line-height: 26px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px;
}
.ask_bc{
	color: #52a7df!important;
}
.ask_bc i{
	background-position: -2px -71px!important;
}
/* 分页 */
.pagination {height: 36px; margin: 55px 0 60px; display: block;}
.pagination-pages {float: none; max-width: 300px; margin: 0 auto;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 25px; height: 35px; padding: 0 5px; margin: 0 0 0 10px; background-color: #f8f8f8; text-align: center; line-height: 35px; font-size: 16px; cursor: pointer; color: #333; text-decoration: none; border-radius: 4px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #52a7df; color: #fff;}
.pagination-pages a:hover {background-color: #52a7df; color: #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .next {padding: 0 8px; background: #f8f8f8 url(../images/next.png) center center no-repeat;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}