.head{
	height: 34px;
	background: #eeeeee;
	line-height: 34px;
}
.head .head_list{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}

.head .head_list .head_left{
	float: left;
}
.head .head_list .head_left .location{
    float: left;
    width: 64px;
    cursor: pointer;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-right: 10px;
}
.head .head_list .head_left .location:hover{
	border-color: #ddd;
    background: #fff;
}
.head .head_list .head_left .location:hover s{
	display: block;
}
.head .head_list .head_left .location:hover .location_list{
	display: block;
}
.head .head_list .head_left .location:hover i{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .head_left .location i{
    background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: -2px -82px;
    display: inline-block;
    width: 9px;
    height: 8px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;
    margin-left: 5px;
}
.head .head_list .head_left .location b{
    background: url(../images/location.png) no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px;
    margin-left: 4px;
    float: left;
    margin-top: 10px;
}
.head .head_list .head_left .location s{
	    width: 64px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    z-index: 9999;
    left: 0;
    display: none;
}
.head .head_list .head_left .location .location_list{
    position: absolute;
    left: -1px;
    top: 34px;
    width: 482px;
    height: 316px;
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 17px 20px 0 20px;
    display: none;
    z-index: 9;
}
.head .head_list .head_left .location .location_list .lo_lead {
	border-bottom: 1px solid #52a7df;
}
.head .head_list .head_left .location .location_list .lo_lead .location_bc{
	background:#52a7df;
	color: #fff;
}
.head .head_list .head_left .location .location_list .lo_lead li{
	float: left;
	width: 80px;
	height: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
}
.head .head_list .head_left .location .location_list .city{
	margin-top: 12px;
}
.head .head_list .head_left .location .location_list .city ul li em{
	color: #52a7df;
	margin-right: 19px;
	float: left;
}
.head .head_list .head_left .location .location_list .city ul li .cl{
	float: left;
	width: 406px;
}
.head .head_list .head_left .location .location_list .city ul li a{
	margin-right: 12px;
}
.head .head_list .head_left form{
	float: left;
}
.head .head_list .head_left form .name{
	float: left;
	position: relative;
	width: 80px;
    padding-left: 20px;
    background: #fff;
    border-radius: 2px;
    height: 20px;
    margin-top: 7px;
    line-height: 20px;
    overflow: hidden;
}
.head .head_list .head_left form .name b{
	position: absolute;
    left: 4px;
    top: 2px;
	background: url(../images/person.png) no-repeat left;
	background-size: 14px;
	width: 16px;
	height: 16px;
}
.head .head_list .head_left form .name input{
    border: none;
}
.head .head_list .head_left form .password{
	float: left;
	position: relative;
	margin-left: 10px;
	width: 80px;
	border-radius: 2px;
	padding-left: 20px;
	background: #fff;
	height: 20px;margin-top: 7px;
    line-height: 20px;
    overflow: hidden;
}
.head .head_list .head_left form .password b{
	position: absolute;
    left: 4px;
    top: 2px;
	background: url(../images/lock.png) no-repeat left;
	background-size: 14px;
	width: 16px;
	height: 16px;
}
.head .head_list .head_left form .password input{
	border: none;
}
.head .head_list .head_left form button{
	width: 60px;
	height: 20px;
	border-radius: 2px;
	background: #52a7df;
	border: none;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}
.head .head_list .head_left .zhuce{
	float: left;
    width: 60px;
    height: 20px;
    border-radius: 2px;
    margin-left: 10px;
    background: #9fa0a0;
    text-align: center;
    margin-top: 7px;
    line-height: 20px;
}
.head .head_list .head_left p a{
	font-size: 12px;
	color: #fff;
}
.head .head_list .head_left .anthor{
    float: left;
    width: 108px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
}
.head .head_list .head_left .anthor span{
    margin-right: 5px;
    margin-left: 13px;
 }
.head .head_list .head_left .anthor b{
	background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: -2px -85px;
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;

}
.head .head_list .head_left .anthor:hover{
    border-color: #ddd;
    background: #fff;
}
.head .head_list .head_left .anthor:hover .anthor_list{
	display: block;
}
.head .head_list .head_left .anthor:hover b{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .anthor_list{
    width: 108px;
    height: 78px;
    background: #fff;
    border: 1px solid #e2e2e2;
    position: absolute;
    left: -1px;
    top: 34px;
    text-align: center;
    border-top: none;
    display: none;
}
.head .head_list .anthor_list .qq i{
	background:url(../images/public_icons.png) no-repeat;
	background-position: -8px 0px;
	    display: inline-block;
    width: 20px;
    height: 20px;
        margin: -4px 4px 0 0;
    vertical-align: middle;
}
.head .head_list .anthor_list .wx i{
	background:url(../images/public_icons.png) no-repeat;
	background-position: -6px -20px;
	    display: inline-block;
    width: 20px;
    height: 20px;
        margin: -4px 4px 0 0;
    vertical-align: middle;
}
.head .head_list .head_right{
	float: right;
    width: 483px;
}
.head .head_list .head_right ul li{
	float: left;
	margin-left: 25px;
}
.head .head_list .head_right ul li a{
	display: block;
}
.head .head_list .head_right ul .HR_lead{
    cursor: pointer;
    position: relative;
    width: 81px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: 10px;
}
.head .head_list .head_right ul .HR_lead span{
    margin-left: 11px;
}
.head .head_list .head_right ul .HR_lead i{
	width: 81px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom:-1px;
	z-index: 9999;
	left: 0;
	display: none;
}
.head .head_list .head_right ul .HR_lead b{
	background-image: url(../images/public_icons.png);
    background-repeat: no-repeat;
    background-position: 2px -81px;
    display: inline-block;
    width: 17px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: -4px 4px 0 0;
}
.head .head_list .head_right ul .HR_lead:hover{
    border-color: #ddd;
    background: #fff;
}
.head .head_list .head_right ul .HR_lead:hover b{
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .head_list .head_right ul .HR_lead:hover .nav_list{
	display: block;
}
.head .head_list .head_right ul .HR_lead:hover i{
	display: block;
}
.head .head_list .head_right ul .HR_lead .nav_list{
	width: 913px;
	height: 232px;
	border: 1px solid #e2e2e2;
	position: absolute;
	right: -1px;
	top: 34px;
	background:#fff;
	padding: 28px 19px 18px 19px;
	display: none;
	z-index: 9;
}
.head .head_list .head_right ul .HR_lead .nav_list .area{
	width: 177px;
	height: 230px;
	float: left;
	border-right: 1px solid #eeeeee;
	padding-right: 33px;
}
.head .head_list .head_right ul .HR_lead .nav_list .area h1{
	font-size: 15px;
	color: #fe4e31;
	border-left: 4px solid #fe4d31;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 16px;
}
.head .head_list .head_right ul .HR_lead .nav_list .area a{
	width: 35px;
	height: 18px;
	float: left;
	margin-bottom: 7px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}
.head .head_list .head_right ul .HR_lead .nav_list .area a:hover{
	background:#eeeeee;
	color: #fea861;
}
.head .head_list .head_right ul .HR_lead .nav_list .area .area_bc{
	background:#fea861;
	color: #eeeeee;
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality{
	width: 177px;
	padding:0 22px 0 33px;
	float: left;
	border-right: 1px solid #eeeeee;
	height: 230px
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality h1{
	font-size: 15px;
	color: #fea861;
	border-left: 4px solid #fea861;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .speciality a{
 float: left;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 11px;
    width: 48px;
    height: 18px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge{
	padding: 0 33px;
	border-right: 1px solid #eeeeee;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge h1{
	font-size: 15px;
	color: #8cd564;
	border-left: 4px solid #8cd564;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .knowledge a{
	width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 13px;
	text-align: center;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve{
	padding: 0 33px;
	border-right: 1px solid #eeeeee;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve h1{
	font-size: 15px;
	color: #52a7df;
	border-left: 4px solid #52a7df;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .serve a{
		width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 11px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer{
	padding: 0 33px;
	width: 76px;
	float: left;
	height: 230px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer h1{
	font-size: 15px;
	color: #cf74e3;
	border-left: 4px solid #cf74e3;
	height: 14px;
	line-height: 14px;
	text-indent: 10px;
	margin-bottom: 14px;
}
.head .head_list .head_right ul .HR_lead .nav_list .lawyer a{
		width: 76px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 11px;
}
.head .head_list .head_right ul .HR_tel span{
	float: left;
}
.head .head_list .head_right ul .HR_tel em{
	color: #fea861;
	float: left;
}
.head .head_list .head_right ul .HR_tel i{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-style: normal;
    background: #fea861;
    color: #fff;
    float: left;
    margin-top: 11px;
    line-height: 12px;
    margin-left: 5px;
}
.search{
	width: 1200px;
	margin: 0 auto;
}
.search .logo{
	float: left;
	margin-top: 20px;
}
.search .logo img{
	width: 114px;
	height: 55px;
}
.search_list{
	margin-left: 103px;
	float: left;
	width: 650px;
	margin-top: 25px;
	line-height: 40px;
}
.search_list form{
	float: left;
	width: 502px;
	height: 40px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	border-right: none;
}
.search_list .choice{
	font-size: 16px;
    width: 90px;
    padding: 5px 0;
    float: left;
    height: 30px;
    line-height: 30px;
    text-indent: 25px;
    background: url(../images/arrow_1.png) no-repeat 63px 18px;
    position: relative;
}
.search_list .choice i{
	width: 1px;
	height: 28px;
	background: #c7c7c7;
	position: absolute;
	right: -1px;
	top: 5px;
}
.search_list .choice:hover .choice_list{
	display: block;
}
.search_list .choice:hover i{
	height: 38px;
}
.search_list .choice_list{
    position: absolute;
    bottom: -92px;
    left: -1px;
    border: 1px solid #c7c7c7;
	z-index: 999;
    border-top: none;
    display: none;
}
.search_list .choice_list p{
	width: 90px;
	height: 31px;
	background: #fff;
	text-align: center;
	line-height: 31px;
	font-size: 16px;
	cursor: pointer;
	text-indent: 0;
}
.search_list .choice_list p:hover{
	background: #85c0ea;
	color: #fff;
}
.search_list input{
	border:none;
	text-indent: 10px;
	width: 289px;
	font-size: 14px;
}
.search_list form button{
	width: 119px;
	height: 40px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #52a7df;
	font-size: 15px;
	color: #fff;
}
.search_list form button:hover{
	background: #3c95cb;
}
.search_list .online{
	float: left;
	margin-left: 20px;
	width: 118px;
	height: 40px;
	background: #fea861;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 5px;
}
.search_list .online:hover{
	background: #f49e59
}
.search .tell{
	float: right;
	margin-top: 20px;
}
.search .tell img{
	float: left;
	margin-right: 10px;
}
.search .tell span{
	font-size: 14px;
	color: #999999;
}
.search .tell p{
    font-size: 26px;
    color: #52a7df;
    line-height: 30px;
}
.foot{
	border-top: 1px solid #e2e2e2;
	margin-top: 80px;
}
.foot .foot_l{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.foot .foot_l .f_list{
	margin-top: 55px;
}
.foot .foot_l .f_list em{
	margin: 0 5px;
}
.foot .foot_l span{
	margin: 10px 0 20px 0;
	display: block;
}
.none{
	display: none;
}


.lead {
    border-bottom: #52a7df 3px solid;
    margin-top: 18px;
}
.lead .lead_list{
	width: 1200px;
	margin: 0 auto;
}
.lead .lead_list .ll{
	position: relative;
}
.lead .lead_list h1 {
	float: left;
	width: 139px;
	height: 40px;
	background:  #52a7df;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
    position: relative;
}
.lead .lead_list h1 em{
	float: left;
	margin-left: 15px;
}
.lead .lead_list h1 i{
    background: url(../images/home.png) no-repeat center;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 13px;
    margin-left: 25px;
}
.lead .lead_list .dd ul{
	float: left;
}
.lead .lead_list .dd ul li{
	float: left;
	width: 94px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 10px;
}
.lead .lead_list .dd ul li:hover{
	background: #52a7df;
}
.lead .lead_list .dd ul li a{
	display: block;
	font-size: 16px;
}
.lead .lead_list .dd ul li a:hover{
	color: #fff;
}
/*头部导航条*/
.con_tent{position: absolute;left: 0;top: 40px;display: none;z-index: 9;}
.con_tent_list{width: 138px;border: 1px #dfdfdf solid;border-right: none;float: left;}
.nav li .le-ft{height: 43px;padding: 15px 15px 15px 12px;background: #f5f5f5;border-right: 1px #dfdfdf solid}
.min_shang span{background: url(../images/44.png) no-repeat center center;width: 7px;height: 11px;position: absolute;float: right;right: 0;top: 6px;cursor: pointer;}
.min_shang a{font-size: 14px;color: #666;display: inline-block;float: left;}
.min_shang{height: 21px;position: relative;}
.shou_yang a{color: #999;font-size: 12px;margin-right: 4px;}
.shou_yang{height: 29px;line-height: 29px;}
.nav li.law-1,.nav li.law-2,.nav li.law-3,.nav li.law-4,.nav li.law-5,.nav li.law-6,.nav li.law-7{position: relative;width: 138px;height: 73px;}
.la_v{width: 400px;border: 1px solid #dfdfdf;position: absolute;left: 100%;padding: 10px 15px 10px 37px;top: -1px;display:none;z-index: 5;background: #fff;}
.la_v ul{float: left;margin-right: 70px;width: 15%;}
.la_v ul li{line-height: 35px;}
.la_v ul li{color: #666;font-size: 12px;}
li:hover .la_v{display: block;border-left: 1px solid transparent!important;}
li:hover .le-ft{background-color: #fff!important;border-right: 1px solid transparent!important;}
.con_tent .pl_left{
	float: left;
	padding-top: 3px;
	background: #52a7df;
	border-bottom: #52a7df;
	height: 281px;
}
.con_tent .pl_left ul li{
	width: 139px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #52a7df;
	font-size: 16px; 
	cursor: pointer;
}
.con_tent .pl_left ul li i{
	background: url(../images/ys_49.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 22px;
    margin-right: 13px;
    vertical-align: text-bottom;
}
.con_tent .pl_left ul .ld i{
	background-position: -2px -4px;
}
.con_tent .pl_left ul .ht i{
	background-position: -37px -4px;
}
.con_tent .pl_left ul .bx i{
	background-position: -74px -4px;
}
.con_tent .pl_left ul .dy i{
	background-position: -107px -1px;
}
.con_tent .pl_left ul .bc i{
    background-position: -142px -2px;
}
.con_tent .pl_left ul .fl i{
    background-position: -176px -1px;
}
.con_tent .pl_left ul .bh i{
    background-position: -209px -4px;
}
.con_tent .pl_left ul .pro_lead_bc{
	background: #fff;
	color: #52a7df;
	border-left: 1px solid #52a7df;
	width: 138px;
}
.con_tent .pl_left ul .ld.pro_lead_bc i{
	background-position: -2px -28px
}
.con_tent .pl_left ul .ht.pro_lead_bc i{
	background-position: -37px -28px
}
.con_tent .pl_left ul .bx.pro_lead_bc i{
	background-position: -74px -28px
}
.con_tent .pl_left ul .dy.pro_lead_bc i{
	background-position: -107px -25px;
}
.con_tent .pl_left ul .bc.pro_lead_bc i{
    background-position: -142px -26px;
}
.con_tent .pl_left ul .fl.pro_lead_bc i{
    background-position: -176px -25px;
}
.con_tent .pl_left ul .bh.pro_lead_bc i{
    background-position: -209px -28px;
}
.con_tent .pl_list{
	float: left;
}
.con_tent .pl_list .pl_right{
	float: left;
	width: 460px;
	height: 260px;
	border-right: 1px solid #52a7df;
	border-bottom: 1px solid #52a7df;
	border-top: #52a7df 3px solid;
	background: #fff;
	padding: 10px 20px;
}
.con_tent .pl_list .pl_right ul li{
	float: left;
	font-size: 16px;
	white-space: nowrap;
}
.con_tent .pl_list .pl_right ul li a{
	display: block;
	padding: 5px;
	margin-right: 5px;
}
.con_tent .pl_list .pl_right ul li a:hover{
	color: #52a7df;
}