.lead .lead_list .dd ul li{
	    float: left;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}
.lead .lead_list h1 i{
    background: url(../images/location_1.png) no-repeat center;
}
.part_1{
	width: 1200px;
	margin: 15px auto;
	font-size: 14px;
}
.part_1 a{
	margin-right: 2px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .p2_left{
	float: left;
	width: 848px;
}
.part_2 .p2_left .screen{
	width: 846px;
	border: 1px solid #ededed;
}
.part_2 .p2_left .screen .sc_l {
	background: #f8f8f8;
}
.part_2 .p2_left .screen div span{
	width: 98px;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	text-align: right;
	padding-right: 10px
}
.part_2 .p2_left .screen div .sc_1{
	width: 738px;
	background: #fff;
	float: left;
}
.part_2 .p2_left .screen .sc_list .sc_1 ul{
	margin-left: 10px;
	margin-top: 15px;
}
.part_2 .p2_left .screen .sc_list .sc_1 ul li{
	float: left;
	width: 55px;
	height: 11px;
	border: 1px solid #52a7df;
	padding: 5px;
	line-height:11px;
	color: #52a7df;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.part_2 .p2_left .screen .sc_list .sc_1 ul li i{
	float: left;
	font-style: normal;
}
.part_2 .p2_left .screen .sc_list .sc_1 ul li em{
    float: right;
    background: url(../images/ys_44.png) no-repeat 0 -1px;
    width: 12px;
    height: 12px;
}
.part_2 .p2_left .screen .sc_list .sc_1 p{
	color: #999999;
	line-height: 22px;
	float: left;
}
.part_2 .p2_left .screen .sc_list .sc_1 p b{
	color: #000;
	margin: 0 3px;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul {
	margin-top: 12px;
	margin-bottom: 5px;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul li{
	float: left;
	width: 74px;
	margin-left: 10px;
	font-size: 14px;
	margin-bottom: 5px;
}
.part_2 .p2_left .hint{
	width: 848px;
	border: 1px solid #ededed;
	height: 53px;
	line-height: 53px;
	margin: 20px 0;
}
.part_2 .p2_left .hint span{
	width: 200px;
	height: 53px;
	float: left;
	background: #52a7df;
	color: #fff;
	text-align: center;
	font-size: 17px
}
.part_2 .p2_left .hint p{
	float: left;
	margin-left: 10px;
	font-size: 15px;
	color: #999999;
}
.part_2 .p2_left .hint p i{
	width: 22px;
	height: 25px;
	display: inline-block;
	background: url(../images/ys_41.png) no-repeat center;
	vertical-align: middle;
	margin: 0 5px;
}
.part_2 .p2_left .hint p em{
	color: #52a7df;
}
.part_2 .p2_left .p2l_list{
	width: 848px;
	border: 1px solid #ededed;
}
.part_2 .p2_left .p2l_list .soli_txt{
	padding: 25px 20px 25px 20px;
	position:relative;
}
.part_2 .p2_left .p2l_list .soli_txt:hover{
	background: #f8f8f8;
}
.part_2 .p2_left .p2l_list .soli_txt:hover .online a{
	background: #52a7df;
	color: #fff;
}
.part_2 .p2_left .p2l_list .soli_txt img{
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
}
.part_2 .p2_left .p2l_list .soli_txt p{
	margin-bottom: 9px;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_name span{
	font-size: 18px;
	color: #52a7df;
	font-weight: bold;	
}
.part_2 .p2_left .p2l_list .soli_txt .soli_name span em{
	margin-right: 5px;font-weight: bold;	
}
.part_2 .p2_left .p2l_list .soli_txt .soli_name i{
	width: 22px;
	height: 25px;
	display: inline-block;
	background: url(../images/ys_41.png) no-repeat center;
	vertical-align: middle;
	margin: 0 5px;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_name b{
	font-weight: normal;
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_infor{
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_place i{
    background: url(../images/ys_42.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -2px -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_place{
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_ll .help{
	font-size: 14px;
	color: #999999;
	margin-right: 40px;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_ll .help i{
    background: url(../images/ys_42.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -23px -2px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_ll .price{
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_left .p2l_list .soli_txt .soli_ll .price i{
    background: url(../images/ys_42.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -45px -2px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}
.part_2 .p2_left .p2l_list .soli_txt ul li{
	float: left;
	font-size: 14px;
	color: #52a7df;
	margin-right: 20px;
}
.part_2 .p2_left .p2l_list .soli_txt ul li i{
	background: url(../images/ys_42.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}
.part_2 .p2_left .p2l_list .soli_txt ul .zy i{
	background-position: -4px -22px;
}
.part_2 .p2_left .p2l_list .soli_txt ul .sj i{
    background-position: -22px -23px;
}
.part_2 .p2_left .p2l_list .soli_txt ul .vip i{
	background-position: -43px -21px;
}
.part_2 .p2_left .p2l_list .soli_txt .online{
	padding-left: 60px;
	border-left: 1px solid #f8f8f8;
	width: 140px;
	height: 72px;
	position: absolute;
    right: 34px;
    top: 54px;
}
.part_2 .p2_left .p2l_list .soli_txt .online span{
	width: 143px;
    display: block;
    font-size: 18px;
    color: #fea861;
    margin-bottom: 10px;
}
.part_2 .p2_left .p2l_list .soli_txt .online span i{
	background: url(../images/ys_42.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;;
    margin-right: 2px;
    background-position: -23px -44px;
    float: left;
}
.part_2 .p2_left .p2l_list .soli_txt .online a{
	display: block;
	width: 105px;
	height: 38px;
	border: 1px solid #ededed;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren span {
	color: #000;
	margin-right: 10px;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren span em{
	color: #000;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren1 li{
	color: #999999;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren1 .zy i{
	background-position: -4px -66px;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren1 .sj i{
    background-position: -22px -66px;
}
.part_2 .p2_left .p2l_list .soli_txt .no_ren1 .vip i{
	background-position: -43px -68px;
}
.part_2 .p2_left .fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.part_2 .p2_left .fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.part_2 .p2_left .fen ul li:hover{
	    background: #52a7df;
}
.part_2 .p2_left .fen ul li:hover a{
	color: #fff;
}
.part_2 .p2_left .fen ul li a{
	display: block;
}
.part_2 .p2_left .fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.part_2 .p2_right{
	float: right;
	width: 300px;
}
.part_2 .p2_right .choice{
	width: 298px;
	height: 361px;
	border: 1px solid #ededed;
}
.part_2 .p2_right .choice .ch_lead{
	height: 105px;
	background: url(../images/ys_43.png) no-repeat 0px 0px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}
.part_2 .p2_right .choice .ch_lead span{
	font-size: 20px;
	color: #fea861;
	padding-top: 32px;
	display: block;
}
.part_2 .p2_right .choice .ch_lead  p{
	color: #999999;
	font-size: 14px;
	margin-top: 5px;
}
.part_2 .p2_right .choice .ch_txt ul{
	padding: 0 10px;
}
.part_2 .p2_right .choice .ch_txt ul li{
	margin: 20px 0;
	position:relative;
	height: 50px;
}
.part_2 .p2_right .choice .ch_txt ul li em{
	color: #fff;
	position: absolute;
	left: 0;top: 11px;
}

.part_2 .p2_right .choice .ch_txt ul li p{
	font-size: 20px;
	font-weight: bold;
    margin-left: 47px;
}
.part_2 .p2_right .choice .ch_txt ul li span{
    font-size: 14px;
    color: #999999;
    width: 225px;
    display: block;
    margin-left: 48px;
}
.part_2 .p2_right .choice .ch_txt ul .tou em{
	width: 36px;
	height: 36px;
	float: left;
	background: #7ecd6f;
	border-radius: 100%;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
}
.part_2 .p2_right .choice .ch_txt ul .ben em{
	width: 36px;
	height: 36px;
	float: left;
	background: #52a7df;
	border-radius: 100%;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
}
.part_2 .p2_right .choice .ch_txt ul .ren em{
	width: 36px;
	height: 36px;
	float: left;
	background: #fea861;
	border-radius: 100%;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
}
.part_2 .p2_right .rank{
	padding: 20px;
	border:  1px solid #ededed;
	width: 258px;
	height: 501px;
	margin-top: 20px;
}
.part_2 .p2_right .rank h1{
	font-size: 16px;
	margin-bottom: 15px;
}
.part_2 .p2_right .rank ul li{
	float: left;
	width: 86px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	color: #a9a9a9;
	border-bottom: 1px solid #eeeeee;
	cursor: pointer;
}
.rank_bc{
	border-bottom: 1px solid #52a7df!important;
	color: #52a7df!important;
}
.part_2 .p2_right .rank .rank_list .rank_txt{
    margin: 20px 0;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_l{
	float: left;
	margin-right: 10px;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_l span{
	width: 86px;
	height: 86px;
	overflow: hidden;
	display: block;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_l a{
	width: 86px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #ededed;
	display: block;
	border-radius: 5px;
	margin-top: 10px;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_r p{
	font-size: 12px;
	color: #999999;
	margin-bottom: 6px;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_r .name{
	font-size: 14px;
	color: #52a7df;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_r .tel{
	font-size: 15px;
	color: #fea861;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_r .tel i{
	    background: url(../images/ys_42.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    background-position: -23px -44px;
}
.part_2 .p2_right .rank .rank_list .rank_txt .rt_r .re b{
	font-weight: normal;
	margin-left: 10px;
}
.part_2 .p2_right .ad_1{
	margin: 20px 0;
}
.part_2 .p2_right .ad_1 a img{
	width: 300px;
	height: 88px;
}
.part_2 .p2_right .ad_2 a img{
	width: 300px;
	height: 180px;
}
.part_2 .p2_right .same{
	height: 140px;
	background: #f5f5f5;
	width: 260px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}
.part_2 .p2_right .same h1{
	font-size: 16px;
}
.part_2 .p2_right .same h1 i{
    background: url(../images/ys_42.png) no-repeat;
    width: 20px;
    height: 20px;
    background-position: -42px -47px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.part_2 .p2_right .same a{
	display: block;
	width: 260px;
	height: 40px;
	background: #f69634;
	color:#fff;
	line-height: 40px;
	font-size: 15px;
	margin-bottom: 20px;
	margin-top: 17px;
}
.part_2 .p2_right .same span em{
	width: 118px;
	height: 32px;
	border: 1px solid #ededed;
	background: #fff;
	font-size: 15px;
	border-radius: 5px;
	float: left;
	line-height: 32px;
}
.part_2 .p2_right .same span b{
	width: 118px;
	height: 32px;
	border: 1px solid #ededed;
	background: #fff;
	font-size: 15px;
	border-radius: 5px;
	float: right;
	line-height: 32px;
	font-weight: normal;
}
.part_2 .p2_right .wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.part_2 .p2_right .wx img{
    margin-top: 29px;
}
.part_2 .p2_right .wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.part_2 .p2_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.part_2 .p2_right .wx p{
	font-size: 12px;
	color: #999999;
}
.part_3{
	width: 1200px;
	margin: 150px auto;
}
.part_3 h1{
	font-size: 16px;
	margin-bottom:30px; 
}
.part_3 ul li{
	float: left;
	width: 80px;
	margin-right: 20px;
	margin-bottom: 5px;
}
.part_3 ul li a{
	font-size: 14px;
	color: #999999;
}
.part_2 .p2_left .fen ul .fen_all:hover{
	background: none;
}