.tran_list{
    float: right;
    width: 936px;
    background: #fff;
    border: 1px solid #ececec;
}
.tran_list .tran_lead{
    height: 75px;
    line-height: 75px;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.tran_list .tran_lead span{
	margin-left: 30px;
	display: block;
}
.tran_list .tran_lead p{
	float: right;
	font-size: 14px;
	padding-bottom: 10px;
	position: absolute;
	right: 40px;
	bottom: -30px;
}
.tran_list .tran_lead p em{
	color: #52a7df;
}
.tran_list .tran_lead p a{
	margin-left: 10px;
	color: #fea861;
    text-decoration: underline;
}
.tran_list .tran_de .tran_ll{
	border-bottom: 1px dashed #ededed;
    text-align: center;
}
.tran_list .tran_de .tran_ll span{
	    float: left;
    width: 33%;
    height: 54px;
    line-height: 54px;
}
.tran_list .tran_de .item_list .item{
	border-bottom: 1px dashed #ededed;
    padding: 15px 0;
    font-size: 14px;
}
.tran_list .tran_de .item_list .item div{
	float: left;
	width: 33%;
	text-align: center;
}
.tran_list .tran_de .item_list .item div em{
	color: #ff4400;
}
.tran_list .tran_de .item_list .item div i{
	color: #ff4400;
	font-style: normal;
	color: #52a7df;
}

/* 分页 */
.pagination {height: 36px; margin: 55px 0 60px; display: block;}
.pagination-pages {float: none; max-width: 300px; margin: 0 auto;}
.pagination-pages a, .pagination-pages span {float: left; min-width: 25px; height: 35px; padding: 0 5px; margin: 0 0 0 10px; background-color: #f8f8f8; text-align: center; line-height: 35px; font-size: 16px; cursor: pointer; color: #333; text-decoration: none; border-radius: 4px;}
.pagination-pages .curr, .pagination-pages .interim {cursor: default;}
.pagination-pages .curr {background: #52a7df; color: #fff;}
.pagination-pages a:hover {background-color: #52a7df; color: #fff;}
.pagination-pages .prev, .next {padding: 0 8px;}
.pagination-pages .next {padding: 0 8px; background: #f8f8f8 url(../images/next.png) center center no-repeat;}
.pagination-pages .disabled {background-color: #999; color: #fff; cursor: default;}
