 .gj_lead{
    width: 1200px;
    margin: 10px auto;
    font-size: 16px;
    margin-bottom: 20px;
 }
  .gj_lead a{
    font-size: 16px;
  }
 .tb-service-info{
    width: 1200px;
    margin: 0 auto;
 }
 .provider {
    width: 634px;
    float: left;
}

 .provider .avatar {
    width: 214px;
    height: 214px;
    overflow: hidden;
    float: left;
    margin-right: 25px;
}

 .provider .avatar img {
    width: 100%
}

 .provider .score {
    margin-left: 12px
}

 .provider .descrbe {
    width: 390px;
    float: left;
}

 .provider .descrbe .name {
    font-size: 20px;
    margin-bottopxm: 5px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 6em;
    display: inline-block;
    vertical-align: middle
}

 .provider .descrbe .isSign {
    color: #999;
    font-size: 12px
}

 .provider .descrbe .user-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-right: 1em;
    line-height: 30px;
    font-family: "Microsoft Yahei",arial;
}

 .provider .descrbe .shop-name, .provider .descrbe .shop-name a {
    color: #999
}

 .provider .descrbe .shop-name a:hover {
    color: #feb302;
    text-decoration: none
}

 .provider .descrbe .introduction {
    margin-top: 20px;
    line-height: 28px;
    color: #999
}

 .provider .descrbe .introduction.maxheight .show-more {
    margin-top: -28px
}

 .provider .descrbe .introduction .content {
    max-height: 112px
}

 .provider .descrbe .introduction .lquote {
    font-size: 12px;
    color: #C6C6C6;
    background:url(../images/j_1.png) no-repeat center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}
.provider .descrbe .introduction .rquote{
       font-size: 12px;
    color: #C6C6C6;
    background:url(../images/j_2.png) no-repeat center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
}
 .provider .descrbe .introduction .show-more {
    float: right;
    position: relative;
    z-index: 2
}

 .provider .descrbe .introduction .show-more a {
    color: #999;
    text-decoration: none
}

 .provider .descrbe .introduction .show-more:hover .more-info {
    display: block
}

 .provider .descrbe .introduction .show-more:hover a {
    color: #feb302
}

 .provider .descrbe .introduction .more-info {
    position: absolute;
    top: 28px;
    right: 0;
    width: 368px;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #f5f5f5;
    font-size: 12px;
    display: none
}

 .provider .descrbe .introduction .more-info p {
    line-height: 25px;
    margin: 10px 0
}

 .provider .descrbe .introduction .more-info strong {
    color: #333
}

 .serveice {
    width: 390px
}
.serveice {
    width: 345px;
    float: left;
    margin-left: 162px;
}

.serveice .item {
    margin-bottom: 10px
}

.serveice .field {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1em;
    height: 28px;
    line-height: 25px;
    font-family: "Microsoft Yahei",arial
}

.serveice .field-content {
    display: inline-block;
    font-size: 14px;
    width: 222px;
    position: relative;
    height: 28px;
    line-height: 28px;
    vertical-align: bottom
}

.serveice .field-content .city-list {
    height: 28px;
    overflow: hidden
}

.serveice .field-content .drop-down {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    z-index: 2
}

.serveice .field-content .drop-down a {
    text-decoration: none;
    color: #999
}

.serveice .field-content .drop-down:hover a {
    color: #feb302
}

.serveice .field-content .drop-down:hover .more-info {
    display: block
}

.serveice .field-content .icon-xiala {
    background: #fff
}

.serveice .field-content .more-info {
    position: absolute;
    display: none;
    top: 28px;
    right: 0;
    width: 210px;
    padding: 10px;
    background: #fff;
    border: 1px solid #f5f5f5;
    color: #999;
    font-size: 12px;
}

.serveice .field-content .more-info-title {
    font-weight: 700;
    font-family: "Microsoft Yahei",arial;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
    display: block;
    text-align: center
}

.serveice .city {
    margin-right: 9px;
    display: inline-block
}

.serveice .price {
    color: #feb302
}

.serveice .unit {
    font-size: 12px;
    color: #999
}

.serveice .book-btn-wrap {
    padding-top: 11px
}
.bool_button{
    width: 385px;
}

.serveice .book-btn-1 {
    display: block;
    width: 269px;
    line-height: 49px;
    text-align: center;
    background: #feb302;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    float: left;
    margin-right: 10px;
}
.serveice .book-btn:hover {
    text-decoration: none;
    background: #eda300
}

.serveice .book-btn.grey {
    background: #999
}

.serveice .book-price {
    margin-left: 6px;
    font-size: 12px;
    display: none
}

.serveice .price-desc {
    width: 265px;
    text-align: center;
    display: block;
    line-height: 20px;
    height: 40px;
    color: #999;
    margin-top: 6px
}

.serveice .sns {
    margin-top: 30px;
    position: relative;

}

.serveice .sns-item {
    margin-right: 40px;
    font-size: 12px;
}
.serveice .sns-item .bds_more{
    background: #fff;
    position: absolute;
    top: -6px;
    right: 206px;
    width: 30px;
    height: 20px;
    opacity: 0;
}
.serveice .sns-item a {
    color: #999;
    text-decoration: none
}

.serveice .sns-item .yellowh:hover {
    color: #feb302
}

.serveice .sns-item .icon-xing {
    font-size: 18px;
    margin-right: 4px;
        background: url(../images/j-3.png) no-repeat center;
    background-size: 18px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-bottom;
}
.icon-fenxiang{
    background: url(../images/j-4.png) no-repeat center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;  
    vertical-align: text-bottom;
    margin-right: 3px;  
}
.fu_list{
    width: 1200px;
    margin: 0 auto;
}
.fu_lead{
    margin-top: 35px;
    height: 53px;
    background: url(../images/TB14m2BFVXXXXcbaXXXAz6UFXXX-16-16.png);  
}
.fu_lead a{
    font-size: 16px;
    color: #333;
    margin-left: 66px;
    padding: 0 66px;
    line-height: 50px;
    height: 50px;
    float: left;
}
.active{
        line-height: 50px;
    height: 50px;
    border-bottom: 3px solid #feb302;
    vertical-align: top;
}
.active{
    color: #feb302!important
}
.homelist_txt{display: none;}
#J_homelist{margin-top: 20px;}
.homelist-box{width:1110px;padding:0 40px;margin-bottom:20px}
.homelist-box .homelist-items{margin-left:-40px}
.homelist-box .homelist-items .homelist-item{width:340px;height:352px;margin-left:43px;margin-bottom:40px;float:left;display:inline;position:relative}
.homelist-box .homelist-items .homelist-item:hover .control-box{display:block}
.homelist-box .homelist-items .pk-items{height:290px}
.homelist-box .homelist-items .pk-items .add-box{height:262px}
.homelist-box .homelist-items .pk-items .add-box .add-heng{top:122px}
.homelist-box .homelist-items .pk-items .add-box .add-su{top:87px}
.homelist-box .homelist-items .pk-items .add-box .add-text{top:173px}
.homelist-box .homelist-items .add-box{display:block;border:1px solid #e6e6e6;background:#fafafa;width:341px;height:350px;color:#c5c5c5;font-size:18px;text-align:center;position:relative}
.homelist-box .homelist-items .add-box .add-heng{position:absolute;left:134px;top:152px;width:75px;height:5px;font-size:0;overflow:hidden;background:#c5c5c5}
.homelist-box .homelist-items .add-box .add-su{position:absolute;top:117px;left:169px;height:75px;width:5px;font-size:0;overflow:hidden;background:#c5c5c5}
.homelist-box .homelist-items .add-box .add-text{position:absolute;top:193px;width:350px;left:0}
.homelist-box .homelist-items .add-box:hover{border-color:#ffc600;background:#fffbee;color:#ffc600}
.homelist-box .homelist-items .add-box:hover .add-heng,.homelist-box .homelist-items .add-box:hover .add-su{background:#ffc600}
.homelist-box .homelist-items .control-box{position:absolute;left:0;top:0;z-index:5;text-align:center;display:none}
.homelist-box .homelist-items .control-box .notice-msg{width:304px;height:125px;background:#fff;position:absolute;left:19px;top:215px;border-radius:3px;box-shadow:0 0 8px #999;text-align:left;color:#666}
.homelist-box .homelist-items .control-box .notice-msg .checking-msg{font-size:14px;margin-top:34px;margin-left:40px;width:230px;line-height:24px}
.homelist-box .homelist-items .control-box .notice-msg .checking-msg b{color:#ff5858;margin:0 2px}
.homelist-box .homelist-items .control-box .notice-msg .nopass-msg{padding:17px 20px}
.homelist-box .homelist-items .control-box .notice-msg .nopass-msg .hd{height:19px;line-height:19px;border-bottom:1px solid #ddd}
.homelist-box .homelist-items .control-box .notice-msg .nopass-msg .bd{line-height:20px}
.homelist-box .homelist-items .control-box a{position:absolute;top:10px}
.homelist-box .homelist-items .remove{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,.5);position:absolute;top:0;left:0;text-align:center;overflow:hidden}
.homelist-box .homelist-items .remove p{color:#fff;font-size:16px;margin-top:130px}
.homelist-box .homelist-items .remove .delete{display:block;margin:0 auto;padding:2px 5px;width:80px;font-size:14px;margin-top:10px}
.homelist-box .homelist-items .delete,.homelist-box .homelist-items .edit{background:#fff;width:56px;height:28px;border-radius:3px;color:#666;line-height:28px;text-decoration:none}
.youjia-iconfont{background: url(../images/j-5.png) no-repeat center;width: 15px;height: 15px;float: left;background-size: 15px;margin-top: 5px;}
.youjia-iconfont-1{background: url(../images/j-6.png) no-repeat center;width: 15px;height: 15px;float: left;background-size: 15px;margin-top: 3px;}
.homelist-box .homelist-items .delete:hover,.homelist-box .homelist-items .edit:hover{background:#ffc600;color:#fff}
.homelist-box .homelist-items .delete{left:279px}
.homelist-box .homelist-items .edit{left:213px}
.homelist-box .homelist-items .set-face{width:90px;height:40px;line-height:40px;position:absolute;top:120px;left:130px;background:#505050;color:#fff;display:block;border-radius:3px;font-size:14px}
.homelist-box .homelist-items .imessage{height:82px;padding:10px 15px;border:1px solid #fff}
.homelist-box .homelist-items .imessage h3{font-size:18px;height:20px;line-height:20px;overflow:hidden}
.homelist-box .homelist-items .imessage h3 a{color:#333;font-weight: bold;}
.homelist-box .homelist-items .imessage .info{color:#666;height:30px;line-height:30px;overflow:hidden;width:313px;margin-bottom:5px}
.homelist-box .homelist-items .imessage .info span{border-left:1px solid #dfdfdf;padding:0 5px;margin-left:-1px}
.homelist-box .homelist-items .imessage .summary{color:#999;font-size:12px;height:48px;line-height:24px;overflow:hidden;text-align:center}
.homelist-box .homelist-items .imessage .summary span{font-size:12px;color:#ddd}
.homelist-box .homelist-items .imessage .sns-count{color:#999;height:25px;line-height:25px;font-family:tahoma;margin-top: 15px;}
.homelist-box .homelist-items .imessage .sns-count dt{text-align:center}
.homelist-box .homelist-items .imessage .sns-count dd{float:left;width:60px}
.homelist-box .homelist-items .imessage .sns-count dd span{margin-right:2px;vertical-align:top}
.homelist-box .pk-item{border:1px solid #f4f4f4;position:relative}
.homelist-box .pk-item .notice{position:absolute;left:0;top:106px;height:40px;line-height:40px;color:#fff;width:100%;text-align:center;font-size:18px;z-index:119}
.homelist-box .pk-item .notice span{margin-left:3px}
.homelist-box .pk-item .checking{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E52DC778', endColorstr='#E52DC778');background:rgba(45,199,120,.9)}
.homelist-box .pk-item .nopass{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5FF5858', endColorstr='#E5FF5858');background:rgba(255,88,88,.9)}
.homelist-box .pk-item .control-box{z-index:120}
.homelist-box .pk-item .control-box .notice-msg{top:120px}
.homelist-box .pk-item .ipic{height:140px;background:#fefbcb;overflow:hidden}
.homelist-box .pk-item .ipic a{display:block}
.homelist-box .pk-item .ipic .ipic-inner{width:245px;height:80px;margin:30px auto 0;position:relative}
.homelist-box .pk-item .ipic .ipic-inner .pkbg{height:88px}
.homelist-box .pk-item .ipic .ipic-inner .pkobj{position:absolute;z-index:9;width:68px;height:68px;border-radius:50%;top:8px}
.homelist-box .pk-item .ipic .ipic-inner .pkobj-0{left:10px}
.homelist-box .pk-item .ipic .ipic-inner .pkobj-1{right:3px}
.homelist-box .pk-item .imessage{height:94px;padding:13px;background:#fff}
.homelist-box .pk-item .imessage h3{height:60px;line-height:30px}
.homelist-box .pk-item .imessage .sns-count dt{text-align:right}
.homelist-box .model-item{position:relative}
.homelist-box .model-item .remove{width:343px;height:352px}
.homelist-box .model-item .ipic{width:343px;height:250px;background-position:center;background-repeat:no-repeat}
.homelist-box .model-item .ipic a{display:block;width:343px;height:250px;text-decoration:none;background:url(../images/T1ty2QFNNXXXc6Yc2r-1-1.gif) left top repeat}
.homelist-box .model-item .ipic a:hover{text-decoration:none}
.homelist-box .model-item .notice{position:absolute;left:0;top:166px;height:40px;line-height:40px;color:#fff;width:100%;text-align:center;font-size:18px}
.homelist-box .model-item .notice span{margin-left:3px}
.homelist-box .model-item .checking{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E52DC778', endColorstr='#E52DC778');background:rgba(45,199,120,.9)}
.homelist-box .model-item .nopass{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5FF5858', endColorstr='#E5FF5858');background:rgba(255,88,88,.9)}
.pagination{text-align:center;font-family:tahoma;color:#333;font-size:14px;font-weight:700}
.pagination a,.pagination span{color:#666;margin:5px;display:inline-block;text-decoration:none}
.pagination .btn{width:28px;height:32px;line-height:32px;background-image:url(../images/TB1Z6xLHXXXXXcMXpXXuUT4IXXX-66-32.png);background-repeat:no-repeat;background-position:-38px 0}
.pagination .btn:hover{background-position:0 0;color:#fff;text-decoration:none}
.pagination .act{background-position:0 0;color:#fff}
.pagination .prev{margin-right:10px}
.pagination .next{margin-left:10px}
.disk{
    background-color: rgba(0,0,0,.7);
    opacity: .7!important;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999999;
    position: fixed;
    display: none;
}
.gou_detail{
    width: 698px;
    height: 354px;
    background: #fff;
    padding: 37px 51px 33px 23px;
    position: fixed;
    top: 20%;
    right: 31%;
    z-index: 9999999;
    display:none;
}
.gou_detail .gou_lead{
    font-size: 14px;
    margin-bottom: 20px;
}
.gou_detail .gou_lead .l_1{
    color: #ff4f6f;
}
.gou_detail .gou_lead input{
    width: 111px;
    height: 33px;
    text-indent: 10px;
    border: 1px solid #e6e6e6;
}
.gou_detail .gou_lead .l_p{
    margin-left: 36px;
    margin-right: 25px;
}
.gou_detail .gou_lead .l_2{
    font-size: 25px;
    color: #ff4400;
    font-weight: bold;
    width: 163px;
    overflow: hidden;
    display: inline-block;
    line-height: 21px;
}
.gou_detail .gou_lead .l_2 i{
    font-size: 25px;
    font-style: normal;
    color: #ff4400;
    font-weight: bold;
}
.gou_detail .gou_lead .l_f{
    font-weight: bold;
    margin-left: 53px;
}
.gou_detail .gou_lead .l_3{
    color: #feb302;
    margin-left: 21px;
}
.gou_detail .gou_lead i{
    font-style: normal;
    color: #999999;
}
.gou_detail .gou_txt{
    font-size: 14px;
}
.gou_detail .gou_txt .gou_1{
    float: left;
}
.gou_detail .gou_txt .l_1{
    color: #ff4f6f;
}
.gou_detail .gou_txt .gou_2{
    margin-left: 85px;
}
.gou_detail .gou_txt .gou_2 em{
    color: #feb302;
}
.gou_detail .gou_txt .gou_2 .shuru{
    border: 1px solid #e6e6e6;
    width: 608px;
    height: 179px;
}
.gou_detail .gou_txt .gou_2 span{
    width: 148px;
    height: 66px;
    color: #fff;
    background-color: #feb302;
    display: block;
    text-align: center;
    line-height: 66px;
    font-size: 23px;
    margin-top: 10px;
    cursor:pointer
}
.gou_detail .close {
        background: url(../images/cha.png) no-repeat center;
    background-size: 15px;
    border: 1px solid #333;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -36px;
    right: -35px;
    background-color: #fff;
}
/* 购物车 */
.glocart {position: fixed; right: 10px; bottom: 0; _position: absolute; _top: expression(documentElement.scrollTop + documentElement.clientHeight-38); z-index: 500;}
.glocart .cartbtn {position: relative; z-index: 2; width: 270px; height: 25px; line-height: 22px; padding: 5px 0; background: #f46060; cursor: pointer;}

.glocart .cartpop {position: absolute; display: block; left: 0; top: 5px; right: 100px; bottom: 5px; color: #fff; border-right: 1px solid #fab0b0;}
.glocart .cartpop span {display: inline-block; vertical-align: middle; margin-left: 25px; padding-left: 5px;}
.glocart .cartpop span b {font-weight: 700; padding: 0 5px; font-size: 14px;}
.glocart .cartpop sub {position: absolute; left: 8px; top: 6px; width: 17px; height: 15px; background: url('../images/sprite.png') -47px -123px;}
.glocart .cartpop sup {display: inline-block; vertical-align: middle; height: 0; width: 0; margin: 13px 0 -5px 5px; border: 5px dashed transparent; border-top-color: #fff; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; -webkit-transform-origin: 50% 25%; -moz-transform-origin: 50% 25%; transform-origin: 50% 25%;}
.cart_on .cartbtn {background: #ef5353;}
.cart_on .cartbtn sup {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}

.glocart .cartlink {position: absolute; right: 0; top: 0; bottom: 0; width: 100px; text-align: center; color: #fff; font-size: 16px; line-height: 35px;}
.glocart .cartlink s {display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin: -3px 0 0 3px; background: url('../images/sprite.png') -48px -141px;}

.glocart .cartcontent {position: fixed; display: none; bottom: -10px; right: 0; _position: absolute; _top: -461px; width: 290px; height: 0; max-height: 500px; opacity: 0; filter: alpha(opacity=0); z-index: 1; overflow: hidden; padding: 10px 10px 40px; background: rgba(0,0,0,.1); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden;}
.glocart .cartwrap {padding: 7px 0 10px; height: 100%; border: 1px solid #b5b5b5; background: #fff; -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); -moz-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15);}

/* 购物车列表 */
.glocart .cartlist {display: none; position: relative;}
.glocart .cartlist ul {max-height: 440px; overflow: hidden; overflow-y: auto;}
.glocart .cartlist li {height: 50px; padding: 12px 10px; border-bottom: 1px dashed #eee;}
.glocart .cartlist li:hover {background-color: #f9f9f9;}
.glocart .cartlist li .pic {float: left;}
.glocart .cartlist li .pic, .glocart .cartlist li .pic img {width: 70px; height: 50px;}
.glocart .cartlist li .info {position: relative; overflow: hidden; padding-left: 10px;}
.glocart .cartlist li .info h5 {height: 18px; overflow: hidden; font-size: 12px;}
.glocart .cartlist li .info h2 {float: right; }
.glocart .cartlist li .info span {float: left;}
.glocart .cartlist li .info strong {color: #f46060; font-weight: 500;}
.glocart .cartlist li .info .del {float: right; display: none;}

.glocart .cartlist .statics {height: 50px; line-height: 53px; text-align: center;}
.glocart .cartlist .statics span {color: #f46060;}
.glocart .cartlist .statics span strong {font-size: 16px;}

/* 空的购物车 */
.glocart .empty {display: none; padding: 50px 0; text-align: center; font-size: 14px;}

/* 加载中 */
.glocart .loading {padding: 50px 0; text-align: center; font-size: 14px;}

.cartflyer {width: 40px; height: 40px; border-radius: 50%; z-index: 900;}
.flyend {position: absolute; z-index: 10000; width: 20px; height: 20px; border-radius: 10px; color: #fff; background-color: #ff621d; text-align: center; line-height: 20px; font-weight: 500; font-size: 12px;}
