.heart_lead{
	width: 1200px;
	margin: 10px auto;
	height: 300px;
}
.heart_lead img{
	width: 1200px;
	height: 100%;
}
.w970{padding-top:40px;margin:0 auto;width:970px;height:auto;overflow:hidden;}
.grid{width:100%;}
/* 关于我们侧栏 */
.sidebar_type1{background:#f4f4f4;}
.about_sidebar{width:185px;height:auto;overflow:hidden;float:left;}
.about_sidebar .about_sidebar_title{padding:32px 0 25px 0;color:#9d9d9d;text-align:center;font-family:'微软雅黑';border-bottom:1px dashed #cecece;}
.about_sidebar .about_sidebar_title h4{font-size:20px;font-family:Microsoft Yahei;font-weight:normal;text-align: center;}
.about_sidebar ul li{width:185px;height:45px;text-align:center;}
.about_sidebar ul li a{display:block;height: 45px;line-height:45px;color:#999;font-size:16px;font-family:Microsoft Yahei;}
.about_sidebar ul li a:hover {color: #999;}
.about_sidebar ul li.about_sidebar_cur a{background:#7fd894;color:#fff;}
.about_sidebar ul li.about_sidebar_cur a:hover{color:#fff;text-decoration:none;}
/******** 布局和标题 *********/
.w970{padding-top:40px;margin:0 auto;width:1200px;height:auto;overflow:hidden;}
.noBold{font-size: 20px;font-weight: normal;}
.grid{width:100%;}
.about_main{width:992px;float:right;padding-bottom:30px;}
.about_center_title {padding-bottom:5px;color:#bababa;font-size:24px;font-family:Microsoft Yahei;border-bottom: 1px solid #e8e8e8;}
.about_center_title span{padding-left:10px;font-size:14px;}
/***公司简介***/
.company_intro{width:992px;margin-left:25px;}
/*.c_intro_list{margin-top:28px;}*/
.c_intro_list li{margin-bottom:35px;overflow:hidden;}
.c_intro_list .c_intro_img{width:262px;height: 184px;overflow:hidden;margin-right: 20px;}
.c_intro_list .c_intro_text{margin-top:22px;}
.c_intro_list .c_intro_text span{color:#333;font-size:16px;font-family:Microsoft Yahei;}
.c_intro_list .c_intro_text p{font-size:16px;line-height:31px;color:#5c5c5c;}
.c_intro_list .more_text{margin-top:10px;}
.dec_cause{width:760px;height:auto;overflow:hidden;margin: 0 auto;}
.dec_cause dt{margin-bottom:15px;font-size:16px;color:#5c5c5c;font-family:Microsoft Yahei;}
.dec_cause .cause_img1,.dec_cause .cause_img2,.dec_cause .cause_img3,.dec_cause .cause_img4,.dec_cause .cause_img5,
.dec_cause .cause_img6{width:222px;height:178px;overflow:hidden;}
.dec_cause .cause_img1{background:url(../images/companyBg5.jpg) no-repeat;}
.dec_cause .cause_img2{background:url(../images/companyBg6.jpg) no-repeat;}
.dec_cause .cause_img3{background:url(../images/companyBg7.jpg) no-repeat;}
.dec_cause .cause_img4{background:url(../images/companyBg8.jpg) no-repeat;}
.dec_cause .cause_img5{background:url(../images/companyBg9.jpg) no-repeat;}
.dec_cause .cause_img6{background:url(../images/companyBg10.jpg) no-repeat;}
.dec_cause dd{float:left;padding:0 27px 32px 0;}
.dec_cause dd span{display:block;padding-top:120px;text-align:center;color:#fff;font-family:Microsoft Yahei;font-size:14px;}
.dec_cause dd p{padding-top:10px;width:226px;color:#999;font-size:14px;line-height:24px;text-align:justify;}