.wrap{width: 1200px;} 
.index_lead{
	width: 1200px;
	margin: 27px auto;

}
.lead_logo{
	float: left;
}
.index_lead img{
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.lead_logo span{
	color: #fd9a01;
	font-size: 36px;
}
.index_lead p{
	font-size: 14px;
	text-indent: 5px;
}
.lead_list {
	float: left;
	margin-left: 135px;	
}
.lead_list ul li{
	float: left;
	width: 66px;
	text-align: center;
	font-size: 16px;
	margin-right: 35px;
	margin-top: 15px;
	position: relative;
}
.lead_list ul li a{
  display: block;
}
.lead_list ul li img{
	margin-left: 10px;
}
.lead_list ul li  p{
	margin-bottom: 10px!important;
}
.lead_list ul li .sy p{
	background: url(../images/logo_5.png);
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto;
}
.lead_list ul li .jx p{
	background: url(../images/logo_4.png);
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto
}
.lead_list ul li .xin p{
	background: url(../images/logo_3.png);
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto
}
.lead_list ul li .ju p{
	background: url(../images/logo_6.png) center no-repeat;
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto
}
.lead_list ul li .jx i{
	background: url(../images/logo_9.png) center no-repeat;
    background-size: 33px;
    width: 72px;
    height: 32px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -27px;
    right: -26px;
}
.lead_list ul li .xin i{
	background: url(../images/logo_8.png) center no-repeat;
    background-size: 33px;
    width: 72px;
    height: 32px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -27px;
    right: -26px;
}
.lead_list ul li .ju i{
	background: url(../images/logo_7.png) center no-repeat;
    background-size: 49px;
    width: 72px;
    height: 32px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -27px;
    right: -26px;
}
.lead_list ul li .xg p{
	background: url(../images/logo_2.png);
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto
}
.lead_list ul li .gj p{
	background: url(../images/logo_1.png);
	background-size: 33px;
	width: 33px;
	height: 32px;
	display: block;
	margin: 0 auto
}
.lead_search{
	float: left;
    color: #fdc928;
    width: 260px;
    margin-left: 9px;
}
.lead_search span{
	background: url(../images/logo_10.png) no-repeat left;
	padding-left: 29px;
	font-size: 20px;
	margin-bottom: 10px;
	display: block;
}
.lead_search input{
    font-size: 12px;
    text-indent: 10px;
    border: 1px solid #fdc928;
    height: 36px;
    width: 194px;
    float: left;
}	
.lead_search p{
    background: url(../images/search.png) no-repeat center;
    background-size: 20px;
    width: 43px;
    height: 38px;
    background-color: #fdc928;
    float: left;
}
.in_l{
  border-bottom: 2px solid #000002;
}
.banner{
	position: relative;
	height: 450px;
	overflow: hidden;
}
.banner a{
	display: block;
}
.banner a img{
	display: block;
}
.banner .prev{
    background: url(../images/xiangzuo.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 44px;
    height: 95px;
    position: absolute;
    border-radius: 5px;
    opacity: .2;
    top: 35%;
    left: 50%;
    margin-left: -600px;
}
.banner .next{
    background: url(../images/xiangyou.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 44px;
    height: 95px;
    position: absolute;
    border-radius: 5px;
    opacity: .2;
    top: 35%;
    left: 50%;
    margin-left: 530px;
}
.indexSpecial {
  background-color: #f2f2f2;
  width: 100%;
  min-width: 1210px !important;
  margin-top: 1px;
}
.indexSpecial .indexSpecialCenter {
  width: 1210px;
  overflow: hidden;
  margin: 0 auto;
  height: 140px;
}
.indexSpecial .indexSpecialCenter li {
  float: left;
  height: 100%;
  width: 18%;
  padding: 0 1%;
  background-position: 8% 33px !important;
}
.indexSpecial .indexSpecialCenter li h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding-left: 60px;
  line-height: 22px;
  margin: 38px 0 8px;
}
.indexSpecial .indexSpecialCenter li h6 a {
  color: #333333;
}
.indexSpecial .indexSpecialCenter li h6 a:hover {
  color: #ed6c00;
}
.indexSpecial .indexSpecialCenter li p {
  color: #666;
  padding-left: 60px;
  line-height: 22px;
}
.indexSpecial .indexSpecialCenter .indexSpecialLi1 {
  background: url(../images/Special_1.png) no-repeat;
}
.indexSpecial .indexSpecialCenter .indexSpecialLi2 {
  background: url(../images/Special_2.png) no-repeat;
}
.indexSpecial .indexSpecialCenter .indexSpecialLi3 {
  background: url(../images/Special_3.png) no-repeat;
}
.indexSpecial .indexSpecialCenter .indexSpecialLi4 {
  background: url(../images/Special_4.png) no-repeat;
}
.indexSpecial .indexSpecialCenter .indexSpecialLi5 {
  background: url(../images/Special_5.png) no-repeat;
}
.bg-grey { width: 100%; background-color: #f9f7f5; }
.title h2 { font-size: 36px; line-height: 52px; text-align: center;}
.jianli-person { padding-bottom: 67px;width: 1200px;margin: 0 auto; }
.jianli-person .title { padding: 70px 0 16px;position: relative; }
.jianli-person .title span{    position: absolute;right: 126px;  top: 87px; font-size: 16px;}
.jianli-person .person-wrap { position: relative; }
.jianli-person .prev-btn, .jianli-person .next-btn { top: 0; width: 78px; position: absolute; height: 210px; text-align: center; }
.jianli-person .prev-btn span, .jianli-person .next-btn span { position: absolute; top: 50%; left: 50%; margin: -20px 0 0 -12px; display: inline-block; width: 24px; height: 40px; cursor: pointer; background: url(../images/jianliicon.png) no-repeat; }
.jianli-person .prev-btn { left: 0; }
.jianli-person .prev-btn span { background-position: 0 -600px; }
.jianli-person .next-btn { right: 0; }
.jianli-person .next-btn span { background-position: -50px -600px; }
.jianli-person .swipe-wrap { width: 1002px; height: 235px; margin-left: 80px; overflow: hidden; position: relative; }
.jianli-person .img-wrap { text-align: center; height: 168px; background: #fff; }
.jianli-person .img-wrap img { border: 1px solid #fff; }
.jianli-person ul { position: absolute; left: 0; *zoom: 1; width: 9999px; }
.jianli-person ul li { float: left; width: 176px; padding: 6px 6px 0; margin-right: 15px; background-color: #e2d9c8; }
.jianli-person ul li .shan{ font-size: 14px;text-align: center;font-weight: bold;margin-bottom: 5px; }
.jianli-person ul li .shan em{ font-size: 14px;text-align: center;font-weight: bold; }
.jianli-person ul p { height: 30px; line-height: 30px; text-align: center; color: #514a43; }
.jianli-person ul p span { margin-right: 16px; }
.jianli-person .tips { margin-top: 35px; text-align: center; font-size: 14px; color: #beae91; }
.indexProgram {
  width: 1200px;
  min-width: 1200px !important;
  margin: 0 auto;
  overflow: hidden;
}
.indexProgram li {
  float: left;
  width: 150px;
  border-top: 1px solid #90bf20;
  border-bottom: 1px solid #90bf20;
  position: relative;
  overflow: hidden;
  border-width: 2px;
  height: 398px;
}
.indexProgram li p {
  padding: 42px 0 0 30px;
}
.indexProgram li p span {
  display: block;
  border-top: 1px solid #b0b0b0;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  padding: 14px 0 70px 0;
}
.indexProgram li i {
  display: block;
  float: left;
  overflow: hidden;
  behavior: url('assets/css/ie-css3.htc');
  border-radius: 0 12px 12px 0;
  width: 112px;
  height: 139px;
}
.indexProgram li i img {
  width: 100%;
  height: 100%;
}
.indexProgram li .indexprogramOver {
  width: 100%;
  height: 100%;
  background-color: #90bf20;
  position: absolute;
  -ms-transition-property: top;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  top: -100%;
  left: 0;
}
.indexProgram li .indexprogramOver span {
  border-top: 1px solid #fff;
  color: #fff;
}
.indexProgram li .indexprogramOver b {
  margin: 0 auto;
  display: block;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  width: 116px;
  line-height: 24px;
}
.indexProgram li.indexProgramLi2 {
  border-top: 1px solid #ed6c00;
  border-bottom: 1px solid #ed6c00;
  border-width: 2px;
  background-color: #f2f2f2;
}
.indexProgram li.indexProgramLi2 .indexprogramOver {
  background-color: #ed6c00;
}
.indexProgram li:hover .indexprogramOver {
  top: 0;
}
.indextitle {
  font-size: 28px;
  overflow: hidden;
  height: 88px;
  line-height: 98px;
}
.list-1{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 410px;
}
.list-1 img{
	width: 100%;
	height: 100%;
}
.banner-1{
	position: relative;
	height: 410px;
	overflow: hidden;
	margin-top: 40px;
}
.banner-1 a{
	display: block;
}
.banner-1 a img{
	display: block;
}
.banner-1 .prev{
    background: url(../images/xiangzuo.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 55px;
    height: 70px;
    position: absolute;
    opacity: .2;
    top: 45%;
    left: 50%;
    margin-left: -600px;
}
.banner-1 .next{
    background: url(../images/xiangyou.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 55px;
    height: 70px;
    position: absolute;
    opacity: .2;
    top: 45%;
    left: 50%;
    margin-left: 544px;
}
.banner-1 .hd{
position: absolute;
    bottom: 9px;
    left: 50%;
    margin-left: -73px;
}
.banner-1 .hd ul li{
	    display: block;
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 50%;
    background-color: #000;
    background-color: rgba(0,0,0,.5);
    line-height: 15px;
    margin: 0 2px;
    color: #fff;
    text-align: center;
    float: left;
}
.banner-1 .hd ul .on{
background: #ffc600;
    text-decoration: none;
}
.banner-2{
	width: 1200px;
	margin: 0 auto
}
.banner-2 ul li{
    margin-right: 25px;
    width: 218px;
    height: 310px;
    margin-top: 22px;
    float: left;
    border: 1px solid #ededed;
}
.banner2_lead h1{
	font-size: 28px;
	float: left;
}
.banner2_lead em{
    background: url(../images/hot.png) no-repeat center;
    background-size: 33px;
    width: 40px;
    height: 44px;
    float: left;
    margin-left: 20px;
}
.banner2_lead span a{
    float: right;
    width: 112px;
    height: 37px;
    background-color: #ffc600;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 37px;
    margin-top: 5px;
}
.last{
	margin-right: 0!important;
}
.banner-2 ul li a img{
	width: 100%;
}
.banner-2 ul li a .price{
	    margin-top: 11px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 10px;
}
.banner-2 ul li a .price span{
    color: #F40;
    margin-right: 3px;
    font-size: 18px;
}
.banner-2 ul li a .price strong{
	font-family: arial;
    letter-spacing: 0.8px;
        color: #F40;
    font-weight: 700;
    font-size: 18px;
}
.banner-2 ul li a .price  p{
	    background: url(../images/TB1bh5IMpXXXXacaXXXrG06ZpXX-316-272.png);
    background-repeat: no-repeat;
        background-position: -42px -139px;
    width: 27px;
    height: 14px;
        display: inline-block;
    margin-top: 4px;
    margin-left: 2px;
}
.banner-2 ul li a .row-txt{
    margin-top: 6px;
    height: 36px;
    padding: 0 10px;
    overflow: hidden;
    font-weight: 400;
}
.banner-2{
    position: relative;
    height: 671px;
    margin-top: 20px;
}
.banner-2 a{
	display: block;
}
.banner-2 a img{
	display: block;
}
.banner-2 .prev{
    background: url(../images/xiangzuo.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 44px;
    height: 95px;
    position: absolute;
    border-radius: 5px;
    opacity: .2;
    top: 46%;
    left: 50%;
    margin-left: -665px;
}
.banner-2 .next{
     background: url(../images/xiangyou.png) no-repeat center;
    background-color: #333;
    background-size: 35px;
    width: 44px;
    height: 95px;
    position: absolute;
    border-radius: 5px;
    opacity: .2;
    top: 46%;
    left: 50%;
    margin-left: 620px;
}
/* 效果图模块 */
.index_zxxgt{width: 1200px; margin: 20px auto;}
.index_zxxgt:after{clear:both; content: ""; display: table;}
.index_module_header{height:34px;margin:60px 0 10px 0 ;}
.index_module_header span{float:left; height:34px; font-size: 32px; color: #333; font-weight: 400; line-height: 34px}
.index_module_header span a{color: #333}
.index_module_header span a:hover{ color: #333}
.index_module_header em{float:left; color: #999; height:14px; margin:18px 0 0 10px; display: inline;}
.index_module_header em b{font-weight: 400;}
.index_module_header p{float: right;line-height: 44px;}
.zzxxgt_txt ul li{float: left;margin-right: 20px;margin-bottom: 20px;}
.zzxxgt_txt ul li a{color: #b5b4b4;}
.index_xgt{ position: relative; width: 1200px; height: 340px; overflow: hidden}
.index_xgt a, .index_xgt a span , .index_xgt a p, .index_xgt a em {position: absolute;overflow: hidden;  }
.index_xgt a.index_xgt_one{width: 476px; height: 340px; left:0; top:0;}
.index_xgt a.index_xgt_two{width: 476px; height: 160px; left:496px; top:0;}
.index_xgt a.index_xgt_three{width: 228px; height: 160px; left:496px; top:180px;}
.index_xgt a.index_xgt_four{width: 228px; height: 160px; left:744px; top:180px;}
.index_xgt a.index_xgt_five{width: 228px; height: 340px; left:992px; top:0;}
.index_xgt a span{bottom:0; left: 0; background: #000; opacity: .75;  }
.ielt9 .index_xgt a span{filter:alpha(opacity=75);}
.index_xgt a.index_xgt_one span{width: 476px; height: 90px; }
.index_xgt a.index_xgt_two span{width: 476px; height: 30px }
.index_xgt a.index_xgt_three span{width: 228px; height: 30px }
.index_xgt a.index_xgt_four span{width: 228px; height: 30px }
.index_xgt a.index_xgt_five span{width: 228px; height: 30px }
.index_xgt a p{ left:14px; color:#fff;bottom:6px; width: 198px;overflow: hidden; text-overflow:ellipsis; white-space: nowrap;font-size: 14px;}
.index_xgt a.index_xgt_one p{left:20px; bottom:44px;  font-size: 24px;  width:430px;  height: 26px; line-height: 26px}
.index_xgt a.index_xgt_one em{left:20px; bottom:23px; color:#999; width: 430px;overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.index_xgt a.index_xgt_two p{width: 430px}
.index_xgt_gzxgt{width: 1200px; height: 140px; background: #f8f8f8; margin-top:20px;}
.index_xgt_gzxgt ul{margin-left:2px;}
.index_xgt_gzxgt ul li{float:left; width: 149px; height:140px;}
.index_xgt_gzxgt ul li a{ float:left; width: 152px; height: 140px ; text-align: center; color: #000}
.index_xgt_gzxgt ul li a img{width: 80px; height: 80px; margin:20px auto 0;}
.index_xgt_gzxgt ul li a span{display: inline-block; height:14px; line-height: 14px; margin-top:10px; width: 152px}

.indexCourse {
  width: 1200px;
  min-width: 1200px !important;
  margin: 0 auto;
  overflow: hidden;
  height: 482px;
}
.indexCourse .indexCourseText {
  float: left;
  width: 802px;
  margin-right: 4px;
}
.indexCourse .indexCourseText .indexKnowledge {
  overflow: hidden;
  margin-bottom: 14px;
  height: 190px;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeA {
  float: left;
  display: block;
  width: 190px;
  height: 190px;
  margin-right: 14px;
  background-color: #ed6c00;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-image: url(../images/Knowledge.png);
  background-position: center 38px;
  background-repeat: no-repeat;
  padding-top: 125px;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeA:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 85px;
  right: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText {
  float: left;
  width: 598px;
  height: 100%;
  background-color: #f2f2f2;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText i {
  float: left;
  display: block;
  width: 190px;
  height: 190px;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText i img {
  width: 100%;
  height: 100%;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText ul {
height: 100%;
    width: 321px;
    padding: 24px 35px;
    margin-left: 173px;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 36px;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText ul li a {
  color: #333333;
}
.indexCourse .indexCourseText .indexKnowledge .indexKnowledgeText ul li a:hover {
  color: #ed6c00;
}
.indexCourse .indexCourseText .indexFaq {
  overflow: hidden;
  margin-bottom: 14px;
  height: 190px;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeA {
  float: left;
  display: block;
  width: 190px;
  height: 190px;
  margin-right: 14px;
  background-color: #ed6c00;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-image: url(../images/Knowledge.png);
  background-position: center 38px;
  background-repeat: no-repeat;
  padding-top: 125px;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeA:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 85px;
  right: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText {
  float: left;
  width: 598px;
  height: 100%;
  background-color: #f2f2f2;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText i {
  float: left;
  display: block;
  width: 190px;
  height: 190px;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText i img {
  width: 100%;
  height: 100%;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText ul {
  float: left;
  height: 100%;
  width: 408px;
  padding: 24px 35px;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 36px;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText ul li a {
  color: #333333;
}
.indexCourse .indexCourseText .indexFaq .indexKnowledgeText ul li a:hover {
  color: #ed6c00;
}
.indexCourse .indexCourseText .indexFaq .indexFaqA {
  float: left;
  display: block;
  width: 190px;
  height: 65px;
  margin-right: 14px;
  background-color: #ed6c00;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-image: url(../images/Knowledge.png);
  padding-top: 125px;
  background-color: #999;
  background-image: url(../images/Faq.png);
  background-position: center 38px;
  background-repeat: no-repeat;
}
.indexCourse .indexCourseText .indexFaq .indexFaqA:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 85px;
  right: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText {
  float: left;
  width: 598px;
  height: 100%;
  background-color: #f2f2f2;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText i {
  float: left;
  display: block;
  width: 190px;
  height: 190px;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText i img {
  width: 100%;
  height: 100%;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText ul {
     height: 100%;
    width: 321px;
    padding: 24px 35px;
    margin-left: 173px;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 36px;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText ul li a {
  color: #333333;
}
.indexCourse .indexCourseText .indexFaq .indexFaqAText ul li a:hover {
  color: #ed6c00;
}
.indexCourse .indexCourseA {
  float: left;
  width: 394px;
  height: 394px;
  background-color: #90bf20;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.indexCourse .indexCourseA strong {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  display: block;
  line-height: 30px;
  padding: 118px 0 28px 0;
}
.indexCourse .indexCourseA p {
  padding-bottom: 78px;
}
.indexCourse .indexCourseA a {
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
  color: #fff;
  position: relative;
  width: 190px;
  height: 46px;
  line-height: 46px;
}
.indexCourse .indexCourseA a:before,
.indexCourse .indexCourseA a:after {
  overflow: hidden;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.3s ease-out 0.2s, height 0.2s ease-in;
  transition: width 0.3s ease-out 0.2s, height 0.2s ease-in;
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 0px;
  width: 20%;
  border: 2px solid #fff;
  display: none\9;
}
.indexCourse .indexCourseA a:before {
  top: 0px;
  border-bottom: 0;
}
.indexCourse .indexCourseA a:after {
  bottom: 0px;
  border-top: 0;
}
.indexCourse .indexCourseA a:hover:before,
.indexCourse .indexCourseA a:hover:after {
  width: 100%;
  height: 23px;
  -webkit-transition: width 0.3s ease-in, height 0.2s ease-out 0.3s;
  transition: width 0.3s ease-in, height 0.2s ease-out 0.3s;
}
.inner{
	width: 1200px;
	margin: 0 auto;
	margin-top: 66px;
}
.inner ul li {
	float: left;
	width: 25%;
}
.inner ul li a img{
	width: 100%;
}
.footer {
  background-color: #ddd;
  color: #666;
  overflow: hidden;
  min-width: 1210px !important;
  margin-top: 40px;
  padding: 10px 0 0px;
}
.footer .footerText {
  overflow: hidden;
  width: 1210px;
  margin: 0 auto;
  padding: 30px 0 20px 0;
}
.footer .footerText ul {
  float: left;
}
.footer .footerText ul li {
  font-size: 12px;
  line-height: 28px;
}
.footer .footerText ul li a {
  color: #666;
}
.footer .footerText ul li a:hover {
  color: #ed6c00;
}
.footer .footerText ul li.fonterName {
  color: #333333;
  font-size: 14px;
}
.footer .footerText ul.footerUl1 {
  margin: 0 50px 0 20px;
}
.footer .footerText .footerQr {
  float: right;
}
.footer .footerText .footerQr .footerQrName {
color: #333333;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.footer .footerText .footerQr p {
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 0 20px;
  width: 80px;
}
.footer .footerText .footerQr p img {
  width: 80px;
  height: 80px;
}
.footer .footerText .footerQr p span {
  display: block;
}
.footer .footerBottom {
  background-color: #333333;
  color: #fff;
  height: 35px;
  line-height: 35px;
}
.footer .footerBottom .fonterBottomText {
  width: 1210px;
  margin: 0 auto;
  font-size: 12px;
}
.footer .footerBottom .fonterBottomText p.footerBp1 {
  float: left;
  padding-left: 20px;
}
.footer .footerBottom .fonterBottomText p.footerBp2 {
  float: right;
  padding-right: 20px;
}
.nav {
  min-width: 1210px !important;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.to_top{
    left: 1584.5px;
    position: fixed;
    top: 198px;
    z-index: 99;
    width: 81px;
}
.baojia{
    position: fixed;
    top: 20%;
    width: 379px;
    height: 363px;
    background: url(../images/free.png) no-repeat;
    background-size: 100%;
    background-color: #fff;
    right: 526px;
    display: none;
    z-index: 9999999;
}
.baojia h1{
    width: 100%;
    height: 75px;
    line-height: 43px;
    font-size: 36px;
    text-align: center;
    text-indent: 19px;
}
.baojia input{
	width: 70%;
	margin: 0 auto;
	display: block;
	padding: 10px 5px;
	margin-bottom: 25px;
	border:1px solid #d8d8d8;
}
.place{
	width: 73%;
	margin: 0 auto;
	display: block;
}
.place  select{
	width: 47%;
	float: left;
	padding: 10px 5px;
	margin-bottom: 20px;
	border:1px solid #d8d8d8;
}
#addr1{
    margin-right: 14px;
    margin-left: 55px;
}
.baojia p{
	width: 70%;
	margin: 0 auto;
	display: block;
	padding: 10px 5px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: center;
	background: #f26f1f;
	color: #fff;
}
.baojia .cha{
    background: url(../images/cha.png) no-repeat center;
    background-size: 15px;
    border: 1px solid #333;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -36px;
    right: -35px;
	background-color: #fff;
}
.disk{
    background-color: rgba(0,0,0,.7);
    opacity: .7!important;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999999;
    position: fixed;
    display: none;
}
/*申请装修表单*/
.sqfw {margin-top: 30px; padding-bottom: 30px;}
.sqform {float: left;width: 379px;margin-top: 30px;}
.sqform .form-row {position: relative;margin-bottom: 20px;font-size: 16px;color: #333;}
.sqform .form-row .type {position: absolute;left:0;top:0;display: block;width: 85px;text-align: right;padding-top: 6px;}
/*.sqform .form-row .in {padding-left: 90px;}*/
.sqform .form-row .int {height: 20px;padding:5px;border:1px solid;border-color:#ebebeb;}
.sqform .form-row input.int {width: 257px;font-size: 14px;color: #999;}
.sqform .form-row input.yzm {width: 250px;margin-right: 35px;}
.sqform .form-row textarea {width: 398px; height: 60px; padding: 5px; border: 1px solid #ebebeb;}
.sqform .form-row .getYZM {position: absolute; right: 10px; top: 0; width: 130px; text-align: center; line-height: 22px; display: block;}
.sqform .form-row .getYZM.loading ,.sqform .form-row .getYZM.loading:hover {color: #999;cursor: progress;}
.getYZM.loading:hover {}
.sqform .form-row .getYZM:hover {background: #eee;color: #333;}
#yzmbox {position: absolute;position: absolute; right: 159px; top: 0; height: 32px; line-height: 32px; }
#yzmbox img {vertical-align: middle;padding: 0 5px;}
.sqform .form-row select {    width: 128px;    height: 36px;padding:5px 22px 5px 5px;float: left;margin-right: 3px;*margin-top:8px;border:1px solid;border-color:#ebebeb;font-size: 14px;color: #999;-webkit-appearance:none;background: #fff url(../images/下载.png) no-repeat right center;}
select#addrid {width: 101px;}
select#zxlb {width: 410px;}
.sqform .form-row .error {position: absolute;left:100%;top:4px;white-space: nowrap;}
.sqform .form-row .submit {width: 268px;height: 40px;line-height: 11px;background: #fe7f22;border-radius:4px;border:0;outline:0;font-size: 20px;color: #fff;cursor: pointer;transition:all .3s ease-out;}
.sqform .form-row .submit:hover {background: #E66C12;}
.sqform input.has-error ,.sqform select.has-error {border-color: #E66C12 !important;}