.screen {margin-top: 20px;border-top: 1px solid #ececec;background: #f8f8f8;}
.screen dl {padding:13px 20px 5px;font-size: 14px;border-bottom: 1px solid #ececec;}
.screen dt {width: 84px;float: left;color: #999;text-align: center;}
.screen dd {position: relative;padding-left: 60px;color: #333;overflow: hidden;}
.screen dd a {display: inline-block;padding:0 4px;margin-right: 24px;margin-bottom: 5px;}
.screen dd a.first {position: absolute;left:0;top:0;}
.screen dd a:hover ,.screen dd a.curr {background: #feb302;color: #fff;}
.jiang_list{
	width: 1200px;
	margin: 0 auto;
	margin-top: 23px;
}
.jiang_1 {
	padding-bottom: 23px;
	border-bottom: 1px solid #ececec;
	margin-top: 13px;
}
.jiang_1 .jiang_pic{
	width: 185px;
	height: 200px;
	border:1px solid #ececec;
	float: left;
}
.jiang_1 .jiang_pic img{
	width: 100%;
	height: 100%;
}
.jiang_1 .jiang_txt{
	float: left;
	margin-top: 9px;
	margin-left: 13px;
}
.jiang_1 .jiang_txt span{
    display: block;
    font-size: 19px;
    background: url(../images/jiang_1.png) no-repeat center right;
    background-size: 116px;
    width: 116px;
    height: 26px;
    display: block;
    padding-right: 67px;
}
.jiang_1 .jiang_txt ul{
	margin-top: 10px;
}
.jiang_1 .jiang_txt ul li{
	line-height: 25px;
	font-size: 14px;
	color: #666666;
}
.jiang_f{
	margin-bottom: 10px
}
.jiang_1 .jiang_txt ul li em{
	color: #000000;
	margin-right: 20px;
}
.jiang_1 .jiang_txt p{

}
.jiang_1 .jiang_txt p .in{
		width: 161px;
	height: 50px;
	background: #feb302;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 17px;
	margin-top: 22px;
	color: #fff;
	display: block;
	float: left;
}
.jiang_1 .jiang_txt b{
    display: block;
    float: left;
    background: url(../images/jiang_2.png) no-repeat center;
    background-size: 39px;
    width: 39px;
    height: 39px;
    margin-top: 28px;
    margin-left: 15px;
}
.jiang_img{
	float: left;
    margin-top: 10px;
    margin-left: 82px;
}
.jiang_img h1{
	font-size: 16px;
	margin-bottom: 20px;
}
.jiang_img h1 em{
	margin: 0 5px;
}
.jiang_img ul li{
	width: 106px;
	height: 140px;
	float: left;
	margin-right: 24px;
}
.jiang_img ul li img{
	width: 100%;
	height: 100%;
}
.page{
	width: 542px;
	margin: 20px auto;
}
.page ul{
	float: left;
}
.page ul li{
	float: left;
}
.page ul li a{
	display: block;
	width: 28px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin-right: 5px;
}
.page ul li.none{
	border: none;
	float: left;
	width: 28px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	margin-right: 5px;
}
.next{
		float: left;
	width: 66px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin:0 10px;
}
.to_page{
	float: left;
	width: 150px;
	height: 33px;
	line-height: 33px;
}
.to_page input{
	width: 28px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin: 0 10px;
}
.to_page button{
	width: 50px;
	height: 33px;
	border:1px solid #eeeeee;
	line-height: 33px;
	background: #fff;
}
.page_bc a{
	background: #ff9900;
}
.page_bc a{
	color: #fff!important;
}