@charset "utf-8";
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,code,del,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}
input:focus {
	outline:none
}
table {
	border-collapse:collapse;
	border-spacing:0px;
}
ol,ul {
	list-style:none;
}
th,td {
	vertical-align:middle;
}
.fl,.Left {
	float:left;
}
.fr,.Right {
	float:right;
}
.r {
	text-align:right!important;
}
.c {
	text-align:center!important;
}
.l {
	text-align:left!important;
}
a {
	text-decoration:none;
	color:#333333;
}
a:hover {
	color:#cf000e!important
}
a:hover img {
	text-decoration:none;
}
.none {
	display:none;
}
.clearfix:after {
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	*zoom:1;
}
.clear {
	clear:both
}
.w {
	width:1190px;
	margin-left:auto;
	margin-right:auto;
}
img {
	overflow:hidden;
	vertical-align:top;
	background:#eee;
}
.red,a.red {
	color:#cf000e !important;
}
.gray,a.gray {
	color:#999;
}
.orange,a.orange {
	color:#f60;
}
.black,a.black {
	color:#333;
}
.white,a.white {
	color:#fff;
}
.bold {
	font-weight:bold;
}
input {
	-webkit-appearance:none;
	border-radius:0
}
textarea {
	-webkit-appearance:none;
	border-radius:0
}
body {
	margin:0px auto;
	font-family:Microsoft YaHei,Arial;
	_font-family:Microsoft YaHei,宋体,Arial;
	font-size:12px;
}
html,html body {
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
.site-nav {
	background-color:#f8f8f8;
	height:30px;
	width:100%;
	line-height:30px;
	position:relative;
	z-index:290
}
.site-nav .fore {
	position:relative;
	border:1px solid #f8f8f8;
	height:28px;
}
.site-nav .banner {
	border:1px solid #f8f8f8;
	padding:0 8px
}
.site-nav .banner.last {
	padding-right:0
}
.site-nav a {
	color:#999;
}
.site-nav .dropdown a {
	color:#666;
}
.site-nav .login-name {
	color:#333;
	margin-right:6px;
}
.site-nav .login-out {
	color:#cf000e
}
.site-nav li {
	height:22px;
	line-height:28px;
}
.site-nav .fore .drop-title {
	position:relative;
	display:block;
	padding:0 20px 0 8px;
	z-index:200;
}
.site-nav .fore .dropdown {
	z-index:100;
	position:absolute;
	top:28px;
	left:-1px;
	background-color:#fff;
	border:1px solid #eaeaea;
	display:none;
	border-top:none;
}
.site-nav .hover .dropdown {
	display:block;
}
.site-nav .fore.hover {
	background:#fff;
	border:1px solid #eaeaea;
	border-bottom:1px solid #fff
}
.site-nav .i-coord {
	position:relative;
	float:left;
	width:11px;
	height:14px;
	background:url('../images/site.png') -92px -34px no-repeat;
	_background:url('../images/site.gif') -92px -34px no-repeat;
	top:7px;
	right:4px;
	_right:0;
	margin-left:4px;
	overflow:hidden
}
.site-nav .c-city-btn {
	color:#999;
	margin:0 10px 0 6px;
	cursor:pointer;
}
.site-nav .c-city {
	border:1px solid #f8f8f8;
}
.site-nav .fore .drop-arrow {
	position:absolute;
	width:7px;
	height:4px;
	background:url('../images/site.png') -92px 0 no-repeat;
	_background:url('../images/site.gif') -92px 0 no-repeat;
	right:9px;
	top:13px;
	_top:6px;
	*top:6px;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	overflow:hidden
}
.site-nav .fore.hover .drop-arrow {
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	_background:url('../images/site.gif') -92px -4px no-repeat
}
.site-nav .fore .mll-self {
	width:68px;
	line-height:22px;
	padding:1px 10px 10px;
}
.site-nav .fore .cart-count {
	font-weight:bold;
	color:#999;
	margin:0 2px 0 4px;
}
.site-nav .fore .cart-word {
	padding-left:21px;
}
.site-nav .fore .i-cart {
	position:absolute;
	width:17px;
	height:14px;
	background:url('../images/site.png') -92px -48px no-repeat;
	_background:url('../images/site.gif') -92px -48px no-repeat;
	top:7px;
	*top:-1px;
	left:8px;
	_left:0;
	overflow:hidden;
}
.site-nav .fore .cart-self {
	width:245px;
	padding-bottom:15px;
}
.site-nav .fore .cart-self ul {
	height:auto;
	max-height:234px;
	padding:10px 15px;
	overflow-y:auto;
}
.site-nav .fore .cart-self li {
	border-bottom:1px dotted #eaeaea;
	padding:10px 0;
	line-height:18px;
	height:auto
}
.site-nav .fore .cart-self li.nothing {
	border-bottom:none;
	line-height:48px
}
.site-nav .fore .cart-link {
	display:block;
	height:36px;
	color:#666;
	margin-left:98px;
	overflow:hidden;
	word-break:break-all;
	word-wrap:break-word;
}
.site-nav .fore .cart-cal {
	margin-left:98px;
	margin-top:3px;
}
.site-nav .fore .shopcart-count {
	text-align:right;
	padding-right:15px;
}
.site-nav .fore .count-btn {
	background-color:#cf000e;
	display:inline-block;
	color:#fff;
	padding:0 10px;
}
.site-nav .fore .count-btn:hover {
	color:#fff !important
}
.site-nav .fore .count-total {
	font-size:14px;
	margin-left:4px;
}
.site-nav .fore .cart-full {
	*max-height:270px;
}
.site-nav .hover .cart-full3 {
	_height:270px!important;
}
.site-nav .hover .cart-full2 {
	_height:185px!important;
}
.site-nav .hover .cart-full1 {
	_height:100px!important;
}
.site-nav .fore .two-dimension {
	padding:14px 22px;
	text-align:center;
}
.site-nav .fore .two-dimension li {
	height:auto
}
.site-nav .fore .two-dimension a {
	color:#333
}
.site-nav .fore .scan-word {
	padding-left:12px;
}
.site-nav .fore .i-scan {
	position:absolute;
	width:12px;
	height:13px;
	background:url('../images/site.png') -92px -8px no-repeat;
	_background:url('../images/site.gif') -92px -8px no-repeat;
	top:8px;
	*top:2px;
	left:4px;
	_left:-2px;
	overflow:hidden
}
.site-nav .fore .help-center {
	width:56px;
	line-height:22px;
	padding:4px 10px 10px;
}
#JS_show_hot_527 span {
	color:#999;
}
.site-nav .u-message {
	margin-right:6px;
	color:#333;
}
.site-nav .u-message .i-cyc {
	display:inline-block;
	padding:1px 3px;
	min-width:11px;
	height:15px;
	line-height:15px;
	background:#cf000e;
	border-radius:17px;
	text-align:center;
	color:#fff;
	font-style:normal
}
.page-header {
	padding:29px 0;
}
.page-header .ph-contenter {
	position:relative;
	z-index:3
}
.page-header .ph-contenter .logo {
	margin-left:5px
}
.page-header .ph-ad {
	width:252px;
	text-align:center;
}
.page-header .search-form {
	border:3px solid #cf000e;
	border-right:none;
	height:30px;
	width:484px
}
.page-header .search-form input {
	font-family:Microsoft YaHei,Arial;
}
.page-header .search-form .submit-btn {
	background:#cf000e;
	font-size:16px;
	color:#fff;
	border:none;
	height:30px;
	line-height:16px;
	width:90px;
	text-align:center;
	cursor:pointer
}
.page-header .search-form .search-input {
	outline:0;
	height:16px;
	line-height:16px;
	padding:6px 10px;
	border:1px solid #fff;
	_height:14px;
	_line-height:14px;
	width:360px
}
.page-header .search-hot {
	margin-top:5px;
}
.page-header .search-hot .hot-key {
	color:#999;
	font-size:14px;
	margin-right:12px;
}
.page-header .ph-contenter .drcode-phone {
	position:absolute;
	width:88px;
	border:1px solid #ddd;
	text-align:center;
	color:#999;
	right:10px;
	background-color:#fff;
	z-index:200;
	top:-5px
}
.page-header .ph-contenter .drcode-phone p {
	margin-bottom:6px;
}
.page-header .suggest {
	position:absolute;
	padding:0 10px;
	width:465px;
	line-height:21px;
	border:1px solid #d6d6d6;
	border-top:none;
	z-index:100;
	background:#fff;
	display:none
}
.page-header .suggest a {
	display:block;
}
.page-header .suggest .catelist {
	border-bottom:1px solid #eeeeee;
}
.page-header .history {
	position:absolute;
	width:485px;
	line-height:22px;
	border:1px solid #d6d6d6;
	border-top:none;
	z-index:100;
	background:#fff;
	display:none;
}
.page-header .history .h-search {
	margin-left:10px;
	width:232px;
	min-height:192px;
	border-right:1px solid #eeeeee;
}
.page-header .history .hot-search {
	width:232px;
	_width:230px;
	margin-left:-1px;
	padding-bottom:10px;
	border-left:1px solid #eeeeee;
}
.hot-search .hot-product {
	display:inline-block;
	margin-left:10px;
	margin-top:6px;
	padding:1px 9px;
	border:1px solid #dddddd;
	color:#000000;
}
.hot-search .hot-product:hover {
	color:#cf000e;
	border:1px solid #cf000e;
}
.page-header .history h6 {
	margin-top:4px;
	font-size:12px;
	color:#999999;
	font-weight:normal;
}
.page-header .history .hot-search h6 {
	margin-left:10px;
}
.page-header .history .h-search h1 {
	margin:58px 0 0 65px;
	padding-bottom:86px;
	font-size:12px;
	color:#999999;
	font-weight:normal;
}
.page-header .history .h-search a {
	font-weight:bold;
	display:block;
	width:100%;
	color:#000000;
}
.page-header .history .h-search a:hover {
	color:#cf000e;
}
.navigator-index .navigator {
	height:36px;
	line-height:36px;
	font-size:16px;
	font-weight:400
}
.navigator-index .navigator li {
	position:relative;
	float:left;
	margin-left:35px;
}
.navigator-index .navigator li a {
	color:#000
}
.navigator-index .navigator li img {
	position:absolute;
	top:-2px;
	margin-left:1px;
	background:#fff
}
.navigator-index .menu-panel {
	width:200px;
	height:36px;
	position:relative;
	z-index:32;
	float:left;
}
.navigator-index .menu-panel h2 {
	background:#cf000e;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#fff;
	color:#fff;
	font-weight:400;
	font-size:15px
}
.menu-map {
    width: 200px;
    padding: 10px 0 18px;
    background: #000;
    background: rgba(00,00,00,.8);
    _background: #000;
    filter: alpha(opacity=80);
    position: absolute;
    left: 50%;
    margin-left: -602px;
    top: 0;
}
.menu-map .map-item {
	height:36px;
	line-height:36px;
	vertical-align:top;
}
.menu-map .map-item .txt {
	color:#c8c8c8;
	margin-right:10px;
	float:left;
	font-size:13px
}
.menu-map .map-item.large-class .txt {
	color:#fff;
	font-size:14px
}
.menu-map .map-item .i-menu {
	float:left;
	width:21px;
	height:21px;
	margin:8px 10px 0 15px;
	_margin:8px 10px 0 10px;
	background:url('../images/site.png') no-repeat;
	_background:url('../images/site.gif') no-repeat;
	opacity:.65
}
.menu-map .map-item.large-class .i-menu {
	opacity:1
}
.menu-map .map-item .i-menu.i0 {
	background-position:-71px -168px
}
.menu-map .map-item .i-menu.i1 {
	background-position:-71px -147px
}
.menu-map .map-item .i-menu.i2 {
	background-position:-71px -126px
}
.menu-map .map-item .i-menu.i3 {
	background-position:-71px -231px
}
.menu-map .map-item .i-menu.i4 {
	background-position:-71px -210px
}
.menu-map .map-item .i-menu.i5 {
	background-position:-71px -189px
}
.menu-map .map-item .i-menu.i6 {
	background-position:-71px -42px
}
.menu-map .map-item .i-menu.i7 {
	background-position:-71px -21px
}
.menu-map .map-item .i-menu.i8 {
	background-position:-71px 0
}
.menu-map .map-item .i-menu.i9 {
	background-position:-71px -105px
}
.menu-map .map-item .i-menu.i10 {
	background-position:-71px -84px
}
.menu-map .map-item .i-menu.i11 {
	background-position:-71px -63px
}
.menu-map .map-item.hover .i-menu.i0 {
	background-position:-50px -168px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i1 {
	background-position:-50px -147px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i2 {
	background-position:-50px -126px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i3 {
	background-position:-50px -231px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i4 {
	background-position:-50px -210px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i5 {
	background-position:-50px -189px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i6 {
	background-position:-50px -42px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i7 {
	background-position:-50px -21px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i8 {
	background-position:-50px 0;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i9 {
	background-position:-50px -105px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i10 {
	background-position:-50px -84px;
	opacity:1
}
.menu-map .map-item.hover .i-menu.i11 {
	background-position:-50px -63px;
	opacity:1
}
.menu-map .map-item {
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.menu-map .map-item .sub {
	overflow:hidden;
	display:none;
	width:376px;
	height:427px;
	padding:9px 30px 25px 0;
	left:200px;
	top:0;
	background:#fff;
	background:rgba(255,255,255,.95);
	_background:#fff;
	z-index:10000;
	position:absolute;
	line-height:20px;
	opacity:0
}
.menu-map .map-item.hover {
	background:#fff;
	background:rgba(255,255,255,.9);
	_background:#fff;
	padding-left:5px;
}
.menu-map .map-item.hover a {
	color:#333 !important
}
.menu-map .map-item.hover a:hover {
	color:#cf000e !important
}
.menu-map .map-item.hover .sub {
	display:block;
}
.menu-map .map-item.large-class .sub {
	width:516px;
}
.map-item .sub .sub-l {
	width:410px;
}
.map-item.large-class .sub .sub-l {
	width:544px;
}
.map-item .sub .sub-r {
	width:190px;
	padding-left:16px
}
.map-item .sub .sub-l .sub-group {
	padding-top:16px
}
.map-item .sub .sub-l .sub-group a:hover {
	color:#cf000e !important
}
.map-item .sub .sub-l .sub-title {
	width:93px;
	font-size:13px;
	font-weight:bold;
}
.map-item .sub .sub-l .sub-title .i-t {
	overflow:hidden;
	width:5px;
	height:5px;
	float:left;
	background:url('../images/site.png') -285px 0 no-repeat;
	_background:url('../images/site.gif') -285px 0 no-repeat;
	margin:8px 4px 0 10px;
}
.map-item .sub .sub-l .sub-content {
	font-size:12px;
	width:299px;
	padding-bottom:16px;
	border-bottom:1px dotted #afacb1
}
.map-item.large-class .sub .sub-l .sub-content {
	width:433px
}
.map-item .sub .sub-l .sub-content.last {
	border-bottom:none;
}
.map-item .sub .sub-l .sub-content a {
	margin-right:16px;
	display:inline-block;
	color:#666!important
}
.map-item .sub .sub-r h6 {
	font-size:14px;
	padding:16px 0 12px;
	color:#333
}
.map-item .sub .sub-r .tag {
	margin-bottom:25px;
	font-size:12px;
	height:88px;
	overflow:hidden
}
.map-item .sub .sub-r .tag a {
	margin-right:16px;
	display:inline-block;
	color:#666!important;
	line-height:22px;
}
.map-item .sub .sub-r .tag a:hover {
	color:#cf000e !important
}
@keyframes fadeInR {
	from {
	left:-20px;
}
to {
	opacity:1;
	left:0;
}
}@keyframes fadeInL {
	from {
	right:160px;
}
to {
	opacity:1;
	right:180px;
}
}.fadeInR {
	-webkit-animation-name:fadeInR;
	animation-name:fadeInR;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-iteration-count:1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
}
.fadeInL {
	-webkit-animation-name:fadeInL;
	animation-name:fadeInL;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-iteration-count:1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
}
.scroll-banner {
	position:relative;
	z-index:0;
	overflow:hidden;
	height:460px;
}
.scroll-banner .scroll-content {
	height:460px;
}
.scroll-banner .scroll-content li {
	position:absolute;
	height:460px;
	width:100%;
}
.scroll-banner .scroll-index {
	position:relative;
	filter:inherit;
	width:1190px;
	height:460px;
	margin:0 auto;
}
.scroll-banner .scroll-item {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	text-align:center;
	display:none
}
@media screen and (min-width:0px) {
	.scroll-banner .scroll-item .sc-big {
	position:relative;
}
}.scroll-banner .scroll-item .sc-small {
	position:absolute;
	right:180px;
	top:0;
	background:none
}
.scroll-btn {
	position:absolute;
	overflow:hidden;
	bottom:22px;
	z-index:3;
	width:100%;
	text-align:center;
}
.scroll-btn span {
	display:inline-block;
	width:10px;
	height:10px;
	border:2px solid #fff;
	opacity:.7;
	line-height:15px;
	text-align:center;
	border-radius:50%;
	margin:0 3px;
	cursor:pointer;
}
.scroll-btn span.current {
	background:#fff;
	opacity:.9
}
.pr {
	position:relative;
	z-index:200
}
.expr-opacity,.expr-link {
	position:absolute;
	width:180px;
	height:400px;
	right:0;
	top:30px;
}
.expr-opacity {
	z-index:199;
	background:#fff;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	*filter:alpha(opacity=80);
	_filter:alpha(opacity=80);
}
.expr-link {
	z-index:200;
}
.expr-link .word {
	text-align:center;
	font-size:15px;
	margin-top:40px;
	margin-bottom:32px;
}
.expr-link .word p {
	color:#333;
	font-size:14px;
}
.expr-link .word span {
	color:#cf000e;
	font-size:20px;
}
.expr-link .pavilio {
	background:url('../images/site.png') -92px -237px no-repeat;
	_background:url('../images/site.png') -92px -237px no-repeat;
	width:151px;
	height:151px;
	margin:0 auto 42px;
	text-align:center;
	font-size:15px;
}
.expr-link .pavilio p {
	font-size:20px;
	font-weight:bold;
	padding-top:25px;
	color:#444;
	position:relative;
}
.expr-link .set-bg {
	position:absolute;
	left:14px;
	top:120px;
	background:url('../images/site_bg.png') no-repeat;
	_background:url('../images/site_bg.gif') no-repeat;
	width:151px;
	height:151px;
	z-index:0;
}
.expr-link .pavilio span {
	color:#444;
	font-size:14px;
}
.expr-link .expr-btn {
	display:block;
	width:132px;
	height:30px;
	margin:0 auto;
	background:url('../images/site.png') -92px -142px no-repeat;
	_background:url('../images/site.gif') -92px -142px no-repeat;
}
.expr-link .expr-btn:hover {
	background-position:-92px -172px;
}
.expr-link .expr-word {
	width:136px;
	height:16px;
	background:url('../images/site.png') -92px -107px no-repeat;
	_background:url('../images/site.gif') -92px -107px no-repeat;
	margin:10px auto 0;
}
.advert-img {
	margin-top:20px;
}
.advert-img .img-item {
	position:relative;
	width:290px;
	height:150px;
	margin-right:10px;
	overflow:hidden;
}
.advert-img .img-item.last {
	margin-right:0 !important;
}
.advert-img .img-item .word {
	position:absolute;
	font-size:14px;
	left:20px;
	top:18px;
	z-index:2
}
.advert-img .img-item img {
	width:295px;
	height:184px;
	position:relative;
	right:0;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.advert-img .img-item img:hover {
	right:5px;
}
.advert-img .img-item .word p {
	font-size:22px;
}
.floor {
	margin-top:48px;
}
.floor .floor-header {
	border-bottom:1px solid #333
}
.floor .floor-header h3 {
	font-size:20px;
	font-weight:400;
	text-align:left;
	width:210px;
	line-height:16px;
	padding:4px 0 12px;
}
.floor .floor-header h3 a {
	color:#000
}
.floor .floor-header .floor-nav li {
	line-height:14px;
	font-size:14px;
	border-bottom:2px solid #fff;
	margin-right:35px;
	padding:8px 3px;
	cursor:pointer;
	color:#666;
}
.floor .floor-header .floor-nav li.hover {
	font-size:15px;
	font-weight:bold;
	border-bottom:2px solid #222;
	color:#222
}
.floor .floor-header .floor-tag a {
	line-height:32px;
	margin-right:24px;
	color:#666
}
.floor .floor-header .floor-tag a.last {
	margin-right:0 !important;
}
.floor .floor-table {
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	position:relative
}
.floor-left {
	position:relative;
	width:208px;
	height:610px;
	background:#fcfcfc;
	border-left:1px solid #eee;
	border-right:1px solid #eee
}
.floor-left .floor-img {
	width:100%;
	height:287px
}
.floor-left .aTag {
	padding:38px 0 0 30px;
	height:128px;
	overflow:hidden;
	_height:118px;
}
.floor-left .aTag a {
	padding-right:18px;
	display:inline-block;
	width:65px;
	text-align:left;
	overflow:hidden;
	height:28px;
	line-height:28px;
	color:#666;
	font-size:13px;
}
.floor-left .ad {
	text-align:center;
	padding:22px 0 14px;
}
.floor-left .ad a {
	display:inline-block;
	border-right:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5
}
.floor-left .ad a.last {
	border-right:none !important;
}
.floor-left .ad a.second {
	border-bottom:none;
}
.floor-left .ad img {
	width:94px;
	height:60px;
	background:#fff
}
.floor-left .aImg {
	position:relative;
	width:210px;
	margin-left:-1px;
	_width:208px;
}
.floor-left .aImg .brand-title {
	position:absolute;
	font-size:22px;
	color:#fff;
	top:22px;
	left:20px;
}
.floor-left .aImg .brand-subtitle {
	position:absolute;
	font-size:15px;
	color:#fff;
	top:52px;
	left:20px;
}
.floor-left .aImg .brand-btn {
	position:absolute;
	font-size:12px;
	display:inline-block;
	color:#fff;
	top:80px;
	left:20px;
	border:1px solid #fff;
	padding:2px 7px;
}
.floor-left .aImg .brand-i {
	font-family:'宋体';
}
.floor-right {
	height:610px;
	width:979px;
	position:absolute;
	right:0;
	top:0
}
.floor-right .scroll-bar {
	position:relative;
	width:505px;
	height:365px;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	overflow:hidden;
}
.JS_ul_banner {
	width:505px;
	height:365px;
	position:relative;
}
.JS_ul_banner li {
	position:absolute;
	width:505px
}
.JS_floor_banner .nav {
	position:absolute;
	width:100%;
	z-index:21;
	bottom:8px;
}
.JS_floor_banner .JS_list_banner {
	margin:0 auto;
	width:60px;
}
.JS_floor_banner .JS_list_banner a {
	width:10px;
	height:10px;
	border-radius:50%;
	opacity:0.8;
	background:#fff;
	display:inline-block;
	margin:0 4px;
	opacity:.6
}
.JS_floor_banner .JS_list_banner a.last {
	margin-left:0;
}
.JS_floor_banner .JS_list_banner a.hover {
	opacity:1
}
.floor-right .content {
	position:absolute;
	width:100%;
	z-index:20;
	bottom:32px;
}
.floor-right .content-banner {
	text-align:center;
	margin:0 auto;
	width:245px;
	height:90px;
	background:#fff;
	background:rgba(255,255,255,.8);
	_background:#fff;
	filter:alpha(opacity=80);
}
.floor-right .content-banner .txt-l {
	display:inline-block;
	font-size:20px;
	color:#000;
	padding:16px 2px 4px;
	border-bottom:1px dotted #000;
}
.floor-right .content-banner .txt-s {
	font-size:13px;
	color:#333;
	margin-top:4px;
}
.floor-right .scroll-bar img {
	width:100%;
}
.floor-right .floor-bar {
	position:relative;
	overflow:hidden
}
.floor-right .floor-bar img {
	position:relative;
	width:100%;
	background:#fff;
	right:0;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.floor-right .floor-bar img:hover {
	right:5px
}
.floor-right .floor-bar.s1 {
	width:236px;
	height:365px;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee
}
.floor-right .floor-bar.s2 {
	width:236px;
	height:182px;
	border-bottom:1px solid #eee;
}
.floor-right .floor-bar.s4 {
	width:252px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.t5 {
	width:252px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.s5 {
	width:252px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.t6 {
	width:252px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.s6 {
	width:236px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.t7 {
	width:236px;
	height:244px;
	border-right:1px solid #eee;
}
.floor-right .floor-bar.s7 {
	width:236px;
	height:244px;
}
.floor-right .floor-bar.t8 {
	width:236px;
	height:244px;
}
.floor-right .floor-bar ul {
	position:absolute;
	line-height:18px;
	left:20px;
	bottom:14px;
}
.floor-right .floor-bar.s1 ul {
	bottom:12px;
}
.floor-right .floor-bar ul li.name a,.floor-right .floor-bar ul li.prize a {
	font-size:13px;
	color:#222;
	display:block;
	width:100%
}
.floor-right .floor-bar ul li.tips a {
	font-size:12px;
	color:#aaa;
	line-height:18px;
	display:block;
	width:100%
}
.floor-right .floor-bar ul li.prize a {
	color:#666 !important;
}
.floor-right .floor-bar:hover .name a {
	color:#cf000e !important
}
.floor-right .floor-bar ul li.name .activity {
	margin-left:5px;
	color:#cf000e;
	border:1px solid #cf000e;
	font-size:12px;
	padding:0 2px;
	display:inline-block;
	line-height:13px;
	position:relative;
	top:-1px;
}
.ad-banner img {
	width:100%;
	margin:40px 0;
}
.feed-index {
	border:1px solid #eee;
	padding:20px 30px 30px;
}
.feed-index h5 {
	font-weight:400;
	margin-bottom:20px;
	border-bottom:1px solid #eee
}
.feed-index h5 span {
	font-size:15px;
	border-bottom:1px solid #cf000e;
	line-height:15px;
	padding:10px 0;
	position:relative;
	color:#333;
	bottom:-1px;
}
.feed-index h5 span.i {
	padding-right:20px;
}
.feed-index h5 span i {
	overflow:hidden;
	position:absolute;
	right:0px;
	_top:9px;
	width:15px;
	height:15px;
	background:url('../images/site.png') -92px -62px no-repeat;
	_background:url('../images/site.gif') -92px -62px no-repeat;
	cursor:pointer
}
.feed-index h5 a {
	font-size:12px;
	color:#aaa;
	line-height:36px;
}
.feed-index .notice {
	width:361px
}
.feed-index .show {
	width:447px;
	margin:0 40px;
}
.feed-index .query {
	width:240px;
}
.feed-index .notice ul {
	margin-left:20px;
	line-height:26px;
}
.feed-index .notice ul li a {
	color:#666
}
.feed-index .notice img {
	width:120px;
	height:160px
}
.feed-index .show img {
	width:100px;
	height:70px;
}
.feed-index .show dl {
	margin-left:120px;
	width:327px;
}
.feed-index .show dt {
	width:327px;
	font-size:13px;
	margin-bottom:8px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.feed-index .show dd {
	line-height:20px;
	height:36px;
	overflow:hidden;
}
.feed-index .show dd a {
	color:#aaa
}
.feed-index .query-form .query-input {
	margin-bottom:15px;
	position:relative;
}
#JS_pic_captcha {
	cursor:pointer
}
.feed-index .query-form .query-input input {
	width:188px;
	height:32px;
	border:1px solid #e8e8e8;
	padding-left:10px;
	font-size:14px;
	font-family:'微软雅黑';
	line-height:32px;
}
.feed-index .query-form .query-input input.w110 {
	width:98px;
	margin-right:10px;
}
.feed-index .query-form .query-btn {
	cursor:pointer;
	font-size:16px;
	display:block;
	margin-top:15px;
	width:200px;
	height:34px;
	color:#fff;
	background:#cf000e;
	text-align:center;
	line-height:34px;
	border:none;
	font-size:14px;
}
.feed-index .query-form .query-btn:hover {
	color:#fff !important;
}
.feed-index .query-form .modify-query {
	margin-left:6px;
	color:#cf000e
}
.feed-index .query-form .send-again {
	display:inline-block;
	padding:9px 0;
	width:80px;
	text-align:center;
	border:1px solid #e8e8e8;
	cursor:pointer;
	margin-right:6px
}
.feed-index .query-form .send-again:hover {
	color:#cf000e
}
.feed-index .query-form .sms-disabled {
	color:#ccc !important;
	cursor:default;
}
.feed-index .query-form .sms-disabled:hover {
	color:#ccc !important
}
.feed-index .query-form .query-success {
	position:absolute;
	top:9px;
	right:18px;
	width:15px;
	height:15px;
	background:url('../images/site.png') -92px -77px no-repeat;
	_background:url('../images/site.gif') -92px -77px no-repeat;
	margin-left:5px
}
.feed-index .query-form .query-error {
	position:absolute;
	top:9px;
	right:18px;
	width:15px;
	height:15px;
	background:url('../images/site.png') -92px -92px no-repeat;
	_background:url('../images/site.gif') -92px -92px no-repeat;
	margin-left:5px
}
.expr-index {
	margin-top:30px;
}
.expr-index .expr-title {
	font-size:18px;
	color:#333;
	font-weight:400
}
.expr-index .expr-title span {
	position:relative;
	padding-left:40px;
	font-size:14px;
	top:2px;
}
.expr-index .expr-title i {
	overflow:hidden;
	left:19px;
	top:-1px;
	_top:0;
	position:absolute;
	width:17px;
	height:19px;
	background:url('../images/site.png') -92px -123px no-repeat;
	_background:url('../images/site.gif') -92px -123px no-repeat;
}
.expr-index .expr-list {
	margin-top:14px;
	border:1px solid #eee;
	border-right:none;
	border-bottom:none
}
.expr-index .expr-list img {
	width:170px;
	height:107px;
	background:#fff
}
.expr-item {
	width:553px;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	float:left;
	padding:20px 20px 20px;
	height:107px;
}
.expr-item .title {
	font-size:15px;
	color:#333;
	overflow:hidden;
	margin-bottom:10px
}
.expr-item .title a {
	position:relative;
	border:1px solid #cf000e;
	color:#cf000e;
	background:#fff;
	font-size:12px;
	padding:2px 5px 2px 20px
}
.expr-item .title a:hover {
	color:#fff !important;
	background:#cf000e;
}
.expr-item .title .i-mobile {
	overflow:hidden;
	position:absolute;
	display:block;
	width:10px;
	height:13px;
	background:url('../images/site.png') -92px -21px no-repeat;
	_background:url('../images/site.gif') -92px -21px no-repeat;
	left:6px;
	top:4px;
}
.expr-item .title .i-coord {
	overflow:hidden;
	position:absolute;
	display:block;
	width:11px;
	height:14px;
	background:url('../images/site.png') -92px -34px no-repeat;
	_background:url('../images/site.gif') -92px -34px no-repeat;
	left:5px;
	top:3px;
}
.expr-item .expr-content {
	color:#777;
	margin-left:190px;
}
.expr-item .expr-content .marquee {
	width:241px;
	height:72px;
	overflow:hidden;
}
.expr-item .expr-content .marquee a {
	color:#777;
	line-height:18px;
}
.expr-item .expr-content .extend {
	line-height:18px;
	min-height:18px;
	overflow:hidden;
}
.expr-item .expr-content .extend dt {
	width:60px
}
.expr-item .expr-content .extend dd {
	width:283px;
}
.expr-item .expr-content .extend dd a {
	color:#999
}
.expr-item .title a:hover .i-mobile {
	background-position:-280px -26px
}
.expr-item .title a:hover .i-coord {
	background-position:-104px -34px
}
.footer-icon {
	width:100%;
	background:#f8f8f8;
	padding:35px 0;
	border-bottom:1px solid #ededed;
	margin-top:70px;
	text-align:center;
}
.footer-icon .icon-map {
	display:inline-block;
	width:170px
}
.footer-icon .icon-map .icon-bg {
	width:50px;
	height:50px;
	margin:0 auto;
	background:url('../images/site.png') no-repeat;
	_background:url('../images/site.gif') no-repeat
}
.footer-icon .icon-map .icon-title {
	font-size:14px;
	color:#000;
	text-align:center;
	margin-top:10px;
}
.footer-icon .icon-map .icon-bg.i1 {
	background-position:0 -250px
}
.footer-icon .icon-map .icon-bg.i2 {
	background-position:0 -200px
}
.footer-icon .icon-map .icon-bg.i3 {
	background-position:0 -350px
}
.footer-icon .icon-map .icon-bg.i4 {
	background-position:0 -300px
}
.footer-icon .icon-map .icon-bg.i5 {
	background-position:0 -50px
}
.footer-icon .icon-map .icon-bg.i6 {
	background-position:0 0
}
.footer-icon .icon-map .icon-bg.i7 {
	background-position:0 -150px
}
.footer-icon .icon-map .icon-bg.i8 {
	background-position:0 -100px
}
.footer-index {
	background:#f8f8f8;
	padding:35px 0 54px;
}
.footer-index .service {
	width:851px;
}
.footer-index .service dl {
	float:left;
	width:151px
}
.footer-index .service dt {
	color:#444;
	font-size:14px;
	padding:3px 0 5px
}
.footer-index .service dd a {
	display:block;
	color:#999;
	margin-top:9px;
}
.footer-index .service dl.fr {
	float:right;
	width:96px;
}
.footer-index .service dl.fr dt {
	margin-bottom:6px
}
.footer-index .coverage {
	width:330px;
	height:165px;
	background:url('../images/site.png') -92px -387px no-repeat;
	_background:url('../images/site.gif') -92px -387px no-repeat;
}
.footer-index .coverage .s1 {
	font-size:14px;
	line-height:19px;
}
.footer-index .coverage .s2 {
	font-size:20px;
	color:#cf000e;
	margin:5px 0;
}
.footer-index .coverage .s3 {
	color:#999;
	margin-bottom:30px;
}
.footer-index .coverage .s4 {
	margin-bottom:10px;
}
.footer-index .coverage .s4 a,.footer-index .coverage .s5 a {
	display:block;
	color:#cf000e;
	border:1px solid #cf000e;
	width:106px;
	height:24px;
	text-align:center;
	line-height:24px;
	padding-left:10px;
	position:relative;
}
.footer-index .coverage .s4 .i-coord {
	overflow:hidden;
	position:absolute;
	display:block;
	width:11px;
	height:14px;
	background:url('../images/site.png') -92px -34px no-repeat;
	_background:url('../images/site.gif') -92px -34px no-repeat;
	left:5px;
	top:5px;
}
.footer-index .coverage .s5 .i-mobile {
	overflow:hidden;
	position:absolute;
	display:block;
	width:10px;
	height:13px;
	background:url('../images/site.png') -92px -21px no-repeat;
	_background:url('../images/site.gif') -92px -21px no-repeat;
	left:6px;
	top:6px;
}
.footer-copy {
	background:#1f1f1f
}
.footer-copy .link-container {
	padding:21px 0 30px;
}
.footer-copy .link-container .link,.footer-copy .copy-index {
	color:#777;
	line-height:20px;
	position:relative;
}
.footer-copy .link-container .link {
	height:20px;
	overflow:hidden
}
.footer-copy .link-container .link i,.footer-copy .copy-index i {
	display:none;
	position:absolute;
	right:0;
	top:3px;
	cursor:pointer;
	width:16px;
	height:14px;
	background:url('../images/site.png') -275px -12px no-repeat;
	_background:url('../images/site.gif') -275px -12px no-repeat;
}
.footer-copy .link-container .link .link-title {
	margin-right:10px;
}
.footer-copy .link-container .link a {
	color:#777;
	margin-right:20px;
	display:inline-block;
}
.footer-copy .link-container .link.last {
	margin-bottom:20px;
}
.footer-copy .link-container a.link-item-none {
	display:none
}
.footer-copy .copy-index {
	border-top:1px solid #2e2e2e;
	padding-top:20px
}
.footer-copy .copy-index a {
	color:#777
}
.footer-copy .credit span {
	position:relative;
	padding-left:32px;
	display:inline-block;
	width:50px;
	margin-left:15px;
}
.footer-copy .credit span .c1 {
	position:absolute;
	display:block;
	width:27px;
	height:22px;
	background:url('../images/credit.png') no-repeat 0 0;
	left:0;
	top:10px;
}
.footer-copy .credit span .c2 {
	position:absolute;
	display:block;
	width:27px;
	height:21px;
	background:url('../images/credit.png') no-repeat 0 -47px;
	left:0;
	top:10px;
}
.footer-copy .credit span .c3 {
	position:absolute;
	display:block;
	width:27px;
	height:25px;
	background:url('../images/credit.png') no-repeat 0 -22px;
	left:0;
	top:10px;
}
.lightBox {
	width:100%;
	position:fixed;
	left:0;
	top:200px;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop + 200));
}
.lightBox .in {
	width:390px;
	background:#fff;
	margin:0px auto;
	border:2px solid #a00;
	border-radius:4px;
}
.lightBox .htmls {
	padding:15px;
}
.lightBox .btns {
	text-align:center;
	border-top:1px solid #f4f4f4;
	padding:10px 0;
	margin:0 3px;
}
.lightBox .btns a {
	padding:5px 15px;
	border:1px solid #ccc;
	border-radius:3px;
	background:#f4f4f4;
	color:#333;
	cursor:pointer;
	margin:0 6px 0 0;
	display:inline-block;
}
.lightBox .btns a:hover {
	color:#000 !important;
	background:#fff;
	text-decoration:none;
}
.MALERT {
	}.MALERT .in {
	width:360px;
	border-radius:0;
	border:5px solid #bbb;
}
.MALERT .in .htmls {
	padding:0;
}
.MALERT .in .title {
	height:40px;
	background:#f1f1f1;
	color:#343434;
	border-bottom:1px solid #dedede
}
.MALERT .in .title .Left {
	height:14px;
	line-height:14px;
	padding-left:10px;
	padding-top:13px;
	*padding-top:9px;
}
.MALERT .in .title .Left i {
	display:inline-block;
	background:url(../images/icon_a_1373954928.png) 0px -97px no-repeat;
	vertical-align:top
}
.MALERT .in .title .Left span {
	display:inline-block;
	height:14px;
	vertical-align:top;
	margin-left:5px;
	font-size:16px;
	font-family:"微软雅黑";
	*line-height:20px;
	*height:20px
}
.MALERT .in .title .Right {
	display:inline-block;
	width:18px;
	height:18px;
	margin-right:10px;
	color:#8f8f8f;
	margin-top:11px;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}
.MALERT .in .title .Right:hover {
	color:#bf1b3d!important;
	text-decoration:none;
}
.MALERT .in .content {
	padding:42px 15px 8px
}
.MALERT .in .content_rate {
	padding:69px 15px 8px
}
.MALERT .in .content .icons_td {
	width:32px;
	padding:0 20px 0 25px;
	vertical-align:middle;
}
.MALERT .in .content .content_td1 {
	color:#666;
	line-height:1.8;
	vertical-align:middle;
	font-size:18px;
	font-family:'微软雅黑';
	font-weight:bold;
	text-align:center;
}
.MALERT .in .content .content_td {
	color:#333;
	line-height:1.8;
	vertical-align:middle;
}
.MALERT .in .content .icons {
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../images/icon_a_1373954928.png) 0 0 no-repeat;
}
.MALERT .in .content .icons_warn {
	background-position:0 -64px;
}
.MALERT .in .content .icons_ok {
	background-position:0px -32px;
}
.MALERT .btns {
	text-align:right;
	padding:11px 15px 39px 0;
	margin:0 25px;
	border-bottom:1px solid #f4f4f4;
}
.MALERT .btns a {
	background:url(../images/icon_a_1373954928.png) 0 -113px;
}
.MALERT .btns a:hover {
	background:url(../images/icon_a_1373954928.png) 0 -141px;
}
.MCONFIRM .btns {
	text-align:center;
	padding-right:0;
	margin-bottom:17px
}
.city-select {
	display:inline;
}
.city-select .selector {
	padding:0 10px 0 5px;
	color:#717171;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	background-position:-58px -79px
}
.city-select .hideMap {
	width:400px;
	padding:10px 15px;
	border:solid 1px #eaeaea;
	background:#fff;
	position:absolute;
	left:-54px;
	_left:-57px;
	display:none;
	top:28px;
}
.city-select .hideMap .showPanel {
	border-bottom:solid 1px #e9e9e9;
}
.city-select .hideMap .showPanel2 {
	padding-top:10px;
}
.city-select .hideMap .showPanel .near {
	height:20px;
	display:inline-block;
	padding:0 6px 0 6px;
	text-align:center;
	line-height:20px;
	background:#fff;
	border:1px solid #cf000e;
	color:#cf000e
}
.city-select .hideMap .showPanel .mycity {
	line-height:20px
}
.city-select .hideMap .showPanel2 a {
	color:#434343
}
.city-select .hideMap .showPanel2 .search_city_input {
	width:114px;
	height:22px;
	padding:0 5px;
	border:1px solid #cccccc;
	border-right:none;
	color:#aaa;
	vertical-align:middle;
	line-height:22px;
	*line-height:22px;
	font-family:'微软雅黑'
}
.city-select .hideMap .showPanel2 .search_city_input:focus {
	color:#333;
	outline:none
}
.city-select .hideMap .showPanel2 .search_city_submit {
	border:1px solid #bbb;
	display:inline-block;
	width:46px;
	height:24px;
	text-align:center;
	line-height:12px;
	color:#444;
	vertical-align:middle;
	background:#fff;
	font-size:12px;
	cursor:pointer;
	background:#fff;
	font-family:'微软雅黑'
}
.city-select .hideMap .showPanel2 .search_city_submit:hover {
	border-color:#aaa;
	color:#333!important;
	text-decoration:none;
}
.city-select .hideMap .showPanel2 .search_city_tip {
	position:absolute;
	width:169px;
	height:20px;
	text-align:center;
	color:#ee7001;
	background:#fffde6;
	border:1px solid #e5935b;
	box-shadow:2px 2px 2px #999;
	margin-top:25px;
	line-height:20px;
}
.city-select .hideMap .showPanel2 .city_words a {
	display:inline-block;
	width:17px;
	height:17px;
	text-align:center;
	color:#d02e2c;
	font-family:Arial;
	font-size:14px;
	line-height:17px;
	margin:3px 0;
}
.city-select .hideMap .showPanel2 .city_words a:hover,.city-select .hideMap .showPanel2 .hot_city a:hover,.city-select .hideMap .cityMap .city_list td a:hover {
	color:#fff!important;
	background:#ca033c;
	text-decoration:none;
}
.city-select .hideMap .showPanel2 .hot_city a {
	display:inline-block;
	padding:0 3px;
	line-height:19px;
	margin-right:2px;
	vertical-align:top;
}
.city-select .hideMap .scrollBody {
	height:180px;
	margin-top:10px;
	overflow:hidden;
}
.city-select .hideMap .cityMap {
	width:385px;
	height:180px;
	float:left;
}
.city-select .hideMap .cityMap .city_list {
	width:385px;
}
.city-select .hideMap .cityMap .city_list th {
	vertical-align:top
}
.city-select .hideMap .cityMap .city_list th div {
	width:19px;
	height:19px;
	padding-right:2px;
	background:url(../images/change_city3.gif) -20px -17px;
	text-align:center;
	line-height:19px;
	color:#fff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	margin-bottom:11px;
	overflow:hidden;
}
.city-select .hideMap .cityMap .city_list td {
	line-height:19px;
	vertical-align:top;
	padding-bottom:11px;
	padding-left:5px;
}
.city-select .hideMap .cityMap .city_list td a {
	display:inline-block;
	padding:0px 5px;
	line-height:19px;
}
.city-select .hideMap .scrollBar {
	width:10px;
	height:180px;
	float:right;
	overflow:hidden;
	background:url(../images/change_city3.gif) -10px 0px repeat-y;
}
.city-select .hideMap .scrollBar span {
	width:10px;
	height:36px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/change_city3.gif) 0px 0px no-repeat;
	display:inline-block;
}
.city-select .hide_city_group {
	display:none;
}
.city-select.hover .hideMap,.city-select.hover .hide_city_group {
	display:block;
}
.city-select .i-c {
	display:block;
	position:absolute;
	width:13px;
	height:7px;
	background:url('../images/site.png') no-repeat -277px -5px;
	_background:url('../images/site.gif') no-repeat -277px -5px;
	top:22px;
	left:-27px;
	z-index:2;
	overflow:hidden;
}
#JS_my_near_expr .i-coord {
	position:relative;
	float:left;
	width:11px;
	height:14px;
	background:url('../images/site.png') -92px -34px no-repeat;
	_background:url('../images/site.gif') -92px -34px no-repeat;
	overflow:hidden;
	top:3px;
}
.test {
	height:894px;
	background:#ddd;
}
.default_stairs_w {
	width:100%;
	position:fixed;
	top:220px;
	left:0;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+220));
}
.default_stairs {
	position:absolute;
	width:40px;
	font-size:12px;
	font-family:"微软雅黑";
	left:-40px;
	opacity:0;
	transform:scale(1.2);
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
.default_stairs .stairs-cover {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
.default_stairs .stairs_nav {
	display:inline-block;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	text-decoration:none;
	color:#cf000e;
	position:relative;
	text-decoration:none;
}
.default_stairs .current {
	background:#fff;
}
.default_stairs .hover {
	background:#cf000e!important;
	color:#fff!important;
}
.default_stairs .stairs_nav .icon {
	display:inline-block;
	width:21px;
	height:21px;
	background:url('../images/site.png') no-repeat 0 0;
	_background:url('../images/site.gif') no-repeat 0 0;
	margin-top:11px;
}
.default_stairs .hover .icon {
	display:none;
}
.default_stairs .current .icon {
	display:none;
}
.default_stairs .floor1 .icon {
	background-position:-50px -147px;
}
.default_stairs .floor2 .icon {
	background-position:-50px -126px;
}
.default_stairs .floor3 .icon {
	background-position:-50px -231px;
}
.default_stairs .floor4 .icon {
	background-position:-50px -210px;
}
.default_stairs .floor5 .icon {
	background-position:-50px -189px;
}
.default_stairs .floor6 .icon {
	background-position:-50px -42px;
}
.default_stairs .floor7 .icon {
	background-position:-50px -105px;
}
.default_stairs .stairs_nav .name {
	visibility:visible;
	color:#cf000e;
	display:none;
	font-style:normal;
	line-height:14px;
	margin:6px auto;
}
.default_stairs .current .name {
	display:block;
	color:#cf000e!important;
}
.default_stairs .hover .name {
	display:block;
	color:#fff!important;
}
.default_stairs .stairs_nav .stairs_line {
	display:block;
	width:18px;
	height:0;
	border-bottom:1px solid #e8e8e8;
	font-size:0;
	line-height:0;
	position:absolute;
	bottom:0;
	left:11px;
}
.default_stairs .current .stairs_line {
	border-bottom:1px solid #e8e8e8;
}
.default_stairs .hover .stairs_line {
	border-bottom:1px solid #cf000e;
}
.default_stairs .floor_expr .stairs_line {
	border-bottom:none;
}
.as-total-container {
	background:#cf000e;
	background:rgba(207,0,14,0.85);
	_background:#cf000e;
	filter:alpha(opacity=85);
	-webkit-transition:top .3s ease-out;
	-moz-transition:top .3s ease-out;
	-ms-transition:top .3s ease-out;
	-o-transition:top .3s ease-out;
	transition:top .3s ease-out;
	position:fixed;
	width:100%;
	z-index:290;
	top:-50px;
	_position:absolute;
	_bottom:auto;
}
.as-total-container .attached-search-container {
	position:relative;
	z-index:290;
	height:50px
}
.as-total-container .attached-search-container em {
	width:123px;
	height:35px;
	float:left;
	background:url('../images/site.png') -92px -202px no-repeat;
	_background:url('../images/site.gif') -92px -202px no-repeat;
	margin-top:7px;
	margin-right:107px
}
.as-total-container .attached-search-container .search-form {
	height:32px;
	width:808px;
	background:#fff;
	float:left;
	margin-top:9px
}
.as-total-container .attached-search-container .search-form input {
	font-family:Microsoft YaHei,Arial;
}
.as-total-container .attached-search-container .search-form .submit-btn {
	background:#b6000c;
	font-size:15px;
	color:#fff;
	border:none;
	height:32px;
	width:90px;
	text-align:center;
	cursor:pointer
}
.as-total-container .attached-search-container .search-form .search-input {
	outline:0;
	color:#333333;
	height:18px;
	line-height:18px;
	padding:6px 10px;
	border:1px solid #fff;
	_height:14px;
	_line-height:14px;
	width:690px;
}
.as-total-container .attached-search-container .search-hot {
	margin-top:5px;
}
.as-total-container .attached-search-container .search-hot .hot-key {
	color:#999;
	font-size:14px;
	margin-right:12px;
}
.as-total-container.show {
	top:0;
	_top:expression(eval(document.documentElement.scrollTop));
}
.as-total-suggest {
	position:absolute;
	width:100%;
	z-index:300;
}
.fixed-suggest {
	width:786px;
	margin-left:230px;
	display:none;
	background:rgb(255,255,255);
	border:1px solid #d6d6d6;
	line-height:22px;
	z-index:10
}
.fixed-suggest a {
	display:block;
}
.JS_head_scoll_phone_527_active_br {
	border:1px solid #f8f8f8;
}
.JS_head_scoll_phone_527_active {
	border:1px solid #eaeaea;
	border-bottom:none;
	background:#fff
}
#JS_head_scoll_phone_527 .show_hot {
	cursor:pointer;
	width:150px;
	border:1px solid white;
	border-bottom:none;
	background:white;
	position:relative;
	padding:0 5px;
	z-index:10;
}
#JS_head_scoll_phone_527 .active {
	border:1px solid #eaeaea;
	border-bottom:none;
}
#JS_head_scoll_phone_527 .show_panel {
	cursor:pointer;
	display:none;
	width:390px;
	border:1px solid #eaeaea;
	background:white;
	margin-top:-1px;
	margin-left:-201px;
	position:absolute;
	z-index:-1;
}
#JS_head_scoll_phone_527 .show_panel_2 {
	cursor:pointer;
	display:none;
	width:200px;
	border:1px solid #eaeaea;
	background:white;
	margin-top:-1px;
	margin-left:-1px;
	position:absolute;
	z-index:5;
}
#JS_head_scoll_phone_527 .show_panel .item,#JS_head_scoll_phone_527 .show_panel_2 .item {
	width:185px;
	margin:0 5px;
	line-height:22px;
}
#JS_head_scoll_phone_527 .hotLine {
	font-weight:bold;
	color:#cf000e;
}
.expr_scroll {
	height:26px;
	overflow:hidden;
	width:200px;
	position:relative;
	z-index:6;
}
.expr_scroll .expr_view {
	line-height:26px;
	position:absolute;
}
.expr_scroll .expr_view .expr_item {
	height:26px;
	line-height:26px;
	overflow:hidden;
	width:190px;
	margin:0 5px;
	white-space:nowrap;
}
#JS_head_scoll_phone_527 .show_panel {
	text-align:left;
	padding:2px 5px;
}
.JS_head_scoll_phone_527_active_br {
	left:0;
	text-align:left
}
#JS_head_scoll_phone_527 .show_panel .item {
	display:inline-block;
	float:left;
	white-space:nowrap;
	overflow:hidden;
}
.root-body .w {
	width:1460px
}
.root-body .as-total-container .attached-search-container .search-form {
	width:1008px
}
.root-body .page-header .search-form {
	width:711px;
	position:relative;
}
.root-body .page-header .search-form .search-input {
	width:590px
}
.root-body .page-header .suggest {
	width:692px;
}
.root-body .fixed-suggest {
	width:986px;
}
.root-body .scroll-content {
	position:relative
}
.root-body .scroll-banner .scroll-item .sc-small {
	right:145px
}
.root-body .advert-img .img-item {
	position:relative;
	width:356px;
	height:184px;
	margin-right:12px;
}
.root-body .advert-img .img-item img {
	width:361px;
}
.root-body .floor-left .aImg {
	width:256px;
	_width:254px
}
.root-body .floor-left .floor-img {
	height:350px;
}
.root-body .floor .floor-header h3 {
	width:256px
}
.root-body .floor-left {
	height:750px;
	width:254px;
}
.root-body .floor-right {
	height:750px;
	width:1203px
}
.root-body .floor-left .aTag {
	padding:35px 0 0 16px;
	height:182px;
	overflow:hidden;
	text-align:center;
}
.root-body .floor-left .aTag a {
	padding-right:12px;
	width:65px;
	line-height:28px;
	overflow:hidden;
	height:28px;
}
.root-body .floor-left .ad img {
	width:115px;
	height:74px;
}
.root-body .floor-left .ad {
	padding:20px 0 12px;
	width:254px;
}
.root-body .floor-right .scroll-bar {
	width:621px;
	height:449px;
}
.root-body .JS_ul_banner {
	width:621px;
	height:449px;
}
.root-body .JS_ul_banner li {
	width:621px;
}
.root-body .floor-right .floor-bar ul {
	bottom:18px
}
.root-body .floor-right .floor-bar.s1 ul {
	bottom:18px
}
.root-body .floor-right .floor-bar.s1 {
	width:290px;
	height:449px;
}
.root-body .floor-right .floor-bar.s2 {
	width:290px;
	height:224px;
}
.root-body .floor-right .floor-bar.s4 {
	width:310px;
	height:300px;
}
.root-body .floor-right .floor-bar.t5 {
	width:310px;
	height:300px;
}
.root-body .floor-right .floor-bar.s5 {
	width:310px;
	height:300px;
}
.root-body .floor-right .floor-bar.t6 {
	width:310px;
	height:300px;
}
.root-body .floor-right .floor-bar.s6 {
	width:290px;
	height:300px;
}
.root-body .floor-right .floor-bar.t7 {
	width:290px;
	height:300px;
}
.root-body .floor-right .floor-bar.s7 {
	width:290px;
	height:300px;
}
.root-body .floor-right .floor-bar.t8 {
	width:290px;
	height:300px;
}
.root-body .feed-index .notice {
	width:396px;
}
.root-body .feed-index .show {
	width:582px;
}
.root-body .expr-item {
	width:688px
}
.root-body .footer-icon .icon-map {
	width:182px;
}
.root-body .footer-index .service {
	width:1055px
}
.root-body .footer-index .service dl {
	width:190px;
}
.root-body .footer-index .service dl.fr {
	width:96px
}
.root-body .expr-item .expr-content .extend dd {
	width:417px;
}
.root-body .JS_async_price {
	color:#666;
}
.root-body .feed-index .query {
	width:240px;
}
@media screen and (min-width:1460px) {
	@keyframes fadeInL {
	from {
	opacity:0;
	right:125px;
}
to {
	opacity:1;
	right:145px;
}
}}.root-body .page-header .history {
	width:712px;
}
.root-body .page-header .history .h-search {
	width:345px;
}
.root-body .page-header .history .hot-search {
	width:345px;
}
.as-total-suggest .history {
	width:806px;
	margin-left:230px;
	line-height:22px;
	border:1px solid #d6d6d6;
	z-index:100;
	background:#fff;
}
.as-total-suggest .history .h-search {
	margin-left:10px;
	width:49%;
	min-height:192px;
	border-right:1px solid #eeeeee;
}
.as-total-suggest .history .hot-search {
	width:49%;
	margin-left:-1px;
	padding-bottom:10px;
	border-left:1px solid #eeeeee;
}
.as-total-suggest .hot-search .hot-product {
	display:inline-block;
	margin-left:10px;
	margin-top:6px;
	padding:1px 9px;
	border:1px solid #dddddd;
	color:#000000;
}
.as-total-suggest .hot-search .hot-product:hover {
	color:#cf000e;
	border:1px solid #cf000e;
}
.as-total-suggest .history h6 {
	margin-top:4px;
	font-size:12px;
	color:#999999;
	font-weight:normal;
}
.as-total-suggest .history .hot-search h6 {
	margin-left:10px;
}
.as-total-suggest .history .h-search h1 {
	margin:58px 0 0 65px;
	padding-bottom:86px;
	font-size:12px;
	color:#999999;
	font-weight:normal;
}
.as-total-suggest .history .h-search a {
	font-weight:bold;
	display:block;
	width:100% color:#000000;
}
.as-total-suggest .history .h-search a:hover {
	color:#cf000e;
}
.root-body .as-total-suggest .history {
	width:1006px;
}
/*luochao1*246767:2016-12-26 16:08:12*/