body{
	background: #f7f6f4
}
.index_lead{
	    width: 1200px;
    margin: 0 auto;
    padding: 27px 0;
}
.topInfo, .in_l{
	background: #fff;
	margin-bottom: 0;
}
.container{width: 1000px; margin: 0 auto; overflow: hidden;}
.w1200 .container{width: 1200px;}
.bread{height: 40px; line-height: 40px; font-size: 14px; }
.bread em{margin:0 5px; color: #666}
.sjLeft{width:730px; overflow:hidden; background: #fff; padding:16px; }
.w1200 .sjLeft{width:900px;}
.left{float: left;}
.right{float: right;}
.inner{
    margin-top: 66px;
    background: #fff;
    padding-left: 325px;
    width: 100%;
    padding: 20px 0 20px 370px;
}
.inner ul li{
float: left;
    width: 16%;
}
.footer {
	margin-top: 0;
}
.glocart {position: fixed; right: 10px; bottom: 0; _position: absolute; _top: expression(documentElement.scrollTop + documentElement.clientHeight-38); z-index: 500;}
.glocart .cartbtn {position: relative; z-index: 2; width: 270px; height: 25px; line-height: 22px; padding: 5px 0; background: #f46060; cursor: pointer;}

.glocart .cartpop {position: absolute; display: block; left: 0; top: 5px; right: 100px; bottom: 5px; color: #fff; border-right: 1px solid #fab0b0;}
.glocart .cartpop span {display: inline-block; vertical-align: middle; margin-left: 25px; padding-left: 5px;}
.glocart .cartpop span b {font-weight: 700; padding: 0 5px; font-size: 14px;}
.glocart .cartpop sub {position: absolute; left: 8px; top: 6px; width: 17px; height: 15px; background: url('../images/sprite.png') -47px -123px;}
.glocart .cartpop sup {display: inline-block; vertical-align: middle; height: 0; width: 0; margin: 13px 0 -5px 5px; border: 5px dashed transparent; border-top-color: #fff; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; -webkit-transform-origin: 50% 25%; -moz-transform-origin: 50% 25%; transform-origin: 50% 25%;}
.cart_on .cartbtn {background: #ef5353;}
.cart_on .cartbtn sup {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}

.glocart .cartlink {position: absolute; right: 0; top: 0; bottom: 0; width: 100px; text-align: center; color: #fff; font-size: 16px; line-height: 35px;}
.glocart .cartlink s {display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin: -3px 0 0 3px; background: url('../images/sprite.png') -48px -141px;}

.glocart .cartcontent {position: fixed; display: none; bottom: -10px; right: 0; _position: absolute; _top: -461px; width: 290px; height: 0; max-height: 500px; opacity: 0; filter: alpha(opacity=0); z-index: 1; overflow: hidden; padding: 10px 10px 40px; background: rgba(0,0,0,.1); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden;}
.glocart .cartwrap {padding: 7px 0 10px; height: 100%; border: 1px solid #b5b5b5; background: #fff; -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15); -moz-box-shadow: 0 0 8px rgba(0,0,0,.15); box-shadow: 0 0 8px rgba(0,0,0,.15);}
.glocart .empty {display: none; padding: 50px 0; text-align: center; font-size: 14px;}
.glocart .loading {padding: 50px 0; text-align: center; font-size: 14px;}

.cartflyer {width: 40px; height: 40px; border-radius: 50%; z-index: 900;}
.flyend {position: absolute; z-index: 10000; width: 20px; height: 20px; border-radius: 10px; color: #fff; background-color: #ff621d; text-align: center; line-height: 20px; font-weight: 500; font-size: 12px;}
/* 购物车列表 */
.glocart .cartlist {display: none; position: relative;}
.glocart .cartlist ul {max-height: 440px; overflow: hidden; overflow-y: auto;}
.glocart .cartlist li {height: 50px; padding: 12px 10px; border-bottom: 1px dashed #eee;}
.glocart .cartlist li:hover {background-color: #f9f9f9;}
.glocart .cartlist li .pic {float: left;}
.glocart .cartlist li .pic, .glocart .cartlist li .pic img {width: 70px; height: 50px;}
.glocart .cartlist li .info {position: relative; overflow: hidden; padding-left: 10px;}
.glocart .cartlist li .info h5 {height: 18px; overflow: hidden; font-size: 12px;}
.glocart .cartlist li .info h2 {float: right; }
.glocart .cartlist li .info span {float: left;}
.glocart .cartlist li .info strong {color: #f46060; font-weight: 500;}
.glocart .cartlist li .info .del {float: right; display: none;}
.glocart .cartlist .statics {height: 50px; line-height: 53px; text-align: center;}
.glocart .cartlist .statics span {color: #f46060;}
.glocart .cartlist .statics span strong {font-size: 16px;}