.banner{
    position: relative;
}
.banner .hd{
position: absolute;
    bottom: 9px;
    left: 50%;
    margin-left: -73px;
}
.banner .hd ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    opacity: .7;
    line-height: 15px;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    text-indent: 9999px;
}
.banner .hd ul .on{
background: #fff;
    opacity: .9;
}
.JS_floor_banner{
    position: relative;
}
.JS_floor_banner .hd{
position: absolute;
    bottom: 9px;
    left: 50%;
    margin-left: -28px;
}
.JS_floor_banner .hd ul li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.8;
    background: #fff;
    display: inline-block;
    margin: 0 4px;
    opacity: .6;
    text-indent: 999px;
}
.JS_floor_banner .hd ul .on{
    opacity: 1;
}
