.screen {margin-top: 20px;border-top: 1px solid #ececec;background: #f8f8f8;}
.screen dl {padding:13px 20px 5px;font-size: 14px;border-bottom: 1px solid #ececec;}
.screen dt {width: 84px;float: left;color: #999;text-align: center;}
.screen dd {position: relative;padding-left: 60px;color: #333;overflow: hidden;}
.screen dd a {display: inline-block;padding:0 4px;margin-right: 24px;margin-bottom: 5px;}
.screen dd a.first {position: absolute;left:0;top:0;}
.screen dd a:hover ,.screen dd a.curr {background: #feb302;color: #fff;}
.pic_list{
	width: 1200px;
	margin: 20px auto;
}
.pic_list ul{
	width: 389px;
	float: left;
	display: block;
}
.first_1{
	margin-right: 16px;
}
.pic_list ul li{
	float: left;
	border:1px solid #ececec;
	padding: 9px;
	width: 369px;
	position: relative;
	margin-bottom: 16px;
}
.pic_list ul li:hover{
	background: #f8f8f8;
}
.pic_list ul li:hover img{
	opacity: 0.7;
}
.pic_list ul li:hover em{
	display: block;
}
.pic_list ul li a em{
    background: #333;
    width: 42px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    top: 18px;
    left: 20px;
    text-align: center;
    display: none;
}
.pic_list ul li a img{
	width: 369px;
}
.pic_list ul li a span{
	font-size: 17px;
	float: left;
	width: 369px;
	margin: 10px 0;
	color: #333;
}
.pic_list ul li a span p{
	font-size: 14px;
	color: #333;
	float: right;
}
.pic_list ul li a span img{
	width: 10px;
	height: 10px;
}
.page{
	width: 542px;
	margin: 20px auto;
}
.page ul{
	float: left;
}
.page ul li{
	float: left;
}
.page ul li a{
	display: block;
	width: 28px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin-right: 5px;
}
.page ul li.none{
	border: none;
	float: left;
	width: 28px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	margin-right: 5px;
}
.next{
		float: left;
	width: 66px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin:0 10px;
}
.to_page{
	float: left;
	width: 150px;
	height: 33px;
	line-height: 33px;
}
.to_page input{
	width: 28px;
	height: 33px;
	border:1px solid #eeeeee;
	text-align: center;
	line-height: 33px;
	margin: 0 10px;
}
.to_page button{
	width: 50px;
	height: 33px;
	border:1px solid #eeeeee;
	line-height: 33px;
	background: #fff;
}
.page_bc a{
	background: #ff9900;
}
.page_bc a{
	color: #fff!important;
}