<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>历史统计</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v=33"></script>
<link rel="stylesheet" type="text/css" href="/templates/courier/css/leMai.css?v=8">
</head>

<body>
<!-- 头部 外卖订单详细头部 -->
<div class="tongJi jk22">
	<a href="javascript:;" onclick="history.go(-1);"><i></i></a>
	<p><span>历史统计</span></p>
</div>

<!-- 今日外卖战绩 -->
<div class="todayWai">
	<div class="zhanJi fn-clear">
		<span>{#$stime#} 至 {#$etime#}</span>
	</div>
	<div class="yiuLan fn-clear" style="margin-top: .2rem;">
		<div class="yiuLan01">
			<p>{#$totalSuccess#}单</p>
			<span>配送成功</span>
		</div>
		<div class="yiuLan01 yiuLan02">
			<p>{#$totalFailed#}单</p>
			<span>配送失败</span>
		</div>
	</div>
	<div class="yiuLan fn-clear" style="margin-top: .6rem;">
		<div class="yiuLan01">
			<p>{#$peisong#}元</p>
			<span>配送费</span>
		</div>
		<div class="yiuLan01 yiuLan02">
			<p>{#$fuwu#}元</p>
			<span>增值服务费</span>
		</div>
	</div>
	<div class="yiuLan fn-clear" style="margin-top: .6rem;">
		<div class="yiuLan01">
			<p>{#$success#}元</p>
			<span>配送成功总金额</span>
		</div>
		<div class="yiuLan01 yiuLan02">
			<p>{#$delivery#}元</p>
			<span>货到付款总金额</span>
		</div>
	</div>
	<div class="yiuLan fn-clear" style="margin-top: .6rem;">
		<div class="yiuLan01">
			<p>{#$money#}元</p>
			<span>余额付款总金额</span>
		</div>
		<div class="yiuLan01 yiuLan02">
			<p>{#$online#}元</p>
			<span>在线支付总金额</span>
		</div>
	</div>
</div>

<div class="bottomFix">
	<ul class="fn-clear bottomFix01">
		<li class="maiWai"><a href="/?service=waimai&do=courier&state=3"><i></i><p>订单</p></a></li>
		<li class="paoTui"><a href="/?service=waimai&do=courier&template=comment"><i></i><p>评价</p></a></li>
		<li class="woDe woDe01"><a href="/?service=waimai&do=courier&template=statistics"><i></i><p>统计</p></a></li>
	</ul>
</div>

<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="/templates/courier/js/drag-loading.js"></script>
</body>
</html>
