<div class="header">
	<div class="header-l">
		<script src="/include/json.php?action=adjs&id=168" language="javascript"></script>
	</div>
	<div class="header-address">
		<span>{#$pageTitle#}</span>
	</div>
	<div class="header-search">
		<a href="javascript:;" class="dropnav"><img src="{#$cfg_basehost#}/templates/siteConfig/touch/default/images/screen.png" alt=""></a>
	</div>
</div>

<div class="navBox" id="navBox">
	<div class="navlist" id="navlist">
		<ul class="clearfix fn-clear">
			{#if in_array("article", $installModuleArr)#}<li><a href="{#$article_channelDomain#}"><span class="nav_1"></span>新闻</a></li>{#/if#}
			{#if in_array("info", $installModuleArr)#}<li><a href="{#$info_channelDomain#}"><span class="nav_2"></span>二手</a></li>{#/if#}
			{#if in_array("tuan", $installModuleArr)#}<li><a href="{#$tuan_channelDomain#}"><span class="nav_3"></span>团购</a></li>{#/if#}
			{#if in_array("house", $installModuleArr)#}<li><a href="{#$house_channelDomain#}"><span class="nav_4"></span>房产</a></li>{#/if#}
			{#if in_array("shop", $installModuleArr)#}<li><a href="{#$shop_channelDomain#}"><span class="nav_5"></span>商城</a></li>{#/if#}
			{#if in_array("build", $installModuleArr)#}<li><a href="{#$build_channelDomain#}"><span class="nav_6"></span>建材</a></li>{#/if#}
			{#if in_array("furniture", $installModuleArr)#}<li><a href="{#$furniture_channelDomain#}"><span class="nav_7"></span>家具</a></li>{#/if#}
			{#if in_array("home", $installModuleArr)#}<li><a href="{#$home_channelDomain#}"><span class="nav_8"></span>家居</a></li>{#/if#}
			{#if in_array("renovation", $installModuleArr)#}<li><a href="{#$renovation_channelDomain#}"><span class="nav_9"></span>装修</a></li>{#/if#}
			{#if in_array("job", $installModuleArr)#}<li><a href="{#$job_channelDomain#}"><span class="nav_10"></span>招聘</a></li>{#/if#}
			{#if in_array("article", $installModuleArr)#}<li><a href="{#$cfg_basehost#}"><span class="nav_11"></span>交友</a></li>{#/if#}
			{#if in_array("marry", $installModuleArr)#}<li><a href="{#$marry_channelDomain#}"><span class="nav_12"></span>婚嫁</a></li>{#/if#}
			{#if in_array("car", $installModuleArr)#}<li><a href="{#$car_channelDomain#}"><span class="nav_13"></span>汽车</a></li>{#/if#}
			{#if in_array("waimai", $installModuleArr)#}<li><a href="{#$waimai_channelDomain#}"><span class="nav_14"></span>外卖</a></li>{#/if#}
			{#if in_array("business", $installModuleArr)#}<li><a href="{#$business_channelDomain#}"><span class="nav_15"></span>商家</a></li>{#/if#}
			<li><a href="{#$cfg_basehost#}"><span class="nav_16"></span>旅游</a></li>
			{#if in_array("tieba", $installModuleArr)#}<li><a href="{#$tieba_channelDomain#}"><span class="nav_17"></span>贴吧</a></li>{#/if#}
			<li><a href="{#$cfg_basehost#}"><span class="nav_18"></span>五折卡</a></li>
			{#if in_array("huangye", $installModuleArr)#}<li><a href="{#$huangye_channelDomain#}"><span class="nav_19"></span>黄页</a></li>{#/if#}
			{#if in_array("video", $installModuleArr)#}<li><a href="{#$video_channelDomain#}"><span class="nav_20"></span>视频</a></li>{#/if#}
			{#if in_array("pic", $installModuleArr)#}<li><a href="{#$pic_basehost#}"><span class="nav_21"></span>图片</a></li>{#/if#}
			<li><a href="{#$cfg_basehost#}"><span class="nav_22"></span>直播</a></li>
			<li><a href="{#$cfg_basehost#}"><span class="nav_23"></span>打车</a></li>
			{#if in_array("vote", $installModuleArr)#}<li><a href="{#$vote_channelDomain#}"><span class="nav_24"></span>投票</a></li>{#/if#}
		</ul>
	</div>
	<div class="bg" id="shearBg"></div>
</div>


<script src="{#$cfg_basehost#}/static/js/ui/iscroll.js" type="text/javascript"></script>
