
body, html{background: #f4f4f4;}

.header{background: #ff6800; border-bottom: 1px solid #ff7313;}

/*余额总览*/
.bgbox{height: 3rem; background: #ff6800; color: #fff; padding: .6rem .4rem 0;}
.bgbox .tit{font-size: .3rem;}
.bgbox .count{font-size: 1.3rem; margin-top: .2rem;}

/*列表*/
.operate li{border-bottom: 1px solid #f4f4f4; background: #fff;}
.operate li a{padding: .2rem .2rem .2rem 1rem; font-size: .28rem; position: relative; display: block;}
.operate li a::after{border-bottom: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd; content: ''; height: .2rem; width: .2rem; background: 0 0; position: absolute; right: .3rem; top: 50%; margin-top: -0.12rem; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.operate .icon1{position: absolute; left: .3rem; top: .1rem; background: url(../images/pocket1.png) center center no-repeat; width: .55rem; height: .55rem; background-size: contain;}
.operate .icon2{position: absolute; left: .3rem; top: .1rem; background: url(../images/pocket2.png) center center no-repeat; width: .55rem; height: .55rem; background-size: contain;}
.operate .icon3{position: absolute; left: .3rem; top: .1rem; background: url(../images/pocket3.png) center center no-repeat; width: .55rem; height: .55rem; background-size: contain;}
.operate .icon4{position: absolute; left: .3rem; top: .1rem; background: url(../images/pocket4.png) center center no-repeat; width: .55rem; height: .55rem; background-size: contain;}
