*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{background-color: #f8f8f8;}
body.show{opacity: 1;}
input{-webkit-appearance: none;}
.dn{display: none;}

/*头部*/
.header{height: 1rem;line-height: 1rem;display: -webkit-box;background: #FE5400;color: #fff;}
.header a{display: table-cell;height: 1rem;vertical-align: middle;width: 1rem;}
.header-l{width: 1rem;}
.header-l img{height: .4rem;display: block;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .36rem;}
.header-r a{color: #fff;font-size: .3rem;}

/*logo*/
.logo{width: 100%;padding: .8rem 0;}
.logo a{display: block;}
.logo img{display: block;height: 1rem;margin: 0 auto;}
.form-box input{display: block;width: 92%;padding: .3rem;border: none;border-bottom: 1px solid #e6e6e8;font-size: .28rem;line-height: .4rem; border-radius: 0;}
.form-box input.password{border-bottom: none;}
.form-box form{position: relative;}
.login-btn{margin-top: .4rem;}
.login-btn input{display: block;width: 90%;height: .9rem;color: #fff;background: #FE5400;margin: 0 auto;border-radius: .06rem;font-size: .28rem;text-align: center;line-height: .9rem;-webkit-appearance: none; padding: 0;}
.form-get,.form-newpw{display: -webkit-box;}
.form-get input.number,.form-newpw input.password{-webkit-box-flex: 1;}
.form-get a{display: table-cell;background: #fff;border-bottom: 1px solid #e6e6e8;vertical-align: middle;height: 1rem;padding-right: .2rem;}
.form-get a span{background: #FE5400;color: #fff;padding: .15rem .3rem;border-radius: .08rem;}
.form-get a span.reget-yzm{background: #e0e0e0;}
.form-newpw a{display: table-cell;vertical-align: middle;height: 1rem;padding: 0 .4rem;background: #fff url(../images/eye2.png) center center no-repeat;background-size: auto .3rem;}
.form-newpw a.show{background: #fff url(../images/eye1.png) center center no-repeat;background-size: auto .3rem;}

/*其他方式登录*/
.other-login{margin-top: 1.6rem;padding-bottom: 1rem;}
.other-login .other-login-tit{border-bottom: 1px solid #e6e6e8;position: relative;color: #dadada;font-size: .26rem;line-height: .8rem;margin-bottom: 1rem;}
.other-login .other-login-tit span{display: block;width: 28%;position: absolute;top: -.4rem;background: #f8f8f8;left: 37%;text-align: center;}
.other-login-img{display: -webkit-box;}
.other-login-img a{display: block;-webkit-box-flex: 1;text-align: center;}
.other-login-img a img{width: 1rem;height: 1rem;}

/* 极验 */
#maskReg {display: none; position: fixed; text-align: center; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); overflow: auto;}
.popup-mobile {position: relative;}
#popupReg-captcha-mobile {position: fixed; display: none; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); z-index: 9999;}
#maskReg.show, #popupReg-captcha-mobile.show {display: block;}
