<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/balance_detail.css">
</head>
<body>
	<div class="bal_list">
		<div class="bal_txt">
			<em>充值金额：</em>
			<select name="" id="">
				<option value="">100元</option>
				<option value="">200元</option>
				<option value="">500元</option>
				<option value="">1000元</option>
			</select>
			<b><i></i></b>
		</div>
		<div class="bal_txt"><em>支付方式：</em><span>微信支付</span></div>
	</div>
	<div class="award">
		<h1>充值奖励</h1>
		<ul>
			<li><i></i>充值100元送5元</li>
			<li><i></i>充值200元送10元</li>
			<li><i></i>充值500元送30元</li>
			<li><i></i>充值1000元送80元</li>
		</ul>
	</div>
	<div class="bal_button"><button>确认充值</button></div>
	<script src="js/public.js"></script>
</body>
</html>