<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/ci_detail.css">
</head>
<body>
	<div class="ci_lead fn-clear">
		<ul>
			<li class="cil_bc"><a href="ci_detail.html">订单状态</a></li>
			<li><a href="ci_detail1.html">订单详情</a></li>
		</ul>
	</div>
	<div class="ci_list fn-clear">
		<div class="ci_left">
			<div class="point on"><em><i></i></em></div>
			<div class="line on_1"></div>
			<div class="point on"><em><i></i></em></div>
			<div class="line on_1"></div>
			<div class="point on"><em><i></i></em></div>
			<div class="line on_1"></div>
			<div class="qishou on"><em><i></i></em></div>
			<div class="line on_1"></div>
			<div class="line on_1"></div>
			<div class="line on_1"></div>
			<div class="point on"><em><i></i></em></div>
		</div>
		<div class="ci_right">
			<div class="ci_txt">
				<div class="ci_txt fn-clear"><span>订单提交成功</span><em>2017-03-23 12:12:32</em></div>
				<p>请耐心等待商家确认</p>
			</div>
			<div class="ci_txt">
				<div class="ci_txt fn-clear"><span>商家已确认</span><em>2017-03-23 12:12:32</em></div>
				<p>正在为您准备商品，如有疑问请电话联系商家</p>
			</div>
			<div class="ci_txt ">
				<div class="ci_txt fn-clear"><span>配送员已接单<a href="198273"></a></span><em>2017-03-23 12:12:32</em></div>
				<p>配送员正在赶往店铺为您取货</p>
			</div>
			<div class="ci_txt ci_1">
				<div class="ci_txt fn-clear"><span>配送员已取货</span><em>2017-03-23 12:12:32</em></div>
				<p>正在配送中，很快就能收到了哦</p>
			</div>
			<div class="map">
				
			</div>
			<div class="ci_txt ci_2">
				<div class="ci_txt fn-clear"><span>订单已完成</span><em>2017-03-23 12:12:32</em></div>
				<p>已送达，请给5分好评哦</p>
			</div>
		</div>
	</div>
	<div class="refresh">刷新</div>
	<script src="js/public.js"></script>
</body>
</html>