<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/mem_balance.css">
</head>
<body>
	<div class="balance_list">
		<div class="bal_txt yue"><a href="balance_detail.html"><i></i><em>余额充值</em><span></span></a></div>
		<div class="bal_txt lisi"><a href="balance_record.html"><i></i><em>余额历史记录</em><span></span></a></div>
	</div>
	<script src="js/public.js"></script>
</body>
</html>