<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/member.css">
</head>
<body>
	<div class="vip_card"><img src="images/sp_16.png" alt=""></div>
	<div class="mem_com">
		<h1>会员特权</h1>
		<ul>
			<li>1：享受到垃圾服务！</li>
			<li>2：充值送豪礼;</li>
			<li>3：定期参与平台会员回馈活动！</li>
		</ul>
	</div>
	<div class="mem_list">
		<div class="mem_txt fn-clear"><a href="mem_balance.html"><em>会员余额</em><span></span><b>￥0</b></a></div>
		<div class="mem_txt fn-clear"><a href="mem_infor.html"><em>会员资料</em><span></span></a></div>
		<div class="mem_txt fn-clear"><a href="mem_erwei.html"><em>付款二维码</em><span></span></a></div>
	</div>
	<div class="mem_last">
		<div class="mem_txt fn-clear"><a href="mem_freeze.html"><em>冻结会员</em><span></span></a></div>
	</div>
	<script src="js/public.js"></script>
</body>
</html>