<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/onfoot_detail.css">
</head>
<body>
	<div class="od_form">
		<div class="ody name"><em>姓名</em><input type="text" placeholder="请输入您的姓名！"></div>
		<div class="ody tel"><em>联系电话</em><input type="text" placeholder="请输入您的联系方式！"></div>
		<div class="ody huo"><em>货物类型</em><input type="text" placeholder="请输入货物名称(5KG以下)！"></div>
		<div class="ody t_wei"><em>提货位置</em><input type="text" placeholder="请填写您取货的位置及店铺！"></div>
		<div class="ody s_wei"><em>送货位置</em><input type="text" placeholder="请填写您送达的位置及店铺！"></div>
		<div class="ody_1"><em>备注信息</em><textarea placeholder="请填写您的备注信息！"></textarea></div>
	</div>
	<div class="explain fn-clear">
		<em></em><span>跑腿说明</span><em></em>
	</div>
	<div class="explain_txt">
		l;zxkjclz
	</div>
	<div class="price">
		<em>服务费</em><input type="text"><span>元</span>
	</div>
	<div class="pay_style fn-clear">
		<span>支付方式</span>
		<ul class="fn-clear">
			<li class="wechat pay_bc">微信支付</li>
			<li class="arrive">货到付款</li>
			<li class="balance">余额付款</li>
		</ul>
	</div>
	<div class="line"></div>
	<div class="place">
		<ul>
			<li><em>联系人</em><span>zzx</span></li>
			<li><em>联系电话</em><span>1519080000</span></li>
			<li><em>联系地址</em><span>苏州九龙医院-呼吸道闷着那快递员</span></li>
		</ul>
		<p><a href="Address.html"><i></i></a></p>
	</div>
	<div class="sure">
		<button>确认发布</button>
	</div>
	<div class="warning"></div>
	<script src="js/public.js"></script>
	<script src="js/onfoot_detail.js"></script>
</body>
</html>