/*提示标签*/
.tips{
	height: .8rem;
	line-height: .9rem;
	background: #e6e6e6;
	padding-bottom: 0.3rem; 
}
.tips .tips_con{
	background: #fff;
	padding: 0 0.3rem;
	font-size: 0.28rem;
}
.tips .tips_con em{
	color: #fd5530;
	margin-right: 0.15rem;
	font-size: 0.3rem;
}

.is_list .is_txt{
	border-bottom: 0.15rem solid #e6e6e6;
    padding: 0 0.23rem;
}


.job_detail{
    border-bottom: 0.15rem solid #e6e6e6;
    padding: 0 0.23rem;
}
.job_detail h1{
    font-size: .3rem;
    margin-bottom: .05rem;
    margin-top: .1rem;
    font-weight: bold;
}
.job_detail .jib_money{
	font-size: .28rem;
	color: #fd5530;
}
.job_detail .jib_money i{
	font-style: normal;
	float: left;
}
.job_detail .jib_money em{
	margin-left: 10px;
	color: #a7a0a0;
	float: left;
}
.job_detail .job_type{
	margin: 0.1rem 0;
}
.job_detail .job_type ul li{
	color: #35bce9;
	border: 1px solid #35bce9;
	padding: 0 .1rem;
	float: left;
	margin-right: 0.1rem;
}
.job_detail .company {
	border: 1px dashed #e2dfe6;
	border-right: none;
	border-left: none;
	margin-top: 0.15rem;
	color: #9f9fa1;
	height: .6rem;
	line-height: .6rem;
	font-size: .28rem;
}
.job_detail .com_1 {
	border-bottom: 1px dashed #e2dfe6;
	border-right: none;
	border-left: none;
	margin-top: 0.15rem;
	color: #9f9fa1;
	height: .6rem;
	line-height: .6rem;
	font-size: .28rem;
}
.job_detail .company .place{
	float: left;
	width: 80%;
}
.job_detail .company .home{
	width: 20%;
	float: left;
	text-align: right;
}
.is_footer{
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
}
.is_footer .schedule{
	float: left;
	font-size: 0.24rem;
	color: #979797;
}
.is_footer .schedule i{
	display: inline-block;
	width: .5rem;
	height: .5rem;
	background: url(../images/is_1.png) no-repeat 2px 1px;
	background-size: .4rem;
	vertical-align: middle;
}
.is_footer .schedule i.lose{
	background: url(../images/is_2.png) no-repeat 2px 1px;
	background-size: .4rem;
}
.is_footer .schedule i.be_to{
	background: url(../images/is_4.png) no-repeat 2px 1px;
	background-size: .45rem;
}
.is_footer .schedule i.ing{
	background: url(../images/is_3.png) no-repeat 2px 1px;
	background-size: .45rem;
}
.is_footer .is_btn {
	float: right;
}
.is_footer .is_btn ul li{
	float: left;
	font-size: 0.28rem;
	padding: 0 0.1rem;
	border: 0.02rem solid #898989;
	color: #898989;
	border-radius: 0.07rem;
	margin-left: 0.1rem;
}
.is_footer .is_btn ul li.is_bc{
	color: #fd5530;
	border-color: #fd5530;
}
.jib_money.duan{
	margin: 0.15rem 0;
}
.jib_money ul{
	float: left;
}
.jib_money ul li{
	float: left;
	padding: 0 .1rem;
	margin-left: 0.1rem;
	font-size: .24rem;
}
.jib_money ul li.green{
	color: #42ad5f;
	border: 1px solid #42ad5f;
}
.jib_money ul li.blue{
	color: #4eb2e3;
	border: 1px solid #4eb2e3;
}
.job_jl{
    border-bottom: 0.15rem solid #e6e6e6;
    padding: 0.3rem 0.23rem;
    padding-bottom: 0.15rem;
}
.job_jl .job_jldetail{
    border-bottom: 1px dashed #e2dfe6;
    padding-bottom: 0.2rem;
}
.job_jl .job_lpic{
	width: 1.5rem;
	height: 1.5rem;
	float: left;
	margin-right: 0.2rem;
}
.job_jl .job_lpic img{
	width: 100%;
	height: 100%;
}
.job_jl .job_title{
	font-size: .3rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
    margin-top: .13rem;
}
.job_jl .job_title i.men{
    width: .35rem;
    height: .35rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 0.1rem;
    background: url(../images/car_2.png);
    background-size: .35rem;
}
.job_jl .job_title i.women{
    width: .35rem;
    height: .35rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 0.1rem;
    background: url(../images/car_3.png);
    background-size: .35rem;
}
.job_jl .job_title span{
	float: right;
	font-weight: normal;
}
.job_jl p{
	font-size: .28rem;
	color: #9f9fa1;
}
.job_jl .is_footer{
	margin-bottom: 0;
}
.stick_box{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	background: #fff;
	display: none;
}
.stick_box h1{
	background: #f4f4f4;
	height: .7rem;
	line-height: .7rem;
	display: block;
	width: 100%;
	padding: 0 0.3rem 0 0.3rem;
	font-size: 0.28rem;
	position: relative;
	color: #727171;
	border-bottom: 1px solid #e6e6e6;
}
.stick_box ul li{
	font-size: .28rem;
	text-align: center;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 1px solid #e6e6e6;
}
.stick_box .btn_box{
	padding: 0 .3rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
.stick_box .btn_box span{
    float: left;
    background: #fd5530;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.28rem;
    padding: 0 1.2rem;
    height: .7rem;
    line-height: .7rem;
}
.stick_box .btn_box span:nth-child(2){
	float: right;
}
.delete{
    position: fixed;
    left: 50%;
    margin-left: -3rem;
    top: 25%;
    z-index: 12;
    background: url(../images/pb_7.png) no-repeat top;
    width: 6rem;
    height: 6rem;
    background-size: 6rem;
    text-align: center;
    display: none;
}
.delete h1{
    font-size: .3rem;
    margin-top: 1.8rem;
    font-weight: bold;
    background: #fff;
}
.delete h2{
    font-size: .3rem;
    padding-top: .1rem;
    font-weight: bold;
    background: #fff;
    padding-bottom: .3rem;
    border-bottom: 0.04rem solid #e6e6e6;
}
.de_foot{
	width: 100%;
	background: #fff;
}
.delete .de_btn{
	width: 80%;
	margin: 0 auto;
	padding: .4rem 0
}
.delete .de_btn span{
	background: #fd5530;
	color: #fff;
	padding: 0.15rem .8rem;
	font-size: .28rem;
	border-radius: 0.1rem;
}
.delete .de_btn span.sure{
	margin-right: .4rem;
}
.disk {
    background: #000;
    opacity: .5!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: none;
}