/* banna */
@font-face {
    font-family: 'fzlantingheis-ul-gbregular';
    src: url('../font/fzltcxhjw_0.eot');
    src: url('../font/fzltcxhjw_0.eot?#iefix') format('embedded-opentype'),
         url('../font/fzltcxhjw_0.woff2') format('woff2'),
         url('../font/fzltcxhjw_0.woff') format('woff'),
         url('../font/fzltcxhjw_0.ttf') format('truetype'),
         url('../font/fzltcxhjw_0.svg#fzlantingheis-ul-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banner{position: relative; color: #fff; font-size: 30px; letter-spacing: 3px; height: 747px; background: #0e1329;}
.banner .wrap{position: relative;}
.banner .txtbox{position: relative; z-index: 5; padding-top: 192px; font-family: fzlantingheis-ul-gbregular; -webkit-text-stroke-width: 0.35px; font-size: 30px; font-weight: 100;}
.banner .img{position: absolute; top: 60px; right: -355px;}

.scan-box{width: 1255px; text-align: center; margin: 35px 0 50px; font-size: 22px;}
.scan-box li{width: 308px; height: 520px; border: 1px solid #eaeaea; border-top: 3px solid #28ccee; float: left; margin-right: 35px;}
.w1200 .scan-box li {width: 380px;}
.scan-box li:hover{box-shadow: 0 0 40px -1px #e0e0e0;}
.scan-box li .title{margin-top: 35px;}
.scan-box li img{height: 215px; margin-top: 30px; border: 1px solid #e2e2e2;}
.scan-box li .name{font-size: 20px; margin: 30px 0 10px;}
.scan-box li .desc{font-size: 16px; margin-top: 45px;}
.scan-box .link{margin-top: 13px;}
.scan-box .link a{display: block; width: 215px; height: 65px; border-radius: 4px; line-height: 65px; text-align: center; font-size: 22px; border: 1px solid #696ff7; color: #fff; margin: 0 auto 15px;}
.scan-box .link a.link-android{background: #696ff7;}
.scan-box .link a.link-ios{background: #209ff8; border-color: #209ff8;}
.scan-box .link a span{padding: 20px 0 20px 57px;}
.scan-box .link a.link-android span{background: url(../images/link-android.png) 0 center no-repeat;}
.scan-box .link a.link-ios span{background: url(../images/link-ios.png) 0 center no-repeat;}

.module-1{background: #f8f8f8; height: 700px;}
.module-1 .wrap{position: relative;}
.txtbox .tit{font-size: 30px;}
.txtbox .subtit{font-size: 20px; color: #828282; margin-top: 25px; line-height: 40px;}
.module-1 .txtbox{padding-top: 150px;}
.module-1 .imgbox{position: absolute; right: -210px; top: 50px;}
.module-1 .inner{position: absolute; width: 310px; height: 300px; top: 255px; left: 65px;}
.module-1 .inner img{position: absolute;}
.module-1 .inner.curr .icon-qq{left: 115px; top: -4px;}
.module-1 .inner.curr .icon-wx{left: 19px; top: 98px;}
.module-1 .inner.curr .icon-weibo{left: 153px; top: 206px;}

.module-2{height: 700px;}
.module-2 .imgbox{position: relative; padding-top: 14px;}
.module-2 .img{position: absolute;}
.module-2 .img-1{z-index: 5; left: -40px;}
.module-2 .img-2{z-index: 4; left: 35px; top: 52px;}
.module-2 .img-3{z-index: 3; left: 70px; top: 65px;}
.module-2 .img-4{z-index: 2; left: 97px; top: 81px;}
.module-2 .img-5{z-index: 1; left: 114px; top: 102px;}
.module-2 .img-6{z-index: 6; left: 350px; top: 402px;}
.module-2 .txtbox{float: right; margin-top: 130px;}
.module-2 .txtbox .tit{text-align: right;}

.module-3{height: 700px; background: #f8f8f8 url(../images/app_m3_bg.png) center center repeat-x;}
.module-3 .wrap{position: relative;}
.module-3 .txtbox{padding-top: 105px;}
.module-3 .imgbox{position: absolute; right: 0; top: 50px;}
.module-3 .imgbox .img-2{position: absolute; right: 215px; top: 225px;}
.module-3 .inner{position: absolute; top: 312px; left: -184px;}

.module-4 .wrap{position: relative; background: url(../images/app_m4_bg.png) right center no-repeat;}
.module-4 .img-2{position: absolute; left: 218px; top: 382px;}
.module-4 .txtbox{position: absolute; right: 0; top: 90px;}

.module-5{background: #f8f8f8; height: 700px;}
.module-5 .wrap{position: relative;}
.module-5 .txtbox{padding-top: 175px;}
.module-5 .imgbox{position: absolute; right: -40px; top: 30px;}
.module-5 .inner{position: absolute; top: 0; left: 0; z-index: 2; left: -86px; top: 350px;}

.module-6{height: 700px;}
.module-6 .wrap{position: relative;}
.module-6 .txtbox{padding-top: 175px; float: right;}
.module-6 .txtbox .tit{text-align: right;}
.module-6 .imgbox{position: absolute; left: -40px; top: 10px;}
.module-6 .imgbox .img-1{position: relative; z-index: 9;}
.module-6 .imgbox .img-2{position: absolute; top: 113px; left: 323px;}
