 body,div,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,J_single,textarea,th,td,i,span {
  margin:0;
  padding:0
}
body,button,input,select,textarea {
  font-family:"Microsoft YaHei";
  font-size:12px
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-style:normal;
  font-weight:normal
}
ul,ol {
  list-style:none
}
a {
  text-decoration:none;
  color:inherit;
  outline:none;
  cursor:pointer
}
a:hover {
  text-decoration:none
}
img {
  border:0;
  display:block
}
textarea {
  overflow:auto;
  vertical-align:top
}
table {
  border-collapse:collapse;
  border-spacing:0
}
input,button,select,textarea {
  font-family:inherit;
  font-size:inherit;
  line-height:inherit
}
button,input,select,textarea {
  background-image:none
}
a,img {
  outline:none
}
.hidden {
  display:none
}
.clearfix:before,.clearfix:after {
  content:"";
  display:table
}
.clearfix:after {
  clear:both;
  overflow:hidden
}
.clearfix {
  zoom:1
}
#map-container {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow:hidden;
  padding:0;
  margin:0;
  z-index:10;
  background:#110e25;
}
#map-container canvas {
  opacity:0.8 !important;
}
#fullpage {
  position:relative;
  z-index:12;
}
.dg.ac {
  display:none;
}
.section {
  width:100%;
  position:relative;
}
.section .bd {
  position:relative;
  z-index:12;
}
.section .review-btn {
  width:100%;
  height:20px;
  position:absolute;
  left:0;
  bottom:50px;
}
#section0 .review-btn {
  bottom:25px;
}
.section .review-btn i {
  display:block;
  width:30px;
  height:20px;
  margin:0 auto;
  background:url(../images/coo3.png) no-repeat center center;
  background-size:100% 100%;
}
.page-dot {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:11;
}
.page-dot img {
  display:block;
  position:absolute;
  width:5px;
  height:5px;
}
.section .wrap-wrap {
  width:100%;
  overflow:hidden;
  position:absolute;
  left:0;
  bottom:14%;
}
.section .wrap-wrap .tab-nav {
  margin:0 auto;
  overflow:hidden;
}
.section .wrap-wrap li {
  float:left;
  width:86px;
  text-align:center;
  height:55px;
  font-size:14px;
}
.section .wrap-wrap li a {
  color:#fff;
  text-decoration:none;
}
.section .wrap-wrap li:hover a {
  color:#d414eb;
}
.section .wrap-wrap .selected {
  background:url(//img.alicdn.com/tps/TB1tB_uLXXXXXcsXFXXXXXXXXXX-10-32.png) no-repeat center bottom;
}
.section .wrap-wrap .selected a {
  color:#d414eb;
}
#section0 {
  /*background:#110e25;
  */
}
#section0 .bd {
  height:100%;
  margin:0 auto;
}
#section0 .bd h2 {
  width:615px;
  margin:0 auto;
  position:relative;
  top:42%;
}
#section0 .bd h2 img {
  display:block;
  width:615px;
}
#section0 .tip {
  color:#fff;
  font-size:14px;
  text-align:center;
  line-height:22px;
  position:relative;
  top:54%;
}
#section0 .bd .join-us {
  display:block;
  width:150px;
  height:40px;
  line-height:40px;
  text-align:center;
  color:#fff;
  font-size:18px;
  margin:0 auto;
  background:url(../images/coo2.png) no-repeat center center;
  background-size:100% 100%;
  position:relative;
  top:55%;
  text-decoration:none;
}
#section0 .bd .over {
  display:block;
  width:150px;
  height:40px;
  line-height:40px;
  text-align:center;
  color:#fff;
  font-size:18px;
  margin:0 auto;
  background:#4e4a58;
  border-radius:50px;
  position:relative;
  top:55%;
  text-decoration:none;
}
#section1 {
  /*background:#131027;
  */
}
#section1 .bd {
  margin:0 auto;
  padding-top:10%;
  height:85%;
}
#section1 .bd h2 {
  width:361px;
  margin:0 auto;
}
#section1 .bd h2 img {
  display:block;
  width:361px;
}
#section1 .bd ul {
  overflow:hidden;
  width:100%;
  position:relative;
  margin:0 auto;
  margin-top:10%;
}
#section1 .bd ul li {
  width:16%;
  margin:0 4.5%;
  overflow:hidden;
  float:left;
}
#section1 .bd ul li h5 {
  width:100%;
  height:115px;
  background: url(../images/coo17.png) no-repeat left bottom;
}
#section1 .bd ul li h5 i img {
  display:block;
  width:78px;
  height:55px;
}
#section1 .bd ul li h5 span {
  color:#fff;
  font-size:21px;
  line-height:29px;
  position:relative;
  top:-25px;
}
#section1 .bd ul li p {
  color:#fff;
  font-size:12px;
  line-height:24px;
  margin-top:8px;
}
.inforWin {
  width:300px;
  height:115px;
  border:1px solid #999;
  background-color:#fff;
  cursor:default;
  font-size:12px;
}
.inforWin h6 {
  line-height:30px;
  background-color:#f9f9f9;
  overflow:hidden;
  height:30px;
  padding:0 5px;
  font-size:12px;
  position:relative;
}
.inforWin h6 .close {
  position:absolute;
  right:10px;
  top:10px;
  background-color:#f9f9f9;
  cursor:pointer;
  overflow:hidden;
}
.inforWin .searchBox {
  width:300px;
  height:75px;
  margin-top:6px;
  overflow:hidden;
}
.inforWin .searchBox ul {
  width:100%;
  height:30px;
  background:url(//gtms01.alicdn.com/tps/i1/TB1xmMiIpXXXXceXFXXbUclOXXX-156-157.png) repeat-x 0 0;
}
.inforWin .searchBox ul li {
  float:left;
  width:98px;
  position:relative;
  height:25px;
  line-height:25px;
  padding-top:5px;
  text-align:center;
  border-left:1px solid #dadada;
  cursor:pointer;
  overflow:hidden;
}
.inforWin .searchBox ul li.current {
  color:#4d4d4d;
  cursor:default;
  background:url('//gtms01.alicdn.com/tps/i1/TB1xmMiIpXXXXceXFXXbUclOXXX-156-157.png') repeat-x 0 -44px;
}
.inforWin .searchBox ul li span.icon {
  display:inline-block;
  position:relative;
  width:10px;
  height:15px;
  top:3px;
  margin-right:7px;
  background:url('//gtms01.alicdn.com/tps/i1/TB1xmMiIpXXXXceXFXXbUclOXXX-156-157.png') no-repeat 0 -136px;
}
.inforWin .searchBox ul li span.icon1 {
  background-position:-15px -136px;
}
.inforWin .searchBox ul li span.icon2 {
  background-position:0 -136px;
}
.inforWin .searchBox ul li span.icon3 {
  width:14px;
  height:14px;
  background-position:-30px -136px;
}
.inforWin .searchBox .inputBox {
  width:295px;
  height:32px;
  padding-top:12px;
  padding-left:5px;
}
.inforWin .searchBox .inputBox span {
  font-size:12px;
  color:#333;
}
.inforWin .searchBox .inputBox .input {
  width:140px;
  height:24px;
  line-height:24px;
  border:1px solid #e5e5e5;
  padding-left:10px;
}
.inforWin .searchBox .inputBox .input_long {
  width:220px;
  height:24px;
  line-height:24px;
  border:1px solid #e5e5e5;
  padding-left:10px;
}
.inforWin .searchBox .inputBox .iw_bt {
  width:48px;
  height:26px;
  line-height:18px;
  cursor:pointer;
  border:0;
  padding:0;
  background:url('//gtms01.alicdn.com/tps/i1/TB1xmMiIpXXXXceXFXXbUclOXXX-156-157.png') no-repeat 0 -87px;
  vertical-align:top;
}
.MapLib_trans {
  position:relative;
  top:4px;
  left:111px;
}
#result1 {
  display:block;
  max-height:300px;
  width:150px;
  position:absolute;
  top:104px;
  width:299px;
  overflow:hidden;
  background:#fff;
  z-index:10;
  border:1px solid #e5e5e5;
  display:none;
  border-top:0;
}
#result2 {
  display:block;
  max-height:300px;
  width:150px;
  position:absolute;
  top:104px;
  width:299px;
  overflow:hidden;
  background:#fff;
  z-index:10;
  border:1px solid #e5e5e5;
  display:none;
  border-top:0;
}
#section5 .bd {
  margin:0 auto;
  padding-top:10%;
  height:85%;
}
#section5 .bd h2 {
  color:#fff;
  width:88%;
  margin:0 auto;
  font-size:30px;
  line-height:30px;
  margin-bottom:8%;
  text-align:center;
  background:url(../images/coo15.png) no-repeat center center;
}
#section5 .bd .product-box {
  width:88%;
  margin:0 auto;
  overflow:hidden;
}
#section5 .bd .product-box ul {
  }#section5 .bd .product-box li {
  width:32%;
  height:136px;
  float:left;
  margin-right:36%;
  margin-bottom:8%;
  position:relative;
}
#section5 .bd .product-box li.even {
  margin-right:0;
}
#section5 .bd .product-box li .view-pic {
  width:86px;
  height:86px;
  padding:25px;
  float:left;
  margin-right:14px;
  background:url(../images/coo13.png) no-repeat center center;
  background-size:100% 100%;
}
#section5 .bd .product-box li .view-pic img {
  width:86px;
  height:86px;
}
#section5 .bd .product-box li .product-info {
  /*float:left;
  */
}
#section5 .bd .product-box li a {
  color:#fff;
  text-decoration:none;
}
#section5 .bd .product-box li h6 {
  color:#fff;
  font-size:18px;
  line-height:24px;
  margin-bottom:10px;
}
#section5 .bd .product-box li .intro {
  color:#fff;
  font-size:12px;
  line-height:24px;
}
#section5 .bd .product-box li .price {
  color:#d414eb;
  font-size:15px;
  line-height:25px;
}
#section5 .bd .product-box li .detail {
  display:block;
  width:65px;
  height:20px;
  line-height:20px;
  color:#fff;
  text-align:center;
  text-decoration:none;
  font-size:10px;
  background:url(../images/coo14.png) no-repeat center center;
  background-size:100% 100%;
  position:absolute;
  left:150px;
  bottom:0;
}
#section5 .bd .get_more {
  display:block;
  width:150px;
  height:40px;
  color:#fff;
  font-size:18px;
  text-align:center;
  text-decoration:none;
  line-height:40px;
  margin:0 auto;
  background:url(../images/coo14.png) no-repeat center center;
  background-size:100% 100%;
}
#section6 .bd {
  margin:0 auto;
  padding-top:10%;
  height:90%;
}
#section6 .bd h2 {
  color:#fff;
  width:88%;
  margin:0 auto;
  font-size:30px;
  line-height:30px;
  margin-bottom:4%;
  text-align:center;
  background:url(../images/coo15.png) no-repeat center center;
}
#section6 .bd .J_tab {
  width:88%;
  overflow:hidden;
  margin:0 auto;
}
#section6 .bd .J_tab .tab-content {
  position:relative;
}
#section6 .bd .J_tab .tab-pannel ul {
  width:102%;
}
#section6 .bd .J_tab .tab-pannel li {
  margin-right:2%;
  margin-bottom:2%;
  width:48%;
  height:197px;
  float:left;
  overflow:hidden;
}
#section6 .bd .J_tab .tab-pannel .view-pic {
  padding:5px;
  float:left;
  width:280px;
  height:187px;
  background:url(../images/coo16.png) no-repeat center center;
  background-size:100% 100%;
  margin-right:2%;
}
#section6 .bd .J_tab .tab-pannel .view-pic img {
  display:block;
  width:280px;
  height:187px;
}
#section6 .bd .J_tab .tab-pannel .view-info a {
  color:#fff;
  text-decoration:none;
}
#section6 .bd .J_tab .tab-pannel .view-info h6 {
  color:#fff;
  font-size:16px;
  line-height:25px;
  margin-bottom:10px;
}
#section6 .bd .J_tab .tab-pannel .view-info p {
  color:#fff;
  font-size:12px;
  line-height:22px;
}
#section6 .bd .J_tab .tab-pannel .view-info .detail {
  color:#d414eb;
}
#section6 .bd .J_tab .get_more {
  display:block;
  width:125px;
  height:27px;
  color:#fff;
  font-size:12px;
  text-align:center;
  text-decoration:none;
  line-height:27px;
  margin:0 auto;
  margin-top:20px;
  background:url(../images/coo14.png) no-repeat center center;
  background-size:100% 100%;
}
.fix-nav {
  position:fixed;
  width:10px;
  right:120px;
  top:45%;
  z-index:20;
}
.fix-nav li {
  display:block;
  width:10px;
  height:10px;
  margin:10px 0;
}
.fix-nav li a {
  display:block;
  width:6px;
  height:6px;
  background:transparent;
  border-radius:50%;
  border:2px solid #fff;
}
.fix-nav li.selected a {
  background:#fff;
}
