/* banna */
@font-face {
    font-family: 'fzlantingheis-ul-gbregular';
    src: url('../font/fzltcxhjw_0.eot');
    src: url('../font/fzltcxhjw_0.eot?#iefix') format('embedded-opentype'),
         url('../font/fzltcxhjw_0.woff2') format('woff2'),
         url('../font/fzltcxhjw_0.woff') format('woff'),
         url('../font/fzltcxhjw_0.ttf') format('truetype'),
         url('../font/fzltcxhjw_0.svg#fzlantingheis-ul-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.banner{background: url(../images/phone_banner.jpg) center center no-repeat; text-align: center; color: #fff; font-size: 30px; padding:239px 0;    letter-spacing: 3px; font-family: fzlantingheis-ul-gbregular; -webkit-text-stroke-width: 0.35px; font-size: 35px; font-weight: 100;}
.banner p{position: relative;top: -29px;}
.banner .line{position: absolute;top: 218px;left: 50%;width: 1103px;height: 140px;margin-left: -551.5px;background: url(../images/light.png) no-repeat center;}
.scan-box{width: 1255px; text-align: center; margin-top: 35px; font-size: 22px;}
.scan-box li{width: 380px; height: 520px; border: 1px solid #eaeaea; border-top: 3px solid #28ccee; float: left; margin-right: 35px;}
.scan-box li:hover{box-shadow: 0 0 40px -1px #e0e0e0;}
.scan-box li .title{margin-top: 35px;}
.scan-box li img{height: 215px; margin-top: 30px; border: 1px solid #e2e2e2;}
.scan-box li .name{font-size: 20px; margin: 30px 0 10px;}
.scan-box li .desc{font-size: 16px; margin-top: 45px;}
.scan-box .link{margin-top: 13px;}
.scan-box .link a{display: block; width: 215px; height: 65px; border-radius: 4px; line-height: 65px; text-align: center; font-size: 22px; border: 1px solid #696ff7; color: #fff; margin: 0 auto 15px;}
.scan-box .link a.link-android{background: #696ff7;}
.scan-box .link a.link-ios{background: #209ff8; border-color: #209ff8;}
.scan-box .link a span{padding: 20px 0 20px 57px;}
.scan-box .link a.link-android span{background: url(../images/link-android.png) 0 center no-repeat;}
.scan-box .link a.link-ios span{background: url(../images/link-ios.png) 0 center no-repeat;}

.slideBox{margin-top: 100px; position: relative; overflow: hidden; height: 641px;}
#slider{position: relative; left: -179px; margin-top: 140px; width: 100%;}
#slider li{width: 254px; }
#slider img{width: 254px;}
#slider .btn{position: absolute; width: 140px; height: 453px; display: block; top: 0; background: #fff; z-index: 99;}
#slider .prev{left: 179px; background: #fff; background: -webkit-linear-gradient(left,#fff 0,rgba(255,255,255,0) 100%); background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);}
#slider .next{right: -179px; background: #fff; background: -webkit-linear-gradient(right,#fff 0,rgba(255,255,255,0) 100%); background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);}
.module-tit{font-size: 30px; text-align: center; min-width: 1200px;}
.f30{font-size: 30px; line-height: 48px;}
.f22{font-size: 20px; color: #828282; margin-top: 35px; line-height: 40px;}
.module-1{padding: 110px 0 150px;}
.module-1 .txtbox{margin-top: 55px;}
.module-2{background: url(../images/p_m2_bg.png) center center no-repeat; padding-bottom: 90px;}
.module-2 .imgbox{margin-top: 34px;}
.module-2 .txtbox{text-align: right;}
.module-3{position: relative; padding: 150px 0 290px; background: #f7f7f7; overflow: hidden; min-width: 1200px;}
.module-3 .txtbox{position: relative; z-index: 10;}
.module-3 .imgbox{position: absolute; right: -150px; width: 960px; height: 705px; top: 0; transition: all .3s; -webkit-transition: all 1s;}
.module-3.show .imgbox{top: -55px; right: 0;}

.iphone{position: relative; left: 313px; height: 600px; margin-top: -529px; width: 1200px;}
.iphone .iphone_bg{position: absolute; width: 285px; background: url(../images/iphone_bg.png) center center no-repeat; height: 600px;}
