html{
	background:#1e1e28; 
}
.banner{
    padding: 80px 0 85px;
	margin-top: 32px;
	color: #fff;
	background: url(../images/probac.png) no-repeat right 50px;
    background-size: auto 384px;
}
.banner h2{
    margin: 0 0 3px;
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0,0,0,.3);
}
.banner h3{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
}
.banner p img{
	height: 86px;
	position: relative;
	left: -50px;
}
.banner a{
    margin: 0;
    width: 180px;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    text-align: center;
	border: 1px solid #fff;
	display: block;
	color: #fff;
}
.banner a:hover{
    background: #fff;
    color: #000!important;
}
.discount{
	margin-top: 30px;
}
.discount .distitle{
	margin-bottom: 40px;
    text-align: center;
}
.discount .distitle h2{
    margin: 0 0 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}
.discount .distitle h3{
	margin: 0 0 4px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.discount .distitle h3 span{
    padding-left: 20px;
    background: url(../images/tips.png) no-repeat 0;
    background-size: 18px auto;
}
.discount .distitle h3 span b{
    font-size: 24px;
    font-weight: 500;
    color: #54ec46;
}
.type .box{
    float: left;
    position: relative;
    overflow: hidden;
    width: 260px;
    margin-right: 50px;
    padding-bottom: 36px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.2);
    background: url(../images/boxbc.png) no-repeat bottom;
    background-size: cover;
}
.type .box.lastbox{
	margin-right: 0;
}
.type .box .head{
	padding: 15px 0 0 50px;
    height: 132px;
    box-sizing: border-box;
    background: url(../images/boxbc1.png) no-repeat center 0;
    background-size: cover;
}
.type .box .head .tips{
	position: absolute;
    right: -4px;
    top: -3px;
    width: 96px;
    height: 96px;
    background: url(../images/tips3.png) no-repeat 0 0;
    background-size: 96px 96px;
}
.type .box .head .tips span{
    display: block;
    margin: 24px 0 0;
    width: 115px;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(45deg) scale(.833);
    transform: rotate(45deg) scale(.833);
    font-size: 14px;
    margin-top: 27px;
    text-indent: 5px;
}
.type .box .head h3{
    margin: 0 0 10px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.type .box .head p{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.type .box .head .price{
    line-height: 1.2;
    font-size: 14px;
    color: #fff;
}
.type .box .head .price em{
    color: #54ec46;
    font-style: normal;
}
.type .box .head .price b{
    font-size: 28px;
    font-weight: 500;
    color: #54ec46;
}
.type .box ul{
    padding: 14px 0 20px 50px;
}
.type .box ul li{
    font-size: 14px;
    color: #fff;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.type .box ul li.ht{
    font-size: 24px;
}
.type .box a{
    margin: 0 50px;
    padding: 0;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    background-color: transparent;
    border:1px solid #fff;
    display: block;
}
.type .box a:hover{
    background-image: linear-gradient(-45deg,#21c6ff,#1d8bff);
    border-color: transparent;
    color: #fff!important;
}
.comparison{
	margin-top: 50px;
}
.comlead{
    margin-bottom: 30px;
    text-align: center;
}
.comlead h2{
    margin: 0 0 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}
.comlead p{
    margin: 0;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.comlead p span{
    margin: 0 20px;
}
.comlead p span img{
    position: relative;
    margin-right: 5px;
    top: 5px;
    width: 18px;
}


.comparison table {
    width: 100%
}

.comparison table .head {
    height: 46px;
    background: url("../images/tablebc.png") no-repeat 0 0;
    background-size: 1200px 46px
}

.comparison table .col-1 {
    width: 450px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px
}

.comparison table .col-2 {
    width: 220px;
    background-color: #20202b;
    box-shadow: 0 3px 18px 0 rgba(0,0,0,.24)
}

.comparison table .col-3,.comparison table .col-4 {
    width: 220px
}

.comparison table .row-1 td {
    padding-top: 16px
}

.comparison table th {
    position: relative;
    line-height: 46px;
    height: 46px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #3a3a44
}

.comparison table th.col-2 {
    background-color: transparent;
    box-shadow: none
}

.comparison table th.col-2 span {
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 62px;
    line-height: 62px;
    background-image: linear-gradient(-90deg,#349efb,#755ef9 84%);
    box-shadow: 0 3px 18px 0 rgba(0,0,0,.24)
}

.comparison table td {
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 42px;
    height: 42px;
    border-bottom: 1px solid #3a3a44
}

.comparison table td img {
    display: inline-block;
    vertical-align: middle
}

.comparison table td.col-1 {
    border-left: 1px solid #3a3a44
}

.comparison table td.col-4 {
    border-right: 1px solid #3a3a44
}

.comparison table td.col-2-last {
    position: relative;
    background-color: transparent;
    box-shadow: none
}

.comparison table td.col-2-last span {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: #20202b;
    box-shadow: 0 3px 18px 0 rgba(0,0,0,.24)
}
.document{
    margin-top: 50px;
}
.document .hd {
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 500
}

.document .bd {
    *zoom:1}

.document .bd:after,.document .bd:before {
    content: "";
    display: table
}

.document .bd:after {
    clear: both
}

.document .qa-wrap {
    float: left;
    width: 600px;
}

.document .qa-wrap h3 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500
}

.document .qa-wrap ul li {
    margin-bottom: 20px
}

.document .qa-wrap ul li .q {
    padding-left: 33px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: url("../images/proadd.png") no-repeat 0;
    background-size: 26px 26px
}

.document .qa-wrap ul li .q.active {
    background-image: url("../images/proapp.png")
}

.document .qa-wrap ul li .a {
    display: none;
    padding-left: 33px;
    padding-top: 8px;
    font-size: 12px;
    color: #ddd;
    line-height: 1.5;
    width: 465px;
}

.document .document-wrap {
    float: right;
    width: 390px
}

.document .document-wrap h3 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500
}

.document .document-wrap ul li {
    position: relative;
    margin-bottom: 20px;
    padding-right: 80px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.document .document-wrap ul li a {
    position: absolute;
    right: 0;
    top: 0;
    color: #4a7cff;
    padding-right: 15px;
    background: url("../images/proarrow.png") no-repeat 100%;
    background-size: 12px auto
}
