/* banna */
@font-face {
    font-family: 'fzlantingheis-ul-gbregular';
    src: url('../font/fzltcxhjw_0.eot');
    src: url('../font/fzltcxhjw_0.eot?#iefix') format('embedded-opentype'),
         url('../font/fzltcxhjw_0.woff2') format('woff2'),
         url('../font/fzltcxhjw_0.woff') format('woff'),
         url('../font/fzltcxhjw_0.ttf') format('truetype'),
         url('../font/fzltcxhjw_0.svg#fzlantingheis-ul-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrap{position: relative; width: 1200px;}

.banner{position: relative; text-align: center; color: #fff; font-size: 26px; letter-spacing: 3px; height: 550px; width: 100%;}
.one-banner{height: 510px; overflow: hidden; background-image: url(../images/star.jpg)\9; background-image: url(../images/star.jpg)\9\0;}
.banner .wrap{position: absolute; left: 50%; margin-left: -600px; top: 0;}
.banner .code{position: absolute; left: 0; font-size: 14px; top: 155px;}
.banner .code img{width: 155px;}
.banner .banner_img{position: absolute; right: -50px; top: 135px;}
.banner .banner-txt{margin-top: 210px; font-family: fzlantingheis-ul-gbregular; -webkit-text-stroke-width: 0.35px; font-size: 30px; font-weight: 100;}
.module-1{padding-top: 140px;}
.box-1{height: 900px; margin-top: -50px;}
.box-1 .imgbox{position: absolute; left: -204px;}
.box-1 .txtbox{position: relative; z-index: 9; margin-top: 150px; font-size: 30px;}
.box-2{height: 760px; position: relative; min-width: 1200px;}
.box-2 .tit{font-size: 30px; line-height: 50px;}
.box-2 .subtit{font-size: 20px; color: #828282; margin-top: 25px; line-height: 40px;}
.box-2 .txtbox{position: relative; z-index: 9;}
.box-2 .imgbox{position: absolute; background: url(../images/w_m1_2.png) center center no-repeat; width: 1000px; height: 1500px; right: 0; top: -800px;}
.box-2 .bgbox{position: absolute; width: 355px; height: 815px; background: url(../images/w_b2_bg.png) center center no-repeat; top: 31px; left: -17px;}
.box-3{position: relative;}
.box-3 .imgbox{margin-left: -95px;}
.box-3 .txtbox{font-size: 30px; position: absolute; right: 0; top: 125px;}
.box-3 .subtit{font-size: 20px; position: absolute; right: 0; top: 160px; color: #828282; margin-top: 25px; line-height: 40px;}
.box-4{position: relative; min-width: 1200px;}
.box-4 .txtbox{margin-top: 160px;}
.box-4 .tit{font-size: 30px; line-height: 50px;}
.box-4 .subtit{font-size: 20px; color: #828282; margin-top: 25px; line-height: 40px;}
.box-4 .imgbox{margin-right: -50px;}
.box-4 .bgbox{position: absolute; background: url(../images/w_b4_bg.png) center center no-repeat; width: 695px; height: 1900px; right: 0; top: -437px; z-index: -1;}
.box-5{padding-bottom: 170px;}
.box-5 .tit{font-size: 30px; line-height: 50px;}
.box-5 .subtit{font-size: 20px; color: #828282; margin-top: 25px; line-height: 40px;}
.box-5 .imgbox{margin-left: -96px;}
.box-5 .txtbox{position: absolute; right: 0; top: 113px; text-align: right;}
