.none{
	display: none!important;
}
.article_list{
	width: 1220px;
	margin:  0 auto;
	position: relative;
}
.article_list .al_share{
    top: 40px;
    position: absolute;
    width: 65px;
    left: 50%;
    font-family: "Microsoft YaHei";
    margin: 0 0 0 -599px;
    z-index: 10;
}
.article_list .al_share ul{
	width: 55px;
    margin: 0 0 0 10px;
}
.article_list .al_share ul li{
    border: 1px solid #ebebeb;
    margin: 0 0 2px;
}
.article_list .al_share ul li a{
	background: url(../images/new_ico_img.png) #fff no-repeat;
    text-align: center;
    display: block;
    width: 53px;
    height: 53px!important;
    line-height: 53px!important;
}
.article_list .al_share ul li a.com{
	background-position: 15px -505px;
}
.article_list .al_share ul li a.bds_tsina{
    background-position: 15px -558px;
}
.article_list .al_share ul li a.bds_weixin{
    background-position: 14px -613px;
}
.article_list .al_share ul li a.bds_qzone{
    background-position: 13px -666px;
}
.bdsharebuttonbox a{
	float: none!important;
	padding: 0!important;
	margin: 0!important;
}
.article_list .arl_left{
	width: 862px;
    margin: 0 auto;
    float: left;
}
.article_list .article{
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    width: 778px;
    margin: 0 0 20px 80px;
}
.article_list .article .article_detail{
    width: 630px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
    word-break: break-all;
    word-wrap: break-word;
    padding: 50px 0 30px;
}
.article_list .article .article_detail h1{
    font-size: 42px;
    color: #333;
    font-weight: bold;
    line-height: 55px;
    padding: 0;
    margin: 0 0 20px;
    text-align: justify;
}
.article_list .article .article_detail .time{
	    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #999;
    margin: 0 0 30px;
}
.article_list .article .article_detail .time em{
	padding: 0 0 0 20px;
}
.article_list .article .article_detail .time em a{
	color: #4284d9;
}
.article_list .article .article_detail .art_txt{
	font-size: 14px;
	line-height: 80px;
}
.article_list .article .article_detail .ed{
    height: 30px;
    color: #9d9d9d;
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    line-height: 30px;
}
.article_list .article .article_detail .ed a{
    color: #333;
}
.article_list .article .article_detail .art_car{
    width: 400px;
    margin: 0 auto 35px;
    text-align: center;
}
.article_list .article .article_detail .art_car .ac_pic{
    width: 320px;
    height: 215px;
    margin: 0 auto;
}
.article_list .article .article_detail .art_car .ac_pic img{
    width: 320px;
    height: 215px;
    display: block;
}
.article_list .article .article_detail .art_car h2{
    height: 30px;
    line-height: 30px;
    font-size: 24px;
}
.article_list .article .article_detail .art_car .art_price{
    height: 30px;
    line-height: 30px;
}
.article_list .article .article_detail .art_car .art_price a{
    font-size: 18px;
    color: #ed3d3d;
}
.article_list .article .article_detail .art_car .art_price span{
	font-size: 14px;
    color: #999;
}
.article_list .article .article_detail .art_bt{
    height: 65px;
    margin: 0 0 40px;
}
.article_list .article .article_detail .art_bt a{
    display: block;
    height: 60px;
    width: 290px;
    font-size: 20px;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
}
.article_list .article .article_detail .art_bt a i{
	background: url(../images/new_ico_img.png) no-repeat;
}
.article_list .article .article_detail .art_bt a.xw{
    border: 3px solid #ed3d3d;
    box-shadow: 5px 5px 0 #fce4e1;
    float: left;
}
.article_list .article .article_detail .art_bt a.xw i{
    display: inline-block;
    width: 20px;
    height: 21px;
    vertical-align: middle;
    background-position: -197px -52px;
    top: -1px;
    position: relative;
    left: -11px;
}
.article_list .article .article_detail .art_bt a.bd{
    border: 3px solid #4284d9;
    box-shadow: 5px 5px 0 #e1effa;
    float: right;
    margin: 0 5px 0 0;
}
.article_list .article .article_detail .art_bt a.bd i{
	display: inline-block;
    width: 18px;
    height: 22px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    background-position: -198px -23px;
    left: -11px;
}
.article_list .article .article_detail .art_label{
	height: 30px;
    overflow: hidden;
    margin: 0 auto 40px;
}
.article_list .article .article_detail .art_label .lab_list{
	    float: left;
    position: relative;
    left: 50%;
}
.article_list .article .article_detail .art_label .lab_list a{
	    display: block;
    padding: 0 24px;
    line-height: 28px;
    border: 1px solid #333;
    text-align: center;
    float: left;
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    margin: 0 13px 0 0;
    color: #333;
    position: relative;
    left: -50%;
}
.article_list .article .article_detail .art_label .lab_list a:hover{
    background: #333;
    color: #fff;
}
.article_list .article .article_detail .pk_box{
    margin: 0 auto 55px;
    width: 356px;
    height: 115px;
    position: relative;
}
.article_list .article .article_detail .pk_box .pk_zan{
    width: 86px;
    position: absolute;
    top: 0;
    left: 0;
}
.article_list .article .article_detail .pk_box .pk_zan span{
	display: none;
	color: #ed3d3d;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}
.article_list .article .article_detail .pk_box .pk_zan a{
    display: block;
    width: 86px;
    height: 86px;
    background: url(../images/new_ico_img.png) no-repeat;
    background-position: 0 -73px;
}
.article_list .article .article_detail .pk_box .pk_zan p{
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.article_list .article .article_detail .pk_box .pk_cai{
    width: 86px;
    position: absolute;
    top: 0;
    right: 0;
}
.article_list .article .article_detail .pk_box .pk_cai span{
	display: none;
    color: #4284d9;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}
.article_list .article .article_detail .pk_box .pk_cai a{
    display: block;
    width: 86px;
    height: 86px;
    background: url(../images/new_ico_img.png) no-repeat;
	background-position: -90px -73px;
}
.article_list .article .article_detail .pk_box .pk_cai p{
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.article_list .article .article_detail .pk_box .pk_line{
    width: 184px;
    position: absolute;
    top: 38px;
    left: 86px;
    height: 9px;
}
.article_list .article .article_detail .pk_box .pk_line .pkl_z{
    display: block;
    height: 9px;
    top: 0;
    position: absolute;
    background: #ed3d3d;
    left: 0;
}
.article_list .article .article_detail .pk_box .pk_line .pkl_z i{
    display: block;
    width: 4px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: -3px;
    right: -2px;
    z-index: 5;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.article_list .article .article_detail .pk_box .pk_line .pkl_c{
    display: block;
    height: 9px;
    top: 0;
    position: absolute;
    background: #4284d9;
    right: 0;
}
.article_list .article .article_detail .art_share{
    margin: 0 auto 90px;
    width: 630px;
}
.article_list .article .article_detail .art_share h3{
    height: 22px;
    line-height: 22px;
    position: relative;
    margin: 0 auto 35px;
}
.article_list .article .article_detail .art_share h3 i{
    display: block;
    height: 1px;
    width: 100%;
    background: #ededed;
    top: 11px;
    position: absolute;
    z-index: 2;
}
.article_list .article .article_detail .art_share h3 p{
    width: 77px;
    text-align: center;
    color: #5c5c5c;
    font-size: 14px;
    background: #fff;
    margin: 0 auto;
    z-index: 5;
    position: relative;
    font-weight: normal;
}
.article_list .article .article_detail .art_share .art_share_list{
	height: 60px;
}
.article_list .article .article_detail .art_share .art_share_list .bdsharebuttonbox{
    margin: 0;
    float: left;
    left: 50%;
    position: relative;
}
.article_list .article .article_detail .art_share .art_share_list ul li{
	float: left;
    margin: 0 20px 0 0;
    left: -50%;
    position: relative;
}
.article_list .article .article_detail .art_share .art_share_list ul li a{
    background: url(../images/new_ico_img.png) no-repeat;
    line-height: 16px;
    cursor: pointer;
    display: block;
    width: 62px;
    height: 62px;
    transition: all 0.0s;
    -moz-transition: all 0.0s;
    -webkit-transition: all 0.0s;
    -o-transition: all 0.0s;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_tsina{
    background-position: 0 -358px;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_tsina:hover{
    background-position: 0 -438px;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_weixin{
    background-position: -79px -358px;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_weixin:hover{
    background-position: -79px -438px;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_qzone{
    background-position: -159px -358px;
}
.article_list .article .article_detail .art_share .art_share_list ul li a.bds_qzone:hover{
    background-position: -159px -438px;
}
.article_list .article .article_detail .art_share .art_share_list ul li.art_sc a{
	background: url(../images/new_ico_img.png) no-repeat;
    background-position: -239px -359px;
    width: 137px!important;
    text-decoration: none;
    height: 62px!important;
}
.article_list .article .article_detail .art_share .art_share_list ul li.art_sc a span{
    display: block;
    line-height: 60px;
    font-size: 14px;
    color: #5c5c5c;
    padding: 0 0 0 55px;
}
.article_list .article .article_detail .art_share .art_share_list ul li.art_sc a:hover{
    background-position: -239px -439px;
    color: #4284d9;
}
.article_list .article .article_detail .art_share .art_share_list ul li.art_sc a:hover span{
    color: #4284d9;
}
.article_list .about{
	background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 20px;
    padding: 30px 30px 40px;
}
.article_list .about h1{
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 0 30px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    width: 100%;
}
.article_list .about .about_list .about_txt{
    padding: 0 0 30px;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    margin: 0 auto 30px;
}
.article_list .about .about_list .about_txt .about_pic{
	width: 180px;
    height: 120px;
    float: left;
    margin: 0 20px 0 0;
}
.article_list .about .about_list .about_txt .about_pic img{
    width: 180px;
    height: 120px;
    display: block;
}
.article_list .about .about_list .about_txt .about_de{
    width: 595px;
    float: left;
}
.article_list .about .about_list .about_txt .about_de h2{
	height: 32px;
    line-height: 32px;
    margin: 0 0 14px;
    overflow: hidden;
    font-size: 24px;
}
.article_list .about .about_list .about_txt .about_de h2 a{
	font-size: 24px;
}
.article_list .about .about_list .about_txt .about_de .about_infor{
	height: 16px;
    line-height: 16px;
    color: #999;
    font-size: 12px;
    margin: 0 0 2px;
}
.article_list .about .about_list .about_txt .about_de .about_infor span{
    margin: 0 10px 0 0;
    display: inline-block;
}
.article_list .about .about_list .about_txt .about_de .about_infor span.view{
	padding: 0 0 0 20px;
    background: url(../images/view.png) no-repeat left center;
}
.article_list .about .about_list .about_txt .about_de .about_infor span.com{
    background: url(../images/comments.png) no-repeat left center;
    padding: 0 0 0 18px;
}
.article_list .about .about_list .about_txt .about_de .txt{
    line-height: 28px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    color: #333;
}
.article_list .about .about_list .about_txt .about_de .txt a{
	color: #5199e1;
}
.article_list .about .about_list .about_more a{
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    box-shadow: 0 0 8px #e9e9e9;
    color: #ed3d3d;
    font-size: 14px;
}
.article_list .about .about_list .about_more a i{
    background: url(../images/new_ico_img.png) no-repeat;
    display: inline-block;
    background-position: -197px 0;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
}
.article_list .about .about_list .about_more a span{
	line-height: 48px;
	color: #ed3d3d;
    font-size: 14px;
    text-align: center;
}
.article_list .about .about_list .about_more a:hover{
	background: #fff;
}
.article_list .favorable{
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 20px;
    padding: 30px 30px 35px;
    overflow: hidden;
}
.article_list .favorable .fav_title{
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 0 30px;
}
.article_list .favorable .fav_title h1{
    font-size: 30px;
    color: #333;
    float: left;
    line-height: 30px;
    font-weight: bold;
}
.article_list .favorable .fav_title .fav_more{
    position: absolute;
    right: 0;
    bottom: 3px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
.article_list .favorable .fav_title .fav_more a{
	margin-left: 10px;
	font-size: 16px;
	line-height: 20px;
}
.article_list .favorable .fav_title .fav_more a:first-child:before{
	border-left:none;
}
.article_list .favorable .fav_title .fav_more a:before{
    content: "";
    height: 15px;
    width: 15px;
    border-left: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
}
.article_list .favorable .fav_list .fav_pic{
    width: 240px;
    height: 160px;
    float: left;
    margin: 0 30px 0 0;
}
.article_list .favorable .fav_list .fav_pic a img{
    width: 240px;
    height: 160px;
    display: block;
}
.article_list .favorable .fav_list .fav_txt{
    width: 527px;
    float: left;
}
.article_list .favorable .fav_list .fav_txt .fav_infor{
	position: relative;
    margin: 0 0 15px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .name{
    height: 28px;
    line-height: 28px;
    font-size: 24px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .name a{
	font-size: 24px;
	line-height: 28px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .price{
    height: 32px;
    line-height: 32px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .price a{
	color: #ff4f53;
    font-size: 18px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .price span{
	font-size: 14px;
    color: #999;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box{
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 4px;
    right: 0;
    width: 263px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box em{
	position: relative;
    top: 5px;
    display: inline-block;
    vertical-align: top;
    color: #333;
    font-size: 12px;
    margin: 0 10px 0 0;
    height: 15px;
    line-height: 15px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box strong{
	height: 30px;
    line-height: 30px;
    position: relative;
    top: -8px;
    color: #ff4f53;
    font-size: 30px;
    display: inline-block;
    font-weight: normal;
    margin: 0 10px 0 0;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box strong i{
	font-size: 18px;
	font-style: normal;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box .star_box{
	width: 125px;
    height: 22px;
    background: url(../images/kb_start_img.jpg) repeat-x 0 -27px;
    display: inline-block;
    padding: 0;
    position: relative;
    top: -5px;
}
.article_list .favorable .fav_list .fav_txt .fav_infor .pf_box .star_box a i{
	    height: 22px;
    display: block;
    background: url(../images/kb_start_img.jpg) repeat-x 0 0;
}
.article_list .favorable .fav_list .fav_txt .fav_btn{
    margin: 0 0 20px;
}
.article_list .favorable .fav_list .fav_txt .fav_btn .btn_list{
	border-radius: 3px;
}
.article_list .favorable .fav_list .fav_txt .fav_btn .btn_list a{
	float: left;
	position: relative;
	padding: 0 10px!important;
    border-radius: 0;
    border:1px solid #ccc;
    color: #333;
    margin-left: -1px;
    text-align: center;
    width: 90px;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
}
.article_list .favorable .fav_list .fav_txt .fav_btn .btn_list a:first-child{
    border: 1px solid #FF4F53;
    background: #FF4F53;
    color: #fff;
    border-radius: 3px 0 0 3px;
}
.article_list .favorable .fav_list .fav_txt .fav_btn .btn_list a:last-child{
    border-radius: 0 3px 3px 0;
}
.article_list .favorable .fav_list .fav_txt .fav_btn .btn_list a:hover{
	background: #dedede;
	border-color: #dedede;
	color: #000;
}
.article_list .favorable .fav_list .fav_txt .fav_ov{
	width: 485px;
}
.article_list .favorable .fav_list .fav_txt .fav_ov .ov_t{
	width: 33.33333333%;
	float: left;
}
.article_list .favorable .fav_list .fav_txt .fav_ov .ov_t:first-child{
	border-right: 1px solid #f0f0f0;
}
.article_list .favorable .fav_list .fav_txt .fav_ov .ov_t:last-child{
	margin-left: 20px;
}
.article_list .favorable .fav_list .fav_txt .fav_ov .ov_t em{
    color: #999;
    font-size: 14px;
}
.article_list .favorable .fav_list .fav_txt .fav_ov .ov_t a{
	display: block;
	    color: #ff4f53;
    font-size: 16px;
    line-height: 22px;
}
.com_left{
	width: 798px;
    float: left;
    margin: 0 auto 20px;
    padding: 30px 30px 40px;
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
}
.com_left .com_lead{
	height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 15px;
    border-bottom: 2px solid #e1e1e1;
    overflow: hidden;
    box-sizing: content-box;
}
.com_left .com_lead h1{
	    font-size: 24px;
    color: #333;
    float: left;
    line-height: 35px;
    font-weight: bold;
}
.com_left .com_lead .com_more{
	    position: absolute;
    right: 0;
    bottom: 15px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
.com_left .com_lead .com_more span{
    color: #999;
}
.com_left .com_lead .com_more span em{
	color: #ea4938;
}
.com_left .com_lead .com_more a{
	margin-left: 10px;
	font-size: 16px;
}
.com_left .comment_box .com_now{
    margin: 16px 0 20px;
}
.com_left .comment_box .com_now textarea{
    width: 774px;
    font-size: 14px;
    outline: 0;
    resize: none;
    padding: 10px;
    border: 2px solid #333;
    height: 96px;
    color: #999;
    display: block;
    box-sizing: content-box;
}
.com_left .comment_box .com_now a{
    float: right;
	margin-top: 10px;
    border: 1px solid #ebebeb;
    background: #ebebeb;
    color: #999;
    display: block;
    width: 60px;
    text-align: center;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
}
.com_left .comment_box .com_ago .coma_lead{
	padding: 0 0 20px;
    border-bottom: 2px solid #f0f0f0;
}
.com_left .comment_box .com_ago .coma_lead h1{
	height: 26px;
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.com_ago .coma_list .com_box_de {
    overflow: hidden;
    padding: 30px 0 20px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    height: 100%;
}
.com_ago .coma_list .com_box_de .com_pic{
    float: left;
    width: 60px;
    font-family: "microsoft yahei";
}
.com_ago .coma_list .com_box_de .com_pic a img{
	border-radius: 33px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 2px #ccc;
}
.com_ago .coma_list .com_box_de .com_pic .floor{
    text-align: center;
    color: #999;
    margin: 8px 0 0;
    font-size: 14px;
}
.com_ago .coma_list .com_box_de .content_box{
    width: 720px;
    float: right;
}
.com_ago .coma_list .com_box_de .content_box .name{
    color: #999;
    font-family: "microsoft yahei";
}
.com_ago .coma_list .com_box_de .content_box .name strong{
	font-size: 18px;
    margin: 0 30px 0 0;
    font-weight: normal;
    color: #333;
}
.com_ago .coma_list .com_box_de .content_box .name strong a{
    color: #333;
}
.com_ago .coma_list .com_box_de .content_box .name span{
    margin: 0 10px 0 0;
}
.com_ago .coma_list .com_box_de .content_box .name a{
	color: #999;
}
.com_ago .coma_list .com_box_de .content_box .content p{
    font-size: 14px;
    line-height: 26px;
    padding: 0 0 5px;
    text-align: justify;
    text-justify: inter-ideograph;
    margin: 12px 0 0;
    word-break: break-all;
    word-wrap: break-word;
}
.com_ago .coma_list .com_box_de .content_box .content_bt{
    height: auto;
    color: #CCC;
    zoom: 1;
    height: 22px;
    float: right;
    margin: 10px 0 0 0;
    display: inline;
}
.com_ago .coma_list .com_box_de .content_box .content_bt span{
	background: url(../images/common_ico_img.png) no-repeat 0 0;
    width: 20px;
    height: 19px;
    line-height: 100px;
    overflow: hidden;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 3px;
}
.com_ago .coma_list .com_box_de .content_box .content_bt span.bt_bc{
	background-position: 0 -37px;
}
.com_ago .coma_list .com_box_de .content_box .content_bt  em{
    float: right;
    background: url(../images/common_ico_img.png) no-repeat 0 -74px;
    padding: 0 0 0 23px;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 23px;
    margin: 0 20px 0 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.com_ago .coma_list .com_box_de .content_box .content_bt em:hover{
	background-position: 0 -122px;
    color: #FF4F53;
}
.com_ago .coma_list .com_box_de .content_txt{
    width: 799px;
    background: #fff;
    margin: 10px 0 0 0;
    color: #666;
    padding: 0;
    background: #fff;
    float: left;
}
.com_ago .coma_list .com_box_de .content_txt textarea{
    width: 774px;
    height: 118px;
    color: #999;
    font-size: 14px;
    padding: 10px;
    border: 2px solid #333;
    outline: 0;
    resize: none;
    display: block;
    box-sizing: content-box;
}
.com_ago .coma_list .com_box_de .content_txt a{
	float: right;
	margin-top: 10px;
    border: 1px solid #ebebeb;
    width: 92px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #ebebeb;
    color: #999;
}
.com_ago .coma_more{
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    box-shadow: 0 0 8px #e9e9e9;
    color: #FF4F53;
    font-size: 14px;
    margin: 30px 0 0 0;
}
.com_ago .coma_more:hover{
    background: #fff;
}
.com_ago .coma_more a{
	color: #FF4F53;
}
.com_ago .coma_more a i{
    display: inline-block;
    background: url(../images/new_ico_img.png) no-repeat;
    background-position: -197px 0;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
}
.recommend{
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 20px;
    padding: 30px;
}
.recommend .reco_title{
	height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 0 30px;
}
.recommend .reco_title h1{
    font-size: 30px;
    color: #333;
    float: left;
    line-height: 30px;
    font-weight: bold;
}
.recommend .reco_title em{
    position: absolute;
    color: #999;
    right: 0;
    bottom: 3px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.recommend ul li{
	float: left;
    height: 30px;
    line-height: 30px;
    width: 197px;
}
.recommend ul li em{
    background: url(../images/new_ico_img.png) no-repeat;
    display: inline-block;
    width: 34px;
    height: 30px;
    margin: 0 5px 0 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-position: -77px -33px;
}
.recommend ul li a{
	font-size: 14px;
}
.hot{
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 20px;
    padding: 20px 30px;
}
.hot .hot_title{
    height: 38px;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
}
.hot .hot_title ul li{
	float: left;
    padding: 0 20px 0 0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
}
.hot .hot_title ul li a{
    padding-bottom: 13px;
    border-bottom-width: 2px;
    display: block;
    line-height: 24px;
}
.hot .hot_title ul li.hot_bc a{
    color: #FF4F53;
    border-bottom: 3px solid #FF4F53;
}
.hot .hot_title ul li+li:before{
    content: "";
    height: 20px;
    border-left: 1px solid #ccc;
    position: absolute;
    left: -20px;
    height: 16px;
    top: 6px;
}
.hot .hot_box .hot_txt ul li{
    float: left;
    padding: 0 10px 15px 0;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
} 
.hot .hot_box .hot_txt ul li a{
	font-size: 14px;
}
.hot .hot_box .hot_txt ul li:after{
	content: "";
    height: 15px;
    width: 10px;
    border-left: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 3px;
    right: -10px;
}
.hot .hot_box .hot_txt ul li:last-child:after{
	border-left: none;
}
.arl_right{
	float: right;
	width: 342px;
}
.arl_right .information{
	background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 18px;
    padding: 20px 20px 25px;
}
.arl_right .information h1{
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
    margin: 5px auto 20px;
}
.arl_right .information .infor_head{
    margin: 0 auto 40px;
    text-align: center;
}
.arl_right .information .infor_head .ih_pic{
	width: 300px;
    height: 200px;
    margin: 0 auto 5px;
}
.arl_right .information .infor_head .ih_pic a img{
    width: 300px;
    height: auto;
    display: block;
}
.arl_right .information .infor_head h2{
    height: 24px;
    line-height: 24px;
    margin: 0 0 5px;
}
.arl_right .information .infor_head h2 a{
	font-size: 24px;
}
.arl_right .information .infor_head p{
	height: 24px;
    line-height: 24px;
    margin: 0 auto 15px;
}
.arl_right .information .infor_head p a{
	font-size: 18px;
    color: #ed3d3d;
    text-decoration: none;
}
.arl_right .information .infor_head p span{
    font-size: 14px;
    color: #999;
}
.arl_right .information .infor_head .ih_bt{
	height: 40px;
}
.arl_right .information .infor_head .ih_bt a{
    border-color: #FF4F53;
    background: #FF4F53;
    color: #fff;
    width: 90px;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.arl_right .information .infor_head .ih_bt a:hover{
    background: #EE3E42;
    color: #fff;
}
.arl_right .information .infor_pic{
    margin: 0 auto;
    width: 320px;
}
.arl_right .information .infor_pic .inp_txt{
    float: left;
    width: 140px;
    position:relative;
    margin: 0 20px 25px 0;
}
.arl_right .information .infor_pic .inp_txt .inp_img{
    width: 140px;
    height: 93px;
}
.arl_right .information .infor_pic .inp_txt .inp_img img{
	width: 100%;
	height: 100%;
}
.arl_right .information .infor_pic .inp_txt .name{
	margin-top: 10px;
	margin-bottom: 5px;
}
.arl_right .information .infor_pic .inp_txt .name a{
	font-weight: bold;
	font-size: 14px;
}
.arl_right .information .infor_pic .inp_txt .name a em{
    color: #999;
}
.arl_right .information .infor_video{
	margin: 0;
    padding: 0 0 5px;
}
.arl_right .information .infor_video .inv_box{
    margin: 0 0 30px;
    position: relative;
    padding-left: 140px;
}
.arl_right .information .infor_video .inv_box .inv_pic{
	position: relative;
	width: 140px;
    height: 79px;
    margin-left: -140px;
    float: left;
    margin-right: 10px;
}
.arl_right .information .infor_video .inv_box .inv_pic a i{
	background: url(../images/new_ico_img.png) no-repeat;
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    margin: -15px 0 0 -15px;
    background-position: 0 -755px;
}
.arl_right .information .infor_video .inv_box .inv_pic a img{
	width: 100%;
	height: 100%;
}
.arl_right .information .infor_video .inv_box ul .name{
    height: 40px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 10px;
}
.arl_right .information .infor_video .inv_box ul .name a{
	font-size: 14px;
}
.arl_right .information .infor_video .inv_box ul .num span{
    color: #999;
    padding: 0 10px 0 17px;
    background: url(../images/icon-video-more.png) 0 0 no-repeat;
    font-size: 14px;
}
.arl_right .information .infor_video .inv_box ul .num span.view{
    background-position: 0 -3px;
}
.arl_right .information .infor_video .inv_box ul .num span.com{
	background-position: 0 -27px;
    padding-left: 18px;
}
.arl_right .information .infor_article{
	margin: 0 auto 45px;
}
.arl_right .information .infor_article .ina_list{
	margin-bottom: -20px;
}
.arl_right .information .infor_article .ina_list ul{
    margin-top: 5px;
}
.arl_right .information .infor_article .ina_list ul li{
	width: 300px;
    font-size: 14px;
    margin: 0 0 15px;
    padding-left: 15px;
    position: relative;
}
.arl_right .information .infor_article .ina_list ul li:before{
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #4284D9;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 0;
}
.arl_right .information .infor_article .ina_list ul li .ina_txt{
    width: 300px;
    white-space: nowrap;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.arl_right .information .infor_article .ina_list ul li .ina_txt em{
	color: #ccc;
	padding-right: 10px;
}
.arl_right .information .infor_article .ina_list ul li .ina_txt em a{
	color: #000;
    margin-right: 10px;
}
.arl_right .information .infor_article .ina_list ul li .ina_txt a{
	color: #000;
}
.arl_right .information .infor_compare ul li{
    margin: 0 0 30px;
    position: relative;
    border-left: 2px solid #ff4f53;
}
.arl_right .information .infor_compare ul li .compare_txt{
    float: left;
    width: 230px;
    padding: 0 0 0 10px;
}
.arl_right .information .infor_compare ul li .compare_txt h2{
	height: 18px;
    width: 188px;
    line-height: 18px;
    margin: 0 0 8px;
    overflow: hidden;
}
.arl_right .information .infor_compare ul li .compare_txt h2 a{
	font-size: 14px;
}
.arl_right .information .infor_compare ul li .compare_txt p{
    height: 16px;
    line-height: 16px;
    padding-left: 18px;
    margin: 0 0 8px;
    color: #ff4f53;
    background: url(../images/new_ico_img.png) no-repeat;
    background-position: -62px -752px;
    font-size: 12px;
}
.arl_right .information .infor_compare ul li .compare_txt .place {
    height: 18px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
}
.arl_right .information .infor_compare ul li .compare_txt .place span{
	display: inline-block;
    float: left;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    max-width: 200px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
}
.arl_right .information .infor_compare ul li .compare_txt .place em{
    display: inline-block;
    float: left;
    margin: 3px 0 0 2px;
    width: 13px;
    height: 12px;
    background: url(../images/new_ico_img.png) no-repeat;
    background-position: -40px -755px;
    vertical-align: top;
}
.arl_right .information .infor_compare ul li .compare_price{
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.arl_right .information .infor_compare ul li .compare_price p{
	height: 18px;
    line-height: 18px;
    color: #ff4f53;
    display: block;
    margin: 0 0 3px;
    font-size: 14px;
}
.arl_right .information .infor_compare ul li .compare_price s{
    height: 16px;
    line-height: 16px;
    display: block;
    font-size: 12px;
    color: #9d9d9d;
}
.arl_right .information .infor_compare ul li .compare_price a{
	margin-top: 6px;
    padding: 0 10px;
    height: 26px;
    border-color: #FF4F53;
    display: block;
    border-radius: 3px;
    background: #FF4F53;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
}
.history{
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
    margin: 0 auto 18px;
    padding: 20px 20px 25px;
}
.history h1{
    padding-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 0;
    line-height: 32px;
}
.history .his_list{
    position: relative;
    width: 320px;
}
.history .his_list ul li{
	float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
}
.history .his_list ul li a{
	display: block;
}
.history .his_list ul li a img{
    width: 140px;
    height: 93px;
}
.history .his_list ul li a p{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
.history .his_list ul li a em{
	color: #FF4F53;
	font-size: 14px;
}
.ex_car{
	    margin: 0 auto 18px;
    padding: 20px 20px 25px;
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    font-family: "Microsoft YaHei";
    box-shadow: 0 2px 5px #ececec;
}
.ex_car h1{
	margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 32px;
}
.ex_car .ex_box .ex_txt{
    margin-bottom: 20px;
    padding-left: 140px;
}
.ex_car .ex_box .ex_txt .ex_img{
	width: 140px;
    height: 93px;
    margin-left: -140px;
    margin-right: 15px;
    float: left;
}
.ex_car .ex_box .ex_txt .ex_img a img{
	width: 100%;
	height: 100%;
}
.ex_car .ex_box .ex_txt ul .name{
    width: 142px;
    font-size: 14px;
	height: 19px;
	margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight:bold;
}
.ex_car .ex_box .ex_txt ul .infor{
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
}
.ex_car .ex_box .ex_txt ul .price{
	font-size: 20px;
    color: #FF4F53;
}
.ex_car .ex_box .ex_txt ul .price a{
    color: #FF4F53;
}
.fixed{
    position: fixed!important;
    right: auto;
}