.article_list{
	width: 1200px;
	margin: 0 auto;
}
.article_list .al_left{
    float: left;
    width: 860px;
    margin-right: 40px;
}
.article_list .al_left .all_nav{
	margin-bottom: 20px;
    height: 38px;
    border-bottom: 2px solid #e5e5e5;
}
.article_list .al_left .all_nav ul li{
    font-size: 18px;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    margin-right: 20px;
    position: relative;
}
.article_list .al_left .all_nav ul li a{
	padding-bottom: 13px;
    border-bottom-width: 2px;
    display: block;
    line-height: 24px;
}
.article_list .al_left .all_nav ul li+li:before{
	content: "";
    width: 1px;
    border-left: 1px solid #ccc;
    position: absolute;
    left: -20px;
    height: 16px;
    top: 6px;
}
.article_list .al_left .all_nav ul li.all_bc a{
    display: block;
    color: #FF4F53;
    border-bottom: 3px solid #FF4F53;
}
.article_list .al_left .all_txt{
	margin-bottom: 50px;
}
.article_list .al_left .all_txt .txt_box{
	margin: 0 0 60px;
    width: auto;
    height: 200px;
}
.article_list .al_left .all_txt .txt_box .article{
    padding-left: 320px;
    position: relative;
    height: 100%;
}
.article_list .al_left .all_txt .txt_box .article .art_pic{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0;
    top: 0;
}
.article_list .al_left .all_txt .txt_box .article .art_pic img{
	width: 100%;
	height: 100%
}
.article_list .al_left .all_txt .txt_box .article .txt h1{
    margin: 0 0 10px;
    height: auto;
    line-height: 28px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.article_list .al_left .all_txt .txt_box .article .txt h1 a{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_detail{
	    height: 132px;
	    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #999;
    line-height: 26px;
    text-align: justify;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_detail a{
	color: #4284D9;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor{
    margin: 8px 0 0;
    margin-top: 9px;
    color: #999;
    font-size: 12px;
} 
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .com{
    float: right;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .com .see{
    display: inline-block;
    padding-left: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #999;
    background: url(../images/view.png) left center no-repeat;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .com .comment{
    display: inline-block;
    padding-left: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #999;
    background: url(../images/comments.png) left center no-repeat;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .by{
	width: 390px;
    float: left;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .by .by_id{
    color: #333;
}
.article_list .al_left .all_txt .txt_box .article .txt .txt_infor .by .time{
	float: right;
}
.page{
    clear: both;
    display: block;
    position: relative;
    height: 66px;
    line-height: 66px;
    overflow: hidden;
    font-size: 16px;
    padding: 20px 0;
    margin: 0 auto;
	text-align: center;
	width: 350px
}
.page span{
	color: #ccc;
    transform: scaleY(1.6);
    line-height: 24px;
    font-size: 18px;
        padding: 0 8px;
    margin: 0 5px;
    height: 26px;
	float: left;
}
.page a{
	float: left;
	height: 26px;
    line-height: 26px;
    padding: 0 8px;
    margin: 0 5px;
    color: #333;
    float: left;
    white-space: nowrap;
}
.page a:hover{
	background: #f0f0f0;
    text-decoration: none;
    border-radius: 2px;
}
.page a.page_bc{
	    background: #FF4F53;
    color: #fff;
    border-radius: 3px;
}
.page em{
	float: left;
	height: 26px;
	line-height: 26px;
}
.next_see{
    margin-bottom: 50px;
    margin-top: 50px;
}
.next_see h1{
    border-bottom: 2px solid #e5e5e5;
    height: 47px;
    font-size: 24px;
    color: #333;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.next_see .ns_list ul li{
    float: left;
    width: 25%;
    list-style: none;
    clear: none;
    float: left;
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.next_see .ns_list ul li:before{
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #4284D9;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 0;
}
.article_list .al_right{
    float: left;
    position: relative;
    width: 300px;
}
.history{
    margin-bottom: 50px;
}
.history h1{
    padding-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 0;
    line-height: 32px;
}
.history .his_list{
    position: relative;
    width: 320px;
}
.history .his_list ul li{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
}
.history .his_list ul li a{
    display: block;
}
.history .his_list ul li a img{
    width: 140px;
    height: 93px;
}
.history .his_list ul li a p{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
.history .his_list ul li a em{
    color: #FF4F53;
    font-size: 14px;
}
.same h1{
    padding-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 0;
    line-height: 32px;
    margin-bottom: 10px;
}
.same ul li{
	list-style: none;
    clear: none;
    float: left;
    width: 285px;
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 60px;
    padding-left: 15px;
}
.same ul li a{
	display: block;
}
.same ul li span{
	width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.same ul li em{
	position: absolute;
    top: 0;
    right: 0;
    color: #999;
}
.same ul li:before{
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #4284D9;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 0;
}
.ex_car{
	margin-bottom: 50px;
	margin-top: 20px;
}
.ex_car h1{
	margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 32px;
}
.ex_car .ex_box .ex_txt{
    margin-bottom: 20px;
    padding-left: 140px;
}
.ex_car .ex_box .ex_txt .ex_img{
	width: 140px;
    height: 93px;
    margin-left: -140px;
    margin-right: 15px;
    float: left;
}
.ex_car .ex_box .ex_txt .ex_img a img{
	width: 100%;
	height: 100%;
}
.ex_car .ex_box .ex_txt ul .name{
    width: 145px;
    font-size: 14px;
	height: 19px;
	margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight:bold;
}
.ex_car .ex_box .ex_txt ul .infor{
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
}
.ex_car .ex_box .ex_txt ul .price{
	font-size: 20px;
    color: #FF4F53;
}
.ex_car .ex_box .ex_txt ul .price a{
    color: #FF4F53;
}