
.wrap {width: 1200px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}

a {color: #333; transition: all 0.1s; -moz-transition: all 0.1s; -webkit-transition: all 0.1s; -o-transition: all 0.1s;}
.adv ,.ad ,.tladv{overflow: hidden;}
.adv img ,.ad img ,.tladv img {display: block;width: 100%;}
.tladv img {margin:20px 0;}
.oh {position: relative;overflow: hidden;}
a.more:hover {text-decoration: underline;}
.aaa {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.picon {background-image:url(../images/public_icons.png);background-repeat:no-repeat;}
.picon-qq {background-position: -2px 0px;}
.picon-weixin {background-position: -6px -20px;}
.picon-weibo {background-position: -6px -40px;}
.picon-phone {background-position: -6px -60px;}
.picon-down {background-position: -2px -85px;}
.picon-down2 {background-position: -20px -94px;}
.picon-latest {background-position: 0 -103px;}
.picon-hui {background-position: 0 -126px;}
.picon-join {background-position: 0 -149px;}

/* 椤堕儴淇℃伅 */
.topInfo {position: relative;height: 34px; line-height: 34px; margin-bottom: 16px; border-bottom: 1px solid #eee; background: #f5f5f5;color: #6c6c6c;z-index: 1002;}
.topInfo a {color: #6c6c6c;}
.topInfo a:hover {color: #ff6600;}
.topInfo .separ {color:#ddd;margin-left: 15px;}
.topInfo .regist {color: #ff6600;}
.topInfo .logint {float: left;}
.topInfo .loginbox .logint a {margin-right: 0;}
.topInfo .menu {float: right;}
.topInfo .menu li {position: relative;float: left;padding:0 8px;border-left: 1px solid transparent;border-right: 1px solid transparent;}
.topInfo .menu li .ewmbox {position: absolute;left:0;top:36px;margin-left: -90px;    border-radius: 4px; border: 1px solid #0087BD; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2); box-shadow: 0 0 10px rgba(0,0,0,.2);z-index: 100;display: none;}
.topInfo .loginbox {float: left;}
.topInfo .loginbox a {float: left;margin:0 10px 0 0;}
.topInfo .loginbox a:hover {text-decoration: underline;}
.topInfo .dropdown a {padding-left: 2px;}
.topInfo .dropdown .picon-down {display: inline-block;width: 8px;height: 5px;margin-left: 4px;vertical-align: middle;-webkit-transition:all .3s;transition:all .3s;}
.topInfo .submenu {display: none;position: absolute;top:35px;left:-1px;min-width: 82px; padding: 5px 0; border: 1px solid #ddd; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.topInfo li.user .submenu {min-width: 106px;}
.topInfo .submenu a {display: block;padding:0 10px;line-height: 26px;white-space:nowrap;}
.topInfo li:hover .picon-down {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.topInfo li.dropdown:hover {height: 35px;border-color: #ddd;background: #fff;}
.topInfo li:hover .submenu {display: block;}
.topInfo .submenu a:hover {}
.topInfo .picon {display: inline-block;width: 20px;height: 20px;margin:-4px 4px 0 0;*margin-top:0px;vertical-align: middle;}
/* 娴姩鑿滃崟 */
.topInfo .pop {display: none; position: absolute; left: -38px; top: 34px; width: 170px; text-align: center; background: #fff; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px 0; -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2); -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2); box-shadow: 4px 4px 0 rgba(0,0,0,.2); color: #101010; font-size: 14px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.topInfo .pop s {position: absolute; top: -8px; left: 80px; width: 16px; height: 9px; background: url(../images/icons.png) -10px -591px;}
.topInfo .pop p {line-height: 20px;}
.topInfo .pop p a {padding: 0; background: none;}
.topInfo .pop p a img {display: block; margin: 0 auto;}
/*.topInfo:hover .pop{display: block;}*/
/* header */
.fixedwrap {height: 139px;margin:10px 0 30px;}
.fixedpane.fixed {position: fixed; height: 139px; width: 100%; top: 0; z-index: 1000; background-color: #fff;}
/*.header {margin-top: 10px;}*/
.header .logo {float: left;width: 270px;height: 61px;margin-top: 13px;}
.header .logo a {display: block;overflow: hidden;}
.header .logo h2 {float: left;line-height: 60px;font-size: 24px;color: #333;}
.header .logo img {float: left;width: 130px; height: 61px; margin-right: 10px;vertical-align: middle;}
.searchwrap {position: relative;float: right;width: 410px;height: 40px;line-height: 34px;margin: 25px 45px 0 0;background: #ffc001;z-index: 1001;}
.w1200 .searchwrap {width: 557px;}
.search {margin:3px 88px 3px 3px;background: #fff;*zoom:1;}
.search .type {float: left;width: 62px;border-right: 1px solid #ddd;}
.search .type a {font-size: 14px;color: #666;}
.search .type dl {position: relative;}
.search .type dl dt {height: 34px;text-align: center;}
.search .type dl em {display: inline-block;width: 0;height: 0;border:5px solid transparent;border-top-color: #666;vertical-align: middle;margin-left: 8px;transition: all .3s;}
.search .type dl.hover em {-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin: center 2px;transform-origin: center 2px;}
.search .type dd {display: none;position: absolute;top:34px;left:-3px;min-width: 62px; border: 3px solid #eeb300; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.search .type dl.hover dd {display: block;}
.search .type dd a {display: block;line-height: 30px;padding:0 10px;white-space: nowrap;}
.search .type dd a.active ,.search .type dd a:hover {background: #eeb300;color: #fff;}

.search .inputbox {position: relative;margin-left: 63px;overflow: hidden;}
.search .inpbox {margin:0 10px;height: 34px;}
.search .searchkey {width: 100%;height: 21px;margin:6px 0 7px;font-size: 14px;vertical-align: middle;}
.search .searchkey ,.search .searchkey:focus ,.search .searchkey:active ,.search .submit ,.search .submit:focus ,.search .submit:active {border:0;outline:0;background: none;}
.search .hotkey {position: absolute;right: 15px;top:0;max-width:270px;display: none;}
.w1200 .search .hotkey {display: block;}
.search .hotkey a {display: inline-block;float: right;height: 21px;line-height: 20px;margin: 6px 0 0 7px;padding:0 12px;background: #f0f0f0;color: #fff;font-size: 14px;color: #999;white-space:nowrap;border-radius:10px;-webkit-transition: all 0.2s; transition: all 0.2s;}
.search .hotkey.leave a {opacity:.5;}
.search .hotkey a:hover {background: #ffc001;color: #fff;}
.search .submit {position: absolute;right:0;top:0;display: block;width: 88px;height: 100%;text-align: center;font-size: 16px;color: #fff;cursor: pointer;}
.search .submit:hover {background: #F4C740;}
.header .kefu {float: right;}
