/*公用头部开始*/
.none{
	display: none;
}
.search{
	width: 1200px;
	margin: 0 auto;
}
.search .location{
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #ccc;
	margin-top: 15px;
}
.search .location span{
	color: #999;
}
.search .location a{
	color: #000;
}
.search .location b{
	color: #000;
}
.search .search_car{
	float: right;
	width: 50%;
}
.search .search_car a{
	width: 120px;
    border-radius: 0 3px 3px 0;
    float: right;
    height: 46px;
    line-height: 44px;
    border-color: #FF4F53;
    background: #FF4F53;
    color: #fff;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: -2px;
}
.search .search_car input{
	    width: 300px;
    border: 2px solid #FF4F53;
    padding-right: 20px;
    height: 44px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
    padding: 0 15px;
    float: left;
    border-right: none!important;
    color: #ccc;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    float: right;
}
.kind{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.kind h1{
    float: left;
    height: 60px;
    max-width: 592px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.kind h1 a img{
	vertical-align: middle;
}
.kind h1 a.car_name{
	margin: 0 10px;
}
.kind h1 a.car_name:hover{
    color: #FF4F53;
}
.kind .kind_list{
	float: left;
    margin-top: 26px;
    margin-left: 20px;
    font-size: 14px;
}
.kind .kind_list ul li{
	float: left;
    padding-right: 9px;
    margin-right: 9px;
    white-space: nowrap;
    line-height: 1;
    font-size: 14px;
    position: relative;
    float: left;
    height: 20px;
}
.kind .kind_list ul li i{
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 16px;
    font-size: 0;
    background-color: #ccc;
}
.kind .kind_list ul li.stop_kind:hover .stop{
	display: block;
}
.kind .kind_list ul li.stop_kind i{
    right:-99999999999999px!important;
}
.kind .kind_list ul li.stop_kind{
	margin-right: 0;
    padding-right: 13px!important;
    background: url(../images/arrow-down-ico.png) right 6px no-repeat;

}
.kind .kind_list ul li .stop{
	width: 81px;
    left: -10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    z-index: 999;
	right: auto;
    top: 20px;
    display: none;
}
.kind .kind_list ul li .stop a{
    display: block;
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 39px;
    border-bottom: 1px solid #d9d9d9;
    color: #333!important;
    padding: 0 15px;
    overflow: hidden;
}
.kind .kind_list ul li .stop a:hover{
    color: #FF4F53!important;
    background: #f9f9f9!important;
}
.kind .rank{
	float: right;
	height: 60px;
	line-height: 60px;
}
.kind .rank a{
	font-size: 14px;
	color: #000;
}
.kind .rank em{
	color: #FF4F53;
    font-size: 20px;
    margin-left: 5px;
}
.nav{
    margin-bottom: 20px;
    height: 54px;
    line-height: 54px;
    background-color: #4284d9;
}
.nav .nav_list{
    position: relative;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.nav .nav_list ul li{
    display: table-cell;
    box-sizing: border-box;
    min-width: 1%;
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.nav .nav_list ul li a{
    font-size: 18px;
	height: 50px;
	line-height: 49px;
    color: #fff;
    display: block;
    padding: 0 20px;
    border-top: 4px solid #4284d9;
}
.nav .nav_list ul li a:hover{
	background-color: #246DCB;
    border-top-color: #246DCB;
}
.nav .nav_list ul li.nl_bc a{
    border-top-color: #FF4F53;
    line-height: 49px;
    color: #333;
    background-color: #fff;
}
/*公用头部结束*/


