@charset "utf-8";
/* CSS Document */
*{padding:0 ;margin:0;}
a{text-decoration: none;}
*{font-family: "Microsoft Yahei"}
.fn-clear:after {visibility:hidden; display:block; font-size:0;content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}



.color{background: #f5f5f5;
    height: 35px;
    line-height: 34px;
    font-size: 12px;}
.box{margin: 0px auto ;
    width: 1200px;
    height: 34px;}
.left-txt ,.right-txt,.txt{font-size:12px;
    color:#6c6c6c;
    font-style: normal;
    margin: -1px auto;}
.txt{color:#ff6600;
    margin-right: 10px}
.up{color:#999}
.separ{color: #ddd}
.left,.txt{float: left;}
.right,.span{float: right;}
.right-txt,.arrow,.phone,.separ,.wexin{margin: 0px 3px}
.logo-qq{background-image: url(../img/123.png);
    background-position: -2px -2px;
	width: 20px;
    height: 20px;
    display: inline-block;vertical-align: middle;}
.logo-wei{background-image: url(../img/123.png);
    background-position:-6px -20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;}
.logo-weibo{background-image: url(../img/123.png);
    background-position:-6px -41px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;}
.arrow{background-image: url(../img/123.png);
    background-position:-2px -80px;
    width: 10px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: -6px;
    margin: -4px 5px 0px -5px;}
.phone{background-image: url(../img/123.png);
    background-position:-4px -61px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;}
.wexin{background-image: url(../img/123.png);
    background-position:-6px -20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;}
.header {width: 1200px; 
    margin:30px auto;}
.logo{display: block;
    width: 270px;
    height: 61px;
    float: left;}
.logo h2{font-size: 24px;
    color: #333;
    font-weight: 500;
    display: inline-block;
    margin-right: -950}
.logo img{float: left;
    margin-right: 6px;
    border:0px;}
.logo-kefu{float: right;}
.logo-kefu img{float: left;
    margin-top: 3px;
    width: 44px;
    height: 43px;
    display: block;
    margin-right:15px;
    border:0px;}
.p1{font-size: 14px;
    color: #333;
    height: 24px;
    width: 169px}
.p2{font-size: 20px;
    color: #ff8800;
    height: 24px;
    width: 205px}
.enter{width: 1903;
    height: 560px;}
.mid-box{width: 1200px;
    height: 560px;
    margin: 0px auto;
    position: relative;}
.informison p{font-size: 20px;
    color: #323232;
    width: 340px;
    height: 30px;
    margin-bottom: 35px;}
.left-img{width: 569px;
    height: 464px;
    float: left;
    display: block;}
.right-enter{display: inline-block;
    padding: 24px 40px;
    background: #e6f5fc;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 80px;}
.wrap{position: absolute;
    left: 60px;
    top: 64px;}
.logo-enter{background-image: url(../img/login_icon.png);
    background-position: -1px 1px;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    float: left;
    position: absolute;
    display: inline-block;}
.down-logo{background-image: url(../img/login_icon.png);
    background-position: -1px -22px;
	float: left;left: 10px;
    top: 10px;
    width: 22px;
    height: 20px;
    position: absolute}
.igicon{background-image: url(../img/login_icon.png);
    background-position: -2px -64px;
	width: 19px;
    height: 16px;
    float: left;
	margin-right: 8px;}
.other p{margin-bottom: 18px;
    color: #666;
    font-size: 12px;
    width: 340px;
    height: 18px;}
.other{margin-top: 25px;}
.other img{border:0px;}
.other a{width: 24px;
    height: 24px;
    margin-right: 10px;
    display: block;
    float: left;}
.oth{margin-top: 12px}
.rh{float: right;
    display: inline-block;
    font-size: 12px;
    color: #333;}
.liu{    color: #ff9900;
    font-size: 12px;}
.form-btn input{display: block;
    width: 100%;
    height: 42px;
    padding: 0;
    line-height: 42px;
    background: #ff8800;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    outline: 0px;
    border:0px;}
.form-row{margin-top: 19px;
    color: #666;}
.other a{margin-right: 10px;}
.up-push input{display: block;
    width: 285px;
    height: 40px;
    padding: 0 10px 0 43px;
    border: 0;
    outline: 0;
    border: 1px solid #ddd;}
.up-push{position: relative;
    margin-top: 19px;}
.down-push input{display: block;
    width: 285px;
    height: 40px;
    padding: 0 10px 0 43px;
    border: 0;
    outline: 0;
    border: 1px solid #ddd;
    cursor: auto;}
.down-push{position: relative;
    margin-top: 19px;}
.enter{background-image: url(../img/login_bg.jpg);}
.left-img{background-image: url(../img/57.png);position: absolute;}
.foot p{margin-left: 10px;
    line-height: 38px;}
.foot{margin-left: -19px ;
    margin-top: 40px;
    text-align: center;
    line-height: 38px;    
    font-size: 14px;
    color: #666;
    text-align: center;}
.down{font-size:14px;
    color:#666;
    text-align: center;}
.foot p a:hover{color: #f60;}
.separ{margin: 0  9px;}