@charset "utf-8";
/* CSS Document */
*{padding:0 ;
	margin:0;
	font-size: 16px;
    color: #666;
	font-family: "Microsoft Yahei";
	border:0px;}
a{text-decoration: none;}
.fn-clear:after {visibility:hidden; 
	display:block; 
	font-size:0;content:" "; 
	clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.big-box{background-color: #f1f1f1;}
.top{margin:0px auto;
	width: 1200px;
	height: 67px;
	text-align: center;}
.top p {float: left;
	width: 89px;
	height: 67px;
	vertical-align: middle;
	line-height: 72px;}
.t-right{float: right;
	width: 144px;
	height: 67px;
	line-height: 76px;}
.denglu{float: left;height: 67px;margin: 0px 10px 0px 26px;}
.zhuce {float: right;height: 67px;margin: 0px 26px 0px 0px;}
.daohang{margin: 0px auto;
	width: 1200px;
	height: 62px;
	background-color: #fff;
	display: block;}
.nav li{list-style: none;
	display: inline-block;
	padding: 0  20px;
	height: 62px;
	float: left;
    line-height: 62px;}
.nav{display: block;
	width: 760px;
	float: left;
	border-right:1px solid #eaeaea;}
.logo{
	display: inline-block;
	float: left;
	margin: 14px 20px;
}
.logo a, .logo img{
	display: block;
	width: 70px;
    height: 35px;
}
.ss{
	float: left;
}
.ss a{
	float: left;
	font-size: 16px;
    color: #bbb;
    width: 76px;
	padding: 0px 0px 0px 22px;
	display: inline-block;
    width: 34px;
    margin-top: 20px;
}

.ss span{
	float: left;
	background-image: url(../img/icon_bbs.png);
	width: 14px;
	height: 10px;
	background-position: -27px -71px;
    margin: 27px 5px 0 3px;
}
.ww{
	float: left;
	width: 140px;
	height: 33px;
	outline: none;
	border: 0;
    border-bottom: 1px dotted #eaeaea;
    margin-top: 15px;
}
.ff{
	float: left;
	background: url(../img/icon_bbs.png) -62px -34px;
    width: 28px;
    height: 28px;
    border: none;
    text-indent: -999em;
    font-size: 0;
    margin: 17px 0 0 25px;
}
.right-t{
	    margin: 0 auto;
    width: 1200px;
}
.mid-img, .mid-img a, .mid-img img{margin: 0 auto;
	display: block;
	width: 1200px;
	height: 350px;}
 
.mid-img {
	margin-top: 10px;
}
.mid-box{
	background-color: #fff;
	width: 880px;
	display: inline-block;
	float: left;
	margin-top: 10px;
}
.park{
	padding: 0 28px 25px 28px;

}
.txt-head{
	padding: 25px 0px 20px;
	border-top: 1px solid #f1f1f1;
	font-size: 13px;
	color: #c6c6c6;
}
.nope{
	width: 500px;
	display: inline-block;
}
.txt-head img{width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;
	margin-right: 20px;
}
.h1{
	font-size: 22px;
	color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 650px;
    display: inline-block;
}
.h2,.h3{
	font-size: 13px;
	color: #c5c5c5;
}
.h1:hover{color: #f60;
	text-decoration: underline;}
.h2:hover{color: #35b1fe;
	text-decoration: underline;}
.plnub{background-image: url(../img/icon_bbs.png);
	width: 37px;
	height: 38px;
	background-position: -45px -62px;
	display: inline-block;
	float: right;
    text-align: center;
    font-family: "Georgia Bold";
    font-size: 16px;
    color: #fff;}


.nope{
	position: relative;
}
.txt{
	display: inline-block;
	font-size: 14px;
    color: #666;
    line-height: 30px;
}
.txt a{
	color: #35b1fe;
	font-size: 14px;
}
.txt a:hover{
	text-decoration: underline;
}
.pic img {
	width: 100%;
}
.right-box{
	width: 300px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.daohang-d{
	width: 300px;}
.qiandao {
	width: 150px;
	height: 54px;
	background-color: #ff9600;
	display: inline-block;
	text-align: center;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.logo-q{
	background-image: url(../img/icon_bbs.png);
	background-position: -63px 0px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: -2px 10px 0 0;
	vertical-align: middle;
}
.shangdian{
	width: 150px;
	height: 54px;
	background-color: #ffba00;
	display: block;
	text-align: center;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	float: right;
}
.logo-s{
	background-image: url(../img/icon_bbs.png);
	background-position: -90px 0px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: -2px 10px 0 0;
	vertical-align: middle;

}
.fabu{
	width: 300px;
	height: 54px;
	display: block;
	background-color: #6bc41a;
	text-align: center;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo-f{
	background-image: url(../img/icon_bbs.png);
	background-position: -90px -35px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: -2px 10px 0 0;
	vertical-align: middle;
}
.rd-box{
	background-color:#fff;
	width: 250px;
	padding: 20px 25px;
	border-bottom: 1px solid #eaeaea
}
.zonghe{
	width: 250px;
	display: inline-block;
	margin-bottom: 15px;
}
.zonghe h3{
	font-size: 17px;
	color: #333;
	display: inline-block;
	}
.dd{
	background-image: url(../img/icon_bbs.png);
	background-position: -34px -174px;
	width: 20px;
	height: 20px;
	display: inline-block;
	float: right;}
.zh-txt li a {
	color: #666;
	font-size: 15px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}
.zh-txt li a:hover{
	color: #f60;
}
.zh-txt li{
	width: 250px;
	line-height: 30px;
	list-style: none;
}
.r-t{
	float: right;
}
.d-box{
	background-color: #fff;
	width:250px;
	padding: 20px 25px;
}
.wenzi{
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list{
	float: left;
}
.list li{
	list-style: none;
	display: inline-block;
}
.list li a {
	display: inline-block;
	width: 70px;
	margin: 0px 20px 20px 20px;
}
.list li span{
	margin-bottom: 20px;
    /*padding: 0 10px;*/
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 105px;
    display: inline-block;
}
.list li span:hover{
	color: #35b1fe;	
}
.foot{
	width: 1200px;
	margin: 0px auto;
	padding: 20px;
}
.foot p{
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #666;
}