body{
	    background: #f0f1f2;
}
.subnav{
    background: #fff;
    border-bottom: 1px solid #c3c3c3;
}
.subnav ul{
    overflow-x: auto;
    display: -webkit-box;
}
.subnav ul li{
    position: relative
}
.subnav ul li a{
	padding: 0 .3rem;
    line-height: 1rem;
    font-size: .32rem;
    position: relative;
    display: inline-block;
}
.subnav ul .red:after{
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 0.14rem;
    background-color: #e14a4a;
    position: absolute;
    top: 0.25rem;
    right: 0.18rem;
    content: '';
}
.wrapper{
	margin-bottom: 0.2rem;
}
.swiper-wrapper li{
	position: relative;
}
.swiper-wrapper li a img{
	width: 100%;
}
.bd{
	height: 4.2rem;
}
.swiper-wrapper li span{
	    position: absolute;
    bottom: 0.09rem;
    left: 0;
    width: 100%;
    height: 1.1rem;
    line-height: .56rem;
    padding: .32rem .2rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    color: #fff;
    font-size: .32rem;
}
.swiper-wrapper li span p{
	line-height: 0.3rem;
}
.swiper-wrapper li span em{
	font-size: 0.24rem;
	line-height: 0.22rem;
    color: #b9b9ba;
    max-width: 270px;
}
.pages{
	display: none;
}
.indicator{
    position: absolute;
    right:0.26rem;
    bottom: 0.2rem;
}
.active{
    background-color: #fff!important;
}
.indicator .indicator-item{
    width: 0.06rem;
    height: 0.08rem;
    background-color: #7b7e85;
    float: left;
    margin-left: 0.06rem;
}
.hot{
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.14rem;
}
.hot .hot-lead{
	    width: 100%;
    height: 0.82rem;
}
.hot .hot-lead h1{
	float: left;
    font-size: 0.3rem;
    line-height: 0.8rem;
    margin: 0 0.1rem;
}
.hot .hot-lead em{
    float: right;
    font-size: 0.24rem;
    color: #7d7d80;
    line-height: 0.8rem;
    padding-right: 0.2rem;
    position: relative;
    margin-right: 0.2rem;
}
.hot .hot-lead em:before{
    top: 0.26rem;
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}
.hot .hot-lead em:after{
    top: 0.38rem;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}
.hot .hot-lead em:after, .hot .hot-lead em:before{
    content: '';
    position: absolute;
    right: 0.04rem;
    width: 0.02rem;
    height: 0.14rem;
    background-color: #B5B5B4;
}
.hot ul {
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 0.15rem;
}
.hot ul li{
    width: 49%;
    position: relative;
    padding: 0 0.07rem 0.2rem;
    vertical-align: top;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
}
.hot ul li a{
	display: block;
}
.hot ul li a .hot-pic{
    position: relative;
    background-size: cover;
    width: 100%;
}
.hot ul li a .hot-pic img{
	width: 100%;
}
.hot ul li a .hot-txt i{
	margin: 0.1rem 0 0;
    font-size: 0.28rem;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    float: left;
}
.hot ul li a .hot-txt b{
	    font-size: 0.24rem;
    color: #999;
    text-overflow: ellipsis;
    font-weight: normal;
    display: inline-block;
    width: 100%;
}
.hot ul li a .hot-txt b s{
    background: url(../images/bf.png) no-repeat;
    background-size: 0.3rem;
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-top: 0.04rem;
    margin-right: 0.06rem;
}
.foot{
    padding: .4rem .2rem;
}
.foot p{
	font-size: .24rem;
    color: #aaa;
    text-align: center;
}