<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var adminPath = "{#$adminPath#}", modelType = 'marry';
</script>
<style>
.menus-item {position:relative; min-height:93px; padding:0 10px 10px 0; margin-top:15px; border-bottom:1px dashed #ccc;}
.menus-item:first-child {margin:0;}
.menus-item h3 {float:left; margin:-3px 20px 0 0;}
.menus-item h3 i {margin-right:5px; cursor:move;}
.menus-item .del-item {position:absolute; left:18px; top:48px; line-height:20px; font-size:12px}
.menus-item .del-item i {vertical-align:text-top; margin-right:5px;}
.menus-item ul {position:relative; min-height:41px; overflow:hidden; list-style:none; margin:0;}
.menus-item li {float:left; width:210px; list-style:none; padding:3px 0; margin-right:33px;}
.menus-item li i {cursor:move;}
.menus-item h3 i, .menus-item li i, .menus-item li a {vertical-align:middle;}
.menus-item li input {margin-left:5px;}
.addNewList {padding:10px 0 5px; line-height:25px; display:inline-block; margin-left:150px;}
.addNewList i {vertical-align:middle; margin:-4px 3px 0 0;}
</style>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="hotelid" id="hotelid" value="{#$hotelid#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">菜单名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="30" data-regex=".{2,30}" />
      <span class="input-tips"><s></s>请输入户型名称，2-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="price">价格：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="text" name="price" id="price" value="{#$price#}" />
        <span class="add-on">元/桌</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>菜单详细：</label><a href="javascript:;" class="label label-info" style="color:#fff" id="addItem"><i class="icon-white icon-plus-sign"></i> 新增套系</a>&nbsp;&nbsp;&nbsp;</dt>
    <dd id="menus">
      {#if $menus != ""#}
      {#$menus#}
      {#else#}
      <div class="menus-item clearfix">
        <h3><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-title" placeholder="套系名" class="input-small" /></h3>
        <div class="del-item"><a href="javascript:;"><i class="icon-trash"></i>删除此套系</a></div>
        <ul class="clearfix">
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
          <li><i data-toggle="tooltip" data-placement="right" data-original-title="拖动以排序" class="icon-move"></i><input type="text" name="m-list" placeholder="菜名" class="input-medium" /><a data-toggle="tooltip" data-placement="right" data-original-title="删除" href="javascript:;" class="icon-trash"></a></li>
        </ul>
        <a href="javascript:;" class="addNewList"><i class="icon-plus"></i>新增菜名</a>
      </div>
      {#/if#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">附加信息：</label></dt>
    <dd>
      <textarea name="note" id="note" class="input-xxlarge" rows="5">{#$note#}</textarea>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>