<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
	adminPath = "{#$adminPath#}", modelType = 'marry';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="hotelid" id="hotelid" value="{#$hotelid#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">宴会厅名称：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="30" data-regex=".{2,30}" />
      <span class="input-tips"><s></s>请输入户型名称，2-30位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>宴会厅照片：</dt>
    <dd>
      <input name="litpic" type="hidden" id="litpic" value="{#$litpic#}" />
      {#if $litpic != ""#}
      <div id="license" class="uploadinp uploading"><span id="uploadBt"></span></div>
      <div id="licenseFiles" style="display:inline-block;"><a href='{#$cfg_attachment#}{#$litpic#}' title="" onClick="return false;" style="cursor:default;"><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;" style="display:inline-block;">删除图片</a>
      {#else#}
      <div id="license" class="uploadinp"><span id="uploadBt"></span></div>
      <div id="licenseFiles"><a href="#" target="_blank" title=""><img alt="" src="" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;">删除图片</a>
      {#/if#}
      <div id="licenseProgress" class="progressBar">
        <i id="licenseProgressBar" class="progress"></i>
        <span id="licensePercent">0%</span>
        <a id="cancelUploadBt" href="javascript:;">取消</a>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>其它：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0">
        <span class="add-on">层高</span>
        <input class="input-mini" type="text" name="height" id="height" value="{#$height#}" />
        <span class="add-on">米</span>
      </div>
      <div class="input-prepend input-append" style="margin:0 0 0 5px;">
        <span class="add-on">桌数</span>
        <input class="input-mini" type="text" name="desk" id="desk" value="{#$desk#}" />
        <span class="add-on">张</span>
      </div>
      <div class="input-prepend input-append" style="margin:0 0 0 5px;">
        <span class="add-on">面积</span>
        <input class="input-mini" type="text" name="area" id="area" value="{#$area#}" />
        <span class="add-on">㎡</span>
      </div><br />
      <div class="input-prepend input-append" style="margin:10px 0 0 0;">
        <span class="add-on">低消</span>
        <input class="input-mini" type="text" name="low" id="low" value="{#$low#}" />
        <span class="add-on">万</span>
      </div>
      <div class="input-prepend input-append" style="margin:10px 0 0 5px;">
        <span class="add-on">形状</span>
        <input class="input-medium" type="text" name="shape" id="shape" value="{#$shape#}" />
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="note">宴会厅简介：</label></dt>
    <dd>
      <textarea name="note" id="note" class="input-xxlarge" rows="5">{#$note#}</textarea>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="weight">排序：</label></dt>
    <dd>
      <input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>