.HN_yang_lead{
	text-align: center;
	width: 1270px;
    margin: 0 auto;
}
.HN_yang_lead h1{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #50646F;
    margin: 20px 0;
}
.HN_yang_lead  p{
	font-size: 18px;
    line-height: 32px;
    margin: 15px 0;
}
.HN_yang_lead  p .HN_title{
	color: white;
    background-color: #72C47C;
    border:2px solid #72C47C;
    height: 48px;
    width: 200px;
    line-height: 48px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color ease 0.3s;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
}
.HN_yang_lead  p .HN_title:hover{
    background-color: white;
    color: #72C47C;
}
.HN_syang_body{
	text-align: center;
	width: 1270px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.HN_syang_body .HN_list{
	float: left;
    margin: 0 10px;
    width: 232px;
}
.HN_syang_body .HN_list .HN_tit{
	display: block;
    padding-top: 120px;
    width: 232px;
    height: 68px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    background-position: center 50px;
    background-repeat: no-repeat;
    text-decoration: none;
}
.HN_syang_body .HN_list .HN_B1{
    background-color: #355563;
    background-image: url(../images/doc1.png);
}
.HN_syang_body .HN_list .HN_B2{
    background-color: #FE883B;
    background-image: url(../images/doc3.png);
}
.HN_syang_body .HN_list .HN_B3{
    background-color: #1690CE;
    background-image: url(../images/doc2.png);
}
.HN_syang_body .HN_list .HN_B4{
    background-color: #38B26B;
    background-image: url(../images/doc4.png);
}
.HN_syang_body .HN_list .HN_B5{
    background-color: #B1D847;
    background-image: url(../images/doc5.png);
}
.HN_syang_body .HN_list ul {
    display: block;
    padding: 30px 0;
    width: 232px;
    box-shadow: 0px 0px 10px #E1E1E1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#E1E1E1', Direction=135, Strength=5);/*for ie6,7,8*/ 
	background-color: #fff; 
	-moz-box-shadow:0px 0px 10px #E1E1E1;/*firefox*/ 
	-webkit-box-shadow:0px 0px 10px #E1E1E1;/*webkit*/ 
	box-shadow:0px 0px 10px #E1E1E1;/*opera或ie9*/ 
}
.HN_syang_body .HN_list ul li a{
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #1CAAEC;
    display: block;
}
.HN_syang_body .HN_list ul li a:hover{
    color: #1CAAEC;
    text-decoration: underline;
    font-weight: bold;
}
.HN_syang_body .HN_list ul li .see{
    display: inline-block;
    color: #FFFFFF;
    background-color: #1CAAEC;
    border: 2px solid #1CAAEC;
    border-radius: 2px;
    height: 36px;
    width: 120px;
    line-height: 36px;
    font-size: 14px;
    transition: background-color ease 0.3s;
}
.HN_syang_body .HN_list ul li .see:hover{
    background-color: #FFFFFF;
    text-decoration: none;
    color: #1CAAEC;
}