.cont_box .cont_lead{
	padding-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}
.cont_box .con_search{
	margin-left: 15px;
	float: left;

}
.cont_box .con_search input{
    width: 200px;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-indent: 10px;
    margin-right: 8px;
}
.cont_box .con_search button{
    width: 65px;
    height: 28px;
    line-height: 28px;
    background: #286090;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.cont_box .con_more{
	float: right;
	margin-right: 15px;
}
.cont_box .con_more ul li{
	float: left;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-right: none;
    cursor: pointer;
    font-size: 12px;
}
.cont_box .con_more ul li.refresh i{
    width: 12px;
    height: 14px;
    display: inline-block;
    background: url(../images/shuaxin.png) no-repeat center;
    background-size: 12px;
    vertical-align: text-bottom;
    margin-right: 4px;
}
.cont_box .con_more ul li.add i{
    width: 12px;
    height: 14px;
    display: inline-block;
    background: url(../images/jiahao.png) no-repeat center;
    background-size: 12px;
    vertical-align: text-bottom;
    margin-right: 4px;
}
.cont_box .con_more ul li:first-child{
	    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cont_box .con_more ul li:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ccc;
}
.cont_box .con_txt{
	margin: 20px;
	border: none!important;
}
.cont_box .con_txt .con{
	float: left;
	width: 23%;
	height: 300px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	overflow: hidden;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing:border-box;
}
.cont_box .con_txt .con .con_l{
	height: 40px;
	background: rgb(246, 246, 246);
}
.cont_box .con_txt .con .con_l em{
	width: 33px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	float: left;
    background-color: rgb(119, 119, 119);
    color: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-left: 10px;
}
.cont_box .con_txt .con .con_l span{
	width: 65px;
	height: 16px;
	text-align: center;
	line-height: 13px;
	float: left;
    background-color: rgb(51, 122, 183);
    color: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-left: 10px;
    padding: 2px 4px;
}
.cont_box .con_txt .con .con_l ul {
	float: right;
}
.cont_box .con_txt .con .con_l ul li{
	float: left;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #fff;
	margin-right: 5px;
	margin-top: 4px;
	border-radius: 5px;
	cursor: pointer;
}
.cont_box .con_txt .con .con_l ul li:last-child{
}
.cont_box .con_txt .con .con_l ul li.view i{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../images/view.png)  no-repeat center;
	background-size: 12px;
	vertical-align: middle;
	margin-right: 2px;
}
.cont_box .con_txt .con .con_l ul li.view2{
	background: rgb(40, 96, 144);
	color: #fff;
}
.cont_box .con_txt .con .con_l ul li.view2 i{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../images/view2.png)  no-repeat center;
	background-size: 12px;
	vertical-align: middle;
	margin-right: 2px;
}
.cont_box .con_txt .con .con_c{
	margin: 0 10px;
}
.cont_box .con_txt .con .con_c h1{
	font-weight: bold;
	font-size: 14px;
    line-height: 18px;
    margin-top: 7px;
    margin-bottom: 9px;
    color: rgb(139, 139, 140);
}
.cont_box .con_txt .con .con_c p{
    color: rgb(131, 131, 131);
    padding-bottom: 15px;
    font-size: 12px;
}
.cont_box .con_txt .con .con_c img{
	display: block;
	width: 200px;
	height: 150px;
	margin: 0 auto;
}
.add_box{
	position: fixed;
	top: 10%;
	left: 25%;
	background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    width: 1002px;
    height: 500px;
}
.add_box .add_lead{
	margin: 0px;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-family: inherit;
    padding-left: 16px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.add_box .add_lead h1{
	font-size: 15px;
    line-height: 40px;
	margin: 0;
	float: left;
}
.add_box .add_lead  em{
	float: right;
	font-size: 22px;
	color: #333;
	margin-right: 20px
}
.add_box .step{
	border-bottom: 1px solid #ccc;
}
.add_box .step ul {
	margin: 0;
}
.add_box .step ul li{
	float: left;
	padding: 0 20px;
	width: 177px;
	text-align: center;
	font-size: 18px;
	position: relative;
	height: 46px;
	line-height: 46px;
	background: rgb(238, 238, 238);
	color: rgb(229, 229, 229);
	border-bottom: 1px solid rgb(238, 238, 238);
} 

.add_box .step ul li:after, .add_box .step ul li:before{
  border: 23px solid transparent;
  border-left: 13px solid rgb(238, 238, 238);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -34px;
  content: ' ';
  z-index: 999;
}
.add_box .step ul li:before{
	border-left-color: #dedede;
	right: -35px;
}
.add_box .step ul li em{
	border: 2px solid rgb(229, 229, 229);
	border-radius: 100%;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 4px;
	left: 20px;
	text-align: center;
	line-height: 21px;
}
.add_box .step ul li.st_1.st_bc{
	background: #fff;
	color: #000;
	border-bottom: 1px solid rgb(68, 157, 68)
}
.add_box .step ul li.st_1.st_bc em{
	border-color: rgb(68, 157, 68);
	color: rgb(68, 157, 68);
}
.add_box .step ul li.st_1.st_bc:after, .add_box .step ul li.st_1.st_bc:before{
	border-left: 13px solid #fff;
}
.add_box .st_box{
	height: 400px;
	overflow-y:auto;
}
.add_box .st_box .warning{
    margin-bottom: 10px;
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
    border:1px solid rgb(235, 204, 209);
    padding: 15px;
    border-radius: 5px;
}
.add_box .st_box .warning b{
	width: 15px;
	height: 15px;
	background: rgb(169, 68, 66);
	border-radius: 100%;
	color: rgb(242, 222, 222);
	display: inline-block;
	text-align: center;
	line-height: 16px;
	margin-right: 5px;
	font-size: 12px;
}
.add_box .st_box .mubiao{
	margin-left: 49px;
	margin-top: 20px;
}
.add_box .st_box .mubiao ul li{
	position: relative;
	margin-bottom: 10px;
}
.add_box .st_box .mubiao ul li:before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.add_box .st_box .mubiao ul li:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #1C7EBB;
    border-radius: 50%;
    display: none;
}
.add_box .st_box .mubiao ul li.mubiao_bc:after{
	display: block;
}
.add_box .st_box .mubiao ul li em{
	width: 100px;
	padding-left: 2px;
	font-size: 12px;
	color: #000;
	display: inline-block;
}
.add_box .st_box .mubiao ul li span{
	color: grey;
}
.add_box .st_box .set{
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 980px;
	height: 276px;
}
.add_box .st_box .set .set_lead{
	background-color: #f5f5f5;
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
}
.add_box .st_box .set .set_list{
	margin-top: 20px;
}
.add_box .st_box .set .set_list div{
	margin-bottom: 10px;
	margin-left: 40px;
}
.add_box .st_box .set .set_list div em{
	float: left;
	width: 100px;
	font-weight: bold;
}
.add_box .st_box .set .set_list div ul{
	float: left;
	margin: 0;
}
.add_box .st_box .set .set_list div ul li{
	position: relative;
	margin: 5px 0;
}
.add_box .st_box .set .set_list div ul li span{
	font-size: 9px;
	width: 100px;
	display: inline-block;
}
.add_box .st_box .set .set_list div ul li i{
	font-style: normal;
	font-size: 12px;
	color: grey;
}
.add_box .st_box .set .set_list div ul li:before{
	    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.add_box .st_box .set .set_list div ul li:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #1C7EBB;
    border-radius: 50%;
    display: none;
}
.add_box .st_box .set .set_list div ul li.set_bc:after{
	display: block;
}
.add_box .st_box .set .set_list div input{
	border: 1px solid #ddd;
	width: 300px;
	height: 28px;
	text-indent: 10px;
}
.add_box .st_box .st .st_time{
	padding: 15px;
	border-bottom: 1px solid #ddd;
}
.add_box .st_box .st .st_time ul li {
	margin: 10px 0;
	margin-bottom: 20px;
}
.add_box .st_box .st .st_time ul li em{
	display: inline-block;
	width: 100px;
}
.add_box .st_box .st .st_time ul li input{
	text-indent: 10px;
}
.add_box .st_box .st .st_place h1{
    padding: 6px 10px;
    font-size: 14px;
    margin: 0;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}
.add_box .st_box .st .st_place .stp{
	margin-bottom: 15px;
}
.add_box .st_box .st .st_place .stp em{
    position: relative;
    left: 0px;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
	float: left;
    width: 90px;
    padding-right: 10px;
}
.add_box .st_box .st .st_place .stp ul{
	float: left;
}
.add_box .st_box .st .st_place .stp ul li{
    float: left;
    margin-right: 10px;
    position: relative;
    width: 80px;
    cursor: pointer;
    padding-left: 29px;
}
.add_box .st_box .st .st_place .stp ul li:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 14px;
    background-color: #1C7EBB;
    border-radius: 50%;
    display: none;
}
.add_box .st_box .st .st_place .stp ul li.stp_bc:after{
	display: block;
}
.add_box .st_box .st .st_place .stp ul li:before{
	    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.add_box .st_box .st .st_place .stp ul li .zi_box{
	width: 250px;
	margin-top: 10px;
	display: none;
}
.add_box .st_box .st .st_place .stp ul li .zi_box label{
	margin-right: 5px;
}
.add_box .st_box .st .st_place .stp ul li input{
	width: 13px;
	height: 13px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.add_box .st_box .st .st_place .stp select{
	width: 100px;
	height: 28px;
}
.add_box .st_box .st .st_place .stp input{
	height: 28px;
	width: 200px;
}
.add_box .st_box .st .st_price h1{
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid gray;
	padding: 10px 0;
	text-indent: 10px;
}
.add_box .st_box .st .st_price ul{
	margin-left: 80px;
	margin-top: 30px;
}
.add_box .st_box .st .st_price ul li em{
	display: inline-block;
	width: 64px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
	color: #000;
}
.add_box .st_box .st .st_price ul li{
	margin-bottom: 10px;
	color: grey;
}
.add_box .st_box .st .st_price ul li input{
	width: 250px;
	height: 28px;
	margin-right: 5px;
}
.add_box .st_box .st .show_style h1{
	    border-color: #c5c5c5;
    background-color: #fff;
    color: #666;
    height: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 9px;
    font-size: 12px;
    margin: 0;
}
.add_box .st_box .st .show_style .show_list{
	margin-top: 20px;
}
.add_box .st_box .st .show_style .show_list .kind_1{
	float: left;
	width: 50%;
	text-align: center;

}
.add_box .st_box .st .show_style .show_list .kind_1 h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}
.add_box .st_box .st .show_style .show_list .kind_1 p{
    color: #9b9b9b;
    width: 57%;
    margin: 0 auto;
    font-size: 14px;
}
.add_box .st_box .st .show_style .show_list .kind_1 .check{
	position: relative;
}
.add_box .st_box .st .show_style .show_list .kind_1.check_bc .check i{
	display: block;
}
.add_box .st_box .st .show_style .show_list .kind_1.check_bc img{
	border: 1px solid #3fb939;
    outline: 1px solid #3fb939;
}
.add_box .st_box .st .show_style .show_list .kind_1 .check i{
    position: absolute;
    bottom: -16px;
    left: 229px;
    background-image: url(http://wximg.qq.com/wxp/assets/image/canvas/succ.png);
    width: 32px;
    height: 32px;
    display: none;
}
.add_box .st_box .st .show_style .sure{
	margin-top: 20px;
}
.add_box .st_box .st .show_style .sure p{
	width: 123px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #adadad;
	border-radius: 3px;
	cursor: pointer;
}
.add_box .st_box .st .show_com{
	display: none;
}
.add_box .st_box .st .show_com .show_choice h1{
    border-color: #c5c5c5;
    font-size: 14px;
	margin: 0;
    background-color: #fff;
    color: #666;
    height: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 9px;
}
.add_box .st_box .st .show_com .show_choice .sc_box{
	margin: 10px;
	border: 1px solid #ccc;
}
.add_box .st_box .st .show_com .show_choice .sc_box p{
	margin: 10px 0;
	padding-left: 15px;
}
.add_box .st_box .st .show_com .show_choice .sc_box span{
	width: 50px;
	height: 24px;
	background: green;
	color: #fff;
	display: block;
	line-height: 24px;
	margin-left: 15px;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.add_box .st_box .st .show_com .show_wai h1{
    border-color: #c5c5c5;
    font-size: 14px;
	margin: 0;
    background-color: #fff;
    color: #666;
    height: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 9px;
}
.add_box .st_box .st .show_com .show_wai .sw_box{
	margin: 15px;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left{
	float: left;
	width: 50%;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li{
	margin-bottom: 20px;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li em{
    position: relative;
    left: 0px;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    width: 90px;
    padding-right: 10px;
    float: left;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li  textarea{
    height: 50px;
    resize: none;
    width: 300px;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li span{
	width: 85px;
	border-radius: 5px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	float: left;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li i{
	float: right;
	width: 300px;
	font-style: normal;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li .click_box a{
    float: left;
    padding-right: 5px;
    margin: 0 20px -3px 20px;
    position: relative;
    cursor: pointer;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li .click_box a:before{
	    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li .click_box a:after{
	content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #1C7EBB;
    border-radius: 50%;
    display: block;
    display: none;
}
.add_box .st_box .st .show_com .show_wai .sw_box .sw_left ul li .click_box a.ck_bc:after{
	display: block;
}