/* CSS Document */
*{margin:0px;padding:0px;}
html,body{height:100%;}
li{list-style-type:none;}
img{border:0px;vertical-align:middle;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
.clear{clear:both;}
.ce{display:block;width:215px;position:absolute;z-index:5;top:81px;left:0px;box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.12);height: 100%;}
.ce li{border-bottom: 1px solid #e0e0e0; position: relative;}
.more{margin-left: 36px;width: 10px;height: 6px;-webkit-transform: rotate(180deg); transform: rotate(180deg);webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;transition: transform .3s ease;transition: transform .3s ease,-webkit-transform .3s ease;position: absolute;right: 20px;
    top: 31px;
}
.ce li a{padding: 21px 10px 22px 40px;color:#333;display:block;cursor:pointer;background:url(../images/tu.png) no-repeat 10px center;font-size: 16px;border-left: 3px solid #fff;}
.ce li a:hover{background:url(../images/tu.png) no-repeat 10px center #f7f7f7;    color: #108ee9;text-decoration: none;}
.ce li .dqian{background:none}
.ce li .xz{color: #108ee9;text-decoration: none; background-color: #fff;border-left-color:#108ee9!important;}

.er{display:none;width:215px;}
.er li{width:100%;border-bottom: none;}
.er li a{display:block;padding:10px 10px 10px 20px;color:#333;background:none;font-size: 15px; position: relative;}
.er .e_li a i{width: 20px;height: 20px;display: inline-block;background:url(../images/more.png) no-repeat  center;background-size: 8px 5px;position: absolute;right: 20px;top: 11px;-webkit-transform: rotate(180deg); transform: rotate(180deg);webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
}
.er li a:hover,.er li .sen_x{background:#f7f7f7;color: #108EE9}
.er .e_li a:hover,.er .e_li .sen_x{color: #108ee9;text-decoration: none; background-color: #f7f7f7;}

.thr{background:#fff;display:none;}
.thr li{margin-bottom:1px;border-top:none;position:relative;}
.thr li a{padding-left: 50px;width: 215px}
.er .e_li .thr li a{background:none;}
.er .e_li .thr li a:hover{background:#f7f7f7; color: #108ee9;}
.er .e_li .thr li .xuan{color: #108ee9;text-decoration: none; background-color: #fff;border-left: 3px solid #108ee9;}
/*.er .e_li .thr li .xuan .more1{-webkit-transform: rotate(0deg); transform: rotate(0deg);}*/
.more1{margin-left: 28px;margin-top: -4px;width: 10px;height: 6px;-webkit-transform: rotate(180deg); transform: rotate(180deg);webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
}
.thr_nr{width:300px;position:absolute;top:0px;left:150px;z-index:10;border:1px solid rgb(201,201,201);display:none;}
.thr_nr h3{font-weight:normal;font-size:18px;display:block;text-align:center;width:100%;padding:10px 0px;}
.thr_nr img{width:100%;}



.ti {width: 29px;height:29px;float: left;padding-top: 3px;cursor: pointer;text-align: center;margin-right: 10px;margin-top:40px;margin-left:20px;background: url(../images/11.png) no-repeat;}
.inpu {cursor: pointer;filter:alpha(opacity=0);-moz-opacity:0; opacity:0;width:29px;height:29px;}
.span{float:left;display:block;padding:4px 40px 0px 0px;color:#000;}
.tu1{width: 29px;height:29px;float: left;padding-top: 3px;cursor: pointer;text-align: center;margin-right: 10px;margin-top:40px;margin-left:20px;background:url(../images/22.png) no-repeat;}
.span1{color:#f00;float:left;display:block;padding:4px 40px 0px 0px;}
.span2{color:#000;}



.dao img{-webkit-transform: rotate(0deg); transform: rotate(0deg)!important;}
.dao i{-webkit-transform: rotate(0deg); transform: rotate(0deg)!important;}
.fixed{top: 0;position: fixed;}



















