.cont_box .cb_lead{
    padding-left: 15px;
    margin-bottom: 20px;
}
.cont_box .cb_lead .cbl_left{
	float: left;
}
.cont_box .cb_lead .cbl_left .choice {
	float: left;
	cursor: pointer;
	margin-right: 5px;
	font-size: 12px;
	position: relative;
}
.cont_box .cb_lead .cbl_left .choice  span{
	position: relative;
	width: 101px;
	height: 31px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 31px;
	text-indent: 10px;
	float: left;
}
.cont_box .cb_lead .cbl_left .choice  span b{
	font-weight: normal;
}
.cont_box .cb_lead .cbl_left .choice span em{
	position: absolute;
	width: 28px;
	height: 29px;
	border-left: 1px solid #ccc;
	background: url(../images/arrowdown.png) no-repeat center;
	background-size: 10px;
	right: 0;
}
.cont_box .cb_lead .cbl_left .choice:hover{
	background: #eee;
}
.cont_box .cb_lead .cbl_left .choice .choice_box{
	position: absolute;
	bottom: -95px;
	width: 120px;
	height: 93px;
	border: 1px solid #ccc;
	padding: 5px 0px;
	background: #fff;
	z-index: 2;
	border-radius: 5px;
	display: none;
}
.cont_box .cb_lead .cbl_left .choice .choice_box ul li{
	height: 27px;
	line-height: 27px;
	text-indent: 10px;
}
.cont_box .cb_lead .cbl_left .choice .choice_box ul li:hover{
	background: #eee;
}
.cont_box .cb_lead .cbl_left .search {
	float: left;
}
.cont_box .cb_lead .cbl_left .search input{
	width: 200px;
	height: 31px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-indent: 10px;
	margin-right: 8px;
}
.cont_box .cb_lead .cbl_left .search button{
	width: 65px;
	height: 28px;
	line-height: 28px;
	background: #286090;
	color: #fff;
	border: none;
	border-radius: 3px;
}
.cont_box .cb_lead .cbl_right{
	float: right;
	margin-right: 10px;
}
.cont_box .cb_lead .cbl_right ul{
	float: left;
}
.cont_box .cb_lead .cbl_right ul li{
	float: left;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-right: none;
	cursor: pointer;
	font-size: 12px;
}
.cont_box .cb_lead .cbl_right ul li:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cont_box .cb_lead .cbl_right ul li:last-child{
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ccc;
}
.cont_box .cb_lead .cbl_right ul li.refresh i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/shuaxin.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li.add i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/jiahao.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li.edit i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/bianji.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li.del i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/laji.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li.key i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/yaoshi.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li.mo{
	position: relative;
}
.cont_box .cb_lead .cbl_right ul li.mo b{
	font-weight: normal;
}
.cont_box .cb_lead .cbl_right ul li.mo .mo_box{
	position: absolute;
    bottom: -95px;
    width: 120px;
    height: 93px;
    border: 1px solid #ccc;
    padding: 5px 0px;
    background: #fff;
    z-index: 2;
    border-radius: 5px;
    right: 0;
    display: none;
}
.cont_box .cb_lead .cbl_right ul li.mo .mo_box a{
    height: 27px;
    line-height: 27px;
    text-indent: 10px;
    display: block;
}
.cont_box .cb_lead .cbl_right ul li.mo i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/gengduo.png) no-repeat center;
	background-size: 14px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right ul li em{
    width: 12px;
    height: 14px;
    background: url(../images/arrowdown.png) no-repeat center;
    background-size: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 5px;
}
.cont_box .cb_lead .cbl_right ul li:hover{
	background: #e6e6e6;
	border-color: #adadad;
}
.cont_box .cb_lead .cbl_right .group{
	float: left;
	margin-left: 10px;
}
.cont_box .cb_lead .cbl_right .group ul li{
		float: left;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-right: none;
	cursor: pointer;
	font-size: 12px;
}
.cont_box .cb_lead .cbl_right .group ul li:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cont_box .cb_lead .cbl_right .group ul li:last-child{
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ccc;
}
.cont_box .cb_lead .cbl_right .group ul li.quanxian i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/chuizi.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right .group ul li:hover {
	color: #333;
}
.cont_box .cb_lead .cbl_right .group ul li.guolv{
	position: relative;
}
.cont_box .cb_lead .cbl_right .group ul li.guolv i{
	width: 12px;
	height: 14px;
	display: inline-block;
	background: url(../images/guplv.png) no-repeat center;
	background-size: 12px;
	vertical-align: text-bottom;
	margin-right: 4px;
}
.cont_box .cb_lead .cbl_right .group ul li.guolv b{
	font-weight: normal;
}
.cont_box .cb_lead .cbl_right .group ul li.guolv .guolv_box{
		position: absolute;
    bottom: -70px;
    width: 120px;
    height: 65px;
    border: 1px solid #ccc;
    padding: 5px 0px;
    background: #fff;
    z-index: 2;
    border-radius: 5px;
    right: 0;
    display: none;
}
.cont_box .cb_lead .cbl_right .group ul li.guolv .guolv_box a{
	    height: 27px;
    line-height: 27px;
    text-indent: 10px;
    display: block;
}
.cont_box .cb_lead .cbl_right .group ul li em{
    width: 12px;
    height: 14px;
    background: url(../images/arrowdown.png) no-repeat center;
    background-size: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 5px;
}
.cont_box .cb_lead .cbl_right .group ul li:hover{
	background: #e6e6e6;
	border-color: #adadad;
}
.menu_2{
	margin-top: 20px;
}
.menu_2 thead th{
	text-align: left;
}
.menu_2 thead th i{
	right: 40px;
}
.menu_2 thead th em{
	right: 40px;
}
table{
	width: 100%;
}
tr{
    border-top: 1px solid #ddd;
    width: 100%;
}
th{
	border-top: none!important;
}
th b{
	display: block;
	width: 33px;
	height: 16px;
	line-height: 16px;
	background: #5cb85c;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
}


.add_de{
	position:  fixed;
	left: 33%;
	top: 20%;
	background: #fff;
	z-index: 99999;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    width: 750px;
    height: 445px;
    display: none;
}
.add_de h1{
	font-size: 15px;
	padding-left: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.add_de h1 em{
	position: absolute;
	right: 20px;
	top: -9px;
	font-size: 20px;
	cursor: pointer;
}
.add_de tr{
	display: block;
	width: 45%;
	margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: none;
}
.add_de tr.beizhu{
	width: 92%;
}
.add_de tr td.add_title{
    position: relative;
    left: 0px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
    width: 90px;
    padding-right: 10px;
}
.add_de tr td.add_title em{
    color: red;
    position: absolute;
    right: 0px;
    top: 9px;
}
.add_de tr td.add_input{
    position: relative;
    padding: 5px;
    width: auto;
}
.add_de tr td.add_input input{
	    color: #000;
    border-radius: 0px;
    box-shadow: none;
    font-size: 9pt;
    height: 28px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 0px;
    padding-left: 5px;
    resize: none;
    width: 250px;
}
.add_de tr td.add_input select{
		    color: #000;
    border-radius: 0px;
    box-shadow: none;
    font-size: 9pt;
    height: 28px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 0px;
    padding-left: 5px;
    resize: none;
    width: 250px;
}
.add_de tr td.add_input textarea{
	width: 600px;
	height: 50px;
	resize: none;
}
.add_de .add_foot{
	margin-top: 19px;
	height: 40px;
}
.add_de .add_foot button{
	float: right;
	margin-right: 48px;
	width: 66px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #5cb85c;
	border:none;
	border-radius: 5px;
}
.disk{
position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}