.lead{
	margin-bottom: 0;
}
.edit{
    padding: 20px 50px 20px 50px;
}
.edit span{
    padding: 9px 12px 9px 12px;
	font-size: 12px;
    color: #fff;
    background-color: #1C7EBB;
    border-color: #114b70;
	border-radius: 3px;
	cursor: pointer;
}
.edit span:hover{
	background: #15608f;
}
.infor{
	margin-bottom: 10px;
}
.infor ul {
	margin-left: 65px;
}
.infor ul li{
	margin-bottom: 20px;
	font-weight: bold;
	color: #767676;
	font-size: 12px;
}
.infor ul li em {
	font-weight: bold;
	width: 100px;
	text-align: right;
	display: inline-block;
	color: #767676;
	margin-right: 20px;
}
.edit_txt{
	/*position: absolute;*/
	left: 50%;
	background: #fff;
	width: 809px;
	height: 309px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.edit_txt h1{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
	margin: 0;
    font-size: 24px;
    color: #767676;
}
.layer-anim{
	width: auto!important;
	left: 50%!important;
	top: 80px!important;
	margin-left: -430px;
}
.edit_txt ul{
	font-size: 12px;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
}
.edit_txt ul li{
	margin-bottom: 15px;
	height: 34px;
}
.edit_txt ul li em{
	width: 25%;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #767676;
}
.edit_txt ul li input{
	width: 75%;
	height:34px;
	text-indent: 10px;
}
.edit_txt .edit_btn{
	float: right;
	margin-top: 20px;
}
.edit_txt .edit_btn .sure{
	color: #fff;
    background-color:#1C7EBB;
    border:1px solid  #1C7EBB;
    width: 54px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
}
.edit_txt .edit_btn .sure:hover{
    border:1px solid  #15608f;
    background-color:#15608f;
}
.edit_txt .edit_btn .close{
	color: #fff;
	margin-left: 15px;
    background-color:#FFB61C;
    border:1px solid #FFB61C;
    width: 54px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    opacity: 1;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
}
.edit_txt .edit_btn .close:hover{
	background-color:#e89d00;
    border:1px solid #e89d00;
}