<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>网站模块管理</title>
{#$cssFile#}
<style media="screen">
  .curr {color: #f00;}
</style>
</head>

<body>
<div class="search" style="position:relative;">
  <div class="tool">
    <button class="btn btn-info" data-toggle="dropdown" id="installNew">商店</button>
  </div>
</div>

<ul class="thead clearfix" style="position:relative; top:0; left:0; right:0; margin:0 10px;">
  <li class="row3">&nbsp;</li>
  <li class="row40 left">已安装模块</li>
  <li class="row20">设为首页</li>
  <li class="row20">排序</li>
  <li class="row17 left">操 作</li>
</ul>

<div class="list mb50" id="list" style="margin-top:-10px;">
  <ul class="root"></ul>
  <div class="tr clearfix">
    <div class="row3"></div>
    <div class="row80 left"><a href="javascript:;" class="add-type" style="display:inline-block;" id="addNew">添加新分类</a></div>
  </div>
  <button type="button" class="btn btn-success" id="saveBtn">保存</button>
</div>

<script id="editForm" type="text/html">
  <form action="" class="quick-editForm" name="editForm">
	<dl class="clearfix">
      <dt>模块标识：</dt>
      <dd id="name"></dd>
    </dl>
    <dl class="clearfix">
      <dt>模块名称：</dt>
      <dd><input class="input-xlarge" type="text" name="title" id="title" value="" /></dd>
    </dl>
	<dl class="clearfix">
      <dt>模块图标：</dt>
      <dd>
	    <input class="input-xlarge" type="text" name="icon" id="icon" value="" /><br />
	    图片位于：{#$adminPath#}../static/images/admin/nav/
      </dd>
    </dl>
    <dl class="clearfix hide">
      <dt>所属目录：</dt>
      <dd><select name="parentid" id="parentid" class="input-large"></select></dd>
    </dl>
    <dl class="clearfix">
      <dt>状态：</dt>
      <dd class="clearfix">
        <label><input type="radio" name="state" value="0" />启用</label>&nbsp;&nbsp;
        <label><input type="radio" name="state" value="1" />禁用</label>
      </dd>
    </dl>
	<dl class="clearfix">
      <dt>排序：</dt>
      <dd><input class="input-mini" type="number" min="0" name="weight" id="weight" value="" /></dd>
    </dl>
  </form>
</script>

<script>
  var moduleList = {#$moduleList#}, action = '{#$action#}', adminPath = "{#$adminPath#}", token = '{#$token#}', defaultindex = '{#$cfg_defaultindex#}';
</script>
{#$jsFile#}
</body>
</html>
