<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][2][9]#}-{#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}../siteConfig/default/css/index_public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/login.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', redirectUrl = '{#$redirectUrl#}', site = '{#$site#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>

<body>
{#include file="../siteConfig/top1.html"#}

<!-- head s -->
<div class="wrap header fn-clear">
	<div class="logo">
		<a href="{#$cfg_basehost#}" title="{#$cfg_webname#}">
			<img src="{#$cfg_weblogo#}" alt="{#$cfg_webname#}">
			<div class="shortname"><h2>{#$cfg_shortname#}</h2><p>{#$langData['siteConfig'][23][26]#}</p></div>
		</a>
	</div>
	<dl class="kefu fn-clear">
		<dt><img src="{#$templets_skin#}images/kf_tel.png" alt=""></dt>
		<dd>
			<p class="p1">{#$langData['siteConfig'][19][275]#}</p>
			<p class="p2">{#$cfg_hotline#}</p>
		</dd>
	</dl>
</div>
<!-- head e -->
<!-- 登录外框 s -->
<div class="loginwrap">
	<div class="wrap">
		<div class="person"><script src="/include/json.php?action=adjs&id=163" language="javascript"></script></div>
		<div class="formbox">
			<span class="ewmlogin"></span>
			<div class="saoma">
				<p class="title">{#$langData['siteConfig'][23][58]#}</p>
				<div class="picbox">
					<div class="pic1" id="login_container"><iframe src="{#$cfg_basehost#}/api/login.php?type=wechat&notclose=1" frameborder="0" scrolling="no" width="300px" height="400px"></iframe></div>
				</div>
			</div>
			<form action="" class="loginform">
				<p class="title">{#$langData['siteConfig'][20][498]#}</p>
				<div class="error"><p>{#$langData['siteConfig'][20][499]#}</p></div>
				<div class="form-row">
					<div class="inpbdr">
						<i class="lgicon iconuser"></i>
						<input type="text" class="inp username" id="loginuser" name="loginuser" placeholder="{#$langData['siteConfig'][20][500]#}">
					</div>
				</div>
				<div class="form-row">
					<div class="inpbdr">
						<i class="lgicon iconlock"></i>
						<input type="password" class="inp password" id="loginpass" name="loginpass" placeholder="{#$langData['siteConfig'][5][0]#}">
					</div>
				</div>
				{#if $loginCode == 1#}
				<div class="form-row fn-clear">
					<div class="inpbdr yzminput">
						<i class="lgicon iconyzm"></i>
						<input type="input" class="inp vdimgck" id="logincode" name="logincode" placeholder="{#$langData['siteConfig'][4][0]#}">
					</div>
					<div class="inpbdr yzmpic"><img src="{#$cfg_basehost#}/include/vdimgck.php" id="vdimgck" alt=""></div>
					<a href="javascript:;" class="change">{#$langData['siteConfig'][6][125]#}</a>
				</div>
				{#/if#}
				<div class="form-row"><div class="rememberpsd"><i class="lgicon iconcheck"></i>{#$langData['siteConfig'][20][501]#}</div></div>
				<div class="form-row btnwrap">
					<input type="submit" class="submit" value="{#$langData['siteConfig'][2][0]#}">
				</div>
				<div class="otherdo fn-clear">
					<a href="register.html" class="goregister">{#$langData['siteConfig'][1][6]#}></a>
					<a href="fpwd.html" class="fogetpsd">{#$langData['siteConfig'][5][1]#}？</a>
				</div>
				<div class="othertype">
					<p>{#$langData['siteConfig'][2][4]#}：</p>
					{#siteConfig action="getLoginConnect" return="login"#}
					<a href="{#$cfg_basehost#}/api/login.php?type={#$login.code#}" title="{#$login.name#}"><img src="{#$cfg_basehost#}/api/login/{#$login.code#}/img/24.png" /></a>
					{#/siteConfig#}
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 登录外框 e -->

<!-- 底部 s -->
<div class="footer-login">
	<p>
		{#siteConfig action="singel"#}
		<a href="{#getUrlPath service='siteConfig' template='about' id={#$row.id#}#}" target="_blank">{#$row.title#}</a><span class="pice">|</span>
		{#/siteConfig#}
		<a href="{#getUrlPath service='siteConfig' template='help'#}" target="_blank">{#$langData['siteConfig'][19][273]#}</a>
	</p>
	{#$cfg_powerby#}
</div>
<!-- 底部 e -->

<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/login.js?v={#$cfg_staticVersion#}"></script>
{#$cfg_statisticscode#}
</body>
</html>
