<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$langData['siteConfig'][19][860]#} - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/withdraw_log_detail.css?v={#$cfg_staticVersion#}" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#$pageTitle = $langData['siteConfig'][19][860]#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li><a href="{#getUrlPath service='member' type='user' template='deposit'#}">{#$langData['siteConfig'][19][292]#}</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='withdraw'#}">{#$langData['siteConfig'][19][293]#}</a></li>
				<li class="curr"><a href="{#getUrlPath service='member' type='user' template='withdraw_log'#}">{#$langData['siteConfig'][19][294]#}</a></li>
			</ul>

			<dl class="info-section">
				{#if $state == 0#}
					{#$stateTxt = $langData['siteConfig'][9][14]#}
					{#if $bank == "alipay"#}
						{#$stateNote = $langData['siteConfig'][19][392]#}
					{#else#}
						{#$stateNote = $langData['siteConfig'][19][393]#}
					{#/if#}
				{#elseif $state == 1#}
					{#$stateTxt = $langData['siteConfig'][9][5]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][861]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#elseif $state == 2#}
					{#$stateTxt = $langData['siteConfig'][9][6]#}
					{#$stateNote = $note#}
					{#$stateData = "<p>"|cat:$langData['siteConfig'][19][862]|cat:"："|cat:$rdate|cat:"</p>"#}
				{#/if#}
				<dt><span class="info-title">{#$langData['siteConfig'][19][863]#}：</span><em class="info-text">{#$stateTxt#}</em></dt>
				<dd class="last"><p>{#$stateNote#}</p>{#$stateData#}</dd>
			</dl>

			<dl class="bunch-section">
				<dt>{#$langData['siteConfig'][19][864]#}</dt>
				<dd>
					<ul>
						{#if $bank == "alipay"#}
						<li>{#$langData['siteConfig'][19][40]#}：{#$cardnum#}</li>
						<li>{#$langData['siteConfig'][19][41]#}：{#$cardname#}</li>
						{#else#}
						<li>{#$langData['siteConfig'][23][96]#}：{#$bank#}</li>
						<li>{#$langData['siteConfig'][19][865]#}：{#$cardnum#}</li>
						<li>{#$langData['siteConfig'][19][866]#}：{#$cardname#}</li>
						{#/if#}
						<li>{#$langData['siteConfig'][19][46]#}：{#$tdate#}</li>
						<li>{#$langData['siteConfig'][19][39]#}：<strong>{#$amount#}</strong></li>
					</ul>
				</dd>
			</dl>

		</div>
	</div>
</div>

{#include file="footer.html"#}
</body>
</html>
