a:hover{
  text-decoration: none;
}
.header {
  background-color: #fdc234;
}
.header .row {
  margin: 0 auto;
}
.header .row .btn-login,
.header .row .btn-sign-out,
.header .row .btn-user-center,
.header .row .btn-tel,
.header .row .logo,
.header .row .nav {
  display: inline-block;
  height: 70px;
}
.header .row .logo {
  width: 170px;
  background: url(../images/logo-che-com@1x.png) center center no-repeat;
  background-size: 170px 36px;
}
.header .row .nav {
  margin-left: 50px;
}
.header .row .nav li {
  display: table;
  margin-right: 35px;
  height: 70px;
  line-height: 70px;
}
.header .row .nav a {
  display: table-cell;
  vertical-align: middle;
  color: #001827!important;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.header .row .btn-login,
.header .row .btn-sign-out,
.header .row .btn-user-center,
.header .row .btn-tel span {
  color: #001827!important;
  line-height: 70px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.header .row .nav a span {
  padding: 10px 0;
  border-bottom: 5px solid #fdc234;
}
.header .row .nav a span:hover {
  border-bottom: 5px solid #001827;
}
.header .row .btn-tel span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  padding-left: 30px;
  background: url(../images/icon-phone.png) 6px center no-repeat;
}
.header .row .btn-login {
  font-size: 16px;
  margin-left: 30px;
}
.header .row .btn-sign-out {
  font-size: 16px;
  margin-left: 30px;
}
.header .row .btn-user-center {
  font-size: 16px;
  margin-left: 30px;
}
.header .row .frm-search {
  width: 280px;
  margin-top: 16px;
  border: 1px solid #001826;
  overflow: hidden;
}
.header .row .frm-search .field {
  width: 244px;
  height: 36px;
  background-color: #fff;
}
.header .row .frm-search .right,
.header .row .frm-search button {
  width: 36px;
  height: 36px;
}
.header .row .frm-search input {
  width: 100%;
  line-height: 14px;
  height: 14px;
  border: 0;
  outline: 0;
  margin: 10px 0 0 0;
  padding: 0 15px;
}
.header .row .frm-search input::-webkit-input-placeholder {
  color: #78787e;
  font-size: 14px;
}
.header .row .frm-search input:-moz-placeholder {
  color: #78787e;
  font-size: 14px;
}
.header .row .frm-search input::-moz-placeholder {
  color: #78787e;
  font-size: 14px;
}
.header .row .frm-search input:-ms-input-placeholder {
  color: #78787e;
  font-size: 14px;
}
.header .row .frm-search button {
  cursor: pointer;
  border: 0;
}
.x-table {
  display: table;
}
.x-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
  margin-left: -15px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
.row .row:before,
.row .row:after {
  content: "";
  display: table;
}
.row .row:after {
  clear: both;
}
.column,
.columns {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.large-3 {
  width: 12.5%;
}
.large-6 {
  width: 25%;
}
.large-8 {
  width: 33.33333%;
}
.large-12 {
  width: 50%;
}
.border-box,
.border-box:before,
.border-box:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.round-box-2px {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.round-box-3px {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.round-box-5px {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.minHeight-30 {
  min-height: 30px;
  height: auto !important;
  height: 30px;
}
.minHeight-300 {
  min-height: 300px;
  height: auto !important;
  height: 300px;
}
.minHeight-100 {
  min-height: 100px;
  height: auto !important;
  height: 100px;
}
.minWidth-200 {
  min-width: 200px;
  width: auto !important;
  width: 200px;
}
.minWidth-50 {
  min-width: 50px;
  width: auto !important;
  width: 50px;
}
.minWidth-80 {
  min-width: 80px;
  width: auto !important;
  width: 80px;
}
.minWidth-100 {
  min-width: 100px;
  width: auto !important;
  width: 100px;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clean-link,
.clean-link:hover,
.clean-link:focus,
.clean-link:active {
  text-decoration: none;
}
.hover-link {
  text-decoration: none;
}
.hover-link:hover,
.hover-link:focus,
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.hide {
  visibility: none;
  display: none;
}
.x-hide {
  visibility: none !important;
  display: none !important;
}
.ghost {
  visibility: hidden !important;
  opacity: 0.0 !important;
  display: none !important;
  /* just for sure~ O(∩_∩)O~ */
  position: absolute !important;
  left: -999999px !important;
}
.absol {
  position: absolute;
}
.rela {
  position: relative;
}
.fixed {
  position: fixed;
}
.bg-test-fill-radial-gradient {
  background: -webkit-radial-gradient(circle, white, black);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-radial-gradient(circle, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-radial-gradient(circle, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(radial, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9)));
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 100%);
}
.opacity-full {
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.opacity-30 {
  opacity: 0.3;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.opacity-50 {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.opacity-70 {
  opacity: .7;
  -moz-opacity: .7;
  -khtml-opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.x-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.y-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.text-break {
  word-break: break-all !important;
  word-wrap: break-word !important;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.touch-action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.gaussian-blur-5 {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.left img,
.right img {
  display: block;
  max-width: none;
}
.flash {
  position: relative;
}
.flash:hover .prev{
  display: block;
}
.flash:hover .next{
  display: block;
}
.flash .bd img{
  width: 100%;
  height: 400px;
}
.flash .hd{
     position: absolute;
    right: 50%;
    bottom: 10px;
}
.flash .hd ul li{
  display: inline-block;
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  background-image: url(../images/main_161221a.png);
  background-position: -344px -252px;
  background-size: inherit;
  cursor: pointer;
  color: transparent;
}
.flash .hd ul li.on{
  background-image: url(../images/main_161221a.png);
  background-position: -328px -252px;
  background-size: inherit;
  width: 12px;
  height: 12px;
  margin-top: 1px;
}
.flash .prev{
  background-image: url(../images/main_161221a.png);
  background-position: 0 -268px;
  background-size: inherit;
  width: 50px;
  height: 70px;
  position: absolute;
  z-index: 4;
  left: 486.5px;
  top: 160px;
  display: none;
}
.flash .next{
  background-image: url(../images/main_161221a.png);
  background-position: -328px -178px;
  background-size: inherit;
  width: 50px;
  height: 70px;
  position: absolute;
  z-index: 4;
  right: 486.5px;
  top: 160px;
  display: none;
}
.car_list {
  width: 1200px;
  margin:  0 auto;
}
.car_list  h1{
  margin-top: 5px;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ebeced;
  position: relative;
}
.car_list i{
  height: 5px;
  width: 100px;
  bottom: 0;
  left: 0;
  background-color: #fdc234;
  position: absolute;
}
.car_com{
  width: 1200px;
  margin-top: 25px;
}
.car_com ul{
  width: 1224px;
  display: block;
  list-style: none;
  padding: 0;
  left: -24px !important;
}
.car_com ul li{
  display: table;
  padding-right: 38px;
  margin-bottom: 24px;
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.car_com ul li a{
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 6px;
  border: 1px solid #EEF0EF;
  background: #fff;
}
.car_com ul li a img{
  width: 100%;
  height: 200px;
}
.car_com ul li a h3{
  overflow: hidden;
  color: #001826;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  margin-top: 20px;
  text-align: center;
}
.car_com ul li a p{
  display: block;
  overflow: hidden;
  color: #78787e;
  font-size: 14px;
  line-height: 14px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  height: 14px;
  margin: 10px 0 15px 0;
  text-align: center;
}
.car_com ul li a .price {
  text-align: center;
}
.car_com ul li a .price span{
  color: #d21d00;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  margin-top: 13px;
}
.car_com ul li a .price b{
  color: #d21d00;
  font-weight: bold;
  font-size: 24px;
}
.car_com ul li a .re_price {
  margin: 5px 0 5px 0;
  text-align: center;
  color: #979797;
  font-size: 14px;
  line-height: 14px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.foot{
  padding-top: 15px;
  margin-top: 20px;
  background-color: #282a2b;
}
.foot .footer{
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  color: #fff;
}
.foot .footer .foot_lead{
  margin-bottom: 15px;
}
.foot .footer .foot_lead li{
  float: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding-right: 15px;
}
.foot .footer .foot_lead li a{
  color: #6e737c;
}
.foot .footer .foot_lead .middle{
  padding: 0 15px;
}
.foot .footer .foot_lead .rr{
  padding-left: 15px;
}
.foot .footer .foot_lead .border{
  border-right: 1px solid #a9aeb8;
}
.foot .footer .foot_list li{
  float: left;
  box-sizing: border-box;
  width: 12.5%;
}
.foot .footer .foot_list li a{
  display: block;
  color: #5d626b;
  font-size: 14px;
  padding: 8px;
}
.ban{
    color: #63676b;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    border-top: 1px solid #abb4ba;
    margin-top: 30px;
    text-align: center;
}