.lead{
	width: 1200px;
	margin: 15px auto;
}
.lead ul li {
	float: left;
}
.lead ul li a{
    font-size: 14px;
	color: #b0adb8;
	line-height: 14px;
    height: 14px;
}
.lead ul .arrow_right{
    width: 8px;
    height: 14px;
    margin: 2px 10px 0 10px;
    background: url(../images/icon-crumb.png) center center no-repeat;
}
.none{
	display: none;
}
.list{
	width: 1150px;
	margin: 0 auto;
	padding: 25px ;
    border: 1px solid #ebeced;
}
.list .list_left{
	float: left;
    height: 430px;
    width: 500px;
    border-right: 1px solid #ebeced;
    padding-right: 20px;
}
.list .list_left .list_main_pic{
	width: 485px;
    height: 345px;
}
.list .list_left .list_main_pic img{
    width: 485px;
    display: block;
    height: 345px;
    margin: 0 auto;
}
.list .list_left .list_smail_pic ul li{
	float: left;
	cursor: pointer;
    display: inline-block;
    border: 1px solid #ebeced;
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
}
.list .list_left .list_smail_pic ul li img{
	width: 83px;
    height: 68px;
    display: block;
}
.list .list_left .list_smail_pic ul li.smail_bc span{
	display: block;
}
.list .list_left .list_smail_pic ul li span{
    position: absolute;
    width: 83px;
    height: 68px;
    top: 0;
    left: 0;
    background: url(../images/current1.png) top center no-repeat;
    display: none;
}
.list .list_right{
	float: left;
	width: 609px;
    margin-left: 20px;
    position: relative;
    height: 375px;
    overflow: hidden;
}
.list .list_right .infor h1{
	float: left;
    color: #000;
    font-weight: 500;
    font-size: 20px;
}
.list .list_right .infor span{
	float: right;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    cursor: pointer;
}
.list .list_right .infor span em{
    color: #D21D03;
}
.list .list_right .price{
	height: 88px;
    border: 1px solid #fdc235;
    margin: 20px 0;
    background-color: #fff9eb;
}
.list .list_right .price ul li{
	float: left;
}
.list .list_right .price ul li.p_1{
    height: 88px;
    margin-right: 50px;
    margin-left: 30px;
}
.list .list_right .price ul li.p_1 strong{
	color: #d21d00;
    font-size: 25px;
    line-height: 20px;
    margin-top: 25px;
    display: block;
    text-align: center;
}
.list .list_right .price ul li.p_1 strong em{
	font-size: 20px;
}
.list .list_right .price ul li.p_1  span{
	display: block;
    color: #979797;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.list .list_right .price ul li.p_2{
    height: 88px;
    margin-right: 100px;
    margin-left: 30px;
}
.list .list_right .price ul li.p_2 strong{
	color: #979797;
    font-size: 20px;
    line-height: 20px;
    margin-top: 25px;
    display: block;
    text-align: center;
}
.list .list_right .price ul li.p_2 strong em{
	font-size: 15px;
}
.list .list_right .price ul li.p_2  span{
	display: block;
    color: #979797;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.list .list_right .price ul li.p_3{
    color: #000;
    font-weight: 600;
    margin-right: 25px;
    height: 88px;
    line-height: 88px;
    float: right;
	text-align: center;
}
.list .list_right .price ul li.p_3 span{
	margin-right: 10px;
}
.list .list_right .price ul li.p_3 em{
	font-size: 28px;
	color: #d21d00;
}
.list .list_right .color{
}
.list .list_right .color span{
	float: left;
    line-height: 30px;
    color: #99999D;
    font-size: 14px;
    width: 80px;
    margin-right: 5px;
}
.list .list_right .color ul li{
	float: left;
    cursor: pointer;
    line-height: 16px;
    height: 32px;
    min-width: 75px;
    border: 1px solid #dadcde;
    background-color: #fff;
    margin: 3px 5px;
    position: relative;
}
.list .list_right .color ul li em{
	width: 18px;
    height: 18px;
    top: 6px;
    left: 6px;
    border: 1px solid #dadcde;
    position: absolute;
}
.list .list_right .color ul li.w_1 em{
    background-color: #E7E7E7;
}
.list .list_right .color ul li.w_2 em{
    background-color: #242224;
}
.list .list_right .color ul li i{
	font-style: normal;
    font-size: 14px;
    color: #000;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    margin-left: 35px;
    margin-right: 8px;
    display: block;
}
.list .list_right .color ul li.color_bc{
    height: 32px;
    min-width: 75px;
    border: 1px solid #FFA229;
    background: url(../images/CombinedShape.png) bottom right no-repeat;
}
.list .list_right .tel{
	font-size: 24px;
	color:red;
	margin-top: 20px;
}
.list .list_right .tel em{
	font-size: 18px;
}
.checan{
	display: block;
    padding: 25px;
    border: 1px solid #ebeced;
    width: 1150px;
    margin: 20px auto;
}
.waiguan h1{
	    margin-top: 5px;
    color: #4c4c4c;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ebeced;
    position: relative;
}
.waiguan h1 i{
	    height: 5px;
    width: 100px;
    bottom: 0;
    left: 0;
    background-color: #fdc234;
    position: absolute;
}
.waiguan ul{
	margin-top: 20px;
}
.waiguan ul li img{
	width: 630px;
	height: 420px;
}
.parameter h1{
	    margin-top: 5px;
    color: #4c4c4c;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ebeced;
    position: relative;
}
.parameter h1 i{
	    height: 5px;
    width: 100px;
    bottom: 0;
    left: 0;
    background-color: #fdc234;
    position: absolute;
}
.parameter .para_list .pa_left{
    margin-left: 3%;
    float: left;
    overflow: hidden;
    width: 46%!important;
    border-bottom: 1px solid #ebeced;
}
.parameter .para_list .pa_right{
    margin-left: 2%;
    float: left;
    overflow: hidden;
    width: 46%!important;
    border-bottom: 1px solid #ebeced;
}
.parameter .para_list div em{
	display: inline-block;
    line-height: 14px;
    padding: 17px 0;
    font-size: 14px;
    color: #b0adb7;
    text-align: left;
    width: 260px;
}
.parameter .para_list div span{
    color: #78787f;
    display: inline-block;
    line-height: 14px;
    padding: 17px 0;
    font-size: 14px;
}
.all_car{
    z-index: 20003;
    position: fixed;
    width: 720px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -360px;
    background-color: #FFF;
    display: none;
}
.all_car .all_lead{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
    padding: 15px 0;
    border-radius: 3px 3px 0 0;
    background-color: #fdc234;
    text-align: center;
}
.all_car .all_lead i{
	    cursor: pointer;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    background: url(../images/icon-close.png) center center no-repeat;
    background-size: 16px;
    position: absolute;
}
.all_car .all_box{
    width: inherit;
    height: 300px;
    overflow: hidden;
}
.all_car .all_box .ab_lead{
    margin-top: 25px;
}
.all_car .all_box .ab_lead ul li{
    color: #78787e;
    top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
    float: left;
}
.all_car .all_box .ab_lead ul li.size{
    margin-left: 25px;
}
.all_car .all_box .ab_lead ul li.re_price{
    margin-left: 380px;
}
.all_car .all_box .ab_lead ul li.price{
    margin-left: 90px;
}
.all_car .all_box .all_com{
    height: 235px;
    margin-top: 25px;
    overflow: scroll;
    overflow-x: hidden;
}
.all_car .all_box .all_com .a_list{
    display: block;
    background-color: #f6f7f8;
    height: 50px;
    position: relative;
}
.all_car .all_box .all_com .a_list.a_1{
    display: block;
    background-color: #fff;
    height: 50px;
    position: relative;
}
.all_car .all_box .all_com .a_list a{
	display: block;
	height: 50px;
}
.all_car .all_box .all_com .a_list a .name{
	left: 25px;
	position: absolute;
	color: #78787e;
    top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
}
.all_car .all_box .all_com .a_list a .rp{
    left: 437px;
    top: 16px;
    position: absolute;
    color: #d31d00;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-right: 20px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
}
.all_car .all_box .all_com .a_list a .rp b{
    font-size: 14px;
    line-height: 14px;
    right: -20px;
    bottom: 2px;
    color: #78787e;
    font-weight: 700;
}
.all_car .all_box .all_com .a_list a .pp{
        font-size: 14px;
    line-height: 14px;
    left: 575px;
    top: 18px;
    margin-left: 0;
    position: absolute;
    color: #78787e;
    font-weight: 700;
    line-height: 16px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
}
.all_car .all_box .all_com .a_list a .pp b{
    font-size: 14px;
    line-height: 14px;
    right: -20px;
    bottom: 2px;
    color: #78787e;
    font-weight: 700;
}
.disk{
    background-color: rgba(0,0,0,.7);
    opacity: .7!important;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    position: fixed;
    display: none;
}