<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0;  //图集配置
var adminPath = "{#$adminPath#}", modelType = 'dating';
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="userid" id="userid" value="{#$userid#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="typeid">相册：</label></dt>
    <dd>
      <span id="typeidList">
        <select name="typeid" id="typeid" class="input-medium">
          <option value="0">请选择相册分类</option>
          {#foreach from=$typeList key=id item=i#}
          <option value="{#$i.id#}">{#$i.title#}</option>
          {#/foreach#}
        </select>
      </span>
      <span class="input-tips"><s></s>请选择相册</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>照片：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection" class="clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" id="deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>