
/*筛选部分*/
.filter{border:1px solid #ececec; border-width: 0 1px 0 1px; padding-top:30px; font-size: 14px; color: #777}
.filter span{margin-top:10px;}
.filter .tab{padding:0px 30px;  border-bottom: 1px solid #ececec}
.filter i,.list dd.addr em,.list dd.name span s,.list li .down{background: url(../images/company.png) no-repeat;}
.filter i{display: inline-block; width: 20px; height:20px; vertical-align:middle; margin-right: 6px; background-position: 1px 0}
.filter .price i{background-position: 2px -22px;}
.filter .char i{background-position: 0 -43px;}

.filter .con{margin-left:60px; padding-top: 10px;}
.filter .con a{display: inline-block; height: 20px;  padding: 0 5px; margin:0 0 10px 25px;  }
.filter .con a.current{color: #fff; background: #44aaff}

/*婚庆公司列表部分*/
.list{margin-top: 20px;}
.list li{position: relative; padding:20px; border-bottom: 1px solid #ececec; background: #fff }
.list li.empty {height: 400px; line-height: 300px; text-align: center; font-size: 14px; border-bottom: 0;}
.list li:hover{background: #f2f2f2}
.list li.empty:hover{background: #fff;}
.list dl{width: 85%}
.list dt{float: left;}
.list dt a{display: block;}
.list dt img{display: block; width:160px; height:160px;}
.list dd{margin-left: 170px; font-size: 14px;}
.list dd.name a{font-size: 18px; display: inline-block; max-width: 200px; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list dd.name i{margin-left:10px; padding:0px 3px; color: #fff }
.list dd.name i.qi{background: #a6dbe0}
.list dd.name i.ge{background: #aae2c1}
.list dd.name i.tg{background: #f66058}
.list dd.name span{margin-left:5%;}
.w1200 .list dd.name span{margin-left:15%;}
.list dd.name span em{margin-left: 20px;}
.list dd.name span s{display: inline-block; vertical-align: middle; width: 12px; height:12px; background-position: 0 -82px; margin-right: 5px;}
.list li:hover em{ color: #f44578}
.list li:hover span s{background-position: 0 -96px;}
.list dd.tab{margin-top:15px;}
.list dd.tab span{float: left; padding:0px 5px; color: #999; }
.list dd.tab p{margin-left:80px;}
.list dd.tab a{color: #44aaff; margin-left: 5px;}
.list li:hover dd.tab span{background: #8ac7fa;color: #fff;}
.list li:hover dd.char span{background: #99cc7c;color: #fff;}
.list dd.addr{margin-top: 15px; }
.list dd.addr span{color: #999; padding:0 5px;}
.list dd.addr a{margin-left: 20px; color: #f44578}
.list dd.addr em{display: inline-block; vertical-align: middle; width: 12px; height: 18px; background-position:0 -62px; margin:-5px 5px 0 5px; }
.list .look{width:15%; text-align: center;}
.list .look span{display: inline-block; font-size: 24px; color: #ff608e; margin-top:30px;}
.list .look a{display: inline-block; color: #fff; font-size:16px; margin-top: 62px; padding:3px 15px; background: #ff646d}
.list .img{margin-left:-15px;}
.list .img .loading {text-align: center; line-height: 200px;}
.list .img a{position: relative; float: left; width: 180px; height: 160px; margin:20px 0 0 15px;}
.w1200 .list .img a{width: 220px; height: 180px;}
.list .img img{display: block; width: 100%; height: 100%}
.list .img p{position: absolute; left:0; bottom: 1px; width: 100%; height: 30px; text-align: center; line-height: 30px; font-size: 14px; color: #fff; background: url(../images/opacity.png);}
.list li .down{position: absolute; left:50%; bottom:2px; width: 30px; height: 15px; background-position: 0 -112px; cursor: pointer; }
.list li .down.current{background-position: 0 -127px;}
p.none{width: 100%; line-height: 400px; text-align: center; font-size: 16px; color: #999}
