/*筛选部分*/
.filter{border:1px solid #ececec; border-width: 0 1px 0 1px; padding-top:30px; font-size: 14px; color: #777}
.filter span{margin-top:10px;}
.filter .tab{padding:0px 30px;  border-bottom: 1px solid #ececec}
.filter i,.list .block dd.addr a i{background: url(../images/company.png) no-repeat;}
.filter i{display: inline-block; width: 20px; height:20px; vertical-align:middle; margin-right: 6px; background-position: 1px 0}
.filter .price i{background-position: 2px -22px;}
.filter .char i{background-position: 0 -43px;}
.filter .desk i{background-position: 0 -146px;}
.filter .type i{background-position: 0 -168px;}
.filter .con{margin-left:60px; padding-top: 10px;}
.filter .con a{display: inline-block; height: 20px;  padding: 0 5px; margin:0 0 10px 25px;  }
.filter .con a.current{color: #fff; background: #44aaff}

.sort{height: 30px; margin:20px auto; font-size: 14px;}
.sort span.fn-left a{display: inline-block; width: 100px; height: 30px; line-height: 30px;  text-align: center;}
.sort .default.com {padding: 0;}
.sort .default.com a {display: block; padding: 0 15px;}
.sort .default.curr {background: #ff8cb3; color: #fff; border-color: #ff8cb3}
.sort .default.com.curr a {color: #fff;}
.sort .input{ height: 25px; border:1px solid #ececec; margin:0 10px; color: #666; padding-top:3px;}
.sort .input i{float: left; margin:0 10px; color: #666}
.sort .input span{margin:0 8px; float: left; height: 22px; line-height: 22px;}
.sort .input input{width: 60px; text-align: center; height: 22px;height: 20px\0;  height: 20px\9\0; *height: 20px;   float: left;  border:1px solid #ececec; }
.sort .input a{float: left; width: 55px; display: inline-block;  text-align: center;  margin:0px 10px 0 13px; height: 20px; line-height: 20px;  border:1px solid #ececec;}
.sort .com{position: relative; height: 28px; border:1px solid #ececec; line-height: 28px; margin-right: -1px;}
.sort .com a {display: block; padding: 0 30px 0 15px;}
.sort .com.curr a {color: #ff8cb3;}
.sort .com i,.sort .com em{position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10; border-width: 5px;}
.sort .com i{ right: 15px; top:8px; border-top:0; border-bottom-color:#999 }
.sort .com em{ right: 15px; bottom: 8px; border-bottom:0; border-top-color:#999}
.sort .com.curr i {border-bottom-color: #ff8cb3;}
.sort .com.curr.dw i {border-bottom-color: #999;}
.sort .com.curr.dw em {border-top-color: #ff8cb3;}
.sort .sel{height: 26px; line-height: 26px; font-size: 16px;}
.sort .sel a{color: #4bae4f; margin-left: 30px;}
.sort .sel a i,.list .block dt i,.list .block .info p,.list .block .info i,.list .block .info .tel em{background: url(../images/other.png) no-repeat;}
.sort .sel a i{display:inline-block;width: 26px; height: 26px; vertical-align: middle; background-position: -147px -329px; margin-right: 10px}
.sort .sel a.active i{background-position: -175px -329px;}
.sort .tips{font-size: 16px; line-height: 26px;}
.sort .tips em{color: #ff608e}
.list .empty {height: 400px; text-align: center; line-height: 300px; font-size: 14px;}
.list .block{border:1px solid #ececec; padding:25px 20px 0 25px; margin-bottom: 20px;}
.list .block:hover{background: #fffce8; box-shadow: -2px 2px 20px 4px rgba(0,0,0,0.1)}
.list .block .hotel{margin-bottom: 20px;}
.list .block dl{width: 73%; border-right:1px dashed #ccc;}
.w1200 .list .block dl{width: 75%;}
.list .block dt{position: relative; float: left; width: 240px; height: 160px; margin-right: 25px;}
.list .block dt i{position: absolute; left: 0; top:0; width: 43px; height: 43px; background-position: -227px -271px;}
.list .block dt span{position: absolute; right: 0; bottom: 0; padding:2px 10px; background: url(../images/opacity.png); font-size: 14px; color: #fff}
.list .block dt img{display: block; width: 100%; height: 100%}
.list .block dd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;line-height: 35px;font-size: 14px; color: #999 }
.list .block dd.name{font-size: 20px; margin-bottom: 10px;}
.list .block dd.star i{display: inline-block; width:70px; height: 14px; vertical-align: middle; background: url(../images/star_s2.png); margin:-4px 10px 0 0 ;}
.list .block dd.star em{display: inline-block; width:70px; height: 14px; vertical-align: middle; background: url(../images/star_s1.png);}
.list .block dd.star label{color: #43b313; margin-right: 20px;}
.list .block dd.star font{font-size: 16px; color: #ff608e}
.list .block dd.star label font{color: #43b313}
.list .block dd em{color:#333}
.list .block dd.desk span{margin-right: 15px;}
.list .block dd.addr a{color: #ff608e; }
.list .block dd.addr a i{display: inline-block; width: 12px; height: 17px; vertical-align: middle; background-position:0 -63px;  margin:-2px 5px 0 20px;}
.list .block dd.look a{color: #44aaff; margin-right: 20px;}
.list .block .info{width: 26%;}
.w1200 .list .block .info{width: 24%}
.list .block .info p{float: right; width: 188px; height: 54px; line-height: 50px; background-position: -2px 0; margin-right: -24px; padding-left: 80px; font-size: 24px; color: #fff}
.list .block .info p span{font-size: 16px;}
.list .block .info .xx{height: 90px;}
.list .block .info i{display: inline-block; float: left; width: 29px; height: 29px; background-position: 0 -56px; margin:36px 0 25px 10px;}
.list .block .info i.gift{background-position: -38px -56px }
.list .block .info i.hui{background-position: -76px -56px }
.list .block .info i.park{background-position: -113px -56px }
.list .block .info i.line{background-position: -152px -56px }
.list .block .info i.camera{background-position: -189px -56px }
.list .block .info .tel{height: 35px; line-height: 35px; float: right; font-size: 26px; color: #ff608e; margin-top: 35px;}
.list .block .info .tel em{display: inline-block; width: 35px; height: 35px; background-position: -183px -234px; vertical-align: middle; margin-right: 10px;}
tbody th{background: #f0f2f2; border-bottom: 3px solid #ececec; height: 36px; font-size: 14px; color: #666}
tbody td{height: 45px; font-size: 14px; color: #999; border-bottom: 1px solid #ececec}
tbody td a{color: #ff608e}
tbody td em{color: #000; font-size: 14px; margin-right: 5px;}
tbody td span{font-size: 20px; color: #ff6600}
tbody td i{font-size: 14px; color: #44aaff; margin-left: 5px;}
tbody td.loading {height: 100px; text-align: center;}
.list p.down{height: 50px; line-height: 50px; width: 100%; font-size: 14px; color: #ff8cb3; text-align: center; cursor: pointer;}
.list p.down a {display: block; color: #ff8cb3;}
.list p.down i,.list p.down em{display: inline-block; width: 0; height: 0; border-color:transparent; border-style: solid}
.list p.down i{position: relative; border-width: 6px; border-bottom: 0; border-top-color: #666; margin-left:5px; vertical-align: middle;}
.list p.down em{position: absolute; left:-5px; top:-6; border-width: 5px; border-bottom: 0; border-top-color: #fff}

.list p.up{height: 50px; line-height: 50px; width: 100%; font-size: 14px; color: #ff8cb3; text-align: center; cursor: pointer;}
.list p.up i,.list p.up em{display: inline-block; width: 0; height: 0; border-color:transparent; border-style: solid}
.list p.up i{position: relative; border-width: 6px; border-top: 0; border-bottom-color: #666; margin-left:5px;  vertical-align: middle;}
.list p.up em{position: absolute; left:-5px; top:-6; border-width: 5px;left: -5px; top:1px; border-top: 0; border-bottom-color: #fff; }
