p.bread{line-height: 40px; font-size: 14px; margin-top:25px;}
.topblock{position: relative;}
.detail{ border:1px solid #ececec; padding:15px;}
.detail .title{line-height: 40px; margin-top: 5px;}
.detail .title span.name{font-size: 24px; display: block;}
.detail .title em.tg{ height: 20px;  padding:1px 5px; background:#f23838; color: #fff; margin:0 30px 0 10px; font-size: 14px;}
.detail .title label{ font-size: 14px; color: #43b313; margin-right: 15px;}
.detail .title label font{font-size: 24px;}
.detail .title i{font-size: 14px; color: #404040}
.detail .title i em{color: #ff608e}
/*.detail .title .fn-right{width: 415px;}*/
.detail .title a{ display: inline-block; width: 120px; height: 40px; text-align: center; color: #fff; font-size: 16px; margin-left: 15px; background: #42d17f; border-radius: 5px;}
.detail .title a.hyAddr{background: #45a0de}
.detail .title a.hyPack{background: #ff6e44}
.detail .info{margin:15px 0;}
.detail .info .xx{width: 40%}
.detail .info i,.detail .info .notice span,#prev,#next,.detail .img .slider i,.block h3 i,.cgxq li dt,.gnyht dd i,.gnyht dt i,.popHytc dd.price i,.hytc dd.price i,.hytc dd.look a s,.popHytc dd.look a s,/*.cgxc .prev,.cgxc .next,*/.detail .img .mapS i,.popYhhd .allcon span,.popYhhd i,.popDdyl span,.popDdyl i,.popTcxq .classify p i,.popTcxq .popCon .price i,.popTcxq .popCon .price em,.popTcxq i.close,.popCalendar i.close{background: url(../images/other.png);}
.detail .info i{display: inline-block; float: left; width: 29px; height: 29px; background-position: 0 -56px;margin-right: 10px;}
.detail .info i.gift{background-position: -38px -56px }
.detail .info i.hui{background-position: -76px -56px }
.detail .info i.park{background-position: -113px -56px }
.detail .info i.line{background-position: -152px -56px }
.detail .info i.camera{background-position: -189px -56px }
.detail .info p{font-size: 14px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.detail .info p em{color: #ff8cb3}
.detail .info .notice{width: 60%; padding:5px 0px;  background:#f2ffed;}
.detail .info .notice p{height: 24px; line-height: 24px; font-size: 14px;  margin:5px 10px; cursor: pointer;}
.detail .info .notice p a{color: #ff5384;}
.detail .info .notice span{display: inline-block; width: 50px; height: 24px; line-height: 24px; text-align: center; font-size: 12px; margin-right: 15px; color: #fff; background-position: -218px -198px;}
.detail .info .notice p.b span{background-position: -166px -198px;}
.detail .info .notice p.b a{color: #00cbc3}
.detail .info .notice p a:hover{text-decoration:underline;}
.detail .img{height: 243px;}
.w1200 .detail .img{height: 300px;}
.detail .img .slider{ position: relative; margin-right: 6px; width: 360px; height: 100%; overflow: hidden; }
.w1200 .detail .img .slider{width: 460px;}
.detail .img .slider i,.detail .img .mapS i{position: absolute; width: 88px; height: 26px; line-height: 26px; padding-left: 20px; color: #fff; font-size: 14px; background-position: 0 -356px; right: 0; bottom: 0; z-index: 10 }
.detail .img .slider li{ width: 360px; height: 243px; }
.w1200 .detail .img .slider li{ width: 460px; height: 300px;  }
.detail .img .slider img{display: block; width: 100%; height: 100%}
#prev,#next{position: absolute; left:6px; top:45%;  width: 40px; height: 50px; background-position: 0 -271px; z-index: 10}
#next{left:auto; right: 6px; background-position: -45px -271px;}
.detail .img .mimg{width:390px; height: 100%}
.w1200 .detail .img .mimg{width: 480px}
.detail .img .mimg a{float: left;  width: 185px; height: 145px;  margin-right:10px;}
.w1200 .detail .img .mimg a{ width: 230px;height: 180px; }
.detail .img .mimg .b a{width:120px; height: 88px;  margin-top:10px;}
.w1200 .detail .img .mimg .b a{width: 150px; height: 110px;}
.detail .img .mimg img{display: block;width: 100%; height: 100%}
.detail .img .mapS{position: relative; width:212px; height: 100%}
.w1200 .detail .img .mapS{width: 222px;}
.detail .img .mapS i{width:60px; cursor: pointer;}
#mapS,#mapSb{width: 100%;height: 100%;overflow: hidden;margin:0;}
.information{ margin:15px auto;}
.information .title{width: 100%; height: 40px; line-height: 40px; font-size:16px; background:#f4f1ed; border-bottom: 3px solid #e8e1d8; overflow: hidden;}
.information .title a{display: inline-block;  padding:0 20px; color: #666}
.w1200 .information .title a{padding: 0 30px;}
.information .title a.on{color: #fff; background: #fe94a9; border-bottom: 3px solid #fd7c96}
.information .con div{width: 40%; margin:30px 5% 0px; font-size: 14px; font-size: 16px;}
.information p{color: #ff6699; line-height: 35px;}
.information li{line-height: 35px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.information li i{display: inline-block; width: 0px; height: 0px; border:4px solid transparent; border-right-width:0; border-left-color: #999; margin:0 10px 0 5px;}
.block{margin-top: 20px;}
.block h3{width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #fff; background: url(../images/p.jpg) repeat-y;}
.block h3 i{display: inline-block; width: 28px; height: 29px; vertical-align: middle; background-position: -37px -198px; margin:0 10px;}
/*场馆详细*/
.cgxq ul{margin:20px 0}
.cgxq li{float: left; width:25%; border-bottom: 1px solid #ececec; padding:20px 0;}
.cgxq li dl{margin-left: 15px;}
.cgxq li dt{width: 30px; height: 30px; float: left; background-position: 0 -94px; }
.cgxq li dd{margin-left: 40px; line-height: 30px; font-size: 16px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.cgxq li dd.b{color: #999}
.cgxq li dt.hyjg{background-position: -95px -94px;}
.cgxq li dt.rnzs{background-position: -209px -94px;}
.cgxq li dt.hzj{background-position: -156px -128px;}
.cgxq li dt.cgdz{background-position: -30px -94px;}
.cgxq li dt.xj{background-position: -169px -94px;}
.cgxq li dt.qdzs{background-position: -78px -128px;}
.cgxq li dt.cg{background-position: -36px -128px;}
.cgxq li dt.kpf{background-position: -62px -94px;}
.cgxq li dt.hf{background-position: -128px -94px;}
.cgxq li dt.ts{background-position: -113px -128px;}
.cgxq li dt.yysj{height: 33px; background-position: -0px -128px;}
.cgxq .cgxqCon{margin:20px auto 40px;}
.cgxq p{ font-size: 16px; color: #666;line-height: 1.8em; text-indent: 2em;}
/* 馆内宴会厅 */
.gnyht{position: relative;}
.gnyht h3 i{background-position: -139px -163px;}
.gnyht .con{margin-top:30px;}
.gnyht dl{margin-top:20px;}
.gnyht dt{position: relative; float: left; width: 420px; height: 230px; }
.w1200 .gnyht dt{width: 510px; height: 280px;}
.gnyht dt img{display: block; width: 100%; height: 100%}
.gnyht dt i{position: absolute; width: 88px; height: 26px; line-height: 26px; padding-left: 20px; color: #fff; font-size: 14px; background-position: 0 -356px; right: 0; bottom: 0; z-index: 10 }
.gnyht dd{margin-left: 440px;}
.w1200 .gnyht dd{margin-left: 530px;}
.gnyht dd div{height: 50px;padding: 0 20px; line-height: 50px;background: #f4f1ed; font-size: 20px}
.gnyht dd i{display: inline-block; width: 23px; height: 30px; vertical-align: middle; background-position: -116px -233px; margin:-5px 10px 0 0 ;}
.gnyht dd p{color: #ff8188}
.gnyht dd em{font-size: 16px;}
.gnyht dd.explain{  height: 144px;}
.w1200 .gnyht dd.explain{ padding:20px 0px; }
.gnyht dd.explain span{float: left; padding-left: 20px; width:260px; font-size: 16px; color: #888; line-height: 36px;}
.w1200 .gnyht dd.explain span{ width:315px;}
.gnyht dd.look a{display: inline-block; width: 108px; height: 34px; text-align: center; line-height: 34px; border:1px solid #ff8188; margin-right: 20px; font-size: 18px; color: #ff8188}
.w1200 .gnyht dd.look a{width: 136px; height: 42px; line-height: 42px; }
.gnyht dd.look a.on{background: #ff8188; color: #fff}
/*场馆相册*/
.cgxc h3 i{background-position: 0 -163px;}
.cgxc .title{width:98%; margin:20px auto;}
.cgxc .title a{display: inline-block; margin:0 15px; font-size: 14px; line-height: 30px;}
.cgxc .title a.on{color: #ea5058}
.cgxc .mod18{position:relative;height: 620px; margin:0 auto 20px;}
#prevTop,#nextTop{position:absolute;cursor:pointer;z-index:99;top:250px;left: 40px; width:50px;height:120px; background: url(../images/other.png) -165px -457px no-repeat;}
#nextTop{left: auto; right: 40px; background-position: -219px -457px;}
.cgxc .mod18 .cf li{ float:left; position:relative;color:#fff;}
.cgxc .mod18 .cf a{display:block;width:526px;height:377px;position:absolute;color:#fff;}
.cgxc .mod18 .picBox{width:980px; height:510px; margin:0 auto;overflow:hidden; background:#0D0D0D; position: relative; }
.cgxc .mod18 .picBox ul{position: absolute; width:980px; height:510px;overflow:hidden;}
.cgxc .mod18 .picBox li{width:980px; height:100%;}
.cgxc .mod18 .picBox li img{display: block; width:980px; }
.cgxc .mod18 .picBox p{position: absolute; left:0; bottom:0; z-index:100; width:100%; line-height: 40px; color: #fff; background:rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#20000000",endColorstr = "#20000000"); font-size: 14px;}
.cgxc .mod18 .picBox p span{font-size: 16px; margin:0 10px 0 20px;}
.cgxc .mod18 .listBox{width:980px;height:106px;margin:0 auto;position:relative; padding-top:4px;overflow:hidden;}
.cgxc .mod18 .listBox ul{height:100%;position:absolute;}
.cgxc .mod18 .listBox li{width:160px;height:106px;cursor:pointer;position:relative; padding-right: 4px; opacity: 0.4}
.cgxc .mod18 .listBox li img{display: block; width: 100%; height: 100%; }
.cgxc .mod18 .listBox li.on{opacity: 1;}
/* 婚宴套餐 */
.hytc h3 i{background-position: -104px -160px;}
.hytc .con{padding:10px 0;}
.hytc ul{margin-left:-10px; width: 1010px;}
.w1200 .hytc ul{margin-left: -20px; width: 1220px;}
.hytc li{float: left; margin:20px 0 0 10px; width: 495px; height: 300px; background: #f7f5f2}
.w1200 .hytc li{width: 590px; height: 300px;margin:20px 0 0 20px;}
.hytc li:hover{background: #fff; box-shadow: 0 0 20px 2px rgba(0,0,0,0.1)}
.hytc dl{ padding: 10px; }
.w1200 .hytc dl{ padding: 25px; }
.hytc dt{float: left; position: relative; width: 270px; height: 250px;}
.hytc dt img{display: block; width: 100%; height: 100%}
.hytc dt p{position: absolute; left: 0; bottom: 0; width: 90%; padding: 0 5%; height: 40px; line-height: 40px; background: url(../images/opacity.png); color: #fff; font-size: 18px;}
.hytc dt i{font-style: italic;}
.hytc dd{margin-left: 290px; text-align: center; overflow: hidden;}
.hytc dd.title{line-height: 45px; font-size: 24px; color: #fff; background: #ff8188}
.hytc dd.price{line-height: 60px; border-bottom: 2px solid #ff8188; font-size:21px; color: #3a3a3a}
.w1200 .hytc dd.price{font-size: 30px;}
.hytc dd.price i{display: inline-block; width: 65px; height: 19px; vertical-align: middle; background-position: -154px -288px; margin:-4px 10px 0 0 }
.hytc dd.brief{font-size: 14px; color: #3a3a3a; text-align: left; height: 72px; line-height: 24px; margin-top: 15px; margin-bottom: 15px;}
.hytc dd.look a{display: inline-block; width: 156px; height: 40px; line-height: 40px; font-size: 18px; color: #fff; background: #7be0df}
.hytc dd.look a s{display: inline-block; width: 24px; height: 28px; background-position: -75px -198px;vertical-align: middle; margin-right: 5px;}
.hytc dd.look a i,.hytc dd.look a em{display: inline-block; width:0px; height: 0px; border:8px solid transparent; }
.hytc dd.look a i{position: relative;vertical-align: middle; border-right-width:0; border-left-color:#fff; margin-left: 5px;}
.hytc dd.look a em{position: absolute; left: -9px; top:-7px; border-width: 7px; border-right-width:0; border-left-color:#7be0df;}
/* 场馆地址 */
.cgdz h3 i{height: 32px; width: 30px; background-position: 0 -198px;}
.cgdz .map{width:100%; height: 550px; background: #f2f2f2; margin-top:30px;}
#allmap{width: 100%;height: 100%;overflow: hidden;margin:0;}
.cgdz .con{width: 94%; margin:0 auto; font-size: 14px; line-height: 36px; margin-top:20px;}
.cgdz .con p.t{font-size: 20px;}
.cgdz .con p a{color: #5c93c8; margin-left:10px; text-decoration:underline;}
/* 场馆视频 */
.cgsp h3 i{width: 32px; background-position: -177 -164px;}
.cgsp .video{width: 660px;}
.w1200 .cgsp .video{width: 860px;}
.cgsp p.name{font-size: 20px; line-height:50px; margin-top:10px;}
.cgsp ul{width: 320px;}
.cgsp li{margin-bottom: 20px; width: 100%}
.cgsp dt{float: left; width: 145px; height: 81px; margin-right: 10px;}
.cgsp dt img{display: block; width: 100%; height: 100%}
.cgsp dd{height: 81px; line-height: 27px; overflow: hidden; font-size: 14px;}
.cgqj h3 i{background-position: -68px -163px;}
.cgqj .allconq{margin-top:20px; width: 100%; height: 600px;}
#panorama{width: 100%; height: 100%; overflow: hidden; margin:0;}
/* 用户评论 */
.yhpj h3 i{background-position: -34px -163px;}
.yhpj .star{width: 100%; height: 60px; margin-bottom: 20px; }
.yhpj .star  ul{margin-top:30px;}
.yhpj .star li{float: left; margin-right: 30px; font-size: 14px; color: #666; height: 17px;}
.yhpj .star li span{display: inline-block; vertical-align: middle;margin:-4px 10px 0; width: 85px; height: 17px; background: url(../images/star_b2.png); }
.yhpj .star li span em{display: inline-block;  height: 17px; background: url(../images/star_b1.png); }
.yhpj .star li i{font-size: 12px;}
.yhpj .star a.write{width: 120px; height: 40px; border-radius: 5px; color: #fff; font-size: 16px; background: #fe94a9; line-height: 40px; margin-top: -40px;}
.yhpj .star a.write i{display: inline-block; width: 16px; height: 16px; vertical-align: middle; margin:0 10px 0 12px; background:url(../images/detail.png) -199px -321px;}
.comFilter{width: 100%; height: 40px; line-height: 40px; border-bottom: 2px solid #ececec; font-size: 14px;}
.comFilter a.allC{display: inline-block; padding: 0 20px; border-bottom: 2px solid #fe94a9; margin-right: 20px;}
.comFilter span{display: table-cell;  }
.comFilter input{ vertical-align: middle; margin-right: 5px;}
.comFilter i{color: #999}
.comFilter .sort a{color: #999; margin-right: 20px;}
.comFilter .sort  em{color: #666}
.comment1 .list{padding: 30px 0; border-bottom: 1px solid #ececec}
.comment1 .headImg{float: left; width: 80px; height: 80px; border-radius: 40px; overflow: hidden;}
.comment1 .headImg img{width:80px; height: 80px;}
.comment1 .con{ margin-left: 100px; }
.comment1 .con .call{height: 30px; line-height: 30px;}
.comment1 .con .call a{float: left; font-size: 16px;}
.comment1 .con .call span{float:right;color: #8c8c8c}
.comment1 .con .infox {line-height:40px;}
.comment1 .con .infox span.ss,.comment1 .con .info em{display: inline-block; width: 70px; height: 14px; background: url(../images/star_s1.png);}
.comment1 .con .infox em{background: url(../images/star_s2.png); }
.comment1 .con .infox font{color: #999; margin-right: 5px;}
.comment1 .con .infox i{margin-left: 20px; color: #999}
.comment1 .con font{color: #666}
.comment1 .con  p{font-size: 14px; color: #282828; line-height: 25px;}
.comment1 .more{text-align: right}
.comment1 .more span,.comment1 .more span label{cursor: pointer;}
.comment1 .more i,.comment1 .more em{display: inline-block; width: 0; height: 0; border-style:solid; border-color: transparent; cursor: pointer;}
.comment1 .more span.mm i{position: relative; border-width: 6px; border-bottom-width: 0; border-top-color: #333; margin-left:5px;}
.comment1 .more span.mm em{position: absolute; border-width:5px; border-bottom-width: 0; border-top-color: #fff; top:-6px; left:-5px;}
.comment1 .more span.ss i{position: relative; border-width: 6px; border-top-width: 0; border-bottom-color: #333; margin-left:5px;}
.comment1 .more span.ss em{position: absolute; border-width:5px; border-top-width: 0; border-bottom-color: #fff; top:1px; left:-5px;}
.slideBox{ width:1002px;  position:relative; background:url(../images/bg.jpg); margin:20px auto 0px;  padding-bottom:10px;}
.upBox{position: relative; width: 1007px; height: 106px;background: #fff;  padding-bottom: 15px; overflow: hidden;}
.upBox ul{position: absolute; height: 106px;  }
.upBox ul li{float: left; width: 106px; height: 106px;  padding:0 6px 15px 0;}
.upBox ul li img{display: block; width: 100px; height: 100px;border:3px solid #fff;}
.upBox ul li.on img{border-color: #fe781e}
.downBox{position: relative; width: 770px; height: 490px; overflow: hidden;margin:50px auto;}
.downBox ul{position: absolute; height:490px;}
.downBox ul li{float: left; width:770px; height: 100%}
.downBox ul li img{display: block;width: 100%; height: 100%}
.prevx2,.nextx2{ cursor: pointer; position:absolute; left:1%; top:50%; margin-top:-25px; display:block; width:43px; height:111px; background:url(../images/detail.png) 0px -488px no-repeat; filter:alpha(opacity=80); opacity:0.8;}
.nextx2{left: auto; right: 1%; background-position: -44px -488px;}

p.count{width: 1007px; margin:0 auto; color: #8c8c8c; margin-top: 10px;}
p.count span{color: #fe781e}
#bg{background: #fff; opacity: 0.5; filter:alpha(opacity=50); position:fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 9999}
#pop{ width: 860px; border:1px solid #ececec; overflow: hidden; position: fixed; left: 50%; top:50%; margin-top: -325px; margin-left:-460px; background: #fff; box-shadow: 0 2px 40px 10px rgba(0,0,0,0.2); z-index: 10000; padding:20px 20px 40px 40px;}
#pop p.close{text-align: right; line-height: 22px;}
#pop p.close span,.digImg i{display: inline-block;vertical-align:middle; width: 22px; height: 22px; background: url(../images/detail.png) -194px -346px; cursor: pointer;}
#pop h3{font-size: 24px;}
#pop h3 span{color: #ff608e}
#pop .com{line-height: 25px; font-size: 14px; margin-top:25px; }
#pop .com ul{float: left;}
#pop .com ul li{margin:0;}
#pop .com i{float: left; font-size: 12px; color: #999; margin-left:35px;}
.comment li font,.comCon font{color: #ff5384; margin:0 5px;}
.comment li{margin: 15px 35px 0 0 ;  float: left; font-size: 14px;}
.comment li label,.comment .con span{  margin-right:5px; line-height: 23px;}
.comment li span{display: inline-block; vertical-align: middle; cursor: pointer; margin-left: 5px;}
.comCon{margin-top:20px; line-height: 20px;}
.comCon span{font-size: 15px; }
.comCon .con{margin-left:90px;}
.comCon  textarea{width:740px; height:110px; border-color: #ececec; padding:5px 10px; line-height: 25px; font-size: 14px; color: #999; margin-bottom: 15px;}
.comCon .con i,.comCon .con em{padding:8px 10px; background: #e1f5e3; color: #4bae4f; margin-right: 10px;}
.comCon .con em{background: #fff2f2; color: #ff5243}
.upload span.fn-left{padding-left: 20px; font-size: 14px;}
.loadImg{margin:20px 0 0 90px;font-size: 14px; }
.loadImg p.t{width: 100%; height: 30px; line-height: 30px; position: relative;}
.loadImg p.t input,.loadImg p.t span{position: absolute; left: 0; top:0; width: 100px; height: 30px; opacity: 0; filter: alpha(opacity:0); z-index: 2; }
.loadImg p.t span,.loadImg li i,.loadImg li em,.loadImg span.delete i,.digImg .img a.prev2,.digImg .img a.next2{ background: url(../images/detail.png) no-repeat}
.loadImg p.t span{ width:100px; height: 30px;  background-position:-89px -568px; z-index: 1; cursor: pointer; opacity: 1;filter: alpha(opacity:100); }
.loadImg p.t font{margin-left:120px; color: #999; font-size: 12px;}
.loadImg ul{margin-top:15px; width: 770px;  overflow: hidden;}
.loadImg li{position: relative; width: 100px; height: 100px; float: left; margin:0 10px 10px 0 }
.loadImg li img{display: block; width: 100%; height: 100%;}

.loadImg li i{position: absolute;right: 0; top:0; width: 16px; height: 16px; background-position: -192px -582px; cursor: pointer; display: none; z-index: 2}
.loadImg li p{position: absolute; left: 0; bottom: 0px; width: 100%; height: 20px; background: url(../images/opacity.png); display: none;}
.loadImg li em{width: 15px; height: 16px; margin:2px 0 0 5px; cursor: pointer; }
.loadImg li em.leftR{background-position: -199px -281px;}
.loadImg li em.rightR{background-position: -199px -261px;}
.loadImg li em.open{width: 18px; height: 17px; margin-right: 5px; background-position: -199px -299px;}
.loadImg span.delete{color: #eb4f38; font-size: 14px; margin:5px 0 15px; cursor: pointer; }
.loadImg span.delete i{display: inline-block; width: 14px; height: 14px; background-position: -193px -568px; vertical-align: middle; margin-right: 5px;}
.loadImg .fabu {margin-top: 10px;}
.loadImg .fabu a.fn-left{width: 100px; height: 35px; line-height: 35px; text-align: center; font-size: 16px; color: #fff; background: #67cbf8; margin:10px 40px 0 0; border-radius: 3px;}
.loadImg .fabu dt{float: left; width: 48px; height: 48px; border-radius: 24px; overflow: hidden; margin-right: 10px;}
.loadImg .fabu dt img{display: block; width:100%; height: 100%;}
.loadImg .fabu dd{width: 400px; line-height: 24px; color: #379be9}
.loadImg .fabu dd a{color: #999; font-size: 12px;}
.popbg{ position: absolute; left: 0; top:0; width: 100%; height: 100%; opacity: 0.4; filter:alpha(opacity=40); background: rgba(0,0,0,0.8); z-index: 2}
.digImg{position: absolute; left:50%; top:50%; margin-left:-375px; margin-top: -275px; width: 750px; height: 550px;  background: url(../images/bg.jpg); z-index: 3}
.digImg i{position: absolute; right: 15px; top:10px; }
.digImg .img,.digImg .img ul{width: 500px; height: 500px; margin: 25px auto;background: #ff0}
.digImg .img ul{overflow: hidden; margin:0;}
.digImg .img ul li{width: 100%; height: 100%}
.digImg .img ul li img{width: 100%; height: 100%}
.digImg .img a.prev2,.digImg .img a.next2{position: absolute; left: 5%; top:45%; width: 36px; height: 64px; background-position: -86px -487px;}
.digImg .img a.next2{left:auto; right: 5%; background-position: -127px -487px;}

/* 婚宴套餐 弹出层 */
.popHytc{position: absolute; left: 50%;   margin-left:-485px; width: 970px; height:670px; background: #fff; border:1px solid #ececec; box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100}
.w1200 .popHytc{margin-left:-585px; width: 1170px; height: 700px; }
.popHytc i.jt,.popCkdqup i.jt,.popYucdup i.jt{position: absolute; width: 0; height: 0; border:15px solid transparent; border-top-width:0; border-bottom-color: #fff; top:-15px;}
.popHytc .con{padding:10px 0; }
.popHytc .list li{float: left; margin:10px 0 0px 10px; width:470px; height: 250px; background: #f7f5f2}
.w1200 .popHytc .list li{ margin:10px 0 0px 17px; width: 560px; height: 270px;}
.popHytc .list li:hover{background: #fff; box-shadow: 0 0 20px 2px rgba(0,0,0,0.1)}
.popHytc .list dl{ padding:10px; }
.popHytc .list dt{float: left; position: relative; width: 250px; height: 230px;}
.w1200 .popHytc .list dt{width: 270px; height: 250px;}
.popHytc .list dt img{display: block; width: 100%; height: 100%}
.popHytc .list dt p{position: absolute; left: 0; bottom: 0; width: 90%; padding: 0 5%; height: 40px; line-height: 40px; background: url(../images/opacity.png); color: #fff; font-size: 18px;}
.popHytc .list dt i{font-style: italic;}
.popHytc .list dd{margin-left: 260px; text-align: center; overflow: hidden;}
.w1200 .popHytc .list dd{margin-left: 290px}
.popHytc .list dd.title{line-height: 45px; font-size: 24px; color: #fff; background: #ff8188}
.popHytc .list dd.price{line-height:40px; border-bottom: 2px solid #ff8188; font-size: 21px; color: #3a3a3a}
.w1200 .popHytc .list dd.price{line-height: 60px; font-size: 30px;}
.popHytc .list dd.price i{display: inline-block; width: 65px; height: 19px; vertical-align: middle; background-position: -154px -288px; margin:-4px 10px 0 0 }
.popHytc .list dd.brief{font-size: 14px; color: #3a3a3a; text-align: left; height: 72px; line-height: 24px; margin-top: 15px; margin-bottom: 15px;}
.popHytc .list dd.look a{display: inline-block; width: 156px; height: 40px; line-height: 40px; font-size: 18px; color: #fff; background: #7be0df}
.popHytc .list dd.look a s{display: inline-block; width: 24px; height: 28px; background-position: -75px -198px;vertical-align: middle; margin-right: 5px;}
.popHytc .list dd.look a i,.popHytc .list dd.look a em{display: inline-block; width:0px; height: 0px; border:8px solid transparent; }
.popHytc .list dd.look a i{position: relative;vertical-align: middle; border-right-width:0; border-left-color:#fff; margin-left: 5px;}
.popHytc .list dd.look a em{position: absolute; left: -9px; top:-7px; border-width: 7px; border-right-width:0; border-left-color:#7be0df;}
.popHytc .topName {padding-left: 20px; line-height: 60px;}
.popHytc .topName p{font-size: 24px; color: #000}
.popHytc .topName em{color: #999; font-size: 14px; margin:0 40px 0 20px;}
.popHytc .page{ display: inline-block;  _zoom:1;*display:inline;}

.popHytc .page li {display: inline-block; _zoom:1;*display:inline; margin-right: 5px; border: 1px solid #fff; }
.popHytc .page li.page_disabled {display: none;}
.popHytc .page li a, .popHytc .page li span {border:1px solid #ececec; color: #999; padding: 4px 10px;}
.popHytc .page li a:hover ,.popHytc .page li.page_current span {background: #ff5384; color: #fff; border-color: #333; border:1px solid #ff5384;}
.popHytc .page li.page_more span {background: #fff;color: #333; cursor: default;}
.popHytc .page .page_info {display:  inline-block;  _zoom:1;*display:inline; margin-left:10px; color:#999; line-height: 35px;}
.popHytc .lowPage{width: 100%; text-align: center; margin-top: 25px}
.popHytc i.close,.popImg i,.popYhhd i,.popDdyl i,.popTcxq i.close,.popMore i.close,.popCalendar i.close{ position: absolute; right: 15px; top:15px; width: 22px; height: 22px; background: url(../images/detail.png) -195px -347px no-repeat; cursor: pointer;}

/* 查看大图弹出层 */
.popImg{position: fixed; left:50%; top:50%; width: 800px; height: 540px; margin-left:-400px; margin-top:-270px; background: #fff; border:1px solid #ececec; box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100}
.popImg .con{padding:10px 25px 0;}
.popImg h3{font-size: 18px; line-height: 35px;}
.popImg p{font-size: 14px; color: #666; line-height: 30px;}
.popImg .map{width: 100%; height: 400px; background: #f7f7f7; margin-top:15px;}
.popImg span{display: block; text-align: right; font-size: 14px; line-height: 45px; color: #999}
/* 优惠活动 */
.popYhhd,.popDdyl{position: fixed; left: 50%; top:50%; width: 430px; height: 410px; margin-top:-200px;box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100; background:#fff }
.allcon{padding:25px 25px 25px 40px;}
.allcon span{display:block; width: 161px; height: 50px; line-height: 50px; text-align: center; font-size: 21px; color: #fff; margin-left:-52px;}
.popYhhd .allcon span{ background-position: -109px -407px;}
.allcon h3{font-size: 24px; line-height: 55px;}
.allcon ul{width: 100%; height: 230px; overflow-y:auto;}
.allcon li{line-height: 34px; font-size: 14px;}
.popDdyl span{background-position: -109px -357px;}

/* 套餐详情 */
.popTcxq{position: fixed; left:50%; top:50%; width: 1000px;  margin-left:-500px;  background: #fff; border:1px solid #ececec; box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100}
.w1200 .popTcxq{ width: 1200px;  margin-left:-600px;}
.popTcxq .con{padding: 20px 20px 20px 30px;}
.popTcxq .classify{float: left; width: 150px;  border-right: 1px solid #ececec}
.w1200 .popTcxq .classify{width: 170px;}
.popTcxq h3{font-size: 28px;}
.popTcxq .listCon{ margin-left: 165px; }
.w1200 .popTcxq .listCon{margin-left: 190px;}
.popTcxq .classify p{font-size: 18px; line-height: 19px;}
.popTcxq .classify p i{display: inline-block; width: 19px; height: 19px; background-position: -243px -128px; margin:-4px 10px 0 0; vertical-align: middle;}
.popTcxq .classify .title{width: 130px; max-height:400px;  overflow-y:auto; overflow-x:hidden;margin:0 auto; margin-top:25px;}
.popTcxq .classify .title a{display: block;height: 40px; padding-left:10px; line-height: 40px; font-size: 16px; color: #666;  margin-top:10px; }
.popTcxq .classify .title i{display: inline-block; width:0; height: 0; border:5px solid transparent; border-right-width: 0; border-left-color: #999; vertical-align: middle; margin:-2px 8px 0 0 }
.popTcxq .classify .title a.on{background: #60d4d1; color: #fff}
.popTcxq .classify .title a.on i{border-left-color: #fff}
.popTcxq .popCon{margin-top:20px;}
.popTcxq .popCon .name{width: 100%;  line-height: 40px;}
.popTcxq .popCon .name a{display: inline-block;   font-size: 16px; color: #666; padding:0 17px; border:1px solid #fff; }
.popTcxq .popCon .name a.active{border:1px solid #ececec; background: #f5f5f5; color: #333}
.popTcxq .popCon .price{color: #e02925; font-size: 24px; line-height: 80px; margin:10px 0;}
.popTcxq .popCon .price i{display: inline-block; margin-right: 15px; vertical-align: middle; width: 28px; height: 27px; background-position: -205px -127px;}
.popTcxq .popCon .price em{display: inline-block; width: 130px; height: 90px; margin:-10px -20px -20px -10px; color: #fff; font-size: 30px; background-position: 0 -510px; line-height: 90px; padding-left:35px; }
.popTcxq ul{max-height: 264px; overflow-y:auto; overflow-x:hidden; margin-top:20px;}
.w1200 .popTcxq ul{max-height: 284px}
.popTcxq li{float: left; width:116px; height: 122px; border:1px solid #ececec; margin:0 10px 10px 0 }
.w1200 .popTcxq li{margin:0 16px 16px 0}
.popTcxq li div{padding:5px;}
.popTcxq li img{display: block; width: 106px; height: 106px;}
.popTcxq li p{width: 100%; height: 2px; border-top:1px solid #ececec;}
.popTcxq .food{padding:15px 0 15px 20px; background: #f2f2f2;  font-size: 14px;}
.popTcxq .food a{display: inline-block; width: 85px; margin-right: 28px; line-height: 30px;}
/*弹出层  更多照片*/
.popMore{position: absolute; left: 50%; top:50%; width: 894px; height: 658px; margin-left:-380px; background: #fff;border:1px solid #ececec; box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100}
.popMore .con{padding:0px 47px;}
.popMore h3{margin:20px 0; height: 30px; line-height: 30px;}
.popMore h3 a{display: inline-block; margin:0 10px; padding: 0 10px; font-size: 16px; color: #666; border-radius: 5px; vertical-align: middle;}
.popMore h3 a.on{background: #f2f2f2}
.popMore h3 span{display: inline-block; width: 1px; height: 20px; background: #ececec;vertical-align: middle;}
.popMore .mod18{position:relative; height: 566px; margin:0 auto}
.popMore .mod18 .btn{position:absolute;cursor:pointer;z-index:99;background: url(../images/other.png) no-repeat}
#prevTop1,#nextTop1{top:200px;left:-22px; width:44px;height:60px; background-position:0px -384px; }
#nextTop1{left: auto; right: -22px; background-position: -45px -445px;}
#prevTop1:hover{background-position:0 -445px;}
#nextTop1:hover{background-position:-45px -384px}
.popMore .mod18 .cf li{ float:left; position:relative;color:#fff;}
.popMore .mod18 .cf a{display:block;width:800px;height:500px;position:absolute;color:#fff;}
.popMore .mod18 .bigBox{width:800px; height:500px; margin:0 auto;overflow:hidden; background:#0D0D0D; position: relative; }
.popMore .mod18 .bigBox ul{position: absolute; height:500px;overflow:hidden;}
.popMore .mod18 .bigBox li{width:800px; height:100%;}
.popMore .mod18 .bigBox li img{display: block; width:800px;height: 500px; }
.popMore .mod18 .bigBox p{position: absolute; right:0; bottom:0; z-index:100; width:95px; line-height: 40px; text-align: center; color: #fff; background:rgba(0,0,0,0.8);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#80000000",endColorstr = "#80000000"); font-size: 14px;}
.popMore .mod18 .bigBox p span{font-size: 16px; margin:0 10px 0 20px;}
.popMore .mod18 .smallBox{width:800px;height:56px; margin:0 auto;position:relative; padding-top:16px;overflow:hidden;}
.popMore .mod18 .smallBox ul{height:100%; position:absolute;}
.popMore .mod18 .smallBox li{width:86px; height:56px;cursor:pointer;position:relative; padding-right:16px; }
.popMore .mod18 .smallBox li img{display: block; width: 86px; height: 56px; border:none;}
.popMore .mod18 .smallBox li.on img{ width:80px; height:50px; border:3px solid #ff5384;}
.popMore em.s{position: absolute; width: 0; height: 0; border:12px solid transparent; border-bottom-width: 0; border-top-color: #fff; bottom: -12px; right: 190px;}
/* 弹出层 日历 */
.popCalendar{position: absolute; width: 1000px; left: 50%; margin-left:-500px; height: 450px; background: #fff;border:1px solid #ececec; box-shadow: 0 0 40px 5px rgba(0,0,0,0.2); z-index: 100}
.popCalendar .con{padding: 35px 20px;}
.popCalendar .calendar{width:580px; height:380px; background:#ff0; }
.popCalendar .info{width: 340px; height:380px;}
.popCalendar .info p{line-height: 40px; font-size: 16px;}
.popCalendar .info p em{color: #c63962}
.popCalendar .info p i{font-size: 18px; color: #45a0de}
.popCalendar .info img{display: block; width: 180px; height: 120px;}
.popCalendar .info span{display: block; font-size: 14px; line-height: 30px; margin-top:25px;}
.popCalendar .info input{height: 38px; line-height: 38px; font-size: 14px; color: #999; border:1px solid #ececec; padding:0 10px;}
.popCalendar .info input.tel{width: 200px;margin-right: 10px; }
.popCalendar .info input.name{width:80px;}
.popCalendar .info a{display: inline-block; padding:0 20px; height: 36px; font-size: 16px; color: #fff; background: #ff608e; line-height: 36px; text-align: center; margin-top: 20px;}
.popCalendar .info ul{margin-top:30px;}
.popCalendar .info ul li{width: 100%; height: 30px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; line-height: 30px; color: #999; font-size: 14px;}
/* 弹出层 预约看场地 */
.popYucd{position: absolute; left: 50%; margin-left:-418px;}
/* 弹出层 查看档期 */
.popCkdq span{margin:0 auto 10px;}
.popCalendar i.jt.on{border: 12px solid transparent; border-bottom-width: 0; border-top-color: #fff}
