p.bread{line-height: 40px; font-size: 14px;}
.list{width: 740px;}
.w1200 .list{width: 880px;}
.list h3{font-size: 24px; line-height: 60px;}
.list .info{width: 100%; color: #999; height: 30px; border-bottom: 1px solid #ececec}
.list .info em{color: #ff608e}
.list .info span{margin-right: 30px;}
.list .info i{display: inline-block; vertical-align: middle; width: 16px; height: 11px; background: url(../images/other.png) -112px -206px; margin-right: 5px;}
.list .con {padding: 15px 0;}
.bdshare-button-style0-16 a{width: 24px; height: 24px!important; padding: 0!important; background: url(../images/other.png) 0 -329px!important; margin-top: 0px!important}
.bdshare-button-style0-16 a.bds_tqq{background-position: -30px -329px!important;}
.bdshare-button-style0-16 a.bds_qzone{background-position: -60px -329px!important;}
.bdshare-button-style0-16 a.bds_weixin{background-position: -90px -329px!important;}
.bdshare-button-style0-16 a.bds_more{background-position: -120px -329px!important;}
.list .info font{height: 24px; line-height: 24px; color: #666; font-size: 14px;}
.list .con p{font-size: 14px; line-height: 30px; margin:30px 0;}
.list .con img{display: block; width: 80%; margin:30px auto;}

.tj{width: 242px; overflow: hidden;}
.w1200 .tj{width: 302px;}
.tj .zxtj{width: 240px; border:1px solid #ececec;}
.w1200 .tj .zxtj{width: 300px}
.tj .zxtj h3{height: 40px; line-height: 40px; width: 92%; margin:0 auto; border-bottom: 1px solid #ececec}
.tj .zxtj h3 span{font-size: 18px; color: #ff608e}
.tj .zxtj h3 a{color: #999}
.tj .zxtj ul.tjCon{width: 88%; overflow: hidden; margin:20px auto;}
.tj .zxtj ul.tjCon li{line-height: 30px; color: #666; font-size: 14px; width: 100%; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.tj .zxtj ul.tjCon li a{color: #666;}
.tj .zxtj ul.tjCon li i{display: inline-block; width:3px; height:3px ; background: #999; vertical-align: middle; margin-right:10px;}
.banner1{margin:15px 0;}
.banner1 img{display: block; width: 100%;}
.hssy h3{border:none;}
.hssy h3 span{ color: #999}
.hssy ul{ width: 200px; margin:0 auto 20px }
.w1200 .hssy ul{width: 260px;}
.hssy li{margin-top:20px; width: 100%}
.hssy li img{display: block; width: 100%; height: 170px;}
.hssy li p{height:30px; line-height: 30px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; font-size: 14px; margin-top:5px;}
.hssy li span{display: block; width: 100%; height: 40px; line-height: 20px; color: #999; overflow: hidden;}
