p.bread{line-height: 40px; font-size: 14px; margin-top: 25px;}

/*筛选部分*/
.filter{border:1px solid #ececec; border-width: 1px 1px 0 1px; font-size: 14px; color: #777}
.filter span{margin-top:10px;}
.filter .tab{padding:0px 30px;  border-bottom: 1px solid #ececec}
.filter i,.list dd.addr em,.list dd.name span s,.list li .down{background: url(../images/company.png) no-repeat;}
.filter i{display: inline-block; width: 20px; height:20px; vertical-align:middle; margin-right: 6px; background-position: 1px 0}
.filter .price i{background-position: 2px -22px;}
.filter .char i{background-position: 0 -43px;}

.filter .con{margin-left:60px; padding-top: 10px}
.filter .con a{display: inline-block; height: 20px;  padding: 0 5px; margin:0 0 10px 25px;  }
.filter .con a.current{color: #fff; background: #44aaff}

.sort{height: 30px; margin:20px auto; font-size: 14px;}
.sort span.fn-left a{display: inline-block; width: 100px; height: 30px; line-height: 30px;  text-align: center; color: #fff; background: #ff8cb3 }
.sort .default.com {padding: 0;}
.sort .default.com a {display: block; padding: 0 15px;}
.sort .default.curr {background: #ff8cb3; color: #fff; border-color: #ff8cb3}
.sort .default.com.curr a {color: #fff;}
.sort .input{ height: 25px; border:1px solid #ececec; margin:0 10px; color: #666; padding-top:3px;}
.sort .input i{float: left; margin:0 10px; color: #666}
.sort .input span{margin:0 8px; float: left; height: 22px; line-height: 22px;}
.sort .input input{width: 60px; height: 22px;height: 20px\0;  height: 20px\9\0; *height: 20px;   float: left;  border:1px solid #ececec; }
.sort .input a{float: left; width: 55px; display: inline-block;  text-align: center;  margin:0px 10px 0 13px; height: 20px; line-height: 20px;  border:1px solid #ececec;}
.sort .com{position: relative; height: 28px; border:1px solid #ececec; line-height: 28px; margin-right: -1px;}
.sort .com a {display: block; padding: 0 30px 0 15px;}
.sort .com.curr a {color: #ff8cb3;}
.sort .com i,.sort .com em{position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10; border-width: 5px;}
.sort .com i{ right: 15px; top:8px; border-top:0; border-bottom-color:#999 }
.sort .com em{ right: 15px; bottom: 8px; border-bottom:0; border-top-color:#999}
.sort .com.curr i {border-bottom-color: #ff8cb3;}
.sort .com.curr.dw i {border-bottom-color: #999;}
.sort .com.curr.dw em {border-top-color: #ff8cb3;}
.sort .tips{font-size: 16px; line-height: 30px;}
.sort .tips em{color: #ff608e}

/*婚纱摄影列表*/
.list li{padding:20px; background: #fff; border-top: 1px solid #ececec}
.list li.empty {height: 400px; line-height: 300px; text-align: center; font-size: 14px;}
.list li:hover{background: #f8f7f7}
.list dl{width: 300px; overflow:hidden;}
.w1200 .list dl{width: 380px;}
.list dt{float: left; }
.list dt a{display: block;}
.list dt img{display: block; width: 100px; height: 100px}
.w1200 .list dt img{width: 160px; height: 160px;}
.list dd{line-height: 28px; color: #666; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 120px;}
.w1200 .list dd{margin-left: 180px;}
.list dd.name{ font-size: 16px; padding-bottom: 10px;}
.list dd span{margin-right: 15px;}
.list dd em{color: #ff608e}
.list dd  font a{color: #ff6600}
.list .img{width: 660px;}
.w1200 .list .img{width: 780px}
.list .img .loading {text-align: center; line-height: 160px; font-size: 14px;}
.list .img a{float: left; width: 155px; margin-left: 10px;}
.w1200 .list .img a{width: 180px; margin-left: 15px;}
.list .img a img{display: block; width: 100%; height: 120px;}
.w1200 .list .img a img{height: 130px;}
.list .img p,.list .img span{ padding:0 10px; font-size: 14px;}
.list .img span{ color: #ff608e}
.list .img p{line-height: 30px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
