.topInfo{background: #f2f2f2;}
.shop{padding:30px 25px 15px;}
.shop dl{width: 70%}
.shop dt img{float: left; width: 200px; height: 160px; display: block;}
.shop dd{margin-left: 250px; font-size: 14px; line-height:30px;}
.shop dd.name{font-size: 40px; line-height: 50px; margin-bottom: 15px;}
.shop .quan,#prev,#next,.service1 .qq,.service1 .sina,.service1 .wx,.service1 .addr,.star a.write i{background: url(../images/detail.png);}
.shop .quan{width: 235px; height: 172px; }
.shop .quan .t{width: 230px; height: 50px; margin-top: 28px; text-align: center;}
.shop .quan .t div{margin-left:12px; color: #fff}
.shop .quan font{font-size: 30px; color: #ffff00; line-height: 35px;}
.shop .quan i{ font-size: 16px; vertical-align: super;}
.shop .quan .mon{margin:-15px 0 0 10px;}
.shop .quan a{padding: 4px 10px; background: #fff; color: #f00; border-radius: 8px; font-size: 14px;}
.shop .quan em{line-height: 35px;}

/* 大图幻灯 */
.banner {height: 665px; position: relative; z-index: 12;}
.slide {width: 1920px; height: 665px; overflow: hidden; position: relative; z-index: 9; left: 50%; margin-left: -960px;}
.slide .slideshow-item {position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 11;}
.slide .slideshow-item a, .slide .slideshow-item a img {width: 1920px; height: 665px; display: block;}
.slide .slideshow-item .slideinfo {display: none;}
.banner .wrap {position: relative; height: 665px; z-index: 10;}

#prev,#next{position: absolute; top:45%; left: -100px; width: 57px; height: 57px; background-position: -98px -412px; z-index: 100 }
#next{left: auto; right: -100px; background-position: -156px -412px}

.service1{width: 100%; height: 70px; background: #f9f4e9}
.service1 .qq,.service1 .sina,.service1 .wx,.service1 .addr{float: left; height: 70px; margin-left:24px;}
.w1200 .service1 .qq,.w1200 .service1 .sina,.w1200 .service1 .wx,.w1200 .service1 .addr{ margin-left:50px; }
.service1 .qq{width:245px; background-position: 0 -178px;}
.service1 .sina{width: 180px; background-position: 0 -252px;}
.service1 .wx{ width: 180px; background-position: 0 -338px;}
.service1 .addr{width: 80px; background-position: 0 -405px;}
.service1 .tel{height: 50px; float: left; margin:12px 0 0 10px; line-height: 25px;}
.service1 .tel em{font-size: 18px;}
.service1 .tel font{font-size: 18px; color: #cc0000}

.zxtj .title{height: 50px; margin:40px 0 30px 0;}
.zxtj .title .fn-left{width: 42%; height: 25px; border-bottom: 2px solid #ff608e}
.zxtj .title p{float: left; font-size: 25px; width: 16%; height: 50px; line-height: 50px; text-align: center;}
.w1200 .zxtj .title p{font-size: 30px;}
.zxtj .tj{height: 540px; }
.zxtj .tj .left,.zxtj .tj .right{width: 50%; height: 540px; overflow: hidden;}
.zxtj .tj a{display: block;}
.zxtj .tj .left img{display: block; width: 100%; height: 100%;}
.zxtj .tj .right a{float: left;}
.zxtj .tj .right .t img{width:249px; height: 270px; border-left:1px solid #fff; display: block;}
.w1200 .zxtj .tj .right .t img{width: 299px;}
.zxtj .tj .right .b img{width: 499px; height: 269px; border:1px solid #ececec; border-width: 1px 0 0 1px; display: block;}
.w1200 .zxtj .tj .right .b img{width: 599px;}
.zxtj .filter{height: 40px; text-align: center; line-height: 40px; margin:-10px 0 35px 0}
.zxtj .filter a{padding: 6px 20px; font-size: 18px; margin:0 5px;}
.zxtj .filter a.current{background: #ff608e; color: #fff}
.zxtj .all{width: 1016px; margin-left:-16px;}
.w1200 .zxtj .all{width: 1216px;}
.zxtj .all li{position: relative; float: left; margin:0 0 16px 16px; width: 238px; height: 298px; overflow: hidden;}
.w1200 .zxtj .all li{width: 288px; height: 360px;}
.zxtj .all li a {display: block;}
.zxtj .all img{width: 100%; height: 360px; display: block;}
.zxtj .info{position: absolute; left: 0; bottom:0; padding:10px 15px; width:208px; height: 20px; background: url(../images/opacity1.png); overflow: hidden; -webkit-transition:height 0.4s; -moz-transition:height 0.4s; -o-transition:height 0.4s; transition:height 0.4s;}
.w1200 .zxtj .info{width: 258px}
.zxtj .info p{font-size: 18px; }
.zxtj .info span{display: block; line-height: 25px;}
.zxtj .info span i{font-size: 18px; color: #ff608e; float: left;}
.zxtj .info span em{font-size: 12px; margin-left: 10px; color: #666}


.zxtj .brief{position: absolute; top:25%; left: 10%; width: 80%; max-height: 47%; overflow: hidden; background: url(../images/opacity2.png); display: none; -webkit-animation:flipInX 0.4s ease-out; }
.zxtj .brief p{padding: 10px 15px; line-height: 30px; color: #fff}
.zxtj .all li.active .info{height: 50px;}
.zxtj .all li.active .brief{display: block;}
.enjoy{width: 1015px; margin-left: -15px; }
.w1200 .enjoy{width: 1215px;}
.enjoy .block{position: relative; float: left; width: 303px;  border:1px solid #ececec; padding:9px; margin:15px 0 0 15px;}
.w1200 .enjoy .block{width: 365px;}
.enjoy .block ul img{display: block; width: 100%; height: 100%}
.enjoy .block ul a{display: block; height: 100%;}
.enjoy .block ul.big{position: relative; width: 100%; height: 225px; overflow: hidden;}
.w1200 .enjoy .block ul.big{height: 270px;}
.enjoy .block ul.big li{position: relative; width: 100%; height: 100%}
.enjoy .block ul.big p{position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; line-height: 35px; background: url(../images/opacity.png);}
.enjoy .block ul.big p span{margin-left:20px; font-size: 14px; color: #fff}
.enjoy .block ul.small{width: 312px; margin-left: -9px;}
.w1200 .enjoy .block ul.small{width: 378px; margin-left: -13px;}
.enjoy .block ul.small li{float: left; width: 95px; height: 69px; margin:7px 0 0 9px;}
.w1200 .enjoy .block ul.small li{width: 113px; height: 82px; margin:7px 0 0 13px;}
.enjoy .block .tips{position: absolute; right: 20px; top:20px; z-index: 2}
.enjoy .block .tips span{margin-left: 20px; font-size: 14px; padding: 4px 10px; border-radius:12px; color: #fff; background: url(../images/opacity.png);}
ul.order{ width: 1012px; margin-left:-12px; }
.w1200 ul.order{width: 1212px;}
ul.order li{ float: left; width: 241px;  margin:0 0 12px 12px; overflow: hidden; }
.w1200 ul.order li{width: 291px}
ul.order li a{display: block;}
ul.order li img{width: 100%; height: 352px;}
.w1200 ul.order li img{height: 425px;}
ul.order li .img{position: relative;}
ul.order li .name{color: #000}
ul.order li .name p{line-height: 30px; font-size: 18px; margin-top: 10px;}
ul.order li i{ position: absolute;  width: 1px; height: 0; background: #fff; z-index: 10; -webkit-transition:height 0.4s; -moz-transition:height 0.4s;transition:height 0.4s; *display: none; display: none\0}
ul.order li i.t{ right:0px; top:0;transform: rotate(34deg);transform-origin:20% 0%;-webkit-transform: rotate(34deg);-webkit-transform-origin:20% 0%; -moz-transform: rotate(34deg);	-moz-transform-origin:20% 0%;}
ul.order li i.b{left:0px; bottom:0px;transform: rotate(34deg);transform-origin:20% 99%;-webkit-transform: rotate(34deg);-webkit-transform-origin:20% 99%;-moz-transform: rotate(34deg);	-moz-transform-origin:20% 99%;}
ul.order li .more{display: none; position: absolute; left: 50%; top:50%; margin:-57px 0 0 -57px; width: 114px;height: 114px; border-radius: 50%; background:url(../images/opacity3.png); text-align: center; line-height: 114px; font-size: 16px; color: #fff;-webkit-animation:popup 0.4s;}
ul.order li a:hover p{color: #db2f3f}
ul.order li a:hover span{color: #db2f3f}
ul.order li.active i{height: 40%}
ul.order li.active .more{display: block;}

.star{width: 100%; height: 60px;}
.star li{float: left; margin-right: 30px; font-size: 14px; color: #666; height: 17px;}
.star li span{display: inline-block; vertical-align: middle;margin:-4px 10px 0; width: 85px; height: 17px; background: url(../images/star_b2.png); }
.star li span em{display: inline-block;  height: 17px; background: url(../images/star_b1.png); }
.star li i{font-size: 12px;}
.star a.write{width: 120px; height: 40px; border-radius: 5px; color: #fff; font-size: 16px; background: #fe94a9; line-height: 40px; margin-top: -20px;}
.star a.write i{display: inline-block; width: 16px; height: 16px; vertical-align: middle; margin:0 10px 0 12px; background-position:-199px -321px;}
.comFilter{width: 100%; height: 40px; line-height: 40px; border-bottom: 2px solid #ececec; font-size: 14px;}
.comFilter a.allC{display: inline-block; padding: 0 20px; border-bottom: 2px solid #fe94a9; margin-right: 20px;}
.comFilter input{float: left; margin-top:14px; margin-right: 5px;}
.comFilter i{color: #999}
.comFilter .sort a{color: #999; margin-right: 20px;}
.comFilter .sort  em{color: #666}
.comment1 .list{padding: 30px 0; border-bottom: 1px solid #ececec}
.comment1 .headImg{float: left; width: 80px; height: 80px; border-radius: 40px; overflow: hidden;}
.comment1 .headImg img{width:80px; height: 80px;}
.comment1 .con{ margin-left: 100px; }
.comment1 .con .call{height: 30px; line-height: 30px;}
.comment1 .con .call a{float: left; font-size: 16px;}
.comment1 .con .call span{float:right;color: #8c8c8c}
.comment1 .con .infox {line-height:40px;}
.comment1 .con .infox span.ss,.comment1 .con .info em{display: inline-block; width: 70px; height: 14px; background: url(../images/star_s1.png);}
.comment1 .con .infox em{background: url(../images/star_s2.png); }
.comment1 .con .infox font{color: #999; margin-right: 5px;}
.comment1 .con .infox i{margin-left: 20px; color: #999}
.comment1 .con font{color: #666}
.comment1 .con  p{font-size: 14px; color: #282828; line-height: 25px;}
.comment1 .more{text-align: right}
.comment1 .more span label{cursor: pointer;}
.comment1 .more i,.comment1 .more em{display: inline-block; width: 0; height: 0; border-style:solid; border-color: transparent; cursor: pointer;}
.comment1 .more span.mm i{position: relative; border-width: 6px; border-bottom-width: 0; border-top-color: #333; margin-left:5px;}
.comment1 .more span.mm em{position: absolute; border-width:5px; border-bottom-width: 0; border-top-color: #fff; top:-6px; left:-5px;}
.comment1 .more span.ss i{position: relative; border-width: 6px; border-top-width: 0; border-bottom-color: #333; margin-left:5px;}
.comment1 .more span.ss em{position: absolute; border-width:5px; border-top-width: 0; border-bottom-color: #fff; top:1px; left:-5px;}
.slideBox{ width:1002px;  position:relative; background:url(../images/bg.jpg); margin:20px auto 0px;  padding-bottom:10px;}
.upBox{position: relative; width: 1007px; height: 106px;background: #fff;  padding-bottom: 15px; overflow: hidden;}
.upBox ul{position: absolute; height: 106px;  }
.upBox ul li{float: left; width: 106px; height: 106px;  padding:0 6px 15px 0;}
.upBox ul li img{display: block; width: 100px; height: 100px;border:3px solid #fff;}
.upBox ul li.on img{border-color: #fe781e}
.downBox{position: relative; width: 770px; height: 490px; overflow: hidden;margin:50px auto;}
.downBox ul{position: absolute; height:490px;}
.downBox ul li{float: left; width:770px; height: 100%}
.downBox ul li img{display: block;width: 100%; height: 100%}
.prevx2,.nextx2{ cursor: pointer; position:absolute; left:1%; top:50%; margin-top:-25px; display:block; width:43px; height:111px; background:url(../images/detail.png) 0px -488px no-repeat; filter:alpha(opacity=80); opacity:0.8;}
.nextx2{left: auto; right: 1%; background-position: -44px -488px;}
p.count{width: 1007px; margin:0 auto; color: #8c8c8c; margin-top: 10px;}
p.count span{color: #fe781e}

#bg{background: #fff; opacity: 0.5; filter:alpha(opacity=50); position:fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 9999}
#pop{ width: 860px; border:1px solid #ececec; overflow: hidden; position: fixed; left: 50%; top:50%; margin-top: -325px; margin-left:-460px; background: #fff; box-shadow: 0 2px 40px 10px rgba(0,0,0,0.2); z-index: 10000; padding:20px 20px 40px 40px;}
#pop p.close{text-align: right; line-height: 22px;}
#pop p.close span,.digImg i{display: inline-block;vertical-align:middle; width: 22px; height: 22px; background: url(../images/detail.png) -194px -346px; cursor: pointer;}
#pop h3{font-size: 24px;}
#pop h3 span{color: #ff608e}
#pop .com{line-height: 25px; font-size: 14px; margin-top:25px; }
#pop .com ul{float: left;}
#pop .com ul li{margin:0;}
#pop .com i{float: left; font-size: 12px; color: #999; margin-left:35px;}
.comment li font,.comCon font{color: #ff5384; margin:0 5px;}
.comment li{margin: 15px 35px 0 0 ;  float: left; font-size: 14px;}
.comment li label,.con span{  margin-right:5px; line-height: 23px;}
.comment li span{display: inline-block; vertical-align: middle; cursor: pointer; margin-left: 5px;}
.comCon{margin-top:20px; line-height: 20px;}
.comCon span{font-size: 15px; }
.comCon .con{margin-left:90px;}
.comCon  textarea{width:740px; height:110px; border-color: #ececec; padding:5px 10px; line-height: 25px; font-size: 14px; color: #999; margin-bottom: 15px;}
.comCon .con i,.comCon .con em{padding:8px 10px; background: #e1f5e3; color: #4bae4f; margin-right: 10px;}
.comCon .con em{background: #fff2f2; color: #ff5243}
.upload span.fn-left{padding-left: 20px; font-size: 14px;}
.loadImg{margin:20px 0 0 90px;font-size: 14px; }
.loadImg p.t{width: 100%; height: 30px; line-height: 30px; position: relative;}
.loadImg p.t input,.loadImg p.t span{position: absolute; left: 0; top:0; width: 100px; height: 30px; opacity: 0; filter: alpha(opacity:0); z-index: 2; }
.loadImg p.t span,.loadImg li i,.loadImg li em,.loadImg span.delete i,.digImg .img a.prev2,.digImg .img a.next2{ background: url(../images/detail.png) no-repeat}
.loadImg p.t span{ width:100px; height: 30px;  background-position:-89px -568px; z-index: 1; cursor: pointer; opacity: 1;filter: alpha(opacity:100); }
.loadImg p.t font{margin-left:120px; color: #999; font-size: 12px;}
.loadImg ul{margin-top:15px; width: 770px;  overflow: hidden;}
.loadImg li{position: relative; width: 100px; height: 100px; float: left; margin:0 10px 10px 0 }
.loadImg li img{display: block; width: 100%; height: 100%;}

.loadImg li i{position: absolute;right: 0; top:0; width: 16px; height: 16px; background-position: -192px -582px; cursor: pointer; display: none; z-index: 2}
.loadImg li p{position: absolute; left: 0; bottom: 0px; width: 100%; height: 20px; background: url(../images/opacity.png); display: none;}
.loadImg li em{width: 15px; height: 16px; margin:2px 0 0 5px; cursor: pointer; }
.loadImg li em.leftR{background-position: -199px -281px;}
.loadImg li em.rightR{background-position: -199px -261px;}
.loadImg li em.open{width: 18px; height: 17px; margin-right: 5px; background-position: -199px -299px;}
.loadImg span.delete{color: #eb4f38; font-size: 14px; margin:5px 0 15px; cursor: pointer; }
.loadImg span.delete i{display: inline-block; width: 14px; height: 14px; background-position: -193px -568px; vertical-align: middle; margin-right: 5px;}
.loadImg .fabu {margin-top: 10px;}
.loadImg .fabu a.fn-left{width: 100px; height: 35px; line-height: 35px; text-align: center; font-size: 16px; color: #fff; background: #67cbf8; margin:10px 40px 0 0; border-radius: 3px;}
.loadImg .fabu dt{float: left; width: 48px; height: 48px; border-radius: 24px; overflow: hidden; margin-right: 10px;}
.loadImg .fabu dt img{display: block; width:100%; height: 100%;}
.loadImg .fabu dd{width: 400px; line-height: 24px; color: #379be9}
.loadImg .fabu dd a{color: #999; font-size: 12px;}
.popbg{ position: absolute; left: 0; top:0; width: 100%; height: 100%; opacity: 0.4; filter:alpha(opacity=40); background: rgba(0,0,0,0.8); z-index: 2}
.digImg{position: absolute; left:50%; top:50%; margin-left:-375px; margin-top: -275px; width: 750px; height: 550px;  background: url(../images/bg.jpg); z-index: 3}
.digImg i{position: absolute; right: 15px; top:10px; }
.digImg .img,.digImg .img ul{width: 500px; height: 500px; margin: 25px auto;background: #ff0}
.digImg .img ul{overflow: hidden; margin:0;}
.digImg .img ul li img{width: 100%; height: 100%}
.digImg .img a.prev2,.digImg .img a.next2{position: absolute; left: 5%; top:45%; width: 36px; height: 64px; background-position: -86px -487px;}
.digImg .img a.next2{left:auto; right: 5%; background-position: -127px -487px;}
