.email_lead{
	height: .8rem;
	line-height: .8rem;
	background: #dddddd;
	text-align: center;
}
.email_lead em{
	float: left;
	width: 60%;
	box-sizing:border-box;
	font-size: 0.3rem;
}
.email_lead span{
	float: left;
	font-size: .3rem;
	width: 20%;
	box-sizing:border-box;
}
.eamil_list .email_txt{
	height: .6rem;
	line-height: .6rem;
	background: #fff;
	text-align: center;
	border-bottom: 0.02rem solid #e1e1e1;
	padding: 0.1rem 0;
}
.eamil_list .email_txt em{
	float: left;
	width: 60%;
	box-sizing:border-box;
	font-size: 0.28rem;
	height: .6rem;
	text-align: left;
	text-indent: 0.4rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}
.eamil_list .email_txt span{
	float: left;
	font-size: .24rem;
	width: 20%;
	box-sizing:border-box;
}
.eamil_list .email_txt span i{
	font-style: normal;
	width: 100%;
	display: block;
	height: .25rem;
	line-height: .25rem;
	margin-top: 0.055rem;
}
.eamil_list .email_txt span a{
	display: block;
}
.eamil_list .email_txt span a b{
	width: 70%;
	height: .5rem;
	line-height: .5rem;
	display: block;
	border: 0.02rem solid #e74e49;
	color: #e74e49;
	margin: 0.04rem auto;
}