body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.record_list .record_txt{
	padding: 0.3rem;
	border-bottom: 0.02rem solid #e3e3e3;
}
.record_list .re_lead{
	font-size: 0.28rem;
	color: #ff3851;
}
.record_list .re_foot{
	font-size: 0.24rem;
	color: #a0a0a0;
}
.record_list .re_foot em{
	float: left;
}
.record_list .re_foot span{
	float: right;
}