body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.inte_lead{
	height: 1rem;
	line-height: 1rem;
	text-indent: 0.4rem;
	font-size: 0.3rem;
}
.inte_lead em{
	color: #ed321f;
}
.inte_list{
	background: #fff;
}
.inte_list ul li{
	height: .8rem;
	line-height: .8rem;
	margin-left: 1.3rem;
	font-size: 0.28rem;
	position: relative;
}
.inte_list ul li a{
	display: block;
}
.inte_list ul li b{
	position: absolute;
	right: 0.24rem;
	top: 0.15rem;
	width: .5rem;
	height: .5rem;
	background: url(../images/arrow_right.png) no-repeat center;
	background-size: .4rem;
}
.inte_list ul .quan{
	border-top: 0.02rem solid #e4e4e4;
	border-bottom: 0.02rem solid #e4e4e4;
}
.inte_list ul .gift a i{
	width: .5rem;
    height: .5rem;
    position: absolute;
    left: -.7rem;
    top: .2rem;
    background: url(../images/sp_15.png);
    background-position: -1.245rem 0rem;
    background-size: 0.6rem;
} 
.inte_list ul .quan a i{
	width: .5rem;
    height: .5rem;
    position: absolute;
    left: -.7rem;
    top: .15rem;
    background: url(../images/sp_15.png);
    background-position: -1.245rem 0.5rem;
    background-size: 0.6rem;
} 
.inte_list ul .qury a i{
	width: .5rem;
    height: .5rem;
    position: absolute;
    left: -.7rem;
    top: .15rem;
    background: url(../images/sp_15.png);
    background-position: -1.245rem 1.36rem;
    background-size: 0.6rem;
} 