body,html{
	background: #eeeeee;
	display: block;
}
body {padding-bottom: 1rem;}
.lead{
    position: relative;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    border-bottom: 0.04rem solid #c5c5c5;
}
.lead span{
    font-size: .36rem;
}
.lead b{
	width: .5rem;
	height: .5rem;
	position: absolute;
	right: 0.3rem;
	top: 0.2rem;
	background: url(../images/heart_1.png) no-repeat center;
	background-size: .5rem;
}
.lead_bc{
	background: url(../images/heart.png) no-repeat center!important;
	background-size: .5rem!important;
}

/*幻灯片*/
.swiper-slide a{display: block;}
.swiper-slide img{width: 100%; height: 100%; display: block;}
.slideBox{position: relative; width: 100%; overflow: hidden;}
.swiper-pagination-bullet{opacity: 1; border: 1px solid #e84538; background: none;}
.swiper-pagination-bullet-active{background: #e84538;}

.shop_list{
	background: #fff;
	margin-bottom: .2rem;
}
.shop_list ul li{
	float: left;
	width: 25%;
	text-align: center;
	box-sizing:border-box;
	border-bottom: 0.02rem solid #eeeeee;
	border-right: 0.02rem solid #eeeeee;
}
.shop_list ul li:nth-child(4){
	border-right: none;
}
.shop_list ul li:nth-child(8){
	border-right: none;
}
.shop_list ul li:nth-child(12){
	border-right: none;
}
.shop_list ul li a{
	padding: 0.2rem 0;
	display: block;
}
.shop_list ul li a span{
	font-size: 0.3rem;
	color: #9c9488;
	width: 100%;
	display: block;
	margin-top: 0.1rem;
}
.shop_list ul .message a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_1.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .bill a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_2.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .comment a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_3.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .dynamic a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_4.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .rank a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_5.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .email a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_6.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .dan a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_7.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .sign a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_8.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .integral a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_9.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .favorable a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_10.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .datum a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_11.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .turntable a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_12.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .member a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_13.png) no-repeat center;
	background-size: .8rem;
}
.shop_list ul .nav a i{
	width: .8rem;
	height: .8rem;
	display: block;
	margin: 0 auto;
	background: url(../images/sp_14.png) no-repeat center;
	background-size: .8rem;
}
.shop_information{
	background: #fff;
	padding: 0.2rem 0.4rem ;
	margin-bottom: 0.2rem;
}
.shop_information h1{
	font-size: 0.3rem;
	height: .7rem;
	line-height: .7rem;
}
.shop_information h1 s {
	display: inline-block;
	vertical-align: middle;
	width: .4rem;
	height: .4rem;
	background: url(../images/notice.png);
	background-size: cover;
	margin: -.05rem .1rem 0 0;
}
.shop_information.notice .note {
	border-top: 1px solid #e8e8e8;
	font-size: .28rem;
	padding-top: .15rem;
}
.shop_information ul li{
	padding: .2rem 0;
	line-height: .4rem;
	font-size: .28rem;
	border-top: 0.02rem solid #dddddd;
}
.shop_information ul li em{
	float: left;
	width: 1.5rem;
}
.shop_information ul li span {
	position: relative;
	overflow: hidden;
	display: block;
}
.shop_information ul li .calltel {
	float: right;
	width: .4rem;
	height: .4rem;
	background: url(../images/tel.png);
	background-size: cover;
	margin-right: .1rem;
}
.new_com{
	background: #fff;
	padding: 0.2rem 0.4rem ;
}
.new_com .com_lead{
	height: .7rem;
	line-height: .7rem;
	border-bottom:0.02rem solid #dddddd;
}
.new_com .com_lead em{
	float: left;
	font-size: 0.3rem;
}
.new_com .com_lead .more{
	float: right;
	color: #999999;
	font-size: 0.28rem;
}
.new_com .com_lead .more i{
	width: .35rem;
	height: .35rem;
	background: url(../images/arrow_right.png) no-repeat center;
	background-size: .35rem;
	display: inline-block;
	vertical-align: text-bottom;
}
.new_com .com_list .item {border-bottom:0.02rem solid #dddddd;padding:0.15rem 0;position:relative;}
.new_com .com_list .com_txt {padding:0.15rem 0;position:relative;}
.new_com .com_list .com_txt h1{
	font-size: 0.28rem;
}
.new_com .com_list .com_txt p{
	padding:.1rem 0;
	color: #999999;
	font-size: 0.24rem;
}
.new_com .com_list .com_txt span em{
	float: right;
	color: #999999;
	font-size: 0.24rem;
}
.new_com .com_list .com_txt .pingjia{
    background: url(../images/star_2.png) no-repeat;
    background-size:1.5rem;
    width: 1.5rem;
    height: 0.4rem;
    display: inline-block;
    position: absolute;
    top: 0.2rem;
    right: 0.24rem;
}
.new_com .com_list .com_txt .pingjia i{
	background: url(../images/star_1.png) no-repeat;
    background-size:1.5rem;
    width: 1rem;
    height: 0.4rem;
    display: inline-block;
}
.foot{
	background: #f8f8f8;
	padding-bottom: .5rem;
}
.foot .tel{
	font-size: 0.3rem;
	color: #ff9a02;
	padding-top: 0.2rem;
	margin-left: 0.25rem;
}
.foot .footer{
	width: 3rem;
	margin: 0 auto;
	color: #a09f9f;
}
.foot .footer .ff{
	margin-bottom: 0.1rem;
	padding-top: 0.4rem;
}
.foot .footer .ff img{
	float: left;
	width: .9rem;
	margin-right: 0.1rem;
}
.foot .footer .ff h1{
	font-size: 0.28rem;
}
.foot .footer span{
	text-align: center;
	display: block;
	font-size: 0.28rem;
}
.navtion{
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.navtion ul li{
	float: left;
	width: 25%;
	box-sizing:border-box;
	text-align: center;
	font-size: 0.28rem;
}
.navtion ul li a{
	display: block;
}
.navtion ul .shop a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/house_2.png) no-repeat center;
	background-size: cover;
	margin-top: .1rem;
}
.navtion ul .xuangou a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/biaoqian.png) no-repeat center;
	background-size: cover;
	margin-top: .1rem;
}
.navtion ul .car a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/gouwuche.png) no-repeat center;
	background-size: cover;
	margin-top: .1rem;
}
.navtion ul .center a i{
	width: .5rem;
	height: .5rem;
	display: block;
	margin: 0 auto;
	background: url(../images/ren.png) no-repeat center;
	background-size: cover;
	margin-top: .1rem;
}
.nav_bc a span{
	color: #e84538;
}

.new_com .com_list .reply {font-size: .24rem;}
.new_com .com_list .reply p {line-height: .4rem;padding:.1rem 0;color: #f60;overflow: hidden;}
.new_com .com_list .reply p span {float: right;padding-left: .5rem;color: #999;}

.new_com .com_list .com_txt .pingjia.star1 i {width: .25rem;}
.new_com .com_list .com_txt .pingjia.star2 i {width: .55rem;}
.new_com .com_list .com_txt .pingjia.star3 i {width: .85rem;}
.new_com .com_list .com_txt .pingjia.star4 i {width: 1.15rem;}
.new_com .com_list .com_txt .pingjia.star5 i {width: 1.5rem;}


.loading {padding:.2rem 0;text-align: center;color: #999;}