*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;opacity: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{background-color: #f5f5f5;}
a,li{text-decoration: none;list-style: none;color: #333;outline: 0;}
.l{float: left;}
.r{float: right;}
em,i{font-style: normal;}
body.show{opacity: 1;}
.mt10{margin-top: .2rem;}

/*头部*/
.header{height: 2.5rem;width: 100%;background: url(../images/bg1.jpg) no-repeat;background-size: 100% 2.5rem;position: relative;}
.seller-info{height: 1.2rem;background: #fff;border-bottom: 1px solid #ebebeb;position: relative;padding-left: 1.64rem;}
.seller-info-img{width: 1.24rem;height: 1.24rem;background: url('../images/icon.png') no-repeat;background-size: 1.24rem;position: absolute;bottom: .2rem;left: .2rem;}
.seller-info-tit{width: 70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1rem;}
.seller-info-tit span{height: .36rem;line-height: .6rem;font-size: .3rem;}
.header .header-top{position: absolute;top: .4rem;right: .4rem;}
.header .header-top a{width: .6rem;height: .6rem;display: block;}
.header .header-top img{display: block;width: 100%;height: 100%;}


/*筛选框*/
.select-box{font-size: .26rem;position: relative;z-index: 10;background: #fff}
.select-nav{border-bottom: 1px solid #f1f1f1;height: .8rem;}
.select-nav ul{display: -webkit-box;}
.select-nav ul.top{position: fixed;top: 0;left: 0;right: 0;background: #fff;border-bottom: 1px solid #f1f1f1;}
.select-nav ul li{-webkit-box-flex: 1;text-align: center;}
.select-nav ul li.active a{color: #ef4949;}
.select-nav ul li a{padding: .2rem 0;display: block;}
.select-nav ul li a em{color: #e8e8e8;float: right;}
.select-nav .option-price i{display: inline-block;width: .1rem;height: .14rem;background: url(../images/sx.png) center center no-repeat;background-size: .1rem .14rem;padding: 0 0 .04rem .1rem;}
.select-nav li.active-1 .option-price i{background: url(../images/sx2.png) center center no-repeat;background-size: .1rem .14rem;}
.select-nav li.active-2 .option-price i{background: url(../images/sx1.png) center center no-repeat;background-size: .1rem .14rem;}
.select-nav .option-xuan i{display: inline-block;width: .14rem;height: .1rem;background: url(../images/xia.png) center center no-repeat;background-size: .14rem .1rem;padding: 0 0 .04rem .1rem;}
.select-nav li.active .option-xuan i{background: url(../images/xia1.png) center center no-repeat;background-size: .14rem .1rem;}

/*精选推荐*/
.command-list{margin-top: .2rem;}
.command-list-tit{height: .7rem;line-height: .7rem;;background: #fff;font-size: .28rem;padding-right: .2rem;}
.command-list-tit span{border-left: .08rem solid #eb3e42;padding-left: .2rem;}
.command-list-con{padding-left: .16rem;margin-top: .2rem;}
.command-list-con li{width: 50%;display: block;float: left;}
.command-list-con li a{display: block;margin: 0 .16rem .16rem 0;}
.pro-img{width: 100%;}
.pro-img img{display: block;width: 100%;height: 4rem;}
.pro-txt{background: #fff;border-bottom: 1px solid #f1f1f1;height: 1.6rem;overflow: hidden;padding: .1rem;line-height: .36rem;}
.pro-txt h4{font-size: .24rem;font-weight: 100;width: 100%;height: .32rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pro-txt .pro-price span{font-size: .28rem;color: #e63b53;margin-right: .1rem;}
.pro-txt .pro-price em{font-size: .22rem;color: #9b9b9b;text-decoration:line-through}
.pro-txt .pro-info{font-size: .22rem;display: -webkit-box;margin-top: .1rem;color: #9b9b9b;}
.pro-txt .pro-info span{-webkit-box-flex: 1;display: block;}
.pro-txt .yellow{color: #fd7d45;}
.ter{text-align: right;}
.more{line-height: .8rem;font-size: .28rem;text-align: center;display: none;}

.command-list .loading{line-height: 1rem; text-align: center; font-size: .26rem; margin: 1px; }
