<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>房产经纪人</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v=100">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v=100">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-house.css">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v=100"></script>
<script src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v=100"></script>
<script type="text/javascript">
var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';
var hideFileUrl = {#$cfg_hideUrl#};
var cookiePre = '{#$cfg_cookiePre#}';
var modelType = 'house', uploadType = "card", thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = 2;
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1;
</script>
</head>
<body>

{#$pageTitle = '房产经纪人'#}
{#include file="top.html"#}

<div class="main">
	<form name="fabuForm" id="fabuForm" method="post" action="{#$cfg_basehost#}/include/ajax.php?service=house&action=configZjUser">
		{#if $jjr && $detail_state == 0#}
		<p class="state0">您的资料正在审核中，请联系您的公司为您审核开通！</p>
		{#elseif $jjr && $detail_state == 2#}
		<p class="state2">您的资料审核失败，请联系您的公司查询失败原因！</p>
		{#/if#}
		<div class="imgbox">
			<div class="addimg">
				<ul class="fn-clear{#if $detail_litpic == ""#} noimg{#/if#}" id="litpic">
					{#if $detail_litpic != ""#}
					<li class="item" id="item_0"><img src="{#$detail_litpic#}"  data-val="{#$detail_litpicSource#}" data-url="{#changeFileSize url="{#$detail_litpic#}" type="small"#}" alt=""><i class="cancel"></i></li>
					{#/if#}
					<li class="add"><div id="filePicker" class="btn"></div></li>
				</ul>
			</div>
			<p class="uploader-btn"><span style="color:#f60;">{#if $jjr && $detail_flag == 0#}您的名片正在审核中，请耐心等待！{#elseif $jjr && $detail_flag == 2#}您的名片审核失败，请重新上传！{#/if#}</span><span class="utip"></span></p>
		</div>
		<div class="list" style="margin-top:0;">
			<dl class="inpbox">
				<dt><span>所属公司</span></dt>
				<dd><input type="text" placeholder="请输入所属公司" id="company" autocomplete="off" maxlength="50" value="{#$detail_zjcomName#}"><input type="hidden" name="zjcom" id="zjcom" value="{#$detail_zjcom#}"></dd>
			</dl>
			<dl class="inpbox">
				<dt><span>所在门店</span></dt>
				<dd><input type="text" name="store" placeholder="请输入所在门店" id="store" autocomplete="off" maxlength="50" value="{#$detail_store#}"></dd>
			</dl>
			<dl class="inpbox">
				<dt><span>服务区域</span></dt>
				<dd>
					<select class="area1 w30" name="">
						<option value="">请选择</option>
						{#house action="addr" return="addr"#}
						<option value="{#$addr.id#}"{#if $detail_address && $detail_address[0] == $addr.typename#} selected="selected"{#/if#}>{#$addr.typename#}</option>
						{#/house#}
					</select>
					<select class="area2 w30" name=""></select>
					<input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}">
					<input type="hidden" id="addrname0" value="{#$detail_address[0]#}">
					<input type="hidden" id="addrname1" value="{#$detail_address[1]#}">
				</dd>
			</dl>
			<dl class="inpbox">
				<dt><span>主营小区</span></dt>
				<dd>
					{#$communitytxt = ''#}
					{#foreach from=$detail_communityName item=community key=k#}
						{#$communitytxt = $communitytxt|cat:','|cat:$community#}
					{#/foreach#}
					<input type="text" placeholder="请输入主营小区" id="communitytxt" autocomplete="off" maxlength="50" value="{#substr($communitytxt,1)#}">
					<input type="hidden" placeholder="请输入主营小区" id="community" name="community" value="{#$detail_community#}">
				</dd>
			</dl>
			<dl class="inpbox">
				<dt><span>自我介绍</span></dt>
				<dd><textarea placeholder="" name="note" class="textarea">{#strip_tags($detail_note)#}</textarea></dd>
			</dl>
		</div>
	</form>
</div>
<div class="submit">
<a href="javascript:;" id="submit">{#if $jjr#}更新资料{#else#}申请开通{#/if#}</a>
</div>
<div class="error"></div>

<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js" type="text/javascript"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.autocomplete.min.js"></script>
<script src="{#$templets_skin#}js/common.js" type="text/javascript"></script>
<script src="{#$templets_skin#}js/config-house.js?v=2"></script>
</body>
</html>
