<style media="screen">
html,body {font-size: .24rem;}
.list {margin-top: 1rem;}
.food {color: #333; border-bottom: 1px solid #f4f4f4; padding: 0 0 .1rem; margin-bottom: .1rem;}
.item .state{color: #ff6800;}
.item .opbtn{padding: .15rem .2rem; text-align: right;}
.item .opbtn a.gray {border: 1px solid #aaa; border-radius: .08rem; margin-right: .2rem;}
.item .opbtn a {padding: .1rem .2rem; display: inline-block;}
</style>
<script type="text/javascript">
  var userid = {#$userid#}, detailUrl = '{#getUrlPath service='member' type='user' template='orderdetail' module='waimai' userid="%id%"#}';
  var nowdate = {#$smarty.now#};
</script>