<foreach item="vo" name="all" key="k">
			<?php if(!empty($vo['sellhouse_id'])){ ?>
			<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding: 10px 10px;">
					<!-- href="__MODULE__/Sell/sellHouseDetails?sellhouse_id={$vo.sellhouse_id}" -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;" str="sellHouse" class="topheight" stv="{$vo.sellhouse_id}">
						   <div style="position: absolute;left: 0;right: 0;width: 85px;height: 85px;">
							     <div class="mui-media-object mui-pull-left img" style="width:100%;height: 100%; background-image: url(__PUBLIC__/../{$vo.imgs.0.imgs_path}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;" ></div>
                            </div>

							<div class="mui-ellipsis-2" style="height: 42px;">
								{$vo.sellhouse_title}
							</div>
							<p style="margin-bottom: 0;font-size: 12px;">{$vo.sellhouse_title}&nbsp;&nbsp;{$vo.sellhouse_class}&nbsp;&nbsp;<span style="color: #ff7300;font-size: 16px;float: right;">
							<?php if($vo['sellhouse_price'] == 0){  ?>
								面议
							<?php }else{ ?>
							  {$vo['sellhouse_price']}万
							<?php  } ?></span></p>
 							<p style="margin-bottom: 0;color: #666;font-size: 12px;width: 100%;height: 21px;"><strong class="mui-ellipsis-address" style="font-weight: normal;margin-right: 5px;">{$vo.sellhouse_address}</strong>
 
 							<span style="float: right;">置顶</span>
 							 
 							</p>
						</a>
					</div>
				</div>
			</div>
			<?php }else{ ?>
			<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding: 10px 10px;">
					<?php if($vo['sell_other_type'] == 1){ ?>
					 <!-- href="__MODULE__/Sell/sellShopDetails?sell_other_id={$vo.sell_other_id}" -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;"  str="sellShop" class="topheight" stv="{$vo.sell_other_id}">
					<?php }else{ ?>
					 <!-- href="__MODULE__/Sell/sellLandDetails?sell_other_id={$vo.sell_other_id}" -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;"  str="sellLand" class="topheight" stv="{$vo.sell_other_id}">
					<?php } ?>
							<div style="position: absolute;left: 0;right: 0;width: 85px;height: 85px;">
							     <div class="mui-media-object mui-pull-left img" style="width:100%;height: 100%; background-image: url(__PUBLIC__/../{$vo.imgs.0.imgs_path}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;"></div>
                            </div>
							<div class="mui-ellipsis-2" style="height: 42px;">
								{$vo.sell_other_title}
							</div>
							<p style="margin-bottom: 0;font-size: 16px;color: #ff7300;">
							<?php if($vo['sell_other_price']){  ?>
								面议
							<?php }else{ ?>
							  {$vo['sell_other_price']}万
							<?php  } ?>
							<span style="margin:0 5px;font-size: 12px;color: #666;">{$vo.sell_other_acreage}m<sup>2</sup></span><span style="margin:0 5px;font-size: 12px;color: #666;">{$vo.sell_other_class}</span></p>
							<p style="margin-bottom: 0;color: #666;font-size: 12px;height: 21px;width: 100%;"><strong class="mui-ellipsis-address" style="font-weight: normal;margin-right: 5px;">{$vo.sell_other_address}</strong>
 
  							<span style="float: right;">置顶</span>
  							</p>
						</a>
					</div>
				</div>
			</div>
 			<?php } ?>
			</foreach>
			
           <foreach item="vo" name="zongall">
			<?php if(!empty($vo['sellhouse_id'])){ ?>
			<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding: 10px 10px;">
					 <!-- href="__MODULE__/Sell/sellHouseDetails?sellhouse_id={$vo.sellhouse_id}"  -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;" str="sellHouse" class="topheight" stv="{$vo.sellhouse_id}">
						   <div style="position: absolute;left: 0;right: 0;width: 85px;height: 85px;">
							     <div class="mui-media-object mui-pull-left img" style="width:100%;height: 100%; background-image: url(__PUBLIC__/../{$vo.imgs.0.imgs_path}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;" ></div>
                            </div>

							<div class="mui-ellipsis-2" style="height: 42px;">
								{$vo.sellhouse_title}
							</div>
							<p style="margin-bottom: 0;font-size: 12px;">{$vo.sellhouse_type}&nbsp;&nbsp;{$vo.sellhouse_class}&nbsp;&nbsp;<span style="color: #ff7300;font-size: 16px;float: right;">
							<?php if($vo['sellhouse_price'] == 0){  ?>
								面议
							<?php }else{ ?>
							  {$vo['sellhouse_price']}万
							<?php  } ?></span></p>
							<p style="margin-bottom: 0;color: #666;font-size: 12px;width: 100%;height: 21px;"><strong class="mui-ellipsis-address" style="font-weight: normal;margin-right: 5px;">{$vo.sellhouse_address}</strong><span style="float: right;" class="time">{$vo.sellhouse_date}</span></p>
						</a>
					</div>
				</div>
			</div>
			<?php }else{ ?>
			<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding: 10px 10px;">
						<?php if($vo['sell_other_type'] == 1){ ?>
						<!-- href="__MODULE__/Sell/sellShopDetails?sell_other_id={$vo.sell_other_id}" -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;" str="sellShop" class="topheight" stv="{$vo.sell_other_id}">
					   <?php }else{ ?>
					   <!-- href="__MODULE__/Sell/sellLandDetails?sell_other_id={$vo.sell_other_id}" -->
						<a style="position: relative;padding-left: 90px;display: block;color:#000;" str="sellLand" class="topheight" stv="{$vo.sell_other_id}">
					   <?php } ?>
							<div style="position: absolute;left: 0;right: 0;width: 85px;height: 85px;">
							     <div class="mui-media-object mui-pull-left img" style="width:100%;height: 100%; background-image: url(__PUBLIC__/../{$vo.imgs.0.imgs_path}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;"></div>
                            </div>
							<div class="mui-ellipsis-2" style="height: 42px;">
								{$vo.sell_other_title}
							</div>
							<p style="margin-bottom: 0;font-size: 16px;color: #ff7300;">
							<?php if($vo['sell_other_price'] == 0){  ?>
								面议
							<?php }else{ ?>
							  {$vo['sell_other_price']}万
							<?php  } ?><span style="margin:0 5px;font-size: 12px;color: #666;">{$vo.sell_other_acreage}m<sup>2</sup></span><span style="margin:0 5px;font-size: 12px;color: #666;">{$vo.sell_other_class}</span></p>

							<p style="margin-bottom: 0;color: #666;font-size: 12px;width: 100%;height: 21px;"><strong class="mui-ellipsis-address" style="font-weight: normal;margin-right: 5px;">{$vo.sell_other_address}</strong>
							<span style="float: right;" class="time">{$vo.sell_other_time}</span></p>
						</a>
					</div>
				</div>
			</div>
 			<?php } ?>
			</foreach>