<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>店铺评论</title>
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v=1" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/comment.css?v=2" media="all" />
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#}, id = {#$id#};
	var modelType = '{#$module#}';
	var totalCount = {#$detail_totalCount#};
</script>
<body>
	<div class="lead"><a href="javascript:;" onclick="history.go(-1)" class="back">返回</a><span>{#$shopname#}-评论</span><b{#if $collect#} class="lead_bc"{#/if#}></b></div>
	<div class="main fn-clear">
		<div class="main_left">
			<span>{#$detail_star#}</span>
			<em>{#$detail_totalCount#}条评论</em>
			<b><i style="width:{#$detail_star / 5 * 100#}%"></i></b>
		</div>
		<div class="main_right">
			<ul id="starCon">
				<li class="p1"><em>5</em><span><b data-width="{#$detail_totalCount5 / $detail_totalCount * 100#}%"></b></span><i>{#$detail_totalCount5#}</i></li>
				<li class="p2"><em>4</em><span><b data-width="{#$detail_totalCount4 / $detail_totalCount * 100#}%"></b></span><i>{#$detail_totalCount4#}</i></li>
				<li class="p3"><em>3</em><span><b data-width="{#$detail_totalCount3 / $detail_totalCount * 100#}%"></b></span><i>{#$detail_totalCount3#}</i></li>
				<li class="p4"><em>2</em><span><b data-width="{#$detail_totalCount2 / $detail_totalCount * 100#}%"></b></span><i>{#$detail_totalCount2#}</i></li>
				<li class="p5"><em>1</em><span><b data-width="{#$detail_totalCount1 / $detail_totalCount * 100#}%"></b></span><i>{#$detail_totalCount1#}</i></li>
			</ul>
		</div>
	</div>
	<div class="new_com">
		<div class="com_list">
			<div class="loading">正在加载，请稍后</div>
		</div>
	</div>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=5"></script>
<script type="text/javascript" src="{#$templets_skin#}js/comment.js?v=1"></script>
</body>
</html>
