<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/datum.css">
</head>
<body>
	<div class="datum_form">
		<div class="da_txt"><em>顾客ID：</em><span>15737386</span></div>
		<div class="da_txt name"><em>姓名：</em><input type="text"></div>
		<div class="da_txt tel"><em>联系电话：</em><input type="text"></div>
		<div class="da_txt place"><em>联系地址：</em><input type="text"></div>
		<div class="da_txt"><em>郑少雄：</em><input type="text"></div>
	</div>
	<div class="datum_list">
		<ul>
			<li><em>微信昵称：</em><span>zzx</span></li>
			<li><em>性别：</em><span>男</span></li>
			<li><em>国家：</em><span>中国</span></li>
			<li><em>省份：</em><span>黑龙江</span></li>
			<li><em>城市：</em><span>大庆</span></li>
		</ul>
	</div>
	<div class="datum_button">
		<button class="save">保存信息</button>
		<button class="bang">绑定微信信息</button>
	</div>
	<div class="warning"></div>
	<script src="js/public.js"></script>
	<script src="js/datum.js"></script>
</body>
</html>