<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/mem_freeze.css">
</head>
<body>
	<div class="free_pic"><img src="images/sp_18.png" alt=""></div>
	<div class="free_txt">
		<h1>您正在进行<em>冻结会员</em>操作，冻结之后</h1>
		<ul>
			<li>1.线下会员卡被锁定，无法使用;</li>
			<li>2.线上会员功能被锁定，无法使用</li>
			<li>3.无法自行解冻;</li>
		</ul>
		<span>如果您想恢复会员功能，请联系商家解冻。</span>
	</div>
	<div class="free_button"><button>确认冻结</button></div>
	<script src="js/public.js"></script>
</body>
</html>