<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>搜索结果</title>
<script src="{#$cfg_staticPath#}js/core/touchScale.js"></script>
<script src="{#$templets_skin#}js/zepto.min.js"></script>
<link rel="stylesheet" href="{#$templets_skin#}css/base.css">
<link rel="stylesheet" href="{#$templets_skin#}css/le_list.css">
</head>

<body>
<div class="le_list"></div>

<script type="text/javascript">
	var keywords = '{#$keywords#}', page = 1, pageSize = 10;
</script>
<script src="{#$templets_skin#}js/le_slist.js"></script>
</body>
</html>
