
*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000;}
body.show {opacity:1;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}
body{position: relative;}
.top_area{position: fixed;z-index: 99;width: 100%;height: 1rem;background: #302e40;top: 0;left: 0;right: 0;}
.top_area a img.frist{width: 0.6rem;height: 0.6rem;position: absolute;top: 0.18rem;left: 0.18rem;}
.top_area p{color: #fff;font-size: 0.3rem;height: 1rem;line-height: 1rem;text-align: center;}
.range_area{height: 1rem;}
.all_friends img{width: 0.6rem;height: 0.6rem;}
.nav_good{margin-top:0.58rem;padding-left: 0.42rem;}
.nav_good p{text-align: center;margin-top: 0.13rem;}
.all_friends{width: 1rem!important;text-align: center;margin-right: 0.3rem!important;}
.bottom{background: #fff;padding-bottom: 0.66rem;border-bottom: 0.02rem solid #ccc;position: fixed;}
.shoulder p{margin-top: 0.135rem;}
.jiang_su{height: 1rem;line-height: 1rem;background: #fff;position: fixed;width: 100%;z-index: 3;top: 3.4rem}
.jiang_su p{float: left;margin-left: 0.35rem}
.jiang_su a{display: inline-block;float: right;margin-right: 0.35rem;color: #6490fe;}
.basic_info{background: #fff;margin-top: 0.25rem;padding: 0.25rem 0 0.25rem 0.25rem;margin-bottom:0.25rem;position: relative;}
.basic_info a.one{display: inline-block;float: left;position: relative;width: 1.55rem;height: 1.55rem;}
.basic_info a.one img.per{width: 1.55rem;height: 1.55rem;display: inline-block;position: absolute;top: 0;right: 0;}
.basic_info a.one img.eigh{width: 0.5rem;height: 0.5rem;position: absolute;bottom: 0;right: 0;background: #f2f4fc;border-radius: 50%;border: 0.02rem solid white;}
.robert{float: left;margin-left: 0.3rem;margin-top: 0.1rem;width: 74%;padding-bottom: 0.2rem;border-bottom: 0.02rem solid #f2f2f2;}
.robert li a.three img{width: 0.33rem;height: 0.33rem;vertical-align: sub;}
.robert li a.three{padding: 0.05rem 0.08rem;background:#a4c8fe;border-radius: 0.05rem;}
.robert li a.three span{color: #fff;}
.robert li img.vipp{width: 0.35rem;height: 0.35rem;vertical-align: sub;display: inline-block;margin-left: 0.15rem;}
.robert li{height: 0.6rem;line-height: 0.6rem;}
.robert li a.four span{display: inline-block;margin-right: 0.15rem;}
.robert li a.yester_today span{color: #c7c7cb;display: inline-block;float: left;}
.robert li a.yester_today i{color: #fc6676;display: inline-block;float: right;margin-right: 0.37rem;}
.lose_love ul{margin-top: 0.31rem;float: left;margin-left: 0.4rem;width: 4.2rem;overflow: hidden;white-space: nowrap;padding-left: 0.1rem;}
.lose_love ul li a i{width:0.13rem;height: 0.13rem;border-radius: 50%;display: inline-block;background: #dedee0;margin-right:0.54rem;}
.lose_love ul li{height: 0.66rem;line-height: 0.66rem;}
.lose_love ul li span.love_you{color: #302e40;font-size: 0.26rem;font-weight: bold;}
.pic{float: left;margin-top:0.5rem;margin-left: 0.3rem;}
.pic img{width: 2.15rem;height: 2.15rem;}

.lose_love ul li.look_after a i{width:0.27rem;height: 0.27rem;position: absolute;top: 0.2rem;left: -0.05rem;}
.lose_love ul li.look_after{position: relative;}
.lose_love ul li.look_after .love_you{position: absolute;left: 0.65rem;top: -0.01rem;}
.zw_d{position: absolute;right: -0.01rem;top: 0;}
.zw_d span{position: relative;width: 0.85rem;height: 0.85rem;display: block;}
.zw_d span s{text-decoration: none;right: 0;top: 0;position: absolute;z-index: 1;color: #fff;top: 0.08rem;right: 0.13rem;}
.zw_d span i{position: absolute;width: 0;height: 0;border-bottom: 0.85rem solid transparent;border-left: 0.85rem solid transparent;border-top: 0.85rem solid #fc6676;}
.in_fo{margin-top: 3.67rem;}

/*公共底部*/
.public_foot{ position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; line-height: .5rem; background-color: #fff; text-align: center; padding-top: 0.1rem;z-index: 99; } 
.public_foot ul li{ width: 20%; float: left; } 
.public_foot ul li a{ display: block; color: #a3a2a7 } 
.public_foot .online p{ background:url(../images/person.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .frind p{ background:url(../images/eyes.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .payfor p{ background:url(../images/flash.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .move p{ background:url(../images/lo.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .mine p{ background:url(../images/my.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; }
/*发布动态*/
.jia_hao{position: fixed;bottom: 1.2rem;right: 0.3rem;z-index: 105;}
.jia_hao img{display: block;background: #fff;border-radius: 50%;border: 0.02rem solid #fff;}
.op{position: fixed;width: 100%;height: 100%;background: black;opacity: 0.5!important;filter: alpha(opacity=50);top: 0;left: 0;right: 0;z-index: 100;display: none;}
.public{width: 6rem; height: 6.7rem; background: #fff; position: fixed; z-index: 100; top: 1rem;left: 0.75rem;border-radius: 0.09rem;display: none;}
._id{width: 6rem; height: 6.7rem;position: relative;}
._id i{width: 0;height: 0;border-left:0.63rem solid transparent;border-bottom: 0.63rem solid transparent;border-right: 0.63rem solid #fff;display: block;;position: absolute;bottom: -0.6rem;right: 1rem;}
.public p.me{text-align: center;height: 1rem;line-height: 1rem;border-bottom: 0.02rem #ccc solid;font-weight: bold;font-size: 0.28rem;}
._id a img{width: 1.4rem;height: 1.4rem;}
.seven{text-align: center;margin-top: 0.7rem;}
.seven a{width: 1.4rem;display: inline-block;margin-bottom: 0.47rem;}















