*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000;}
body.show {opacity:1;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}
body{position: relative;}
.top_area{position: fixed;z-index: 99;width: 100%;height: 1rem;top: 0;left: 0;right: 0;}
.color{background-color:#302e40;}
.top_area a img.frist{width: 0.6rem;height: 0.6rem;position: absolute;top: 0.18rem;left: 0.18rem;}
.top_area p{color: #fff;font-size: 0.3rem;height: 1rem;line-height: 1rem;text-align: center;}
.top_area a.search_area{position: absolute;color: #fff;font-size: 0.28rem;top: 0.2rem;right: 0.18rem;}
.range_area{height: 0.2rem; background-image: linear-gradient(transparent,#000);}
.search_area img{width: 0.6rem;height: 0.6rem;}
.suger{height: 6rem;position: relative;}
.suger img.green{width: 100%;height: 6rem;position: absolute;top: 0;left: 0;right: 0;}
.suger i{width: 100%;height: 6rem;position: absolute;top: 0;left: 0;right: 0;background: black;opacity: 0.5;z-index: 2}
.suger p span{color: #fff;font-size: 0.2rem;}
.suger p{height: 0.44rem;line-height: 0.44rem;position: absolute;}
.suger p.video{position: absolute;right: 0.2rem;top: 1rem;z-index: 3;}
.suger p.video img{width: 0.44rem;height: 0.44rem;display: inline-block;vertical-align:bottom;margin-right: 0.08rem;}
.suger p.player{margin-top: 0.62rem!important;}
.tu_pian{position: absolute;width: 1.2rem;height: 1.2rem;z-index: 3;background: url(../upfile/t01fcf955b915f2b26f.jpg) no-repeat;border-radius: 50%;border: 1px #fff solid;bottom: -0.58rem;left: 0.15rem}
.tu_pian a{position: relative;width: 1.2rem;height: 1.2rem;display: block;}
.tu_pian img{width: 0.4rem;height: 0.4rem;position: absolute;bottom: 0;right: 0;background: #fff;border-radius: 50%;}
.info{background: #fff;}
.xing_zuo{margin-left: 1.6rem;padding-top: 0.37rem;}
.xing_zuo img{width: 0.48rem;height: 0.48rem;position: absolute;top: -0.02rem;}
.xing_zuo span{width: 1rem;height:0.43rem;background: #fca6cf;border-radius: 0.07rem;display: block;position: relative;float: left;}
.xing_zuo i{color: #fff;position: absolute;top: 0.04rem;right: 0.16rem;}
.xing_zuo s{text-decoration: none;margin-left: 0.25rem;display: block;float: left;height: 0.43rem;line-height: 0.43rem;}
.jiang_su{margin-left: 1.6rem;height: 1rem;line-height: 1rem;border-bottom: 0.02rem solid #ccc;}
.jiang_su p{float: left;}
.jiang_su span img{width: 0.38rem;height: 0.38rem;position: absolute;top: 0.3rem;}
.jiang_su span{width: 1.5rem;display: block;float: right;position: relative;}
.jiang_su b{position: absolute;left: 0.45rem;font-weight: normal;}
.qian_ming{height: 1rem;line-height: 1rem;}
.qian_ming p{float: left;color: #9c9ca4;margin-left:0.22rem;}
.qian_ming span{float: left;color: #484858;font-weight: 600;font-size: 0.26rem;display: block;margin-left: 0.38rem;}

.per_album{margin-top:0.25rem;margin-bottom: 0.25rem;background: #fff;padding: 0.23rem 0 0.2rem 0.23rem;}
.lv_xing span img{width: 1.87rem;height: 1.87rem;overflow: hidden;display: inline-block;float: left;margin-right: 0.06rem;margin-bottom: 0.06rem;}
.lv_xing{float: left;width: 80%;margin-left: 0.3rem;}
.three_per{float: left;}
.three_per p{color:#9c9ca4;}
.three_per p.asa_ge{color: #dedee0;font-size: 0.46rem;margin-top: 0.2rem;}
.lv_xing a{display: inline-block;width: 1.87rem;height: 1.83rem;background: #f2f4fc;border-radius: 0.05rem;margin-top: 0.02rem;position: relative;}
.lv_xing a img.please{width: 0.82rem;height: 0.82rem;position: absolute;top: 12%;left: 25%;}
.lv_xing a s{text-decoration: none;position: absolute;bottom: 0.2rem;font-weight: bold;font-size: 0.3rem;left: 0.28rem;}
.music_add{margin-left: 0.2rem;float: left;width: 74%;}
.music_add p img{width: 0.3rem;height: 0.37rem;vertical-align:middle;margin-right: 0.14rem;}
.music_add p{height: 0.75rem;line-height: 0.75rem;border-bottom: 1px solid #ccc;}
.music_add  a{display: block;margin-top: 0.16rem;color: #6490fe;}
.super{padding: 0!important;position: relative;}
.joge{padding: 0.15rem 0 0.1rem 0.23rem;}
.quanxi{margin-left: 0.94rem!important;}
.quanxi .creaz{border: none;}
.quanxi .creaz i{color: #9c9ca4;}
.quanxi a img{height: 0.3rem;position: absolute;right: 0.3rem;top: 0.5rem;}
.quanxi a.marry{width: 89.5%;overflow: hidden;white-space: nowrap;color: #484858;margin-top: 0.07rem;}
.jog{padding: 0.15rem 0 0.05rem 0.23rem;}
.music_add p img.any_time{width: 0.37rem;height: 0.37rem;}
.add_name{margin-left: 0.38rem;}
.ism{/*height: 1rem;*/line-height: 1rem;}
.ism a{display: block;float: left;}
.ism a.special{width: 1rem;height: 1rem;position: relative;}
.ism a.special img.pic1{position: absolute;border-radius: 50%;width: 1rem;height: 1rem;}
.ism a.special img.pic2{position: absolute;border-radius: 50%;width: 0.5rem;height: 0.5rem;z-index: 3;top: 0.24rem;left: 0.24rem;}
.ism a.special i{position: absolute;border-radius: 50%;width: 1rem;height: 1rem;background: black;opacity: 0.3;}
.ism .videoi{margin-left:0.14rem;color: #302e40;}
.ism .check_in{width: 39%;text-align: right;}
.iam{border-bottom: 1px #ccc solid;padding-bottom: 0.09rem;}
.smart a{margin-left: 1.65rem;margin-top: 0.07rem;padding-bottom: 0.08rem;}
.up_file{padding-top: 0.15rem;margin-left: 1.55rem;padding-bottom: 0.15rem;border-bottom: 1px #ccc solid;}
.up_file li{height: 0.6rem;line-height: 0.6rem;}
.up_file li i{display: inline-block;width: 50%;float: left;text-align: left;}
.up_file li i.sk2{color: #9c9ca4;}
.up_file li i.look_up{color: #6490fe;}
.beauty_long{margin-left: 1.55rem;}
.beauty_long p{height: 0.7rem;line-height: 0.7rem;color: #9c9ca4;}
.beauty_long span{padding:0.1rem 0.25rem;border: 1px #ccc solid;display: inline-block;position: relative;border-radius: 0.05rem;}
.beauty_long span s{width: 0;height: 0;position: absolute;border-right: 0.15rem transparent solid;border-bottom: 0.15rem transparent solid;border-left:0.15rem #ccc solid;left: 0;top: 0;}
.leg1{padding-bottom: 0.2rem;}
.action_flim{float: left;padding-top: 0.3rem;padding-bottom: 0.2rem;}
.action_flim a img{width: 2rem;height: 2rem;}
.figure{width: 1.3rem;}
.near_num{padding-top: 0.3rem;}
.qiao_qiao{position: relative;}
.detail_1 {float: left;margin-left: 0.25rem;height: 0.67rem;line-height: 0.67rem;margin-top: 0.3rem;}
.river_action{font-size: 0.28rem;}
.drug_action{color: #9c9ca4;}
.enter_flim{position: absolute;right: 0.2rem;top: 1.1rem}
.enter_flim a img{height: 0.33rem;}
.tell_me{margin-top: 0.087rem;float: left;}
.tell_me li{height: 0.55rem;line-height: 0.55rem}
.holle_er{top: 0.68rem;}
.xiao_xin{float: left;padding-top: 0.22rem;/*padding-bottom: 0.15rem;*/}
.pic_3 a img{width: 1.47rem;height: 1.47rem;}
.pic_3 a{display: inline-block;float: left;width: 1.47rem;height: 1.47rem;position: relative;}
.pic_3 a.qu_jian{margin-left: 0.35rem;}
.pic_3 a i{width: 0.49rem;height: 0.49rem;background: #ffe456;position: absolute;line-height: 0.49rem;text-align: center;border-radius: 50%;right: 0;top: 0;}
.gist_ta{padding-bottom: 0.25rem;padding-top: 0.16rem;}
.gist_ta a{color: #6490fe;}
.bottom{position: fixed;background: #302e40;right: 0;left: 0;bottom: 0;z-index: 100;}
.size_pic{height: 0.7rem;line-height: 0.7rem;padding-top: 0.25rem;padding-bottom: 0.15rem;}
.size_pic a{display: inline-block;height: 0.7rem;line-height: 0.7rem;float: left;width: 24%;text-align: center;}
.size_pic a img{width: 0.6rem;height: 0.6rem;}
.size_pic span{color: #fff;display: inline-block;height: 0.7rem;line-height: 0.7rem;float: left;}
.dtt{margin-bottom: 1.1rem;position: relative;padding-bottom: 0;}
.fifi{padding-left: 0;}
/*举报弹出*/
.jubao{position: fixed;z-index: 10109;top: 0;left: 0;right: 0;width: 100%;height: 100%;display: none;}
.jubao p{height: 80%;background: black;opacity: 0.5;}
.white{height: 20%;background: #d7d7d7;position: relative;}
.white a{display: block;height: 0.82rem;line-height: 0.82rem;background: #fff;}
.white a span{text-align: center;display: block;}
.under_line{border-bottom: 1px #ccc solid;}
.cancle{position: absolute;bottom: 0;left: 0;right: 0;}
/*插件*/
.grey{position: fixed;width: 100%;height: 100%;background: black;opacity: 0.7;top: 0;z-index: 100;display: none;}
.grey img{width: 0.8rem;height: 0.8rem;position: fixed;z-index: 100;bottom: 4%;left: 3.3rem;}
.chajian{position: fixed;top: 1rem;z-index: 106;display: none;}
.swiper-pagination-bullet i{text-indent: 1000rem;margin-top: 4rem;background: #fff;width: 0.1rem;height: 0.1rem;border-radius: 50%;display: inline-block;}
#pagination .swiper-pagination-bullet{width: 0!important;}
#pagination{left: 2.5rem;bottom: 3rem;}
.travel{width: 87%; margin: 0 auto; display: block;background: #fff;height: 5.5rem;border-radius: 0.5rem;padding: 0.42rem;position: relative;}
.travel p{height: 0.7rem;line-height: 0.7rem;border-bottom: 0.02rem #dedee0 dashed;padding-bottom: 0.3rem;}
.travel img.tiaoxi{width: 0.6rem;height: 0.6rem;display: inline-block;float: right;}
.travel p span{display: inline-block;float: left;color: #fc6676;}
.left{padding-top:0.27rem;width: 62%;float: left;}
.left li{height:0.81rem;line-height: 0.81rem;}
.left li.jurdui{position: relative;}
.left li i{width:0.17rem;height: 0.17rem;border-radius: 50%;background: #a8f2d6;display: inline-block;margin-right: 0.28rem;}
.left li i.frr{width: 0.4rem;height: 0.4rem;position: absolute;top: 0.2rem;left: -0.1rem;}
.left li.jurdui span{position: absolute;left: 0.45rem;font-size: 0.28rem;color: #302e40;}
.left li span{display: inline-block;color: #7a7a84;}
.gao_ji{float: right;margin-top: 0.5rem;width: 38%}
.gao_ji img{width: 100%;}
.yue_ni{position: absolute;width: 86%;border: 0.02rem solid #dedee0;bottom: 0;height: 0.7rem;border-radius: 0.5rem;margin-bottom: 0.4rem;}
.yue_ni a{display: block;height: 0.7rem;line-height: 0.7rem;text-align: center;}













