.dynamic_lead{
	height: .9rem;
	background: #312e41;
	color: #fff;
	font-size: 0.36rem;
    display: -webkit-box;
    max-width: 1080px;
    line-height: .9rem;
    text-align: center;
}
.dynamic_lead div{
	width: 100%;
}
.dynamic_lead div{
	float: left;
	width: 50%;
	color: #fff;
}
.dynamic_lead div a{
	color: #9a98a6;
	display: block;
}
.active-nav a{
	color: #fff!important;
}
.dynamic_tc_list{
	padding: 0.2rem 0.2rem;
	margin-bottom: 1rem;
	width: 7.1rem!important;
}
.dynamic_gz_list{
		padding: 0.2rem 0.2rem;
	margin-bottom: 1rem;
	width: 7.1rem!important;
}
.tc_txt{
	position: relative;
	margin-top: 0.4rem;
}
.tc_txt:last-child{
	margin-bottom: 0.9rem;
}
.tc_txt .head_img{
	position: absolute;
	left: 0;
	top: 0;
}
.tc_txt .head_img img{
	width: 0.9rem;
	height:  0.9rem;
	border-radius: 100%;
}
.tc_txt .tc_de{
	margin-left: 1rem;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #e8e8e8
}
.tc_txt .tc_de .name{
	font-size: 0.36rem;
}
.tc_txt .tc_de .name .women{
	background-color: #ffa1cf;
	width: 0.7rem;
	height: 0.3rem;
	border-radius: 0.05rem;
	color: #fff;
	line-height: 0.3rem;
	font-size: 0.24rem;
	display: inline-block;
	margin-left: 0.2rem;
}
.tc_txt .tc_de .name .women em{
	    background: url(../images/women.png);
    background-size: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
    margin-right: 0.1rem;
    margin-left: 0.04rem;
}
.tc_txt .tc_de .name .men{
	background-color: #277de2;
	width: 0.7rem;
	height: 0.3rem;
	border-radius: 0.05rem;
	color: #fff;
	line-height: 0.3rem;
	font-size: 0.24rem;
	display: inline-block;
	margin-left: 0.2rem;
}
.tc_txt .tc_de .name .men em{
	    background: url(../images/men.png);
    background-size: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
    margin-right: 0.1rem;
    margin-left: 0.04rem;
}
.tc_txt .de_wenzi{
	font-size: 0.3rem;
	margin: 0.1rem 0;
}
.tc_txt .tc_de .time{
    font-size: 0.26rem;
    color: #97969b;
    margin-bottom: 0.1rem;
}
.tc_txt .tc_de .de_pic img{
	width: 5rem;
}
.tc_txt .tc_de .de_pic_1 {
	position: relative;
}
.tc_txt .tc_de .de_pic_1 span{
	width: 0.75rem;
    height: 0.35rem;
    font-size: 0.24rem;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    right: 0.1rem;
    top: 0;
    color: #fff;
    text-align: center;
}
.tc_txt .tc_de .de_pic_1 img{
	width: 32%;
	height: 2rem;
}
.tc_txt .tc_de .de_txt{
	margin-top: 0.2rem;
}
.tc_txt .tc_de .de_txt span{
	color: #97969b;
}
.tc_txt .tc_de .de_txt .de_speak{
	float: right;
}
.tc_txt .tc_de .de_txt .de_speak p{
	background:url(../images/messages.png) no-repeat center;
	background-size: 0.5rem;
	width: 0.5rem;
	height: 0.5rem;
	display: inline-block;
	margin-right: 0.2rem;
}
.tc_txt .tc_de .de_txt .de_speak i{
	background:url(../images/flower.png) no-repeat center;
	background-size: 0.5rem;
	width: 0.5rem;
	height: 0.5rem;
	display: inline-block;
	margin-right: 0.1rem;
}
.public_foot{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: .9rem;
	line-height: .5rem;
	background-color: #fff;
	text-align: center;
    padding-top: 0.1rem;
    z-index: 1111;
}
.public_foot ul li{
	width: 20%;
	float: left;
}
.public_foot ul li a{
	display: block;
	color: #a3a2a7
}
.public_foot .online p{
	background:url(../images/person.png) no-repeat;
	background-size: 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	margin: 0 auto;
}
.public_foot .frind p{
	background:url(../images/eyes.png) no-repeat;
	background-size: 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	margin: 0 auto;
}
.public_foot .payfor p{
	background:url(../images/flash.png) no-repeat;
	background-size: 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	margin: 0 auto;
}
.public_foot .move p{
	background:url(../images/lo.png) no-repeat;
	background-size: 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	margin: 0 auto;
}
.public_foot .mine p{
	background:url(../images/my.png) no-repeat;
	background-size: 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	margin: 0 auto;
}
