
*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;color: #000;}
body.show {opacity:1;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}
body{position: relative;}
.sur_online{height: 1.8rem;text-align: center;background: #302e40;width: 100%;line-height: 1.8rem;position: fixed;z-index: 99;}
.sur_online p{color: #fff;/*width: 1rem;*/height: 1.8rem;line-height: 1.8rem;font-size: 0.75rem;}
.top_img{padding-top: 1.8rem;}
.area_place{height: 1.3rem;line-height: 1.3rem;background: #fff;border-bottom: 1px #cbcbcc solid;}
.area_place .su_zhou{float: left;margin-left: 0.6rem;font-size:0.4rem}
.area_place .shai_xuan{float: right;margin-right: 0.6rem;font-size: 0.4rem;}
.area_place .shai_xuan a{color: #6490fe;}
.yao_yao{width: 100%}
.yao_yao ul li{text-align: center;border-radius: 50%;height: 8.72rem;}
.yao_yao ul{float: left;width: 33%;}
.yao_yao ul li img{border-radius: 50%;border: 1px #dfe1e9 solid;vertical-align: middle;}
.yao_yao ul.second_two li img.beau{border: 0.11rem #ffe456 solid!important;}
.yao_yao ul.frist_one{padding-top: 4rem;margin-left: 0.5%;}
.yao_yao ul.frist_one a{display: block;}
.yao_yao ul.second_two{padding-top: 0.76rem;}
.yao_yao ul.thrid_three{padding-top: 4rem;}
.yao_yao ul.frist_one li{margin-bottom: }
.yao_yao ul li a p{height: 0.72rem;line-height: 0.72rem;font-size:0.72rem;font-weight: bold;margin-top: 0.8rem;overflow: hidden;}
.yao_yao ul li a span{height: 0.64rem;line-height: 0.64rem;font-size: 0.6rem;color: #7a7a84;margin-top: 0.3rem;display: block;overflow: hidden;}
.yao_yao ul li{position: relative;}
.yao_yao ul li i{width: 0.62rem;height: 0.62rem;background: url(../images/vip1.png) no-repeat;display: block;text-align: center;border-radius: 50%;position: absolute;left: 2.7rem;bottom: 2.45rem;}
.yao_yao ul li a s{background-color: #ffd00e;position: absolute;width: 0.8rem;height: 0.8rem;border-radius: 50%;top: 5.5rem;left: 2.6rem;}
.yao_yao ul li a.play_b{position: absolute;bottom: 2.9rem;right: 0.6rem;background: #fff;width: 1.2rem;height: 1.2rem;border-radius: 50%;}
.sweet{position: absolute;right: 0.6rem;top: 4rem;}
.sweet p{width: 2.52rem;height: 2rem;line-height: 2rem;background: #91919e;position: relative;border-radius: 0.9rem;}
.sweet p span{color: #fff;z-index: 1;position: absolute;right: 0.5rem;font-size: 0.7rem;}
.sweet p i{background: url(../images/ck.png) no-repeat;width: 1.28rem;height: 1.28rem;position: absolute;left: 0.3rem;top: 0.5rem;}

.public_foot{ position: fixed; bottom: 0; left: 0; right: 0; height: .9rem; line-height: .5rem; background-color: #fff; text-align: center; padding-top: 0.1rem; } 
.public_foot ul li{ width: 20%; float: left; } 
.public_foot ul li a{ display: block; color: #a3a2a7 } 
.public_foot .online p{ background:url(../images/person.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .frind p{ background:url(../images/eyes.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .payfor p{ background:url(../images/flash.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .move p{ background:url(../images/lo.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; } 
.public_foot .mine p{ background:url(../images/my.png) no-repeat; background-size: 0.4rem; width: 0.4rem; height: 0.4rem; margin: 0 auto; }









