body{
	background: #f1f4fb;
}
.pay_de_lead{
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	background: #312e41;
	color: #fff;
	font-size: 0.36rem;
	position: relative;
}
.pay_de_lead p{
	background: url(../images/toleft.png) no-repeat center;
	background-size: 0.6rem;
	height: 0.6rem;
	width: 0.6rem;
	display: inline-block;
	position: absolute;
	left: 0.2rem;
	top: 0.15rem;
}
.pay_de_lead span{
	background: url(../images/share.png) no-repeat center;
	background-size: 0.6rem;
	height: 0.6rem;
	width: 0.6rem;
	display: inline-block;
	position: absolute;
	right: 1rem;
	top: 0.15rem;
}
.pay_de_lead em{
	background: url(../images/box.png) no-repeat center;
	background-size: 0.6rem;
	height: 0.6rem;
	width: 0.6rem;
	display: inline-block;
	position: absolute;
	right: 0.2rem;
	top: 0.15rem;
}
.swiper-container{
	height: 7rem;
	overflow: hidden;
}
.swiper-wrapper img{
	width: 100%;
}
.pay_de_infor{
	padding: 0.2rem;
	border-bottom: 1px solid #f0f0f0;
	background: #fff;
}
.pay_de_infor h1{
	font-size: 0.3rem;
	font-weight: bold;
	margin-bottom: 0.1rem;
}
.pay_de_infor .infor_txt1 span{
	float: left;
	color: #9f9ea3;
	font-size: 0.28rem;
}
.pay_de_infor .infor_txt1 p{
	float: right;
	font-size: 0.28rem;
	color: #ffa2b9;
}
.pay_de_infor .infor_txt1 p i{
	font-style: normal;
	font-size: 0.34rem;
	color: #f36a72;
}
.pay_de_infor .infor_txt1 p em{
	font-size: 0.34rem;
	color: #f36a72;
}
.pay_de_infor .infor_txt2{
	float: right;
	margin-top: 0.2rem;
	font-size: 0.28rem;
	color: #9f9ea3;
}
.pay_de_infor_detail{
	padding: 0.2rem;
	background: #fff;
	margin-bottom: 0.2rem;
	position: relative;
}
.pay_de_infor_detail a{
	display: block;
}
.pay_de_infor_detail .infor_img{
	float: left;
	margin-right: 0.2rem;
}
.pay_de_infor_detail .infor_img img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
}
.pay_de_infor_detail .infor_right h1{
	font-size: 0.3rem;
	color: #7a797f;
	margin-bottom: 0.1rem;
	position: relative;
}
.pay_de_infor_detail .infor_right h1 span{
	background-color: #ffa1cf;
    width: 0.7rem;
    height: 0.25rem;
    border-radius: 0.05rem;
    color: #fff;
    line-height: 0.25rem;
    font-size: 0.24rem;
    display: inline-block;
    margin-left: 0.2rem;
}
.pay_de_infor_detail .infor_right h1 span i{
	    background: url(../images/women.png);
    background-size: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
    margin-right: 0.1rem;
    margin-left: 0.04rem;
}
.pay_de_infor_detail .infor_right h1 b{
	width: 0.3rem;
	height: 0.3rem;
	background: #ffde31;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	line-height: 0.3rem;
	font-size: 0.24rem;
	margin-left: 0.1rem
}
.pay_de_infor_detail .infor_right h2{
	font-size: 0.28rem;
	margin-bottom: 0.1rem;
}
.pay_de_infor_detail .infor_right h2 em{
	margin-right: 0.1rem;
}
.pay_de_infor_detail .infor_right h3{
	font-size: 0.28rem;
}	
.pay_de_infor_detail .infor_right h3 em{
	margin-right: 0.1rem;
}
.pay_de_infor_detail .infor_arrow{
	position: absolute;
	right: 0.2rem;
	top: .8rem;
	background: url(../images/toright.png) no-repeat center;
	background-size: 0.5rem;
	width: 0.5rem;
	height: 0.5rem;
}
.exp_detail{
	margin-bottom: .9rem;
}
.explain{
	padding: 0.2rem  0 0 0.2rem;
	background: #fff;
}
.explain .exp_1{
	padding-bottom: 0.2rem;
}
.explain .exp_1 h1{
	font-size: 0.3rem;
	font-weight: bold;
	margin-bottom: 0.2rem
}
.explain .exp_1 span{
	font-size: 0.28rem;
	color: #8d8c91;
}
.explain .exp_1:last-child{
	border-bottom: 1px solid #eeeeee;
}
.exp_scope{
	background: #fff;
	padding: 0.2rem;
}
.exp_scope h1{
	font-size: 0.3rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
}
.exp_scope ul li{
	float: left;
	width: 2rem;
	text-align: center;
	font-size: 0.3rem;
	border: 1px solid #eeeeee;
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	position: relative;
}
.exp_scope ul li i{
	background: url(../images/sna.png) no-repeat center;
	background-size: 0.2rem;
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
	top: 0;
	left: 0;
}
.yue{
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	background: #ffe455;
	text-align: center;
	font-weight: bold;
	color: #333;
	font-size: 0.38rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.yue a{
	display: block;
}
.chick{
	background: url(../images/star_2.png)!important;
	background-size: 0.6rem!important;
}
.swiper-pagination-bullet-active{
	background: #ffe455!important;
}