<!DOCTYPE html>
<html>
<head>
<meta charset="{#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>我的积分</title>
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v=2" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/money.css?v=2" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/integral.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
	var pointRatio = {#$cfg_pointRatio#}, pointName = '{#$cfg_pointName#}';
</script>
</head>
<body>

  <!-- 头部 s -->
  <div class="header">
    <div class="header-l">
      <a href="javascript:;" onclick="history.go(-1)"><img src="{#$templets_skin#}images/back-r.png"></a>
    </div>
    <div class="header-c">我的积分</div>
    <div class="header-r">
      <a href="javascript:;" class="screen"><img src="{#$templets_skin#}images/screen.png"></a>
    </div>

    <div class="nav">
      <ul class="fn-clear">
        {#siteConfig action="siteModule" return="<module></module>1"#}
        <li><a href="{#$module1.url#}" target="_blank"><span>{#$module1.name#}</span></a></li>
        {#/siteConfig#}
      </ul>
    </div>
  </div>
  <!-- 头部 s -->

  <!-- 余额总览 s -->
  <div class="bgbox">
    <p class="tit">账户积分</p>
    <p class="count">{#$userinfo.point#}</p>
  </div>
  <!-- 余额总览 d -->

  <!-- 列表 s -->
  <div class="operate">
    <ul>
      <li><a href="{#getUrlPath service='member' type='user' template='convert'#}"><i class="icon3"></i>现金积分兑换</a></li>
      <li><a href="{#getUrlPath service='member' type='user' template='transfer'#}"><i class="icon4"></i>积分转赠</a></li>
    </ul>
  </div>
  <!-- 列表 e -->






<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=5"></script>
<script type="text/javascript" src="{#$templets_skin#}js/order.js?v=5"></script>
</body>
</html>
