<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>个人资料 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/portrait.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
  var bindbackUrl = '{#getUrlPath service='member' type='user' template='profile'#}';
</script>
</head>

<body>
{#$template = 'protrait'#}
{#$backUrl = "{#getUrlPath service='member' type='user' template='profile'#}"#}
{#$pageTitle = "设置头像"#}
{#include file="top.html"#}

<div id="clipArea"><a href="javascript:;" class="filebtn">上传图片</a></div>

<form method="post" id="uploadForm" action="/include/upload.inc.php" enctype="multipart/form-data">
  <input type="hidden" name="mod" id="mod" value="siteConfig" />
  <input type="hidden" name="type" id="type" value="card" />
  <input type="hidden" name="filetype" id="filetype" value="image" />
  <input type="file" name="Filedata" id="Filedata" accept="image/jpg,image/jpeg,image/png,image/gif">
</form>


<div class="error"></div>


<script>
var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = 1, modelType = 'job', upType = 'photo';
var areaLevel = '{#$detail_addrname#}';
var typeidLevel = '{#if $userinfo.addrName != ""#}{#$userinfo.addrName#}{#/if#}', typeid = '{#$userinfo.addrid#}';
</script>

<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.ajaxFileUpload.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/iscroll-zoom.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/hammer.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.photoClip.js?v=4"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=2"></script>
<script type="text/javascript" src="{#$templets_skin#}js/portrait.js?v=3"></script>
</body>
</html>
