<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>验证团购券 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v=2" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/verify-tuan.css?v=2" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = {#$cfg_hideUrl#};
	var module = '{#$module#}',
			action = '/include/ajax.php?service=tuan&action=useQuan',
			verify = '/include/ajax.php?service=tuan&action=verifyQuan';
</script>
</head>

<body>
  <!-- 头部 s -->
  <div class="header">
    <div class="header-l">
      <a href="javascript:;" onclick="history.go(-1)"><img src="{#$templets_skin#}images/back-r.png" error></a>
    </div>
    <div class="header-c">团购券核销</div>
    <div class="header-r">
      <a href="javascript:;" class="screen"><img src="{#$templets_skin#}images/screen.png"></a>
    </div>
  </div>
  <!-- 头部 s -->

	<form class="fabuForm" action="" method="post" id="fabuForm">
		<div class="pswbox">
			<div class="inptitbox">
		    <p>密码 <span class="tip-inline"></span></p>
		    <div class="inptitle">
		      <input type="tel" placeholder="请输入12位团购券密码" maxlength="12" name="title" value="">
		    </div>
		  </div>
		</div>
		<div class="addbox"><a href="javascript:;" class="addbtn">新增密码框</a></div>

		<a href="javascript:;" id="tj">确认消费</a>
	</form>

	<div class="bg"></div>
	<div class="fixerror"><p></p></div>

<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/verify-tuan.js"></script>
</body>
</html>
