<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>我的发布</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/re_public.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/_head.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/zepto.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/touchScale.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
</head>
<body>
<include file="Public/share" title='包含文件'/>
<style>
        body{
            margin-top: 0;
        }
        .header {
            height: .9rem;
            background: #fd5530 !important;
            color: #fff;
            font-size: .32rem;
            line-height: .9rem;
            max-width: 1080px;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            z-index: 11;
            overflow: hidden;
        }
    </style>
<!-- 共同顶部 s-->
<div class="header fn-clear">
    <div class="back"><a href="javascript:history.go(-1)"><i></i>返回</a></div>
    <div class="title">编辑车辆信息</div>
    <div class="share"></div>
</div>
<!-- 共同顶部 e-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobiscroll.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/car_issue.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/mobiscroll.js"></script>
<input type="hidden" value="{$carinfo_edit['carinfo_id']}" id="carinfo_id">
<div class="input-control fn-clear">
    <s></s>
    <span>标题</span>
    <div class="user-fav fn-clear">
        <input type="text" class="time" placeholder="请输入标题" id="carinfo_title" value="{$carinfo_edit['carinfo_title']}">
    </div>
</div>
<div class="input-control fn-clear bag">
    <s></s>
    <span>车辆类型</span>
    <div class="user-fav fn-clear">
        <em>请选择车辆类型</em>
        <div class="arrow "><img src="__PUBLIC__/Home/images/top-arrow.png" alt="" class="bag_bc"></div>
    </div>
</div>
<div class="choice_box bag_1 fn-hide fn-clear" id="carinfo_cartype">
    <ul>
        <li class={$carinfo_edit['carinfo_cartype']=='出租车'?"CB_bc":''}><i></i><em>出租车</em></li>
        <li class={$carinfo_edit['carinfo_cartype']=='三轮车'?"CB_bc":''}><i></i><em>三轮车</em></li>
        <li class={$carinfo_edit['carinfo_cartype']=='大货车'?"CB_bc":''}><i></i><em>大货车</em></li>
        <li class={$carinfo_edit['carinfo_cartype']=='小货车'?"CB_bc":''}><i></i><em>小货车</em></li>
        <li class={$carinfo_edit['carinfo_cartype']=='工程车'?"CB_bc":''}><i></i><em>工程车</em></li>
        <li class={$carinfo_edit['carinfo_cartype']=='道路救援'?"CB_bc":''}><i></i><em>道路救援</em></li>
    </ul>
</div>
<div class="intro">
    <h1>车辆详情</h1>
    <div class="intro_txt">
        <textarea name="" id="carinfo_des" cols="30" rows="10" placeholder="请输入车辆描述 ...">{$carinfo_edit['carinfo_des']}</textarea>
    </div>
</div>
<div class="certfy picture_1">
    <div class="pic_list">
        <div class="img-box">
            <ul class="uploader-list fn-clear" id="fileList1">
                <foreach name="carinfo_imgs" item="imgs">
                    <li><img src="{$imgs['imgs_smallpath']}" data-imgid="{$imgs['imgs_id']}"/><i></i></li>
                </foreach>
                <li class="uploadbtn">
                    <div id="filePicker1" data-type="atlas" data-amount="5" class="webuploader-container picker">
                        <div class="webuploader-pick"><div class="webuploader-pick"><em></em><p>车辆相册</p></div></div>
                    </div>
                </li>
            </ul>
            <p class="imgtip"></p>
            <div class="pic_tips">（车辆相册628X366长方形图片最佳，最多可上传5张） </div>
        </div>
    </div>
</div>
<div class="b_box">
    <div class="input-control fn-clear">
        <s></s>
        <span>联系人</span>
        <div class="user-fav fn-clear">
            <input type="text" class="time" placeholder="如何称呼您" id="carinfo_contact" value="{$carinfo_edit['carinfo_contact']}">
        </div>
    </div>
    <div class="input-control fn-clear">
        <s></s>
        <span>联系电话</span>
        <div class="user-fav fn-clear">
            <input type="text" class="time" placeholder="请输入联系电话" id="carinfo_phone" value="{$carinfo_edit['carinfo_phone']}">
        </div>
    </div>
</div>
<div class="agree agree_bc">
    <i></i>我已阅读并同意<a href="__MODULE__/Index/userAgreement">《本地鸟用户协议》</a>
</div>
<form id='buyorderform' method="post" action="__MODULE__/Wxpay/addorder">
    <input type="hidden" id="buypackageid" name="id" >
    <input type="hidden" id="order_cate" name="order_cate" value="3">
    <input type="hidden" id="post_title" name="carinfo_title">
    <input type="hidden" id="post_cartype" name="carinfo_cartype">
    <input type="hidden" id="post_des" name="carinfo_des">
    <input type="hidden" id="post_imgs" name="carinfo_imgs">
    <input type="hidden" id="post_contact" name="carinfo_contact">
    <input type="hidden" id="post_phone" name="carinfo_phone">
</form>
<div class="delete">
    <h1>提示：</h1>
    <h2>是否删除？</h2>
    <div class="de_foot"><div class="de_btn"><span class="sure">确定</span><span class="cancel">取消</span></div></div>
</div>
<!-- 申请已提交成功 s -->
<div class="succeed_box cheng">
    <h1>修改成功</h1>
    <h2>您可以在<em>个人中心-我的发布</em>进行管理</h2>
    <p><a href="javascript:history.go(-1);location.replace(document.referrer);"><span>确定</span></a></p>
</div>
<!-- 申请已提交成功 e -->
<div class="disk"></div>
<div class="btn_box">
<div class="btn">确定修改</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/mobiscroll.datetime.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/mobiscroll.select.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/car_issue.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Home/js/layer.js"></script>

<script type="text/javascript">
    wx.config({
        debug: false,
        appId: '<?php echo $signPackage["appId"];?>',
        timestamp: '<?php echo $signPackage['timestamp'];?>',
        nonceStr: '<?php echo $signPackage['nonceStr'];?>',
        signature: '<?php echo $signPackage['signature'];?>',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'chooseImage',
            'uploadImage',
            'downloadImage'
        ]
    });
    var download_img=[];
    var images = {
        localId: [],
        serverId: []
    }
    $("#filePicker1").click(function(){
        var length = $('#fileList1 li').length;
        var conunt = 6 - length;
        if (conunt == 0) {

        }else{
            wx.ready(function(){
                //拍照或从手机相册中选图接口
                wx.chooseImage({
                    count: conunt, // 最多能选择多少张图片，默认9
                    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        var localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        var localIdImg=localId.toString().split(",");
                        //上传图片接口
                        if (localIdImg.length == 0) {
                            return;
                        }
                        var i = 0, length = images.localId.length;
                        images.serverId = [];
                        function upload() {
                            wx.uploadImage({
                                localId: localIdImg[i],
                                success: function (res) {
                                    $("#fileList1").prepend('<li><img src="'+localIdImg[i]+'" /><i></i></li>');
                                    i++;
                                    images.serverId.push(res.serverId);
                                    download_img =images.serverId;
                                    if (i < localIdImg.length) {
                                        upload();
                                    }
                                    if ($('.picture_1 ul li').length > 5) {
                                        var x = $('.picture_1 ul li');
                                        x.closest('.uploader-list').find('.uploadbtn').hide();
                                    }
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();
                    }
                });
            });
        }
    });
    $('.picture_1').delegate('#fileList1 li i','click',function(){
        var x = $(this),
            id = x.closest('li').find('img').data('imgid');
        $('.delete').show();
        $('.disk').show();
        $('.delete .sure').click(function(){
            if(id=='') {
                find = x.closest('li');
                find.remove();
                if ($('.picture_1 ul li').length < 6) {
                    $('.picture_1').find('.uploadbtn').show();
                }
                $('.delete').hide();
                $('.disk').hide();
            }else{
                $.post("__MODULE__/CityFreight/delimg",{imgs_id:id},function(data) {
                    if (data.status == "1") {
                        find = x.closest('li');
                        find.remove();
                        if ($('.picture_1 ul li').length < 6) {
                            $('.picture_1').find('.uploadbtn').show();
                        }
                        $('.delete').hide();
                        $('.disk').hide();
                    }else{
                        $('.delete').hide();
                        $('.disk').hide();
                    }
                })
            }
        })
    })
    $(function(){
        $('.change').click(function(){
            $(this).hide();
            $(this).closest('.user-fav').find('input').removeAttr("disabled");
            $('.change_box').show();
            $('.send').show();
        })
    })
    $('.btn').click(function(){
        $.post('{:U("Home/Index/userRelease")}', {}, function(data) {
            if (data == 1) {
                layer.msg('对不起，您没有权利发布信息')
            }else{
                var bianhu = 0;
                var carinfo_title = $('#carinfo_title').val();
                var carinfo_des = $('#carinfo_des').val();
                var imgcount = $('#fileList1 li').length;//车辆相册
                var carinfo_contact = $('#carinfo_contact').val();//联系人
                var carinfo_phone = $('#carinfo_phone').val();//手机
                var select = $('.agree_bc').text(); //协议
                var cartype=$('#carinfo_cartype').find('.CB_bc em').text();
                var carinfo_id=$('#carinfo_id').val();
                    if (!carinfo_title) {
                        layer.msg('请先填写标题')
                    } else if((!carinfo_des)&&imgcount==1){
                        layer.msg('请先上传车辆相册')
                    }else if(!carinfo_contact){
                        layer.msg('请先填写联系人')
                    }else if(!carinfo_phone){
                        layer.msg('请先填写手机号码')
                    }else{
                        bianhu = 1;
                    }
                    if (bianhu == 1) {
                        if(!select){
                            layer.msg('请先阅读并同意《本地鸟用户协议》')
                        }else{
                            $.post("__MODULE__/CityFreight/editcarinfo",{carinfo_id:carinfo_id,carinfo_title:carinfo_title,carinfo_contact:carinfo_contact,carinfo_cartype:cartype,carinfo_phone:carinfo_phone,carinfo_des:carinfo_des,carinfo_imgs:download_img},function(data) {
                                if (data.status == "1") {
                                    //提交成功弹出层
                                    $('.cheng').show();
                                    $('.disk').show();
                                }else{
                                }
                            })
                        }
                    }
            }
        })

    })

</script>
</body>
</html>