<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>我的发布</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/mui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/re_public.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/_head.css">
	<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/touchScale.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/slider.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
</head>
<body>
<include file="Public/share" title='包含文件'/>
<!-- 共同顶部 s-->
<div class="header fn-clear">
	<div class="back"><a href="javascript:history.go(-1)"><i></i>返回</a></div>
	<div class="title">发布顺路货</div>
	<div class="share"></div>
</div>
<!-- 共同顶部 e-->
<link rel="stylesheet" href="__PUBLIC__/Home/css/issue.css">
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<!-- 提示标签 s-->
<div class="tips">
	<div class="tips_con">
		<em>置顶</em>能让你的信息更靠前！
	</div>
</div>
<!-- 提示标签 e-->
<!-- 发布列表 s-->
<!-- 商家发布列表 s -->
<div class="issue_list">
	<div class="iss_txt">
		<div class="iss_detail fn-clear"><a href="shop_detail.shtml">
			<div class="iss_pic lose_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>杜菲尼卫浴</h1>
			<p>营业时间：08:00-18:00</p>
			<p><i></i>8888 次</p>
			<span>太阳坡建材城A区2幢15号商铺</span>
		</a></div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i></i>待审核</div>
			<div class="is_btn">
				<ul>
					<li>编辑</li>
					<li>置顶</li>
					<li>发起活动</li>
					<li>删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt">
		<div class="iss_detail fn-clear"><a href="shop_detail.shtml">
			<div class="iss_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>杜菲尼卫浴</h1>
			<p>营业时间：08:00-18:00</p>
			<p><i></i>8888 次</p>
			<span>太阳坡建材城A区2幢15号商铺</span>
		</a>
			<div class="apply renew">提前续费</div>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="be_to"></i>即将失效</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="is_bc stick">置顶</li>
					<li class="is_bc"><a href="huodong.shtml">发起活动</a></li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt ">
		<div class="iss_detail fn-clear"><a href="shop_detail.shtml">
			<div class="iss_pic lose_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>杜菲尼卫浴</h1>
			<p>营业时间：08:00-18:00</p>
			<p><i></i>8888 次</p>
			<span>太阳坡建材城A区2幢15号商铺</span>
		</a>
			<div class="apply dredge">申请开通</div>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="lose"></i>已失效</div>
			<div class="is_btn">
				<ul>
					<li>编辑</li>
					<li class="">置顶</li>
					<li>发起活动</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt normal">
		<div class="iss_detail fn-clear"><a href="shop_detail.shtml">
			<div class="iss_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>杜菲尼卫浴</h1>
			<p>营业时间：08:00-18:00</p>
			<p><i></i>8888 次</p>
			<span>太阳坡建材城A区2幢15号商铺</span>
		</a>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="ing"></i>正常运营</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="is_bc stick">置顶</li>
					<li class="is_bc"><a href="huodong.shtml">发起活动</a></li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt normal">
		<div class="iss_detail fn-clear"><a href="shop_detail.shtml">
			<div class="iss_pic"><img src="upfile/asdfasdad.png" alt=""><i class="huo"></i></div>
			<h1>杜菲尼卫浴</h1>
			<p>营业时间：08:00-18:00</p>
			<p><i></i>8888 次</p>
			<span>太阳坡建材城A区2幢15号商铺</span>
		</a>
		</div>
		<div class="time"><em>置顶时间：17.06.30-17.07.30</em><em>活动时间：17.06.30-17.07.30</em></div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="ing"></i>正常运营</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="">已置顶</li>
					<li class="is_bc">编辑活动</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 商家发布列表 e -->
<!-- 相亲发布列表 s -->
<div class="issue_list">
	<div class="is_txt iss_txt"><a href="dating_detail.shtml">
		<div class="dating_detail fn-clear">
			<div class="dat_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<div class="dat_name">往事随风<em>22岁</em><i class="women"></i><span>17.6.27</span></div>
			<div class="dat_kind">交友类型：交友 婚恋</div>
			<div class="dat_info">婚姻状况：单身</div>
			<div class="dat_info">居住地：湖西大永宁村</div>
		</div>
	</a>
		<div class="is_footer fn-clear">
			<div class="schedule">置顶时间：17.06.30-17.07.30</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="">已置顶</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="is_txt iss_txt"><a href="dating_detail.shtml">
		<div class="dating_detail fn-clear">
			<div class="dat_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<div class="dat_name">往事随风<em>22岁</em><i class="women"></i><span>17.6.27</span></div>
			<div class="dat_kind">交友类型：交友 婚恋</div>
			<div class="dat_info">婚姻状况：单身</div>
			<div class="dat_info">居住地：湖西大永宁村</div>
		</div>
	</a>
		<div class="is_footer fn-clear">
			<div class="schedule"></div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="is_bc stick">置顶</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 相亲发布列表 e -->
<!-- 车辆信息发布列表 s-->
<div class="issue_list">
	<div class="iss_txt car_is">
		<div class="mer_detail fn-clear"><a href="vehicle_detail.shtml">
			<div class="mer_pic lose_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>解放牌大货车常年找货</h1>
			<p>浏览：<em>8888</em> 次</p>
			<span>大货车</span>
		</a>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i></i>待审核</div>
			<div class="is_btn">
				<ul>
					<li>编辑</li>
					<li class="">置顶</li>
					<li>删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt car_is">
		<div class="mer_detail fn-clear"><a href="vehicle_detail.shtml">
			<div class="mer_pic"><img src="upfile/asdfasdad.png" alt=""></div>
			<h1>解放牌大货车常年找货</h1>
			<p>浏览：<em>8888</em> 次</p>
			<span>大货车</span>
		</a>
			<div class="apply dredge">申请开通</div>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="lose"></i>已失效</div>
			<div class="is_btn">
				<ul>
					<li>编辑</li>
					<li class="">置顶</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt car_is">
		<div class="mer_detail fn-clear"><a href="vehicle_detail.shtml">
			<div class="mer_pic"><img src="upfile/asdfasdad.png" alt=""><i class="top"></i></div>
			<h1>解放牌大货车常年找货</h1>
			<p>浏览：<em>8888</em> 次</p>
			<span>大货车</span>
		</a>
		</div>
		<div class="time"><em>置顶时间：17.06.30-17.07.30</em></div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="ing"></i>正常运营</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class=" stick">已置顶</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iss_txt car_is">
		<div class="mer_detail fn-clear"><a href="vehicle_detail.shtml">
			<div class="mer_pic"><img src="upfile/asdfasdad.png" alt=""></i></div>
			<h1>解放牌大货车常年找货</h1>
			<p>浏览：<em>8888</em> 次</p>
			<span>大货车</span>
		</a>
			<div class="apply renew">提前续费</div>
		</div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="be_to"></i>即将失效</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc">编辑</li>
					<li class="is_bc stick">置顶</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 车辆信息发布列表 e-->


<div class="issue_list">
	<foreach name="res" item="v">
	<?php if($v['post_type'] == 9){ ?>
	<?php if($v['shunlu_state'] == 0 && $v['shunlu_type']==1){ ?>
	<div class="is_txt iss_txt car_is lose_pic dataval" data-ztype="{$v['post_ztype']}" data-table="{$v['post_table']}" data-id="{$v['post_id']}" data-edit="{$v['post_edit']}">
		<div class="car_detail fn-clear"> <a href="__MODULE__/CityFreight/shunludetail/shunlu_id/{$v['post_id']}">
			<div class="car_pic "><img src="{$v['shunlu_img']}" alt=""></div>
			<div class="cd_title"><i class="time"></i>{$v['shunlu_starttime']} <?php if($v['shunlu_contactsex'] == '男'){ ?><i class="man"></i> <?php }else{ ?><i class="women"></i> <?php } ?><span>{$v['shunlu_cartype']}</span></div>
			<ul>
				<li><em class="start">起</em>{$v['shunlu_startplace']}</li>
				<li><em class="end">终</em>{$v['shunlu_endplace']}</li>
			</ul>
		</a></div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="lose"></i>已失效</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc edit_btn">编辑</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<?php }else{ ?>
	<div class="is_txt iss_txt car_is dataval" data-ztype="{$v['post_ztype']}" data-table="{$v['post_table']}" data-id="{$v['post_id']}" data-edit="{$v['post_edit']}">
		<div class="car_detail fn-clear"> <a href="__MODULE__/CityFreight/shunludetail/shunlu_id/{$v['post_id']}">
			<div class="car_pic"><img src="{$v['shunlu_img']}" alt=""></div>
			<div class="cd_title"><i class="time"></i>{$v['shunlu_starttime']} <?php if($v['shunlu_contactsex'] == '男'){ ?><i class="man"></i> <?php }else{ ?><i class="women"></i> <?php } ?> <span>{$v['shunlu_cartype']}</span></div>
			<ul>
				<li><em class="start">起</em>{$v['shunlu_startplace']}</li>
				<li><em class="end">终</em>{$v['shunlu_endplace']}</li>
			</ul>
		</a></div>
		<div class="is_footer fn-clear">
			<div class="schedule"><i class="ing"></i>正在等待</div>
			<div class="is_btn">
				<ul>
					<li class="is_bc edit_btn">编辑</li>
					<li class="is_bc delete_btn">删除</li>
				</ul>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php } ?>
	<?php if($v['post_type'] == 2){ ?>
		<div class="job_jl fn-clear">
			<div class="job_jldetail fn-clear">
				<div class="job_lpic"><img src="upfile/asdfasdad.png" alt=""></div>
				<div class="job_title">杨鹏发 29岁<i class="men"></i></div>
				<p>期望职位：其他职位</p>
				<p>大专 5-8年</p>
			</div>
			<div class="is_footer fn-clear">
				<div class="is_btn">
					<ul>
						<li class="is_bc">编辑</li>
						<li class="is_bc stick">置顶</li>
						<li class="is_bc delete_btn">删除</li>
					</ul>
				</div>
			</div>
		</div>
	<?php } ?>
	</foreach>
</div>
<!-- 发布列表 e-->
<!-- 遮罩层 s -->
<div class="disk"></div>
<!-- 遮罩层 e -->
<!-- 提前续费弹出层 s -->
<div class="renew_box">
	<h1><i></i>选择续费套餐</h1>
	<ul>
		<li class="re_check"><p><i></i>一年 费用60元</p><span>(备注:原价120元/年，活动期间原价打5.5折）</span></li>
		<li><p><i></i>两年 费用96元</p><span>(备注:原价240元/年，活动期间原价打4折）</span></li>
	</ul>
	<div class="agreement"><i></i>我已阅读并接受<a href="xieyi.shtml">《商家入驻条款》</a></div>
	<div class="btn_box fn-clear">
		<span>立即续费</span>
		<span class="cancel">取消</span>
	</div>
</div>
<!-- 提前续费弹出层 e -->
<!-- 置顶套餐弹出层 s -->
<div class="stick_box">
	<h1>选择购买置顶套餐</h1>
	<ul>
		<li class="stick_bc">半年/300元</li>
		<li>一年/360元</li>
	</ul>
	<div class="btn_box fn-clear">
		<span>立即购买</span>
		<span class="cancel">取消</span>
	</div>
</div>
<!-- 置顶套餐弹出层 e -->
<!-- 申请开通弹出层 s -->
<div class="dredge_box">
	<div class="b_box">
		<div class="pay wei_pay">
			<h1><i></i>选择入驻套餐（微信支付）</h1>
			<ul>
				<li><p><i></i>一年 费用60元</p><span>(备注:原价120元/年，活动期间原价打5.5折）</span></li>
				<li><p><i></i>两年 费用96元</p><span>(备注:原价240元/年，活动期间原价打4折）</span></li>
			</ul>
		</div>
	</div>
	<div class="pay cash_pay">
		<h1><i></i>选择入驻套餐（现金支付）</h1>
		<ul>
			<li class="re_check"><p><i></i>一年 费用60元</p><span>(备注:原价120元/年，活动期间原价打5.5折）</span></li>
			<li><p><i></i>两年 费用96元</p><span>(备注:原价240元/年，活动期间原价打4折）</span></li>
		</ul>
	</div>
	<div class="btn_box fn-clear">
		<span>立即购买</span>
		<span class="cancel">取消</span>
	</div>
</div>
<!-- 申请开通弹出层 e -->
<!-- 续费成功弹出层 s -->
<div class="succeed_box">
	<h1>续费成功</h1>
	<h2>您可以在<em>个人中心-我的发布</em>进行管理</h2>
	<p><span>确定</span></p>
</div>
<!-- 续费成功弹出层 e -->

<div class="delete">
	<h1>提示：</h1>
	<h2>是否删除？</h2>
	<div class="de_foot"><div class="de_btn"><span class="sure">确定</span><span class="cancel">取消</span></div></div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/issue.js"></script>
<script>
	// 删除
	$('.delete_btn').click(function(){
	var x = $(this),
	post_ztype = x.closest('.dataval').data('ztype'),
	post_table = x.closest('.dataval').data('table'),
	post_id = x.closest('.dataval').data('id');
	$('.delete').show();
	$('.disk').show();
	$('.delete .sure').click(function(){
	$.post("__MODULE__/My/myPostDelete",{post_ztype:post_ztype,post_table:post_table,post_id:post_id},function(data) {
		if (data.status == "1") {
		//提交成功弹出层
		x.closest('.iss_txt').fadeOut(300);
		x.closest('.job_detail').fadeOut(300);
		x.closest('.job_jl').fadeOut(300);
		$('.delete').hide();
		$('.disk').hide();
		}else{
		//window.location.reload();
		}
	})
	})
	})
    //编辑
    $('.edit_btn').click(function(){
        var x = $(this),
            post_edit = x.closest('.dataval').data('edit');
        window.location.href=""+post_edit+"";
    })
</script>
</body>
</html>