.banner{
	position: relative;
	height: 282px;
}
.banner img{
	height: 282px;
}
.banner p{
    font-size: 30px;
    color: #fff;
    position: absolute;
    height: 280px;
    width: 1200px;
    left: 50%;
    top: 0;
    margin-left: -600px;
    text-align: center;
    line-height: 282px;
}
.banner p span{
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 15px;
}
.contact{
    margin-top: 100px;
}
.contact .box{
    width: 1029px;
    height: 283px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
}
.contact .box .pic{
    float: left;
}
.contact .box .txt{
    float: left;
    margin-left: 142px;
    margin-top: 60px;
}
.contact .box .txt h1{
    font-size: 20px;
}
.contact .box .txt ul{
    margin-top: 30px;
}
.contact .box .txt ul li{
    font-size: 14px;
    color: #a2a2a2;
    line-height: 25px;
}