.banner{
	height: 442px;
	position: relative;
	overflow: hidden;
}
.banner .hd{
    width: 119px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -55px;
}
.banner .hd ul li{
	float: left;
	width: 13px;
	height: 13px;
	/*background: url(../images/bannerpoint.png) no-repeat center;*/
	/*background-size: 100%;*/
	border: 1px solid #fff;
	border-radius: 100%;
	margin: 0 12px;
	cursor: pointer;
}
.banner .hd ul li.on{
	/*background: url(../images/bannerpoint1.png) no-repeat center;
	background-size: 100%;*/
	background: #fff;
}
.slideshow-item {
	background: url(../images/banner.png) no-repeat center;
	/*background-size: 100%;*/
	height: 442px;
}
.slideshow-item .txt{
	position: relative;
	width: 1200px;
	height: 442px;
	margin: 0 auto;
}
.BannerTxT{
	position: absolute;
	color: #fff;
	height: 442px;
	width: 1200px;
	top: 0;
	left: 0;
	text-align: center;
}
.banner1{
	padding-top: 110px;
	font-size: 36px;
    animation: page_fadeIn 1s ease;
    -webkit-animation: page_fadeIn 1s ease;
}
.banner2{
	padding-top: 30px;
	font-size: 22px;
    animation: page_fadeIn 1.3s ease;
    -webkit-animation: page_fadeIn 1.3s ease;
}
.banner3{
	background: url(../images/banner_bc.png) no-repeat center;
	width: 155px;
	height: 54px;
	margin: 0 auto;
	font-size: 22px;
	line-height: 54px;
	margin-top: 50px;
    animation: page_fadeIn 1.6s ease;
    -webkit-animation: page_fadeIn 1.6s ease;
}
@-webkit-keyframes page_fadeIn {
    0% {
        opacity:0;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0.7;    
    }
    75% {
        opacity:1;
    }
}
.PublicTitle {
	text-align: center;
	margin-top: 78px;
}
.PublicTitle .title{
	font-size: 20px;
}
.PublicTitle .title_line{
	width: 156px;
	height: 3px;
	background: #efefef;
	margin: 10px auto;
}
.PublicTitle .title_line em{
	display: block;
	width: 50px;
	height: 3px;
	margin: 0 auto;
	background: #f21f47;
}
.PublicTitle .EnglishName{
	font-size: 16px;
	color: #9c9c9c;
}
.service_box{
	margin-top: 50px;
}
.service_box ul li{
	float: left;
	width: 240px;
	height: 240px;
	text-align: center;
}
.service_box ul li:hover{
    box-shadow: 0px 2px 39px #e6e6e6;
    z-index: 100;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.service_box ul li a{
	display: block;
	color: #000;
}
.service_box ul li i{
	width: 75px;
	height: 75px;
	margin: 59px auto 28px;
	display: block;
}
.service_box ul li p{
	font-size: 16px;
}
.service_box ul li.service1{
	background: #f7f7f7;
}
.service_box ul li.service3{
	background: #f7f7f7;
}
.service_box ul li.service5{
	background: #f7f7f7;
}
.service_box ul li.service7{
	background: #f7f7f7;
}
.service_box ul li.service9{
	background: #f7f7f7;
}
.service_box ul li.service1 i{
	background: url(../images/icon1.png);
}
.service_box ul li.service2 i{
	background: url(../images/icon2.png);
}
.service_box ul li.service3 i{
	background: url(../images/icon3.png);
}
.service_box ul li.service4 i{
	background: url(../images/icon4.png);
}
.service_box ul li.service5 i{
	background: url(../images/icon5.png);
}
.service_box ul li.service6 i{
	background: url(../images/icon6.png);
}
.service_box ul li.service7 i{
	background: url(../images/icon7.png);
}
.service_box ul li.service8 i{
	background: url(../images/icon8.png);
}
.service_box ul li.service9 i{
	background: url(../images/icon9.png);
}
.spacetitle{
	text-align: center;
	font-size: 16px;
	margin-top: 35px;
}
.spacetitle1{
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.SpaceList{
	width: 1500px;
	position: relative;
	left: 62px;
	margin-top: 150px;
}
.space_pic{
    width: 269px;
    height: 269px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 3px solid #fff;
    box-shadow: 0px 2px 16px #c3c3c3;
    overflow: hidden;
    float: left;
    margin-right: 130px;
}
.space_pic img{
	max-width: 100%;
	transform:rotate(-45deg) scale(2.12);   
	-ms-transform:rotate(-45deg) scale(2.12); /* Internet Explorer */   
	-moz-transform:rotate(-45deg) scale(2.12); /* Firefox */   
	-webkit-transform:rotate(-45deg) scale(2.12); /* Safari 和 Chrome */   
	-o-transform:rotate(-45deg) scale(2.12); /* Opera */ 
}
.space_box1 {
	position: relative;
    top: -53px;
    left: 201px;
}
.advantage_list{
	width: 1400px;
	margin-top: 90px;
}
.advantage_list .ad_connect{
	float: left;
	width: 392px;
	height: 200px;
	padding-left: 150px;
	position: relative;
	margin-right: 115px;
}
.advantage_list .ad_connect .ad_bac{
	width: 120px;
	height: 96px;
	position: absolute;
	left: 0;
	top: 48px;
}
.advantage_list .ad_connect.t1 .ad_bac{
	background: url(../images/01.png) no-repeat center;
}
.advantage_list .ad_connect.t2 .ad_bac{
	background: url(../images/02.png) no-repeat center;
}
.advantage_list .ad_connect.t3 .ad_bac{
	background: url(../images/03.png) no-repeat center;
}
.advantage_list .ad_connect.t4 .ad_bac{
	background: url(../images/04.png) no-repeat center;
}
.advantage_list .ad_connect p{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.advantage_list .ad_connect span{
	color: #9f9f9f;
	font-size: 14px;
}
.business_list {
	margin-top: 50px;
	width: 1300px;
}
.business_list ul li{
	float: left;
	width: 256px;
	height: 176px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	text-align: center;
	margin-right: 59px;
}
.business_list ul li p{
	font-size: 20px;
	margin-bottom: 5px;
}
.business_list ul li span{
	font-size: 14px;
	color: #cacaca;
}
.business_list ul li i{
    width: 75px;
    height: 75px;
    display: block;
    margin: 18px auto 10px;
}
.business_list ul li.b1 i{
	background: url(../images/icon10.png) no-repeat center;
}
.business_list ul li.b2 i{
	background: url(../images/icon11.png) no-repeat center;
}
.business_list ul li.b3 i{
	background: url(../images/icon12.png) no-repeat center;
}
.business_list ul li.b4 i{
	background: url(../images/icon13.png) no-repeat center;
}
.business_list ul li.b5 i{
	background: url(../images/icon14.png) no-repeat center;
}
.business_list ul li.b6 i{
	background: url(../images/icon15.png) no-repeat center;
}
.business_list ul li.b7 i{
	background: url(../images/icon16.png) no-repeat center;
}
.business_list ul li.b8 i{
	background: url(../images/icon17.png) no-repeat center;
}
.PartnerList{
	margin-top: 50px;
	width: 1230px;
}
.PartnerList ul li{
	width: 180px;
	height: 75px;
	border: 1px solid #efefef;
	float: left;
	margin-right: 22px;
	margin-bottom: 22px;
}
.PartnerList ul li img{
	width: 180px;
	height: 75px;
	display: block;
}
