.head{
	margin-top: 20px;
	margin-bottom: 10px;
}
.head .logo{
	float: left;
}
.head .nav{
	float: right;
	margin-top: 20px;
}
.head .nav ul li{
	float: left;
	margin-left: 65px;
	position: relative;
	height: 50px;
	line-height: 50px;
	z-index: 2;
}	
.head .nav ul li.nav_bc a{
	color: #d23618;
}
.head .nav ul li a{
	font-size: 16px;
	display: block;
	z-index: 2;
}
.head .nav ul li.hover:hover .hover_box{
	display: block;
}
.head .nav ul li .hover_box{
	position: absolute;
    left: -33px;
    top: 45px;
    width: 149px;
    border-top: 2px solid #f62e7f;
    box-shadow: 0px 0px 11px #c3c3c3;
    display: none;
	z-index: 2;
	background: #fff;
}
.head .nav ul li .hover_box.hb1{
	left: -41px;
}
.head .nav ul li .hover_box p{
	height: 47px;
	line-height: 47px;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}
.head .nav ul li .hover_box p a{
	color: #adadad;
	display: block;
}
.head .nav ul li .hover_box p a:hover{
	color: #d23618;
}
.foot{
	margin-top: 100px;
	background: url(../images/footbac.png) no-repeat center;
	height: 330px;
}
.foot .footer{
	padding-top: 60px;
}
.foot .footer .foot_logo{
	float: left;
	text-align: center;
	color: #000;
	font-size: 14px;
}
.foot .footer .foot_logo p{
	margin-top: 15px;
}
.foot .footer .foot_nav{
	color: #000;
	margin-top: 20px;
	float: left;
	margin-left: 70px;
}

.foot .footer .foot_nav p{
	font-size: 16px;
	margin-bottom: 15px;
}
.foot .footer .foot_nav ul li{
	height: 25px;
	line-height: 25px;
}
.foot .footer .foot_nav ul li a{
	font-size: 14px;
	color: #848484;
	display: block;
}
.foot .footer .foot_nav ul li a:hover{
	color: #d23618;
}
.QR_box{
	float: right;
}
.QR_box img{
	width: 164px;
	height: 164px;
}
.QR_box p{
	color: #000;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
}
.exe{
	text-align: center;
	font-size: 12px;
	color: #000;
	margin-top: 25px;
}