.banner{
	height: 280px;
	position: relative;
}
.banner img{
	width: 100%;
	height: 280px;
}
.banner p{
	font-size: 30px;
	color: #fff;
	position: absolute;
	height: 280px;
	width: 1200px;
	left: 50%;
	top: 0;
	margin-left: -600px;
	text-align: center;
	line-height: 280px;
}
.service_box{
	margin-top: 50px;
}
.service_box ul{
	width: 1300px;
}
.service_box ul li{
	float: left;
	width: 171px;
	height: 171px;
	text-align: center;
	border: 1px solid #fff;
	box-sizing: border-box;
	margin-right: 35px;
}
/*.service_box ul li:hover{
	border: 1px solid #e0e0e0;
}*/
.service_box ul li.ser_bc{
    box-shadow: 0px 2px 39px #e6e6e6;
    border: 1px solid #fff;
    z-index: 100;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.service_box ul li a{
	display: block;
	color: #000;
}
.service_box ul li i{
    width: 75px;
    height: 75px;
    margin: 31px auto 11px;
    display: block;
}
.service_box ul li p{
	font-size: 16px;
}
.service_box ul li.service1 i{
	background: url(../images/icon1.png);
}
.service_box ul li.service2 i{
	background: url(../images/icon2.png);
}
.service_box ul li.service3 i{
	background: url(../images/icon3.png);
}
.service_box ul li.service4 i{
	background: url(../images/icon4.png);
}
.service_box ul li.service5 i{
	background: url(../images/icon5.png);
}
.service_box ul li.service6 i{
	background: url(../images/icon6.png);
}
.service_box ul li.service7 i{
	background: url(../images/icon7.png);
}
.service_box ul li.service8 i{
	background: url(../images/icon8.png);
}
.service_box ul li.service9 i{
	background: url(../images/icon9.png);
}
.ServiceConnect {
	margin-top: 50px;
}
.ser_detail{
	background: #f8f8f8;
	padding: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.kind{
	float: left;
	height: 75px;
	font-size: 16px;
	width: 162px;
	margin-right: 20px;
}
.ser_detail ul li{
	font-size: 16px;
}