.wrap {width: 1200px; margin: 0 auto;}

.fixedwrap{margin-bottom: 0;}

/* 导航 */
.nav {position: relative;margin-top: 20px;height: 45px;/*margin-bottom: 30px;*/background: #ffc001;-moz-box-shadow: 0 5px 30px rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);box-shadow: 0 5px 30px rgba(0,0,0,.1);z-index: 100;}
.mainnav li {position: relative;float: left;padding:0 12px;margin:0;}
.mainnav li a {color: #fff; display: block;}
.mainnav li .nav-m {position: relative;font-size: 18px;line-height: 45px;}
.mainnav li .nav-m i {position: absolute;left:50%;top:-14px;display: inline-block;width: 32px;height: 22px;}
.dropbox {margin: -11px -12px 0;border-top-left-radius: 4px;border-top-right-radius: 4px;}

.mainnav li dl {padding-top: 11px;}
.mainnav li dt {padding:0 12px;overflow: hidden;}
.mainnav li dd a {font-size: 16px;white-space: nowrap;}
.mainnav li dd {display: none;position: absolute;top:45px;left:0;min-width:100%;padding:8px 0 16px;background: #eeb300; background: rgba(238,179,0,0.95);border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;z-index: 10;}
.mainnav li dd a {display: block;line-height: 40px;padding:0 13px;}
.mainnav li dt .nav-m {float: left;}
.mainnav li .picon-down2 {display: inline-block;width: 11px;height: 6px;float: left;margin:20px 0 0 6px;-webkit-transition:all .3s;transition:all .3s;}
.mainnav li:hover ,.mainnav li:hover .dropbox {background: #eeb300; background: rgba(238,179,0,0.95);}
.mainnav li:hover dd {display: block;}
.mainnav li:hover .picon-down2 {-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.mainnav li.mainnav li dd ,.hover .dropbox ,.mainnav li:hover ,.mainnav li:hover .dropbox {background: #eeb300;  background: rgba(238,179,0,0.95);}

.w1200 .mainnav li {margin:0 9px;padding:0 13px;}
.w1200 .dropbox {margin: -11px -13px 0;}
.w1200 .mainnav li dt {padding:0 13px;}




/* 底部 */
.footer-login {margin-top: 40px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice {margin:0 14px;color: #ddd;}
