<!-- footer s -->
<div class="footer">
	<div class="wrap">
		<p>
			<a href="#" target="_blank">公司简介</a> -
			<a href="#" target="_blank">联系方法</a> -
			<a href="#" target="_blank">招聘信息</a> -
			<a href="#" target="_blank">使用条款</a> -
			<a href="#" target="_blank">火鸟动态</a> -
			<a href="#" target="_blank">隐私保护</a> -
			<a href="#" target="_blank">联系我们</a> -
			<a href="javascript:;">客服专线：400-025-1158（8：00 至 20：00）</a>
		</p>
		<p>火鸟软件版权所有 &copy;2013-2015&nbsp;&nbsp;|&nbsp;&nbsp;违法和不良信息举报方式：0512-65071790 admin@ikuman.cn</p>
		<p></p>
		<p>
			<a href="https://ss.knet.cn/" target="_blank"><img src="http://rr.knet.cn/static/images/logo/cnnic.png" alt="可信网站"></a>
		</p>
	</div>
</div>
<!-- footer e -->

<div class="btntop">
  <a href="javascript:;" class="top" title="返回顶部">返回顶部</a>
  <a href="javascript:;" class="close" title="关闭">关闭</a>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=1"></script>
