.pake{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background-size: 100%;
	background: #2992fb;
}
.pake .pake_img img{
	width: 100%;
}
.pake_box{
	background: #fff;
	border-radius: 0.1rem;
	width: 85%;
	margin: 0 auto;
	padding: 0.2rem;
	padding-bottom: 0.4rem;
}
.pake_box ul li{
	height: 1rem;
	line-height: 1rem;
	border-bottom: 0.02rem solid #dedede;
}
.pake_box ul li input{
	width: 80%;
	font-size: 0.28rem;
	padding-left: 0.1rem;
	border: none;
}
.pake_box ul li i{
	width: .5rem;
	height: .5rem;
	display: inline-block;
	vertical-align: middle;
}
.pake_box ul li.phone i{
	background: url(../images/wei2.jpg) no-repeat center;
	background-size: .3rem;
}
.pake_box ul li.mi i{
	background: url(../images/wei3.jpg) no-repeat center;
	background-size: .3rem;
}
.pake_box ul li.yan i{
	background: url(../images/wei1.jpg) no-repeat center;
	background-size: .3rem;
}
.pake_box ul li.yan input{
	width: 61%;
}
.pake_box ul li.yan .yanzheng{
	width: 29%;
	margin-top: 0.2rem;
	font-size: .28rem;
	color: #2992fb;
	text-align: center;
	background: #fff;float: right;
	margin-top: .28rem;
}
.pake_box ul li:last-child{
	border-bottom: none;
}
.pake_box button{
	height: .9rem;
	background: #2992fb;
	line-height: .9rem;
	text-align: center;
	font-size: .32rem;
	width: 80%;
	color: #fff;
	margin: 0 auto;
	display: block;
	border: none;
	border-radius: 1rem;
	margin-top: 0.15rem;
}
.company{
	font-size: .28rem;
	color: #fff;
	text-align: center;
	margin-top: 0.2rem;
}