.XC_lead{
	width: 1200px;
	margin: 0 auto;
	height: 35px;
	border-bottom: 1px solid #dfdfdf;
	line-height: 35px;
	position: relative;
}
.XC_lead .lead_left{
	float: left;
	font-size: 14px;
	text-indent: 10px;
	width: 280px;
}
.XC_lead .lead_mid{
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 630px;
	font-size: 14px;
}
.XC_lead .lead_mid .lead_p{
    background: url(../images/phone.png) no-repeat left;
    background-size: 15px;
    padding-left: 18px;
}
.hover{
	display: block!important;
}
.XC_lead .lead_mid em{
	margin:0 5px;
	display: inline-block;
}
.Weather{
	float: left;
}
.weater_1{
	line-height: 32px;
    color: #4c4c4c;
    _padding-top: 13px;
    width: 369px;
}
.weater_1 a:hover {
	text-decoration: none;
}
.echoweek {
	float: left;
	 margin: 0 10px;
	}
.echotime {    
	float: left;
    margin-top: 3px;
    padding: 0 0 0 25px;
    line-height: 27px;
    background: url(../images/icons.png) -5px -234px no-repeat;
}
.weatherInfo {float: left; height: 27px;}
.weatherInfo li {float: left; margin-right: 10px;}
.weatherInfo li span {float: left; margin-right: 10px;}
.weatherInfo li .date {display: none;}
.weatherInfo .pic img {width: 20px; height: 22px; vertical-align: middle; margin: 0 2px;}
.picon {background-image:url(../images/public_icons.png);background-repeat:no-repeat;}
.picon-qq {background-position: -2px 0px;}
.picon-weixin {background-position: -6px -20px;}
.picon-weibo {background-position: -6px -40px;}
.picon-phone {background-position: -6px -60px;}
.picon-down {background-position: -2px -85px;}
.picon-down2 {background-position: -20px -94px;}
.picon-latest {background-position: 0 -103px;}
.picon-hui {background-position: 0 -126px;}
.picon-join {background-position: 0 -149px;}
.topInfo {position: relative;height: 34px; line-height: 34px; margin-bottom: 16px;  background: #fff;color: #6c6c6c;z-index: 1002;width:2s90px;float: left;}
.topInfo a {color: #6c6c6c;margin-right: 10px}
.topInfo a:hover {color: #ff6600;}
.topInfo .separ {color:#ddd;margin-left: 15px;}
.topInfo .regist {color: #ff6600;margin-right: 10px;}
.topInfo .loginbox .logint a {margin-right: 0;}
.topInfo .menu {float: right;}
.topInfo .menu li {position: relative;float: left;padding:0 8px;border-left: 1px solid transparent;border-right: 1px solid transparent;}
.topInfo .menu li .ewmbox {position: absolute;left:0;top:36px;margin-left: -90px;    border-radius: 4px; border: 1px solid #0087BD; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2); box-shadow: 0 0 10px rgba(0,0,0,.2);z-index: 100;display: none;}
.topInfo .loginbox {float: left;}
.topInfo .loginbox a {float: left;margin:0 10px 0 0;}
.topInfo .loginbox a:hover {text-decoration: underline;}
.topInfo .dropdown a {padding-left: 2px;}
.topInfo .dropdown .picon-down {display: inline-block;width: 8px;height: 5px;margin-left: 4px;vertical-align: middle;-webkit-transition:all .3s;transition:all .3s;}
.topInfo .submenu {display: none;position: absolute;top:35px;left:-1px;min-width: 82px; padding: 5px 0; border: 1px solid #ddd; border-top: none; background: #fff;-webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out; z-index: 10;}
.topInfo li.user .submenu {min-width: 106px;}
.topInfo .submenu a {display: block;padding:0 10px;line-height: 26px;white-space:nowrap;}
.topInfo li:hover .picon-down {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.topInfo li.dropdown:hover {height: 35px;border-color: #ddd;background: #fff;}
.topInfo li:hover .submenu {display: block;}
.topInfo .submenu a:hover {}
.topInfo .picon {display: inline-block;width: 20px;height: 20px;margin:-4px 4px 0 0;*margin-top:0px;vertical-align: middle;}

.XC_lead2{
	width: 1200px;
	margin: 0 auto;
}
.XC_lead2 .logo{
	width: 320px;
	height: 90px;
	float: left;
	overflow: hidden;
	margin-right: 32px;
}
.XC_lead2 .logo img{
	width: 320px;
	height: 90px;
}
.search{
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
.search .input{
	border: 1px solid #d9e7f4;
	width: 293px;
	height: 30px;
	position: relative;
}
.search .input p{
	background: url(../images/search.png) no-repeat center;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 5px;
}
.search .input input{
	border: none;
	width: 210px;
	line-height: 30px;
	text-indent: 10px;
}
.search .sea_list ul {
	margin-top: 10px;
}
.search .sea_list ul li{
    float: left;
    font-size: 14px;
    border: 1px solid #d9e7f4;
    padding: 0 10px;
    margin-right: 8px;
    width: 71px;
}
.search .sea_list ul li a{
    float: left;
    background: url(../images/arrow_down.png) no-repeat 59px 8px;
    width: 100%;
}
/*.search .sea_list ul li em{
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	margin-top: 6px;
	margin-left: 5px;
}*/
.nav{
	width: 1200px;
	margin: 0 auto;
	font-weight: bold;
	margin-top: 10px;
}
.nav ul {
	padding-left: 30px;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	background: #1d71b7;
}
.nav ul li{
	float:left;
	margin-right: 15px;
}
.nav ul li a{
	color: #fff;
	display: block;
}
.nav ul .house-pic em{
	background: url(../images/house.png) no-repeat center;
	width: 20px;
	height: 20px;
	background-size:20px; 
	display: block;
	float: left;
	margin-top: 14px;
	margin-right: 5px;
}
.nav .nav_ad {
	margin-top: 5px;
}
.nav .nav_ad .nav_ad_left{
	font-size: 14px;
	float: left;
	width: 550px;
	height: 20px;
	overflow: hidden;
	margin-right: 70px;
	text-align: center;
}
.nav .nav_ad .nav_ad_right{
	font-size: 14px;
	float: left;
	width: 550px;
	height: 20px;
	overflow: hidden;
	text-align: center;
}
.roll{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.roll .rool_lead{
	float: left;
	background: #2372b5;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
	float: left;
}
.roll .txtMarquee-left{
	float: left;
	border-top: 1px solid #2372b5;
	border-bottom: 1px solid #2372b5;
	border-right: 1px solid #2372b5;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	width: 983px;
	overflow: hidden;
}
.tempWrap{
	width: 100%!important;
}
.roll .txtMarquee-left .bd ul li{
	float: left;
	margin-right: 10px;
}
.roll .txtMarquee-left .bd ul li a{
	color: #325899;
}
.news_1{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #dce6ef;
}
.news_1 .hu_news_left{
	float: left;
	width: 835px;
	text-align: center;
}
.news_1 .hu_news_left h1{
	font-size: 30px;
	width: 835px;
	height: 45px;
	overflow: hidden;
	font-weight: bold;
}
.news_1 .hu_news_left h1 a{
	color: #33569a;
}
.news_1 .hu_news_left ul{
	width: 900px;
    margin-top: 5px;
}
.news_1 .hu_news_left ul li{
	float: left;
	width: 260px;
	font-size: 14px;
	height: 20px;
	overflow: hidden;
	margin-right: 20px;
}
.news_1  .hu_news_right{
	float: right;
}
.main_news{
	width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}
.main_news .main_news_left{
	float: left;
	width: 445px;
}
.main_news .main_news_left .mal_lead{
	margin-bottom: 20px;
}
.main_news .main_news_left .mal_lead p{
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}
.main_news .main_news_left .mal_lead em{
	font-size: 14px;
	color: red;
	line-height: 28px;
	margin-right: 5px;
	float: left;
}
.main_news .main_news_left .mal_lead span{
    font-size: 14px;
    float: left;
    line-height: 28px;
}
.main_news .main_news_left .mal_lead b{
	float: right;
	color: #ba864a;
	font-size: 14px;
	line-height: 28px;
}
.main_news .main_news_left .mal_txt{
	margin-top: 10px;
}
.main_news .main_news_left .mal_txt h1{
	text-align: center;
	font-size: 18px;
	width: 445px;
	height: 25px;
	overflow: hidden;
}
.main_news .main_news_left .mal_txt h1 a{
	color: #2f58b2;
	font-weight: bold;
}
.main_news .main_news_left .mal_txt ul{
	margin-top: 10px;
}
.main_news .main_news_left .mal_txt ul li{
	line-height: 30px;
	padding-left: 15px;
	background: url(../images/point.png) no-repeat left;
	width: 431px;
	height: 32px;
	overflow: hidden;
}
.main_news .main_news_left .mal_txt ul li a{
	font-size: 16px;
}
.main_news .main_news_left .mal_txt ul li a em{
	color: #b12120;
	margin-right: 5px;
}
.main_news .main_news_left .mal_pic{
	margin: 20px 0;
}
.main_news .main_news_left .mal_pic ul li{
	float: left;
	width: 110px;
	height: 85px;
	margin: 0 15px;
	position: relative;
	text-align: center;
}
.main_news .main_news_left .mal_pic ul li a img{
	width: 110px;
	height: 85px;
}	
.main_news .main_news_left .mal_pic ul li a p{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	width: 110px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
}
.main_news .main_news_left .mal_pic ul li a i{
	width: 110px;
	height: 20px;
	background: #000;
	opacity: .4;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.main_news .main_news_left .mal_pic ul li a em{
	background: url(../images/video.png) no-repeat center;
	background-size: 30px;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 0;
}
.main_news .main_news_left .mal_pic_txt{
	margin-bottom: 10px;
}
.main_news .main_news_left .mal_pic_txt ul li{
    width: 177px;
    height: 20px;
    font-size: 12px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-left: 25px;
    background: url(../images/video_1.png) no-repeat left;
}
.main_news_right{
	float: right;
	width: 710px;
}
.main_news_right .ban_cd{
	width: 710px;
	height: 20px;
	overflow: hidden;
	text-align: center;
	margin: 5px 0;
}
.main_news_right .ban_cd a{
	color: #af7d5c;
	font-size: 14px;
}
.main_news_right .right_news .rn_list{
	float: left;
	width: 400px;
}
.main_news_right .right_news .rn_list .rnl_lead {
	width: 400px;
	padding: 10px 0 5px 0;
	border-top:1px dashed #dce6ef;
	border-bottom:1px dashed #dce6ef;
}
.main_news_right .right_news .rn_list .rnl_lead ul{
	width: 450px;
}
.main_news_right .right_news .rn_list .rnl_lead ul li{
    float: left;
    width: 180px;
    margin-right: 37px;
}
.main_news_right .right_news .rn_list .rnl_lead ul li a img{
	float: left;
	margin-right: 10px;
	width: 45px;
	height: 60px;
}
.main_news_right .right_news .rn_list .rnl_lead ul li a h1{
	font-size: 14px;
	font-weight: bold;
	width: 125px;
	height: 20px;
	overflow: hidden;
}
.main_news_right .right_news .rn_list .rnl_lead ul li a span{
	margin-top: 7px;
	width: 125px;
	height: 40px;
	display: block;
	overflow: hidden;
}
.main_news_right .right_news .rn_list .polity .polity_lead {
	margin-top: 15px;
}
.main_news_right .right_news .rn_list .polity .polity_lead b{
    float: right;
    color: #ba864a;
    font-size: 14px;
    line-height: 25px;
}
.main_news_right .right_news .rn_list .polity .polity_lead ul{
	float: left;
}
.main_news_right .right_news .rn_list .polity .polity_lead ul li {
	float: left;
	font-size: 16px;
}
.main_news_right .right_news .rn_list .polity .polity_lead ul li a {
	color: #2f58b2;
}
.main_news_right .right_news .rn_list .polity .polity_lead ul li a:hover{
	font-weight: bold;
}
.main_news_right .right_news .rn_list .polity .polity_lead ul em{
	float: left;
	margin: 0 5px;
	line-height: 25px;
}
.main_news_right .right_news .rn_list .polity .polity_txt ul{
	margin-top: 10px;
}
.main_news_right .right_news .rn_list .polity .polity_txt ul li{
	    line-height: 30px;
    padding-left: 15px;
    background: url(../images/point.png) no-repeat left;
    width: 385px;
    height: 30px;
    overflow: hidden;
}
.main_news_right .right_news .rn_list .polity .polity_txt ul li a{
	font-size: 16px;
}
.main_news_right .right_news .rn_report{
	float: right;
}
.main_news_right .right_news .rn_report .re_cd img{
	width: 290px;
	height: 55px;
}
.main_news_right .right_news .rn_report .Timely{
	border:1px solid #dce6f0;
	width: 288px;
}
.main_news_right .right_news .rn_report .Timely .Timely_lead em{
	font-size: 16px;
	color: #19377d;
	font-weight: bold;
	line-height: 35px;
	text-indent: 20px;
	float: left;
}
.main_news_right .right_news .rn_report .Timely .Timely_lead img{
	float: right;
}
.main_news_right .right_news .rn_report .Timely .Timely_list{
    height: 365px;
    overflow: auto;
    width: 288px;
}
.main_news_right .right_news .rn_report .Timely .Timely_list .time_txt{
	width: 256px;
	padding-left: 15px;
}
.main_news_right .right_news .rn_report .Timely .Timely_list .time_txt a h1{
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 1px dashed #dce6ef;
}
.main_news_right .right_news .rn_report .Timely .Timely_list .time_txt a  span{
	height: 59px;
	overflow: hidden;
	font-size: 12px;
	margin: 10px 0;
	display: block;
}
.main_news_right .right_news .rn_report .Timely .Timely_list .time_txt a  span em{
	color: #ff9923;
}
.main_news_right .right_news .rn_report .civilization{
	width: 244px;
	border: 1px solid #dce6f0;
	margin-top: 10px;
	padding: 0 22px ;
}
.main_news_right .right_news .rn_report .civilization .ci_cd{
	margin-top: 10px;
}
.main_news_right .right_news .rn_report .civilization .ci_cd .ci_up{
	padding-bottom: 5px;
	border-bottom: 1px dashed #dce6ef;
	display: block;
	width: 250px;
}
.main_news_right .right_news .rn_report .civilization .ci_cd .ci_down{
	padding-bottom: 5px;
	display: block;
	width: 250px;
}
.main_news_right .right_news .rn_report .civilization ul{
	margin-bottom: 10px;
}
.main_news_right .right_news .rn_report .civilization ul li{
	width: 250px;
	height: 25px;
	overflow: hidden;
	line-height: 25px;
	font-size: 13px;
}
.all_ad{
	width: 1200px;
	margin: 0 auto;
}
.all_ad img{
	width: 1200px;
	height: 50px;
}
.all_ad .all_left{
	float: left;
}
.all_ad .all_right{
	float: right;
}
.XC_news{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.XC_news .xcn_left{
	float: left;
	width: 863px;
}
.XC_news .xcn_left .xcn_txt{
	margin-top: 10px;
	width: 410px;
	float: left;
	margin-right: 20px;
}
.xcn_lead{
	width: 410px;
	border-bottom: 2px solid #043266;
	height: 24px;
}
.xcn_lead span{
	float: left;
	color: #053367;
	font-size: 16px;
	font-weight: bold;
	text-indent: 10px;
}
.xcn_frist a h1{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}
.xcn_frist a img{
	float: left;
	margin-right: 10px;
}
.xcn_frist a p{
	width: 255px;
	height: 88px;
	overflow: hidden;
	color: #787c7b;
	font-size: 14px;
}
.xcn_second ul {
	margin-top: 10px;
}
.xcn_second ul li{
	line-height: 30px;
    padding-left: 15px;
    background: url(../images/point.png) no-repeat left;
    width: 385px;
    height: 30px;
    overflow: hidden;
}
.xcn_second ul li a{
	font-size: 16px;
}
.XC_news .xcn_right{
	float: left;
	width: 337px;
}
.XC_news .xcn_right .xcnr_lead{
    width: 337px;
    border-bottom: 2px solid #043266;
    height: 24px;
    margin-top: 10px;
}
.XC_news .xcn_right .xcnr_lead span{
    float: left;
    color: #053367;
    font-size: 16px;
    font-weight: bold;
    text-indent: 10px;
}
.XC_news .xcn_right .xcnr_lead em{
	float: right;
	font-size: 14px;
	color: #7c7e7b;
	margin-right: 10px;
}
.xcnr_video{
	width: 337px;
}
.xcnr_video a{
	margin: 15px 39px;
	display: block;
}
.xcnr_video a .vi_pic{
	position: relative;
}
.xcnr_video a .vi_pic img{
	width: 260px;
	height: 160px;
}
.xcnr_video a .vi_pic p{
    background: url(../images/video.png) no-repeat center;
    background-size: 50px;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 5px;
}
.xcnr_video a h1{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	width: 259px;
	height: 20px;
	overflow: hidden;
	    margin: 3px 0;
}
.xcn_right .video_list ul li{
    width: 306px;
    height: 20px;
    font-size: 16px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    background: url(../images/video_1.png) no-repeat left 6px;
}
.xcn_right .xcnr_video_2{
    width: 323px;
    margin: 20px 41px 10px 41px;
}
.xcn_right .xcnr_video_2 .vi_s{
	float: left;
	margin-right: 17px;
}
.xcn_right .xcnr_video_2 .vi_s a .vi_pic {
	position: relative;
}
.xcn_right .xcnr_video_2 .vi_s a .vi_pic p{
    background: url(../images/video.png) no-repeat center;
    background-size: 30px;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 5px;
}
.xcn_right .xcnr_video_2 .vi_s a .vi_pic img{
	width: 120px;
	height: 85px;
}
.xcn_right .xcnr_video_2 .vi_s a h1{
	width: 120px;
    height: 20px;
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin: 3px 0;
}
.xcn_down{
	width: 1300px
}
.xcn_down .XC_news_down{
	float: left;
	width: 388px;
	margin-top: 10px;
	margin-right: 20px;
}
.xcn_down .XC_news_down .nd_lead{
	font-size: 16px;
	color: #053367;
	text-indent: 10px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #d9e7f4;
	border-top: 2px solid #043266;
}
.xcn_down .XC_news_down h1{
	margin: 10px 0;
	height: 25px;
	line-height: 25px;
	width: 388px;
	overflow: hidden;
	text-align: center;
}
.xcn_down .nd_lead em{
	float: right;
	margin-right: 10px;
	font-size: 14px;
	color: #7d7c7a;
}
.xcn_down .XC_news_down h1 a{
	font-size: 16px;
	font-weight: bold;
}
.xcn_down .XC_news_down .nd_list .list_top .to_pic{
	float: left;
	margin-right: 10px;
}
.xcn_down .XC_news_down .nd_list .list_top .to_pic img{
	width: 120px;
	height: 90px;
}
.xcn_down .XC_news_down .nd_list .list_top ul li{
    line-height: 30px;
    padding-left: 15px;
    background: url(../images/point.png) no-repeat left;
    width: 213px;
    height: 30px;
    overflow: hidden;
    font-size: 16px;
}
.xcn_down .XC_news_down .nd_list .list_down{
	margin-top: 5px;
}
.xcn_down .XC_news_down .nd_list .list_down ul li{
    line-height: 30px;
    padding-left: 15px;
    background: url(../images/point.png) no-repeat left;
    width: 388px;
    height: 30px;
    overflow: hidden;
    font-size: 16px;
}
.house{
	width: 1200px;
	margin: 10px auto;
	margin-bottom: 15px;
}
.house .house_lead{
	height: 40px;
    border-bottom: 3px #999 solid;
    position: relative;
}
.house .house_lead h1{
	    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    background: url(../images/h-title-icon.gif) no-repeat 0 center;
    padding-left: 15px;
}
.house .house_lead .cate{
	    position: absolute;
    left: 316px;
    top: 0px;
}
.house .house_lead .cate a{
	    display: block;
    height: 40px;
    font-size: 18px;
    line-height: 30px;
    float: left;
    padding: 0px 30px;
    position: relative;
    margin-right: 10px;
}
.house .house_lead .hou_ri{
	position: absolute;
    right: 0;
    line-height: 30px;
    font-size: 14px;
}
.house .house_lead .hou_ri strong{
	    color: #ca0606;
    font-size: 24px;
    font-family: Georgia;
    margin: 0 3px;
    font-weight: normal;
}
.house .house_left{
	    width: 290px;
    float: left;
    margin-top: 20px;
}
.house .house_left .index-tuan-form h3{
	    height: 35px;
    font-size: 18px;
    font-weight: normal;
}
.house .house_left .index-tuan-form h3 span{
	    font-size: 12px;
    margin-left: 10px;
    color: #999;
}
.house .house_left .index-tuan-form #joinform ul li{
	    margin-bottom: 10px;
}
.house .house_left .index-tuan-form #joinform ul li input{
	    border: 1px #e2e2e2 solid;
    height: 14px;
    line-height: 14px;
    padding: 10px 10px 11px;
    width: 268px;
    color: #999;
}
.house .house_left .index-tuan-form #joinform ul li select{
	width: 290px;
    padding: 8px 10px;
    border: 1px #e2e2e2 solid;
    color: #999;
    line-height: 14px;
}
.house .house_left .index-tuan-form #joinform ul li button{
	    background-color: #ca0606;
    color: #fff;
    border: 0;
    height: 40px;
    width: 290px;
    cursor: pointer;
    font-size: 14px;
}
.house .house_left .index-tuan-form #joinform ul li p{
	    background-color: #e2e2e2;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 6px 0;
}
.house .house_left .index-tuan-form #joinform ul li p strong{
	    color: #ca0606;
    font-size: 24px;
    font-family: Georgia;
    margin: 0 3px;
    font-weight: normal;
}
.index-hot-real {
    margin-top: 15px;
    margin-bottom: 10px
}

.index-hot-real h2 {
    height: 30px;
    border-bottom: 1px #e2e2e2 solid;
    font-size: 16px
}

.index-hot-real h2 span {
    display: inline-block;
    height: 29px;
    border-bottom: 2px #ca0606 solid;
    font-weight: bold;
}

.index-hot-real ul {
    padding-top: 10px
}

.index-hot-real ul li {
    border-bottom: 1px #e2e2e2 dotted;
    padding: 10px 0;
    text-align: right;
    line-height: 20px;
    font-size: 14px;
}

.index-hot-real ul li i {
    display: inline-block;
    line-height: 20px;
    width: 20px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    margin-right: 8px;
    float: left;
    font-style: normal;
}

.index-hot-real ul li i.red {
    background-color: #ca0606;
    color: #fff !important
}

.index-hot-real ul li a {
    float: left;
	font-size: 14px;
}

.index-hot-real ul li a:hover {
    text-decoration: underline
}

.index-hot-real ul li b {
    color: #ca0606;
    margin-right: 3px
}

.index-hot-real ul li:last-child {
    border: 0
}
.ad-290-120 {
    width: 290px;
    height: 120px;
    overflow: hidden;
}
.house .house_right{
	    width: 880px;
    float: right;
    overflow: hidden;
    margin-top: 20px;
}
.house .house_right .hr_list ul{
	width: 1000px;
}
.house .house_right .hr_list ul li{
	width: 280px;
    height: 230px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}
.house .house_right .hr_list ul li a img{
	width: 280px;
    height: 187px;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}
.house .house_right .hr_list ul li a .li_title{
	background-color: rgba(0,0,0,0.6);
    position: absolute;
    height: 34px;
    width: 250px;
    left: 0;
    top: 153px;
    z-index: 2;
    line-height: 34px;
    color: #fff;
    padding: 0px 15px;
    text-align: right;
}
.house .house_right .hr_list ul li a .li_title em{
	float: left;
    color: #fff;
    font-size: 14px;
}
.house .house_right .hr_list ul li a .li_title span{
	font-size: 12px;
}
.house .house_right .hr_list ul li a .li_infor{
	    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;
}
.house .house_right .hr_list ul li a .li_infor strong{
	font-size: 14px;
}
.house .house_right .hr_list ul li a .li_infor span{
	    color: #ca0606;
    margin-left: 10px;
    font-size: 12px;
}
.line{
	height: 7px;
    background: url(../images/line.gif) no-repeat;
    overflow: hidden;
}
.hr_information{
	height: 235px;
	position: relative;
}
.hr_information  .hr_change{
	position: absolute;
    right: 60px;
    top: 22px;
    line-height: 20px;
    z-index: 20;
}

.hr_information  .hr_change .btn{
    border: 1px #e2e2e2 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 7px;
    font-size: 12px;
    margin-left: 5px;
    float: left;
    margin-top: 2px;
}
.hr_information  .hr_change .prev i{
    background: url(../images/left.png) no-repeat center;
    width: 14px;
    height: 14px;
    background-size: 14px;
    float: left;
    margin-top: 5px;
}
.hr_information  .hr_change .next i{
	background: url(../images/right.png) no-repeat center;
	width: 14px;
	height: 14px;
	background-size: 14px;
	float: left;
	margin-top: 5px;
}
.hr_information  .hr_change .btn i{
	background: url(../images/cd_14.png) no-repeat 0px 4px;
	width: 15px;
	height: 15px;
	background-size: 15px;
	float: left;
	margin-right: 2px;
	margin-top: 0px;
}
.hr_information  .hr_change .ls{
    float: left;
    margin-top: 8px;
}
.hr_information  .hr_change .ls ul li{
	float: left;
	    width: 10px;
    height: 10px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    display: inline-block;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-indent: 100000000000px;
    margin: 0 2px
}
.on{
	background-color: #ca0606!important;
}
.house .house_right .hr_information .infor_txt{
	    margin-top: 20px;
    width: 425px;
    float: left;
    position: relative;
}
.house .house_right .hr_information .infor_txt h2{
	    height: 30px;
    border-bottom: 1px #e2e2e2 solid;
    font-size: 18px;
}
.house .house_right .hr_information .infor_txt h2 span{
	display: inline-block;
    height: 29px;
    border-bottom: 2px #ca0606 solid;
    font-weight: bold;
}	
.house .house_right .hr_information .infor_txt .more{
	    position: absolute;
    right: 0;
    top: 5px;
    font-size: 12px;
}
.house .house_right .hr_information .infor_txt ul{
	padding-top: 10px;
}
.house .house_right .hr_information .infor_txt ul li{
	    margin-top: 10px;
    line-height: 20px;
    text-align: right;
    color: #999;
}
.house .house_right .hr_information .infor_txt ul li a{
	float: left;
    background: url(../images/li.gif) no-repeat 0 center;
    padding-left: 10px;
    font-size: 14px;
    width: 352px;
    height: 20px;
    overflow: hidden;
    text-align: left;
}
.recruit{
	width: 1200px;
	margin: 0 auto;
}
.recruit .recruit_lead{
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
}
.recruit .recruit_lead h1{
	font-size: 25px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}
.recruit .recruit_lead .rel_list{
	float: left;
}
.recruit .recruit_lead .rel_list a{
	font-size: 14px;
}
.recruit .recruit_lead .rel_list em{
	font-size: 14px;
	margin: 0 5px;
}
.recruit .recruit_lead  .rel_right{
	float: right;
}
.recruit .recruit_lead  .rel_right span{
	float: left;
	font-size: 14px;
}
.recruit .recruit_lead  .rel_right  p{
	float: left;
	color: #ba4e4e;
	font-size: 14px;
}
.recruit .recruit_left {
	float: left;
	width: 915px;
}
.recruit .recruit_left ul li{
	float: left;
	width: 280px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	margin-right: 20px;
	margin-bottom: 8px;
}
.recruit .recruit_left ul li a h1{
	float: left;
	font-size: 14px;
	color: #1d76d4;
	margin: 0 10px;
	margin-top: 5px;
}
.recruit .recruit_left ul li a h1 i{
    font-style: normal;
    font-size: 12px;
    color: #a2a2a4;
    margin-left: 5px;
}
.recruit .recruit_left ul li a span{
	width: 280px;
	float: left;
	font-size: 12px;
	margin: 0 10px;
	margin-bottom: 5px;
}
.recruit .recruit_left ul li a span em{
	color: #159f16;
}
.recruit .recruit_right{
	float: left;
	width: 285px;
}
.recruit .recruit_right .fa_left{
	float: left;
	width: 135px;
	height: 52px;
	background-color: #62ac01;
	color: #fff;
	font-size: 16px;
	line-height: 52px;
	text-indent: 25px;
	position: relative;
}
.recruit .recruit_right .fa_left em{
	position: absolute;
	right: 20px;
	top: 17px;
	background: url(../images/play_2.png) no-repeat center;
	width: 20px;
	height: 20px;
	background-size: 20px;
	display: block;
}
.recruit .recruit_right .fa_right{
	float: right;
	width: 135px;
	height: 52px;
	background-color: #ffa800;
	color: #fff;
	font-size: 16px;
	line-height: 52px;
	text-indent: 25px;
	position: relative;
}
.recruit .recruit_right .fa_right em{
	position: absolute;
	right: 20px;
	top: 17px;
	background: url(../images/play_1.png) no-repeat center;
	width: 20px;
	height: 20px;
	background-size: 20px;
	display: block;
}
.re_list{
	width: 285px;
	margin-top: 20px;
}
.re_list .re_list_lead{
	font-size: 16px;
	color: #fd610a;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #e3e3e3; 
}
.re_list ul li{
	width: 285px;
	height: 30px;
	*height: 27px;
	line-height: 30px;
} 
.re_list ul li a span{
	width: 50px;
	height: 30px;
	overflow: hidden;
	font-size: 12px;
	color: #0868cc;
	float: left;
	text-indent: 10px;
}
.re_list ul li a em{
	width: 50px;
	float: left;
	font-size: 12px;
	text-align: center;
	color: #000;
}
.re_list ul li a p{
	width: 175px;
	height: 30px;
	overflow: hidden;
	float: left;
	color: #000;
}
.re_list ul .li_bc{
	background: #ededef;
}
.wrap {width: 1200px; margin: 0 auto}
/* 图片list */
.hd {height: 38px; line-height: 38px; font-family: 'microsoft yahei'; border-bottom: 2px solid #e4e4e4; margin: 5px 0 20px;}
.hd h2 {float: left; font-size: 22px; padding-left: 10px;}
.hd a {float: right; position: relative; margin-right: 10px; font-size: 14px; color: #84878c; padding-left: 23px;}
.hd a i {position: absolute; left: 0; top: 13px; width: 17px; height: 13px; background: url('../images/sprite.png') -33px 0;}
.hc {position: relative; overflow: hidden;}
.hc ul {width: 1208px; height: 304px; margin-top: -10px;}
.hc li {float: left; width: 142px; height: 142px; margin-top: 10px; margin-right: 1px; position: relative;margin-right: 9px;}
.w1200 .hc li {margin-right: 9px;}
.hc li a {width: 100%; height: 100%; display: block; overflow: hidden;}
.hc li a img {width: 142px; height: 142px; transition: all .2s;}
.hc li a:hover img {-webkit-transform: rotate(1deg) scale(1.1); -moz-transform: rotate(1deg) scale(1.1); transform: rotate(1deg) scale(1.1);}
.hc li a .info {position: absolute; left: 0; right: 0; top: 117px; padding: 3px 5px 5px; height: 17px; line-height: 20px; overflow: hidden; color: #5c5857;}
.hc li a .info p {position: relative; z-index: 2;}
.hc li a .info .price {float: left; color: #d74e20; font-family: Arial; line-height: 22px; margin-top: 5px; font-weight: 700;}
.hc li a .info .addr {float: right; color: #fff; background: #68d65d; padding: 0 5px; margin-top: 5px;}
.hc li a .info .bg {position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 25px; z-index: 1; background: #faf7f2; filter: alpha(opacity=90); opacity: .9;}
.hc li a:hover .info {height: auto; top: auto; bottom: 0;}
.hc li a:hover .info .bg {height: 100%;}

/* 热门信息 */
.hotnews {width:1280px;}
.hotnews dl {float: left; width: 300px; padding-right: 20px; margin-right: 30px; border-right: 1px solid #e5e5e5; font-size: 14px; font-family: 'microsoft yahei';}
.w1200 .hotnews dl {width: 360px; font-size: 16px;}
.hotnews dd {width: 100%; height: 35px; line-height: 35px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.hotnews dd:hover {background: #f5f5f5;}
.hotnews dd .type {color: #98989a; margin-right: 5px;}
.hotnews dd a:hover.type {color: #fd5115;}
.hotnews dd i {width: 15px; height: 15px; display: inline-block; margin: 0 10px 0 5px; vertical-align: middle; text-align: center; line-height: 15px; color: #fff; background: #323234; font-size: 12px; font-style: normal; border-radius: 50%; transition: all .2s;}
.hotnews dd i.t {background: #ff4b00;}
.hotnews dd:hover i {-webkit-transform: rotate(1deg) scale(1.5); -moz-transform: rotate(1deg) scale(1.5); transform: rotate(1deg) scale(1.5);}
.hotnews dl {width: 360px; font-size: 16px;}
.link{
	width: 1200px;
	margin: 0 auto;
	height: 176px;
	background: #efefef;
	border-top: #00379b 2px solid;
	margin-top: 30px;
}
.link .link_1{
	text-align: center;
	padding: 26px 0 17px 0;
	border-bottom: 1px solid #e5e5e5;
	width: 1050px;
	margin: 0 auto;
}
.link .link_1 a{
	font-size: 14px;
	margin: 0 5px;
}
.link .link_1 a:hover{
	font-weight: bold;
	color: #000;
}
.link .link_2{
	width: 1050px;
	margin: 0 auto;
	color: #a2a1a7;
	margin-top: 15px
}
.link .link_2 a{
	font-size: 12px;
	color: #a2a1a7;
	margin: 0 5px;
}
.link .link_2 a:hover{
	color: #000;
}
.foot{
	width: 1200px;
	margin: 0 auto;
	margin-top: 24px;
}
.foot .foot_top{
	width: 991px;
	margin: 0 auto;
}
.foot .foot_top .foot_l {
	width: 700px;
	text-align: center;
	float: left;
}
.foot .foot_top .foot_l div{
	margin-bottom: 5px
}
.foot .foot_top .foot_l .js a{
	margin: 0 5px;
}
.foot .foot_top .foot_r{
	float: right;
}
.foot_down{
	width: 991px;
	margin: 0 auto;
}
.foot_down img{
	margin: 20px 0;
}
.none{
	display: none;
}
.zq{
    border-bottom: 3px #fff solid;
    color: #ca0606;
}
.zq em{
	display: block;
    width: 94%;
    _width: 100px;
    position: absolute;
    bottom: -3px;
    left: 3%;
    height: 3px;
    background-color: #ca0606;
    overflow: hidden;
}
.name-1{
	width: 201px;
	height: 64px;
	position: fixed;
	top: 40%;
	left: 45%;
	border:1px #e2e2e2 solid;
	font-size: 16px;
	line-height: 64px;
	background: #fff;
	text-align: center;
	z-index: 9999;
	display: none;
}
.phone-1{
	width: 201px;
	height: 64px;
	position: fixed;
	top: 40%;
	left: 45%;
	border:1px #e2e2e2 solid;
	font-size: 16px;
	line-height: 64px;
	background: #fff;
	text-align: center;
	display: none;
	z-index: 9999;
}
.city-1{
	width: 201px;
	height: 64px;
	position: fixed;
	top: 40%;
	left: 45%;
	border:1px #e2e2e2 solid;
	font-size: 16px;
	line-height: 64px;
	background: #fff;
	text-align: center;
	display: none;
	z-index: 9999;
}
.pop{
    position: absolute;
    left: 380px;
    top: 34px;
    width: 170px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
    -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    color: #101010;
    font-size: 14px;
    -webkit-animation: topFadeIn .3s ease-out;
    -moz-animation: topFadeIn .3s ease-out;
    animation: topFadeIn .3s ease-out;
}
.pop s{
	position: absolute;
    top: -8px;
    left: 80px;
    width: 16px;
    height: 9px;
    background: url(../images/icons.png) -10px -591px;
}
.pop p {
	line-height: 20px;
}
.pop p a {
	padding: 0; background: none;
}
.pop p a img {
	display: block; margin: 0 auto;
}
.pop-1{
    position: absolute;
    left: 485px;
    top: 34px;
    width: 170px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
    -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    color: #101010;
    font-size: 14px;
    -webkit-animation: topFadeIn .3s ease-out;
    -moz-animation: topFadeIn .3s ease-out;
    animation: topFadeIn .3s ease-out;
}
.pop-1 s{
	position: absolute;
    top: -8px;
    left: 80px;
    width: 16px;
    height: 9px;
    background: url(../images/icons.png) -10px -591px;
}
.pop-1 p {
	line-height: 20px;
}
.pop-1 p a {
	padding: 0; background: none;
}
.pop-1 p a img {
	display: block; margin: 0 auto;
}
.loginbox {
	float: left; display: none;
}
.loginbox a {
	float: left;margin:0 10px 0 0;
}
.loginbox a:hover {
	text-decoration: underline;
}