 <volist name="res_freeride" id="vo" >
		<div class="mui-card" style="margin:0;border-bottom: 1px solid #ddd;" id="{$vo.freeride_id}">
			<div class="mui-card-content">
				<div class="mui-card-content-inner" style="padding: 5px 15px;">
					<a style="position: relative;display: block;color:#000;" class="topheight" str="{$vo.freeride_id}" >
                        <?php if(!empty($vo['imgs_is'])){ ?>
								<div class="mui-media-object mui-pull-left img" style=";width: 60px;height: 60px;margin-right: 10px; background-image: url({$vo.imgs.0}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; " ></div>
							<?php }else{ ?>
							    <div class="mui-media-object mui-pull-left img" style=";width: 60px;height: 60px;margin-right: 10px; background-image: url(__PUBLIC__/../{$vo.imgs.0.imgs_smallpath}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; " ></div>
							<?php } ?>
						<div>
							<img src="__PUBLIC__/Home/img/time.png" alt="" style="height: 16px;vertical-align:middle;position: relative;top:-1px;">
							<span class="time">{$vo.time}</span>
							<input type="hidden" class="times" value="{$vo.time}">
							 
							<?php if($vo['freeride_sex'] == 0 ){ ?>
							<img src="__PUBLIC__/Home/img/women.png" alt="" style="height: 20px;vertical-align:top;">
							<?php }else{ ?>
							<img src="__PUBLIC__/Home/img/man.png" alt="" style="height: 20px;vertical-align:top;">
							<?php }?>
							<span class="ellipsis" style="float: right;width: 90px;line-height: 21px;text-align: right;">
								{$vo.freeride_models}
							</span>
						</div>
                       <p style="margin-bottom: 0;color: #000;width: 100%;height: 21px;"><strong style="font-weight: normal;color:#64d06d;margin-right: 5px;float: left;">起</strong>
                       <span class="ellipsis" style="float: left;line-height: 21px;width: 45%;height: 21px;">{$vo.freeride_start}</span><span style="float: right;">剩余{$vo.freeride_seat}座</span>
                       </p>
						<p style="margin-bottom: 0;color: #000;width: 100%;height: 21px;">
						<strong style="font-weight: normal;color:#e47437;margin-right: 5px;float: left;">终</strong><span class="ellipsis" style="float: left;line-height: 21px;width: 45%;height: 21px;">{$vo.freeride_end}</span>
						<!-- <span style="float: right;">
						<?php if($vo['freeride_is_free'] == 0){echo '收费';}else{echo '免费';}?></span> --></p>
 					</a>
				</div>
			</div>
		</div>
     </volist>