.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.container{width: 1000px; margin: 0 auto}
.w1200 .container{width: 1200px;}
.classify{border:1px solid #ececce; border-bottom: none; margin-top: 15px;}
.classify div{border-bottom:1px solid #ececce; height: 42px;line-height: 42px;}
.classify div p{font-size: 14px; margin-bottom: -1px;}
.classify div p span,.classify div p a{display: inline-block; padding: 0 5px; margin:0 6px; }
.w1200 .classify div p span,.w1200 .classify div p a{margin:0 10px;}
.classify div p span{color: #999}
.classify div p a.active{color: #f2622b; border-bottom: 1px solid #f2622b}



.ranking{position: relative; width:1001px; height: 108px; border:1px solid #ececec; border-left:none; margin-top:8px;}
.w1200 .ranking{width:auto;}
.ranking .tag{position: absolute; left:0; top:-8px; width: 40px; height: 116px; background:url(../images/other.png) no-repeat;}
.ranking ul{ width:966px; margin:0 -1px -1px 36px;}
.w1200 .ranking ul{ width:1166px;}
.ranking ul li{float: left; width: 160px; height: 108px; border-left:1px solid #fff;}
.w1200 .ranking ul li{width:193px}
.ranking ul li div,.brandList ul li div{width: 100%; height: 88px; text-align: center;}
.ranking ul li i,.brandList ul li i{ display: inline-block;  height: 100%; vertical-align: middle;}
.ranking ul li img,.brandList ul li img{ max-width:99%; max-height:100%; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.ranking ul li p{height: 20px; line-height: 20px; line-height: 20px; text-align: center; color: #fff; background: #40bfed}
.ranking ul li.s1 p{background: #129dd0}
.ranking ul li.s2 p{background: #28aee0}

.brandList ul{width: 1015px; margin-right: -15px; padding-bottom: 30px;}
.w1200 .brandList ul{width: 1216px}
.brandList ul li{float: left; width: 128px; height: 111px; border:1px solid #ececec; margin:15px 15px 0px 0; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.w1200 .brandList ul li{width: 135px; position: relative;}
.w1200 .brandList ul li.empty, .brandList ul li.empty {float: none; width: 100%; height: 300px; line-height: 300px; text-align: center; font-size: 14px; border: none;}
.brandList ul li .corner{background:-webkit-linear-gradient(45deg, #e9e6e6 24%, #e1e0e0 40%,#e3e2e2 43%,#e1e0e0 46%,#dcdcdc 50%,#fff 50%,#d2671e);
	background:-moz-linear-gradient(45deg, #e9e6e6 24%, #e1e0e0 40%,#e3e2e2 43%,#e1e0e0 46%,#dcdcdc 50%,#d2671e 50%,#d2671e);height:90px;
	background:-o-linear-gradient(45deg, #e9e6e6 24%, #e1e0e0 40%,#e3e2e2 43%,#e1e0e0 46%,#dcdcdc 50%,#d2671e 50%,#d2671e);height:90px;
	background:-ms-linear-gradient(45deg, #e9e6e6 24%, #e1e0e0 40%,#e3e2e2 43%,#e1e0e0 46%,#dcdcdc 50%,#d2671e 50%,#d2671e);height:90px;
	background:linear-gradient(45deg, #e9e6e6 24%, #e1e0e0 40%,#e3e2e2 43%,#e1e0e0 46%,#dcdcdc 50%,#d2671e 50%,#d2671e);height:90px;
	width:0px;height:0px;border-radius:0 0 0px 90px / 0 0 0 30px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);position:absolute;left:0px;top:-1px;outline:1px solid transparent;overflow:hidden;-webkit-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;-ms-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;}
.brandList ul li .corner:after{height:100%;width:100%;position:absolute;content:"";top:-6px;left:-27px;border-radius:30px 30px 0px 0 / 10px 10px 0 0;z-index:1;background:#fff;-webkit-transform:rotate(77deg);-moz-transform:rotate(77deg);-o-transform:rotate(77deg);-ms-transform:rotate(77deg);transform:rotate(77deg);box-shadow:0px 0px 8px black inset;}
.brandList ul li div{height: 74px; border-bottom: 1px dashed #eaeaea}
.brandList ul li p{line-height: 36px; text-align: center;}
.brandList ul li:hover{border-color: #d2671e}
.brandList ul li:hover .corner{width: 30px; height: 30px;}

.page{padding-top:0;}
