.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.container{width: 1000px; margin: 0 auto}
.w1200 .container{width: 1200px;}

.smallSearch .ser i,.busInfo .title  p{background: url(../images/bulid.png);}

.select{  background: #fff;}
.select .sel{ width:96%;  margin:0 auto; line-height: 44px; font-size: 14px; border-bottom:1px solid #ececec;}
.select .sel a{display: inline-block; height: 22px; line-height: 22px; margin:0 10px; padding:0px 6px; border-radius: 2px;}
.select .sel a.on{background: #ff4a00; color: #fff }
.select .x{width: 94%}
.smallSearch{height: 30px; padding: 10px 0;}
.smallSearch .ser{height:30px; border-bottom: 1px solid #ececec;  margin-right: 20px;}
.smallSearch .ser i{width: 17px; height: 17px; background-position: -47px -80px; margin:5px 10px 0 0; vertical-align: middle;}
.smallSearch .ser input{width: 280px; height: 29px; line-height: 29px; border:none; font-size: 14px;}
.smallSearch .price{float: left; width: 82px; height: 30px; line-height: 30px; border-bottom:1px solid #ececec; padding:0 5px; color: #999; font-size: 14px;}
.smallSearch .price input{float: left; width:65px; height: 29px; border:0; line-height: 29px; font-size: 14px; }
.smallSearch .line{ float: left; margin:0 10px; line-height: 30px; color: #999 }
.smallSearch .submit{width: 90px; height: 30px; line-height: 30px; text-align: center; border:1px solid #ececec; background: #f7f6f4; margin-left:20px; color: #333; font-size: 14px; cursor: pointer;}


.list ul li .price i,.comInfo s{background: url(../images/other.png)  no-repeat;}
/* 分类 */
.classify{  height:86px; border:1px solid #ececec; border-bottom: none}
.classify div{border-bottom:1px solid #ececce; height: 42px;line-height: 42px;}
.classify div p{font-size: 14px; margin-bottom: -1px;}
.classify div p span,.classify div p a{display: inline-block; padding: 0 5px; margin:0 6px; }
.w1200 .classify div p span,.w1200 .classify div p a{margin:0 10px;}
.classify div p span{color: #999}
.classify div p a.active{color: #f2622b; border-bottom: 1px solid #f2622b}

/*左侧*/
.businessD-list{width:765px; overflow: hidden;}
.w1200 .businessD-list{width: 930px;}
.business-info{width: 220px;}
.w1200 .business-info{width: 250px; }

.list ul{width: 110%; margin-left:-15px; padding-bottom: 30px;}
.w1200 .list ul{margin-left:-18px;}
.list ul li{float: left; width: 180px; margin:15px 0 0 15px;}
.w1200 .list ul li{width: 219px; margin:18px 0 0 18px;}
.list ul li.empty, .w1200 .list ul li.empty {width: 100%; float: none; height: 300px; line-height: 300px; text-align: center; font-size: 14px;}
.list ul li img{display: block; width: 100%; height: 160px; }
.w1200 .list ul li img{height:195px}
.list ul li p{width:94%; height: 40px; line-height: 20px; font-size: 14px; padding:10px 3%; overflow: hidden; }
.list ul li .price{width: 100%; height: 28px; line-height: 28px;  -webkit-transition:all .4s; -moz-transition:all .4s; transition: all:.4s;}
.list ul li .price em{font-size:16px; margin:0 10px;}
.list ul li .price s{color: #999}
.list ul li .price i{width: 28px; height: 28px;  background-position:13px -153px; background-color:#a44e13; opacity: 0}
.list ul li .price i a{display: block; width: 100%; height: 100%}
.list ul li:hover .price{background: #d06115;}
.list ul li:hover .price em,.list ul li:hover .price s{color: #fff}
.list ul li:hover i{opacity: 1}

.comInfo{position: relative; width: 220px; height: 65px;}
.w1200 .comInfo{width: 250px;}
.comInfo .comLogo{width: 180px; height: 65px; text-align: center;}
.w1200 .comInfo .comLogo{width:200px;}
.comInfo s{position: absolute; bottom: 0; right: -15px; width: 56px; height: 75px; background-position: 0 -190px;    }
.comInfo i{display: inline-block; height: 100%; vertical-align: middle}
.comInfo img{ max-width:98%; max-height:65px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.contact{padding: 15px; background: #129dd0; color: #fff}
.contact p{font-size: 18px; line-height: 30px;}
.contact span{font-size: 14px; display: block; line-height: 26px;}
.hot-goods{border:1px solid #ececec; margin-top:25px;}
.hot-goods h3{width: 100%; height: 38px; line-height: 38px; padding-left: 10px; font-size: 16px; background: #f8f8f8}
.hot-goods ul{padding-bottom: 15px; margin:0 14px; overflow: hidden;}
.hot-goods ul li{ position: relative; margin-top:15px;}
.hot-goods ul li i{position: absolute; left:0; top:0; width: 13px; height: 13px; text-align: center; line-height: 13px; color: #fff; background: #d06115}
.hot-goods ul li i.grey{background: #aaa}
.hot-goods dl{height: 70px;}
.hot-goods dt{float: left; width: 70px; height: 70px; margin-right: 15px;}
.hot-goods dt img{display: block; width: 100%; height: 100%;}
.hot-goods dd{float: left; width:52%; font-size: 14px; }
.w1200 .hot-goods dd{width:60%;}
.hot-goods dd p{width:100%; height: 20px; line-height: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.hot-goods dd span{color: #d06115; line-height: 30px;}
.hot-goods dd s{color: #999; margin-left: 5px; line-height: 30px;}
.hot-goods dd.go a{display: inline-block; width: 65px; height: 20px; font-size: 12px; text-align: center; line-height: 20px; color: #fff; background: #d06115; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s; display: none;}
.hot-goods li:hover dd.go a{display: block;}
