.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.container{width: 1000px; margin: 0 auto}
.w1200 .container{width: 1200px;}


/* 分类 */
.classify{border:1px solid #ececec; border-bottom: none}
.classify div{border-bottom:1px solid #ececec; line-height: 42px;}
.classify div p{position: relative; padding-left: 55px; font-size: 14px; margin-bottom: -1px;}
.classify div p span,.classify div p a{display: inline-block; padding: 0 5px; margin:0 6px;}
.w1200 .classify div p span,.w1200 .classify div p a{margin:0 10px;}
.classify div p span{width: 38px; color: #999; position: absolute; left: 0; top: 0;}
.classify div p a.active{color: #f2622b; border-bottom: 1px solid #f2622b}

/* 筛选 */
.filter{height: 45px; border:1px solid #ececec; margin-top:20px; z-index: 1;position: relative;}
.filter span.left{position: relative; padding:0 25px; font-size: 14px; line-height: 44px; color: #333; cursor: pointer;}

i.arrow-bottom{ position: absolute; right: 10px; top:20px; width: 0px; height: 0px; border:4px solid transparent; border-top-color:#333;}
.selectX{width:998px; height: 44px; border:1px solid #ececec;  background: #fff; margin:15px auto; z-index: 1;position: relative;}
.w1200 .selectX{width:1198px}
.selectX span.left{position: relative; padding:0 25px; font-size: 14px; line-height: 44px; color: #333;}
.selectX ul{position: absolute; left:0px; top:-2px; width: 130px; overflow: hidden; z-index:20; background: #fff; border:2px solid #e8e8e8;}
.selectX span.left:hover{z-index: 1}
.selectX ul li{padding:0 21px; line-height: 44px; text-align: center;}
.selectX ul li a{font-size:14px;}
.selectX span em.on,.selectX span.on a{color: #ff2832}
.selectX a.on{color: #ff2832}
.selectX font{color: #e0e0e0; margin-top: 11px;}

.selectX .right{display: none; height: 28px; margin-right:10px; line-height:28px;border: 1px solid #ececec; margin-top:8px;  }
.selectX .right span{display: inline-block; width: 40px; text-align: center;}
.selectX .right a{display: inline-block; text-align: center; line-height: 28px; width:28px; height: 28px; border-left: 1px solid #ececec;  color: #9c9c9c}
.selectX .right a.pre{border-right: 1px solid #ececec; border-left:none;}


i.arrow-bottom{ position: absolute; right: 10px; top:20px; width: 0px; height: 0px; border:4px solid transparent; border-top-color:#333;}
i.arrow-bottom:after{content: ""; position: absolute;left:-4px; top:-5px; width: 0px; height: 0px; border:4px solid transparent;  border-top-color:#fff}

.businessList{position: relative; border:1px solid #ececec; padding: 30px 30px 20px; margin: 20px 0; overflow: hidden;}
.lookShop{position: absolute; right: 40px; top:50px; width: 100px; height: 36px; text-align: center; line-height: 36px;  font-size: 16px; background: #f8f8f8; border-bottom: 2px solid #ececec;-webkit-transition: all .4s linear; -moz-transition: all .4s linear; transition: all .4s linear;}
.businessList:hover{background: #f7f7f7}
.businessList:hover .lookShop{background: #d06115; }
.businessList:hover .lookShop a{color: #fff}
.businessList .left{ width: 152px; text-align: center;}
.businessList .left .img{width: 100%; height: 170px; background: #fff;text-align: center;}
.businessList .left i{display: inline-block;  height: 100%; vertical-align: middle;}
.businessList .left img{max-width:100%; max-height:170px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.businessList .left p{width: 100%; height: 36px; line-height: 36px; text-align: center; color: #fff; font-size: 20px; background: #d06115; margin:15px 0;}
.businessList .left  span{display: block;}
.businessList .left  span em{color: #d06115}
.businessList .right{width: 950px;}
.businessList .right h3{font-size: 22px; }
.businessList .right h3 i,.businessList .right p.address i{display: inline-block; vertical-align: middle; width: 29px; height: 13px; margin-left: 10px; background: url(../images/other.png) 0 -120px no-repeat;}
.businessList .right span{display: block; line-height: 40px; font-size: 14px; }
.businessList .right span em{color: #f2622b}
.businessList .right p.address{font-size: 14px;}
.businessList .right p.address i{width:9px; height: 12px; background-position: 0 -138px; margin:0 5px 0 0;}
.businessList .right .intro{margin:15px 0 20px; border-top: 1px solid #ececec; font-size: 14px; line-height: 24px;}
.businessList .right .intro a{color: #f2622b}
.businessList .right ul{width: 950px; height: 115px; overflow: hidden;}
.businessList .right ul li{position: relative; float: left; width: 170px; height: 115px; margin-right: 20px}
.businessList .right ul li img{width: 100%; height: 100%}
.businessList .right ul li p{position: absolute; left:0; bottom:0; width: 100%; height:30px; text-align: center; line-height: 30px; color: #fff; background: url(../images/p-bg.png); }

.empty {height: 300px; line-height: 300px; text-align: center; font-size: 14px;}

.page{padding-top:30px;}
