.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.informationCon{width: 1000px; margin: 0 auto; overflow: hidden; }
.w1200 .informationCon{width: 1200px;}
.informationCon li{float: left; width:50%; height: 110px; margin-bottom: 40px;}
.informationCon li.empty {float: none; width: 100%; height: 300px; line-height: 300px; text-align: center; font-size: 14px;}
.informationCon li .img{float: left; width: 140px; height: 100px; margin-right: 15px;}
.informationCon li .img img{display: block; width: 100%; height: 100%}
.informationCon li h3{float: left; width: 62%; height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 25px; font-size: 18px; border-bottom: 1px dashed #aaa}
.informationCon li p{ float: left; width: 62%; height: 60px; overflow: hidden; font-size: 14px; line-height: 20px; padding: 10px 0; }
.w1200 .informationCon h3,.w1200 .informationCon p{width: 68%}


.select{  background: #fff; margin:0px auto 20px; }
.select .sel{ width:96%;  margin:0 auto; line-height: 44px; font-size: 14px; border-bottom:1px solid #ececec;}
.select .sel:last-child {border: 0;}
.select .sel .left {width: 42px;}
.select .sel a{float: left; height: 22px; line-height: 22px; margin:5px 10px; padding:0px 6px; border-radius: 2px;}
.select .sel a.on{background: #d06115; color: #fff }
.select .sel .x{width: 94%; padding: 7px 0;}
.select .bot{border:none;}

.pagination {margin-top: 0;}
