{#include file="{#$HUONIAOROOT#}/templates/siteConfig/top1.html"#}

<!-- logo s -->
<div class="ly_rest fn-clear wrap">
	<div class="pic_1">
		<a href="{#$video_channelDomain#}"><img src="{#$video_logoUrl#}" alt="{#$video_channelName#}"></a>
	</div>
	<div class="searc_h fn-clear">
		<form action="{#getUrlPath service="video" template="list"#}">
			<input type="text" name="keywords" class="dad_y"  value="" placeholder="请输入关键词">
			<a href="javascript:;" class="mo_m">搜索</a>
			<p>
				<a href="#" class="colo_r">三亚</a>
				<a href="#">北京</a>
				<a href="#" class="colo_r">日本</a>
				<a href="#">泰国</a>
				<a href="#" class="colo_r">上海迪士尼乐园</a>
				<a href="#">南昌万达主题乐园</a>
			</p>
		</form>
	</div>
	<div class="zhao-shang tubiao">
		{#myad id="2000"#}
	</div>
</div>
<!-- logo e -->
<!-- 导航 s -->
{#if $template != "detail"#}
<div class="rt_hot">
	<div class="shou-ye mainnav fn-clear wrap">
		<ul class="this">
			<li class="zero semple">
				<a href="{#$video_channelDomain#}">首页</a><b>|</b>
			</li>
			{#video action="type" return="typenav" type="0"#}
			{#if $_bindex.typenav < 12#}
			<li class="one semple">
				<a href="{#$typenav.url#}" class="dot">{#$typenav.typename#}<span></span></a><b>|</b>
				<div class="one_one fn-clear">
					<i></i>
					<ul class="acfun">
					{#video action="type" return="typenav2" type=$typenav.id#}
						<li><a href="{#$typenav2.url#}">{#$typenav2.typename#}</a></li>
					{#/video#}
					</ul>
				</div>
			</li>
			{#/if#}
			{#/video#}
		</ul>
	</div>
</div>
<!-- 导航 e -->
{#/if#}
