body,html{
	font-size: .3rem;
	background: #f6f6f6;
}
* { 

-webkit-tap-highlight-color: transparent; 
-webkit-appearance: none; 
}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
/* 头部 */
.header{height: .9rem;background: #fff !important;display: -webkit-box;font-size: .32rem;line-height: .9rem;max-width: 1080px;position: relative;z-index: 100000; border-bottom: 1px solid #f2f2f2;}
.header-l a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle; background: url(../images/header_back.png) center center no-repeat; background-size: auto .4rem;}
.header-l img{display: block;width: auto;height: .8rem;margin: 0 auto;}
.header-address{-webkit-box-flex: 1;text-align: center; font-size: .36rem; line-height: .4rem; margin: .28rem 0; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-address a.changeCity{position: relative;}
.header-address .downArea{position: absolute; right: -0.3rem; top: 0.15rem; border-top: .1rem solid #333; border-left: .1rem solid transparent; border-right: .1rem solid transparent;}
.header-search a{display: table-cell;height: .9rem;width: 1rem;vertical-align: middle;float: right; background: url(../images/header_la.png) center center no-repeat; background-size: auto .5rem;visibility: hidden;}


.nav{
	background: #fff;
}
.nav ul li{
    width: 33.333%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    text-align: center;
    color: #666;
    border-bottom: 2px solid #ececec;
    float: left;
    background: #fff;
}
.nav ul li.nav_bc{
    border-bottom: 2px solid #00a0e9;
	color: #00a0e9
}