<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>个人登录记录 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/connect.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#$pageTitle = "绑定社交账号"#}
{#include file="top.html"#}


		<div class="main">


			<div class="edit-tip">绑定社交帐号，绑定后可以使用以下帐号直接登录网站！</div>

			<ul class="connect">
				{#siteConfig action="getUserBindLoginConnect"#}
				<li{#if $row.state == 0#} class="fail fn-clear"{#else#} class="ok fn-clear" data-id="{#$row.code#}"{#/if#}>
					<div class="l fn-left"><img src="{#$cfg_basehost#}/api/login/{#$row.code#}/img/32.png" />{#$row.name#}快捷登录</div>
					<div class="r fn-right">{#if $row.state == 0#}<a href="{#$cfg_basehost#}/api/login.php?type={#$row.code#}" class="blue">立即绑定</a>{#else#}<a href="javascript:;" class="orange">解除绑定</a>{#/if#}</div>
				</li>
				{#/siteConfig#}
			</ul>

		</div>

<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/connect.js"></script>
</body>
</html>
