<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>找回密码</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/base.css">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fpwd.css?v=2">
<script type="text/javascript">
  var masterDomain = '{#$cfg_basehost#}', userDomain = '{#$member_userDomain#}', staticPath = '{#$cfg_staticPath#}';
  var geetest = {#$cfg_geetest#};
</script>
</head>

<body>
<div class="container">
	<!-- 头部 -->
	<div class="header">
		<div class="header-l"><a href="javascript:history.go(-1)"><img src="{#$templets_skin#}images/arrow.png" alt=""></a></div>
		<div class="header-c">找回密码</div>
		<div class="header-r"><a href="{#$cfg_basehost#}/login.html">登录</a></div>
	</div>
	<!-- 头部 end -->
	<div class="type-tab">
		<div class="type-box type-phone active"><a href="javascript:;">手机找回</a></div>
		<div class="type-box type-email"><a href="javascript:;">邮箱找回</a></div>
	</div>
	<div class="form-box">
		<form id="fpwdForm" action="">
			<div class="form-box-item form-item-number">
				<div class="form-get form-get-phone">
					<input type="text" name="" placeholder="手机号码" class="number">
					<a href="javascript:;"><span class="get-yzm">获取验证码</span><span class="reget-yzm dn">重新获取(<em id="djs">60</em>)</span></a>
				</div>
				<input type="text" name="" class="yzm" placeholder="短信验证码">
			</div>
			<div class="form-box-item form-item-email dn">
				<div class="form-get form-get-email"><input type="text" name="" placeholder="邮箱" class="number"></div>
			</div>
            {#if !$cfg_geetest#}
			<div class="form-newpw">
				<input type="text" name="" placeholder="验证码" class="vericode">
				<span class="code-box"><img src="{#$cfg_basehost#}/include/vdimgck.php" title="看不清？点击换一张" id="verifycode"></span>
			</div>
            {#/if#}
			<div class="login-btn"><input type="submit" value="确定"></div>
		</form>
	</div>
	<div class="mask">
		<div class="popup">
			<div class="popup-txt">
				<div class="popup-icon"><img src="{#$templets_skin#}images/pup.png" alt=""></div>
				<p id="mailNote"></p>
			</div>
			<a href="javascript:;" class="know">我知道了</a>
		</div>
	</div>
</div>

<div id="maskFpwd"></div>
<div id="popupFpwd-captcha-mobile"></div>

<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js"></script>
{#if $cfg_geetest#}<script type="text/javascript" src="http://static.geetest.com/static/tools/gt.js"></script>{#/if#}
<script src="{#$templets_skin#}js/fpwd.js?v=2"></script>
</body>
</html>
