
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>订单详情 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/orderdetail-{#$module#}.css?v=6" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var hideFileUrl = {#$cfg_hideUrl#}, id = {#$id#};
	var modelType = '{#$module#}';
	var thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}', atlasSize = {#$atlasSize*1024*1024#}, atlasType = '{#$atlasType#}', atlasMax = {#$atlasMax#};
</script>

{#$pageTitle = "订单详情"#}
</head>

<body>
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="orderdetail-$module.html"#}

	</div>
</div>
<script src="{#$cfg_staticPath#}js/webuploader/webuploader.js" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v=5"></script>
<script src="{#$templets_skin#}js/common.js?v=4" type="text/javascript"></script>
<script type="text/javascript" src="{#$templets_skin#}js/orderdetail-{#$module#}.js?v=5"></script>
</body>
</html>
