a h1:hover{
    color: #ff6600;
}
.index-head{
	background: #f5f5f5;
	color: #8c8c8c;
	height: 42px;
	line-height: 37px;
}
.index-head .headline{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	line-height: 47px;
}
.index-head .headline .hl-l{
	float: left;
}
.index-head .headline .hl-l span{
	float: left;
	margin-right: 25px;
}
.index-head .headline .hl-l p{
	float: left;
	    width: 145px;
}
.index-head .headline .hl-l p img{
	margin: 0 5px ;
    vertical-align: text-bottom;
}
.index-head .headline .hl-l p i{
    width: 16px;
    height: 16px;
    background: #78b934;
    border-radius: 2px;
    font-style: normal;
    text-align: center;
    line-height: 16px;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    margin-left: 3px;
}
.index-head .headline .hl-r{
	float: right;
	width: 504px;
}
.index-head .headline .hl-r span{
	float: left;
	margin-right: 5px;
}
.index-head .headline .hl-r span a{
	color: #8c8c8c;
}
.index-head .headline .hl-r span a:hover{
	color: orange;
}
.index-head .headline .hl-r ul li{
	float: left;
}
.index-head .headline .hl-r ul li a{
	color: #8c8c8c;
	padding: 0px 10px;
	border-right: 1px solid #d6d6d6;
}
.index-head .headline .hl-r ul li a img{
	vertical-align: text-bottom;
	margin-right: 5px;
}
.index-head .headline .hl-r ul li .arr img{
	vertical-align: baseline!important;
	margin-left: 3px;
}
.index-head .headline .hl-r ul li .ph {
	border-right: none;
	padding-right: 0;
}
.index-head .headline .hl-r ul li a:hover{
	color: orange;
}
.guanzhu-er{
	    width: 130px;
    height: 134px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    position: absolute;
    top: 36px;
    z-index: 999;
    background: #f5f5f5;
    right: 0;
    display: none;
}
.guanzhu-er img{
	    width: 106px;
    height: 98px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
.guanzhu-er p{
	width: 130px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    color: #7c7c7c;
}
.search{
	width: 1200px;
	margin: 0 auto;
	margin-top: 37px;
	margin-bottom: 35px;
}
.search .logo{
	float: left;
	margin-top: 20px;
}
.search .search-1{
	width: 619px;
	float: left;
	margin-left: 77px;
}
.bc a{
	background: #fa5c22;
	color: #fff;
}
.search .search-1 ul li{
	    float: left;
    font-size: 15px;
    width: 56px;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
.search .search-1 ul li a{
	    float: left;
    font-size: 15px;
    width: 56px;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
.search .search-1 form{
	float: left;
	
}
.search .search-1 form input{
	padding-left: 36px;
	background: url(../images/04.png)no-repeat 9px;
	width: 470px;
	height: 45px;
	border:3px solid #fa5c22;
	font-size: 14px;
	float: left;
}
.search .search-1 form button{
	width: 80px;
	height: 51px;
	border:3px solid #fa5c22;
	background-color: #fa5c22;
	font-size: 20px;
	color: #fff;
}
.search .search-2{
	float: left;
}
.search .search-2 ul li{
	float: left;
	width: 68px;
	margin-right: 6px;
}
.search .search-2 ul li a{
    text-align: center;
    float: right;
    font-size: 14px;
    margin-top: 5px;
}
.navigation{
	background: #fa5c22;
}
.navigation .nav-l{
	width: 1200px;
	margin: 0 auto;
}
.navigation .nav-l ul li {
	float: left;
}
.navigation .nav-l ul li a{
	width: 107px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.back a{
	background: #d95423;
}
.navigation .nav-l ul li a:hover{
	background: #d95423;
}
.navigation-list{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.navigation-list ul li{
	float: left;
	height: 30px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.navigation-list ul li img{
	vertical-align: middle;
}
.navigation-list ul li a{
	font-size: 14px;
	text-align: center;
	padding: 0 5px;
}
.classify{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #d9d9d9;
	margin-top: 10px;
}
.classify .cf-l {
	float: left;
}
.classify .cf-l li{
    width: 26px;
    height: 44px;
    background: #e6e6e6;
    margin-bottom: 1px;
    font-family: 宋体;
    font-size: 13px;
    color: #595959;
    text-align: center;
    line-height: 20px;
    padding-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.classify .cf-ll{
    width: 165px;
    height: 146px;
    float: left;
    margin-left: 12px;
    margin-right: 15px;
}
.classify .cf-ll li{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 150px;
    line-height: 30px;
    height: 30px;
    float: left;
    font-size: 14px;
}
.classify .cf-m{
	float: left;
	width: 780px;
}
.classify .cf-mt li{
	float: left;
	width: 145px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 29px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
}
.classify .adver img{
    width: 765px;
    height: 84px;
}
.classify .cf-rr{
	width: 155px;
    height: 146px;
    float: left;
    margin-left: 20px;
}
.classify .cf-rr li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 150px;
    line-height: 30px;
    height: 30px;
    float: left;
    font-size: 14px;
}
.classify .cf-r{
	float: right;
}
.classify .cf-r li{
    width: 26px;
    height: 44px;
    background: #e6e6e6;
    margin-bottom: 1px;
    font-family: 宋体;
    font-size: 13px;
    color: #595959;
    text-align: center;
    line-height: 20px;
    padding-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bcb{
	background: #fa5c22!important;
}
.bcb a{
    color: #fff!important;
}
.ad{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ad a img{
	width: 1200px;
	height: 91px;
}
.ig-1{
	display: none;
}
.content-p1{
	width: 1200px;
	margin: 0 auto;
	height: 490px;
}
.content-p1 .p1-l{
	float: left;
	width: 496px;
	margin-right: 25px;
}
.banner{
	float: left;
}
.slideshow-item{
	position: relative;
}
.slideshow-item img{
	width: 496px;
	height: 341px;
}
.slideshow-item p{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    background-image: linear-gradient(transparent,#000);
    color: #FFF;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-left: 15px;
    width: 481px;
}
.jingcai{
	float: left;
	width: 496px;
	margin-top: 20px;
	position: relative;
}
.jc-lead{
	 width: 496px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    margin-bottom: 12px;
}
.jc-lead p{
	float: left;   
    color: #f25015;
}
.jc-txt{
	width: 500px!important;
}
.jc-txt .jct-pic{
	width: 91px!important;
	height: 76px;
	float: left;margin-right: 10px;
}
.jc-txt a img{
	float: left;
}
.jc-txt ul li a{
    width: 393px;
    height: 53px;
    line-height: 17px;
    font-size: 14px;
    color: #666;
    float: left;
    text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}
.jc-txt ul li a em{
	color: #f25015;
}
.jc-txt .jcx a{
    width: 395px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #333;
    float: left;
    margin-bottom: 10px;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}
.jc-txt .jcx a:hover{
	color: #ee561f;
}
.p1-m{
	float: left;
	width: 396px;
}
.p1-m em{
	color: #f25015;
}
.p1m-txt-1{
	margin-bottom: 20px;
	float: left;
}
.p1m-txt-1 span{
	    width: 402px;
    height: 50px;
    line-height: 22px;
    font-size: 13px;
    color: #555;
    float: left;
}
.p1m-txt-1 h1{
    text-decoration: none;
    color: #000;
    width: 402px;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #222;
    text-align: center;
    margin-bottom: 10px;
    float: left;
}
.p1m-txt-2{
	margin-bottom: 10px;
	float: left;
	border-bottom: 1px #eee  dashed;
}
.p1m-txt-2 span{
	    width: 402px;
    height: 50px;
    line-height: 22px;
    font-size: 13px;
    color: #555;
    float: left;
    margin-bottom: 10px;
}
.p1m-txt-2 span a{
	    width: 201px;
    height: 25px;
    float: left;
    line-height: 25px;
    font-size: 13px;
    overflow: hidden;
}
.p1m-txt-2 h1{
    text-decoration: none;
    color: #000;
    width: 402px;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #222;
    text-align: center;
    margin-bottom: 10px;
    float: left;
}
.p1m-txt-3 ul li a{
	width: 402px;
    height: 32px;
    display: block;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    float: left;
}
.p1m-txt-3 ul li a:hover{
    color: #ff6600;
}
.p1-r{
	float: left;
	width: 261px;
	margin-left: 22px;
}
.p1-r .load{
	border: solid 1px #dfdfdf;
}
.gg-lead ul li{
	float: left;
    width: 64px;
    text-align: center;
    border-bottom: solid 1px #dfdfdf;
    cursor: pointer;
    height: 28px;
    font-size: 13px;
    color: #666;
    line-height: 28px;
    background: #fafafa;
}
.gg-txt{
	border-bottom: solid 1px #dfdfdf;
	float: left;
}
.gg-txt ul{
    float: left;
	margin: 6px 0;
}
.gg-txt ul li {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    width: 129px;
    display: block;
    float: left;
    text-indent: 10px;
    overflow: hidden;
    font-size: 14px;
}
.kk{
    border-bottom: solid 1px #fff!important;
    border-right: solid 1px #dfdfdf!important;
    border-left: solid 1px #dfdfdf!important;
    background: #fff!important;
}
.bb{
	border-left: none!important;
}
.by{
	border-right: none!important;
}
.log{
	margin-top: 16px;
	float: left;
	width: 259px;
}
.log-1 img{
	float: left;
	    margin-left: 13px;
    margin-right: 11px;
}
.log-1  em{
	    color: #ee561f;
}
.log-2{
	float: left;
	width: 259px;
	margin-bottom: 14px;
}
.log-2 span{
	width: 108px;
    height: 30px;
    background: #ff6600;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 13px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    float: left;
}
.log-2 p{
	    width: 108px;
    height: 30px;
    background: #4a94f8;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 17px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    float: left;
}
.bianjie{
	float: left;
    width: 261px;
    height: 118px;
    background: #f2f2f2;
}
.bianjie .bj-lead{
	height: 36px;
    width: 260px;
    display: block;
    line-height: 36px;
    font-size: 14px;
    font-family: 宋体;
    font-weight: 600;
    color: #666;
    text-indent: 14px;
}
.bianjie ul li {
	    width: 67px;
    height: 67px;
    background: #fff;
    display: block;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin-left: 13px;
    float: left;
}
.bianjie ul li img{
    height: 22px;
    display: block;
    margin: 12px auto 0 auto;
}
.bianjie ul li p{
    width: 66px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 8px;
    color: #6c6c6c;
    text-align: center;
    display: block;
}
.p1r-pic img{
	width: 261px;
	height: 123px;
	margin-top: 10px;
}
.merchant{
	width: 1200px;
	margin: 0 auto;
}
.merchant-lead .ml-p{
	    width: 136px;
    height: 34px;
    font-size: 22px;
    color: #333;
    line-height: 22px;
    float: left;
}
.merchant-lead .ml-p em{
	float: left;
	color: #f25015;
}
.merchant-lead ul p{
	float: left;
    width: 2px;
    height: 20px;
    margin: 6px 6px 0 6px;
    background: #dddddd;
}
.merchant-lead ul li{
	float: left;
}
.merchant-lead ul li a{
	    width: 90px;
    height: 36px;
    float: left;
    color: #444;
    font-size: 16px;
    text-align: center;
    display: block;
    line-height: 32px;
}
.merchant-lead ul li a:hover{
	background: url(../images/11.jpg) no-repeat;
    color: #00b060;
    z-index: 999;
}
.hh{
	border-right: none!important;
}
.merchant-lead{
    width: 1208px;
    height: 36px;
    background: url(../images/12.jpg) no-repeat bottom;
}
.merchant-lead  .ml-z{
	float: right;
}
.merchant-lead  .ml-z p{
	float: right;
	    width: 90px;
    height: 26px;
    display: block;
    float: right;
    background: #82c541;
    border-radius: 5px;
    border: 1px solid #7abe38;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    color: #fff;
    position: relative;
}
.merchant-lead  .ml-z p b{
	position:absolute;
    top: -18px;
    right: -35px
}
.merchant-lead  .ml-z span{
	    width: 287px;
    height: 36px;
    line-height: 36px;
    float: left;
    display: block;
    color: #7c7c7c;
    font-size: 14px;
}
.merchant-lead  .ml-z span em{
	font-size: 18px;
    color: #ff6600;
}
.mer-list{
	border: 1px solid #dfdfdf;
	border-top: none;
    width: 243px;
    float: left;
    position: relative;
}
.mer-con{
	position: absolute;
	    width: 388px;
    height: 400px;
    border: 1px #dedede solid;
    top: 0;
    z-index: 999;
    left: 244px;
    overflow: hidden;
    border-top: none;
    padding-left: 35px;
    background: #fff;
    box-shadow: 1px 1px 1px #eaeaea;
    display: none;
}
.mer-con a:hover{
    color: #ff6600!important;
}
.mer-con h1{
	    width: 358px;
    height: 26px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 17px;
    font-size: 17px;
    display: block;
    margin-top: 26px;
    color: #7c7c7c;
}
 .mer-con .mer-con-1{
	float: left;
	width: 130px;
	height: 330px;
}
 .mer-con .mer-con-1 div{
	width: 129px;
    height: 33px;
    float: left;
}
 .mer-con .mer-con-1 div a{
	    font-size: 14px;
    color: #7c7c7c;
}
 .mer-con .mer-con-2{
	float: left;
	width: 130px;
	height: 330px;
}
 .mer-con .mer-con-2 div{
	width: 129px;
    height: 33px;
    float: left;
}
 .mer-con .mer-con-2 div a{
	    font-size: 14px;
    color: #7c7c7c;
}
 .mer-con .mer-con-3{
	float: left;
	width: 128px;
	height: 330px;
}
 .mer-con .mer-con-3 div{
	width: 129px;
    height: 33px;
    float: left;
}
 .mer-con .mer-con-3 div a{
	    font-size: 14px;
    color: #7c7c7c;
}
.mer-list ul li{
	    height: 49px;
    border-bottom: 1px #dedede solid;
    cursor: pointer;
    display: block;
    line-height: 49px;
}
.mer-list ul li img{
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}
.mer-list ul li a p{
	float: left;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 20px;
}
.mer-list ul li a em{
	font-size: 14px;
    color: #8d8d8d;
    margin-right: 5px;
}
.mer-list ul li a em:hover{
	    color: #ff6600;
}
.mer{
	background: #f4f4f4;
}
.mer-pic{
	float: left;
	width: 711px;
	margin-top: 5px;
	margin-left: 5px;
}
.mer-pic ul li{
	float: left;
}
.mer-pic ul li img{
    width: 235px;
    height: 169px;
    margin-right: 2px;
}
.mer-pic .mer-p1 a{
	display: block;
}
.mer-pic .mer-p1 a img{
	    height: 223px;
    width: 471px;
}
.mer-pic .mer-p2 a img{
    height: 223px;
    width: 235px;
}
.mer-rm{
	float: right;
}
.mer-rm a img{
	margin-top: 5px;
    width: 239px;
    height: 271px;
    overflow: hidden;
    display: block;
}
.mer-rm .hot{
    width: 239px;
    height: 125px;
    background: #ff8500;
    overflow: hidden;
}
.mer-rm .hot p{
	    width: 151px;
    height: 26px;
    display: block;
    background: url(../images/14.jpg) no-repeat;
    font-size: 15px;
    color: #ff5a00;
    text-align: center;
    line-height: 26px;
    margin: 17px auto 0 auto;
}
.mer-rm .hot em{
	    width: 245px;
    height: 70px;
    text-align: center;
    line-height: 22px;
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}
.merchant-det{
	width: 1200px;
	margin: 0 auto;
}
.favorable {
	 width: 645px;
    height: 426px;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}
.favorable .favorable-lead {
    width: 653px;
    margin-bottom: 13px;
}
.favorable .favorable-lead span {
    height: 31px;
    line-height: 43px;
    font-size: 17px;
    color: #555;
    float: left;
}
.favorable .favorable-lead span em{
	color: #f25015;
}
.favorable .favorable-lead p{
	height: 31px;
    line-height: 48px;
    color: #888;
    font-size: 13px;
    float: right;
    display: block;
}
.favorable .favorable-txt{
	width: 638px;
    height: 367px;
    border: 1px solid #dedede;
}
.favorable .favorable-txt ul li{
	float: left;
    margin-top: 12px;
    margin-left: 18px;
}
.favorable .favorable-txt ul li a{
	width: 172px;
    height: 155px;
    padding: 6px;
    float: left;
    display: block;
    border: 1px solid #fff;
}
.favorable .favorable-txt ul li a img{
    width: 171px;
    height: 102px;
}
.favorable .favorable-txt ul li a span{
	width: 80px;
    display: block;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #5c5c5c;
    float: left;
    overflow: hidden;
}
.favorable .favorable-txt ul li a p{
	    height: 26px;
    width: 81px;
    display: block;
    float: right;
    color: #f15c2d;
    line-height: 26px;
    font-size: 14px;
}
.favorable .favorable-txt ul li a p s{
	    height: 26px;
    width: 40px;
    display: block;
    float: right;
    color: #888888;
    line-height: 26px;
    font-size: 14px;
    margin-left: 5px;
}
.favorable .favorable-txt ul li a i{
	width: 172px;
    height: 26px;
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: #888;
    font-style: normal;
}
.favorable .favorable-txt ul li a:hover{
	    border: 1px solid #ff7e50;
}
.rem-con-bor{
	margin: 0 14px;
}
.remark{
	float: left;
    width: 531px;
}
.remark .tempWrap{
    border: 1px solid #dedede;
    height: 368px!important;
}
.remark .remark-lead{
	margin-bottom: 13px;
    width: 531px;
}
.remark .remark-lead span {
    height: 31px;
    line-height: 43px;
    font-size: 17px;
    color: #555;
    float: left;
}
.remark .remark-lead span em{
	color: #f25015;
}
.remark .remark-lead p{
	height: 31px;
    line-height: 48px;
    color: #888;
    font-size: 13px;
    float: right;
    background: url(../images/brush.jpg) no-repeat 10px 18px;
    padding-left: 28px;
}
.remark .remark-list{
	    width: 529px;
    height: 368px;
}
.remark .remark-list .rem-con{
	padding-top: 11px;
	border-bottom: 1px solid #dfdfdf;
	height: 111px;
}
.remark .remark-list .rem-con a img{
	float: left;
	width: 71px;
	height: 71px;
	margin-right: 15px;
	border-radius: 50px;
	overflow: hidden;
}
.remark .remark-list .rem-con ul li{
    width: 410px;
    height: 24px;
    font-size: 14px;
    display: block;
    overflow: hidden;
}
.remark .remark-list .rem-con ul li a h1{
	font-size: 14px;
	float: left;
	margin-right: 20px;
}
.remark .remark-list .rem-con ul li  i{
	float: left;
	font-style: normal;
}
.remark .remark-list .rem-con ul li p{
	    color: #999;
    margin-right: 10px;
    float: left;
    font-size: 12px;
}
.remark .remark-list .rem-con ul li b{
	font-size: 12px;
	font-weight: normal;
	margin-right: 11px;
    color: #f55c25;
}
.remark .remark-list .rem-con span{
    width: 484px;
    height: 35px;
    line-height: 30px;
    margin-top: 8px;
    font-size: 12px;
}
.remark .remark-list .rem-con span p{
	background: url(../images/_review_ico.jpg) no-repeat  left;
	padding-left: 20px;
	width: 398px;
	overflow: hidden;
	height: 34px;
	float: left;
}
.remark .remark-list .rem-con span em{
    height: 14px;
    float: right;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    margin-top: 7px;
}
.remark .remark-list .rem-con span em:hover{
	color: #e65520;
}
.classf{
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #dfdfdf;
}
.merchant-lead .classf-z{
	float: right;
	width: 335px;
}
.merchant-lead .classf-z span{
    width: 240px;
    height: 36px;
    line-height: 36px;
    float: left;
    display: block;
    color: #7c7c7c;
}
.merchant-lead .classf-z span em{
	    font-size: 13px;
    color: #ff6600;
}
.merchant-lead .classf-z p{
	    width: 90px;
    height: 26px;
    display: block;
    float: right;
    background: #ff9649;
    border-radius: 5px;
    border: 1px solid #f78e27;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    color: #fff;
}
.clf-list{
	float: left;
	width: 810px;
}
.clf-pic{
	margin-top: 24px;
	border-bottom: 1px solid #dfdfdf;
	float: left;
}
.clf-pic ul li {
	    width: 118px;
    height: 138px;
    overflow: hidden;
    margin-right: 15px;
    float: left;
}
.clf-pic ul li a img{
    width: 112px;
    height: 96px;
    padding: 2px;
    border: 1px solid #dedede;
    display: block;
    overflow: hidden;
}
.clf-pic ul li a p{
    width: 118px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #6c6c6c;
    display: block;
    overflow: hidden;
}
.clf-pic ul li a p:hover{
	color: #f25015;
}
.clf-txt{
	float: left;
}
.clf-txt ul {
	float: left;
	margin-right: 34px;
	margin-top: 15px;
	font-size: 14px;
	margin-bottom: 15px;
}
.clf-txt .clf-last{
	margin-right: 0!important;
}
.clf-txt ul li a{
	    width: 377px;
    height: 34px;
    display: block;
    overflow: hidden;
    line-height: 34px;
    color: #777;
        background: url(../images/room_new.jpg) no-repeat;
    text-indent: 10px;
}
.clf-txt ul li p{
	float: right;
}
.clf-txt ul li a:hover{
    color: #f25921;
}
.clf-reco{
	float: left;
}
.clf-reco .reco-lead{
	    width: 390px;
    height: 28px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    color: #ea6e13;
    line-height: 20px;
    margin-top: 24px;
}
.clf-reco .reco-lead img{
	vertical-align: text-bottom;
}
.reco-pic{
	margin-top: 16px;
}
.reco-pic .pic-txt{
    line-height: 34px;
    height: 34px;
    font-size: 13px;
    cursor: pointer;
}
.reco-pic .pic-1{
	    width: 390px;
    height: 102px;
    background: #f7f7f7;
    margin-bottom: 8px;
    display: none;
}
.pp{
	display: block!important;
}
.tp{
	display: none;
}
.reco-pic .pic-1 a img{
	width: 95px;
    height: 70px;
    margin-top: 16px;
    margin-left: 15px;
    display: block;
    overflow: hidden;
    float: left;
}
.reco-pic .pic-1 a span{
	width: 250px;
    height: 41px;
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 17px;
    margin-top: 16px;
    line-height: 22px;
    font-size: 13px;
}
.reco-pic .pic-1 a p{
	    width: 250px;
    height: 30px;
    float: left;
    overflow: hidden;
    display: block;
    margin-left: 17px;
    line-height: 30px;
    font-size: 13px;
    color: #999;
}
.recruit{
	width: 1200px;
	margin: 0 auto;
	margin-top: 22px;
}
.recruit .recruit-l{
	float: left;
	width: 872px;
}
.on{
    background: #f96b38!important;
}
.on a{
    color: #fff!important;
    text-decoration: none;
}
.recruit .recruit-l .recruit-lead ul li {
    display: block;
    width: 93px;
    height: 30px;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background: #e8e8e8;
    color: #6c6c6c;
    margin-right: 12px;
    cursor: pointer;
}
.recruit .recruit-l .recruit-txt{
	    overflow: hidden;
    width: 872px;
    height: 195px;
    position: relative;
    margin-top: 11px;
    float: left;
}
.recruit .recruit-l .recruit-txt ul li{
	float: left;
}
.recruit .recruit-l .recruit-txt ul li a{
    width: 290px;
    height: 32px;
    float: left;
    line-height: 32px;
    font-size: 14px;
    color: #777;
    display: block;
    overflow: hidden;
}
.recruit .recruit-l .recruit-txt ul li a:hover{
	color: #f96b38;
}
.recruit .recruit-l .recruit-txt ul li a:hover em{
	color: #f96b38;
}
.recruit .recruit-l .recruit-txt ul li a em{
    color: #999;
}
.recruittxt-1{
	margin-top: 10px;
}
.recruit-ad{
    width: 872px;
    height: 81px;
    margin-top: 19px;
    float: left;
}
.recommend{
	float: right;
}
.recommend .recommend-lead{
	    width: 311px;
    height: 27px;
    line-height: 17px;
    font-size: 16px;
    color: #f17c25;
}
.recommend .recommend-lead b{
    float: right;
    color: #888;
    font-size: 13px;
    padding-left: 25px;
    background: url(../images/brush.jpg) no-repeat;
    line-height: 14px;
    font-weight: normal;
}
.recommend .recommend-lead span{
    float: left;
    width: 64px;
}
.recommend .recommend-lead span em{
    color: #555;
}
.recommend .recommend-txt{
    width: 309px;
    height: 307px;
    border: 1px solid #dedede;
}
.recommend .recommend-txt ul li {
	    width: 278px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #dedede;
    display: block;
}
.recommend .recommend-txt ul li span{
    width: 87px;
    height: 50px;
    line-height: 50px;
    float: left;
    color: #808080;
    overflow: hidden;
    font-size: 14px;
}
.recommend .recommend-txt ul li p{
	    width: 54px;
    height: 50px;
    display: block;
    line-height: 50px;
    float: left;
    color: #808080;
    font-size: 14px;
    overflow: hidden;
}
.recommend .recommend-txt ul li em{
	    width: 55px;
    height: 50px;
    display: block;
    line-height: 50px;
    float: right;
    color: #9d9d9d;
    overflow: hidden;
    font-size: 14px;
}
.recommend .recommend-txt ul li em:hover{
	color: #f96b38
}
.recommend-ad {
    margin-left: 15px;
    float: left;
    margin-top: 18px;
}
.recommend-ad a{
	width: 278px;
	height: 57px;
	float: left;
	margin-bottom: 10px
}
.house{
	width: 1200px;
	margin: 0 auto;
	margin-top: 23px;
}
.house-z span{
    width: 160px;
    height: 36px;
    line-height: 36px;
    float: right;
    display: block;
    color: #7c7c7c;
    font-size: 13px;
}
.house-z span em{
	font-size: 17px;
    color: #ff6600;
}
.house-list{
      width: 222px;
    height: 409px;
    float: left;
    margin-right: 5px;
    margin-top: 24px;
}
.house-list .house-ll{
    width: 222px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #444;
}
.house-list .house-date{
    overflow: hidden;
    height: 373px;
    width: 217px;
    margin-top: 18px;
}
.house-list .house-date ul{
	width: 222px;
    height: 373px;
    margin-top: 18px;
    display: block;
}
.house-list .house-date ul li:hover{
	background: url(../images/room_left_bghover.jpg) no-repeat;
}
.house-list .house-date ul li {
    width: 217px;
    height: 71px;
    display: block;
    background: url(../images/room_left_bg.jpg) no-repeat;
}
.house-list .house-date ul li p{
	width: 79px;
    height: 19px;
    display: block;
    color: #666;
    font-size: 12px;
    margin-left: 21px;
    text-align: center;
    line-height: 19px;
}
.house-list .house-date ul li:hover p{
	color: #fff;
}
.house-list .house-date ul li a{
	width: 103px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #333;
    display: block;
    overflow: hidden;
    margin-top: 19px;
    margin-left: 25px;
    float: left;
}
.house-list .house-date ul li span{
	    width: 66px;
    height: 16px;
    font-size: 12px;
    color: #999;
    line-height: 16px;
    float: right;
    margin-top: 19px;
    margin-right: 13px;
    overflow: hidden;
}
.hu-1 img{
	height: 195px;
    width: 430px;
}
.house-pic{
    width: 656px;
    height: 409px;
    float: left;
    margin-top: 24px;
}
.house-sild{
	    width: 430px;
    height: 195px;
    overflow: hidden;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
}
.loupan{
	float: left;
    width: 208px;
    height: 195px;
    margin-bottom: 18px;
}
.loupan a {
	float: left;
}
.loupan a img{
	    width: 208px;
    height: 144px;
    display: block;
    overflow: hidden;
}
.loupan a span{
	    width: 208px;
    height: 26px;
    line-height: 38px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #444;
}
.loupan a p{
	    width: 208px;
    height: 25px;
    line-height: 35px;
    font-size: 13px;
    color: #ff6400;
    overflow: hidden;
}
.lp-1{
	margin-right: 14px;
}
.flash{
	width: 292px;
    height: 409px;
    float: right;
}
.flash .flash-lead{
    width: 292px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #464646;
    font-family: 宋体;
    font-weight: 700;
    display: block;
    margin-top: 24px;
}
.flash .flash-lead span{
	float: left;
}
.flash .flash-lead p{
    float: right;
    width: 45px;
    height: 20px;
    border: 1px solid #ddd;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    background: url(../images/brush.jpg) no-repeat 7px 4px;
    padding-left: 25px;
}
.flash-txt{
	width: 292px;
    height: 193px;
    overflow: hidden;
}
.flash-txt h1{
    width: 292px;
    height: 20px;
    font-size: 16px;
    color: #ff5400;
    line-height: 20px;
    display: block;
    margin-top: 13px;
    text-align: center;
    margin-bottom: 5px;
}
.flash-txt ul li{
    width: 292px;
    height: 31px;
    line-height: 31px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #666;
    background: url(../images/room_new.jpg) no-repeat;
    text-indent: 10px;
}
.car{
	width: 1200px;
	margin: 0 auto;
}
.car{
	width: 1200px;
	margin: 0 auto;
	margin-top: 23px;
}
.ccon-l{
	width: 822px;
    height: 554px;
    overflow: hidden;
    float: left;
}
.car-z span{
    width: 255px;
    height: 36px;
    line-height: 36px;
    float: right;
    display: block;
    color: #7c7c7c;
    font-size: 13px;
}
.car-z span em{
    color: #ff6600;
}
.car-con{
	margin-top: 24px;
    margin-bottom: 27px;
}
.car-sild .car-1  {
	width: 416px;
	height: 272px;
	position: relative;
}
.car-sild .car-1 a img{
	width: 416px;
	height: 272px;
}
.car-sild .car-1 p{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33px;
    color: #eee;
    font-size: 14px;
    font-family: "微软雅黑";
    text-indent: 12px;
    background: rgba(0,0,0,0.6);
    line-height: 33px;
}
.car-txt{
	width: 387px;
    height: 272px;
    float: right;
    overflow: hidden;
    margin-bottom: 11px;
}
.car-txt .ctxt-lead{
	    width: 387px;
    height: 33px;
    display: block;
    overflow: hidden;
    line-height: 33px;
    border-bottom: 1px solid #eaeaea;
    color: #444;
    font-size: 17px;
    margin-bottom: 7px;
}
.car-txt .ctxt-lead p{
	color: #f25015;
	float:left;
}
.car-txt .ctxt-lead b{
	font-weight: normal;    
	height: 33px;
    display: block;
    float: right;
    font-size: 13px;
    color: #888;
}
.car-txt .ctxt-lead b:hover{
    color: #f25015
}
.car-txt ul li{
    width: 387px;
    height: 31px;
    line-height: 33px;
    font-size: 14px;
    color: #6c6c6c;
    text-indent: 13px;
    background: url(../images/room_new.jpg) no-repeat 0;
    display: block;
    margin-bottom: 3px;
    float: left;
}
.car-txt ul li a{
	width: 387px;
    height: 31px;
    float: left;
}
.car-txt ul li a p{
	    float: right;
    font-size: 13px;
    color: #999;
}
.car-dao{
	    width: 415px;
    height: 285px;
    float: left;
    overflow: hidden;
}
.car-dao .ctxt-lead{
	    width: 415px;
    height: 33px;
    display: block;
    overflow: hidden;
    line-height: 33px;
    border-bottom: 1px solid #eaeaea;
    color: #444;
    font-size: 17px;
    margin-bottom: 19px;
    margin-top: 20px;
}
.car-dao .ctxt-lead p{
    color: #f25015;
    float: left;
}
.car-dao .ctxt-lead b{
	height: 33px;
    display: block;
    float: right;
    font-size: 13px;
    color: #888;
    font-weight: normal;
}
.car-dao .ctxt-lead b:hover{
    color: #f25015;
}
.car-dao .cdao-pic ul li{
    width: 131px;
    height: 116px;
    overflow: hidden;
    float: left;
    margin-right: 7px;
}
.car-dao .cdao-pic ul li a img{
	width: 131px;
    height: 91px;
    display: block;
    overflow: hidden;
}
.car-dao .cdao-pic ul li a p{
    width: 131px;
    height: 25px;
    font-size: 13px;
    color: #777;
    text-align: center;
    display: block;
    line-height: 25px;
}
.car-dao .cdao-pic ul li a p:hover{
    color: #f25015;
}
.car-dao .cdao-txt ul li{
	    width: 207px;
    float: left;
    height: 33px;
    line-height: 33px;
    color: #6c6c6c;
    font-size: 14px;
    display: block;
    overflow: hidden;
}
.ccon-r{
	    width: 362px;
    height: 554px;
    float: right;
}
.ccon-r .new-car{
	    width: 360px;
    height: 304px;
    border: 1px solid #eaeaea;
    margin-bottom: 13px;
}
.ccon-r .new-car .nc-lead{
	    width: 360px;
    height: 37px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    background: #f1f1f1;
    color: #444;
    font-size: 17px;
    line-height: 37px;
    text-indent: 10px;
}
.ccon-r .new-car .nc-lead span{
	float: left;
}
.ccon-r .new-car .nc-lead em{
	color: #f25015;
}
.ccon-r .new-car .nc-lead p{
	    float: right;
    color: #666666;
    font-size: 13px;
    margin-right: 8px;
}
.ccon-r .new-car .nc-lead p i{
	font-style: normal;
	color: #ff5416;
    font-size: 17px;
    text-decoration: none;
}
.nc-txt .nct-1 li {
	    width: 360px;
    height: 118px;
    border-bottom: 1px solid #eaeaea;
}
.nc-txt .nct-1 li a img{
	    width: 145px;
    height: 101px;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 14px;
    display: block;
    overflow: hidden;
    float: left;
}
.nc-txt .nct-1 li a span{
	width: 190px;
    height: 18px;
    line-height: 18px;
    margin-top: 26px;
    display: block;
    font-size: 16px;
    color: #444;
    float: left;
    overflow: hidden;
}
.nc-txt .nct-1 li a p{
    width: 190px;
    height: 15px;
    font-size: 13px;
    color: #777;
    line-height: 13px;
    float: left;
    display: block;
    overflow: hidden;
    margin-top: 10px;
}
.nc-txt .nct-1 li a p em{
	color: #f26a3f;
    text-decoration: none;
}
.nc-txt .nct-1 li a i{
	font-style: normal;
    width: 190px;
    height: 15px;
    font-size: 13px;
    color: #777;
    line-height: 13px;
    float: left;
    display: block;
    overflow: hidden;
    margin-top: 5px;
}
.nc-txt .nct-2 li a{
    width: 360px;
    height: 36px;
    border-top: 1px solid #eaeaea;
    line-height: 36px;
    display: block;
    overflow: hidden;
    text-indent: 12px;
    font-size: 13px;
    color: #777;
}
.nc-txt .nct-2 li a:hover{
	    color: #f25015;
}
.nc-txt .nct-2 li p{
	    float: right;
    margin-right: 6px;
}
.check{
	    width: 360px;
    height: 234px;
    border: 1px solid #eaeaea;
}
.check h1{
	    width: 360px;
    height: 23px;
    display: block;
    overflow: hidden;
    margin-top: 16px;
    font-size: 15px;
    color: #666;
    text-indent: 18px;
    margin-bottom: 16px;
}
.check h1 em{
	 color: #f25015;
}
.check .name{
	width: 178px;
    height: 30px;
    border: 1px solid #dedede;
    margin-left: 18px;
    text-indent: 10px;
    font-size: 12px;
    color: #888;
    line-height: 30px;
    outline: none;
    float: left;
    margin-bottom: 14px;
}
.check .gender{
	    width: 61px;
    height: 32px;
    float: left;
    line-height: 32px;
    font-size: 12px;
    color: #555;
    margin-left: 18px;
}
.check .gender input{
	vertical-align: text-bottom;
}
.gender-1{
	margin-left: 0px!important;
}
.check .phone{
	    width: 282px;
    height: 30px;
    border: 1px solid #dedede;
    margin-left: 18px;
    text-indent: 10px;
    font-size: 12px;
    color: #888;
    line-height: 30px;
    outline: none;
    margin-bottom: 14px;
}
.check .pinpai{
	    position: relative;
    float: left;
    margin: 0 0 14px 18px;
    z-index: 12;
}
.check .pinpai dt{
	    height: 30px;
    display: inline-block;
    border: 1px solid #dedede;
    background: #fff url(../images/333.jpg) no-repeat 215px center;
    line-height: 28px;
    padding-left: 10px;
    cursor: pointer;
    width: 216px;
    color: #999;
    padding-right: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.check .pinpai dd{
	    position: absolute;
    left: 0;
    top: 29px;
    border: 1px solid #dedede;
    background: #fff;
    display: none;
    font-size: 13px;
}
.check .pinpai dd ul{
	    padding: 4px;
    width: 230px;
    max-height: 80px;
    overflow: auto;
}
.check .pinpai dd ul li{
	line-height: 28px;
    display: block;
    padding: 0 8px;
    color: #999;
    cursor: pointer;
}
.check .chexing{
	    position: relative;
    float: left;
    margin: 0 0 0 18px;
    z-index: 11;
}
.check .chexing dt{
	    height: 30px;
    display: inline-block;
    border: 1px solid #dedede;
    background: #fff url(../images/333.jpg) no-repeat 179px center;
    line-height: 28px;
    padding-left: 10px;
    cursor: pointer;
    width: 180px;
    color: #999;
    padding-right: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.check .chexing dd{
	    position: absolute;
    left: 0;
    top: 29px;
    border: 1px solid #dedede;
    background: #fff;
    display: none;
    font-size: 13px;
}
.check .chexing dd ul{
	    padding: 4px;
    width: 194px;
    max-height: 80px;
    overflow: auto;
}
.check .chexing dd ul li{
	    line-height: 28px;
    display: block;
    padding: 0 8px;
    color: #999;
	cursor: pointer;
}
.check .submit{
	    width: 90px;
    height: 30px;
    line-height: 30px;
    background: #f26d48;
    font-size: 13px;
    color: #fff;
    display: block;
    float: left;
    border: none;
    margin-left: 32px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.fitment{
	width: 1200px;
	margin: 0 auto
}
.fit-z span{
    width: 215px;
    height: 36px;
    line-height: 36px;
    float: right;
    display: block;
    color: #7c7c7c;
    font-size: 13px;
}
.fit-z span em{
    color: #ff6600;
}
.fit-pic{
	margin-top: 24px;
	float: left;
	width: 596px;
}
.fit-pic .fp-1{
	float: left;
	margin-right: 4px;
	position: relative;
	height: 334px;
	overflow: hidden;
}
.fit-pic .fp-1 a img{
	width: 198px;
	height: 334px;
}
.fit-pic .fp-1 p{
    width: 198px;
    height: 30px;
    position: absolute;
    background: #f86733;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    top: 334px;
    left: 0;
    text-align: center;
}
.fit-pic .fp-2{
	float: left;
	position: relative;
	height: 165px;
	overflow: hidden;
	margin-bottom: 4px;
}
.fit-pic .fp-2 a img{
	margin-right: 4px;
	width: 193px;
	height: 165px;
}
.fit-pic .fp-2 p{
	    width: 193px;
    height: 30px;
    position: absolute;
    background: #f86733;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    top: 165px;
    left: 0;
    text-align: center;
}
.fp-3{
	margin-top: 24px;
	float: left;
	position: relative;
	height: 334px;
	overflow: hidden;
}
.fp-3 a img{
	width: 198px;
	height: 334px;
}
.fp-3 p{
	width: 198px;
    height: 30px;
    position: absolute;
    background: #f86733;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    display: block;
    top: 334px;
    left: 0;
    text-align: center;
}
.fit-news {
	float: right;
	margin-top: 24px;
}
.fit-news .fitn-lead{
	    width: 395px;
    height: 84px;
    border-bottom: 1px dashed #dedede;
}
.fit-news .fitn-lead a h1{
	    width: 395px;
    height: 30px;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #444;
    overflow: hidden;
    display: block;
    font-weight: bold;
}
.fit-news .fitn-lead p{
	    width: 395px;
    height: 54px;
    line-height: 22px;
    font-size: 13px;
    color: #666;
    text-indent: 8px;
    display: block;
    overflow: hidden;
}
.fit-news .fitn-txt{
	width: 395px;
    height: 140px;
    padding-top: 8px;
}
.fit-news .fitn-txt a{
	    width: 395px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #666;
    display: block;
    overflow: hidden;
}
.fit-news .fitn-txt a:hover{
	color: #f86733;
}
.fit-news .fitn-txt a p{
	    float: right;
    font-size: 13px;
}
.fit-ad{
	float: right;
}
.fit-ad a img{
	width: 395px;
	height: 100px;
}
.fit-add{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.fit-add ul li{
	    width: 138px;
    height: 142px;
    border: 1px solid #dedede;
    margin-right: 10px;
    float: left;
}
.fit-add ul li img{
	    width: 138px;
    height: 79px;
    display: block;
    overflow: hidden;
}
.fit-add ul li a{
	    width: 96px;
    height: 26px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #888;
    text-align: center;
    line-height: 26px;
    margin: 20px auto 0 auto;
    border: 1px solid #dedede;
}
.fit-add ul li a:hover{
	    width: 98px;
    height: 28px;
    background: #fa7545;
    color: #fff;
    border: none;
}
.foot{
	    height: 214px;
    background: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-top: 35px;
}
.footer{
	width: 1208px;
    height: 214px;
    margin: 0 auto;
}
.footer .kefu{
	    width: 245px;
    height: 214px;
    float: left;
    margin-right: 93px;
}
.footer .kefu h1{
	width: 245px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #666;
    display: block;
    overflow: hidden;
    margin-top: 34px;
}
.footer .kefu p{
	    width: 245px;
    height: 28px;
    font-size: 26px;
    color: #f66a38;
    line-height: 28px;
    display: block;
    overflow: hidden;
    margin-top: 15px;
}
.footer .kefu em{
	    width: 245px;
    height: 14px;
    font-size: 12px;
    color: #888;
    line-height: 14px;
    display: block;
    overflow: hidden;
    margin-top: 15px;
}
.footer .kefu span{
    width: 245px;
    height: 22px;
    font-size: 12px;
    color: #888;
    line-height: 22px;
    display: block;
    overflow: hidden;
    margin-top: 15px;
}
.footer .kefu span i{
	    height: 22px;
    width: 53px;
    float: left;
    display: block;
    overflow: hidden;
    font-style: normal;
}
.footer ul li{
	    width: 90px;
    height: 133px;
    border-right: 1px solid #e6e6e6;
    margin-right: 46px;
    float: left;
    margin-top: 36px;
}
.footer ul li h1{
	    width: 90px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    display: block;
    color: #777;
    margin-bottom: 13px;
}
.footer ul li a p{
	    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    display: block;
    color: #777;
}
.footer ul li a p:hover{
	color: #f66a38;
}
.foot-ew{
	    width: 96px;
    height: 96px;
    margin-top: 61px;
    float: left;
    margin-right: 45px;
}
.foot-ew img{
	width: 96px;
	height: 96px;
}
.foot-1{
	    height: 50px;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
    color: #888;
}
.p1-l .list{
	position: relative;
}
.p1-l .list .hd ul{
    position: absolute;
    bottom: 8px;
    right: 20px;
}
.p1-l .list .hd ul li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    font: 11px/16px Tahoma;
    cursor: pointer;
    text-indent: 9999px;
}
.house-sild .list{
	position: relative;
}
.house-sild .list .hd ul{
    position: absolute;
    bottom: 8px;
    right: 20px;
}
.house-sild .list .hd ul li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    font: 11px/16px Tahoma;
    cursor: pointer;
    text-indent: 9999px;
}
.ccon-l .list{
	position: relative;
}
.ccon-l .list .hd ul{
    position: absolute;
    bottom: 8px;
    right: 20px;
}
.ccon-l .list .hd ul li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    font: 11px/16px Tahoma;
    cursor: pointer;
    text-indent: 9999px;
}
.mCSB_scrollTools{
	opacity: 1!important;
}
.jingcai .next{
	top: 0;
    right: 0;
    background: url(../images/next.jpg) no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
}
.jingcai .next:hover{
    background: url(../images/next_hover.jpg)no-repeat;
}
.jingcai .prev{
	top: 0;
    left: 437px;
    background: url(../images/prev.jpg) no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
}
.jingcai .prev:hover{
	    background: url(../images/prev_hover.jpg)no-repeat;
}

/*浮动导航*/
.scroll{position: fixed;bottom: 90px;z-index: 99;z-index: 3;left: 53%;margin-left: 590px;z-index: 1}
.w1000 .scroll{margin-left: 465px;}
.scroll li{margin-bottom: 1px;}
.scroll li a{z-index: 2;display: block;width: 70px;height: 25px;padding-top: 45px;color: #fff;font-size: 12px;text-align: center;border-radius: 4px;background: url(../images/index.png) no-repeat;}
.scroll li a:hover{color: #fff !important; text-decoration: none; opacity: .9;}
.scroll li.bg-1 a{background-position: 17px -132px; background-color: #f7a515;}
.scroll li.bg-2 a{background-position: -115px -135px; background-color: #57dbdd;}
.scroll li.bg-3 a{background-position: 13px -225px; background-color: #ff6165;}
.scroll li.bg-4, .scroll li.bg-5{position: relative;}
.scroll li.bg-4 a{background-position: -119px -228px; background-color: #4dd44a;}
.scroll li.bg-5 a{background-position: 14px -304px; background-color: #118acf;}
.scroll li.bg-6 a{background-position: -120px -308px; background-color: #4c4c4c;}
.scroll .code-box{display: none; position: absolute; border: 1px solid #eee; background-color: #f3f3f3; font-size: 16px; padding: 10px; height: 75px; border-radius: 3px; top: -15px; text-align: center; left: -96px; right: 69px;z-index: -1;}
.scroll .code-box img{display: block; width: 100%; height: 100%;}
/* 底部 */
.footer-login{margin-top: 50px; margin-bottom: 50px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice-1 {margin:0 14px;color: #ddd;}