.footer ul li .bianse span,.footer ul li .bianse i{color:#00A9ED;}
.zhongyaotishi{height:50px;width:50px;position:fixed;bottom:65px;left:5px;background:#f00;text-align:center;padding:8px 0px;border-radius:2px;} .zhongyaotishi a{color:#fff;line-height:25px;font-size:14px;font-weight:700;}
.footer ul li .tuanduibs span,.footer ul li .tuanduibs i{color:#00A9ED;}
    .up{color:#FF0000;}
    
.box_haibao{overflow:hidden;}
.box_haibao h2{height:32px;line-height:32px;text-align:center;}
.box_haibao .li{width:50%;height:320px;overflow:hidden;float:left;}
.box_haibao .li .img{width:85%;height:250px;padding:5px;border:1px solid #D2D2D2;overflow:hidden;text-align:center;margin:0px auto;}
.box_haibao .li .on{border:1px solid #f00;}
.box_haibao .li .img img{max-width:100%;max-height:250px;}
.box_haibao .li p{line-height:30px;font-weight:700;text-align:center;}
.box_haibao_pp{text-align:center;}

.box_tghbpp{clear:both;padding-bottom:12px;padding-top:30px;}
.box_tghbpp h2{text-align:center;}
.box_tghbpp p{color:#f00;padding:5px 15px 0px;line-height:22px;}
.box_tghb_li01{padding-bottom:15px;}
.box_tghb_li01 .img01{padding:0px 15px;}
.box_tghb_li01 .img01 img{width:100%;}

#selectads span{display:inline-block;border:1px solid #ececec;margin:5px;padding:5px;width:80px;height:45px;text-align:center;}
#selectads span.on{border:1px solid #f50;}
#selectads span img{max-height:45px;max-width:80px;}
#thumb{max-width:150px;max-height:40px;}
.xuanze_gg{width:100%;border-bottom:1px solid #F3F3F3;overflow:hidden;text-align:center;}
.xuanze_gg p{font-weight:700;line-height:40px;}

.jiesuan_input{height:18px;width:18px;border:1px solid #ccc;border-radius:50%;}
.jiesuan_hong{background:url(../images/xuanzhong.jpg) no-repeat center center / 10px 7px #DD2727;border:none;}

.main{background: #f9f9f9;}
.news-content h2{font-size:12px;color:#666;}
.con_neirong img{width:100%;}
/*分享*/
#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#mcover img {position:fixed;right:18px;top:5px;width:260px;height:180px;z-index:20001;}
#mess_share{margin:15px 0; display: block;overflow:hidden;}
#share_1{float:left;width:49%; display: block;overflow: hidden;}
#share_2{float:right;width:49%; display: block;overflow: hidden;}
#mess_share img{width:22px;height:22px;vertical-align: top;border: 0;}
.button2{font-size:16px;padding:8px 0;color:#000000;background-color:#FFFFFF;background-image: linear-gradient(to top, #f5f5f5, #ffffff);border: 1px solid rgba(177, 82, 0, 0.42);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);text-shadow: 0.5px 0.5px 1px #fff;text-align:center;border-radius:3px;width:100%;cursor:pointer;}
.button2:active{background-image: linear-gradient(to top, #ffffff, #ffffff);}
.footer ul li .zixun span,.footer ul li .zixun i{color:#00A9ED;}

	#tguserbox{border:2px solid #00A9ED;margin:42px 0px 20px;padding-top:38px;}
	.gerenxinxi_s{height:auto;width:55%;float:left;position:relative;}
	.gerenxinxi_touxiang{height:64px;width:64px;border-radius:50%;position:absolute;top:-70px;left:50%;margin-left:-32px;}

	.gerenxinxi_xingming{text-align:center;font-size:20px;color:#333;padding:15px 0px}
	.gerenxinxi_weixin,.gerenxinxi_qq a{padding-left:8px;font-size:15px;text-align:left;color:#333;line-height:32px;}
	.gerenxinxi_x{height:auto;width:44%;float:left;border-left:1px dashed #678057;text-align:center;}
	.gerenxinxi_x p{line-height:16px;font-size:11px;padding-top:6px;}
	.gerenxinxi_x img{height:100px;width:100px;}
	.gerenxinxi_shouji{display:block;height:40px;width:96.1%;line-height:40px;padding:0px 2%;background:url(../images/icon_tel.png) no-repeat 98% center / 22px 22px #00A9ED;color:#fff;font-size:16px;float:left;margin-top:10px;}
.main{background:#f5f5f5;}