/*全局样式*/
body,html,div,form,table,dl,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,i,b,input,textarea,label{ padding:0; margin:0;}
body{font:13px/21px verdana,Microsoft YaHei,Tahoma,sans-serif,微软雅黑;color:#333;-webkit-text-size-adjust:100%;background:#fff;}
a{text-decoration:none;color:#fff;}
li{list-style:none;}
select, input, img{vertical-align:middle; border:none;}
select,textarea,input{-webkit-appearance:none;}
i,em{font-style:normal;}
.hongse{color:#f00;}
.baise{color:#fff;}
.wuyiyi{height:46px;width:100%;}
.anniu{display:inline-block;height:35px;line-height:35px;padding:0px 20px;font-size:16px;color:#fff;background:#00AAEE;border-radius:3px;}

.main{max-width:640px;margin:0 auto;background:#fff;}

/*头部*/
.toubu{height:50px;width:100%;background:#394A5E;position:fixed;top:0px;max-width:640px;z-index:70;}
.toubu_shangyiye{width:80px;height:50px;position:absolute;top:0px;left:0px;text-align:center;}
.toubu_shangyiye i{font-size:16px;color:#fff;padding-right:5px;line-height:50px;}
.toubu_shangyiye span{font-size:16px;color:#fff;line-height:50px;}
.toubu_ruhetg{line-height:50px;width:75px;position:absolute;right:5px;color:#fff;font-size:14px;}

/*下拉分类*/
#tbdaohang{color:#fff;display:block;font-size:18px;font-weight:700;height:50px;left:50%;line-height:50px;margin-left:-48px;position:absolute;text-align:left;top:0px;width:96px;-webkit-tap-highlight-color:rgba(255,0,0,0);}
#sanjiao{position:absolute;right:0px;top:22px;border-color: #fff transparent;border-style:solid;border-width:9px 7px 0;content: "";height:0;width:0;}
#fenlei{display:none;position:absolute;left:50%;top:55px;width:200px;height:auto;background:#383C48;border-radius:7px;margin-left:-100px;box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);}
#siyt{border-color:#383C48 transparent transparent;height: 0;left:94px;position: absolute;top:-6px;width: 0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #383C48;}
#fenlei ul{padding:7px;overflow:hidden;}
#fenlei ul li a{display:block;font-size:17px;color:#EFF0F1;width:92px;float:left;text-align:center;height:33px;line-height:33px;border:1px solid #575A64;margin-right:-1px;margin-bottom:-1px;}

/*index页面*/
.head{width:100%;background:url(../images/head_bg.jpg) no-repeat right center #DB4E47;}

.kuaijieanniu{overflow:hidden;}

.kuaijieanniu a span{color:#979797;font-weight:700;}
.kuaijieanniu a i{font-size:31px;line-height:40px;}
.tubiao1{color:#E66313;}
.tubiao2{color:#FFB205;}
.tubiao3{color:#FF650D;}
.tubiao4{color:#41A0E2;}
.tubiao5{color:#FFB205;}
.tubiao6{color:#E66313;}
.tubiao7{color:#E66313;}
.tubiao8{color:#41A0E2;}
.tubiao9{color:#E66313;}
.tubiao10{color:#41A0E2;}
.tubiao11{color:#41A0E2;}
.tubiao12{color:#E66313;}
.tubiao13{color:#E66313;}
.tubiao14{color:#41A0E2;}
.tubiao15{color:#E66313;}
.tubiao16{color:#41A0E2;}

.sctuig{padding:15px 0px 100px;}
.sctuig_a{display:block;width:94.8%;margin:0px 2.6%;height:42px;line-height:42px;font-size:16px;background:#00a9ed;border-radius:5px;text-align:center;color:#fff;}
.sctuig_a .tgerweima{font-size:20px;padding:0px 5px;color:#fff;}
.sctuig_a span{color:#fff;}

/*产品推广*/
.chanpin{padding:0px 0px 10px;overflow:hidden;background:#f5f5f5;}
.chanpin li{width:96%;padding:2%;margin-bottom:10px;box-shadow: 0 1px 1px #eaeaea;background:#fff;height:70px;}
.chanpin_a{display:inline-block;width:100%;overflow:hidden;}
.chanpin_tupian{display:inline-block;float:left;width:25%;}
.chanpin_tupian img{width:70px;height:70px;}
.chanpin_jianjie{display:inline-block;width:75%;height:30px;line-height:30px;float:left;color:#122733;font-size:13px;}
.chanpin_tuiguang{width:75%;float:left;padding-top:10px;height:30px;}
.chanpin_jiage{color:#dd2727;font-size:12px;padding-left:5px;line-height:30px;}
.chanpin_jiage i{font-size:13px;font-style:normal;}
.chanpin_lianjie{display:inline-block;height:30px;border-radius:2px;line-height:30px;padding:0px 10px;background:#00AAEE;color:#fff;float:right;}

/*推广网址*/
.box{padding:0px 10px;}
.box .xuanzemoban{height:80px;line-height:80px;text-align:center;}
.box .btn{background:#d10000;border-radius:3px;color:#fff;padding:5px 9px;margin-left:5px;border:none;font-size:12px;}
.box .changan{font-size:13px;padding:0px 0px 20px;text-align:center;color:#f00;line-height:20px;}
.box .tuiguanglianjie{border:1px solid #d6d6d6;border-radius:3px;width:95%;height:auto;margin-bottom:13px;background:#fff;padding:2.3%;font-size:12px;}

/*导航*/
.daohang_nav{height:33px;padding:15px 10px;background:#fff;}
.daohang_nav a{display:inline-block;height:33px;width:32.5%;float:left;border-right:1px solid #00AAEE;border-top:1px solid #00AAEE;border-bottom:1px solid #00AAEE;text-align:center;line-height:33px;font-size:14px;color:#00AAEE;}
.daohang_nav .daohang_nav_bianse{background:#00AAEE;border-radius:4px 0px 0px 4px;color:#fff;}
.daohang_nav .daohang_nav_yuanjiao{border-radius:0px 4px 4px 0px;}
.daohang_nav .daohang_nav_biansez{background:#00AAEE;color:#fff;}
.daohang_nav .daohang_nav_yuanjiaoz{border-radius:4px 0px 0px 4px;border-left:1px solid #00AAEE;}
.daohang_nav .daohang_nav_biansey{background:#00AAEE;border-radius:0px 4px 4px 0px;color:#fff;}

.tongjishijian{padding-top:15px;font-weight:14px;font-weight:700;color:#000;text-align:center;}

/*footer底部*/
.footer{height:46px;max-width:640px;width:100%;overflow:hidden;background:#fff;border-top:1px solid #EFEFEF;position:fixed;bottom:0;background:#F8F8F8;}
.footer ul{height:46px;width:100%;overflow:hidden;}
.footer ul li{width:20%;height:46px;float:left;text-align:center;color:#fff;}
.footer ul li a{display:inline-block;width:100%;height:46px;}
.footer ul li a i{font-size:22.5px;display:block;height:30px;line-height:33px;font-style:normal;color:#a5a5a5;}
.footer ul li a span{font-size:10.5px;display:block;height:13px;line-height:9px;color:#a5a5a5;}

.plug_menu{position:fixed;z-index:70;width:40px;height:40px;bottom:3px;left:50%;margin-left:-20px;border-radius:50%;background:url(../images/skin_tabbar_btn.png) no-repeat center center / 40px 40px #00a9ed;-webkit-transition:-webkit-transform 200ms;-webkit-transform:rotate(1deg);-webkit-appearance:button;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.plug_menu_xuanzhong{-webkit-transform:rotate(135deg);}
.top_bar{position:fixed;width:100%;max-width:640px;height:100%;bottom:0px;z-index:60;background:rgba(237, 237, 237, 0.93);display:none;}
.top_menu{width:100%;position:absolute;left:0;bottom:-85px;}
.top_menu>li{width:25%;float:left;text-align:center;padding-bottom:25px;}
.top_menu>li a{display:inline-block;width:55px;height:85px;text-align:center;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.top_menu>li a i{display:inline-block;width:55px;height:55px;border-radius:25%;line-height:55px;font-size:33px;color:#fff;}
.top_menu>li a span{line-height:30px;font-size:12px;color:#363636;font-weight:700;}
.top_menu>li.on{-webkit-animation:bounceInUp .13s .13s ease both;-moz-animation:bounceInUp .13s .13s ease both;}
.top_menu>li.out{-webkit-animation:bounceInDonw .13s .13s ease both;-moz-animation:bounceInDonw .13s .13s ease both;}
.top_menu>li:nth-of-type(2) {animation-delay: .05s; -webkit-animation-delay: .05s;}
.top_menu>li:nth-of-type(3) {animation-delay: .05s; -webkit-animation-delay: .05s;}
.top_menu>li:nth-of-type(6) {animation-delay: .05s; -webkit-animation-delay: .05s;}
.top_menu>li:nth-of-type(7) {animation-delay: .05s; -webkit-animation-delay: .05s;}
@-webkit-keyframes bounceInUp{
   0%{opacity:0; -webkit-transform:translateY(0px)}
   90%{opacity:1; -webkit-transform:translateY(-198px)}
   100%{opacity:1; -webkit-transform:translateY(-190px)}
}
@-webkit-keyframes bounceInDonw{
   0%{opacity:1; -webkit-transform:translateY(-190px)}
   100%{opacity:0; -webkit-transform:translateY(0px)}
}

/*列表css*/
.lists{padding-top: 8px;background: #fff;}
.lists_l{line-height: 25px;}
.lists li{border-bottom:1px solid #f3f3f3;padding:5px 0;overflow:hidden;}
.lists li span{display:inline-block;text-align:center;line-height:30px;float:left;}
.lists li .chakan{padding:5px 8px;background:#FF4637;color: #fff;border-radius:4px;font-style:normal;}
.lists li .zhitui{width:25%;}
.lists li .tuandui i,.lists li .zhitui i,.lists_hcbdg i{display:inline-block;font-size:14px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.lists li .tuandui{width:32%;}
.lists li .tj{width:42%;}
.lists li .yongjin{width:49%;}
.lists li .shoucang_l{width:70%;}
.lists li .shoucang_l a{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-left:3%;width:97%;text-align:left;}
.lists li .shoucang_r{width:30%;}
.lists li .shoucang_r a{padding:4px 8px;border-radius:2px;color:#fff;background:#dd2727;}
.lists li .jiacu{font-weight:700;font-size:14px;}

/*vip开通页面*/
.viphuiyuan_zf{height:50px;line-height:50px;text-align:center;font-size:18px;font-weight:700;color:#000;}
.viphuiyuan_tequan,.viphuiyuan_jine{height:50px;line-height:50px;background:#F8F9FA;border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;padding-left:15px;color:#808080;font-size:14px;}
.viphuiyuan_zhanghao{padding:0px 15px;}
.viphuiyuan_zhanghao li{height:50px;line-height:50px;}
.viphuiyuan_zhanghao li i{display:inline-block;height:50px;font-size:16px;color:#000;padding-right:30px;}
.viphuiyuan_yue b{color:#000;padding-left:3px;}
.viphuiyuan_xiaohu{padding:5px;border:2px solid #E0E0E0;margin-left:10px;font-size:12px;}
.xiaogou2{border:2px solid #be0106;background:url(../images/xuanzhong.png) no-repeat right bottom;}
.viphuiyuan_jine i{padding-right:38px;}
.viphuiyuan_fangshi{background: #fff;}
.viphuiyuan_fangshi li{font-size:16px;height:50px;border-bottom:1px solid #f3f3f3;line-height:50px;padding-left:15px;}
.viphuiyuan_fangshi li i{padding-right:20px;}
.viphuiyuan_fangshi li a{color:#000;font-size:14px;color:#989898;}
.viphuiyuan_txt{-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);height:25px;width:160px;line-height:25px;font-size:16px;}
.viphuiyuan_kaitong,.chongzhi input{height:45px;width:94%;margin:20px 3% 40px;color:#fff;background:#00AAEE;border-radius:3px;font-size:18px;}

.inputselect,.suoshu select{padding:0px 18px 0px 5px;display:inline-block;height:32px;line-height:30px;width:145px;cursor:pointer;border:1px solid #98a1a6;background:url(../images/xiaosanjiao.png) no-repeat right center;background-image:none\9;padding-right:0px\9; font-size:14px;appearance:none;-moz-appearance:none;-webkit-appearance:none;outline:none;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}

/*内部资料*/
.newsy{padding:10px 0px;padding: 10px 0px;
    margin-top: 45px;
    margin-bottom: 45px;}
.newsy li{padding:4px 7px;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:justify;position:relative;}
.newsy li a{display:-webkit-box;width: 96%;background:#fff;box-shadow: 0 1px 3px #e5e5e5;padding: 6px;}
.newsy li .l{display:block;width:80px;height:60px;margin-right:5px;position:relative;overflow:hidden;}
.newsy li .r{-webkit-box-flex:1;}
.newsy li .r .r_j{padding-bottom:3px;font-size:15px;line-height:20px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#000}
.newsy li .r .r_k{font-size:14px;color:#858585;line-height:20px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.newsy li .r b{display:block;}
.newsy li .r span{display:block;height:56px;font-size:12px;overflow:hidden;line-height:18px;}

.subnav{padding-top:15px;padding-left:8px;}
.subnav a{padding:5px;background:#00AAEE;margin-right:5px;border-radius:2px;}
.subnav .sel{background:#0F86B2;}

.con{padding:8px;background: #fff;}
.con_p{font-size: 18px;font-weight: 700;line-height:40px;text-align: center;}
.con_pp{font-size: 15px;line-height: 35px;text-align: center;color:#717171;}
.down{padding:25px 0px;text-align: center;border-top:1px dotted #666;}
.down a{padding:10px 20px;background:#00AAEE;border-radius:3px;color:#fff;font-weight:700;font-size:14px;}

/*积分商城*/
.jifensc{padding: 10px 0;overflow:hidden;background:#f5f5f5;}
.jifensc li{float: left;text-align: center;width:50%}
.jifensc li a{display: block;margin:5px 8px;overflow:hidden; background:#fff;box-shadow: 0 1px 1px #dcdcdc;}
.jifensc li a img{width:120px;height:120px;margin-top: 8px;}
.jifensc li a .chanpin_ps{display:block;width:100%;line-height:30px;font-size:13px;color:#666;font-weight: 700;text-align: center;box-shadow: 0 0 6px #a2a2a2;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.jifensc li a .chanpin_px{text-align: left;padding:5px 6px;font-size:12px;color:#7E7E7E;display: block;height:56px;line-height: 15px;overflow: hidden;}

.congt{border:1px solid #C9C9C9;padding:5px;margin:5px 0px;}
.jfyh{font-size: 15px;padding: 3px;}
.jfyh b{color: #f00;}
.jfyh b a{color: #f00;}
.btn_g{padding: 5px 0;}
.btn_g a{background:#00AAEE;border-radius:3px;color:#fff;display:inline-block;margin:0 5px;padding:5px 12px;font-weight: 700;font-size:14px;}

.chanpinduihuan{padding-bottom:15px;}
.chanpinduihuan li{border-bottom:1px solid #E0E0E0;list-style:none;padding:14px 0;}
.chanpinduihuan li i{width:120px;display:block;float:left;text-align:right;font-style:normal;font-size: 14px;font-weight: 700;}
.chanpinduihuan li b{font-weight:normal;display:inline-block;font-size: 16px;font-weight: 700;color:#FF4637;}


/*个人资料*/
.xinziliao{padding-bottom:10px;}
.xinziliao i{font-style:normal;width:70px;height:25px;line-height:25px;float:left;text-align:right;margin-right:15px;font-size:16px;}
.xinziliao b{font-weight:normal;font-size:16px;line-height:25px;}
.xinziliao_buke{background:#fff;width:100%;margin-bottom:10px;border-bottom:1px solid #f0f0f0;border-top:1px solid #f0f0f0;}
.xinziliao_buke li{padding:12px 0px;margin-left:15px;border-bottom:1px solid #f0f0f0;overflow:hidden;}
.xinshuru{border:none;height:25px;line-height:25px;font-size:16px;width:70%;-webkit-tap-highlight-color:rgba(255,255,255,0);}

.baocun_dj{background:#d10000;border:none;border-radius:3px;color:#fff;margin-left:42%;padding:7px 10px;-webkit-appearance:none;}
.suoshu span{display:inline-block;}
.suoshu select,.vip_xin select{border:1px solid #D6D6D6;padding-left:2px; height:30px;width:100px;margin-right:5px;}
.gexingqianming{background:none;-webkit-tap-highlight-color:rgba(255,255,255,0);width:92%;padding:2%;border-radius:3px;border:1px solid #e0e0e0;height:50px;}

/*头像*/
.xinziliao_txwx{padding-bottom:15px;overflow:hidden;}
.xinziliao_txwx_l{float:left;width:50%;text-align:center;}
.xinziliao_txwx_r{float:right;width:50%;text-align:center;}
.xinziliao_txwx img{width:120px;height:120px;margin-bottom:15px;}
.xinziliao_txwx p{line-height:40px;font-weight:700;font-size:14px;}

.tjbtn1{padding:5px 15px;background:#00AAEE;color:#fff;border-radius:3px;margin-left:10px;font-size:14px;}


/*查看更多*/
.pages{padding:22px 0px;width:100%;margin:0 auto;text-align:center;}
.pages a{padding:8px 10px;background:#00a9ed;color:#fff;border-radius:3px;}

.cl{clear:both;}
.tjbtn{padding: 5px 10px;background:#FF4637;margin-top: 10px;margin-left:42%;color: #fff;border-radius:4px;}

.content1{color:#333;padding:6px 12px;}
.content1 .jiuge{line-height:30px;font-size:16px;margin-bottom:10px;font-family:Verdana,​Geneva,​Arial,​Helvetica,​sans-serif;}
.content1 .guanrou{line-height:30px;font-size:16px;margin-bottom:10px;color:#E53333;font-weight:700;font-family:Verdana,​Geneva,​Arial,​Helvetica,​sans-serif;}

#tongji{position:absolute;right:0px;display:block;width:63px;height:48px;line-height:48px;color:#fff;font-size:18px;font-weight:700;text-align:left;background:url(../images/toubulg.png) no-repeat -36px 2px / 100px 50px;}
#tongji_jf{display:none;position:absolute;right:10px;top:63px;width:200px;height:180px;background:#FFB800;border-radius:7px;box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 2px rgba(0, 0, 0, 0.15);}
#tongji_jf #tongji_sj{border-color:#FFB800 transparent transparent;height: 0;position: absolute;top:-6px;right:20px;width: 0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #FFB800;}
#tongji_jf ul{padding:7px;}
#tongji_jf ul li{line-height:35px;color:#fff;font-size:16px;}
#tongji_jf ul li b{color:#f00;}
#tongji_jf ul li a{padding:2px 7px;background:#FF4637;border-radius:3px;color:#fff;}

.nav{width:100%;height:22px;padding:18px 0px;overflow:hidden;}
.nav li{display:inline-block;text-align:center;padding-left:9px;}
.nav li a{font-size:16px;font-weight:bold;color:#666;}
.nav li .cur{background:#E0E6F0;color:#2B61C0;padding:5px 9px;border-radius:15px;}


/*全部弹出层*/
.ajaxview{background:#fff;position:fixed;top:0px;left:0px;width:100%;height:100%;}
.ajaxview_close{display:block;width:66px;padding:7px 0px;margin-left:-33px;position:absolute;left:50%;bottom:5%;border-radius:2px; background:#FF4637;color:#fff;font-weight:700;text-align:center;}
.ajaxview_content{padding-left:15px;overflow:auto;height:85%;}

.ajaxview_title{text-align:center;font-weight:700;padding-top:15px;font-size:18px;padding-right:15px;}
.ajaxview_liebiao li{overflow:hidden;padding:12px 0px;border-bottom:1px solid #EDEDED;}
.ajaxview_liebiao li span{display:block;float:left;}
.ajaxview_liebiao li span i{padding-left:2px;}
.ajaxview_liebiao_l{width:22%;color:#363636;font-size:14px;}
.ajaxview_liebiao_r{width:78%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#9C9C9C;}
.ajaxview_liebiao_r_a{color:#f00;font-weight:700;font-size:14px;}
.ajaxview_kefu{text-align:center;line-height:60px;}
.ajaxview_kefu a{color:#00AAEE;font-size:15px;}
.ajaxview_yilianxi{padding:3px 5px;background:#00AAEE;border-radius:2px;color:#fff;margin-left:5px;}
.ajaxview_content_p{padding-right:15px;padding-top:15px;}
.ajaxview_content_p1{text-align:center;padding-top:15px;}
.ajaxview_content_p1 a{padding:5px 8px;color:#fff;background:#00A9ED;}

.ajaxjf{padding:10px;}
.ajaxjf li{border-bottom:1px dashed #ccc;list-style:none;padding:8px 0;}
.ajaxjf li i{width:80px;display:block;float:left;text-align:right;font-style:normal;}
.ajaxjf li .djxz{padding: 2px;color:#666;border: 1px solid #666;}
.txt{border: 1px solid #D6D6D6;padding:2px;}


/*我的通知*/
.gonggao li{padding:7px 10px;border-bottom:1px dotted #FF4637;line-height:40px;overflow: hidden;}
.bty{float:left;}
.shijian{float:right;}

/*订单记录*/
.dingdxq{padding-top:10px;}
.dingdxq li{border-bottom:1px solid #f0f0f0;border-top:1px solid #f0f0f0;padding:0px 10px;margin-bottom:10px;background:#fff;}
.dingdxq li .tuandui{font-size:16px;font-weight:700;line-height: 25px;display:block;width: 50%;float: left;text-align: left;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.dingdxq li .tuandui i{font-style:normal;color:#f00;}
.dingdxq li p{padding:5px 0px;line-height:30px;border-bottom:1px solid #f0f0f0;margin-bottom:-1px;overflow:hidden;}
.dingdxq li p .dingdxq_spl{display:inline-block;width:21%;text-align:left;font-size:14px;font-weight:700;float:left;}
.dingdxq li p .dingdxq_sp2{display:inline-block;width:79%;float:left;}
.dingdxq li p .dingdxq_sp2 .dingdxq_a{color:#333;width:70%;float:left;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.dingdxq li p .dingdxq_sp2 .dingdxq_x{display:inline-block;width:30%;float:right;text-align:right;color:#333;}
.dingdxq li p .dingdxq_sp2 .cred{color:#f00;font-weight:700;}
.dingdxq li p .dingdxq_sp2 .cgreen{font-weight:700;color:#000;}


.dingdxq li p .dingdxq_sp2 .cred input{border-radius:3px;color:#fff;font-size:14px;margin-left:10px;padding:4px 10px;}
.dingdxq li p .dingdxq_sp2 .cred .dingdxq_fukuan{background:#dd2727;}
.dingdxq li p .dingdxq_sp2 .cred .dingdxq_shouhuo{background:#008E08;}

.shouhuo{padding:3px 4px;background:#FF4637;color: #fff;border-radius:4px;}

.keyong{padding:10px;font-size:16px;line-height:25px;}
.keyong b{color:#f00;}
.tixian{border: 1px solid #D6D6D6;height:25px;border-radius:3px;}

/*通知*/
.inputbox{margin-top:12px;padding:12px;border-top:1px dashed #ccc;}
.inputbox li{clear:both;overflow:hidden;}
.inputbox li i{width:18%;display:inline-block;height:35px;line-height:35px;font-size:16px;font-weight:700;}
.inputbox li b{display:inline-block;width:81%;}
.inputbox_biaoti{-webkit-tap-highlight-color:rgba(255,255,255,0);height:25px;padding:5px;border:1px solid #e0e0e0;border-radius:3px;}
.gonggao_shuliang{padding:15px 12px 5px;font-size:14px;}

/*上下页按钮*/
.fenye{overflow:hidden;}
.fenye .fr{height:40px;float:right;line-height:40px;}
.fenye .fr a{padding:5px 12px;background:#00A0E0;color:#fff;margin-left:5px;font-size:16px;border-radius:4px;box-shadow:0 0 2px #BCBCBC;}
.fenye .fr .sel{background:#FF3A31;}

.banquan{height:50px;width:100%;background:#FF4637;text-align:center;}
.banquan p{font-size:16px;color:#fff;line-height:50px;}
.wuyiyi1{height:45px;width: 100%;}

/*刷新按钮*/
#shuaxin{position:fixed;bottom:100px;right:0px;width:60px;height:60px;background:url(../images/live_ico.png) no-repeat center center / 35px 35px;}

/*返回电脑版*/
.fanhuidiannao{width:120px;height:170px;border:1px solid #BEBEBE;position:fixed;top:20%;right:50%;margin-right:-555px;background:#fff;}
.fanhuidiannao p{padding:10px;border-bottom:1px solid #BEBEBE;font-size:14px;}
.fanhuidiannao a{display:block;height:30px;line-height:30px;width:80px;text-align:center;border-radius:3px;background:#D10000;margin:7px 0px 0px 20px;color:#fff;}
.fanhuidiannao a:hover{background:#860000;}

@media screen and (max-width:1920px) {
.head_s{height:170px;width:100%;border-bottom:1px solid #ED7C76;}

.head_dy{width:21%;height:170px;float:left;padding:0px 5%;}
.head_touxiang{width:100%;border-radius:50%;float:left;}

.head_dj{width:68%;height:130px;float:left;padding:20px 0px;}
.head_dj p{line-height:40px;color:#fff;font-size:19px;}
.head_dj p a{padding:6px;border-radius:4px;color:#000;margin-left:20px;background:#FFCB00;font-size:13px;}
.head_x{height:75px;width:100%;}
.head_x a{display:block;width:32.6%;height:62px;float:left;text-align:center;padding-top:13px;}
.head_t{border-right:1px solid #ED7C76;}
.head_tctd{font-size:14px;color:#EDA8A8;}
.head_shul{font-size:16px;color:#fff;}
.kuaijieanniu{overflow:hidden;border-left:1px solid #f3f3f3;}
.kuaijieanniu a{display:block;width:24.84%;height:75px;border:1px solid #f3f3f3;border-width:1px; float:left;margin-left:-1px;margin-top:-1px;text-align:center;padding-top:15px;}
}

@media screen and (max-width:640px) {
.head_s{height:160px;width:100%;border-bottom:1px solid #ED7C76;}

.head_dy{width:21%;height:160px;float:left;padding:0px 5%;}
.head_touxiang{width:100%;border-radius:50%;float:left;}

.head_dj{width:68%;height:120px;float:left;padding:20px 0px;}
.head_dj p{line-height:40px;color:#fff;font-size:17px;}
.head_dj p a{padding:6px 6px;border-radius:4px;color:#000;margin-left:15px;background:#FFCB00;font-size:13px;}
.head_x{height:75px;width:100%;}
.head_x a{display:block;width:32.6%;height:62px;float:left;text-align:center;padding-top:13px;}
.head_t{border-right:1px solid #ED7C76;}
.head_tctd{font-size:14px;color:#EDA8A8;}
.head_shul{font-size:16px;color:#fff;}
.kuaijieanniu{overflow:hidden;border-left:none;}
.kuaijieanniu a{display:block;width:24.7%;height:75px;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-top:none;border-left:none;border-width:1px; float:left;margin-left:0px;margin-top:0px;text-align:center;padding-top:15px;}
}

@media screen and (max-width:440px) {
.head_s{height:151px;width:100%;border-bottom:1px solid #ED7C76;}

.head_dy{width:26%;height:151px;float:left;padding:0px 3%;}
.head_touxiang{width:100%;border-radius:50%;float:left;}

.head_dj{width:68%;height:111px;float:left;padding:20px 0px;}
.head_dj p{line-height:36px;color:#fff;font-size:16px;}
.head_dj p a{padding:5px 5px;border-radius:4px;color:#000;margin-left:10px;background:#FFCB00;font-size:13px;}
.head_x{height:75px;width:100%;}
.head_x a{display:block;width:32.6%;height:62px;float:left;text-align:center;padding-top:13px;}
.head_t{border-right:1px solid #ED7C76;}
.head_tctd{font-size:14px;color:#EDA8A8;}
.head_shul{font-size:16px;color:#fff;}
.kuaijieanniu{overflow:hidden;border-left:none;}
.kuaijieanniu a{display:block;width:24.7%;height:75px;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-top:none;border-left:none;border-width:1px; float:left;margin-left:0px;margin-top:0px;text-align:center;padding-top:15px;}
}

@media screen and (max-width:360px) {
.head_s{height:145px;width:100%;border-bottom:1px solid #ED7C76;}

.head_dy{width:26%;height:145px;float:left;padding:0px 3%;}
.head_touxiang{width:100%;border-radius:50%;float:left;}

.head_dj{width:68%;height:111px;float:left;padding:17px 0px;}
.head_dj p{line-height:37px;color:#fff;font-size:15px;}
.head_dj p a{padding:6px 5px;border-radius:4px;color:#000;margin-left:8px;background:#FFCB00;font-size:12px;}
.head_x{height:75px;width:100%;}
.head_x a{display:block;width:32.6%;height:62px;float:left;text-align:center;padding-top:13px;}
.head_t{border-right:1px solid #ED7C76;}
.head_tctd{font-size:14px;color:#EDA8A8;}
.head_shul{font-size:16px;color:#fff;}
.kuaijieanniu{overflow:hidden;border-left:none;}
.kuaijieanniu a{display:block;width:24.6%;height:75px;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-top:none;border-left:none;border-width:1px; float:left;margin-left:0px;margin-top:0px;text-align:center;padding-top:15px;}
.kuaijieanniu a span{color:#979797;font-weight:700;font-size:12px;}
.kuaijieanniu a i{font-size:29px;line-height:40px;}
.viphuiyuan_zhanghao{padding:0px 10px;}
.viphuiyuan_zhanghao li i{display:inline-block;height:50px;font-size:16px;color:#000;padding-right:10px;}
.viphuiyuan_xiaohu{padding:5px;margin-left:5px;}
.viphuiyuan_tequan, .viphuiyuan_jine{font-size:13px;}
.ajaxview .content .b b{width:25%;}
.ajaxview .content .b span{width:75%;}

/*.inputselect,.suoshu select{padding:0px 18px 0px 5px;display:inline-block;height:32px;line-height:30px;cursor:pointer;border:1px solid #98a1a6;}*/
}

@media screen and (max-width:320px) {
.head_s{height:140px;width:100%;border-bottom:1px solid #ED7C76;}

.head_dy{width:26%;height:140px;float:left;padding:0px 3%;}
.head_touxiang{width:100%;border-radius:50%;float:left;}

.head_dj{width:68%;height:108px;float:left;padding:16px 0px;}
.head_dj p{line-height:36px;color:#fff;font-size:12px;}
.head_dj p a{padding:4px 4px;border-radius:4px;color:#000;margin-left:5px;background:#FFCB00;font-size:12px;}
.head_x{height:75px;width:100%;}
.head_x a{display:block;width:32.6%;height:62px;float:left;text-align:center;padding-top:13px;}
.head_t{border-right:1px solid #ED7C76;}
.head_tctd{font-size:14px;color:#EDA8A8;}
.head_shul{font-size:16px;color:#fff;}
.kuaijieanniu{overflow:hidden;border-left:none;}
.kuaijieanniu a{display:block;width:24.6%;height:75px;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-top:none;border-left:none;border-width:1px; float:left;margin-left:0px;margin-top:0px;text-align:center;padding-top:15px;}
.tjbtn1{padding:5px 10px;background:#00AAEE;color:#fff;border-radius:3px;margin-left:5px;font-size:14px;}
.viphuiyuan_zhanghao{padding:0px 10px;}
.viphuiyuan_zhanghao li i{display:inline-block;height:50px;font-size:16px;color:#000;padding-right:10px;}
.viphuiyuan_xiaohu{padding:4px;margin-left:5px;}
}