*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;}
body.show {opacity:1;}
html{background: #ebebeb;}


/*头部幻灯片部分*/
.wrapper .swiper-container {height: 2rem;color: #fff;text-align: center;}
.wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.wrapper .swiper-slide img {width: 100%; height: 100%;}
.wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: 0;width: 100%;}
.wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.wrapper .swiper-active-switch {background: #fff;}
.wrapper .swiper-dynamic-links {text-align: center;}
.wrapper .swiper-pagination-bullet-active{background: #fff!important;opacity: .8}
.wrapper .swiper-pagination-bullet{width: 6px;height: 6px;}


/*滑动导航*/
.nav{margin-top: .24rem;overflow: hidden;background: #fff;padding: 15px 0;}
.nav .nav-container{position: relative;}
.nav li{float: left;width: 25%;}
.nav li a{display: block;}
.nav li a .icon-img{display: block;width: 1rem;height: 1rem;margin: 0 auto;}
.nav li a .icon-img img{display: block;width: 100%;height: 100%;}
.nav li a .icon-txt{display: block;width: 1rem;height: .6rem;margin: 0 auto;text-align: center;}
.nav .swiper-pagination-bullet{width: 7px;height: 7px;}
.nav .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom,.nav .swiper-pagination-fraction{bottom: -10px;position: absolute;}

/*列表*/
.choose-tab{height: .74rem;margin-top: .2rem;}
.choose-tab ul{height: .8rem;background: #fff;display: -webkit-box;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.choose-tab ul.top{position: fixed;top: 0;left: 0;right: 0;z-index: 10;}
.choose-tab ul li{display: block;-webkit-box-flex: 1;line-height: .8rem;text-align: center;font-size: .28rem;border-right: 1px solid #eee;}
.choose-tab ul li.active{color: #333;font-weight: bold;}
.choose-tab ul li.active span{background-image: url(../images/la1.png);}
.choose-tab ul li span{background: url(../images/la.png) center right no-repeat;padding-right: .4rem;background-size: .25rem auto}
.goods-list{padding: .3rem 0 1rem;}
.goods-list li{width: 47%;background: #fff;float: left;box-shadow: 1px 1px 2px #ddd;margin-bottom: .15rem;}
.goods-list li:nth-child(odd){margin: 0 2%;}
.goods-list li:nth-child(even){margin-right: 2%;}
.goods-list .img-box{width: 100%;height: 3rem;overflow: hidden;}
.goods-list .img-box img{width: 100%;min-height: 100%;}
.goods-list .txt-box{padding: .1rem;}
.goods-list .txt-box h3{height: .5rem;line-height: .5rem;overflow: hidden;display: block;text-overflow: ellipsis;white-space: nowrap;}
.goods-list .txt-box .nprice{color: #ff4845;font-size: .3rem;}
.goods-list .txt-box .mprice{color: #979797;text-decoration: line-through;margin-left: .1rem;}
.goods-list .area{color: #979797;margin-top: .1rem;}
.goods-list .area span{margin-right: .1rem;}
.goods-list .empty{text-align: center;padding-top: .2rem;display: none;}

/*筛选框*/
.choose{position: relative;z-index: 10}
.choose-box{position: absolute;top: .84rem;left: 0;right: 0;z-index: 10}
.choose-local{background: #fff;max-height: 6rem;overflow: hidden;}
.choose-local li{height: .8rem;line-height: .8rem;font-size: .28rem;text-indent: .2rem;border-bottom: 1px solid #f7f7f7;}
.dn{display: none;}
#choose-area,#choose-sort{max-height: 6rem;overflow: hidden;}
#choose-second,#choose-info{height: 6rem;}
#choose-second li{margin: 0 .2rem;text-indent: 0}
#choose-second li.load {text-align: center; height: 6rem; line-height: 6rem;}
.choose-stage-l-short{width: 49%;float: left;}
.choose-stage-r{width: 50%;float: left;display: none;}
#choose-info{background: #f7f7f7;}
#choose-info li.active{background: #fff;border-color: #fff;}
#choose-area li.on,#choose-sort li.on,#choose-second li.on{color: #f74342;border-bottom: 1px solid #f74342;}
#choose-info li.current{color: #f74342;border-bottom: 1px solid #f74342;}

/*遮罩层*/
.mask{width: 100%;background: rgba(0,0,0,.6);position: fixed;top: 0;right: 0;z-index: 9;display: none;bottom: 0}

a.scrollTop{display: block;width: 1rem;height: 1rem;border-radius: 1rem;background: rgba(0,0,0,.6);bottom: .3rem;right: .3rem;position: fixed;}
a.scrollTop i{display: block;width: .5rem;background: url(../images/top.png) no-repeat;height: .5rem;background-size: .5rem auto;margin: .2rem auto;}
