.dd{
	    width: 94%;
    padding: 14px 3% 0;
    position: relative;
    background: #fff;
}
.dd h1{
	    font-size: 17px;
    color: #333;
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dd .color{
    padding: 0.24rem 0 0.1rem;
    font-size: 0.24rem;
}
.dd .color span{
	    display: inline-block;
    color: #666;
    vertical-align: middle;
    font-size: 0.26rem;
}
.dd .color span i{
	padding-right: 0.08rem;
	font-style: normal;
}
.dd .color span p{
	    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    margin: -0.04rem 0.06rem 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    vertical-align: middle;
}
.dd .color span .green{
    background: #81cb4a;
}
.dd .color span .pink{
	background: #fca6ca;
}
.dd .color b{
	    border-left: 0.02rem solid #d8d8d8;
    padding-left: 0.2rem;
        display: inline-block;
    color: #666;
    vertical-align: middle;
    font-size:0.26rem;
    font-weight: normal;
}
.dd a{
	color: #666;
    line-height: 0.6rem;
    position: absolute;
    top: 0.2rem;
    right: 3%;
    font-size: 0.26rem;
    padding: 0 0.24rem;
    border: 0.02rem solid #c9c9c9;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
}
.dd a i{
	    padding: 0.1rem 0.18rem;
    background: url(../images/04_enter.png) no-repeat left center;
    background-size: 0.28rem auto;
    font-style: normal;
}