input {-webkit-appearance:none; /*去除input默认样式*/}
body{
        background: #f0f0f0;
}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;background-color: #f0efed;opacity: 0;}
body.show{opacity: 1;}
.de-img{
	position: relative;
    height: 4.1rem;
}
.de-img span{
    height:1.1rem;
    background: #d7d7d7;
    display: block;
}
.de-img img{
	width: 100%;
 	}
.de-img p{
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    background: url(../images/09_header.png);
    background-repeat: no-repeat;
    background-size: 0.8rem auto;
    width: 1rem;
    height: 0.5rem;
    background-position: 0 0.02rem;
}
.de-img b{
        background-image: url(../images/09_header.png);
    background-repeat: no-repeat;
    background-size: 0.8rem auto;
    display: block;
    width: 0.6rem;
    height: 0.48rem;
    background-position: 0.12rem -0.74rem;
    margin-right: 0.28rem;
    position: absolute;
    right: 1.08rem;
    top: 0.3rem;
}
.de-img i{
        background-image: url(../images/09_header.png);
    background-repeat: no-repeat;
    background-size: 0.8rem auto;
    display: block;
        width: 0.6rem;
    height: 0.48rem;
    background-position: 0.12rem -1.48rem;
     right: 0.4rem;
    top: 0.3rem;
    position: absolute;
}
.showcang{
    background-position: 0.12rem -2.22rem!important;
}
.hotel-infor{
    background: #fff;
    padding: 0.16rem 3%;
    position: relative;
}
.hotel-infor h1{
    font-size: 0.36rem;
    color: #333;
}
.hotel-infor .star{
    margin: 0.05rem 0 0.05rem;
}
.hotel-infor .star span{
        display: inline-block;
    height: 0.24rem;
    background-image: url(../images/09_star.png);
    background-repeat: no-repeat;
    background-size:1.9rem auto;
    width:1.44rem;
    background-position: 0 -0.54rem;
    vertical-align: -0.04rem;
}
.hotel-infor .star span i{
       display: inline-block;
    height: 0.27rem;
    background-image: url(../images/09_star.png);
    background-repeat: no-repeat;
    background-size:1.9rem auto;
    width: 80%;
    background-position: 0 0;
}
.hotel-infor .star em{
        font-size: 0.24rem;
    color: #999;
    margin-left: 0.2rem;
}
.hotel-infor p{
   font-size: 0.24rem;
    color: #999;
}
.favorable{
        margin-bottom: 0.3rem;
    position: relative;
    border-width: 0.02rem 0;
    border-color: #d7d7d7;
    border-style: solid;
    padding: 0.1rem 3%;
    position: relative;
    background-color: #f8f8f8;
}
.favorable ul li{
    line-height: 0.56rem;
    color: #333;
    font-size: 0.28rem;
}
.favorable ul li em{
    color: #ff3366;
    padding-right: 0.1rem;
}
.favorable:after{
        content: "";
    position: absolute;
    right: 3%;
    top: 50%;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dite{
    margin-bottom: 0.3rem;
    position: relative;
    border-width: 0.02rem 0;
    border-color: #d7d7d7;
    border-style: solid;
    background: #fff;
}
.dite ul{
    padding-left: 3%;
}
.dite ul li{
        padding: 13px 0;
    border: 0;
    position: relative;
    line-height: inherit;
    font-size: 0.3rem;
}
.dite ul li:nth-child(2){
    border-top: 0.02rem solid #e1e1e1;
    border-bottom: 0.02rem solid #e1e1e1;
}
.dite ul li a{
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    width: 84%;
}
.dite ul li:before{
    width: 0.32rem;
    height: 0.36rem;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right:0.1rem;
    background-image: url(../images/09_mapIcon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem auto;
}
.dite ul li:after{
        content: "";
    position: absolute;
    right: 3%;
    top: 50%;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dite ul li:nth-child(1):before{
        background-position: 0 0;
    vertical-align: top;
    margin-top: 0.06rem;
}
.dite ul li:nth-child(2):before{
    background-position: 0 -0.6rem;
}
.dite ul li:nth-child(3):before{
    background-position: 0 -1.14rem;
}
.yanhui{
        background-color: #fff;
            margin-bottom: 0.3rem;
    position: relative;
    border: 0.02rem #d7d7d7 solid;
    border-left: none;
    border-right: none;
}
.yanhui h1{
    line-height: 0.9rem;
    color: #333;
    font-size: 0.3rem;
    padding-left: 3%;
}
.yanhui ul{
    padding-left: 3%;
    overflow: hidden;
}
.yanhui ul li{
    padding: 0.2rem 3% 0.2rem 0;
    min-height: 0.9rem;
    border-top: 0.02rem solid #e1e1e1;
}
.yanhui ul li .yanhui-l{
    float: left;
    position: relative;
    width: 78%;
}
.yanhui ul li .yanhui-l img{
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2rem;
    height: 0.9rem;
}
.yanhui ul li .yanhui-l .yan-lead{
    margin-left: 1.4rem;
    color: #999;
}
.yanhui ul li .yanhui-l .yan-lead p{
    color: #333;
    font-size: 0.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.yanhui ul li .yanhui-l .yan-lead span{
    line-height: 0.28rem;
    font-size: 0.25rem;
}
.yanhui ul li .check{
    float: right;
    line-height: 0.56rem;
    text-align: center;
    margin-top: 0.16rem;
    width: 1.24rem;
    border-radius: 0.3rem;
    border: 0.02rem solid #ccaa77;
    color: #ccaa77;
}
.yanhui .more{
    border-top: 0.02rem solid #d7d7d7;
    line-height: 0.86rem;
    padding-left: 3%;
    position: relative;
    text-align: center;
    font-size: 0.24rem;
}
.yanhui .more i{
        display: inline-block;
    margin-left: 0.2rem;
    vertical-align: middle;
    -webkit-transition: all ease-in-out .8s;
    transition: all ease-in-out .8s;
    content: "";
    display: inline-block;
    width: 0.14rem ;
    height: 0.14rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(132deg);
    -ms-transform: rotate(132deg);
    transform: rotate(132deg);
}
.menu{
    margin-bottom: 0.3rem;
    position: relative;
    border-width: 0.02rem 0;
    border-color: #d7d7d7;
    border-style: solid;
    background-color: #fff;
}
.menu h1{
    line-height: 0.9rem;
    color: #333;
    font-size: 0.3rem;
    padding-left: 3%;
}
.menu ul li{
    line-height: 0.9rem;
    padding-right: 0.4rem;
    position: relative;
    border-top: 0.02rem solid #e1e1e1;
}
.menu li:after{
        content: "";
    position: absolute;
    right: 3%;
    top: 50%;
    width:0.14rem;
    height:0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu ul{
    padding-left: 3%;
}
.menu ul li a{
    font-size: 0.28rem;
    color: #333;
    display: block;
}
.menu ul li a p{
        color: #999;
    float: right;
    padding-right: 0.16rem;
    font-size: 0.24rem;
}
.menu .menu-more {
    border-top: 0.02rem solid #d7d7d7;
    line-height: 0.86rem;
    padding-left: 3%;
    position: relative;
}
.menu .menu-more a{
     color: #7A7A7A;
    font-size: 0.24rem;
}
.menu .menu-more:after{
        content: "";
    position: absolute;
    right: 3%;
    top: 50%;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.comment{
    margin-bottom: 0.3rem;
    position: relative;
    border-width: 0.02rem 0;
    border-color: #d7d7d7;
    border-style: solid;
    margin-top: 0.3rem;
    background-color: #fff;
}
.comment-lead{
    line-height: 0.9rem;
    color: #333;
    font-size: 0.3rem;
    padding-left: 3%;
}
.comment ul li{
        position: relative;
    padding: 0.24rem 0 0.2rem;
    border-top: 0.02rem solid #e1e1e1;
}
.comment ul li a p img{
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border: 0.02rem solid #f5f5f5;
}
.comment-txt{
    margin-left: 1.24rem;
    color: #666;
    line-height:0.36rem;
    padding-right: 3%;
}
.comment-txt h1{
    color: #333;
    font-size:0.28rem;
}
.comment-txt h1 p{
    display: inline-block;
    height:0.28rem;
    background-image: url(../images/09_star.png);
    background-repeat: no-repeat;
    background-size: 1.9rem auto;
    width: 1.44rem;
    background-position: 0 -0.54rem;
    vertical-align: middle;
    float: right;
}
.comment-txt h1 p span{
        display: inline-block;
    height: 0.28rem;
    background-image: url(../images/09_star.png);
    background-repeat: no-repeat;
    background-size: 1.9rem auto;
    width: 100%;
}
.comment-txt div{
        margin: 0.1rem 0;
    color: #999;
    line-height: 0.4rem;
    word-wrap: break-word;
    font-size: 0.24rem;
}
.comtxt-pic span{
    width: 30%;
    float: left;
    height: 1.46rem;
    margin: 0 3% 3% 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background: url(../images/09_imgBg.png) repeat center top;
}
.comtxt-pic span img{
        width: auto;
    height: 1.46rem;
    display: block;
    margin: 0 auto;
}
.com-more{
    border-top: 0.02rem solid #d7d7d7;
    line-height: 0.86rem;
    padding-left: 3%;
    position: relative;
}
.com-more a{
    color: #7A7A7A;
}
.com-more:after{
        content: "";
    position: absolute;
    right: 3%;
    top: 50%;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.maybe{
    margin-bottom: 0.3rem;
    position: relative;
    border-width: 0.02rem 0;
    border-color: #d7d7d7;
    border-style: solid;
    padding-bottom: 1.4rem;
    border-bottom: 0;
    
}
.maybe .maybe-lead{
    line-height: 0.9rem;
    color: #333;
    font-size:0.3rem;
    padding-left: 3%;
    background: #fff;
}
.maybe  ul {
        background-color: #fff;
    padding-left: 3%;
    border-bottom: 0.02rem solid #d7d7d7;
    background: #fff;
}
.maybe  ul li{
        position: relative;
    padding: 0.2rem 0;
    min-height: 1.26rem;
    border-top: 0.02rem solid #e1e1e1;
}
.maybe  ul li a i img{
        width: 1.8rem;
    height: 1.6rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
}
.maybe  ul li a h1{
    font-size: 0.28rem;
    color: #333;
    height: 0.76rem
}
.maybe  ul li a h1 img{
    width: 0.3rem;
    height: 0.3rem;
    margin-left: 0.1rem;
}
.maybe  ul li a .maybe-txt{
    margin-left: 2rem;
    padding-right: 3%;
}
.maybe  ul li a .maybe-txt span{
    color: #333;
    font-size: 0.24rem;
    position: relative;
    line-height: 0.56rem;
    margin-top: 0.02rem;
}
.maybe  ul li a .maybe-txt span em{
    float: right;
        color: #999;
}
.maybe  ul li a .maybe-txt p{
        color: #999;
}
.maybe  ul li a .maybe-txt p em{
    padding-left: 0.1rem;
}
.fix{
    background: #fff;
    width: 100%;
    height: 0.96rem;
    line-height: 0.96rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    border-top: 0.02rem solid #d7d7d7;
}
.fix ul li.kefu{
    border-right: 0.02rem solid #e6e6e6;
    background: url(../images/09_online.png) no-repeat center 0.14rem;
    background-size:0.38rem auto;
    float: left;
    width: 17%;
    box-sizing:border-box;
}
.fix ul li.kefu i{
        padding-top: 0.24rem;
        font-style: normal;
    color: #999;
    display: inline-block;
}
.fix ul li.lian{
    border-right: 0.02rem solid #e6e6e6;
    background: url(../images/09_contact.png) no-repeat center 0.14rem;
    background-size: 0.32rem auto;
    float: left;
    width: 17%;
    box-sizing:border-box;
}
.fix ul li.lian i{
        padding-top: 0.24rem;
        font-style: normal;
    color: #999;
    display: inline-block;
}
.fix ul li.chaxun{
        color: #fff;
    background: #ccaa77;
    font-size: 0.32rem;
    text-align: center;
    float: left;
    width: 41.5%;
     box-sizing:border-box;
}
.fix ul li.yuyue{
    color: #fff;
    background: #fc3768;;
    font-size:0.32rem;
    text-align: center;
    float: left;
    width: 41.5%;
     box-sizing:border-box;
}
.jianjie{
    position: fixed;
    top: 0;
    left: 7.68rem;
    height: 100%;
    background: #fff;
    width: 100%;
    overflow: auto;
}
.jianjie-lead{
        color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
    margin: 0 auto;
    background: #fff;
    padding: 0.1rem 5%;
    border-bottom: 0.02rem solid #e0e0e0;
}
.jianjie-lead span{
    display: block;
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/09_back.png) no-repeat center center;
    background-size: 0.24rem auto;
}
.jj-1 h1{
        background: #f5f5f5;
    color: #999;
    font-size: 0.28rem;
    line-height: 0.7rem;
    padding: 0 3%;
    margin-bottom: 0.16rem;
}
.jj-1 .jj-txt{
    line-height: 0.44rem;
    padding: 0 3%;
    margin: 0.2rem 0;
    height: 3.5rem;
    overflow: hidden;
}
.jj-1 .jj-txt div{
}
.jj-1 p{
    height: 0.6rem;
    margin-bottom: 0.2rem;
}
.jj-1 p span{
    display: block;
    margin: 0 auto;
    width: 0.46rem;
    height: 0.6rem;
    background: url(../images/09_down.png) no-repeat left center;
    background-size: 0.46rem auto;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.tf h1{
        background: #f5f5f5;
    color: #999;
    font-size: 0.28rem;
    line-height: 0.7rem;
    padding: 0 3%;
    margin-bottom: 0.16rem;
}
.tf ul{
    font-style: 0.24rem
}
.tf ul li{
    font-size: 0.28rem;
    line-height:0.4rem;
    padding:0.04rem 3%;
    color: #666;
}
.hei{
    height: auto!important;
}
.arrow p span{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.dangqi{
    position: fixed;
    top: 0;
    left: 7.68rem;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    color: #999;
}
.dangqi-lead{
    color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
    margin: 0 auto;
    background: #fff;
    padding: 0.1rem 5%;
    border-bottom: 0.02rem solid #e0e0e0;
}
.dangqi-lead span{
        display: block;
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/09_back.png) no-repeat center center;
    background-size: 0.24rem auto;
}
.dangqi ul .ting{
    line-height: 0.8rem;
}
.dangqi ul .ting em{
    font-size: 0.3rem;
    color: #333;
}
.dangqi ul li{
    font-size: 0.26rem;
    padding: 0 5%;
}
.jkl{
    position: fixed;
    top: 0;
    left: 7.68rem;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    color: #999;
}
.jkl-lead{
    color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
    margin: 0 auto;
    background: #fff;
    padding: 0.1rem 5%;
    border-bottom: 0.02rem solid #e0e0e0;
}
.jkl-lead span{
        display: block;
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/09_back.png) no-repeat center center;
    background-size: 0.24rem auto;
}
.jkl ul .ting{
    line-height: 0.8rem;
}
.jkl ul .ting em{
    font-size: 0.3rem;
    color: #333;
}
.jkl ul li{
    font-size: 0.26rem;
    padding: 0 5%;
}
.date{
    position: relative;
    width: 100%;
    margin: 0.24rem auto;
}
.date:after{
        position: absolute;
    left: 5%;
    top: 0.24rem;
    width: 0.36rem;
    height: 0.44rem;
    content: "";
    background: url(../images/calendar.png) no-repeat 50% 50%;
    background-size: 0.32rem auto;
}
.date input{
    font-size: 0.28rem;
    height: 0.9rem;
    background: #fff;
    line-height: 0.9rem;
    padding-left: 12%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 0.02rem solid #e4e4e4;
    border-bottom: 0.02rem solid #e4e4e4;
    color: #bbb;
    width: 100%;
    border: none;
}
.number{
    margin: 0.24rem auto;
    background: #fff;
    width: 100%;
    position: relative;
}
.number:after{
        position: absolute;
    left: 5%;
    top: 0.24rem;
    width: 0.36rem;
    height: 0.44rem;
    content: "";
    background: url(../images/phone.png) no-repeat 50% 50%;
    background-size: 0.28rem auto;
    z-index: 1;
}
.number input{
    display: block;
    color: #bbb;
    width: 88%;
    font-size: 0.24rem;
    line-height: 0.5rem;
    padding: 0.2rem 0;
    padding-left: 12%;
    border: none;
}
.submit{
        display: block;
    width: 90%;
    margin: 0.52rem auto;
    text-align: center;
    line-height: 0.9rem;
    background: #ff608e;
    color: #fff;
    font-size: 0.28rem;
    border-radius: 0.1rem;
}
.caidan{
       position: fixed;
    top: 0;
    left: 7.68rem;
    height: 100%;
    width: 100%;
    background: #fff;
}
.caidan-lead{
     color: #666;
    text-align: center;
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.34rem;
    margin: 0 auto;
    background: #fff;
    padding: 0.1rem 5%;
    border-bottom: 0.02rem solid #e0e0e0;
}
.caidan-lead span{
        display: block;
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/09_back.png) no-repeat center center;
    background-size: 0.24rem auto;
}
.caidan ul{
    height: 12.5rem;
    overflow: auto;
}
.caidan ul li{
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.8rem;
}
.cai-l{
    position: relative;
    border-bottom: 0.02rem solid #e0e0e0;
    text-indent: 0.46rem;
}
.caidan ul li em{
    color: #ff608e;
    margin-left: 0.1rem;
}
.caidan ul li p{
        content: "";
    position: absolute;
    top:50%;
    right: 0.5rem;
    width: 0.14rem;
    height: 0.14rem;
    margin-top: -0.08rem;
    border-top: 0.02rem solid #999;
    border-right: 0.02rem solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    float: left;
}
.cai-list{
    display: none;
    overflow-x: auto;    
    height: 100%;
}
.cc{
    width: 7.5rem;
    overflow: scroll;
}
.cai-list .plan{
    width: 3.75rem;
    text-align: center;
    margin-top: 0.2rem;
    border-bottom: 0.02rem solid #e0e0e0;
    box-sizing: border-box;
    float: left;
    padding-bottom: 0.2rem;
}
.cai-list .plan h1{
    display: block;
    width: 1.6rem;
    margin: 0 auto;
    text-align: center;
    background: #ff608e;
    color: #fff;
    font-size: 0.28rem;
    border-radius: 0.4rem;
    margin-bottom: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.cai-list .plan  span{
    width: 100%;
    display: block;
    font-size: 0.24rem;
    line-height: 1.6;
}
