.ShopInfo_box{
    width: 100%;
    height: 3.4rem;
    background: url(../images/ritual_pic2.png) no-repeat center;
    background-size: 100%;
    position: relative;
}
.ShopInfo{
    padding:.3rem .25rem;
    color: #fff;
    padding-bottom: 0;
}
.ShopInfo .Shop_pic{
    float: left;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #fff;
    margin-right: .25rem;
}
.ShopInfo .Shop_pic img{
    width: 100%;
    height: 100%;
}
.ShopInfo .Shop_name{
    font-size: .34rem;
    margin-top: .15rem;
}
.ShopInfo .Shop_name i{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: url(../images/heart.png) no-repeat center;
    background-size: .5rem;
    vertical-align: middle;
}
.ShopInfo .Shop_name.heart i{
    background: url(../images/heart_1.png) no-repeat center;
    background-size: .5rem;
}
.Case_num{
    font-size: .28rem;
    margin-top: .1rem;
}
.Shop_price{
    font-size: .28rem;
    margin-top: .1rem;
}
.Shop_price em{
    color: #fa667e;
    font-size: .38rem;
    display: inline-block;
    margin: 0 0.05rem;
}
.Shop_sell{
    padding: .2rem .25rem;
    padding-top:0.15rem;
    color: #fff;
    font-size: .28rem;
}
.Shop_sell p{
    width: 7rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Shop_sell p:first{
    width: 4.8rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.yuyue_btn{
    width: 2rem;
    height: .7rem;
    line-height: .7rem;
    position: absolute;
    right: 0.25rem;
    bottom: 1rem;
}
.yuyue_btn a{
    display: block;
    color: #fff;
    text-align: center;
    background: #fa667e;
    font-size: .3rem;
    border-radius: 0.1rem;
}
.Onsale_Box{
    background: #fff;
    padding:.25rem;
    border: .2rem solid #f4f4f4;
    border-left: none;
    border-right: none;
}
.Onsale_Box .gift{
    height: .55rem;
    line-height: .55rem;
    font-size: .28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Onsale_Box .gift em{
    display: inline-block;
    width: 1rem;
    height: .48rem;
    line-height: .48rem;
    text-align: center;
    border: 0.02rem solid #fa667e;
    color: #fa667e;
    margin-right: 0.15rem;
}
.Onsale_Box .gift.sale{
    margin-top: .1rem;
}
.Onsale_Box .gift.sale em{
    display: inline-block;
    width: 1rem;
    height: .48rem;
    line-height: .48rem;
    text-align: center;
    border: 0.02rem solid #22e0f7;
    color: #22e0f7;
}
.comment{
    background: #fff;
    padding: 0 .25rem;
}
.comment .com_title{
    font-size: .3rem;
    padding-top: .25rem;
}
.com_content{
    margin-top: .3rem;
    position: relative;
    padding-left: 1.15rem;
}
.com_content .user_pic{
    float: left;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 0.15rem;
    position: absolute;
    left: 0;
    top: 0;
}
.com_content .user_pic img{
    width: 100%;
    height: 100%;
}

.com_content .user_name{
    font-size: .28rem;
}
.com_content .evaluate{
    font-size: .24rem;
    color: #999999;
}
.com_content .evaluate em{
    display: inline-block;
    width: 1.7rem;
    height: .43rem;
    background: url(../images/com_start.png) repeat-x 0 0;
    background-size: .35rem;
    vertical-align: middle;
}
.com_content .evaluate em i{
    display: inline-block;
    width: 80%;
    height: .43rem;
    background: url(../images/com_start1.png) repeat-x 0 0;
    background-size: .35rem;
    vertical-align: middle;
}
.com_txt{
    font-size: .24rem;
}
.AllComment_btn{
    background: #fff;
    padding: .5rem 0;
}
.AllComment_btn a{
    width: 50%;
    display: block;
    margin: 0 auto;
    height: .7rem;
    line-height: .7rem;
    border: 0.02rem solid #fa667e;
    color: #fa667e;
    text-align: center;
    font-size: .28rem;
    border-radius: 0.05rem;
}
.TypeBox{
    background: #fff;
    padding: .3rem .25rem;
}
.TypeBox ul li{
    float: left;
    width: 33.333%;
    height: .65rem;
    line-height: .65rem;
    text-align: center;
    font-size: .3rem;
    border-bottom: 2px solid #fff;
}
.TypeBox ul li.TypeBC{
    border-bottom: 2px solid #fa667e;
}
.TypeList{
    background: #fff;
    margin-bottom: 2rem;
}
.case_box{
    padding: 0 .25rem;
}
.case{
    border: 1px solid #ededed;
    border-radius: 0.05rem;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.case .case_pic img{
    width: 100%;
    height: 4rem;
}
.case .case_info{
    padding: 0 .25rem;
}
.case .case_info .case_title{
    height: .7rem;
    line-height: .7rem;
}
.case .case_info .case_name{
    float: left;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .28rem;
}
.case .case_info .case_price{
    float: left;
    width: 30%;
    font-size: .24rem;
    text-align: right;
    line-height: .6rem;
    color: #c7c7c7;
}
.case .case_info .case_price span{
    color: #fa667e;
    margin-left: .05rem;
}
.case .case_info .case_price span em{
    font-size: .3rem;
}
.case_tips{
    height: .6rem;
    margin-top: 0.08rem;
}
.case_tips em{
    padding: 0.1rem .25rem;
    color: #fa667e;
    border: 0.02rem solid #fa667e;
    border-radius: 0.05rem;
}
.set_lead{
    height: 2.5rem;
    background: url(../images/set_bc.png) no-repeat center;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
.set_lead .set_name{
    display: inline-block;
    width: 2.3rem!important;
    height: 1.1rem;
    text-align: center;
    background: #fff;
    border-radius: 0.05rem;
    padding: .2rem;
    margin: 0.49rem 0;
    margin-right: .13rem;
}
.set_lead .set_name span{
    display: block;
    height: 100%;
    width: 100%;
    border: 0.02rem dashed #ff608e;
}
.set_lead .set_name span p{
    font-size: .3rem;
    color: #ff608e;
}
.set_lead .set_name span p:first-child{
    margin-top: 0.12rem;
}
.set_lead .set_name span p em{
    font-size: .24rem;
    color: #ff608e;
}
.set_connect{
    padding: 0.2rem .25rem;
}
.SC_box{
    padding-bottom: .25rem;
    border-bottom: 0.02rem solid #e0e0e0;
}
.SC_box:last-child{
    border-bottom: none;
}
.set_connect .SC_title{
    position: relative;
    font-size: .32rem;
    padding-left: 0.2rem;
    padding-top: .25rem;
}
.set_connect .SC_title em{
    width: 0.05rem;
    height: .3rem;
    position: absolute;
    left: 0;
    top: 0.35rem;
    background: #fa667e;
}
.set_connect .SC_txt{
    margin-top: 0.2rem;
    font-size: .24rem;
}
.introduce_box{
    padding: 0 .25rem;
}
.introduce_box .introduce_pic img{
    width: 100%;
}
.introduce_txt{
    font-size: .28rem;
    margin-top: .15rem;
}
.ConnectBtn{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    line-height: 1rem;
}
.ConnectBtn a{
    display: block;
    text-align: center;
    font-size: .32rem;
    color: #fff;
    background: #ff608e;
}
.ConnectBtn a i{
    width: .5rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/tel.png) no-repeat 0 0.29rem;
    background-size: .4rem;
}
.disk{
    background-color: rgba(0, 0, 0, 0.36);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000001;
    position: fixed;
    display: none;
}
.Subscribe{
    display: none;
    position: fixed;
    top: 2rem;
    left: 50%;
    width: 6rem;
    height: 3.7rem;
    background: url(../images/telbc.png) no-repeat center;
    background-size: 100%;
    z-index: 1000002;
    margin-left: -3rem;
}
.Subscribe .Subscribe_title{
    margin-top: .3rem;
    padding: 0 .3rem;
    height: .6rem;
    line-height: .6rem;
}
.Subscribe .Subscribe_title em{
    font-size: .3rem;
    float: left;
}
.Subscribe .Subscribe_title i{
    float: right;
    width: .6rem;
    height: .6rem;
    background: url(../images/cha.png) no-repeat center;
    background-size: .6rem;
}
.Subscribe_input{
    padding:  0 .3rem;
}
.Subscribe_input .Subscribe_txt{
    height: .6rem;
    line-height: .6rem;
    width: 3.8rem;
    border: 0.02rem solid #e5e5e5;
    border-radius: 0.05rem;
    margin-top: 0.2rem;
    float: left;
}
.Subscribe_input .Subscribe_txt i{
    display: inline-block;
    height: .6rem;
    width: .5rem;
    background: url(../images/tel_1.png) no-repeat 0.1rem 0.06rem;
    background-size: .3rem;
    vertical-align: middle;
}
.Subscribe_input .Subscribe_txt input{
    font-size: .28rem;
    margin: 0.1rem 0;
    border: none;
}
.Subscribe_input .clean{
    float:left;
    width: .5rem;
    height: .6rem;
    background: url(../images/cha_1.png) no-repeat center;
    background-size: .5rem;
    vertical-align: middle;
    margin-top: 0.2rem;
    margin-left: 0.15rem;
}
.Subscribe_submit{
    width: 3rem;
    margin: 0 auto;
    height: .7rem;
    line-height: .7rem;
    color: #fff;
    background: #fa667e;
    font-size: .32rem;
    text-align: center;
    border-radius: 0.1rem;
}
.Subscribe_warning {
    padding: 0 .3rem;
    font-size: .24rem;
    margin: .1rem 0 .4rem;
}
.Subscribe_warning a{
    color: #fa667e;
}
