.works-names{
	    width: 94%;
    padding: 0.2rem 3%;
    background: #fff;
}
.works-names dt{
	float: left;
    width: 55%;
}
.works-names dt h1{
	    font-size:0.32rem;
    color: #333;
    margin-bottom: 0.1rem;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.works-names dt span{
	font-size: 0.28rem;
    color: #666;
}
.works-names dd{
	    float: left;
    width: 40%;
    border-left: 0.02rem solid #eaeaea;
    padding-left: 0.2rem;
}
.works-names dd a{
	    background-color: #bbb;
    line-height: 0.44rem;
    display: block;
    color: #fff;
    padding-left: 0.68rem;
    margin-bottom: 0.14rem;
    border-radius: 0.06rem;
    -webkit-border-radius: 0.06rem;
    background-image: url(../images/dianpu.png);
    background-position: 0.22rem center;
    background-repeat: no-repeat;
    background-size: 0.26rem auto;
}
.works-names dd p{
    color: #999;
}
.works-names dd p em{
	margin-left: 0.2rem;
}
.zp-pic{
	width: 94%;
    padding: 0.2rem 3%;
    background: #fff;
}
.zp-pic ul li {
    margin-bottom: 0.2rem;
}
.zp-pic ul li img{
	width: 100%;
	height: auto;
}
.zp-bo{
	    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 15px 3%;
    border-top: 0.02rem solid #e6e6e6;
    width: 94%;
    z-index: 2;
}
.zp-bo input{
	    color: #bbb;
    text-indent: 0.2rem;
    border: 0.02rem solid #ff608e;
    width: 64.5%;
    line-height: 0.26rem;
    padding: 0.1rem 0;
    margin-right: 4.3%;
    float: left;
        font-size: 0.28rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
}
.zp-bo span{
	    background: #ff608e;
    text-align: center;
    color: #fff;
    width: 30%;
    line-height: 0.7rem;
        float: left;
    font-size: 0.28rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
}