.sj-list{
	    width: 94%;
    padding: 0.3rem 3%;
    background: #fff;
}
.sj-list ul{
	background: #fff;
}
.sj-list ul li{
	    margin-right: 4%;
    width: 48%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0.3rem;
        background: #f7f7f7;
}
.sj-list ul li:nth-child(even){
	margin: 0;
}
.sj-list ul li a span{
	position: relative;
}
.sj-list ul li a span img{
    width: 100%;
    height: 2.24rem;
}
.sj-list ul li a span p{
	    position: absolute;
    right: 4.8%;
    bottom: 0.2rem;
    padding: 0.02rem 0.1rem;
    background: rgba(0,0,0,.6);
    color: #fff;
    border-radius: 0.06rem;
    -webkit-border-radius: 0.06rem;
}
.sj-list ul li a h1{
	    color: #333;
    padding-left: 0.2rem;
    margin: 0.1rem 0;
}
.sj-list ul li a .xi{
	color: #bbb;
    padding: 0 0 0.16rem 0.2rem;
}
.sj-list ul li a .xi i{
	    background: url(../images/le.png) no-repeat left center;
    background-size: 0.22rem auto;
        padding-left: 0.26rem;
    display: inline-block;
    margin-right: 0.2rem;
    font-style: normal;
}
.sj-list ul li a .xi b{
	    background: url(../images/ri.png) no-repeat left center;
    background-size: 0.18rem auto;
       padding-left: 0.26rem;
    display: inline-block;
    margin-right: 0.2rem;
	font-weight: normal;
}