<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>黄道吉日查询-{#$marry_title#}</title>
<meta name="keywords" content="结婚吉日,黄道吉日,结婚吉日查询,黄道吉日查询,2015年适合结婚的日子,2016年适合结婚的日子">
<meta name="description" content="2015-2016年适合结婚的日子有哪些，{#$marry_title#}为您提供专业的结婚黄道吉日查询服务，并且您也可以通过{#$marry_title#}抢先预订婚宴档期。">
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all">
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/calendar.css" media="all">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/rili.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$marry_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
</script>
</head>

<body>
{#include file="top.html"#}

<div class="wrap riliCon">
	<!-- BEGIN #main -->
	<div id="main">
		<div id="so_top">
		</div>
		<ul id="m-result" class="result">
			<li id="first" class="res-list">
				<div id="mohe-rili" class="g-mohe"  data-mohe-type="rili">
						<div class="mh-rili-wap mh-rili-only " data-mgd='{"b":"rili-body"}'>
						<div class="mh-tips">
							<div class="mh-loading">
								<i class="mh-ico-loading"></i>正在为您努力加载中...
							</div>
							<div class="mh-err-tips">亲，出了点问题~ 您可<a href="#reload" class="mh-js-reload">重试</a></div>
						</div>
						<div class="mh-rili-widget mh-rili-widgetxx">
						<div class="mh-doc-bd mh-calendar">
							<div class="mh-cal-main">
								<div class="mh-col-1 mh-dates">
									<div class="mh-control-bar">
										<div class="mh-control-module mh-year-control mh-year-bar">
											<div class="mh-control">
												<i class="mh-trigger"><em></em></i>
												<div class="mh-field mh-year" val=""></div>
											</div>
											<ul class="mh-list year-list" style="display:none;" data-md='{"p":"select-year"}'></ul>
										</div>
										<div class="mh-control-module mh-month-control mh-mouth-bar">
											<a href="#prev-month" action="prev" class="mh-prev" data-md='{"p":"prev-month"}'></a>
											<div class="mh-control">
												<i class="mh-trigger"><em></em></i>
												<div class="mh-field mh-month" val=""></div>
											</div>
											<a href="#next-month" action="next" class="mh-next" data-md='{"p":"next-month"}'></a>
											<ul class="mh-list month-list" style="display:none;" data-md='{"p":"select-month"}'></ul>
										</div>
										<div class="fn-left jiriSelect">
											<a href="javascript:;" class="ding">订婚吉日</a>
											<a href="javascript:;" class="jie">结婚吉日</a>
										</div>
									</div>
									<ul class="mh-dates-hd fn-clear">
										<li class="mh-days-title">周一</li>
										<li class="mh-days-title">周二</li>
										<li class="mh-days-title">周三</li>
										<li class="mh-days-title">周四</li>
										<li class="mh-days-title">周五</li>
										<li class="mh-days-title mh-weekend">周六</li>
										<li class="mh-days-title mh-last mh-weekend">周日</li>
									</ul>
									<ol class="mh-dates-bd"></ol>
								</div>
								<div class="mh-col-2 mh-almanac">
									<div class="mh-almanac-base mh-almanac-main"></div>
									<div class="mh-almanac-extra fn-clear" style="display:none;">
										<div class="mh-suited">
											<h3 class="mh-st-label">宜</h3>
											<ul class="mh-st-items fn-clear"></ul>
										</div>
										<div class="mh-tapu">
											<h3 class="mh-st-label">忌</h3>
											<ul class="mh-st-items fn-clear"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span id="mh-date-y" style="display:none;">2016</span>
						</div>
					</div>
					<div class="mh-rili-foot" style="display:none">
					</div>
					<select class="mh-holiday-data" style="display:none;">
						<option value="0" data-desc="" data-gl="">放假安排</option>
						<option value="抗战胜利纪念日" data-desc="9月3日至5日放假调休，共3天。9月6日（星期日）上班。" data-gl="">抗战胜利纪念日</option>
						<option value="国庆节" data-desc="10月1日至7日放假调休，共7天。10月10日（星期六）上班。" data-gl="">国庆节</option>
						<option value="中秋节" data-desc="9月27日放假。" data-gl="">中秋节</option>
						<option value="端午节" data-desc="6月20日放假，6月22日（星期一）补休。" data-gl="">端午节</option>
						<option value="劳动节" data-desc="5月1日放假，与周末连休。" data-gl="">劳动节</option>
						<option value="清明节" data-desc="4月5日放假，4月6日（星期一）补休。" data-gl="">清明节</option>
						<option value="春节" data-desc="2月18日至24日放假调休，共7天。2月15日（星期日）、2月28日（星期六）上班。" data-gl="">春节</option>
						<option value="元旦" data-desc="1月1日至3日放假调休，共3天。1月4日（星期日）上班。" data-gl="">元旦</option>
					</select>
						<!--value获取当前PHP服务器时间-->
					<input type="hidden" id="mh-rili-params" value='{"p":"btn-today"}' />
				</div>
			</li>
		</ul>
	</div>
	<!-- END #main -->
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/rili2.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/hl2016.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/calendar.js"></script>
</body>
</html>
