<div class="blink">
	<div class="wrap fn-clear">
		<dl class="t1">
			<dt><s></s>新手上路</dt>
			<dd>> <a href="#" target="_blank">如何注册</a></dd>
			<dd>> <a href="#" target="_blank">如何登录</a></dd>
			<dd>> <a href="#" target="_blank">如何预定酒店</a></dd>
		</dl>
		<dl class="t2">
			<dt><s></s>婚礼学堂</dt>
			<dd>> <a href="#" target="_blank">小编看店</a></dd>
			<dd>> <a href="#" target="_blank">结婚攻略</a></dd>
			<dd>> <a href="#" target="_blank">时尚婚礼</a></dd>
		</dl>
		<dl class="t3">
			<dt><s></s>公司信息</dt>
			<dd>> <a href="#" target="_blank">关于我们</a></dd>
			<dd>> <a href="#" target="_blank">用户协议</a></dd>
			<dd>> <a href="#" target="_blank">隐私声明</a></dd>
		</dl>
		<dl class="t4">
			<dt><s></s>合作联系</dt>
			<dd>> <a href="#" target="_blank">加入我们</a></dd>
			<dd>> <a href="#" target="_blank">联系我们</a></dd>
		</dl>
		<dl class="t5">
			<dt><s></s>帮助中心</dt>
			<dd>> <a href="#" target="_blank">忘记密码</a></dd>
			<dd>> <a href="#" target="_blank">常见问题</a></dd>
			<dd>> <a href="#" target="_blank">在线客服</a></dd>
		</dl>
		<div class="qr">
			<ul>
				<li><img src="{#$cfg_staticPath#}images/soft_vcode.png" />手机APP</li>
				<li><img src="{#$cfg_staticPath#}images/weixin_vcode.png" />关注微信</li>
			</ul>
		</div>
	</div>
</div>

<div class="wrap copyright">
	<p>Copyright © 2013-{#$smarty.now|date_format:"%Y"#} {#$cfg_clihost#} 版权所有</p>
</div>

<div class="btntop">
  <a href="javascript:;" class="top" title="返回顶部">返回顶部</a>
  <a href="javascript:;" class="close" title="关闭">关闭</a>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
