<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>【婚庆公司排行榜_高端婚庆公司哪家好】排名,报价-{#$marry_title#}</title>
  <meta name="keywords" content="婚庆公司,婚庆公司排行榜">
  <meta name="description" content="{#$marry_title#}，中国结婚网知名品牌，免费为您提供婚庆公司排行榜，婚庆公司报价，婚庆公司哪家好，让您轻松选择合适商家,享受优质婚礼服务。">
  <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all">
  <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all">
  <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/ritual-detail.css" media="all">
  <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
  <script type="text/javascript" src="{#$templets_skin#}js/bundle.js"></script>
  <script type="text/javascript">
  	var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$marry_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';

  	var criticalPoint = 1240, criticalClass = "w1200";
  	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
  	var hideFileUrl = {#$cfg_hideUrl#};

  </script>
</head>
<body>
  {#$pageCurr = "ritual"#}
  {#include file="top.html"#}
  <!-- 顶部商铺信息 s -->
  <div class="protocol_head wrap">
    <div id="mountNode"></div>
    <div class="people"></div>
    <div class="location"><a href="#">首页</a> > <a href="#">婚庆礼仪</a> > <em>香港格莱美婚礼会所</em></div>
    <div class="protocol_infomation">
      <div class="protocol_pic">
        <img src="{#$templets_skin#}upfile/c4.jpg" alt="">
      </div>
      <div class="protocol_info">
        <div class="pro_title"><em>香港格莱美婚礼会所（太湖店）</em><i class=""></i></div>
        <div class="gift fn-clear">
          <div class="on_shop">
            <em>到店礼</em> 预约到点送明星同款防晒喷雾
          </div>
          <div class="on_sale">
            <em>有优惠</em> 到店即获多重好礼，下单更可享立减、对戒等
          </div>
        </div>
        <div class="price_box fn-clear">
            <div class="price">￥<em>3688</em>元起</div>
            <div class="anli_box">
                案例 9 <em>/</em> 套系 20
            </div>
        </div>
        <div class="shop_info">
            <ul>
                <li>场地特色：婚礼会所   中式婚礼   西式婚礼</li>
                <li>联系电话：400-800-98820 </li>
                <li>地址：苏州市太湖新城镇苏州湾美食新天地</li>
            </ul>
        </div>
        <div class="subscribe_btn">
            <a href="#">预约看场地</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 顶部商铺信息 e -->
  <div class="empty_box"></div>
  <!-- 分类导航 s -->
  <div class="type_nav wrap" id="navHeight">
    <nav class="nav-wrap" id="nav-wrap">
        <ul class="fn-clear">
            <li class="type_1"><a href="javascript:;"><p>所有案例</p></a></li>
            <li class="type_2"><a href="javascript:;"><p>所有套系</p></a></li>
            <li class="type_3"><a href="javascript:;"><p>用户评价</p></a></li>
            <li class="type_4"><a href="javascript:;"><p>品牌介绍</p></a></li>
        </ul>
    </nav>
  </div>
  <!-- 分类导航 e -->
  <!-- 所有案例 s -->
  <div class="case wrap section" >
    <div class="ritual_title">所有案例</div>
    <div class="case_list fn-clear">
        <ul>
            <li><div class="case_pic"><img src="{#$templets_skin#}upfile/1.png" alt=""></div><div class="hover_box fn-clear"><a href="#">查看更多...</a><p>线上婚博会特惠套系</p><em><i>¥</i> 18800</em></div></li>
            <li><div class="case_pic"><img src="{#$templets_skin#}upfile/2.png" alt=""></div><div class="hover_box fn-clear"><a href="#">查看更多...</a><p>线上婚博会特惠套系</p><em><i>¥</i> 18800</em></div></li>
            <li><div class="case_pic"><img src="{#$templets_skin#}upfile/3.png" alt=""></div><div class="hover_box fn-clear"><a href="#">查看更多...</a><p>线上婚博会特惠套系</p><em><i>¥</i> 18800</em></div></li>
        </ul>
    </div>
  </div>
  <!-- 所有案例 e -->
  <!-- 所有套系 s -->
  <div class="classic wrap section" >
    <div class="ritual_title">所有套系</div>
    <div class="picScroll_box">
        <div class="prev"></div>
        <div class="picScroll fn-clear">
            <ul>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
                <li><a href="javascript:;"><div class="picScroll_Nabox"><p class="picScroll_name">清新户外风</p><p><i>￥</i>13999</p></div></a></li>
            </ul>
        </div>
        <div class="next"></div>
    </div>
    <div class="classic_info fn-clear">
        <div class="ClassInfo_Left">
            <div class="Info_box">
                <div class="ClassInfo_title">• 婚礼团队 •</div>
                <div class="ClassInfo_com">
                    <ul>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\ 专业摄像师1</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\亲妆 专名</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚摄像师11</li>
                    </ul>
                </div>
            </div>
            <div class="Info_box">
                <div class="ClassInfo_title">• 灯光舞美 •</div>
                <div class="ClassInfo_com">
                    <ul>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\ 专业摄像师1</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\亲妆 专名</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚摄像师11</li>
                    </ul>
                </div>
            </div>
            <div class="Info_box">
                <div class="ClassInfo_title">• 附赠项目 •</div>
                <div class="ClassInfo_com">
                    <ul>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\ 专业摄像师1</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\亲妆 专名</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚摄像师11</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ClassInfo_right">
            <div class="Info_box">
                <div class="ClassInfo_title">• 花艺装饰 •</div>
                <div class="ClassInfo_com">
                    <ul>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\ 专业摄像师1</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\亲妆 专名</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚摄像师11</li>
                    </ul>
                </div>
            </div>
            <div class="Info_box">
                <div class="ClassInfo_title">• 婚礼布置 •</div>
                <div class="ClassInfo_com">
                    <ul>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\ 专业摄像师1</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚礼当天彩排\亲妆 专名</li>
                        <li>高级司仪1名全程服务，提前见面沟通，</li>
                        <li>高级司仪1名全程服务，提前见面沟通，婚摄像师11</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- 所有套系 e -->
  <!-- 顾客评价 s-->
  <div class="evaluate wrap section" >
      <div class="ritual_title">顾客评价</div>
      <div class="wrap block yhpj">
      	<div class="zxtj">
      		<div class="star fn-clear">
      			<ul class="fn-left">
      				<li><font>综合评价</font><span><em style="width: 60px;"></em></span><i>4.7</i></li>
      				<li><font>综合评价</font><span><em style="width: 60px;"></em></span><i>4.7</i></li>
      				<li><font>综合评价</font><span><em style="width: 60px;"></em></span><i>4.7</i></li>
      				<li><font>综合评价</font><span><em style="width: 60px;"></em></span><i>4.7</i></li>
      			</ul>
      			<a class="write fn-right" href="javascript:;"><i></i>我要点评</a>
      		</div>
      		<div class="comFilter">
      			<a class="fn-left allC" href="javascript:;">用户评论  (1280)</a>
      			<span class="fn-left"><input type="checkbox">有图片<i>(472)</i></span>
      			<div class="fn-right sort"><a href="javascript:;">全部</a><a href="javascript:;">5星<em>(2209)</em></a><a href="javascript:;">4星<em>(485)</em></a><a href="javascript:;">3星<em>(70)</em></a><a href="javascript:;">2星<em>(70)</em></a><a href="javascript:;">1星<em>(70)</em></a></div>
      		</div>
      		<div class="comment1">
      			<div class="list">
      				<div class="headImg fn-left">
      					<a href="javascript:;"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/h1.jpg" alt=""></a>
      				</div>
      				<div class="con">
      					<div class="call fn-clear">
      						<a href="javascript:;">小苏果果衍艺sunny</a>
      						<span>评论时间  2015-09-19 14:50</span>
      					</div>
      					<div class="infox">
      						<font>综合评分</font><span class="ss"><em></em></span><i>服务 <font>4分</font></i><i>摄影 <font>5分</font></i><i>造型 <font>5分</font></i>
      					</div>
      					<p>婚博会上定的6999套系升级成7999的，一共7套衣服。是看中拉斐特和九龙山而选择了这家，没让我失望。 对他家的景和摄影师、小助理以及化妆师感觉还不错的，除了偶尔摄影师的急脾气，转变下态度相信唯一会更好！拍了片，选好正在等修片中，希望他家的后期排版别像论坛上描述的那么恐怖，前期还是相对认可的，选对了摄影师技术还是可以的。 内景主白一般是可以拍摄4-5个景，礼服或辅白是3-4个景（PS：verawang大爱！）</p>
      				</div>

      				<div class="slideBox" style="display: none">
      					<span class="btn prevx2"></span>
      					<span class="btn nextx2"></span>
      					<div class="upBox">
      						<ul>
      							<li class="on"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p1.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p2.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p3.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p4.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p5.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p6.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p7.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p8.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p9.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p10.jpg" alt=""></li>
      						</ul>
      					</div>
      					<div class="downBox">
      						<ul>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p1.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p2.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p3.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p4.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p5.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p6.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p7.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p8.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p9.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p10.jpg" alt=""></li>
      						</ul>
      					</div>
      				</div>

      				<p class="count" style="display: none;">上传共<span>17</span>张图片</p>
      				<div class="more">
      					<span class="mm"><label>更多</label><i><em></em></i></span>
      					<span class="ss" style="display: none;"><label>收起</label><i><em></em></i></span>
      				</div>
      			</div>
      			<div class="list">
      				<div class="headImg fn-left">
      					<a href="javascript:;"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/h1.jpg" alt=""></a>
      				</div>
      				<div class="con">
      					<div class="call fn-clear">
      						<a href="javascript:;">小苏果果衍艺sunny</a>
      						<span>评论时间  2015-09-19 14:50</span>
      					</div>
      					<div class="infox">
      						<font>综合评分</font><span class="ss"><em></em></span><i>服务 <font>4分</font></i><i>摄影 <font>5分</font></i><i>造型 <font>5分</font></i>
      					</div>
      					<p>婚博会上定的6999套系升级成7999的，一共7套衣服。是看中拉斐特和九龙山而选择了这家，没让我失望。 对他家的景和摄影师、小助理以及化妆师感觉还不错的，除了偶尔摄影师的急脾气，转变下态度相信唯一会更好！拍了片，选好正在等修片中，希望他家的后期排版别像论坛上描述的那么恐怖，前期还是相对认可的，选对了摄影师技术还是可以的。 内景主白一般是可以拍摄4-5个景，礼服或辅白是3-4个景（PS：verawang大爱！）</p>
      				</div>

      				<div class="slideBox" style="display: none">
      					<span class="btn prevx2"></span>
      					<span class="btn nextx2"></span>
      					<div class="upBox">
      						<ul>
      							<li class="on"><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p1.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p2.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p3.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p4.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p5.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p6.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p7.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p8.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p9.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p10.jpg" alt=""></li>
      						</ul>
      					</div>
      					<div class="downBox">
      						<ul>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p1.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p2.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p3.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p4.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p5.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p6.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p7.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p8.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p9.jpg" alt=""></li>
      							<li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/p10.jpg" alt=""></li>
      						</ul>
      					</div>
      				</div>

      				<p class="count" style="display: none;">上传共<span>17</span>张图片</p>
      				<div class="more">
      					<span class="mm"><label>更多</label><i><em></em></i></span>
      					<span class="ss" style="display: none;"><label>收起</label><i><em></em></i></span>
      				</div>
      			</div>

      		</div>
      	</div>
      </div>
      <div class="lowPage">
          <ul class="page">
            <li class="page_disabled"><span>上一页</span></li>
            <li class="page_current"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="page_more"><span>...</span></li>
            <li><a href="#">11</a></li>
            <li><a href="#">下一页</a></li>
          </ul>
      </div>
  </div>

  <!-- 顾客评价 e-->
  <!-- 品牌介绍 s -->
  <div class="introduce wrap section" >
    <div class="ritual_title">品牌介绍</div>
    <div class="introduce_com fn-clear">
        <div class="introduce_logo">
            <img src="{#$templets_skin#}upfile/c1.jpg" alt="">
    	</div>
        <div class="introduce_txt">
            <div class="introduce_titel">格莱美（香港）婚礼</div>
            <div class="shop_introduce">
                格莱美（香港）婚礼宴会中心是目前国内最有特色、江浙地区最具规模的专业婚礼宴会中心，坐拥美丽的一碧太湖，恢弘与典雅彰显尊贵，绿地
                格莱美婚礼宴会中心是目前国内最有特色、江浙地区最具规模的专业婚礼宴会中心，坐拥美丽的一碧太湖，恢弘与典雅彰显尊贵，绿地格莱美婚礼宴会中心是目前国内最有特色、江浙地区最具规模的专业婚礼宴会中心，坐拥美丽的一碧太湖，恢弘与典雅彰显尊贵，绿地格莱美婚礼宴会中心是目前国内最有特色、江浙地区最具规模的专业婚礼宴会中心，坐拥美丽的一碧太湖，恢弘与典雅彰显尊贵，绿地
            </div>
        </div>
    </div>
  </div>
  <!-- 品牌介绍 e -->
  <!-- 热门酒店推荐 s -->
  <div class="recommend wrap">
    <div class="ritual_title">酒店推荐</div>
    <div class="reco_list fn-clear">
        <ul>
            <li><a href="#">
                <div class="reco_pic"><img src="{#$templets_skin#}upfile/1.png" alt=""></div>
                <div class="reco_info fn-clear">
                    <div class="reco_name">金鸡湖国际会议中心</div>
                    <div class="reco_price">
                        <em><i>￥</i>3999</em>元起
                    </div>
                </div>
            </a></li>
            <li><a href="#">
                <div class="reco_pic"><img src="{#$templets_skin#}upfile/1.png" alt=""></div>
                <div class="reco_info fn-clear">
                    <div class="reco_name">金鸡湖国际会议中心</div>
                    <div class="reco_price">
                        <em><i>￥</i>3999</em>元起
                    </div>
                </div>
            </a></li>
            <li><a href="#">
                <div class="reco_pic"><img src="{#$templets_skin#}upfile/1.png" alt=""></div>
                <div class="reco_info fn-clear">
                    <div class="reco_name">金鸡湖国际会议中心</div>
                    <div class="reco_price">
                        <em><i>￥</i>3999</em>元起
                    </div>
                </div>
            </a></li>
        </ul>
    </div>
  </div>
  <!-- 热门酒店推荐 e -->

  <div id="bg" style="display: none;"></div>
  <div class="pop" id="pop"  style="display: none;">
      <p class="close"><span></span></p>
      <h3>我也要写评价：<span>唯一视觉摄影工作室</span></h3>
      <div class="com fn-clear">
          <ul class="comment fn-clear">
        <li>
              <font>*</font>
          <label>整体评价</label>
          <span>
            <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
            <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
            <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
            <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
            <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          </span>
        </li>
      </ul>
          <i>请点击图标为酒店评分</i>
      </div>
      <ul class="comment fn-clear">
      <li>
          <font>*</font>
          <label>整体评价</label>
          <span>
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          </span>
      </li>
      <li>
          <font>*</font>
          <label>配送服务</label>
          <span>
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          </span>
      </li>
      <li>
          <font>*</font>
          <label>商品质量</label>
          <span>
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          <img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}images/star_b2.png">
          </span>
      </li>
    </ul>
    <div class="comCon">
      <div class="fn-left"><font>*</font><span>评价内容</span></div>
      <div class="con">
          <textarea name="" id="" cols="30" rows="10" onblur="if(value==''){value='请输入您对店铺详细评价，帮助更多会员做出合适的选择,谢谢！'}" onfocus="if(value=='请输入您对店铺详细评价，帮助更多会员做出合适的选择,谢谢！'){value=''}" >请输入您对店铺详细评价，帮助更多会员做出合适的选择,谢谢！</textarea>
          <i>15~2000个字</i><em>最少15字，你还需要输入15个字</em>
      </div>
    </div>
    <div class="upload">
      <span class="fn-left">上传图片</span>
      <div class="loadImg">
          <p class="t"><input type="file" name="uploadFile"/><span></span><font>单张图片不超过3MB，支持jpg、png和bmp</font></p>
          <ul class="fn-clear">
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co1.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co2.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co3.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co4.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co1.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co2.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
              <li><i></i><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/co3.jpg" alt=""><p><em class="fn-left leftR"></em><em class="fn-left rightR"></em><em class="fn-right open"></em></p></li>
          </ul>
          <span class="delete"><i></i>删除全部图片</span>
              <div class="fabu fn-clear">
                  <a class="fn-left" href="#">发布评论</a>
                  <dl class="fn-left">
                      <dt><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/h1.jpg" alt=""></dt>
                      <dd>你也是蘑菇嗎 </dd>
                      <dd><a href="#">切换帐户</a></dd>
                  </dl>
              </div>
      </div>
    </div>
    <div class="popbg" style="display: none"></div>
      <div class="digImg" style="display: none">
          <i class="close"></i>
          <div class="img">
              <ul>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P1.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P2.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P3.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P4.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P3.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P4.jpg" alt=""></li>
                  <li><img src="{#$cfg_staticPath#}images/blank.gif" data-url="{#$templets_skin#}upfile/P3.jpg" alt=""></li>
              </ul>
              <a href="javascript:;" class="prev2"></a>
              <a href="javascript:;" class="next2"></a>
          </div>
      </div>
  </div>

{#include file="footer.html"#}
    <script type="text/javascript" src="{#$site_map_apiFile#}"></script>
    <!-- <script type="text/javascript" src="{#$templets_skin#}js/nav.js"></script> -->
    <script type="text/javascript" src="{#$templets_skin#}js/ritual-detail.js?v=1"></script>
</body>
</html>
