.nav_3 {
	background: #f18101!important;
} 
.n3_left ul li a{
	color: #fff!important;
	font-weight: normal!important;
}
.food_nav{
	margin-top: 5px;
}
.food_nav .na_left{
	width: 210px;
	height: 358px;
	background: url(../images/mleft.jpg) no-repeat center;
	float: left;
}
.na_left .sec_na{
    padding-top: 4px;
    position: relative;
}
.na_left .sec_na:hover{
	background: #f18101;
	width: 204px;
}
.na_left .sec_na h1{
	    padding: 2px 12px 0px 10px;
    height: 12px;
    line-height: 12px;
}
.na_left .sec_na h1 i{
	    margin-right: 5px;
    display: inline-block;
    width: 48px;
    height: 17px;
    background: url(../images/q2.png) no-repeat;
    vertical-align: text-bottom;
}
.na_left .sec_1 h1 i{
    background-position: left 0px;
}
.na_left .sec_2 h1 i{
    background-position: left -17px;
}
.na_left .sec_3 h1 i{
    background-position: left -34px;
}
.na_left .sec_4 h1 i{
    background-position: left -51px;
}
.na_left .sec_na .sec_list{
	padding: 8px 10px 1px 10px;
}
.na_left .sec_na .sec_list a{
	padding-right: 14px;
    height: 15px;
    display: inline-block;
}
.na_left .sec_na .sec_list a:hover{
	color: #fff;
}
.na_mid{
	float: left;
	width: 705px;
	height: 350px;
	overflow: hidden;
	margin-left: 5px;
}
.na_mid img{
	width: 705px;
	height: 350px;
}
.na_right{
	width: 270px;
	float: left;
	margin-left: 8px;
}
.na_right .nar_top{
	padding: 5px 0;
}
.na_right .nar_top h1{
	height: 30px;
	line-height: 30px;
	text-indent: 15px;
}
.na_right .nar_top{
	border: 1px solid #cbcbcb;
}
.na_right .nar_top ul li{
	float: left;
	margin: 5px 5px;
}
.nar_down{
	margin-top: 12px;
}
.flash{
	position: relative;
	width: 705px;
	height: 350px;
}
.flash .slideshow-item{
	width: 705px;
	height: 350px;
	position: relative;
}
.flash .bg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background: #000;
    opacity: .6;
}
.flash h3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 30px;
    height: 30px;
	color: #fff;
	z-index: 2;
}
.flash h3 a{
	color: #fff;
}
.flash .hd{
    position: absolute;
    bottom: -4px;
    right: 0;
    line-height: 30px;
    height: 30px;
	color: #fff;
	z-index: 2;
}
.flash .hd ul li{
    width: 15px;
    height: 15px;
    font-size: 12px;
    font-family: Verdana;
    text-align: center;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 4px;
    margin-right: 4px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 2;
    line-height: 15px;
}
.flash .hd ul li.on{
	opacity: 1
}
.part_1{
	margin-top: 7px;
}
.part_1 .p_lead img{
	float: left;
}
.part_1 .p_lead span{
	float: left;
	padding-left: 20px;
	background: url(../images/i20.gif) no-repeat left;
	margin-left: 60px;
	font-size: 14px;
}
.part_1 .p_lead{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
    width: 1200px;
}
.part_1 .gg_list{
    width: 1200px;
    height: 30px;
    overflow: hidden;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
    display: block;
    width: 100%;
}
.part_1 .gg_list{
	height: 30px;
	line-height: 30px;
}
.part_1 .gg_list a{
	font-size: 14px;
	float: left;
}
.p1_list .p1_left{
	border: 1px solid #cbcbcb;
	height: 290px;
	width: 925px;
	float: left;
}
.p1_list .p1l_lead{
	border-bottom:  1px solid #cbcbcb;
}
.p1_list .p1l_lead ul li{
	width: 184px;
	float: left;
	text-align: center;
	border-right: 1px solid #cbcbcb;
	height: 33px;
	line-height: 33px;
	position: relative;
	font-size: 16px;
	cursor: pointer;
}
.p1_list .p1l_lead ul li i{
    position: absolute;
    top: 33px;
    background: url(../images/ms_1.png) no-repeat center;
    left: 76px;
    width: 14px;
    height: 5px;
    display: none;
}
.p1_list .p1l_lead ul li.last_box{
	border-right:none;
}
.p1_list .p1l_lead ul li.p1l_bc{
	background: #ee8300;
	color: #fff;
}
.p1_list .p1l_lead ul li.p1l_bc i{
	display: block;
}
.p1_list .p1l_txt{
	padding: 5px 15px;
}
.p1_list .p1l_txt .p1lt_1{
	margin-top: 3px;
}
.p1_list .p1l_txt .p1lt_1 ul{
	width: 1220px;
}
.p1_list .p1l_txt .p1lt_1 ul li{
	width: 163px;
	float: left;
	height: 150px;
	margin-right: 20px;
} 
.p1_list .p1l_txt .p1lt_1 ul li a img{
	width: 163px;
	height: 118px;
}
.p1_list .p1l_txt .p1lt_1 ul li a p{
	font-size: 14px;
	width: 163px;
	height: 20px;
	overflow: hidden;
	color: rgb(17, 102, 187);
}
.p1_list .p1l_txt .p1lt_2{
	width: 1300px;
}
.p1_list .p1l_txt .p1lt_2 ul{
	float: left;
	margin-right: 40px;
}
.p1_list .p1l_txt .p1lt_2 ul li{
    height: 30px;
    line-height: 30px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.p1_list .p1_right{
	float: right;
	width: 260px;
	border: 1px solid #cbcbcb;
	height: 290px;
}

.p1r_lead ul li{
	float: left;
	width: 33%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	background: #f7f7f7;
	border-bottom:  1px solid #cbcbcb;
	cursor:pointer;
}
.p1r_lead ul li.p1r_bc{
	background: #fff;
	border-bottom: none;
	color: #e70010;
}
.p1r_lead ul li.p1r_mid{
	border-right:  1px solid #cbcbcb;
	border-left:  1px solid #cbcbcb;
}
.p1r_list ul {
	background: url(../images/sjbg.jpg) no-repeat 3px -2px;
	width: 242px;
	height: 254px;
	margin: 0 5px;
}
.p1r_list ul li{
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	width: 212px;
	overflow: hidden;
}

.part_2{
    margin-top: 7px;
}
.p_lead{
    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    border-bottom: 3px solid #f49424;
}
.p_lead em{
    font-size: 22px;
    padding-left: 30px;
    background: url(../images/i100.png) no-repeat left;
    color: #f17b19;
    float: left;
    width: 93px;
}
.p_lead ul {
    float: right;
    margin-right: 50px;
}
.p2_txt{
    float: left;
    overflow: hidden;
    width: 931px;
}
.p2t_top{
    margin-bottom: 5px;
}
.p_lead ul li{
    float: left;
    height: 30px;
    line-height: 30px;
}
.p_lead ul li a{
        display: block;
    font-size: 14px;
    padding: 0 5px;
}
.p_lead  span{
    float: right;
    font-size: 14px;
}
.part_2 .p2_list .p2l_pic{
    float: left;
    margin-right: 6px;
    width: 253px;
    height: 103px;
}
.part_2 .p2_list .p2l_pic a{
    display: block;
    height: 103px;
}
.part_2 .p2_list .p2l_pic img{
    width: 253px;
    height: 103px;
}
.part_2 .p2_list .p2ll{
    float: left;
    width: 336px;
    overflow: hidden;
    height: 103px;
}
.part_2 .p2_list .p2ll img{
    float: left;
    width: 147px;
    height: 103px;
    margin-right: 6px;
}
.part_2 .p2_list .p2ll .p2ll_txt{
    height: 103px;
    overflow: hidden;
}
.part_2 .p2_list .p2ll .p2ll_txt h1 a{
    padding-left: 30px;
    background: url(../images/hand.gif) no-repeat left;
    color: #FD0000;
    font-size: 14px
}
.part_2 .p2_list .p2ll .p2ll_txt ul li{
    margin-bottom: 5px;
}
.part_2 .p2_list .p2ll .p2ll_txt ul li.dian{
    margin-bottom: 0;
}
.part_2 .p2_list .p2ll .p2ll_txt ul li.dian span{
    background: url(../images/review_start.gif) no-repeat 0 -58px;
    width: 58px;
    vertical-align: text-bottom;
    height: 16px;
    display: inline-block;
}
.p2l_tab{
    float: left;
    margin-left: 6px;
    width: 261px;
    height: 212px;
    overflow: hidden;
    border: 1px solid #bfbfbf;
}
.p2l_tab .tab{
    height: 31px;
    line-height: 30px;
}
.p2l_tab .tab ul li{
    float: left;
    width:86px;
    text-align:center;
    font-size: 14px;
    border-right:  1px solid #bfbfbf;
    border-bottom:  1px solid #bfbfbf;
    cursor: pointer;
}
.p2l_tab .tab ul li.last_box{
    border-right: none;
}
.p2l_tab .tab ul li.tab_bc{
    border-bottom: none;
}
.p2l_tab .tab_list{
    padding: 0 10px;
}
.p2l_tab .tab_list ul li{
    height: 25px;
    line-height: 25px;
    padding-left: 13px;
    width: 230px;
    background: url(../images/point_1.png) no-repeat left;
    border-bottom: 1px dashed #e4e5e7;
}
.p2l_tab .tab_list ul li.b_last{
    border-bottom: none;
}
.p2l_tab .tab_1 h1{
    background: url(../images/todaydjtop.jpg) no-repeat center;
    display: block;
    height: 32px;
}
.part_3{
    margin-top: 5px;
    border: 1px solid #b5b5b5;
    width: 1200px;
    height: 195px;
    overflow: hidden;
}
.part_3 .prev{
    width: 30px;
    height: 160px;
    background: url(../images/tjdsleft.gif) no-repeat center;
    float: left;
    margin-top: 26px;
}
.part_3 .next{
    width: 30px;
    height: 160px;
    background: url(../images/tjdsright.gif) no-repeat center;
    float: left;
    margin-top: 26px;
}
.part_3 .p3_list{
    width: 1140px;
    height: 160px;
    overflow: hidden;
    float: left;
    margin-top: 26px;
}
.part_3 .p3_list ul li{
    float: left;
    width: 190px;
    height: 160px;
    text-align: center;
}
.part_3 .p3_list ul li a img{
    width: 175px;
    height: 124px;
}
.part_3 .p3_list ul li a p{
    height: 23px;
    line-height: 23px;
    width: 180px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}
.part_3 .p3_list ul li a p em{
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 23px;
    overflow: hidden;
    text-align: left;
}
.part_3 .p3_list ul li a p span{
    width: 50px;
    float: right;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    text-align: right;
}
.part_4{
    margin-top: 5px;
}
.part_4 .p4_left {
    float: left;
    width: 929px;
    height: 214px;
}
.part_4 .p4_left .p4_txt{
    width: 232px;
    height: 214px;
    float: left;
}
.part_4 .p4_left .p4_txt img{
    width: 218px;
    height: 133px;
}
.part_4 .p4_left .p4_txt h1{
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.part_4 .p4_left .p4_txt ul li{
    font-weight: bold;
}
.part_4 .p4_left .p4_txt ul li.dian{
    margin-bottom: 0;
}
.part_4 .p4_left .p4_txt ul li.dian em{
    font-weight: bold;
}
.part_4 .p4_left .p4_txt ul li.dian span{
    background: url(../images/review_start.gif) no-repeat 0 -58px;
    width: 58px;
    vertical-align: text-bottom;
    height: 16px;
    display: inline-block;
}
.part_4 .p4_right img{
    width: 270px;
    height: 76px;
}
.part_5{
	margin-top: 7px;
}
.part_5 .part_txt1{
    float: left;
    width: 283px;
    height: 270px;
}
.pub_mar{
	margin-right: 20px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.pt_lead{
	width: 283px;
    height: 46px;
    background: #e0f2ff;
    border-radius: 5px;
    font-size: 25px;
	line-height: 46px;
	text-indent: 10px;
}
.part_5 .part_txt1 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_1.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .pt_lead a{
	float: right;
	margin-right: 10px;
	font-size: 14px;
}
.pt_txt{
	margin-top: 5px;
}
.part_5 .part_txt1 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt1 .pt_txt ul li{
	    height: 26px;
    line-height: 26px;
    width: 261px;
    overflow: hidden;
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}
.part_5 .part_txt2{
    float: left;
    width: 283px;
    height: 270px;
}
.part_5 .part_txt2 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_2.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt2 .pt_lead em{
    width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 92px;
}
.part_5 .part_txt2 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt2 .pt_txt ul li{
    height: 21px;
    line-height: 22px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.part_5 .part_txt3{
    float: left;
    width: 283px;
    height: 270px;
}
.part_5 .part_txt3 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_3.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt3 .pt_lead em{
	 width: 34px;
    height: 11px;
    background: url(../images/more.gif) no-repeat center;
    display: inline-block;
    margin-top: 18px;
    margin-left: 95px;
}
.part_5 .part_txt3 .pt_txt{
    width: 244px;
    height: 201px;
    padding: 10px 18px;
}
.part_5 .part_txt3 .pt_txt .pt_1{
	margin-bottom: 2px;
}
.part_5 .part_txt3 .pt_txt .pt_1 img{
	width: 104px;
	height: 82px;
	float: left;
}
.part_5 .part_txt3 .pt_txt .pt_1 span a{
	color: grey;
}
.part_5 .part_txt3 .pt_txt ul li{
	margin-bottom: 3px;
	font-size: 14px;
	margin-bottom: 7px;
	    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 234px;
    height: 21px;
    overflow: hidden;
}
.part_5 .part_txt4{
	float: left;
	width: 283px;
	height: 270px;
    border: 1px solid #e0f2ff;
    border-radius: 5px;
}
.part_5 .part_txt4 .pt_lead i{
	width: 25px;
	height: 25px;
	background: url(../images/pbf_4.png) no-repeat center;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.part_5 .part_txt4 .pt_lead em{
	width: 34px;
	height: 11px;
	background: url(../images/more.gif) no-repeat center;
	display: inline-block;
	margin-top: 18px;
	margin-left: 95px;
}
.part_5 .part_txt4 .pt_txt{
    width: 271px;
    height: 211px;
    padding: 5px;
}
.part_5 .part_txt4 .pt_txt ul li{
	    height: 30px;
    line-height: 30px;
    width: 261px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
}

.h_search{
	float: left;
	width: 946px;
	height: 94px;
	padding-left: 10px;
	background: url(../images/new_1.png) no-repeat center;
	position: relative;
}
.h_search .sear_lead ul{
	padding-left: 133px;
	clear: both;
}
.h_search .sear_lead ul li{
	float: left;
	height: 30px;
	text-align: center;
	line-height: 27px;
	width: 85px;
	height: 27px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 700;
	padding-top: 1px;
}
.h_search .sear_list .sear{
	z-index: 10;
	position: absolute;
	margin: 0 8px;
	width: 920px;
	padding-top: 6px;
}
.h_search .sear_list .sear form{
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 9px;
}
.h_search .sear_list .xinwen  input{
	border: #bc3d3a 2px solid;
	padding: 0 2px;
	height: 30px;
	font-size: 14px;
	text-indent: 10px;
	width: 807px;
	float: left;
}
.h_search .sear_list .xinwen .btn{
	float: left;
	width: 83px;
	height: 30px;
	background: url(../images/sosobg.gif);
	background-position: -390px -125px;
	border: none;
	margin-top: 2px;
}
.h_search .sear_list .loupan{
	z-index: 999;
    float: left;
    height: 30px;
    padding: 4px 0 4px 4px;
} 
.select{
	margin-right: 10px;
	float: left;
	width: 104px;
	height: 32px;
	background: url(../images/sosobg.gif) no-repeat;
	background-position: -182px -125px;
}
.select .sle{
    padding-bottom: 0px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 30px;
    color: #780000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    cursor: pointer;
}
.select ul{
	BORDER-BOTTOM: #bf2722 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #bf2722 1px solid;
    PADDING-BOTTOM: 5px;
    LIST-STYLE-TYPE: none;
    MARGIN: -1px 0px 0px;
    PADDING-LEFT: 0px;
    WIDTH: 102px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #ffffff;
    BORDER-TOP: #bf2722 1px solid;
    BORDER-RIGHT: #bf2722 1px solid;
    PADDING-TOP: 0px;
}
.select ul li{
    TEXT-ALIGN: left;
    cursor: pointer;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 10px;
    DISPLAY: block;
    HEIGHT: 22px;
    COLOR: #222;
    FONT-SIZE: 15px;
    TEXT-DECORATION: none;
}
.select ul li:hover{
	background: #bc3d3a;
	color: #fff;
}
.loupan .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 450px;
    float: left;
}
.btn{
    float: left;
    width: 83px;
    height: 30px;
    background: url(../images/sosobg.gif);
    background-position: -390px -125px;
    border: none;
    margin-top: 0px;
    margin-left: 10px;
}
.ershou{
	padding-top: 6px;
}
.ershou .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 350px;
    float: left;
}
.jiaju {
	padding-top: 6px;
}
.jiaju .input{
    border: #bc3d3a 2px solid;
    padding: 0 2px;
    height: 26px;
    font-size: 14px;
    text-indent: 10px;
    width: 695px;
    float: left;
}
.sea_bc{
    BACKGROUND-IMAGE: url(../images/sosobg.gif);
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    PADDING-LEFT: 0px;
    WIDTH: 86px;
    PADDING-RIGHT: 4px;
    BACKGROUND-POSITION: 0px -125px;
    HEIGHT: 30px;
    COLOR: #da0000;
    PADDING-TOP: 0px;
}
.gonggao{
    margin-bottom: 7px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.gonggao span{
    float: left;
    padding-left: 20px;
    background: url(../images/i20.gif) no-repeat left;
    margin-left: 10px;
    font-size: 14px;
}
.gonggao .gg_list a{
    float: left;
    width: 100%;
}