.none{
	display: none;
}
.topInfo{
	background: #f5f5f5;
}
.topInfo .head{
	width: 1200px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}
.head .load_box{
	float: left;
}
.head .load_box i{
	font-style: normal;
	float: left;
	font-size: 14px;
	margin-right: 27px;
}
.head .load_box .weather{
	float: left;
	margin-left: 150px;
}
.head .load_box .weather ul li{
	float: left;
	margin-right: 15px;
	color: #9c9999;
}
.head .load_box .tab_city{
	float: left;
	position: relative;
	cursor: pointer;
	width: 70px;
	margin-right: 20px;
	font-size: 14px;
	color: #0491d8;
}
.head .load_box .tab_city em{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #da0000;
    position: absolute; 
	top: 12px;
	left: 59px;
}
/*.head .load_box .regist{
 	color: #ff6600;
    float: left;
    margin: 0 10px 0 0;
}
.head .load_box .regist:hover{
	text-decoration: underline;
}
.head .load_box .logint a{
    float: left;
    margin: 0 10px 0 0;
    color: #6c6c6c;
}
.head .load_box .logint a:hover{
	text-decoration: underline;
	color: #ff6600;
}
.loginconnect{float: left;margin: 0 10px 0 0;}
.picon {background-image:url(../images/public_icons.png);background-repeat:no-repeat;display: inline-block;width: 20px; height: 20px; margin: -4px 4px 0 0;vertical-align: middle;}
.picon-qq {background-position: -2px 0px;}
.picon-weixin {background-position: -6px -20px;}
.picon-weibo {background-position: -6px -40px;}
.picon-phone {background-position: -6px -60px;}
.picon-down {background-position: -2px -85px;}
.picon-down2 {background-position: -20px -94px;}
.picon-latest {background-position: 0 -103px;}
.picon-hui {background-position: 0 -126px;}
.picon-join {background-position: 0 -149px;}*/
.head .nav_box{
	float: right;
	width: 234px;
} 
.head .nav_box ul li{
    float: left;
    padding: 0 8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.head .nav_box ul li:last-child{
	margin-right: 0;
}
.head .nav_box ul li i{
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-image: url(../images/public_icons.png);
    background-position: -2px -85px;
    background-repeat: no-repeat;
}
.head .nav_box ul li:hover{
    height: 30px;
    border-color: #ddd;
    background: #fff;
}
.head .nav_box ul li:hover i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.head .nav_box ul li:hover .nav_list{
	display: block;
}
.head .nav_box ul li .nav_list{
	position: absolute;
	left: -1px;
	top: 30px;
	width: 87px;
	text-align: center;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    display: none;
    z-index: 9;
}
.nav{
	background: url(../images/header_bg.png) 0 87% repeat-x;
	height: 80px;
}
.nav .nav_main{
	width: 1200px;
	margin: 0 auto;
	height: 80px;
}
.nav .nav_main .logo{
	width: 371px;
	float: left;
}
.nav .nav_main .logo img{
	float: left;
	height: 80px;
}
.nav .nav_main .logo .name{
	font-size: 35px;
	color: #0290d8;
	margin-left: 5px;
}
.nav .nav_main .logo .web{
	font-size: 25px;
	line-height: 10px;
	color: #0290d8;
	margin-left: 5px;
}
.nav .nav_main .item{
	float: left;
}
.nav .nav_main .item ul li{
	float: left;
	width: 80px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	padding:0 6px;
}
.nav .nav_main .item ul li a{
	display: block;
}
.nav .nav_main .item ul li i{
	width: 50px;
	height: 46px;
	background: url(../images/nav_logo.png);
	display: inline-block;
}
.nav .nav_main .item ul li p{
	font-size: 28px;
    line-height: 15px;
}
.nav .nav_main .item ul li.lt i{
    background-position: -491px 0px;
}
.nav .nav_main .item ul li.rc i{
    background-position: -439px -2px;
}
.nav .nav_main .item ul li.fc i{
    background-position: -382px -4px;
}
.nav .nav_main .item ul li.zx i{
    background-position: -324px 0px;
}
.nav .nav_main .item ul li.ms i{
    background-position: -259px 0px;
}
.nav .nav_main .item ul li.qc i{
    background-position: -202px 0px;
}
.nav .nav_main .item ul li.kj i{
    background-position: -134px -7px;
}
.nav .nav_main .item ul li.sx i{
    background-position: -68px -4px;
}
.nav .nav_main .item ul li.sc i{
    background-position: -8px -4px;
}
.main{
	position: relative;
	margin-top: 5px;
}
.main .ad_left{
    width: 190px;
    position: absolute;
    left:50%;
    margin-left: -796px;
    top: 0;
}
.main .ad_left ul li{
	margin-bottom: 16px;
	background: rgba(228, 228, 228, 1);
}
.main .ad_left ul li a{
	width: 190px;
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
	display: block;
}
.main .main_list{
	width: 1200px;
	margin: 0 auto;
}
.main .ad_right{
	width: 190px;
	margin-right: 10px;
	position: absolute;
	right:50%;
    margin-right: -796px;
	top: 0;
}
.main .ad_right ul li{
	margin-bottom: 16px;
	background: rgba(228, 228, 228, 1);
}
.main .ad_right ul li a{
	width: 190px;
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
	display: block;
}
.main .main_list .luntan{
	height: 30px;
	line-height: 30px;
	background: #f0f2f9;
	overflow: hidden;
}
.main .main_list .luntan .zhuce a{
	padding-left: 27px;
	background: url(../images/logo_6.png) no-repeat left;
	margin-left: 10px;
	color: #ff0000;
	font-weight: bold;
	float: left;
}
.main .main_list .luntan .form{
	float: left;
	margin-left: 15px;
}
.main .main_list .luntan .form .zh{
	float: left;
}
.main .main_list .luntan .form .zh input{
	height: 18px;
	line-height: 18px;
	border: 1px solid #d3dfe0;
	text-indent: 5px;
}
.main .main_list .luntan .form .zh em{
	margin-right: 5px;
	color: #999a99;
}
.main .main_list .luntan .form .mm{
	float: left;
	margin-left: 8px;
}
.main .main_list .luntan .form .mm em{
	color: #999a99;
	margin-right: 5px;
}
.main .main_list .luntan .form .mm input{
	height: 18px;
	line-height: 18px;
	border: 1px solid #d3dfe0;
	text-indent: 5px;
}
.main .main_list .luntan .form button{
	width: 70px;
	height: 22px;
	border: 1px solid #999999;
	background: #eeeeee;
	margin-left: 15px;
}
.main .main_list .luntan .zi{
	margin-left: 15px;
	float: left;
}
.main .main_list .luntan .zi input{
	vertical-align: text-bottom;
	margin-right: 4px;
}
.main .main_list .luntan .zi em{
	color: #979797;
}
.main .main_list .luntan .zi a{
	color: #979797;
	margin-left: 10px;
}
.main .main_list .luntan .load{
    float: left;
}
.main .main_list .luntan .load ul li{
	float: left;
	margin-top: 2px;
	margin-left: 10px;
}
/*.main .main_list .luntan .load ul li img{
	width: 320px;
	height: 30px;
}*/
.main .main_list .baidu{
	margin: 2px 0;
	background: #ebeff3;
	height: 35px;
	line-height: 35px;
} 
.main .main_list .baidu .search{
	margin-left: 10px;
	margin-top: 2px;
	float: left;
}
.main .main_list .baidu .search img{
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
.main .main_list .baidu .search form{
	float: left;
}
.main .main_list .baidu .search input{
	float: left;
	width: 156px;
	text-indent: 5px;
	margin-top: 6px;
	height: 19px;
}
.main .main_list .baidu .search button{
	margin-left: 5px;
	width: 72px;
	height: 23px;
    border: 1px solid #999999;
    background: #eeeeee;
}
.main .main_list .baidu .bai_1{
	float: left;
	margin-top: 2px;
}
.main .main_list .baidu .bai_1 img{
	margin-left: 25px;
	width: 90px;
	height: 26px;
}
.main .main_list .baidu .bai_2{
	float: right;
	font-size: 14px;
	color: #ff0000;
	font-weight: bold;
	margin-right: 20px;
}
.main .main_list .baidu .bai_2 span{
	padding-left: 25px;
	background: url(../images/logo_12.png) no-repeat left;
}
.main .main_list .baidu .bai_2 em{
	margin-right: 22px;
	font-weight: bold;
}
.main .main_list .ad_mid{
	width: 1200px;
	height: 50px;
}
.main .main_list .ad_mid img{
	width: 1200px;
	height: 50px;
}
.main .main_list .nav_2{
	margin:10px 0px;
	height: 60px;
}
.main .main_list .nav_2 .nav_txt{
	border: 1px solid #dedede;
	border-radius: 5px;
	width: 228px;
	height: 60px;
	background: #f9f9f9;
	float: left;
	margin: 0 5px;
}
.main .main_list .nav_2 .nav_txt p{
    width: 27px;
    margin-left: 10px;
    border-right: 1px solid #dedede;
    font-size: 16px;
    color: #3d89d6;
    font-weight: bold;
    float: left;
    height: 52px;
    padding-top: 8px;
    position: relative;
}
.main .main_list .nav_2 .nav_txt p i{
	background: url(../images/arrow_ri.png);
	width: 7px;
	height: 7px;
	position: absolute;
	top: 27px;
	right: -5px;
}
.main .main_list .nav_2 .nav_txt ul li {
	float: left;
	margin-top: 9px;
	font-size: 12px;
}
.main .main_list .nav_2 .nav_txt ul li a{
	padding: 0 8px;
}
.p1_left{
	width: 380px;
	float: left;
	height: 428px;
}
.flash{
	width: 380px;
	height: 260px;
	overflow: hidden;
	position: relative;
}
.flash .slideshow-item{
	position: relative;
	height: 260px;
}
.flash .bd img{
	width: 380px;
	height: 260px;
}
.flash .slideinfo{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 58px;
    line-height: 58px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flash .slideinfo h3{
    position: relative;
    z-index: 12;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-indent: 5px;
}
.flash .slideinfo h3 a{
	color: #fff;
	font-size: 16px;
}
.flash .bg{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 58px;
	background: #000;
	opacity: .6;
}
.flash .hd{
	position:  absolute;
	bottom: 6px;
	right: 10px;
	z-index: 20;
}
.flash .hd ul li{
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 7px;
	line-height: 25px;
	text-align: center;
	background: #fff;
	font-size: 14px;
	z-index: 20;
	position: relative;
	cursor: pointer;
}
.flash .hd ul li.on{
	background: #ff6600;
	color: #fff;
}
.p1_left .hot_rank{
	margin-top: 4px;
	border: #D9DFEA solid 1px;
    height: 162px;
    overflow: hidden;
    margin-bottom: 5px;
    width: 380px;
}
.p1_left .hot_rank .hr_lead{
	background: #F2F4F9;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
}
.p1_left .hot_rank .hr_lead h1{
    width: 120px;
    float: left;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    color: #0274CC;
    font-weight: bold;
}
.p1_left .hot_rank ul{
	padding-left: 8px;
    background: url(../images/t2014.jpg) 5px no-repeat;
    margin: 5px auto 0px;
    height: 119px;
}
.p1_left .hot_rank ul li{
	line-height: 20px;
    font-size: 16px;
    margin-left: 25px;
    width: 356px;
    height: 24px;
    overflow: hidden;
}
.p1_left .hot_rank ul li span{
	color: #FE0000;
    font-size: 14px;
    margin-left: 3px;
}
.p1_mid{
	width: 546px;
    height: 415px;
    margin-left: 7px;
    _margin-left: 5px;
    background: url(../images/p2.jpg) 0px 0px no-repeat;
    border: #D9DFEA solid 1px;
    padding: 10px 10px 1px 10px;
    float: left;
}
.p1_mid .p1r_head{
	padding: 11px 0;
}
.p1_mid .p1rh_txt h1{
	text-align: center;
}
.p1_mid .p1rh_txt h1 a{
	color: #000099;
	font-size: 22px;
	text-align: center;
	font-weight: 900;
}
.p1_mid .p1rh_txt p {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 5px;
}
.p1_mid .p1rh_txt p a{
    color: #8295B9;
}
.p1_mid .p1rh_txt.tx h1 a{
	color: #FF0000;
}
.p1_mid .p1rh_txt.tx{
	border-bottom: 1px dashed #e4e5e7;
}
.p1_mid .p1rh_tt{
	border-bottom: 1px dashed #e4e5e7;
	padding: 4px 0;
}
.p1_mid .p1rh_tt ul li{
	line-height: 25px;
    font-size: 16px;
}
.p1_mid .p1rh_tt ul li .kind{
	color: #2965B1;
}
.p1_right{
	float: left;
	margin-left: 5px;
	width: 240px;
	height: 428px;
} 
.p1_right .ad_r ul li {
	width: 240px;
	height: 40px;
	margin-bottom: 5px;
}
.p1_right .ad_r ul li img{
	width: 240px;
	height: 40px;
}
.p1_right .p1r_ts{
    border: #D9DFEA solid 1px;
    margin-top: 6px;
} 
.p1_right .p1r_ts .ts_1{
	background: url(../images/citybg.jpg) 8px no-repeat;
    border-bottom: 1px dashed #e4e5e7;
    padding: 6px 0;
}
.p1_right .p1r_ts .ts_1 ul li {
    margin-left: 47px;
    width: 180px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 2px;
    font-size: 14px;
}
.p1_right .p1r_ts .ts_2{
	background: url(../images/yybg.jpg)8px no-repeat;
    padding: 6px 0;
}
.p1_right .p1r_ts .ts_2 ul li {
    margin-left: 47px;
    width: 180px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 2px;
    font-size: 14px;
}
.part_2{
	margin-top: 7px;
}
.part_2 .p2_left{
	width: 870px;
	height: 250px;
	border-radius: 5px;
	border: 1px solid #c6e3f5;
	overflow: hidden;
	float: right;
}
.part_2 .p2_left .p2l_lead ul {
	background: #e0f2ff;
    width: 900px;
    padding-left: 43px;
}
.part_2 .p2_left .p2l_lead ul li{
    float: left;
    width: 78px;
    height: 33px;
    /* border-right: 1px solid #c6e3f5; */
    box-sizing: border-box;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    cursor: pointer;
}
.part_2 .p2_left .p2l_lead ul li.p2l_bc{
	background: #fff;
}
.part_2 .p2_left .p2l_lead ul li.last{
	border-right: none;
}
.p2l_txt {
	height: 290px;
}
.p2l_txt .pt{
    float: left;
    /*width: 516px;*/
}
.p2l_txt .pt_left{
    float: left;
    width: 43px;
    height: 183px;
    font-size: 22px;
    padding: 0 2px;
    background: #e0f2ff;
    padding-top: 15px;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 33px;
    color: #ff0000;
    border-radius: 15px;
    margin-left: 5px;
}
.p2l_txt .pt_right{
	margin-top: 5px;
	float: left;
}
.p2l_txt .pt_right ul li{
	height: 34px;
    line-height: 34px;
}
.p2l_txt .pt_right ul li .ptl_l{
	float: left;
    width: 766px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.p2l_txt .pt_right ul li .ptl_l  a{
	font-size: 16px
}
.p2l_txt .pt_right ul li .ptl_r{
	float: left;
	width: 106px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}
.p2l_txt .pt_right ul li .ptl_r a{
	font-size: 14px;
    color: #777;
}
.p2l_txt .pt_right ul li .ptl_r a:hover{
	color: #f60;
}
.pt_pic .pic_t{
	float: left;
	position: relative;
	width: 162px;
	height: 120px;
	margin-right: 15px;
	margin-top: 16px;
}
.pt_pic .pic_t span{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.54);
	color: #fff;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.p2_right{
	float: left;
	margin-right: 16px;
	border: 1px solid #c6e3f5;
	width: 310px;
	height: 250px;
	border-radius: 5px;
	overflow: hidden;
}
.p2_right .p2r_lead h1{
	background: #e0f2ff;
	font-size: 18px;
	text-align: center;
	height: 34px;
	line-height: 34px;
}
.part_3{
	margin-top: 7px;
}
.part_3 .p3_1{
	width: 380px;
	height: 318px;
	float: left;
	margin-right: 10px;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	overflow: hidden;
}
.p3_lead{
	height: 35px;
	line-height: 35px;
	background: #e0f2ff;
}
.p3_lead span{
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #3681b7;
	font-weight: bold;
}
.p3_lead a{
	float: right;
	margin-right: 10px;
}
.part_3 .p3_1 .p3_txt{
    padding: 0 8px;
    min-height: 298px;
    margin-top:1px;
}
.part_3 .p3_1 .p3_txt .p3_tx{
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #eee;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li{
	float: left;
	font-size: 14px;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_1{
    width: 90px;
    padding-left: 6px;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_1 a{
	color: #298ED3;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_2{
    width: 55px;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_3{
    width: 70px;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_4{
    width: 84px;
}
.part_3 .p3_1 .p3_txt .p3_tx ul li.tx_5{
    width: 59px;
	text-align: right;
}
.part_3 .p3_2{
	width: 477px;
	height: 318px;
	float: left;
	margin-right: 18px;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	overflow: hidden;
}
.part_3 .p3_2 .p3_txt2 {
    padding: 0px 8px;
    min-height: 298px;
    margin-top: 1px;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2{
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #eee;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li{
	float: left;
	font-size: 14px;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_1{
    width: 170px;
    padding-left: 6px;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_1 a{
	color: #298ED3;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_1 a:hover{
	color: #c00;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_2{
    width: 95px;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_3{
    width: 130px;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_3 a{
	color: #298ED3;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_3 a:hover{
	color: #c00;
}
.part_3 .p3_2 .p3_txt2 .p3_tx2 ul li.tx2_4{
    text-align: right;
    width: 54px;
    padding-right: 6px;
}
.part_3 .p3_3{
	width: 309px;
	height: 318px;
	float: left;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	overflow: hidden;
}
.part_3 .p3_3 .p3_txt3{
	padding: 1px 0 0 11px;
}
.part_3 .p3_3 .p3_txt3 ul li{
    float: left;
    width: 89px;
    height: 32px;
    overflow: hidden;
    margin: 3px 10px 0 0;
    box-sizing: border-box;
}
.part_3 .p3_3 .p3_txt3 ul li a{    
	display: block;
    width: 78px;
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    overflow: hidden;
    background: #FAFAFA;
    color: #666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 1px #ddd;
}
.part_3 .p3_3 .p3_txt3 ul li a:hover{
    color: #fff;
    background: #666;
    border-color: #444;
}
.part_4{
	margin-top: 7px;
}
.part_4 .p4_left{
	width: 532px;
	height: 318px;
	border:1px solid #c6e3f5;
	border-radius: 5px;
	float: left;
	margin-right: 8px;
}
.part_4 .p4_mid{
	width: 532px;
	height: 318px;
	border:1px solid #c6e3f5;
	border-radius: 5px;
	float: left;
	margin-right: 7px;
}
.part_4 .p4_right{
	width: 115px;
	height: 318px;
	border:1px solid #c6e3f5;
	border-radius: 5px;
	float: left;
}
.p4l_lead{
    height: 35px;
    line-height: 35px;
    background: #e0f2ff;
}
.p4l_lead span{
	float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.p4l_lead a{
	float: right;
    margin-right: 10px;
}
.p4l_list{
	padding: 0 20px;
}
.p4l_list ul{
	width: 600px;
}
.p4l_list ul li{
	float: left;
	width: 101px;
	text-align: center;
	margin-right: 28px;
	margin-top: 5px;
}
.p4l_list ul li img{
	width: 101px;
	height: 92px;
}
.p4l_list ul li p{
	font-size: 14px;
}
.p4l_list ul li p em{
	margin-left: 3px;
}
.p4l_list ul li span{
	color: #848484;
	font-size: 12px;
}
.p4l_list ul li span i{
	font-style: normal;
	margin-left: 4px;
}
.p4r_list{
    padding: 6px 9px;
    height: 272px;
}
/*.p4r_list ul{
	height: 305px;
}*/
.p4r_list ul li {
	margin-bottom: 1px;
}
.p4r_list ul li:last-child{
	margin-bottom: 0;
}
.p4r_list ul li a{
    display: block;
    width: 87px;
    height: 31px;
    line-height: 30px;
    padding: 0 4px;
    overflow: hidden;
    background: #FAFAFA;
    color: #666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 1px #ddd;
}
.p4r_list ul li a:hover{
    color: #fff;
    background: #666;
    border-color: #444;
}
.part_5{
	margin-top: 7px;
	width: 1210px;
}
.part_5 .p5_left{
	width: 392px;
	height: 318px;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	float: left;
	margin-right: 9px;
}
.p5_lead{
	height: 33px;
	line-height: 33px;
	background: #e0f2ff;
}
.p5_lead span{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.p5_lead em{
	float: right;
    margin-right: 10px;
}
.p5_lead ul {
	float: right;
}
.p5_lead ul li{
	float: left;
	margin-right: 28px;
	font-size: 14px;
	line-height: 32px;
}
.p5_lead ul li a{
	color: #6c6c6c;
}
.p5_lead ul li a:hover{
	color: #ff6600;
}
.p5l_list{
	padding:3px 4px 0px 4px;
} 
.p5l_list ul li{
	width: 115px;
	height: 125px;
	padding: 5px 4px 7px 4px;
	border: 1px solid #f7f7f7;
	float: left;
	margin-right: 3px;
	margin-bottom: 2px;
}
.p5l_list ul li img{
	width: 114px;
	height: 85px;
}
.p5l_list ul li p em{
	color: #ff1e1e;
}
.p5_mid{
	width: 392px;
	height: 318px;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	float: left;
	margin-right: 9px
}
.p5_mid .p5_lead ul{
	float: left;
	margin-left: 5px;
}
.p5_mid .p5_lead ul li{
	margin-right: 0;
	padding:0 5px;
	height: 30px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}
.p5_mid .p5_lead ul li.pl_first{
	border-right: 1px solid #c6e2f6;
}
.p5_mid .p5_lead ul li.pl_bc{
	border-bottom: 2px solid #ff6440;
}
.p5_mid .p5_lead a{
	float: right;
	margin-right: 10px;
}
.p5_mid .p5_list{
	padding: 0 10px;
}
.p5_mid .p5_list .p5_tx {
	margin-top: 12px;
}
.p5_mid .p5_list .p5_tx ul li{
	float: left;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.p5_mid .p5_list .p5_tx ul li.tx5_1{
	width: 109px;
	color: #025998;
}
.p5_mid .p5_list .p5_tx ul li.tx5_2{
	width: 92px;
	color: #099802;
}
.p5_mid .p5_list .p5_tx ul li.tx5_3{
	width: 87px;
	color: #dc5300;
}
.p5_mid .p5_list .p5_tx ul li.tx5_4{
	width: 84px;
	color: #025998;
}
.part_6{
	margin-top: 7px;
}
.p6_lead{
    height: 33px;
    line-height: 33px;
    background: #e0f2ff;
}
.p6_lead span{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.p6_lead a{
	float: right;
	margin-right: 10px;
}
.part_6 .p6_left{
	width: 796px;
	height: 318px;
    border: 1px solid #c6e3f5;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}
.part_6 .p6_left .p6l_list{
	padding: 0 8px;
	margin-top: 12px;
}
.part_6 .p6_left .p6l_list .p6_ll{
	float: left;
	width: 257px;
	height: 260px;
	position: relative;
}
.part_6 .p6_left .p6l_list .p6_ll img{
	width: 257px;
	height: 260px;
}
.part_6 .p6_left .p6l_list .p6_ll p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    opacity: .8;
}
.part_6 .p6_left .p6l_list ul{
	float: left;
    width: 522px;
}
.part_6 .p6_left .p6l_list ul li{
	float: left;
	width: 162px;
	height: 125px;
	position: relative;
	margin-left: 12px;
	margin-bottom: 11px;
}
.part_6 .p6_left .p6l_list ul li img{
	width: 162px;
	height: 125px;
}
.part_6 .p6_left .p6l_list ul li p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    opacity: .8;
}
.part_6 .p6_right{
	width: 392px;
	height: 318px;
	border: 1px solid #c6e3f5;
	float: left;
	border-radius: 5px;
	margin-left: 8px;
}
.part_6 .p6_right .p6t_list{
	padding: 10px;
}
.part_6 .p6_right .p6t_list .p6t_ll{
	margin-bottom: 5px;
	border: 1px solid #cbcbcb;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li{
	float: left;
	width: 19.8%;
	text-align: center;
	height: 59px;
	border-right: 1px solid #efefef;
	box-sizing:border-box;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li a{
	display: block;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li a p{
	margin-top: 5px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li a i{
	width: 33px;
	height: 33px;
	display: block;
	margin: 0 auto;
	background: url(../images/logo_2.png);
}
.p6ll{
	border-right: none!important;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_1 a i{
	background-position: -3px -1px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_2 a i{
	background-position: -53px -1px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_3 a i{
    background-position: -101px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_4 a i{
	background-position: -145px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_5 a i{
	background-position: -188px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_6 a i{
	background-position: -232px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_7 a i{
	background-position: -282px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_8 a i{
    background-position: -332px -3px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_9 a i{
	background-position: -380px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_10 a i{
	background-position: -428px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_11 a i{
	background-position: -475px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_12 a i{
	background-position: -526px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_13 a i{
    background-position: -577px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_14 a i{
	background-position: -626px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_15 a i{
	background-position: -673px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_16 a i{
	background-position: -716px -47px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_17 a i{
	background-position: -755px -93px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_18 a i{
    background-position: -807px -98px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_19 a i{
	background-position: -860px -97px;
}
.part_6 .p6_right .p6t_list .p6t_ll ul li.ll_20 i{
	background-position: -907px -97px;
}
.part_7{
	margin-top: 7px;
}
.part_7 .p7_list{
    width: 24%;
    border: 1px solid #c6e3f5;
    border-radius: 5px;
    height: 318px;
    overflow: hidden;
    float: left;
    margin-right: 13px;
}
.part_7 .p7_list .p6_txt1{
    padding: 7px;
}
.part_7 .p7_list .p6_txt1 ul{
	width: 320px;
}
.part_7 .p7_list .p6_txt1 ul li{
    width: 132px;
    float: left;
    margin-right: 8px;
    margin-bottom: 9px;
}
.part_7 .p7_list .p6_txt1 ul li a img{
	width: 136px;
	height: 110px;
}
.part_7 .p7_list .p6_txt1 ul li a p span{
	float: left;
}
.part_7 .p7_list .p6_txt1 ul li a p em{
	float: right;
	color:#b1b1b1;
}
.part_7 .p7_list .p6_txt2{
	padding: 5px;
}
.part_7 .p7_list .p6_txt2 a{
	display: block;
    margin-bottom: 13px;
}
.part_7 .p7_list .p6_txt2 img{
	width: 276px;
	height: 122px;
}
.part_7 .p7_list .p6_txt3{
	padding: 5px;
}
.part_7 .p7_list .p6_txt3 ul{
	width: 300px;
}
.part_7 .p7_list .p6_txt3 ul li{
	width: 137px;
	height: 128px;
	float: left;
	position: relative;
	margin-right: 5px;
	margin-bottom: 18px;
}
.part_7 .p7_list .p6_txt3 ul li img{
	width: 137px;
	height: 122px;
}
.part_7 .p7_list .p6_txt3 ul li p{
	    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}
.part_8{
	margin-top: 7px;
}
.part_8 .p8_left{
	width: 375px;
	height: 318px;
	border: 1px solid #d3eaf7;
	border-radius: 5px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.p8l_list{
    padding: 12px 15px 0 15px;
}
.p8l_list ul{
	width: 500px;
}
.p8l_list ul li{
	float: left;
	width: 162px;
	margin-right: 24px;
	margin-bottom: 29px;
}
.p8l_list ul li img{
	float: left;
	width: 42px;
	height: 42px;
	border: 1px solid #d6dbee;
}
.p8l_list ul li p{
	margin-left: 48px;
}
.p8l_list ul li p em{
	display: block;
	text-align: center;
	margin-top: 3px;
	font-size: 14px;
}
.p8l_list ul li p  span{
	display: block;
	text-align: left;
}
.part_8 .p8_mid{
	width: 375px;
	height: 318px;
	border: 1px solid #d3eaf7;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	margin-right: 13px;
}
.part_8 .p8_mid .p8l_list{
	padding: 12px 15px 0 15px;
}
.part_8 .p8_mid .p8l_list ul{
	width: 500px;
}
.part_8 .p8_mid .p8l_list ul li{
	margin-right: 24px;
}
.part_8 .p8_right{
	width: 273px;
	height: 318px;
	border: 1px solid #d3eaf7;
	border-radius: 5px;
	float: left;
	overflow: hidden;
}
.part_8 .p8_right .p8r_list ul li a{
	padding: 11px 0; 
	display: block;
	border-bottom: 1px solid #e0f2ff;
}
.part_8 .p8_right .p8r_list ul a.last{
	border-bottom: none;
}
.part_8 .p8_right .p8r_list ul li em{
	text-decoration: underline;
    margin-right: 3px;
    margin-left: 4px;
    width: 140px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    font-size: 14px;
    line-height: 17px;
}
.part_8 .p8_right .p8r_list ul li span{
	color:#ff0000;
	float: left;
	margin-right: 7px;
	width: 81px;
	text-align: center;
}
.part_8 .p8_right .p8r_list ul li i{
	font-style: normal;
}
.p6_lead p{
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: bold;
}
.p8rr{
	width: 141px;
	height: 318px;
	border: 1px solid #d3eaf7;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	margin-left: 5px;
}
.p8rr .p8rr_list{
    padding: 6px 9px;
    height: 272px;
}
.p8rr .p8rr_list ul li{
	margin-bottom: 1px;
}
.p8rr .p8rr_list ul li a{
    display: block;
    width: 113px;
    height: 31px;
    line-height: 30px;
    padding: 0 4px;
    overflow: hidden;
    background: #FAFAFA;
    color: #666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 1px #ddd;
}
.p8rr .p8rr_list ul li a:hover{
    color: #fff;
    background: #666;
    border-color: #444;
}
.part_9{
	margin-top: 7px;
	border: 1px solid #c6e3f5;
	border-radius: 5px;
	width: 1198px;
	height: 480px;
}
.part_9 .p9_list{
    /*padding: 16px 0 0 16px;*/
}
.part_9 .p9_list ul li{
width: 180px;
    height: 222px;
    overflow: hidden;
    float: left;
    padding-left: 15px;
}
.part_9 .p9_list ul li .con1{
	height: 165px;
}
.part_9 .p9_list ul li .con1 a img{
	width: 160px;
    height: 160px;
}
.part_9 .p9_list ul li .con1 a img:hover{
    filter: Alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.part_9 .p9_list ul li .con2{
    width: 160px;
    height: 40px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.part_9 .p9_list ul li .con2 a{
    color: #666;
}
.part_9 .p9_list ul li .con2 a:hover{
	text-decoration: underline;
    color: #E4393C;
}
.part_9 .p9_list ul li .con3 b{
	font-size: 14px;
    font-family: Arial;
    color: #f60;
    margin-right: 6px;
    font-weight: normal;
}
.part_9 .p9_list ul li .con3 s{
    font-family: Arial;
    color: #999;
}
.part_10{
	margin-top: 7px;
}
.part_10 .p10_left{
	width: 870px;
	height: 450px;
	border: solid 1px #C6E3F5;
	border-radius: 5px;
	float: left;
}
.part_10 .p10_left .p10_lead{
    background: #E0F2FF;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.part_10 .p10_left .p10_lead ul li.first{
	border-left: none;
}
.part_10 .p10_left .p10_lead ul li.p10_bc{
	background: #fff;
	height: 35px;
}
.part_10 .p10_left .p10_lead ul li{
    float: left;
    text-align: center;
    width: 86px;
    overflow: hidden;
    font-size: 14px;
    border-left: solid 1px #C6E3F5;
    cursor: pointer;
}
.part_10 .p10_left .p10_list .p10_ll{
    padding: 6px 10px 0;
    height: 396px;
    width: 476px;
    float: left;
    overflow: hidden;
}
.part_10 .p10_left .p10_list .p10_ll ul li{
	height: 40px;
	line-height: 40px;
}
.part_10 .p10_left .p10_list .p10_ll ul li .ptl_l{
    width: 370px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    float: left;
}
.part_10 .p10_left .p10_list .p10_ll ul li .ptl_l span{
	color: #888;
}
.part_10 .p10_left .p10_list .p10_ll ul li .ptl_l a{
	color: #444;
}
.part_10 .p10_left .p10_list .p10_ll ul li .ptl_r{
	text-align: right;
	float: right;
    width: 106px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
}
.part_10 .p10_left .p10_list .p10_rr{
	float: right;
	width: 368px;
	margin-left: 6px;
}
.part_10 .p10_left .p10_list .p10_rr ul{
}
.part_10 .p10_left .p10_list .p10_rr ul li{
	width: 162px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-left: 15px;
    margin-top: 14px;
    position: relative;
}
.part_10 .p10_left .p10_list .p10_rr ul li a img{
	width: 162px;
    height: 120px;
}
.part_10 .p10_left .p10_list .p10_rr ul li:hover{
    filter: Alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.part_10 .p10_left .p10_list .p10_rr ul li p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.part_10 .p10_right{
    width: 318px;
    float: right;
    border: solid 1px #C6E3F5;
    border-radius: 5px;
    height: 450px;
}
.part_10 .p10_right .p3r_list{
	padding: 2px 10px;
}
.part_10 .p10_right .p3r_list tr{
	border-bottom: dotted 1px #eee;
}
.bb_none{
	border: none;
	border-bottom: none!important;
}
.part_10 .p10_right .p3r_list .td_1{
	height: 33px;
}
.part_10 .p10_right .p3r_list .td_1 div{
	width: 202px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    background: url(../images/arr1.gif) no-repeat 0 center;
}
.part_10 .p10_right .p3r_list .td_2{
	    width: 86px;
    height: 33px;
    line-height: 33px;
}
.part_10 .p10_right .p3r_list .td_2 div{
	text-align: right;
    width: 86px;
    height: 33px;
    overflow: hidden;
    color: #888;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.part_11{
    margin-top: 7px;
    border: solid 1px #C6E3F5;
    border-radius: 5px;
    height: 85px;
}
.part_11 ul li{
    float: left;
    width: 51px;
    text-align: center;
    margin-top: 6px;
    margin-right: 8px;
}
.part_11 ul li i{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/logo_3.png) no-repeat center;
}
.part_11 ul li.p11_1{
	margin-left: 13px;
}
.part_11 ul li.p11_10{
	/*margin-right: 39px;*/
}
.part_12{
	margin-top: 7px;
	border:solid 1px #dddddd;
	/*border-radius: 5px;*/
	overflow: hidden;
	height: 160px;
}
.part_12 .p12_lead {
	background: #f0f0f0;
	height: 43px;
}
.part_12 .p12_lead ul li{
	width: 110px;
	float: left;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.p12_bc{
	background: #fff;
	font-weight: bold;
}
.part_12 .p12_list{
	margin-top: 5px;
}
.part_12 .p12_list ul li{
	float: left;
	padding: 0 10px;
	font-size: 14px;
	margin-bottom: 5px ;
}
.foot{
	margin-top: 15px;
}
.foot .set{
/*	height: 175px;
	background: #f5f5f5;
	margin-top: 50px;*/
	width: 856px;
	margin: 0 auto;
}
.foot .set ul li{
	float: left;
}
.foot .set ul li a{
	text-decoration: underline;
	color: #2f7eb9;
}
.foot .set ul li em{
	margin: 0 9px;
}
.foot .lian{
	width: 1005px;
	margin: 0 auto;
	margin-top: 10px;
}
.foot .lian ul li{
	float: left;
}
.foot .lian ul li a:hover{
	color: #bd0b01;
}
.foot .lian ul li em{
	margin: 0 10px;
}
.foot .yue{
	width: 961px;
	margin: 0 auto;
	margin-top: 10px;
}
.foot .yy{
	width: 369px;
	margin: 0 auto;
	margin-top: 10px;
}
.foot .pic{
	width: 100%;
    margin: 0 auto;
    margin-top: 14px;
}
.foot .pic img{
	width: 100%;
	height: 50px;
}
.fixed {
    position: fixed!important;
    right: auto;
    top: 0!important;
}
.suspend_left{
    position: absolute;
    top: 350px;
    left: 50%;
    background: #fff;
    margin-left: -680px;
    display: none;
    /* height: 500px; */
}
.suspend_left ul li{
    height: 32px;
    /*line-height: 50px;*/
    font-size: 18px;
}
.suspend_left ul li a{
	padding: 0 2px;
	display: block;
}
.suspend_left ul li i{
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/logo_4.png);
    vertical-align: text-bottom;
    margin-right: 6px;
}
.suspend_left ul li.sd_1 i{
	background-position:1px -7px;
}
.suspend_left ul li.sd_2 i{
	background-position:1px -39px;
}
.suspend_left ul li.sd_3 i{
	background-position:1px -69px;
}
.suspend_left ul li.sd_4 i{
	background-position:1px -99px;
}
.suspend_left ul li.sd_5 i{
	background-position:0px -131px;
}
.suspend_left ul li.sd_6 i{
	background-position:0px -166px;
}
.suspend_left ul li.sd_7 i{
	background-position:1px -199px;
}
.suspend_left ul li.sd_8 i{
	background-position:0px -230px;
}
.suspend_left ul li.sd_9 i{
	background-position:-1px -265px;
}
.suspend_left ul li.sd_10 i{
	background-position:-2px -299px;
}
.suspend_right{
	position: fixed;
	top: 350px;
	right: 50%;
	margin-right: -702px;
	width: 96px;
	height: 400px;
	display: none;
}
.suspend_right ul li{
	width: 58px;
	height: 58px;
	border: 1px solid #dbdbdb;
	background: #f3f3f3;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
}
.suspend_right ul li i{
	width: 26px;
	height: 26px;
	display: block;
	margin: 0 auto;
	margin-top: 12px;
}
.suspend_right ul li.sr_1 i{
	background: url(../images/logo_5.png) no-repeat center;
}
.suspend_right ul li.sr_2 i{
	background: url(../images/l6.png) no-repeat center;
}
.suspend_right ul li.sr_3 i{
	background: url(../images/l7.png) no-repeat center;
}
.suspend_right ul li.sr_4 i{
	background: url(../images/l8.png) no-repeat center;
}
.suspend_right ul li.sr_3{
	position: relative;
}
.suspend_right ul li.sr_3:hover span{
	display: block;
}
.suspend_right ul li.sr_3 span{
	width: 74px;
	display: none;
	height: 74px;
	border: 1px solid #dbdbdb;
	background: #f3f3f3;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: -100px;
	overflow: hidden;
	top: 0;
	    padding: 10px;
}
.suspend_right ul li.sr_3 span img{
	width: 100%;
}
.suspend_right ul li.sr_4{
	position: relative;
}
.suspend_right ul li.sr_4:hover span{
	display: block;
}
.suspend_right ul li.sr_4 span{
	width: 74px;
	height: 74px;
	border: 1px solid #dbdbdb;
	background: #f3f3f3;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: -100px;
	overflow: hidden;
	top: 0;
	    padding: 10px;
	    display: none;
}
.suspend_right ul li.sr_4 span img{
	width: 100%;
}