html {
	overflow:hidden;
	width:100%;
	height:100%;
}
body {
	font-family:"Helvetica Neue","lucida Grande","Verdana";
	font-size:12px;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.list_not_found .navbar {
	display:none
}
#gplayer_container {
	position:absolute;
	left:-999px;
	top:-999px;
}
.content .playarea {
	clear:both;
	padding:10px 20px;
}
.content .file {
	border:1px solid #fff;
	float:left;
	margin:20px;
	cursor:pointer;
	padding:5px;
}
.content .sel {
	border:1px solid blue;
	color:blue;
}
.content .title {
	text-align:center;
}
.content .icon,.content .icon td {
	width:120px;
	height:120px;
	overflow:hidden;
	text-align:center;
}
.content .icon img.thumb_h {
	height:100%;
	width:auto;
}
.content .icon img.thumb_w {
	width:100%;
	height:auto;
}
/* QQ browser for ie6、7 */#preview_div_container {
	position:relative;
	height:100%;
}
.qqbrowser_tip {
	background:#ffffea;
	padding:11px 0 12px 17px;
	position:relative;
	color:#7a3e02;
	text-align:left;
	_font-family:"宋体";
}
div.qqbrowser_tip {
	border-bottom:1px solid #e6e6c6;
}
.icon_info_s {
	width:12px;
	height:12px;
	background:url(images/prompt1e9c5d.png) no-repeat -96px -48px;
}
.qqbrowser_tip .icon_info_s {
	vertical-align:middle;
	display:inline-block;
	margin-right:6px;
	position:relative;
	*top:1px;
}
.qqbrowser_txt {
	vertical-align:middle;
}
.qqbrowser_tip a.qqbrowser_tip_close {
	position:absolute;
	top:8px;
	right:10px;
	font-size:14px;
	line-height:14px;
	color:#aaab65;
	text-decoration:none;
}
.qqbrowser_tip a.qqbrowser_tip_close:hover {
	color:#aaab65;
	text-decoration:none;
}
/* qq浏览器按钮 *//* 目前只用在ie6、7，其他浏览器未测试 */.btn_flat_yellow {
	text-decoration:none;
	display:inline-block;
	height:23px;
	line-height:22px;
	*line-height:24px;
	_line-height:25px;
	font-family:Simsun\9;
	_overflow-y:hidden;
	padding:0 10px;
	margin:0;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	cursor:pointer;
	-moz-user-select:none;
	-webkit-user-select:none;
	border-radius:3px;
	border-radius:0\9\0;
	outline:none;
	border:1px solid #d2b78e;
	color:#743e04;
	color:#743e04!important;
	background:none;
}
.btn_flat_yellow:hover {
	text-decoration:none;
	border-color:#aa8348;
}
.qqbrowser_tip .btn_flat_yellow {
	position:relative;
	padding-left:25px;
	*top:2px;
	_top:-2px;
}
/* qq浏览器 按钮里的图标 */.qqbrowser_tip .icon_download_yellow {
	position:absolute;
	top:6px;
	left:10px;
}
.icon_download_yellow {
	display:inline-block;
	width:11px;
	height:12px;
	background:url(images/icon_download_yellow1e9c5d.png) 0 0 no-repeat;
}
/* end QQ browser for ie6/7 */