.filePicker{
	position: relative;
}
.filePicker .webuploader-element-invisible{
opacity: 0;
}
.webuploader-pick{
	position: relative;
}
.btn{
	background-color: #527bcd;
    border-radius: 5px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
        height: 30px;
    line-height: 30px;
    width: 120px;
}
.load{
	position: absolute;top: 0;
	left: 0;
	opacity: 0;
	    height: 30px;
    width: 120px;
}
.load1{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	    height: 30px;
    width: 120px;
}
.load3{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	    height: 30px;
    width: 120px;
}
#pic_box{
	clear:both;
	display: block;
	margin-top: 10px;
}
#pic_box .swiper-slide{
	float: none!important;
	width: 21%;
	position: relative;
	margin: 0 10px;
}
#pic_box .swiper-slide .thumbnail{
	width: 100%;
	position: relative;
}
#pic_box .swiper-slide .thumbnail img{
	width: 100%;
}

#pic_box .swiper-slide .file-panel{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	display: none;
}
#pic_box .swiper-slide .file-panel .del{
	width: 40px;
	height: 40px;
	background: url(../images/uploadify-cancel.png) no-repeat center;
	display: block;
}
#pic_box_1{
	clear:both;
	display: block;
	margin-top: 10px;
}
#pic_box_1 .desc-box{
	float: none!important;
	width: 21%;
	position: relative;
	margin: 0 10px;
}
#pic_box_1 .desc-box .thumbnail{
	width: 100%;
}
#pic_box_1 .desc-box .thumbnail img{
	width: 100%;
}

#pic_box_1 .desc-box .file-panel{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	display: none;
}
#pic_box_1 .desc-box .file-panel .cancel{
	width: 40px;
	height: 40px;
	background: url(../images/uploadify-cancel.png) no-repeat center;
	display: block;
}
.pic_box_2{
	padding: 10px;
	text-align: center;
	width: 102px;
	border: 1px solid #dedede;
	margin-top: 10px;
	position: relative;
	margin-bottom: 10px;
	display: none;
}
.pic_box_2 p{
	width: 100px;
	overflow: hidden;
}
.pic_box_2 em{
    width: 30px;
    height: 30px;
    background: url(../images/uploadify-cancel.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 0;
}