<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>收货地址管理 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
</script>
</head>

<body>
{#$pageTitle = "收货地址管理"#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li class="curr"><a href="javascript:;">收货地址管理</a></li>
				<li><a href="javascript:;" class="addNew">新增收货地址</a></li>
			</ul>

			<div class="w-form fn-hide" style="background-color:#f5f5f5;">
				<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=member&action=addressAdd">
					<dl class="fn-clear">
						<dt>所在区域：</dt>
						<dd id="selAddr">
							<div class="cityName">
						    <div class="city-title addrBtn" data-field="addrid" data-ids="" data-id="">{#if $detail_address != ""#}{#getPublicParentInfo tab='site_area' id=$userinfo.addrid type='typename' split='/'#}{#else#}请选择{#/if#}</div>
						  </div>
							<input type="hidden" name="addrid" id="addrid" value="" />
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>详细地址：</dt>
						<dd><textarea class="inp text" name="address" id="address" rows="2" cols="64" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息"></textarea></dd>
					</dl>
					<dl class="fn-clear">
						<dt>收货人姓名：</dt>
						<dd><input type="text" name="person" class="inp" id="person" size="20" maxlength="25" placeholder="请输入收货人姓名" /></dd>
					</dl>
					<dl class="fn-clear">
						<dt>联系方式：</dt>
						<dd>
							<div class="input-prepend input-append mr10">
								<span class="add-bef">手机号码</span>
								<input type="text" name="mobile" id="mobile" size="20" placeholder="请输入手机号码" maxlength="11" onkeyup="value=value.replace(/\D+/ig,'')" />
							</div>
							<span class="tip-inline focus" style="margin-top: 20px;"><s></s>手机号码和固定电话至少输入一项</span>
							<div class="input-prepend input-append" style="margin-top: -8px;">
								<span class="add-bef">固定电话</span>
								<input type="text" name="tel" id="tel" size="20" placeholder="请输入固定电话号码" maxlength="22" />
							</div>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd><button class="submit" id="submit">保存</button><a href="javascript:;" class="cancel">取消</a></dd>
					</dl>
				</form>
			</div>


			<div class="list" id="list">
				<table>
					<thead class="thead">
						<tr>
							<th class="fir"></th>
							<th>收货人</th>
							<th style="padding-left: 20px;">所在地区</th>
							<th style="padding-left: 20px;">详细地址</th>
							<th style="padding-left: 20px;">手机/电话</th>
							<th style="padding-left: 20px;" width="130">操作</th>
						</tr>
					</thead>
					<tbody>
						{#member action="address"#}
						<tr data-id="{#$row.id#}" data-person="{#$row.person#}" data-addrid="{#$row.addrid#}" data-addrname="{#$row.addrname#}" data-address="{#$row.address#}" data-mobile="{#$row.mobile#}" data-tel="{#$row.tel#}">
							<td class="fir"></td>
							<td>{#$row.person#}</td>
							<td style="padding-left: 20px;">{#$row.addrname#}</td>
							<td style="padding-left: 20px;">{#$row.address#}</td>
							<td style="padding-left: 20px;">
								{#if $row.mobile != ""#}
									{#$row.mobile#}
								{#/if#}
								{#if $row.mobile != "" && $row.tel != ""#}
									<br />{#$row.tel#}
								{#elseif $row.mobile == "" && $row.tel != ""#}
									{#$row.tel#}
								{#/if#}
							</td>
							<td style="padding-left: 20px;"><a href="javascript:;" class="edit"><s></s>修改</a>&nbsp;&nbsp;<a href="javascript:;" class="del"><s></s>删除</a></td>
						</tr>
						{#/member#}
						{#if $pageInfo['totalCount'] == 0#}
						<tr>
							<td colspan="6" class="empty"><p class="loading">暂无数据，请先<a href="javascript:;" class="addNew"><font color="#f60">【添加】</font></a>！</p></td>
						</tr>
						{#/if#}
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAdrr.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/address.js"></script>
</body>
</html>
