<div class="wrap footer">
	<p><a href="#" target="_blank">关于{#$cfg_shortname#}</a>  |  <a href="#" target="_blank">服务条款</a>  |  <a href="#" target="_blank">广告服务</a>  |  <a href="#" target="_blank">联系客服</a></p>
	<p>Copyright &copy; {#$smarty.now|date_format:"%Y"#} <a href="{#$cfg_basehost#}" target="_blank">{#$cfg_basehost|replace:"http://":""#}</a>  版权所有</p>
</div>

<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dialog-4.2.0.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js"></script>
