<ul class="main-sub-tab" data-url="{#getUrlPath service='member' type='user' template='orderdetail' module='home' id="%id%"#}" data-refund="{#getUrlPath service='member' type='user' template='orderdetail' module='home' id="%id%" param='rates=1'#}" data-comment="{#getUrlPath service='member' type='user' template='write-comment' module='home' id="%id%"#}">
	<li data-id=""><a href="javascript:;">全部 (<span id="total">0</span>)</a></li>
	<li data-id="0"><a href="javascript:;">未付款 (<span id="unpaid">0</span>)</a></li>
	<li data-id="1"><a href="javascript:;">待发货 (<span id="unused">0</span>)</a></li>
	<li data-id="6"><a href="javascript:;">待收货 (<span id="recei">0</span>)</a></li>
	<li data-id="3"><a href="javascript:;">成功 (<span id="used">0</span>)</a></li>
	<li data-id="4"><a href="javascript:;">退款中 (<span id="refund">0</span>)</a></li>
	<li data-id="5"><a href="javascript:;">待评价 (<span id="rates">0</span>)</a></li>
	<li data-id="7"><a href="javascript:;">退款成功 (<span id="closed">0</span>)</a></li>
	<li data-id="10"><a href="javascript:;">关闭 (<span id="cancel">0</span>)</a></li>
</ul>
<table class="oh">
	<colgroup>
		<col style="width:38%;">
		<col style="width:10%;">
		<col style="width:7%;">
		<col style="width:17%;">
		<col style="width:16%;">
		<col style="width:12%;">
	</colgroup>
	<tbody>
		<tr>
			<td>商品</td>
			<td>单价(元)</td>
			<td>数量</td>
			<td>实付款(元)</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
	</tbody>
</table>
