body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.lead{
	position: relative;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	margin-bottom: 0.2rem;
}
.lead p{
	width: .5rem;
	height: .5rem;
	position: absolute;
	left: .15rem;
	top: .25rem;
	background: url(../images/Arrow_left.png) no-repeat center;
	background-size: .4rem;
}
.lead span{
	font-size: .36rem;
}
.edit_form{
	background: #fff;
	padding: 0.24rem 0.3rem;
	margin-bottom: 0.2rem;
}
.edit_form .edi{
	height: .8rem;
	line-height: .8rem;
}
.edit_form .edi em{
	font-size: 0.3rem;
	width: 30%;
	display: inline-block;
}
.edit_form .edi input{
	width: 69%;
	height: .6rem;
	line-height: .6rem;
	text-indent: 0.2rem;
	border: 0.02rem solid #c8c8c8;
	border-radius: 0.1rem;
	font-size: 0.28rem;
}
.edit_form1{
	background: #fff;
	padding: 0.24rem 0.3rem; 
	margin-bottom: 0.2rem;
}
.edit_form1 .place{
	height: .8rem;
	line-height: .8rem;
}
.edit_form1 .place em{
	font-size: 0.28rem;
	width: 30%;
	display: inline-block;
}
.edit_form1 .place input{
	width: 69%;
	height: .6rem;
	line-height: .6rem;
	text-indent: 0.2rem;
	border: 0.02rem solid #c8c8c8;
	border-radius: 0.1rem;
	font-size: 0.28rem;	
}
.edit_form1 .place i{
     width: .35rem;
    height: .35rem;
    background: #e5382a;
    border-radius: 100%;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.1rem;
}
.edit_form1 .place i b{
	    width: .35rem;
    height: .35rem;
    display:block;
    background: url(../images/dingwei.png) no-repeat center;
    background-size: .3rem;
    margin: 0 auto;
}
.edit_form1 .place span{
	font-size: 0.28rem;
}
.edi_button button{
    width: 70%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    background: #e83829;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 0.24rem;
    font-size: 0.3rem;
}
.wa{
	padding: .5rem 0.65rem;
}
.wa ul li{
	height: .5rem;
	line-height: .5rem;
	font-size: 0.28rem;
	color: #acacac;
}