body,html{
	background: #eeeeee;
	height: 100%;
	display: block;
}
.location_input{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	margin-bottom: 0.2rem;
	border-bottom: 0.02rem solid #dddddd;
}
.location_input input{
	font-size: .28rem;
	width: 6rem;
	height: .8rem;
	padding-left: .7rem;
	background: url(../images/search_1.png) no-repeat left;
	background-size: .5rem;
	border:none;
	margin-left: .4rem;
}
.click{
	border-bottom: 0.02rem solid #dddddd;
	border-top: 0.02rem solid #dddddd;
	background: #fff;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.click span{
	padding-left: .4rem;
	font-size: .28rem;
	background: url(../images/loca_1.png) no-repeat left;
}

.history{
	display: none;
}
.history ul li a{
	height: .7rem;
	line-height: .7rem;
	font-size: 0.24rem;
	text-indent: 0.4rem;
	display: block;
}
.all_shan{
	display: none;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.3rem;
	color: #ff0000;
	background: #fff;
}
.all_shan p {
	padding-left: 0.5rem;
	background: url(../images/lese.png) no-repeat left;
	width: 2rem;
	margin: 0 auto;
}
