.information{
	width: 100%;
	height: 5rem;
	background: #4bb550;
	text-align: center;
}
.information .infor_pic{
	padding-top: 1.3rem;
	width: 1.7rem;
	height: 1.7rem;
	margin: 0 auto;
}
.information .infor_pic img{
	width: 1.7rem;
	border-radius: .1rem;
	height: 1.7rem;
}
.information .name{
	font-size: 0.3rem;
	color: #fff;
	margin-top: 0.24rem;
}
.explain{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	border-bottom: 0.02rem solid #eeeeee;
	border-top: 0.02rem solid #eeeeee;
	margin-top: 0.2rem;
}
.explain a{
	display: block;
}
.explain span{
	float: left;
	font-size: 0.3rem;
	margin-left: 0.4rem;
	padding-left: 0.7rem;
	background: url(../images/message.png) no-repeat left;
}
.explain i{
	float: right;
	width: 0.5rem;
	height: 0.5rem;
	background: url(../images/arrow_right.png) no-repeat center;
	margin-top: 0.25rem;
	margin-right: 0.1rem;
}