body,html{
	background: #f8f8f8;
	height: 100%;
	display: block;
}
.rotate-con-pan{background:url(../images/disk.jpg) no-repeat 0 0;background-size:100% 100%;position:relative;width:5rem;height:5rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0 auto}
.rotate-con-zhen{width:1.05rem;height:2rem;background:url(../images/start.png) no-repeat 0 0;background-size:100% 100%;cursor:pointer;position:absolute;left: 2rem;
    top: 1.5rem;}
.shuoming{
	padding: .24rem;
	background: #fff;
	margin: 0.4rem 0;
}
.shuoming h1{
	font-size: .3rem;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 0.02rem solid #dddddd;
}
.shuoming ul{
	margin-top: .1rem;
}
.shuoming ul li{
	height: .6rem;
	line-height: .6rem;
	color: #9f9f9f;
	padding-left: .3rem;
	background: url(../images/dian.png) no-repeat -.2rem;
}
.duihuan{
	margin-bottom: .4rem;
	height: .6rem;
	line-height: .6rem;
	font-size: .28rem;
	padding:0 .24rem;
	background: #fff;
}
.duihuan em{
	float: left;
}
.duihuan span{
	float: right;
	margin-top: .1rem;
	width: .5rem;
	height: .3rem;
	text-align: center;
	line-height: .3rem;
	border: 0.02rem solid #e84538;
	border-radius: 0.24rem;
	color: #e84538;
}