.banner{
	background: url(../images/banner3.png) no-repeat center;
	height: 163px;
}
.logo{
	padding-top: 37px;
}
.logo img{
	float: left;
	margin-right: 20px;
}
.logo p{
	font-size: 30px;
	color: #2767b1;
	margin-top: 13px;
}
.logo span{
	color: #aabcda;
	font-size: 14px;
	margin-left: 10px;
}
.lead{
	margin-top: 0;
}
.lead ul li{
	position: relative;
	z-index: 9;
}
.lead ul li.morebtn:hover .morebox{
	display: block;
}
.lead .morebox{
	position: absolute;
	top: 46px;
	left: 0;
	width: 133px;
	border: 1px solid #dddddd;
	display: none;
	background: #fff;
}
.lead .morebox a{
	color: #000;
}
.lead .morebox a:hover{
	background: #e9f0f7;
}
.lead .SearchBox{
	float: right;
	width: 190px;
	height: 32px;
	border: 1px solid #e1e1e1;
	border-radius: 7px;
	background: #fff;
	overflow: hidden;
	margin-top: 6px;
}
.lead .SearchBox input{
	height: 33px;
	line-height: 33px;
	width: 153px;
	float: left;
	border: none;
	text-indent: 10px;
}
.lead .SearchBox i{
	float: left;
	width: 35px;
	height: 33px;
	background: url(../images/search.png) no-repeat center;
	vertical-align: middle;
}
.location1{
	margin: 20px auto;
}
.location1 .index{
	color: #cccccc;
	margin-right: 5px;
}
.location1 .index i{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background: url(../images/home1.png) no-repeat center;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.FormLeft{
	float: left;
	width: 260px;
	background: #f6f6f6;
	padding: 30px 20px ;
}
.FormLeft .classfity{
	width: 198px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	background: #fff;
	font-size: 14px;
	text-indent: 20px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 30px;
}
.FormLeft .classfity i{
	float: right;
    border-right: 2px solid #9f9f9f; 
    border-bottom: 2px solid #9f9f9f;  
    width: 8px;
    height: 8px;  
    transform: rotate(-45deg); 
    margin-top: 15px;
    margin-right: 10px;
}
.FormLeft  p{
	font-size: 14px;
	line-height: 30px;
	text-indent: 25px;
}
.FormLeft  span{
	font-size: 14px;
	line-height: 30px;
	display: block;
}
.FormLeft .TelPice{
	width: 198px;
	margin: 0 auto;
	margin-top: 30px;
}
.FormRight{
	float: right;
	width: 807px;
}
.FormRight .FR_lead{
	font-size: 30px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}
.QR_box{
	position: relative;
	height: 50px;
}
.tips{
	position: absolute;
	top: 0;
	right: -180px;
	width: 235px;
	height: 50px;
}
.tips:hover .tipsbox{
	display: block;
}
.tips .QR{
	float: left;
}
.tips .tipsbox{
    width: 144px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    box-shadow: 0px 2px 12px #dadada;
    background: #fff;
    float: left;
    margin-left: -184px;
    border-radius: 2px;
    margin-top: 21px;
    display: none;
}
.tips .tipsbox i{
	width: 20px;
	height: 46px;
	background: url(../images/saoQR.png) no-repeat center 13px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
}
.FormBox{
	margin-top: 30px;
}
.FormBox .FormTabe{
	margin-bottom: 30px;
	height: 40px;
	line-height: 40px;
}
.FormBox .FT_name{
	float: left;
	width: 81px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-right: 19px;
}
.warning{
	font-size: 14px;
	color: #999999;
	float: left;
	display: none;
}
.warning em{
	color: #eb3f47;
	margin-right: 5px;
}
.FormBox .FormTabe.type input{
	height: 40px;
	line-height: 40px;
	width: 168px;
	text-indent: 10px;
	font-size: 16px;
	border: 1px solid #dddddd;
	float: left;
}
.FormBox .FormTabe.type .warning{
	margin-left: 109px;
}
.FormBox .FormTabe.type span{
    float: left;
    width: 81px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    margin-right: 19px;
}
.FormBox .FormTabe.type label{
	position: relative;
	float: left;
	width: 58px;
	height: 40px;
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
}
.FormBox .FormTabe.type label i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/yuan.png) no-repeat center;
	vertical-align: middle;
	margin-right: 10px;
	position: relative;
	top: -1px;
}
.FormBox .FormTabe.type label.lab_bc i{
	background: url(../images/yuan1.png) no-repeat center;
}
.FormBox .FormTabe.type label input{
	position: absolute;
	left: 0;
	top: 0;
	width: 58px;
	height: 40px;
	opacity: 0;
	cursor: pointer;
}
.FormBox .FormTabe.city select{
	height: 40px;
	line-height: 40px;
	width: 120px;
	text-indent: 10px;
	font-size: 16px;
	border: 1px solid #dddddd;
	margin-right: 10px;
	float: left;
}
.FormBox .FormTabe.money em{
	float: left;
	margin-left: 10px;
}
.FormBox .FormTabe.money input{
	float: left;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	text-indent: 10px;
	font-size: 16px;
}
.FormBox .FormTabe.money .warning{
	margin-left: 35px;
}
.FormBox .FormTabe.place em{
	float: left;
	margin-left: 10px;
}
.FormBox .FormTabe.place input{
	float: left;
	width: 705px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	text-indent: 10px;
	font-size: 16px;
}
.FormBox .FormTabe.place .warning{
	margin-left: 35px;
}
.FormBox .FormTabe.title input{
	float: left;
	width: 705px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	text-indent: 10px;
	font-size: 16px;
}
.FormBox .FormTabe.dection textarea{
	float: left;
	width: 685px;
	height: 248px;
	border: 1px solid #dddddd;
	text-indent: 10px;
	font-size: 16px;
	resize: none;
	padding: 10px;
}
.FormBox .FormTabe.dection{
	height: 271px;
	position: relative;
}
.FormBox .FormTabe.dection .dec_com{
	font-size: 14px;
	color: #a1a6aa;
	position: absolute;
	top: 15px;
	left: 125px;
	line-height: 25px;
	width: 421px;
    cursor: text;
}
.FormBox .FormTabe.dection .dec_com span{
	display: block;
	margin-top: 20px;
}
.FormBox .FormTabe.upload {
	height: auto;
}
.pic_list{
	float: left;
}
#fileList1 li{
	width: 110px;
	height: 100px;
	border: 1px solid #dddddd;
	float: left;
	margin-left: 10px;
	position: relative;
}
#fileList1 li img{
	width: 100%;
	height: 100%;
}
.uploadbtn{
	width: 110px;
	height: 100px;
	border: 1px solid #dddddd;
	background: #f7f7f7;
	position: relative;
}
.uploadbtn input{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.webuploader-pick{
	text-align: center;
	font-size: 14px;
	color: #a1a6aa;
}
.webuploader-pick i{
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
	background: url(../images/uploader.png) no-repeat center;
	margin-top: 10px;
}
.file-panel{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.file-panel .cancel{
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/ys_44.png) no-repeat center;
	background-size: 12px;
}
.progress {position: absolute; right: 4px; bottom: 4px; height: 3px; left: 4px; height: 4px; overflow: hidden; z-index: 15; margin:0; padding: 0; border-radius: 0; background: transparent;}
.progress span {display: block; overflow: hidden; width: 0; height: 100%; background: #499c00 url('images/progress.png') repeat-x; -webit-transition: width 200ms linear; -moz-transition: width 200ms linear; -o-transition: width 200ms linear; -ms-transition: width 200ms linear; transition: width 200ms linear; -webkit-animation: progressmove 2s linear infinite; -moz-animation: progressmove 2s linear infinite; -o-animation: progressmove 2s linear infinite; -ms-animation: progressmove 2s linear infinite; animation: progressmove 2s linear infinite; -webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@-moz-keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
@keyframes progressmove {
    0% {background-position: 0 0;}
    100% {background-position: 17px 0;}
}
.upload .warning{
	margin-left: 151px;
}
.FormTabe.name input{
	float: left;
    width: 205px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dddddd;
    text-indent: 10px;
    font-size: 16px;
}
.FormTabe.name .warning{
	margin-left: 55px;
}
.FormTabe.name .send{
	float: left;
	width: 120px;
	height: 42px;
	line-height: 42px;
	color: #a1a6aa;
	background: #f0f0f0;
	text-align: center;
	margin-left: 20px;
	cursor: pointer;
}
.read{
	color: #999999;
	padding-left: 30px;
	padding-bottom: 25px;
	border-bottom: 1px dashed #e2e2e2;
	cursor: pointer;
}
.read a{
	color: #999999;
}
.read a:hover{
	color: #2767b1;
}
.read i{
	float: left;
	width: 13px;
	height: 13px;
	border: 1px solid #9f9f9f;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
.read i:after{
	content: "";
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: url(../images/dui1.png) no-repeat center;
	display: none;
}
.read.reread i:after{
	display: block;
}
.submit {
	width: 196px;
	height: 50px;
	line-height: 50px;
	background: #ff9e24;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
	margin-left: 84px;
	cursor: pointer;
}
.foot{
	margin-top: 200px;
}
.ToPC{
	position: relative;
}
.ToPC .TP{
    float: right;
    margin-right: 0px;
    margin-top: 10px;
}
.ToPC .TP i{
	width: 32px;
	height: 30px;
	display: inline-block;
	background: url(../images/pc1.png) no-repeat center;
}
.ToPC .TP:hover i{
	background: url(../images/pc.png) no-repeat center;
}
.ToPC .TP:hover .PC_box{
	display: block;
}
.ToPC .PC_box{
    position: absolute;
    top: 26px;
    right: 28px;
    background: #fff;
    box-shadow: 1px 1px 15px #dedede;
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    display: none;
}
.ToPC .PC_box a{
	display: block;
}
.QR_img{
	text-align: center;
	margin-top: 70px;
}
.QR_img p{
	font-size: 18px;
	margin-top: 20px;
}
.QR_img p em{
	color: #2767b1;
}