body,html{
	background: #f7f7f7;
}
.headerbox{
	background: #fff;
}
.header{
	height: 113px;
}
.search{
    margin-left: 150px;
    float: left;
    width: 605px;
    margin-top: 30px;
    line-height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    overflow: hidden;
}
.search input{
	width: 485px;
	font-size: 14px;
	text-indent: 10px;
	border: none;
}
.search button{
	background: #007ef2;
	color: #fff;
	border: none;
	width: 120px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	cursor: pointer;
}
.header .logo{
	float: left;
	margin-top: 32px;
}
.header a{
	float: right;
	margin-top: 33px;
	width: 155px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #ff9e24;
	font-size: 16px;
	border-radius: 4px;
}
.header a i{
    width: 20px;
    height: 40px;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat center 10px;
    vertical-align: middle;
    margin-left: 4px;
}
.Part1{
	margin-top: 20px;
}
.Part1 .P1_left{
	float: left;
	background: #fff;
	border-radius: 7px;
	width: 880px;
}
.Part1 .P1_left .OrderTitle{
	margin: 0 40px;
	border-bottom: 1px dashed #e9e9e9;
	position: relative;
}
.Part1 .P1_left .OrderTitle p{
	text-align: center;
	font-size: 23px;
	margin-top: 35px;
}
.Part1 .P1_left .OrderTitle .OrderTips{
	font-size: 14px;
	color: #999999;
	text-align: center;
	margin: 20px 0;
}
.Part1 .P1_left .OrderTitle .OrderBtn{
	position: absolute;
	right: 0;
	bottom: 20px;
	font-size: 14px;
	color: #999999;
}
.Part1 .P1_left .OrderTitle .OrderBtn em{
	margin-left: 15px;
	cursor: pointer;
}
.Part1 .P1_left .OrderTitle .OrderBtn em i{
	width: 15px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.Part1 .P1_left .OrderTitle .OrderBtn em.dayin i{
	background: url(../images/dayin.png) no-repeat center;
}
.Part1 .P1_left .OrderTitle .OrderBtn em.down i{
	background: url(../images/down1.png) no-repeat center;
}
.OrderConnect {
	background: url(../images/order.png) no-repeat center;
	margin: 0 40px;
	padding-bottom: 45px;
}
.OrderConnect .mid{
	text-align: center;
}
.OrderConnect .mid.f1{
	font-size: 30px;
	padding-top: 44px;
}
.OrderConnect .mid.f2{
	font-size: 33px;
}
.OrderConnect .right{
	text-align: right;
	font-size: 21px;
}
.OrderConnect .right.f3{
	font-size: 18px;
}
.OrderConnect .right.mt{
	margin-bottom: 45px;
}
.OrderConnect .right.mt1{
	margin-bottom: 20px;
}
.OrderConnect .left{
	text-align: left;
	font-size: 20px;
	padding-left: 40px;
	margin-bottom: 15px;
}
.OrderConnect p{
	font-size: 20px;
}
.OrderConnect .mb{
	margin-bottom: 15px;
}
.P1_right{
	float: right;
	width: 300px;
}
.P1_right .ad img{
	border-radius: 7px;
	overflow: hidden;
}
.Relevance{
	border-radius: 7px;
	background: #fff;
	margin-top: 20px;
}
.Relevance .Rele_lead{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 16px;
	border-bottom: 1px solid #e9e9e9;
}
.lawer{
	margin-top: 25px;
}
.lawer .LawerPic{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.lawer .LawerPic img{
	width: 100%;
}
.lawer .LawerName{
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	position: relative;
}
.lawer .LawerName i{
	width: 20px;
	height: 20px;
	background: url(../images/v-2.png) no-repeat center;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 5px;
}
.lawer .from{
	color: #999999;
	text-align: center;
	margin-top: 3px;
}
.LawerNum{
	/*padding: 0 30px;*/
	margin-top: 20px;
	margin-bottom: 20px;
}
.LawerNum p{
	float: left;
	text-align: center;
	width: 94.5px;
}
.LawerNum p.mid{
	width: 109px;
}
.LawerNum p em{
	color: #007ef2;
	display: block;
	font-size: 14px;
}
.LawerNum p span{
	font-size: 14px;
	color: #999999;
}
.LawerNum i{
	float: left;
	width: 1px;
	background: #ebebeb;
	height: 29px;
	margin-top: 8px;
}
.lawer_tips{
	margin: 0 15px;
}
.lawer_tips ul {
	width: 300px;
}
.lawer_tips ul li{
	float: left;
	padding: 3px 11.5px;
	color: #ffa438;
	background: #ffecd3;
	margin-right: 16px;
	margin-bottom: 10px;
	font-size: 14px;
}
.LawerTel{
	margin: 0 15px;
	font-size: 14px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.LawerTel em{
	color: #ff9e24;
}
.Recommend{
	margin-top: 20px;
	background: #fff;
	border-radius: 7px;
}
.Recommend .Recolead{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #e9e9e9;
}
.Recommend .Recolead em{
	font-size: 16px;
	float: left;
}
.Recommend .Recolead a{
	float: right;
	font-size: 14px;
	color: #999999;
}
.RecoCom{
	margin: 0 20px;
}
.RecoCom ul li{
	padding: 16px 0;
	border-bottom: 1px dashed #e9e9e9;
	font-size: 16px;
}
.RecoCom ul li.bb_none{
	border-bottom: none;
}
.Part2{
	background: #fff;
	border-radius: 7px;
	padding: 30px 50px;
	width: 1100px!important;
	margin-top: 20px;
}
.Part2 p{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}
.Part2 span{
	font-size: 16px;
	text-indent: 20px;
	display: block;
	margin-bottom: 10px;
}
.foot{
	background: #fff;
}