body,html{
	background: #f7f7f7;
}
.headerbox{
	background: #fff;
}
.header{
	height: 113px;
}
.header .logo{
	float: left;
	margin-top: 32px;
}
.header a{
	float: right;
	margin-top: 33px;
	width: 155px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #ff9e24;
	font-size: 16px;
	border-radius: 4px;
}
.header a i{
    width: 20px;
    height: 40px;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat center 10px;
    vertical-align: middle;
    margin-left: 4px;
}
.SearchBox{
	height: 344px;
	background: url(../images/banner1.png) no-repeat center;
}
.Search .SearchTitle{
	font-size: 30px;
	padding-top: 80px;
	color: #fff;
	text-align: center;
}
.SearchInput{
	width: 690px;
	margin: 0 auto;
	background: #fff;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 25px;
}
.SearchInput input{
	font-size: 18px;
	width: 630px;
	text-indent: 15px;
	border: none;
	height: 60px;
	line-height: 60px;
}
.SearchInput i{
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	width: 60px;
	position: relative;
	top: -4px;
	cursor: pointer;
	background: url(../images/search.png) no-repeat center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
.SearchHot {
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
}
.SearchHot i{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/hot.png) no-repeat center;
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.SearchHot a{
	color: #fff;
	margin: 0 10px;
}
.Statistics{
	background: #fff;
	height: 150px;
	border-radius: 6px;
	margin-top: 20px;
}
.Statistics .StatisticBox{
	float: left;
	width: 400px;
	margin: 30px 0;
	box-sizing: border-box;
}
.Statistics .StatisticBox div{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	float: left;
	margin-left: 64px;
	margin-right: 27px;
}
.Statistics .StatisticBox div.NewAdd{
	background: #8697e6;
}
.Statistics .StatisticBox div.NewAdd i{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	display: block;
	background: url(../images/ys_82.png) no-repeat center;
}
.Statistics .StatisticBox div.AllCase{
	background: #7fda7f;
}
.Statistics .StatisticBox div.AllCase i{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	display: block;
	background: url(../images/ys_83.png) no-repeat center;
}
.Statistics .StatisticBox div.Viewnumber{
	background: #ffd56d;
}
.Statistics .StatisticBox div.Viewnumber i{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	display: block;
	background: url(../images/ys_84.png) no-repeat center;
}
.Statistics .StatisticBox p{
	font-size: 23px;
	margin-top: 13px;
}
.Statistics .StatisticBox span{
	font-size: 19px;
	color: #007ef2;
	display: block;
	margin-top: 5px;
}
.SB_Mid{
	border-left: 1px solid #f2f2f2; 
	border-right: 1px solid #f2f2f2; 
}
.Screen{
	background: #fff;
	border-radius: 7px;
	margin-top: 30px;
}
.Screen .ScreenLead{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 20px ;
}
.Screen .ScreenLead em{
	font-size: 18px;
	float: left;
}
.Screen .ScreenLead a{
	float: right;
	color: #a9a9a9;
	font-size: 14px;
}
.ScreenList{
	padding: 8px 0;
}
.ScreenBox{
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	position: relative;
	padding: 0 20px;
	padding-right: 71px;
}
.ScreenBox .ScreenName{
	position: absolute;
	left: 20px;
	top: 0;
	height: 35px;
	line-height: 35px;
	color: #2689f3;
	font-size: 15px;
}
.ScreenBox .ScreenType{
	padding-left: 80px;
}
.ScreenBox .ScreenType a{
	font-size: 15px;
	padding: 0 16px;
}
.ScreenBox .ScreenType span{
	font-size: 15px;
	padding: 0 16px;
	padding-right: 0;
	cursor: pointer;
	color: #007ef2;
}
.ScreenBox .ScreenType span i{
    background: url(../images/up.png) no-repeat center;
    display: inline-block;
    width: 17px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    margin: -4px 4px 0 0;
}
.open{
	color: #999999;
	position: absolute;
	right: 20px;
	top: 0;
	font-size: 15px;
	cursor: pointer;
}
.open i{
    background: url(../images/down.png) no-repeat center;
    display: inline-block;
    width: 17px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    margin: -4px 4px 0 0;	
}
.Part{
	margin-top: 20px;
}
.PartLeft{
	float: left;
	width: 780px;
}
.PartLeft .NewCase_lead{
	background: #fff;
	height: 50px;
	line-height: 50px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	padding: 0 20px;
}
.PartLeft .NewCase_lead em{
	float: left;
	font-size: 18px;
}
.PartLeft .NewCase_lead a{
    float: right;
    color: #a9a9a9;
    font-size: 14px;
}
.NewCaseBox{
	background: #fff;
	margin-top: 10px;
}
.NewCaseBox .NC_tipsbox{
	height: 40px;
	padding-right: 20px;
}
.NewCaseBox .NC_tipsbox .NC_tips1{
    float: left;
    width: 72px;
    height: 30px;
    padding-top: 7px;
    background: url(../images/tips1.png) no-repeat center;
    color: #fff;
    text-indent: 15px;
    position: relative;
    left: -5px;
}
.NewCaseBox .NC_tipsbox .NC_tips2{
    float: right;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background: url(../images/tips2.png) no-repeat center;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}
.NC_title{
	font-size: 20px;
	padding: 0 20px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.NC_Info{
	padding: 15px 20px;
}
.NC_Info em{
	float: left;
	color: #a9a9a9;
	margin-right: 30px;
}
.NC_Info .NCI_btn{
	float: right;
}
.NC_Info .NCI_btn .cang{
	float: left;
	color: #a9a9a9;
	margin-right: 20px;
	cursor: pointer;
}
.NC_Info .NCI_btn .cang i{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/cang.png) no-repeat center;
	position: relative;
	top: -2px;
	margin-right: 3px;
}
.NC_Info .NCI_btn .down{
	float: left;
	color: #a9a9a9;
	cursor: pointer;
}
.NC_Info .NCI_btn .down i{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/down1.png) no-repeat center;
	position: relative;
	top: -2px;
	margin-right: 3px;
}
.NC_connect{
	font-size: 14px;
	padding: 0 20px;
	padding-bottom: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.fen ul li:hover a{
	background: #007ef2;
    border-radius: 5px;
	color: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #f7f7f7
}
.PartRight{
	float: right;
	width: 400px;
}
.area{
	width: 400px;
	background: #fff;
	border-radius: 7px;
}
.area .area_title{
	font-size: 18px;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e9e9e9;
}
.arealist{
	padding: 10px 20px;
}
.arealist ul li{
	padding: 10px 0;
	font-size: 14px;
}
.arealist ul li em{
	padding: 3px 7px;
	background: #f7f7f7; 
	margin-right: 5px;
}
.arealist ul li a{
	padding: 3px 7px;
}
.arealist ul li a:hover{
	background: #2689f3;
	color: #fff;
}
.rank{
	margin-top: 20px;
	background: #fff;
	border-radius: 7px;
}
.rank .rank_title{
	font-size: 18px;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e9e9e9;
}
.rank_list{
	padding: 10px 20px;
}
.rank_list .rank_lead .r1{
	float: left;
	text-align: center;
	width: 58px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-right: 52px;
	padding-bottom: 5px;
}
.rank_list .rank_lead .r2{
	float: left;
	text-align: left;
	width: 160px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-bottom: 5px;
}
.rank_list .rank_lead .r3{
	float: left;
	text-align: left;
	width: 90px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-bottom: 5px;
}
.rank_box{
	height: 50px;
	line-height: 50px;
	border-top: 1px dashed #f0f0f0;
}
.rank_list .rank_box .r1{
	float: left;
	text-align: center;
	width: 58px;
	font-size: 14px;
	margin-right: 52px;
	color: #b0b0b0
}
.rank_list .rank_box .r1.r_first{
	color: #ff9e24;
}
.rank_list .rank_box .r2{
	float: left;
	text-align: left;
	width: 160px;
	font-size: 16px;
}
.rank_list .rank_box .r3{
	float: left;
	text-align: left;
	width: 90px;
	font-size: 16px;
	color: #b0b0b0
}
.foot{
	background: #fff;
}