.search .logo img{
	width: 260px;
}
.search_list{
    margin-left: 88px;
}
.banner img{
	width: 100%;
}
.CallList {
	border: 1px solid #eaeaea;
	margin-top: 30px;
}
.CallList .Calllead{
	padding: 0 30px;
	background: #f5f4fa;
	border-bottom: 1px solid #eaeaea;
	height: 53px;
	line-height: 53px;
}
.CallList div{
	float: left;
	font-size: 14px;
}
.CallList .Calllead div.Call1{
	font-size: 18px;
	color: #2767b1;
}
.CallList .Call1{
	float: left;
	width: 510px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}
.CallList .Call1 em{
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	background: #999999;
	border-radius: 100%;	
	margin-right: 8px;
}
.CallList .Call2{
	float: left;
	width: 120px;
	text-align: center;
	margin-left: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.CallList .Call3{
	float: left;
	width: 120px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.CallList .Call4{
	float: left;
	width: 120px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.CallList .Call5{
	float: left;
	width: 120px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.CallList .Call6{
	float: left;
	width: 120px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.Callbox{
	padding: 0 30px;
	height: 64px;
	line-height: 64px;
	border-bottom: 1px dashed #ebebeb;
}
.Callbox div{
	color: #a1a1a1;
}
.Callbox a{
	display: block;
	height: 65px;
}
.Callbox a:hover .Call1{
	color: #2767b1;
}
.Callbox .Call1{
	color: #000;
}
.Callbox .Call3{
	color: #f3632e;
}
.Callbox .Call5 em.z1{
	padding: 2px 8px;
	background: #2767b1;
	color: #fff;
}
.Callbox .Call5 em.z2{
	padding: 2px 8px;
	background: #ff9e24;
	color: #fff;
}
.Callbox .Call5 em.z3{
	padding: 2px 8px;
	background: #999999;
	color: #fff;
}
.fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.fen ul li:hover a{
	background: #2767b1;
    border-radius: 5px;
	color: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}