.LocationLink{
	margin: 15px 0;
}
.CD_list .CD_Left{
	float: left;
	width: 850px;
}
.CD_list .CD_Left h1{
	font-size: 22px;
	text-align: center;
}
.CD_list .CD_Left .from{
	text-align: center;
	font-size: 14px;
	color: #a1a1a1;
	border-bottom: 1px solid #eaeaea;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.CD_list .CD_Left .from em{
	margin: 0 20px;
}
.CD_btn{
	width: 210px;
	margin: 0 auto;
	margin-top: 30px;
}
.CD_btn .print{
	float: left;
	width: 90px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #ff9e24;
	cursor: pointer; 
}
.CD_btn .sc{
	float: right;
	width: 90px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #2767b1;
	cursor: pointer; 
}
.CaseInfo{
	width: 680px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	border-right: 1px solid #ffecd3;
	border-bottom: 1px solid #ffecd3;
}
.CaseInfo ul li{
	width: 339px;
	float: left;
	height: 48px;
	line-height: 48px;	
	font-size: 14px;
	border: 1px solid #ffecd3;
	border-bottom: none;
	border-right: none;
}
.CaseCon{
	font-size: 14px;
	text-indent: 20px;
	line-height: 30px;
	margin-top: 30px;
}
.CasePic{
	margin-top: 30px;
}
.CasePic ul li{
	float: left;
	width: 180px;
	height: 130px;
	overflow: hidden;
	text-align: center;
	margin-right: 5px;
}
.CasePic ul li img{
	width: 100%;
}
.end{
	width: 231px;
	margin: 80px auto;
	font-size: 20px;
	color: #fb0101;
}
.end i{
	width: 30px;
	height: 33px;
	display: inline-block;
	background: url(../images/end.png) no-repeat center;
	vertical-align: middle;
	margin-right: 20px;
}
.Tender .TenderLead{
	height: 35px;
	line-height: 35px;
	margin-bottom: 5px;
}
.Tender .TenderLead span{
	float: left;
	font-size: 16px;
}
.Tender .TenderLead span em{
	color: #2767b1;
}
.Tender .TenderLead p{
	float: right;
	color: #999999;
}
.TenderBox{
	position: relative;
	padding-top: 20px;
	border-top: 1px solid #ebebeb;
}
.LawyerInfo{
	position: absolute;
	left: 0;
	top: 20px;
	width: 110px;
}
.LawyerInfo .LawyerPic{
	width: 110px;
	height: 110px;
	overflow: hidden;
}
.LawyerInfo .LawyerPic img{
	width: 110px;
}
.LawyerInfo p{
	text-align: center;
	font-size: 14px;
	color: #2767b1;
	margin-top: 5px;
} 
.LawyerInfo p i{
	width: 20px;
	height: 15px;
	display: inline-block;
	background: url(../images/v-2.png) no-repeat center;
	position: relative;
	top: 1px;
	margin-left: 5px;
}
.LawyerInfo span{
	display: block;
	text-align: center;
	color: #ff9e24;
}
.TenderCon{
	padding-left: 135px; 
}
.TenderCon p{
	font-size: 16px;
	margin-bottom: 10px;
}
.TenderCon span{
	margin-bottom: 20px;
	display: block;
	font-size: 14px;
	line-height: 30px;
}
.TenderCon_Tips{
	margin-top: 30px;
	margin-bottom: 20px;
}
.TenderCon_Tips .TT_btn{
	float: right;
	color: #999999;
	font-size: 14px;
	cursor: pointer;
}
.TenderCon_Tips .AT_btn{
	color: #ff9e24;
}
.TenderCon_Tips .TT_btn.AT_btn i{
	background: url(../images/zhong1.png) no-repeat center;
}
.TenderCon_Tips .TT_btn i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/zhong.png) no-repeat center;
	vertical-align: middle;
	margin-right: 5px;
}
.TenderCon_Tips .times{
	float: right;
	font-size: 14px;
	color: #999999;
	margin-left: 15px;
}
.AddChoice{
	position: absolute;
	right: 10px;
	top: 5px;
	width: 83px;
	height: 50px;
	background: url(../images/zhong2.png) no-repeat center;
}
.ad{
	margin-top: 30px;
}
.ad img{
	width: 850px;
}
.Newest{
	margin-top: 30px;
}
.Newest .NewLead{
	border-bottom: 1px solid #e2e2e2;
	height: 40px;
	line-height: 40px;
}
.Newest .NewLead em{
	font-size: 16px;
	border-bottom: 1px solid #2767b1;
	height: 40px;
	line-height: 40px;
	float: left;
}
.NewTitle{
	margin-top: 15px;
}
.NewTitle div{
	float: left;
	text-align: center;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.NewTitle .N1{
	width: 466px;
}
.NewTitle .N2{
	width: 125px;
}
.NewTitle .N3{
	width: 125px;
}
.NewTitle .N4{
	width: 125px;
}
.NewCom {
	height: 35px;
	line-height: 35px;
	padding: 10px 0;
	border-bottom: 1px dashed #ebebeb;
}
.NewCom div{
	font-size: 14px;
	float: left;
}
.NewCom .N1{
	width: 466px;
	font-size: 16px;
}
.NewCom .N2{
	width: 125px;
	text-align: center;
	color: #a1a1a1
}
.NewCom .N3{
	width: 125px;
	text-align: center;
	color: #f3632e;
}
.NewCom .N4{
	width: 125px;
	text-align: center;
}
.bb_none{
	border-bottom: none;
}
.CD_right{
	float: right;
	width: 300px;
}
.Promise{
	background: #f5f5f5;
	padding-bottom: 5px;
}
.Promise .PromiseLead{
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #e2e2e2;
	padding-left: 15px;
	font-size: 16px;
}
.Promise p{
	padding:  0 15px;
	font-size: 14px;
	margin: 10px 0 20px;
}
.ad_2{
	width: 300px;
	height: 140px;
	background: #000;
	margin-top: 30px;
}
.tj{
	margin-bottom: 20px;
	margin-top: 35px;
}
.tj h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.tj ul{
	margin-top: 5px;
	width: 400px;
}
.tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.tj ul li .tj_pic img{
	height: 86px;
	display: block;
	width: 86px;
}
.tj ul li .tj_pic:hover .infor{
	display: block;
}
.tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.tj ul li .infor .to a{
	color: #fff;
}
.tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.tj ul li .infor .rz {
	width: 360px;
}
.tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.tj ul li span{
	color: #2767b1;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.tj ul li s a{
	display: block;
}
.wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.wx img{
    margin-top: 29px;
}
.wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.wx p{
	font-size: 12px;
	color: #999999;
}
.Case_lead{
	height: 20px;
	position: relative;
	line-height: 20px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #eaeaea;
}
.Case_lead i{
	float: left;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	position: relative;
}
.Case_lead em{
	float: left;
	font-size: 18px;
}
.Case_lead i.cc1{
	background: url(../images/cc1.png) no-repeat center;
	margin-right: 8px
}
.Case_lead i.cc2{
	background: url(../images/cc2.png) no-repeat center;
	margin-left: 8px
}
.Case_lead .fb_time{
	float: left;
	font-size: 14px;
	color: #a1a1a1;
	margin-left: 20px;
}
.Case_lead .fb_time i.cc3{
	background: url(../images/cc3.png) no-repeat center;
	margin-right: 2px;
}
.Case_lead .pass{
	width: 130px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	right: 0;
	top: -5px;
	background: #ff9e24;
	color: #fff;
	font-size: 14px;
}
.Case_lead .pass .cc4{
	background: url(../images/cc4.png) no-repeat center;
	margin-right: 3px;
	margin-left: 10px;
	margin-top: 3px;
}
.CaseTabe {
	margin-top: 30px;
	border: 1px solid #eaeaea;
}
.CaseTabe .CT_lead{
	background: #f5f4fa;
	text-align: center;
}
.CT_com {
	text-align: center;
}
.CaseTabe ul li{
	float: left;
	width: 211px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
	border-right: 1px solid #eaeaea;
}
.CaseTabe ul li.br_none{
	border-right: none;
}
.zb_person{
    width: 400px;
    height: 150px;
    background: url(../images/zbper.png) no-repeat center;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 3px 9px #6391c6;
    border-radius: 26px;
}
.zb_person ul{
	padding-left: 30px;
	padding-top: 30px;
}
.zb_person ul li{
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
}
.logbox{
	width: 850px;
	height: 55px;
	line-height: 55px;
	background: #ffecd3;
	color: #ff9e24;
	text-align: center;
	font-size: 14px;
	margin-top: 30px;
}
.logbox a{
	text-decoration: underline;
	color: #ff9e24;
	font-weight: bold;
}
.renbox{
	width: 850px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background: #f5f5f5;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
	font-size: 18px;
}
.renbox em{
	padding: 5px 20px;
	background: #f95252;
	color: #fff;
	border-radius: 20px;
	font-size: 14px;
	margin-left: 30px;
}