.classify ul{
	border-bottom: 1px solid #e2e2e2;
	width: 1200px;
	margin: 0 auto;
	background: #f7f7f7;
}
.classify ul li{
	float: left;
	width: 85.7px;
	height: 60px;
	text-align: center;
	position: relative;
	z-index: 1
}
.classify ul li a{
	display: block;
	font-size: 16px;
	padding: 17px 0;
}
.classify ul li em{
    height: 38px;
    width: 1px;
    background: #d8d8d8;
    float: left;
    margin-top: 12px;
    position: absolute;
    right: 0;
    top: 0;
}
.classify ul li i{
	background: url(../images/class1.png) no-repeat center;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.classify ul li:hover i{
	background: url(../images/class1.png) no-repeat center;
}
.classify ul li:hover a{
	color: #2767b1;
}
.classify ul .gs i{
	background-position: 1px -5px;
}
.classify ul .sh i{
    background-position: -30px -4px;
}
.classify ul .gx i{
    background-position: -60px -4px;
}
.classify ul .bc i{
    background-position: -90px -3px;
}
.classify ul .ht i{
    background-position: -120px -3px;
}
.classify ul .dy i{
    background-position: -154px -5px;
}
.classify ul .bz i{
    background-position: -188px -4px;
}
.classify ul .zd i{
   background-position: -221px -4px;
}
.classify ul .pq i{
    background-position: -253px -6px;
}
.classify ul .zc i{
    background-position: -289px -4px;
}
.classify ul .jc i{
    background-position: -321px -5px;
}
.classify ul .ws i{
    background-position: -352px -7px;
}
.classify ul .sh1 i{
    background-position: -386px -7px;
}
.classify ul .gd i{
    background-position: -418px -8px;
}
.classify ul .gs:hover i{
	background-position: 1px -34px;
}
.classify ul .sh:hover i{
    background-position: -29px -33px;
}
.classify ul .gx:hover i{
    background-position: -60px -33px;
}
.classify ul .bc:hover i{
    background-position: -90px -32px;
}
.classify ul .ht:hover i{
    background-position: -120px -32px;
}
.classify ul .dy:hover i{
    background-position: -154px -33px;
}
.classify ul .bz:hover i{
    background-position: -188px -33px;
}
.classify ul .zd:hover i{
   background-position: -221px -33px;
}
.classify ul .pq:hover i{
    background-position: -253px -35px;
}
.classify ul .zc:hover i{
    background-position: -288px -33px;
}
.classify ul .jc:hover i{
    background-position: -321px -34px;
}
.classify ul .ws:hover i{
    background-position: -352px -36px;
}
.classify ul .sh1:hover i{
    background-position: -386px -35px;
}
.classify ul .gd:hover i{
    background-position: -418px -36px;
}
.ad{
	width: 1200px;
	margin: 0 auto;
	margin-top: 15px;
}
.ad ul{
	width: 1300px;
}
.ad ul li{
	float: left;
	margin-right: 9px;
}
.ad ul li a img{
	width: 293px;
	height: 88px;
}
.part_1{
	width: 1200px;
    margin: 15px auto;
}
.part_1 .Concern{
	float: left;
	background: #f5f5f5;
	width: 222px;
	height: 687px;
	padding: 0 14px;
}
.part_1 .Concern .FindTitle{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.part_1 .Concern .FindTitle i{
    height: 22px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/find.png) no-repeat center;
    background-position: -2px -3px;
    margin-right: 5px;
}
.areabox{
	position: relative;
	margin-bottom: 15px;
}
.areabox span{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e0e0e0;
	background: #fff;
	display: block;
	font-size: 14px;
	position: relative;
}
.areabox span i{
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 30px;
	background: url(../images/find.png) no-repeat center;
    background-position: -30px 1px;
}
.areabox select{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
}
.FindFrom input{
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	background: #2767b1;
	color: #fff;
}
.FindFrom input:hover{
	background: #195695;
}
.HotCity {
	overflow: hidden;
}
.HotCity .HC_title{
	font-size: 16px;
	font-weight: bold;
	margin: 29px 0 15px;
}
.HotCity .HC_box{
	width:240px; 
}
.HotCity .HC_box a{
	font-size: 14px;
	padding-right: 20px;
	margin-bottom: 10px;
	float: left;
}
.HotCity .HC_box a.HC_bc{
	color: #ff9e24;
}
.HotCity .HC_box a.HC_more{
	color: #2767b1;
}
.HotLink{
	margin-top: 20px;
}
.HotLink ul li{
	height: 63px;
	line-height: 63px;
	border-top: 1px solid #ebebeb;
	position: relative;
}
.HotLink ul li a{
	font-size: 16px;
	display: block;
}
.HotLink ul li a i{
	width: 25px;
	height: 63px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/find1.png) no-repeat center;
	margin-right: 10px;
}
.HotLink ul li.L1 a i{
	background-position: -2px -14px;
}
.HotLink ul li.L2 a i{
    background-position: -35px -14px;
}
.HotLink ul li.L3 a i{
	background-position: -72px -10px;
}
.HotLink ul li.L4 a i{
	background-position: -109px -16px;
}
.HotLink ul li a em{
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 63px;
	background: url(../images/find.png) no-repeat center;
	background-position: -50px 16px;
}
.part_1_mid{
	float: left;
	margin-left: 31px;
	width: 650px;
}
.PublicTitle{
	height: 30px;
	border-bottom: 1px solid #e2e2e2;
}
.PublicTitle em{
	float: left;
	font-size: 16px;
	border-bottom: 1px solid #2767b1;
	height: 30px;
}
.PublicTitle span{
	float: right;
	color: #999999;
	font-size: 12px;
	line-height: 30px;
}
.PublicTitle span a{
	color: #999999;
}
.famous {
	width: 650px;
}
.lawerList{
	width: 684px;
	margin-top: 10px;
}
.famous .LawerBox{
	float: left;
	width: 110px;
	height: 110px;
	position: relative;
	margin-right: 25px;
	/*overflow: hidden;*/
	margin-top: 10px;
	background-size: 100%;

}
.famous .LawerBox a img{
	width: 110px;
	height: 110px;
}
.famous .LawerBox a span{
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	background:rgba(0, 0, 0, 0.59);
	width: 110px;
	height: 20px;
	line-height:20px;
}
.famous .LawerBox:hover .LawerInfo{
	display: block;
	z-index: 10;
}
.LawerInfo{
	position: absolute;
	left: 0;
	top: 121px;
	width: 314px;
	height: 182px;
	padding: 10px;
	border: 1px solid #dddddd;
	border-top: 2px solid #fea861;
	background: #fff;
	display: none;
}
.LawerInfo .sanjiao{
    position: absolute;
    left: 25px;
    top: -8px;
    width: 18px;
    height: 8px;
    background: #fff;
}
.LawerInfo .sanjiao i{
    display: block;
    margin: 0 auto;
    border-left: 2px solid #fea861;
    border-bottom: 2px solid #fea861;
    width: 13px;
    height: 13px;
    transform: rotate(134deg);
    position: relative;
    left: 1px;
    top: -1px;
}
.LawerInfo .LI_name{
	font-size: 16px;
	margin-bottom: 5px;
}
.LawerInfo .LI_list ul li{
	margin-bottom: 5px;
}
.LawerInfo .LI_list ul li i{
	font-style: normal;
}
.LawerInfo .LI_list ul li em{
	color: #fea861;
}
.LawerInfo .LI_list ul li span{
	color: #999999;
}
.LawerInfo  .LI_num{
	margin-top: 10px;
}
.LawerInfo  .LI_num ul li{
	float: left;
	text-align: center;
	width: 33.33333%;
	position: relative;
}
.LawerInfo  .LI_num ul li.LImid:after{
	content: "";
	width: 1px;
	height: 29px;
	background: #dddddd;
	position: absolute;
	left: 0;
	top: 10px;
}
.LawerInfo  .LI_num ul li.LImid:before{
	content: "";
	width: 1px;
	height: 29px;
	background: #dddddd;
	position: absolute;
	right: 0;
	top: 10px;
}
.LawerInfo  .LI_num ul li span{
	margin-bottom: 4px;
	font-size: 16px;
}
.LawerInfo  .LI_num ul li p{
	color: #999999;
}
.LI_online{
	position: absolute;
	right: 8px;
	top: 5px;
	width: 102px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 5px;
	background: #fea861;
	color: #fff;
	font-size: 14px;
}
.LI_online a{
	color: #fff;
}
.LI_online a i{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../images/indexicon.png) no-repeat center;
	margin-right: 4px;
}
.answer{
	margin-top: 20px;
}
.answer .answer_list{
	width: 720px;
}
.answer .answer_list ul{
	float: left;
	width: 301px;
	margin-top: 10px;
	margin-right: 49px;
}
.answer .answer_list ul li{
	background:url(../images/point.png) no-repeat left;
	padding-left: 10px;
	height: 39px;
	font-size: 14px;
	line-height: 39px;
}
.answer .answer_list ul li p{
	float: left;
	width: 246px;
	height: 39px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.answer .answer_list ul li em{
	color: #a9a9a9;
}

.interview .inter_list{
	margin-top: 18px;
}
.interview .inter_list .inter_pic{
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-right: 14px;
}
.interview .inter_list .inter_pic img{
	width: 100px;
	margin: 0 auto;
	display: block;
}
.interview .inter_list h2 a{
	font-size: 16px;
	color: #f69634;
	width: 470px;
	height: 25px;
	overflow: hidden;
}
.interview .inter_list h2 em{
	width: 54px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	background:#f69634;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
}
.interview .inter_list span{
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	display: block;
}
.interview .inter_list span i{
	font-style: normal;
	font-weight: normal;
	color: #2767b1;
}
.interview .inter_list p{
	margin-top: 5px;
	line-height: 24px;
	font-size: 12px;
}
.interview .inter_list p b a{
	font-weight: normal;
	color: #2767b1;
}
.part_1_right{
	float: right;
	width: 240px;
}
.part_1_right .notice h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.part_1_right .notice h1 p{
	float: left;
}
.part_1_right .notice h1 a, .part_1_right .classroom h1 a{
	float: right;
	font-size: 12px;
    color: #b0b0b0;
}
.part_1_right .notice  ul{
	margin-top: 10px;
}
.part_1_right .notice  ul li{
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 230px;
    height: 27px;
    line-height: 27px;
}
.part_1_right .notice .NO_Pic{
	width: 310px;
}
.part_1_right .notice .NO_Pic li{
    float: left;
    width: 110px;
    height: 110px;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    margin-top: 10px;
    background: url(../images/perpic.png) no-repeat center;
    background-size: 100%;
    padding: 0;
	line-height: 1;    
}
.part_1_right .notice .NO_Pic li img{
	width: 110px;
    height: 136px;
}
.part_1_right .notice .NO_Pic li span{
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.59);
    width: 110px;
    height: 20px;
    line-height: 20px;
}
.part_1_right .notice.NBox1{
	margin-top: 20px;
	height: 227px;
}
.part_1_right .notice.NBox2{
	margin-top: 9px;
}
.part_1_right .classroom h1{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 8px;
}
.part_1_right .classroom .class_list a img{
	width: 240px;
	height: 140px;
}
.part_1_right .classroom .class_list a span{
	height: 33px;
	text-align: center;
	line-height: 33px;
	font-style: 12px;
	display: block;
}
.ad_mid{
	width: 1200px;
	margin: 0 auto;
}
.ad_mid img{
	width: 1200px;
	height: 80px;
}
.publichead{
	height: 50px;
	line-height: 50px;
	border-bottom: 3px solid #2767b1;
	margin-bottom: 15px;
	margin-top: 10px;
}
.publichead em{
	float: left;
	font-size: 25px;
	font-weight: bold;
}
.publichead .PH_right{
	float: right;
	font-size: 14px;
	color: #e0e1e2;
}
.publichead .PH_righttxt{
	float: right;
	font-size: 14px;
}
.publichead .PH_righttxt i{
	color: #e95758;
	font-style: normal;
}
.publichead .PL_search{
	float: right;
	width: 268px;
	margin-left: 45px;
	position: relative;
	left: 3px;
}
.publichead .PL_search input{
	border: 1px solid #e0e0e0;
	width: 199px;
	height: 23px;
	text-indent: 10px;
	border-right: none;
}
.publichead .PL_search button{
	width: 64px;
	height: 25px;
	border: 1px solid #ff9e24;
	color: #fff;
	background: #ff9e24;
	position: relative;
	left: -3px;
	top: -0.05px;
}
.Knowledge{
	margin-bottom: 10px;
}
.KnowledgeType{
	float: left;
	width: 250px;
}
.KnowledgeTitle{
	font-size: 16px;
}
.KT_box{
	margin-top: 15px;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.KT_box ul li{
	float: left;
	width: 82px;
	height: 96px;
	border: 1px solid #f4f4f4;
	border-right: none;
	border-bottom: none;
}
.KT_box ul li a{
	text-align: center;
	display: block;
	font-size: 14px;
	width: 82px;
	height: 96px;
}
.KT_box ul li a i{
	width: 40px;
	height: 40px;
	display: block;
	background: url(../images/KT.png) no-repeat center;
	margin: 14px auto 5px;
}
.KT_box ul li.K1 a i{
	background-position: -8px -3px;
}
.KT_box ul li.K2 a i{
	background-position: -64px -3px;
}
.KT_box ul li.K3 a i{
	background-position: -124px -3px;
}
.KT_box ul li.K4 a i{
	background-position: -182px -3px;
}
.KT_box ul li.K5 a i{
	background-position: -247px -3px;
}
.KT_box ul li.K6 a i{
	background-position: -312px -3px;
}
.KT_box ul li.K7 a i{
	background-position: -375px -3px;
}
.KT_box ul li.K8 a i{
	background-position: -437px -3px;
}
.KT_box ul li.K9 a i{
	background-position: -501px -3px;
}
.KnowledgeNews{
	float: left;
	width: 659px;
	margin-left: 29px;
}
.KnowledgeNews .KN_List{
	float: left;
	width: 310px;
}
.KnowledgeNews .KN_List .KN_Top .KN_Title{
	font-size: 16px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.KN_box .KN_pic{
	float: left;
	width: 125px;
	height: 92px;
	overflow: hidden;
	margin-right: 10px;
}
.KN_box .KN_pic img{
	width: 100%;
	height: 100%;
}
.KN_box .KN_con{
	font-size: 13px;
	color: #929292;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 5px;
}
.KN_box .KN_tips em{
	color: #a9a9a9;
	margin-left: 15px;
}
.KnowledgeNews .KN_List.KL1{
	margin-left: 33px;
}
.KnowledgeNews .KN_List ul{
	margin-top: 10px;
}
.KnowledgeNews .KN_List ul li{
	padding-left: 10px;
    background: url(../images/point.png) no-repeat left;
    width: 297px;
    height: 37px;
}
.KnowledgeNews .KN_List ul li a{
    width: 251px;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
    font-size: 14px;
    float: left;
}
.KnowledgeNews .KN_List ul li em{
    float: right;
    font-size: 12px;
    height: 37px;
    line-height: 37px;
    color: #999999;
}
.Knowledge .Knowledge_Rank{
	float: left;
	width: 240px;
	margin-left: 20px;
}
.KR_list .KR_box{
	margin-top: 13px;
}
.KR_list .KR_box .KR_pic{
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 10px;
}
.KR_list .KR_box .KR_pic img{
	width: 60px;
}
.KR_list .KR_box .KR_name{
	font-size: 14px;
	padding-top: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.KR_list .KR_box .KR_num{
	font-size: 12px;
	color: #bbbbbb;
	margin-top: 5px;
} 
.KR_list .KR_box .KR_num em{
	color: #ff9e24;
	margin: 0 5px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .hot{
	float: left;
	width: 250px;
	overflow: hidden;
}
.part_2 .hot .hottitile{
	font-size: 16px;
    height: 35px;
    line-height: 35px;
}
.part_2 .hot .hot_list{
    margin-top: 15px;
}
.part_2 .hot .hot_t ul li{
	float: left;
	width: 82px;
	height: 96px;
	border: 1px solid #f4f4f4;
	border-right: none;
	text-align: center;
}
.part_2 .hot .hot_t ul li.bb_have{
	border-right: 1px solid #f4f4f4;
}
.part_2 .hot .hot_t ul li.bb_none{
	border-top: none;
	border-bottom: none;
}
.part_2 .hot .hot_t ul li a{
	display: block;
}
.part_2 .hot .hot_t ul li a i{
	display: block;
	margin: 0 auto;
	width: 45px;
	height: 45px;
	background: url(../images/type.png) no-repeat center;
	margin-top: 16px;
}
.part_2 .hot .hot_t ul li.H1 a i{
	background-position: -3px 1px;
}
.part_2 .hot .hot_t ul li.H2 a i{
	background-position: -56px 1px;
}
.part_2 .hot .hot_t ul li.H3 a i{
	background-position: -118px 1px;
}
.part_2 .hot .hot_t ul li.H4 a i{
	background-position: -176px 1px;
}
.part_2 .hot .hot_t ul li.H5 a i{
	background-position: -235px 1px;
}
.part_2 .hot .hot_t ul li.H6 a i{
	background-position: -1px -47px;
}
.part_2 .hot .hot_t ul li.H7 a i{
	background-position: -57px -47px;
}
.part_2 .hot .hot_t ul li.H8 a i{
	background-position: -117px -47px;
}
.part_2 .hot .hot_t ul li.H9 a i{
	background-position: -177px -51px;
}
.part_2 .hot .hot_t ul li a p{
	padding: 0px 0 13px;
	font-size: 14px;
}
.part_2 .hot .hot_d{
    background: #f5f5f5;
	width: 230px;
	padding: 20px 10px;
}
.part_2 .hot .hot_d .select-item{
	position: relative;
	margin-bottom: 10px;
}
.part_2 .hot .hot_d .select-item span{
	width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #fff;
    display: block;
    font-size: 14px;
    position: relative;
}
.part_2 .hot .hot_d .select-item span i{
	    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 30px;
    background: url(../images/find.png) no-repeat center;
    background-position: -30px 1px;
}
.part_2 .hot .hot_d select{
	display: block;
	width: 100%;
	text-align: center;
	border: none;
	background:#fff;
	border-radius: 5px;
	height: 34px;
	line-height: 34px;
	color: #999;
	margin-bottom: 10px;
}
.part_2 .hot .hot_d select{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}
.part_2 .hot .hot_d input{
	width: 100%;
	height: 34px;
	border: none;
	border-radius: 5px;
	text-indent: 4px;
	text-align: center;
    border: 1px solid #e0e0e0;
}
.part_2 .hot .hot_d input::-ms-input-placeholder{text-align: center;}
.part_2 .hot .hot_d input::-webkit-input-placeholder{text-align: center;}
.part_2 .hot .hot_d button{
	width: 100%;
	height: 34px;
	background: #2767b1;
	border: none;
	border-radius: 5px;
	color: #fff;
	line-height: 34px;
	font-size: 14px;
	margin-top: 14px;
}
.part_2 .consult{
    float: left;
    margin-left: 26px;
    width: 650px;
}
.Qusetiontitle{
	font-size: 16px;
	color: #ff9e24;
    height: 35px;
    line-height: 35px;
}
.Qusetiontitle i{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/question.png) no-repeat center;
	background-size: 100%;
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.QuestionBox form{
	width: 650px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.QuestionBox form input{
	width: 534px;
	height: 35px;
	border: 2px solid #b5b5b5;
	border-right: none;
	text-indent: 10px;
	font-size: 14px;
}
.QuestionBox form button{
	width: 110px;
	height: 40px;
	background: #ff9e24;
	color: #fff;
	border: none;
	position: relative;
	top: -1px ;
	left: -3px;
}
.part_2 .consult ul{
	margin-top: 20px;
}
.part_2 .consult ul li{
	padding-left: 10px;
	background:url(../images/point.png) no-repeat left;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-bottom: 10px;
}
.part_2 .consult ul li p{
	width: 427px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin-right: 46px;
}
.part_2 .consult ul li span{
	color: #a1a1a1;
	font-size: 12px;
	margin-right: 41px;
}
.part_2 .consult ul li em{
	color: #a1a1a1;
	font-size: 12px;
	float: right;
}
.part_2 .consult .tell{
	color: #fea861;
    padding-left: 25px;
    background: url(../images/wen.png) no-repeat left;
    font-size: 14px;
    margin-top: 15px;
}
.part_2 .consult .tell_1{
	width: 585px;
	height: 44px;
	background:#2767b1;
	color: #fff;
	border-radius: 5px;
	line-height: 44px;
	margin-top: 10px;
}
.part_2 .consult .tell_1 span{
	font-size: 16px;
    float: left;
    margin-left: 85px;
    color: #fff;
}
.part_2 .consult .tell_1 span em{
	font-size: 18px;
	color: #fea861;
	margin: 0 5px;
	font-weight: bold;
}
.part_2 .consult .tell_1 p{
	width: 114px;
	height: 29px;
	border-radius: 20px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 29px;
	float: left;
	text-align: center;
	margin-left: 74px;
	margin-top: 7px;
	font-size: 16px;
}
.RSTitle span{
	width: 20px;
	height: 20px;
	background: url(../images/RS.png) no-repeat center;
	position: relative;
	top: 2px;
}
.StartBox{
	margin-top: 10px; 
	margin-bottom: 20px;
}
.StartBox .startpic{
	float: left;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 10px;
}
.StartBox .startpic img{
	width: 100%;
}
.StartBox p{
	font-size: 14px; 
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.StartBox span{
	display: block;
	color: #999999;
	margin-top: 3px;
}
.StartBox span em{
	color: #ff9e24;
}
.part_2 .dynamic{
	width: 240px;
	float: right;
}
.part_2 .dynamic h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.part_2 .dynamic .dynamic_list{
	width: 233px;
    height: 371px;
    border-left: 1px solid #e2e2e2;
    margin-top: 20px;
    float: right;
}
.part_2 .dynamic .dynamic_list .dy_t{
	position: relative;
	margin-left: 10px;
	margin-bottom: 20px;
}
.part_2 .dynamic .dynamic_list .dy_t h2{
	width: 63px;
	left: 23px;
	font-size: 12px;
	color: #fff;
	background:url(../images/dt_2.png) no-repeat left;
	text-indent: 15px;
}
.part_2 .dynamic .dynamic_list .dy_t h2 i{
    background: url(../images/dt_1.png) no-repeat center;
    width: 12px;
    height: 17px;
    position: absolute;
    left: -17px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n{
	margin-top: 15px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n .dy_pic {
	float: left;
	margin-left: 8px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n .dy_pic img{
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.part_2 .dynamic .dynamic_list .dy_t .dy_n span{
	color: #000;
	font-size: 12px;
	line-height: 20px;
}
.part_2 .dynamic .dynamic_list .dy_t .dy_n span em{
	color: #3c95cb;
	margin: 0 1px;
}
.recommend{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}
.recommend h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 1200px;
    height: 35px;
    line-height: 35px;
}
.recommend .recommend_list{
	margin-top: 20px;
	width: 1300px;
}
.recommend .recommend_list .re_txt{
	width: 120px;
	height: 170px;
	float: left;
	margin-right: 15px;
}
.recommend .recommend_list .re_txt .re_pic{
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.recommend .recommend_list .re_txt span{
	width: 120px;
	height: 42px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	color: #2767b1;
	display: block;
	margin-top: 10px;
}
.part_3{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}
.part_3 .advantage{
	width: 250px;
	float: left;
}
.part_3 .advantage .adv_1{
	height: 495px;
	background:#f5f5f5;
}
.part_3 .advantage .adv_1 .adv_txt{
    padding: 15px 20px 15px 17px;
    border-bottom: 1px solid #fff;
}
.part_3 .advantage .adv_1 .adv_txt img{
	float: left;
	margin-right: 18px;
}
.part_3 .advantage .adv_1 .adv_txt span{
	color: #2767b1;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a1 span{
	color: #fea861;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a2 span{
	color: #00d390;
	font-size: 14px;
}
.part_3 .advantage .adv_1 .a3 span{
	color: #f3632e;
	font-size: 14px;
}
.part_3 .advantage .adv_1 form{
	    padding: 20px 31px 10px 31px;
    width: 188px;
}
.part_3 .advantage .adv_1 .select-item{
	position: relative;
	margin-bottom: 15px;
}
.part_3 .advantage .adv_1 .select-item span{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #fff;
    display: block;
    font-size: 14px;
    position: relative;
}
.part_3 .advantage .adv_1 .select-item span i{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 30px;
    background: url(../images/find.png) no-repeat center;
    background-position: -30px 1px;
}
.part_3 .advantage .adv_1 select{
	    width: 100%;
    text-align: center;
    border: none;
    background: #fff;
    border-radius: 5px;
    height: 34px;
    margin: 0 auto;
    margin-bottom: 10px;
		display: block;
		line-height: 34px;
		color: #999;
}
.part_3 .advantage .adv_1 select {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
}
.part_3 .advantage .adv_1 button{
	    width: 190px;
    height: 34px;
    background: #2767b1;
    border: none;
    border-radius: 5px;
    color: #fff;
    line-height: 34px;
    font-size: 14px;
    margin-top: 10px
}
.case {
	margin-left: 26px;
	float: left;
	width: 650px;
}
.case .case_lead{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 650px;
    height: 35px;
    line-height: 35px;
}
.case .case_lead em{
	border-bottom: 1px solid #2767b1;
    height: 35px;
	float: left;
}
.case .case_lead span{
	float: right;
	margin-right: 46px;
}
.case .case_lead p{
	float: right;
	margin-right: 20px;
}
.case .case_list .ct{
	padding: 15px 0;
    border-bottom: 1px dashed #e2e2e2;
    height: 68px;
}
.case .case_list .ct.bb_none{
	border-bottom: none;
}
.case .case_list .tt{
	border-bottom: none;
}
.case .case_list .ct .ct_l{
	float: left;
	width: 281px;
	position: relative;
}
.case .case_list .ct .ct_l h1{
	width: 281px;
	height: 20px;
	font-size: 14px;
	overflow: hidden;
}
.case .case_list .ct .ct_l h1 a:hover{
	color: #2767b1;
}
.case .case_list .ct .ct_l span{
	width: 281px;
	height: 35px;
	overflow: hidden;
	display: block;
	margin-top: 5px;
	color: #a1a1a1;
}
.case .case_list .ct .ct_l p{
	position: absolute;
	right: -29px;
	top: 0px;
	width: 28px;
	height: 14px;
	background: url(../images/new.png)no-repeat center;
}
.case .case_list .ct .ct_m{
	float: left;
	height: 77px;
	line-height: 54px;
	color: #a1a1a1;
	margin-left: 70px;
	font-size: 13px;
	width: 80px;
}
.case .case_list .ct .ct_r{
	margin-left: 20px;
	height: 77px;
	line-height: 54px;
	float: left;
	font-size: 13px;
	width: 75px;
	color: #e62a2b;
	text-align: center;
}
.case .case_list .ct .ct_m1{
	margin-left: 47px;
	height: 77px;
	line-height: 54px;
	float: left;
	font-size: 13px;
	width: 50px;
	text-align: center;
}
.case .case_fb{
	margin-top: 20px;
}
.case .case_fb .liji{
	width: 266px;
	height: 34px;
	color: #fff;
	background: #2767b1;
	float: left;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	border-radius: 5px;
}
.case .case_fb .more{
	width: 266px;
	height: 34px;
	color: #fff;
	background: #fea861;
	float: right;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	border-radius: 5px;
}
.part_3 .part_3_right{
	float: right;
	width: 242px;
	height: 495px;
}
.part_3 .part_3_right .recommend_2{
	width: 241px;
}
.part_3 .part_3_right .recommend_2 h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 241px;
    height: 35px;
    line-height: 35px;
}
.part_3 .part_3_right .recommend_2 ul{
	margin-top: 16px;
	width: 260px;
}
.part_3 .part_3_right .recommend_2 ul li{
	float: left;
	margin-right: 16px;
}
.part_3 .part_3_right .recommend_2 ul li p{
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.part_3 .part_3_right .recommend_2 ul li em{
	display: block;
	width: 70px;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.part_3 .part_3_right .evaluate{
	width: 241px;
    height: 495px;

}
.part_3 .part_3_right .evaluate h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 241px;
    height: 35px;
    line-height: 35px;
}
.part_3 .part_3_right .evaluate .eva_list{
    width: 250px;
    height: 443px;
    margin-top: 20px;
    float: right;
    overflow-y: scroll;
    overflow-x:hidden; 
    position: relative;
    right: -18px;
    padding-left: 10px;
}
.eva_line{
    width: 1px;
    height: 443px;
    background:#e2e2e2;
    position: absolute;
    left: 9px;

}
.part_3 .part_3_right .evaluate .eva_list .eva_t{
	    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_t h2{
	    width: 63px;
    left: 23px;
    font-size: 12px;
    color: #fff;
    background: url(../images/dt_2.png) no-repeat left;
    text-indent: 15px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_t h2 i{
	    background: url(../images/dt_1.png) no-repeat center;
    width: 12px;
    height: 17px;
    position: absolute;
    left: -17px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n{
	margin-top: 15px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n .eva_pic{
	    float: left;
    margin-left: 8px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n .eva_pic img{
	width: 40px;
	height: 40px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n  span{
	color: #000;
    font-size: 12px;
    line-height: 20px;
}
.part_3 .part_3_right .evaluate .eva_list .eva_n em{
    color: #3c95cb;
}
.ad_down{
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 10px;
}
.ad_down a img{
	width: 1200px;
	height: 88px;
}
.Knowledge{
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 10px;
}
.ad_last{
	width: 1200px;
	margin: 30px auto;
}
.ad_last a img{
	width: 1200px;
	height: 88px;
}
.part_7{
	background: #f9f9f9;
	height: 118px;
	margin-bottom: 20px;
	padding: 20px 0;
}
.part_7 .Introduct{
	width: 1200px;
	margin: 0 auto;
}
.part_7 .Introduct .Intro1{
	width: 312px;
	height: 106px;
	border-right: 1px dashed #e4e4e4;
	float: left;
	padding: 7px 0;
	margin-right: 55px;
}
.part_7 .Introduct .Intro1 .In1_pic img{
	float: left;
	margin-right: 15px;
}
.part_7 .Introduct .Intro1 .In1_pic p{
	font-size: 16px;
	color: #999999
}
.part_7 .Introduct .Intro1 .In1_pic em{
	color: #999999;
	margin-right: 15px;
}
.part_7 .Introduct .Intro1 .In1_tel{
	color: #2767b1;
	font-size: 24px;
	margin-left: 5px;
	margin-top: 7px;
}
.part_7 .Introduct .Intro1 .In1_ke{
	color: #999999;
}
.part_7 .Introduct .Intro1 .In1_ke i{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/kefu.png) no-repeat center 2px;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.part_7 .Introduct .Intro2{
	width: 312px;
	height: 106px;
	border-right: 1px dashed #e4e4e4;
	float: left;
	padding: 7px 0;
}
.part_7 .Introduct .Intro2 .In2_pic img{
	float: left;
	margin-right: 15px;
}
.part_7 .Introduct .Intro2 .In2_pic p{
	font-size: 16px;
	color: #999999
}
.part_7 .Introduct .Intro2 .In2_pic em{
	color: #999999;
	margin-right: 15px;
}
.zixun{
	margin-top: 17px;
}
.zixun em{
	float: left;
	width: 33px;
	border-right: 1px solid #e7e7e7;
	color: #999999;
	font-size: 14px;
	margin-right: 10px;
}
.zixun p{
	color: #999999;
	position: relative;
	top: -3px;
}
.Intro3{
	float: left;
	width: 241px;
	height: 120px;
	text-align: center;
	border-right: 1px dashed #e4e4e4;
	margin-right: 53px;
}
.Intro3 img{
	width: 87px;
	height: 87px;
	margin-top: 5px;
}
.Intro3 p{
	color: #999999;
}
.Intro4 p{
	font-size: 16px;
	color: #999999;
	margin-bottom: 10px;
}
.Intro4 ul li a{
	font-size: 12px;
	color: #999999;
	margin-right: 45px;
	height: 25px;
	line-height: 25px;
}
.part_8 {
	width: 1200px;
	margin: 0 auto;
}
.part_8 .p8_lead {
	width: 1200px;
}
.part_8 .p8_lead ul li{
	width: 100px;
	height: 50px;
	border-bottom: 3px solid #c9c9c9;
	float: left;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}
.p8_bc{
	border-bottom-color:#3c95cb!important;
}
.part_8 .p8_list{
	margin-top: 35px;
}
.part_8 .p8_list a{
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 100px;
    height: 20px;
    float: left;
    text-align: center;
}
.foot{
	border-top: 1px solid #e2e2e2;
	margin-top: 80px;
}
.foot .foot_l{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.foot .foot_l .f_list{
	margin-top: 55px;
}
.foot .foot_l .f_list em{
	margin: 0 5px;
}
.foot .foot_l span{
	margin: 10px 0 20px 0;
	display: block;
}
.none{
	display: none;
}
