body,html{
	background: #f6f6f6;
}
.body{
	background: #fff;
	padding: 20px;
	width: 1160px!important;
}
.interhead{
	height: 112px;
}
.interhead .interlogo{
	margin-top: 30px;
	float: left;
}
.interhead .intersearch{
	border: 1px solid #dddddd;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 213px;
	width: 287px;
	background: #fff;
	margin-top: 38px;
}
.interhead .intersearch input{
	font-size: 14px;
	border: none;
	border-right: 1px solid #dddddd;
	width: 245px;
	text-indent: 10px;
}
.interhead .intersearch i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/search.png) no-repeat center;
	background-size: 30px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 10px;
}
.interhead .tell{
	float: right;
	margin-top: 30px;
}
.interhead .tell span{
	font-size: 14px;
	color: #999999;
}
.interhead .tell span i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/kefu.png) no-repeat center 2px;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 5px;
}
.interhead .tell p{
    font-size: 30px;
    color: #2767b1;
    line-height: 30px;
}
.lead{
	margin-top: 0;
}
.bodyleft{
	float: left;
	width: 760px;
}
.screen{
	width: 757px;
	border: 1px solid #ededed;
	margin-top: 20px;
}
.screen .sc_l {
	background: #f8f8f8;
	padding: 10px 0;
}
.screen div span{
	width: 98px;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	text-align: right;
	padding-right: 10px
}
.screen div .sc_1{
	width: 738px;
	float: left;
}
.screen .sc_l1 .sc_1 ul li{
	float: left;
	margin-left: 10px;
	text-align: center;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.sc_bc{
	background: #2767b1;
	border-radius: 5px;
}
.sc_bc a{
	color: #fff;
}
.auction{
	padding: 30px 0;
	border-bottom: 1px solid #dddddd;
}
.auction.bbnone{
	border-bottom: none;
}
.auction .aucpic{
	float: left;
	width: 300px;
	height: 122px;
	margin-right: 15px;
}
.auction .aucpic img{
	width: 100%;
	height: 100%;
}
.auction .auctitle{
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.auction .auctitle em{
	    font-size: 12px;
    color: #fff;
    background: #ff9e24;
    padding: 0 5px 2px;
}
.auccon{
	font-size: 14px;
	color: #888888;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
    margin: 14px 0;
}
.auccon a{
	color: #ff9e24;
}
.aucVIp{
    font-size: 16px;
}
.aucVIp em{
	color: #2767b1;
}
.fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
    overflow: hidden;
}
.fen ul li:hover{
}
.fen ul li:hover a{
    background: #2767b1;
	color: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.InterRight{
	float: right;
	width: 360px;
}
.InterTitle{
	font-size: 24px;
	color: #2767b1;
}
.IR_box{
	padding-bottom: 28px;
	border-bottom: 1px solid #dddddd;
}
.IR_box .InterTitle{
	padding-bottom: 15px;
}
.IR_box p{
	font-size: 14px;
	line-height: 25px;
}
.IR_box1{
	margin-top: 28px;
}
.IR_box2{
	margin-top: 28px;
	border-bottom: none;
}
.shenqing{
	margin-top: 28px;
	background: #f4f7fb;
	border: 1px solid #dddddd;
	text-align: center;
	width: 158px;
	height: 50px;
	line-height: 50px;
}
.shenqing a{
	display: block;
	font-size: 18px;
	color: #2767b1;
}
.question input{
	width: 100%;
	border: 1px solid #dddddd;
	height: 40px;
	font-size: 16px;
	text-indent: 10px;
	margin-bottom: 20px;
}
.question textarea {
	border: 1px solid #dddddd;
	resize:none;
	width: 94.6%;
	font-size: 16px;
	padding: 10px;
	height: 182px;
}
.question button{
	background: #2767b1;
	color: #fff;
	width: 100%;
	font-size: 16px;
	height: 42px;
	border: none;
	margin-top: 15px;
}

.footer{
	background: #fff;
	padding-top: 100px;
}
.foot{
	margin-top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}