body,html{
	background: #f6f6f6;
}
.body{
	background: #fff;
	padding: 20px;
	width: 1160px!important;
}
.interhead{
	height: 112px;
}
.interhead .interlogo{
	margin-top: 30px;
	float: left;
}
.interhead .intersearch{
	border: 1px solid #dddddd;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 213px;
	width: 287px;
	background: #fff;
	margin-top: 38px;
}
.interhead .intersearch input{
	font-size: 14px;
	border: none;
	border-right: 1px solid #dddddd;
	width: 245px;
	text-indent: 10px;
}
.interhead .intersearch i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/search.png) no-repeat center;
	background-size: 30px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 10px;
}
.interhead .tell{
	float: right;
	margin-top: 30px;
}
.interhead .tell span{
	font-size: 14px;
	color: #999999;
}
.interhead .tell span i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/kefu.png) no-repeat center 2px;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 5px;
}
.interhead .tell p{
    font-size: 30px;
    color: #2767b1;
    line-height: 30px;
}
.location1{
	margin: 10px auto;
}
.body{
	background: #fff;
	padding: 20px;
}
.BodyLeft{
	float: left;
	width: 760px;
	margin-top: 40px;
}
.ArticleTitle{
	text-align: center;
	font-size: 31px;
	color: #2767b1;
}
.ArticleType {
	text-align: center;
	color: #999999;
	font-size: 12px;
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dddddd;
}
.ArticleType em{
	padding:  0 10px;
}
.ArticleDetail{
	padding-top: 25px;
}
.ArticleDetail p{
	font-size: 16px;
	line-height: 30px;
	text-indent: 20px;
}
.AD_lead {
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.AD_lead i{
	display: inline-block;
	width: 25px;
	height: 23px;
	vertical-align: middle;
	background: url(../images/article.png) no-repeat center;
	position: relative;
	top: -2px;
	margin-right: 8px;
}
.bdshare-button-style0-16{
	float: left;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: url(../images/ys_46.png)!important;
	width: 23px!important;
	height: 23px!important;
	padding-left: 0!important;
	margin: 0!important;
	margin-right: 5px!important;
}
.bdshare-button-style0-16 .bds_sqq{
    background-position: -8px -30px!important;
}
.bdshare-button-style0-16 .bds_weixin{
    background-position: -40px -30px!important;
}
.bdshare-button-style0-16 .bds_qzone{
    background-position: -74px -30px!important;
}
.bdshare-button-style0-16 .bds_tsina{
    background-position: -106px -30px!important;
}
.bdshare-button-style0-16 .bds_tqq{
    background-position: -138px -30px!important;
}
.sharebox{
	height: 23px;
	line-height: 23px;
	margin-top: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}
.sharebox .sharebtn{
	float: right;
	height: 23px;
	line-height: 23px;
}
.sharebox .sharebtn em{
	float: left;
	margin-right: 8px;
}
.ConsultTitle{
	margin: 27px 0;
	font-size: 28px;
}
.ConsultTitle em{
	margin-left: 5px;
	color: #2767b1;
}
.Consult input{
	width: 760px;
	height: 44px;
	text-indent: 15px;
	background: #eeeeee;
	font-size: 16px;
	border: none;
	margin-bottom: 15px;
}
.Consult textarea{
	resize: none;
	width: 730px;
	background: #eeeeee;
	border: none;
	height: 170px;
	font-size: 16px;
	padding: 15px;
	margin-bottom: 20px;
}
.Consult button{
	float: right;
	width: 158px;
	height: 50px;
	line-height: 50px;
	background: #2767b1;
	color: #fff;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.warning{
	margin-top: 80px;
	color: #999999;
	line-height: 25px;
}
.warning em{
	color: #ff9e24;
}
.BodyRight{
	float: right;
	width: 360px;
	margin-top: 40px;
}
.BodyRight .lawer .lawerpic{
	width: 118px;
	height: 118px;
	border: 1px solid #f4f4f4;
	background: url(../images/perpic.png) no-repeat center;
	margin: 0 auto;
}
.BodyRight .lawer .lawerpic img{
	width: 100%;
}
.BodyRight .lawer p{
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}
.BodyRight .lawer p em{
	color: #a0a0a0;
}
.BodyRight .lawer .tel{
	width: 125px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #2767b1;
	border-radius: 20px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #2767b1;
	margin-top: 10px;
}
.about{
	margin-top: 30px;
}
.intertitle{
	border-bottom: 1px solid #dddddd;
	font-size: 24px;
	color: #2767b1;
	padding-bottom: 10px;
}
.about ul{
	margin-top: 10px;
}
.about ul li{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	position: relative;
	padding-left: 15px;
}
.about ul li a{
	display: block;
}
.about ul li a i{
	position: absolute;
	top: 10px;
	left: 0;
	width: 5px;
	height: 5px;
	background: #cacaca;
	border-radius: 5px;
}
.IR_box{
	padding-bottom: 28px;
	/*border-bottom: 1px solid #dddddd;*/
}
.IR_box p{
	font-size: 14px;
	line-height: 25px;
}
.IR_box1{
	margin-top: 28px;
}
.IR_box2{
	margin-top: 28px;
	border-bottom: none;
}
.question input{
	width: 100%;
	border: 1px solid #dddddd;
	height: 40px;
	font-size: 16px;
	text-indent: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.question textarea {
	border: 1px solid #dddddd;
	resize:none;
	width: 94.6%;
	font-size: 16px;
	padding: 10px;
	height: 182px;
}
.question button{
	background: #2767b1;
	color: #fff;
	width: 100%;
	font-size: 16px;
	height: 42px;
	border: none;
	margin-top: 15px;
}
.wangyou p{
	margin-top: 10px;
	font-size: 16px;
	color: #999999;
	line-height: 25px;
}
.WangyouBox{
	width: 220px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.WangyouBox div{
	float: left;
	width: 110px;
	height: 120px;
}
.WangyouBox div.guan1{
	background: #a4ce68;
	cursor: pointer;
}
.WangyouBox div.guan2{
	background: #81b0eb;
	cursor: pointer;
}
.WangyouBox div span{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
}
.WangyouBox div em{
	font-size: 14px;
	text-align: center;
	display: block;
	color: #fff;
	line-height: 18px;
}
.statistics{
	height: 24px;
	line-height: 24px;
	margin-top: 25px;
}
.statistics em{
	float: left;
	width: 30px;
	text-align: center;
}
.statistics em.person1{
	margin-right: 5px
}
.statistics em.person2{
	margin-left: 5px
}
.statistics .StatisticsLine{
	float: left;
	width: 285px;
	height: 24px;
	background: #000;
}
.statistics .StatisticsLine .SL_1{
	float: left;
	background: #a4ce68;
	width: 60%;
	height: 24px;
}
.statistics .StatisticsLine .SL_2{
	float: left;
	background: #81b0eb;
	width: 40%;
	height: 24px;
}
.shenqing{
	margin-top: 28px;
	background: #f4f7fb;
	border: 1px solid #dddddd;
	text-align: center;
	width: 158px;
	height: 50px;
	line-height: 50px;
}
.shenqing a{
	display: block;
	font-size: 18px;
	color: #2767b1;
}
.IR_box1 .intertitle{
	margin-bottom: 15px;
}


.footer{
	background: #fff;
	padding-top: 100px;
}
.foot{
	margin-top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}