body,html{
	background: #f6f6f6;
}
.body{
	background: #fff;
	padding: 20px;
	width: 1160px!important;
}
.interhead{
	height: 112px;
}
.interhead .interlogo{
	margin-top: 30px;
	float: left;
}
.interhead .intersearch{
	border: 1px solid #dddddd;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 213px;
	width: 287px;
	background: #fff;
	margin-top: 38px;
}
.interhead .intersearch input{
	font-size: 14px;
	border: none;
	border-right: 1px solid #dddddd;
	width: 245px;
	text-indent: 10px;
}
.interhead .intersearch i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/search.png) no-repeat center;
	background-size: 30px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 10px;
}
.interhead .tell{
	float: right;
	margin-top: 30px;
}
.interhead .tell span{
	font-size: 14px;
	color: #999999;
}
.interhead .tell span i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/kefu.png) no-repeat center 2px;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 5px;
}
.interhead .tell p{
    font-size: 30px;
    color: #2767b1;
    line-height: 30px;
}
.lead{
	margin-top: 0;
}
.flash{
	position: relative;
}
.bd{
	height: 307px;
	overflow: hidden;
}
.flash .prev{
	width: 40px;
	height: 61px;
	cursor: pointer;
	position: absolute;
	left: -10%;
	top: 37%;
	background: url(../images/interleft.png);
}
.flash .next{
	width: 40px;
	height: 61px;
	cursor: pointer;
	position: absolute;
	right: -10%;
	top: 37%;
	background: url(../images/interright.png);
}
.FlashPic{
	float: left;
	width: 760px;
	height: 307px;

}
.FlashPic img{
	width: 100%;
	height: 100%;
}
.FlashBox{
	float: left;
	width: 400px;
	height: 307px;
	background: #f4f7fb;
}
.Flashtitle{
	width: 352px;
	padding-left: 20px;
	font-size: 27px;
	margin-top: 10px;
	color: #2767b1;
}
.Flashtitle em{
	font-size: 12px;
	color: #fff;
	background: #ff9e24;
	padding: 0 5px 2px;
}
.FlashIntro{
	width: 352px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 26px;
	text-indent: 25px;
	color: #888888;
	margin-top: 15px;
}
.FlashIntro a{
	color: #ff9e24;
}
.FlashVIP{
	width: 352px;
	padding-left: 20px;
	font-size: 16px;	
	margin-top: 20px;
}
.FlashVIP em{
	color: #2767b1;
}
.TypeLead{
	height: 66px;
	margin: 50px 0;
	position: relative;
}
.TypeLead .line{
	width: 100%;
	height: 1px ;
	background: #dddddd;
	position: absolute;
	top: 32px;
	z-index: 1;
}
.TypeLead .typetitle{
	width: 250px;
	height: 66px;
	line-height: 66px;
	background: #f4f7fb;
	color: #2767b1;
	font-size: 25px;
	text-align: center;
	border-radius: 35px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	border: 1px solid #dddddd;
}
.TypeBox{
	margin: 50px 0;
}
.TypeBox .TypeNav{
	float: left;
	width: 345px;
}
.TypeBox .TypeNav.boxmid{
	padding-left: 30px;
	padding-right: 20px;
	width: 410px;
}
.TypeBox .TypeNav p{
	margin-bottom: 12px;
}
.TypeBox .TypeNav.boxmid p a{
	text-indent: 44px;
	display: block;
	margin-bottom: 0;
}
.boxmid ul {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding-left: 20px;
	padding-right: 30px;
}
.TypeBox .TypeNav p a{
	font-size: 25px;
	text-indent: 10px;
	display: block;
}
.TypeBox .TypeNav.T1 p a{
	color: #ff5b47
}
.TypeBox .TypeNav.T2 p a{
	color: #aed295
}
.TypeBox .TypeNav.T3 p a{
	color: #29ceae
}
.TypeBox .TypeNav.T4 p a{
	color: #8f72d4
}
.TypeBox .TypeNav.T5 p a{
	color: #569de6
}
.TypeBox .TypeNav.T6 p a{
	color: #37bee3
}
.TypeBox .TypeNav.T7 p a{
	color: #da68a4
}
.TypeBox .TypeNav.T8 p a{
	color: #9c85d8
}
.TypeBox .TypeNav.T9 p a{
	color: #f24b5d
}
.TypeBox .TypeNav ul li{
	height: 32px;
	line-height: 32px;
	position: relative;
	font-size: 16px;
	padding-left: 25px;
}
.TypeBox .TypeNav ul li a{
	width: 258px;
	height: 32px;
	line-height: 32px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.TypeBox .TypeNav ul li a i{
    position: absolute;
    left: 10px;
    top: 13px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #cacaca;
}
.TypeBox .TypeNav ul li em{
	float: right;
	font-size: 14px;
	color: #999999;
}
.footer{
	background: #fff;
	padding-bottom: 30px;
	padding-top: 100px;
}
.foot{
	padding-top: 10px;
	margin-top: 0;
}