.lead .lead_list .dd ul.dt-t li.do-1:hover a.sal-1{color: #fff!important; background: #2767b1!important; } 
.lead .lead_list .dd ul.dt-t li.do-1 a.white{color: #fff;}
.dd li.do-1{position: relative;}
.dd .lao-wu{position: absolute;top: 107.1%;left: -150px;padding: 0 46px 0 20px;display: none;background: #fff;z-index: 999;}
.lao-wu{width:579px;border: 1px solid #e2e2e2;border-top: 1px transparent solid;}
.fii-1 li{float: left;height: 56px;line-height: 56px;margin-right:20px;}
.fii-1 li a{font-size: 13px;color: #333;}
.fii-1 li a:hover{color: #fea861;}
.fii-1 li.sail-1{font-size:15.5px;color: #333;margin-right:44px;font-weight: bold;}
.lao-wu ul{width: 579px;border-bottom: 1px dashed #ececec;}
.fii-1 li.sail-2{margin-right: 29px!important;}
.do-1:hover .lao-wu{display: block;}
.dd .gong-shang{left: -466px;}
.dd .ji-jin{left: -553px;}
/*头部导航条*/
.con_tent{position: absolute;left: 0;top: 40px;display: none;z-index: 9;}
.con_tent_list{width: 138px;border: 1px #dfdfdf solid;border-right: none;float: left;}
.nav li .le-ft{height: 43px;padding: 15px 15px 15px 12px;background: #f5f5f5;border-right: 1px #dfdfdf solid}
.min_shang span{background: url(../images/44.png) no-repeat center center;width: 7px;height: 11px;position: absolute;float: right;right: 0;top: 6px;cursor: pointer;}
.min_shang a{font-size: 14px;color: #666;display: inline-block;float: left;}
.min_shang a:hover{color: #fea861;}
.min_shang{height: 21px;position: relative;}
.shou_yang a{color: #999;font-size: 12px;margin-right: 4px;}
.shou_yang a:hover{color: #fea861;}
.shou_yang{height: 29px;line-height: 29px;}
.nav li.law-1,.nav li.law-2,.nav li.law-3,.nav li.law-4,.nav li.law-5,.nav li.law-6,.nav li.law-7{position: relative;width: 138px;height: 73px;}
.la_v{width: 400px;border: 1px solid #dfdfdf;position: absolute;left: 100%;padding: 10px 15px 10px 37px;top: -1px;display:none;z-index: 5;background: #fff;}
.la_v ul{float: left;margin-right: 70px;width: 15%;}
.la_v ul li{line-height: 35px;}
.la_v ul li{color: #666;font-size: 12px;}
li:hover .la_v{display: block;border-left: 1px transparent solid!important;}
li:hover .le-ft{background-color: #fff!important;border-right: 1px transparent solid!important;}
/*我的位置*/
.my-l{width: 1200px;margin: 0 auto;}
.my-l p{margin: 14px 0;}
.my-l p i{font-style: normal;}
.my-l div{margin-bottom: 20px;}
/*主体*/
.lot-g{width: 1200px;margin: 0 auto;}
.skill-1{float: left;width:854px;}
/*幻灯片*/
.wrap{width: 854px;height: 395px;}
.slideshow-item{width: 854px;height: 395px;position: relative;}
.banner{width: 854px;height: 395px;position: relative;float: left;margin-bottom: 30px;overflow: hidden;}
.slideshow-item img{width: 854px;height: 395px;}
.prev i{background: url(../images/h431.png) no-repeat;width: 14px;height: 34px;display: block;position: absolute;z-index: 3;left: 18px;top: 45%;}
.next i{background: url(../images/h43.png) no-repeat;width: 14px;height: 34px;display: block;position: absolute;z-index: 3;right: 18px;top: 45%;}
.slideinfo h3{position: absolute;left: 30px;bottom: 20px;}
.slideinfo h3 a{font-size: 18px;color: #fff;display: block;}
.hd{position: absolute;right: 15px;bottom:29px;}
.hd ul li{float: left;width: 30px;height: 8px;border-radius: 8px;background: rgba(255, 255, 255, 0.44);margin-right: 5px;}
.hd ul li.on{background: #fff;}
/*导视*/
.dou-ban{float: left;margin-left: 10px;}
.dou-ban ul{width: 161px;}
.dou-ban li{margin-bottom: 10px;}
.dou-ban li a{display: block;width: 145px;height: 109px;background: url(../upfile/1254.png) no-repeat;position: relative;padding: 8px}
.dou-ban li a i{position: absolute;width: 145px;height: 109px;top: 0;left: 0;background: black;opacity: 0.6;filter: alpha(opacity=60);z-index: 1;padding: 8px}
.dou-ban li a span{position: absolute;z-index: 2;display: inline-block;font-size: 14px;color: #fff;}
.dou-ban li a.movi-1{background: url(../upfile/3152.png) no-repeat;}
.dou-ban li a.movi-2{background: url(../upfile/23453.png) no-repeat;}
.dou-ban li.movi-3{margin-bottom: 30px!important;}
/*列表文本*/
.tech-1{width: 821px;padding-bottom: 26px;border-bottom: 1px dashed #e8e8e8;padding-right: 18px;margin-bottom: 30px;}
.tech-3{margin-bottom: 0px!important;}
.tech-1 a.ji-1{display: inline-block;float: left;}
.tech-1 ul{float: left;width:630px;margin-left: 11px;}
.tech-1 ul li.chat-1 a{font-size: 18px;color: #000;font-weight: bold;}
.tech-1 ul li.chat-1 a:hover{text-decoration: underline;}
.tech-1 ul li.chat-2 p{color: #999999;font-size: 14px;line-height: 28px;margin-top: 8px;}
.tech-1 ul li.chat-2 p a{color:#c5dff2;}
.tech-1 ul li.chat-3{margin-top: 15px;}
.tech-1 ul li.chat-3 a , s{color: #999999;font-size: 12px;text-decoration: none;}
.tech-1 ul li.chat-3 s i{background: url(../images/y2.png) no-repeat;width: 15px;height: 11px;display: inline-block;margin-right: 5px;vertical-align: baseline;}
.tech-1 ul li.chat-3 s{margin-right: 28px;float: left}
.tech-1 ul li.chat-3 s.liu-1 i{background: url(../images/c2.png) no-repeat;width: 14px;height: 14px;vertical-align:baseline;position: relative;top: 2px;}
.tech-1 ul li.chat-3 s.liu-2 i{background: url(../images/a2.png) no-repeat;width: 13px;height: 11px;vertical-align: text-top;position: relative;top: 2px;}
.tech-1 ul li.chat-3 a i{background: url(../images/yy.png) no-repeat;width: 11px;height: 12px;display: inline-block;margin-right: 5px;vertical-align: middle;margin-bottom: 2px;}
.tech-1 ul li.chat-3 a{float: left;margin-right: 30px;color: #2767b1;}
.tech-1 ul li.chat-3 a:hover i{background: url(../images/yy1.png) no-repeat;}
.tech-1 ul li.chat-3 a:hover span{color: #fea861;}
.tech-1 ul.min-1{width: 821px!important;margin-top: 0px!important;padding-right: 18px;border-bottom: 1px dashed #e8e8e8;padding-bottom: 27px;margin-top: 25px!important;}
.tech-2{border: none!important;padding-bottom: 0!important;margin-bottom: 0!important;}
/*分页*/
.page-2{margin-top: 70px!important;}
.page-l{text-align: center;/*margin-top: 17px;*/}
.page-l a{width:38px;height: 36px;display: inline-block;background: #eeeeee;line-height: 36px;text-align: center;font-size:16px;margin-right: 11px;border: 1px solid #eeeeee;border-radius: 3px;color: #333;}
.page-l a:hover{color: #fff;background:#2767b1;}
/*.page-l a i{background: url(../images/jt.png) no-repeat center center;width: 6px;height: 10px;display: inline-block;color: #fff;}
.page-l a:hover i{background: url(../images/878.png) no-repeat;}*/
.page-l a.frst-1{background: #2767b1;color: #fff;border: 1px solid #2767b1;}
.page-l a.lst-l{font-size:14px!important;}
.page-l span{font-size: 14px; color: #999;}
/*点击咨询律师*/
.quest-1{width: 300px;float: left;margin-left: 46px;}
.driect-l{background: url(../images/48.png) no-repeat;width: 300px;height: 201px;text-align: center;margin-bottom: 5px;}
.driect-l a{width:204px;height: 48px;color: #fff;font-size:18px;background: #2767b1;display: inline-block;line-height: 48px;border-radius: 4px;transition: 0.2s;opacity: 1;filter: (opacity=100);}
.driect-l a:hover{transition: 0.2s;opacity: 0.8;filter: (opacity=80);}
.driect-l i{height: 116px;display: block;}
/*栏目分类*/
.cate-o p.lis-1{height: 42px;font-size: 16px;color: #666;line-height: 42px;border-bottom: 1px solid #e2e2e2;}
.cate-o p.lis-2 a{background: #2767b1;color: #fff;text-align: center;font-size: 14px;display: inline-block;padding: 2px 28px;margin-right:15px;transition: 0.2s;opacity: 1;filter: (opacity=100);}
.cate-o p.lis-2 a:hover{transition: 0.2s;opacity: 0.8;filter: (opacity=80);}
.cate-o p.lis-3{margin-top: 10px;}
.cate-o p.lis-4{margin-top: 20px;}

/*热门文章推荐*/
.youto-be li span{background: url(../images/1111.png) no-repeat;width: 20px;height: 18px;display: inline-block;line-height: 18px;text-align: center;font-size: 14px;color: #333;margin-right: 7px;}
.youto-be{margin-top:11px}
.youto-be li{height: 34px;line-height: 34px;width: 300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.youto-be li a{font-size: 14px;color: #666666;}
.youto-be li a:hover{color: #fea861;}
/*其他网友问题*/
.other-o{margin-top: 10px;}
.other-o li{height: 32px;line-height: 32px;}
.other-o li a img{margin-bottom: 3px;margin-right: 6px;}
.other-o li a{display: inline-block;float: left;font-size: 14px;color: #666666;width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.other-o li a:hover{color: #fea861;}
.other-o li span{display: inline-block;float: right;color: #999;font-size: 12px;}
/*二维码*/
.qr-1{height: 235px;background: #f5f5f5;padding: 35px 41px 26px 41px;text-align: center;margin-top: 15px;}
.qr-1 .sao-m{font-size: 14px;color: #666;margin-top: 4px;}
.qr-1 .sao-m i{background: url(../images/wec.png) no-repeat;width: 18px;height: 15px;display: inline-block;vertical-align: middle;margin-right: 4px;}
.qr-1 p span{margin-right: 4px;color: #999999;font-size: 12px;}

.search{
	width: 1200px;
	margin: 0 auto;
}
.search .logo{
	float: left;
	margin-top: 20px;
}
.search .logo img{
	width: 114px;
	height: 55px;
}
.search_list{
	margin-left: 103px;
	float: left;
	width: 650px;
	margin-top: 25px;
	line-height: 40px;
}
.search_list form{
	float: left;
	width: 498px;
	height: 40px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	border-right: none;
	overflow: inherit;
}
.search_list .choice{
	font-size: 16px;
    width: 90px;
    padding: 5px 0;
    float: left;
    height: 30px;
    line-height: 30px;
    text-indent: 25px;
    background: url(../images/arrow_1.png) no-repeat 63px 18px;
    position: relative;
}
.search_list .choice i{
	width: 1px;
	height: 28px;
	background: #c7c7c7;
	position: absolute;
	right: -1px;
	top: 5px;
}
.search_list .choice:hover .choice_list{
	display: block;
}
.search_list .choice:hover i{
	height: 38px;
}
.search_list .choice_list{
    position: absolute;
    bottom: -92px;
    left: -1px;
    border: 1px solid #c7c7c7;
	z-index: 999;
    border-top: none;
    display: none;
}
.search_list .choice_list p{
	width: 90px;
	height: 31px;
	background: #fff;
	text-align: center;
	line-height: 31px;
	font-size: 16px;
	cursor: pointer;
	text-indent: 0;
}
.search_list .choice_list p:hover{
	background: #2767b1;
	color: #fff;
}
.search_list input{
	border:none;
	text-indent: 10px;
	width: 289px;
	font-size: 14px;
}
.search_list form button{
	width: 119px;
	height: 40px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #2767b1;
	font-size: 15px;
	color: #fff;
}
.search_list form button:hover{
	background: #3c95cb;
}
.search_list .online{
	float: left;
	margin-left: 20px;
	width: 118px;
	height: 40px;
	background: #fea861;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 5px;
}
.search_list .online:hover{
	background: #f49e59
}

.ad{
	width: 300px;
	height: 225px;
	background: #000;
}
.ad1{
	width: 300px;
	height: 140px;
	background: #000;
	margin-top: 20px;
}
.tj{
	margin-bottom: 20px;
	margin-top: 35px;
}
.tj h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.tj ul{
	margin-top: 5px;
	width: 400px;
}
.tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.tj ul li .tj_pic img{
	height: 86px;
	display: block;
	width: 86px;
}
.tj ul li .tj_pic:hover .infor{
	display: block;
}
.tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.tj ul li .infor .to a{
	color: #fff;
}
.tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.tj ul li .infor .rz {
	width: 360px;
}
.tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.tj ul li span{
	color: #2767b1;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.tj ul li s a{
	display: block;
}
.rank{
	margin-top: 20px;
}
.rank .ranklead{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.rank .ranklead i{
	float: right;
	margin-right: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/RS.png) no-repeat center;
    position: relative;
    top: 9px;
	font-style: normal;
	line-height: 20px;
	font-size: 12px;
	cursor: pointer;
}
.rank .ranklead i:hover .HelpBox{
	display: block;
}
.rank .ranklead i .HelpBox{
    position: absolute;
    top: 23px;
    z-index: 10;
    right: -15px;
    background: url(../images/help.png) no-repeat center;
    width: 188px;
    height: 64px;
    display: none;
}
.rank .ranklead i .HelpBox em{
	display: block;
	padding: 10px;
	padding-left: 15px;
	padding-top: 13px;
}
.rankbox{
	margin-top: 15px;
	position: relative;
}
.rankbox .rankpic{
	float: left;
	width: 86px;
	height: 86px;
	overflow: hidden;
	margin-right: 10px;
}
.rankbox .rankpic img{
	width: 86px;
}
.rankbox p{
	font-size: 16px;
	padding-top: 5px;
}
.rankbox span{
	display: block;
	margin-top: 8px;
	color: #999999;
}
.rankbox span em{
	color: #fea861;
}
.rankbox .rankicon1{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -5px -3px;
}
.rankbox .rankicon2{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -54px -3px;
}
.rankbox .rankicon3{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -103px -3px;
}
.rankbox .rankicon4{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -152px -3px;
}
.knowbox{
	margin-top: 15px;
}
.knowbox .knowpic{
	float: left;
	width: 110px;
	height: 80px;
	overflow: hidden;
	margin-right: 8px;
}
.knowbox .knowpic img{
	width: 100%;
	height: 100%;
}
.knowbox .knowtitle{
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: 5px;
}
.knowview{
	font-size: 12px;
	color: #a1a1a1;
	margin-top: 8px;
}
.knowview i{
    background: url(../images/y2.png) no-repeat;
    width: 15px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}