.search .logo img{
	width: 260px;
}
.search_list{
    margin-left: 88px;
}
.part_1 {
    width: 1200px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .p2_left{
	float: left;
	width: 848px;
}
.part_2 .p2_left .screen{
	width: 846px;
	border: 1px solid #ededed;
	margin-bottom: 40px;
}
.part_2 .p2_left .screen .sc_l {
	background: #f8f8f8;
}
.part_2 .p2_left .screen div span{
	width: 98px;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	text-align: right;
	padding-right: 10px
}
.part_2 .p2_left .screen div .sc_1{
	width: 738px;
	float: left;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul {
	margin-top: 7px;
	margin-bottom: 5px;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul li{
	float: left;
	margin-left: 10px;
	text-align: center;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.sc_bc{
	background: #2767b1;
	border-radius: 5px;
}
.sc_bc a{
	color: #fff;
}
.LawsCenter_List{
	margin-top: 25px;
}
.LawsCenter_List .LC_lead{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #2767b1;
}
.LawsCenter_List .LC_lead em{
	float: left;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	font-size: 16px;
	width: 166px;
	text-align: center;
	background: #2767b1;
}
.LawsCenter_List .LC_lead span{
	font-size: 14px;
	margin-left: 20px;
}
.LawsCenter_List .LC_lead span i{
	font-style: normal;
	color: #ff9e24;
}
.LawsCenter_List .LC_lead .SearchBox{
	float: right;
	width: 309px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ededed;
}
.LawsCenter_List .LC_lead .SearchBox input{
	width: 219px;
	border: none;
	text-indent: 10px;
}
.LawsCenter_List .LC_lead .SearchBox button{
	width: 90px;
	height: 28px;
	line-height: 28px;
	background: #ff9e24;
	color: #fff;
	border: none;
}
.LawsCenter_Box{
	padding: 30px 0;
	border-bottom: 1px solid #ededed;
}
.LawsCenter_Box .CenterPic{
	float: left;
	width: 118px;
	height: 118px;
	border: 1px solid #f4f4f4;
	margin-right: 20px;
}
.LawsCenter_Box .CenterPic img{
	width: 100%;
	height: 100%;
}
.LawsCenter_Box .CenterTitle{
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}
.LawsCenter_Box .CenterTitle a{
	font-size: 16px;
	color: #2767b1;
	text-decoration: underline;
	float: left;
	width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.LawsCenter_Box .CenterTitle em{
	float: right;
	font-size: 15px;
}
.LawsCenter_Box .CenterTitle em i{
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background: url(../images/location.png) no-repeat center;
	position: relative;
	top: -1px;
	margin-right: 3px;
}
.LawsCenter_Box p{
	font-size: 14px;
}
.LawsCenter_Box p em{
	color: #ff9e24;
}
.LawsCenter_Box p a{
	color: #2767b1;
	margin-left: 25px;
}
.part_2 .p2_left .fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.part_2 .p2_left .fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.part_2 .p2_left .fen ul li:hover{
	    background: #2767b1;
}
.part_2 .p2_left .fen ul li:hover a{
	color: #fff;
}
.part_2 .p2_left .fen ul li a{
	display: block;
}
.part_2 .p2_left .fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.LL_right{
	float: right;
	width: 300px;
}
.LL_right .area{
	padding: 13px;
	background: #f5f5f5;
}
.LL_right .area .arealead{
	font-size: 18px;
	margin-bottom: 8px;
}
.LL_right .area .arealead i{
	display: inline-block;
	width: 26px;
	height: 32px;
	background: url(../images/search.png) no-repeat center;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.areachoice {
	width: 320px;
}
.areachoice input{
	float: left;
	border: 1px solid #ededed;
	text-align: center;
	width: 126px;
	height: 28px;
	line-height: 28px;
	margin-right: 18px;
	margin-bottom: 10px;
}
.areachoice .select{
	float: left;
	border: 1px solid #ededed;
	width: 128px;
	height: 30px;
	line-height: 30px;
	margin-right: 18px;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	background: #fff;
}
.areachoice .select span i{
	    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 30px;
    background: url(../images/find.png) no-repeat center;
    background-position: -30px 1px;
}
.areachoice .select select{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
.area button{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #2767b1;
	color: #fff;
	font-size: 16px;
	border: none;
	margin-top: 10px;
}
.lawnav{
	margin-top: 20px;
}
.LL_lead {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	border-bottom: 1px solid #e2e2e2;
}
.LL_lead em{
	border-bottom: 1px solid #2767b1;
	height: 35px;
	line-height: 35px;
	float: left;
}
.lawnav_list ul li{
	width: 150px;
	float: left;
	text-align: center;
	margin-top: 18px;
	font-size: 14px;
}
.lawnav_list ul li span{
	display: block;
	color: #ffad54;
}
.lawnav_list ul li p{
	color: #999999;
	font-size: 12px;
}
.around{
	margin-top: 20px;
}
.aroundlist ul li{
	float: left;
	width: 75px;
	text-align: left;
	font-size: 14px;
	margin-top: 10px;
	color: #999999;
}
.aroundlist ul li a{
	color: #999999;
}
.aroundlist ul li a:hover{
	color: #2767b1;
}
.zixun{
	margin-top: 20px;
}
.zixun .zixunlist{
	margin-top: 10px;
}
.zixun .zixunlist ul li{
	position: relative;
	padding-left: 15px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.zixun .zixunlist ul li i{
	position: absolute;
	left: 3px;
	top: 13px;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background: #ff9e24;	
}
.zixunBtn a{
	display: block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	background: #2767b1;
	color: #fff;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 15px;
}
.tj{
	margin-bottom: 20px;
	margin-top: 35px;
}
.tj h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.tj ul{
	margin-top: 5px;
	width: 400px;
}
.tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.tj ul li .tj_pic img{
	height: 86px;
	display: block;
	width: 86px;
}
.tj ul li .tj_pic:hover .infor{
	display: block;
}
.tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.tj ul li .infor .to a{
	color: #fff;
}
.tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.tj ul li .infor .rz {
	width: 360px;
}
.tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.tj ul li span{
	color: #2767b1;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.tj ul li s a{
	display: block;
}
.ad_1{
	margin: 20px 0;
}
.ad_1 a img{
	width: 300px;
	height: 88px;
}
.ad_2 a img{
	width: 300px;
	height: 180px;
}
.LL_right .wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.LL_right .wx img{
    margin-top: 29px;
}
.LL_right .wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.LL_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.LL_right .wx p{
	font-size: 12px;
	color: #999999;
}