.banner{
	background: url(../images/banner3.png) no-repeat center;
	height: 163px;
}
.logo{
	padding-top: 37px;
}
.logo img{
	float: left;
	margin-right: 20px;
}
.logo p{
	font-size: 30px;
	color: #2767b1;
	margin-top: 13px;
}
.logo span{
	color: #aabcda;
	font-size: 14px;
	margin-left: 10px;
}
.lead{
	margin-top: 0;
}
.lead ul li{
	position: relative;
	z-index: 9;
}
.lead ul li.morebtn:hover .morebox{
	display: block;
}
.lead .morebox{
	position: absolute;
	top: 46px;
	left: 0;
	width: 133px;
	border: 1px solid #dddddd;
	display: none;
	background: #fff;
}
.lead .morebox a{
	color: #000;
}
.lead .morebox a:hover{
	background: #e9f0f7;
}
.lead .SearchBox{
	float: right;
	width: 190px;
	height: 32px;
	border: 1px solid #e1e1e1;
	border-radius: 7px;
	background: #fff;
	overflow: hidden;
	margin-top: 6px;
}
.lead .SearchBox input{
	height: 33px;
	line-height: 33px;
	width: 153px;
	float: left;
	border: none;
	text-indent: 10px;
}
.lead .SearchBox i{
	float: left;
	width: 35px;
	height: 33px;
	background: url(../images/search.png) no-repeat center;
	vertical-align: middle;
}
.location1{
	margin: 20px auto;
}
.location1 .index{
	color: #cccccc;
	margin-right: 5px;
}
.location1 .index i{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background: url(../images/home1.png) no-repeat center;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.banner{
	background: url(../images/banner3.png) no-repeat center;
	height: 163px;
}
.logo{
	padding-top: 37px;
}
.logo img{
	float: left;
	margin-right: 20px;
}
.logo p{
	font-size: 30px;
	color: #2767b1;
	margin-top: 13px;
}
.logo span{
	color: #aabcda;
	font-size: 14px;
	margin-left: 10px;
}
.lead{
	margin-top: 0;
}
.lead ul li{
	position: relative;
	z-index: 9;
}
.lead ul li.morebtn:hover .morebox{
	display: block;
}
.lead .morebox{
	position: absolute;
	top: 46px;
	left: 0;
	width: 133px;
	border: 1px solid #dddddd;
	display: none;
	background: #fff;
}
.lead .morebox a{
	color: #000;
}
.lead .morebox a:hover{
	background: #e9f0f7;
}
.lead .SearchBox{
	float: right;
	width: 190px;
	height: 32px;
	border: 1px solid #e1e1e1;
	border-radius: 7px;
	background: #fff;
	overflow: hidden;
	margin-top: 6px;
}
.lead .SearchBox input{
	height: 33px;
	line-height: 33px;
	width: 153px;
	float: left;
	border: none;
	text-indent: 10px;
}
.lead .SearchBox i{
	float: left;
	width: 35px;
	height: 33px;
	background: url(../images/search.png) no-repeat center;
	vertical-align: middle;
}
.location1{
	margin: 20px auto;
}
.location1 .index{
	color: #cccccc;
	margin-right: 5px;
}
.location1 .index i{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background: url(../images/home1.png) no-repeat center;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.FormLeft{
	float: left;
	width: 260px;
	background: #f6f6f6;
	padding: 30px 20px ;
}
.FormLeft .classfity{
	width: 198px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	background: #fff;
	font-size: 14px;
	text-indent: 20px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 30px;
}
.FormLeft .classfity i{
	float: right;
    border-right: 2px solid #9f9f9f; 
    border-bottom: 2px solid #9f9f9f;  
    width: 8px;
    height: 8px;  
    transform: rotate(-45deg); 
    margin-top: 15px;
    margin-right: 10px;
}
.FormLeft  p{
	font-size: 14px;
	line-height: 30px;
	text-indent: 25px;
}
.FormLeft  span{
	font-size: 14px;
	line-height: 30px;
	display: block;
}
.FormLeft .TelPice{
	width: 198px;
	margin: 0 auto;
	margin-top: 300px;
}
.FormMid{
	float: left;
	width: 540px;
	margin-left: 50px;
	position: relative;
}
.FormMid .NessList ul li{
	font-size: 14px;
	height: 35px;
	line-height: 35px;	
}
.FormMid .NessList ul li a{
	padding-left: 15px;
	float: left;
	width: 471px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 35px;
	line-height: 35px;
	position: relative;
}
.FormMid .NessList ul li a i{
	position: absolute;
	left: 0;
	top: 16px;
	width: 3px;
	height: 3px;
	border-radius: 3px;
	background: #000;
}
.FormMid .NessList ul li em{
	font-size: 12px;
	color: #d0d0d0;
	float: left;
	margin-left: 15px;
	height: 35px;
	line-height: 35px;
}
.fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
    overflow: hidden;
}
.fen ul li a:hover{
    background: #2767b1;
}
.fen ul li:hover a{
	color: #fff;
}
.fen ul li a{
	display: block;
}
.fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.FormMid img{
	position: absolute;
	right: -50%;
	bottom: 0;
}