body,html{
	background: #f6f6f6;
}
.OfficeHead{
	height: 100px;
}
.OH_logobox{
	padding-top: 13px;
	float: left;
	width: 600px;
}
.OH_logobox .OH_logo{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 18px;
}
.OH_logobox .OH_logo img{
	width: 100%;
	height: 100%;
}
.OH_logobox p{
	font-size: 38px;
	font-weight: bold;
}
.OH_logobox span{
	font-size: 12px;
	color: #c7c7c7;
	margin-top: -5px;
	display: block;
}
.OH_Searchbox{
	border: 1px solid #dddddd;
	height: 40px;
	line-height: 40px;
	float: right;
	width: 287px;
	background: #fff;
	margin-top: 28px;
}
.OH_Searchbox input{
	font-size: 14px;
	border: none;
	border-right: 1px solid #dddddd;
	width: 245px;
	text-indent: 10px;
}
.OH_Searchbox i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/search.png) no-repeat center;
	background-size: 30px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 10px;
}
.OfficeNav{
	height: 52px;
	line-height: 52px;
}
.OfficeNav ul li{
	float: left;
	width: 120px;
	text-align: center;
	font-size: 16px;
	position: relative;
}
.OfficeNav ul li a:hover{
	padding-bottom: 10px;
	border-bottom: 1px solid #00a1ea;
}
.OfficeNav ul li i {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 30px;
	height: 12px;
}
.OfficeNav ul li i.hot {
	background: url(../images/hot2.png) no-repeat center;
}
.OfficeNav ul li i.new {
	background: url(../images/new2.png) no-repeat center;
}
.body{
	background: #fff;
	padding: 20px;
	width: 1160px;
	margin: 0 auto;
}
.news_P2 {
	margin: 30px 0;
}
.newslist{
	float: left;
	width: 365px;
}
.P2_1.newslist{
	padding: 0 32px
}
.lawslead{
	border-bottom: 1px solid #e2e2e2;
	height: 40px;
	line-height: 40px;
}
.lawslead em{
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #2767b1;
	font-size: 18px;
}
.lawslead a{
	float: right;
	font-size: 12px;
	color: #a1a1a1;
}
.newsbox ul{
	margin-top: 9px;
}
.newsbox ul li{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.newsbox ul li a{
	float: left;
	padding-left: 15px;
	position: relative;
	width: 294px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.newsbox ul li a i{
	position: absolute;
	left: 0;
	top: 17px;
	display: inline-block;  
    /*margin: 72px;  */
    border-right: 2px solid #4079ba; 
    border-bottom: 2px solid #4079ba;  
    width: 5px; 
    height: 5px;  
    transform: rotate(-45deg); 
}
.newsbox ul li em{
	float: left;
	color: #a0a0a0;
	margin-left: 17px;
}
.recommend_list{
	margin-top: 20px;
	width: 1300px;
}
.recommend_list .re_txt{
	width: 120px;
	height: 207px;
	float: left;
	margin-right: 28.6px;
}
.recommend_list .re_txt .re_pic{
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.recommend_list .re_txt span{
	width: 120px;
	text-align: center;
	font-size: 14px;
	color: #52a7df;
	display: block;
	margin-top: 10px;
}
.recommend_list .re_txt p{
	width: 120px;
	text-align: center;
	font-size: 14px;
	display: block;
}
.recommend_list .re_txt em{
	border:  1px solid #e2e2e2;
	text-align: center;
	width: 120px;
	border-radius:5px; 
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	margin-top: 5px;
}
.recommend_list .re_txt em a{
	display: block;
}
.footbox{
	background: #fff;
	margin-top: 5px;
}
.friend{
	padding-top: 30px;
}
.FriendLink {
	float: left;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	width: 90px;
	text-align: center;
	margin-left: 46px;
	font-weight: bold;
	margin-right: 20px;
}
.foot .foot_l .f_list{
	margin-top: 40px;
}
.FriendList a{
	padding: 0 20px;
	float: left;
	width: 85px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.connect{
	margin-top: 50px;
	text-align: center;
}
.connect em{
	padding: 0 63px;
	font-size: 14px;
	color: #999999;
}
.bac{
	text-align: center;
	font-size: 14px;
	color: #999999;
	margin-top: 20px;
	padding-bottom: 20px;
}
.bac a{
	text-decoration: underline;
}