.part_1 {
    width: 1200px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}
.part_2{
	width: 1200px;
    margin: 0 auto;
}
.part_2 .p2_left{
	width: 850px;
	float: left;
}
.part_2 .p2_left .exe .exe_lead{
	font-size: 18px;
	font-weight: bold;
}
.part_2 .p2_left .exe .exe_lead i{
    background: url(../images/ys_46.png) no-repeat;
    width: 22px;
    height: 23px;
    background-position: -39px -5px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.part_2 .p2_left .exe .exe_lead b{
    background: url(../images/ys_46.png) no-repeat;
    width: 22px;
    height: 23px;
    background-position: -6px -3px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;	
}
.part_2 .p2_left .exe .time{
	margin: 10px 0;
}
.part_2 .p2_left .exe .time span{
	font-size: 14px;
	margin-right: 10px;
}
.part_2 .p2_left .exe .time em{
	color: #999999;
	font-size: 12px;
}
.part_2 .p2_left .exe .time b{
	font-weight: normal;
	margin: 0 10px;
	color: #999999;
}
.part_2 .p2_left .exe .exe_txt{
	font-size: 14px;
}
.part_2 .p2_left .exe .shang{
	width: 131px;
	height: 42px;
	background: #2767b1;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.part_2 .p2_left .exe .shang i{
    background: url(../images/ys_46.png) no-repeat;
    width: 30px;
    height: 29px;
    background-position: -70px 0px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 6px;
}
.part_2 .p2_left .exe .label{
	padding-top: 15px;
	border-top: 1px dashed #ebebeb;
}
.part_2 .p2_left .exe .label .lab_list{
	float: left;
	color: #999999;
}
.part_2 .p2_left .exe .label .lab_list span{
	margin: 0 10px;
	color: #d8d8d8;
}
.part_2 .p2_left .exe .label .lab_sc{
    float: right;
    width: 188px;
}
.part_2 .p2_left .exe .label .lab_sc span{
	color: #999999;
	font-size: 12px;
	cursor: pointer;
	float: left;
    margin-top: 2px;
}
.part_2 .p2_left .exe .label .lab_sc span i{
	background: url(../images/ys_46.png) no-repeat;
    width: 19px;
    height: 18px;
    background-position: -113px -7px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 2px;
}
.part_2 .p2_left .exe .label .lab_sc em{
	font-size: 12px;
	color: #d8d8d8;
	margin: 0 15px;
    margin-top: 2px;
	float: left;
}
.part_2 .p2_left .exe .label .lab_sc b{
	font-weight: normal;
    margin-top: 3px;
	float: left;
}
.bdshare-button-style0-16{
	float: left;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: url(../images/ys_46.png)!important;
	width: 23px!important;
	height: 23px!important;
	padding-left: 0!important;
	margin: 0!important;
	margin-right: 5px!important;
}
.bdshare-button-style0-16 .bds_sqq{
    background-position: -8px -30px!important;
}
.bdshare-button-style0-16 .bds_weixin{
    background-position: -40px -30px!important;
}
.bdshare-button-style0-16 .bds_qzone{
    background-position: -74px -30px!important;
}
.bdshare-button-style0-16 .bds_tsina{
    background-position: -106px -30px!important;
}
.bdshare-button-style0-16 .bds_tqq{
    background-position: -138px -30px!important;
}
.part_2 .p2_left .exe .huida{
	width: 850px;
	height: 55px;
	background: #2767b1;
	color: #fff;
	line-height: 55px;
	text-align: center;
	font-size: 16px;
	margin: 18px 0; 
	cursor: pointer;
}
.part_2 .p2_left .exe .huida i{
    background: url(../images/ys_46.png) no-repeat;
    width: 11px;
    height: 13px;
    background-position: -111px -69px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.part_2 .p2_left .exe .huida_2{
	width: 850px;
	height: 55px;
	line-height: 55px;
	background: #f5f5f5;
	color: #2767b1;
	font-size: 16px;
	margin: 18px 0;
}
.part_2 .p2_left .exe .huida_2 span{
	width: 500px;
	float: left;
	margin-left: 29px;
}
.part_2 .p2_left .exe .huida_2 a{
	float: right;
	width: 220px;
	background: #2767b1;
	text-align: center;
	color: #fff;
}
.answer .answer_list .answer_txt{
	padding: 20px 0;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
}
.answer .answer_list .answer_txt .the_best{
	position: absolute;
	right: 0;
	top: 0;
	width: 130px;
	height: 35px;
	line-height: 35px;
	color: #2767b1;
	font-size: 21px;
}
.answer .answer_list .answer_txt .the_best i{
    background: url(../images/ys_46.png) no-repeat;
    width: 31px;
    height: 30px;
    background-position: -8px -60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.answer .answer_lead{
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ebebeb;
}
.answer .answer_lead em{
	color: #2767b1;
	margin: 0 2px;
}
.answer .answer_list .ans_left{
	float: left;
	margin-right: 20px;
}
.answer .answer_list .ans_left .ans_infor {
	position: relative;
}
.answer .answer_list .ans_left .ans_infor .ans_pic{
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.answer .answer_list .ans_left .ans_infor .ans_pic img{
	width: 80px;
	display: block;
	margin: 0 auto;
}
.answer .answer_list .ans_left .ans_infor:hover .vip-law{
	display: block;
}
.vip-law{width: 368px;height: 243px;background:white url(../images/33.png) no-repeat;position: absolute;top: 100%;left: -4px;padding: 25px 22px 4px 18px;margin-bottom: 10px; display: none; z-index: 99;}
.vip-law p.Lee-1 span{display: inline-block;float: left;color: #2767b1;font-size: 14px;font-weight: 700}
.vip-law p.no-d span{color: #333!important;}
.vip-law p.no-d a{background: none!important;color: #666!important;border: 1px solid #e2e2e2;border-radius: 3px;}
.vip-law p.no-d a:hover{background: #fea861!important;color: #fff!important;}
.vip-law p.Lee-1 span i{font-size: 12px;background: #ffbc6d;width: 20px;height: 10px;line-height: 10px;text-align: center;color: #fff;padding: 0 4px 0 1px;margin-left: 6px;border-radius: 3px;}
.vip-law p.Lee-1 a{display: inline-block;float: right;width: 80px;height: 26px;background: #fea861;line-height: 26px;text-align: center;color: #fff;font-size: 12px;border-radius: 3px;opacity: 1;filter: alpha(opacity=100);transition: 0.2s}
.vip-law p.Lee-1 a:hover{opacity: 0.8;transition: 0.2s;opacity: 0.8;filter: alpha(opacity=80);}
.vip-law p.Lee-2{font-size: 14px;color: #666;margin-top: 6px;}
.vip-law p.Lee-2 span{color: #f69634;}
.vip-law p.phone-f span{color: #999!important;}
.click-i{margin-top:12px;}
.click-i a{margin-right: 30px;display: inline-block;}
.click-i a s{display: inline-block;text-decoration: none;font-size: 14px;color: #2767b1;}
.click-i a.click-1 i{background: url(../images/photo.png) no-repeat;width:15px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-2 i{background: url(../images/iPhone.png) no-repeat;width:9px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-3 i{background: url(../images/045.png) no-repeat;width:20px;height: 20px;display: inline-block;vertical-align:bottom;margin-right:10px;}
.click-i a.click-4 i{background: url(../images/photo1.png) no-repeat;width:15px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-5 i{background: url(../images/iPhone1.png) no-repeat;width:9px;height: 16px;display: inline-block;vertical-align: text-bottom;margin-right:10px;}
.click-i a.click-6 i{background: url(../images/0451.png) no-repeat;width:20px;height: 20px;display: inline-block;vertical-align:bottom;margin-right:10px;}
.click-d s{color: #999999!important;}
.vip-law p.Lee-3{font-size: #666666;font-size: 14px;margin-top: 11px;line-height: 26px;}
.check-help{margin-top: 15px;}
.check-help a{width: 68px;height: 66px;position: relative;float: left;margin-left: 40px;}
.check-help a img{width:68px;height: 66px;position: absolute;top: 0;left: 0;display: block;}
.check-help a span{display: block;position: absolute;}
.check-help a .num-o{color: #8ccdf4;font-size: 14px;line-height: 51px;margin-left: 14px;}
.check-help a .good-u{color: #fff;font-size:12px;bottom: 0;margin-left: 11px;margin-bottom: 12px;}
.check-help a .num-d{left: 4px}
.check-help a .good-d{left: 4px;}
.hover-d{cursor: pointer;}

.answer .answer_list .ans_left .online a{
	width: 80px;
	height: 26px;
	border: 1px solid #e2e2e2;
	line-height: 26px;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;
	display: block;
}
.answer .answer_list .answer_txt .ans_right{
	float: left;
	width: 748px;
}
.answer .answer_list .answer_txt .ans_right .answer_name em{
	font-size: 15px;
	color: #2767b1;
}
.answer .answer_list .answer_txt .ans_right .answer_name i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.answer .answer_list .answer_txt .ans_right .answer_name b{
	font-weight: normal;
}
.answer .answer_list .answer_txt .ans_right .no_rr em{
	color: #000;
	margin-right: 5px;
}
.answer .answer_list .answer_txt .ans_right .no_rr b{
	font-weight: normal;
}
.answer .answer_list .answer_txt .ans_right ul{
	width: 438px;
	margin-top: 17px;
}
.answer .answer_list .answer_txt .ans_right ul li{
	width: 200px;
	float: left;
	margin-right: 10px;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #999999;
	margin-bottom: 15px;
}
.answer .answer_list .answer_txt .ans_right ul li i{
	background: url(../images/ys_42.png) no-repeat center;
    width: 17px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
}
.answer .answer_list .answer_txt .ans_right ul .tel{
	color: #f69634;
}
.answer .answer_list .answer_txt .ans_right ul .tel i{
    background-position: -27px -48px;
}
.answer .answer_list .answer_txt .ans_right ul .no_ren{
	color: #999999;
}
.answer .answer_list .answer_txt .ans_right ul .no_ren i{
    background-position: -4px -48px;
}
.answer .answer_list .answer_txt .ans_right ul .place i{
	background-position: -2px -2px;
}
.answer .answer_list .answer_txt .ans_right ul .help i{
	background-position: -23px -2px;
}
.answer .answer_list .answer_txt .ans_right ul .shang i{
	background-position: -45px -2px;
}
.answer .answer_list .answer_txt .ans_right .ans_txt{
	font-size: 15px;
}
.answer .answer_list .answer_txt .ans_right .ans_time{
	color: #b0b0b0;
	width: 748px;
	text-align: right;
}
.answer .answer_list .answer_txt .ans_right .answer_repeat .repeat_pic{
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin-right: 8px;
	background: url(../images/ys_47.png) no-repeat center;
}
.answer .answer_list .answer_txt .ans_right .answer_repeat .repeat_pic img{
	width: 50px;
}
.answer .answer_list .answer_txt .ans_right .answer_repeat h1{
	font-size: 14px;
	color: #2767b1;
}
.answer .answer_list .answer_txt .ans_right .answer_repeat .ans_txt1{
	font-size: 14px;
}
.answer .answer_list .answer_txt .ans_right .user_list{
	margin-top: 10px;
	margin-bottom: 10px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu{
	float: right;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu p{
	float: left;
	width: 55px;
	cursor: pointer;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu p:hover{
	color: #2767b1;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu em{
	float: left;
	margin: 0 10px;
	color: #dddddd;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu p i{
	background: url(../images/ys_50.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
    margin-right: 5px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .ask i{
	background-position: -2px -49px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .caina i{
	background-position: -31px -49px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .pingjia i{
	background-position: -60px -49px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .dashang i{
	background-position: -88px -49px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .ask:hover i{
	background-position: -2px -71px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .caina:hover i{
	background-position: -31px -71px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .pingjia:hover i{
	background-position: -60px -71px;
}
.answer .answer_list .answer_txt .ans_right .user_list .uu .dashang:hover i{
	background-position: -88px -71px;
}
.ask_bc{
	color: #2767b1!important;
}
.ask_bc i{
	background-position: -2px -71px!important;
}
.ad_1 {
	margin: 40px 0;
}
.ad_1 a img{
	width: 850px;
	height: 88px;
}
.border_none{
	border-bottom: none!important;
}
.part_2 .p2_left .other_pro1{
	margin-bottom: 20px;
}
.part_2 .p2_left .other_pro1 span{
	float: left;
}
.part_2 .p2_left .other_pro1 h1{
	    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 850px;
    height: 35px;
    line-height: 35px;
}
.part_2 .p2_left .other_pro1 h1 a{
	    float: right;
    font-size: 12px;
    color: #b0b0b0;
}
.part_2 .p2_left .other_pro1 ul{
	width: 1000px;
	margin-top: 10px;
}
.part_2 .p2_left .other_pro1 ul li{
    background: url(../images/point.png) no-repeat left;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    width: 400px;
    float: left;
    margin-right: 30px;
}
.part_2 .p2_left .other_pro1 ul li p{
    float: left;
    width: 336px;
    height: 40px;
    overflow: hidden;
}
.part_2 .p2_left .other_pro1 ul li em{
 	float: right;
    color: #a9a9a9;
}
.part_2 .p2_right{
	width: 300px;
	float: right;
}
.part_2 .p2_right .personal{
	background: #f5f5f5;
	padding: 20px;
}
.part_2 .p2_right .personal .personal_infor{
	padding-bottom: 22px;
	border-bottom: 1px solid #dddddd;
}
.part_2 .p2_right .personal .personal_infor .infor_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.part_2 .p2_right .personal .personal_infor .infor_pic img{
	height: 86px;
	margin: 0 auto;
	display: block;
}
.part_2 .p2_right .personal .personal_infor h1{
	font-size: 14px;
	color: #2767b1;
	line-height: 25px;
}
.part_2 .p2_right .personal .personal_infor h1 i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    vertical-align: middle;
    margin-left: 9px;
}
.part_2 .p2_right .not_vip .personal_infor h1{
	color: #000;
}
.part_2 .p2_right .not_vip .personal_infor h1 b{
	padding: 0 3px;
	width: 48px;
	height: 14px;
	background: #ababab;
	font-weight: normal;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-left: 5px;
}
.part_2 .p2_right .personal .personal_infor span{
	font-size: 12px;
	margin: 12px 0;
	display: block;
}
.part_2 .p2_right .personal .personal_infor p a{
    width: 50px;
    height: 20px;
    background: #2767b1;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin-left: 13px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul{
	width: 400px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul li{
    float: left;
    width: 89px;
    margin-right: 72px;
    margin-top: 15px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul li a{
	font-size: 14px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul li i{
	background: url(../images/ys_50.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul li:hover a{
	color: #2767b1;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zh a i{
    background-position: -2px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .wz a i{
    background-position: -31px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .hd a i{
    background-position: -61px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zx a i{
    background-position: -88px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .tb a i{
    background-position: -119px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .fw a i{
    background-position: -151px -4px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zh:hover a i{
    background-position: -2px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .wz:hover a i{
    background-position: -31px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .hd:hover a i{
    background-position: -61px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zx:hover a i{
    background-position: -88px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .tb:hover a i{
    background-position: -119px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .fw:hover a i{
    background-position: -151px -27px;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zx{
	position: relative;
}
.part_2 .p2_right .personal .personal_list .personal_nn ul .zx b{
	font-weight: normal;
	height: 16px;
	width: 16px;
	text-align: center;
	line-height: 16px;
	padding: 3px;
	border-radius: 50px;
	background: #fea861;
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: -25px;
	top: 0;
}
.part_2 .p2_right .personal .personal_list .per_foot{
	margin-top: 20px;
}
.part_2 .p2_right .personal .personal_list .per_foot .enter{
	width: 200px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	background: #2767b1;
	border-radius: 5px;
	float: left;
}
.part_2 .p2_right .personal .personal_list .per_foot .quite{
	float: right;
	font-size: 14px;
	line-height: 35px;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1{
	margin-top: 20px;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 ul {
	width: 220px;
	float: left;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 ul li{
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 ul li a{
	color: #fff;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 ul .to_vip{
	float: left;
	background: #fea861;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 ul .enter{
	float: right;
	background: #2767b1;
}
.part_2 .p2_right .not_vip .personal_list .per_foot_1 em{
	float: right;
	font-size: 14px;
	line-height: 35px;
}
.part_2 .p2_right .loading{
	width: 258px;
	padding: 0 21px;
	background: #f5f5f5;
}
.part_2 .p2_right .loading h1{
	font-size: 16px;
	font-weight: bold;
    padding: 15px 0;
}
.part_2 .p2_right .loading .name{
	width: 260px;
	background: #fff;
	height: 35px;
	line-height: 35px;
	position: relative;
	margin-bottom: 10px;
}
.part_2 .p2_right .loading .name b{
	position: absolute;
    background: url(../images/person.png) no-repeat left;
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: 7px;
    top: 9px;
}
.part_2 .p2_right .loading .name input{
	border: none;
	font-size: 14px;
	padding-left: 30px;
}
.part_2 .p2_right .loading .password{
	width: 260px;
	background: #fff;
	height: 35px;
	line-height: 35px;
	position: relative;
}
.part_2 .p2_right .loading .password b{
	position: absolute;
    background: url(../images/lock.png) no-repeat left;
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: 7px;
    top: 9px;
}
.part_2 .p2_right .loading .password input{
	border: none;
	font-size: 14px;
	padding-left: 30px;
}
.part_2 .p2_right .loading button{
	width: 260px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	background: #2767b1;
	border: none;
	margin-top: 14px;
}
.part_2 .p2_right .loading .zhuce{
	width: 260px;
	margin-top: 10px;
	position: relative;
	padding-bottom: 40px;
	border-bottom: 1px solid #e2e2e2;
}
.part_2 .p2_right .loading .zhuce span{
	float: left;
	font-size: 12px;
	color: #000;
	width: 118px;
}
.part_2 .p2_right .loading .zhuce span a{
	color: #000;
}
.part_2 .p2_right .loading .zhuce span em{
	color: #2767b1;
}
.part_2 .p2_right .loading .zhuce p{
	float: right;
	width: 60px;
}
.part_2 .p2_right .loading .zhuce h2{
	width: 109px;
    text-align: center;
    background: #f5f5f5;
    position: absolute;
    bottom: -9px;
    left: 74px;
}
.part_2 .p2_right .loading ul li{
	float: left;
	width: 45px;
	height: 45px;
	margin:15px 20px 12px;
}
.part_2 .p2_right .loading ul li a i{
	width: 45px;
	height: 45px;
	background: url(../images/load.png) no-repeat;
	display: inline-block;
}
.part_2 .p2_right .loading ul .qq a i{
	background-position: -6px -4px
}
.part_2 .p2_right .loading ul .wx_2 a i{
	background-position: -69px -4px;
}
.part_2 .p2_right .loading ul .sion a i{
	background-position: -132px -4px
}
.part_2 .p2_right .tj{
	margin-bottom: 20px;
	margin-top: 35px;
}
.part_2 .p2_right .tj h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.part_2 .p2_right .tj ul{
	margin-top: 5px;
	width: 400px;
}
.part_2 .p2_right .tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.part_2 .p2_right .tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.part_2 .p2_right .tj ul li .tj_pic img{
	height: 86px;
	display: block;
	width: 86px;
}
.part_2 .p2_right .tj ul li .tj_pic:hover .infor{
	display: block;
}
.part_2 .p2_right .tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.part_2 .p2_right .tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.part_2 .p2_right .tj ul li .infor .to a{
	color: #fff;
}
.part_2 .p2_right .tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.part_2 .p2_right .tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.part_2 .p2_right .tj ul li .infor .rz {
	width: 360px;
}
.part_2 .p2_right .tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.part_2 .p2_right .tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.part_2 .p2_right .tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.part_2 .p2_right .tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.part_2 .p2_right .tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.part_2 .p2_right .tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.part_2 .p2_right .tj ul li span{
	color: #2767b1;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.part_2 .p2_right .tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.part_2 .p2_right .tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.part_2 .p2_right .tj ul li s a{
	display: block;
}
.part_2 .p2_right .ad_1{
	margin: 20px 0;
}
.part_2 .p2_right .ad_1 a img{
	width: 300px;
	height: 88px;
}
.part_2 .p2_right .ad_2 a img{
	width: 300px;
	height: 180px;
}
.part_2 .p2_right .wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.part_2 .p2_right .wx img{
    margin-top: 29px;
}
.part_2 .p2_right .wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.part_2 .p2_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.part_2 .p2_right .wx p{
	font-size: 12px;
	color: #999999;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}
.enjoy {
	width: 454px;
	height: 685px;
	background: #fff;
	position: fixed;
	top: 14%;
	left: 40%;
	z-index: 999;
	display: none;
}
.enjoy .enjoy_lead{
	height: 39px;
	background: #2767b1;
	color: #fff;
	line-height: 39px;
}
.enjoy .enjoy_lead p{
	font-size: 14px;
	float: left;
	margin-left: 10px;
	width: 50px;
}
.enjoy .enjoy_lead i{
	font-style: normal;
	font-size: 20px;
	float: right;
	margin-right: 10px;
	cursor:pointer;
	padding: 0 10px;
	width: 17px;
}
.enjoy .person{
	margin: 0 auto;
	width: 118px;
}
.enjoy .person span{
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
    margin-top: 10px;
}
.enjoy .person span img{
	width: 80px;
	height: 80px;
}
.enjoy .person em{
	color: #2767b1;
	width: 85px;
	font-size: 14px;
	float: left;
	text-align: center;
}
.enjoy .person i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    margin-left: 9px;
    float: left;
    margin-top: 3px;
}
.enjoy .en_money{
	padding: 20px 35px 20px 10px;
	border-bottom: 1px dashed #e2e2e2;
}
.enjoy .en_money p{
	font-size: 14px;
}
.enjoy .en_money .dashang_1 ul{
	margin-left: 29px;
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.enjoy .en_money .dashang_1 ul li{
	float: left;
	width: 115px;
	height: 50px;
	background: #eaeaea;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}
.dashang_bc{
	background: #ffa346!important;
}
.enjoy .en_money .other_mnoey{
	width: 352px;
	height: 16px;
	border: 1px solid #c7c7c7;
	padding: 9px 10px 16px 10px;
	line-height: 16px;
	margin-left: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.enjoy .en_money .other_mnoey input{
	width: 352px;
	border: none;
	font-size: 14px;
}
.enjoy .en_money .pay_style ul{
	margin: 20px 0;
	margin-left: 29px;
	width: 600px;
}
.enjoy .en_money .pay_style ul li{
	width: 180px;
	height: 33px;
	line-height: 33px;
	padding: 12px 0;
	float: left;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin-right: 10px;
}
.enjoy .en_money .pay_style ul li em{
	width: 16px;
    height: 16px;
    background: url(../images/ys_48.png) no-repeat;
    background-position: -180px -16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.pay_bc em{
	background-position: -155px -16px !important;
}
.enjoy .en_money .pay_style ul li{
	font-size: 16px;
}
.enjoy .en_money .pay_style ul li i{
	background: url(../images/ys_48.png) no-repeat;
	width: 34px;
	height: 34px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 10px;
}
.enjoy .en_money .pay_style ul .zfb i{
    background-position: -8px -7px;
}
.enjoy .en_money .pay_style ul .wx_1 i{
    background-position: -66px -8px;
}
.enjoy .en_money .pay_style span{
	display: block;
	margin-left: 29px;
}
.enjoy .en_money .pay_style span b{
	background: url(../images/ys_48.png) no-repeat;
    background-position: -124px -16px;
	width: 16px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 10px;
}
.enjoy .rigthnow a{
	display: block;
	width: 112px;
	height: 26px;
	background: #2767b1;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 26px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 15px;
}
.sc_bac {
	color: #62d1cb!important;
}
.sc_bac i{
    background-position: -138px -7px!important;
}
.repeat_txt{
	display: none;

}
.repeat_txt .shuru{
	padding: 10px;
	height: 90px;
	border: 1px solid #ebebeb;
}
.repeat_txt .re_button{
	width: 100%;
}
.repeat_txt .re_button a{
	float: right;
	width: 100px;
	height: 30px;
	background: #2767b1;
	line-height: 30px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	border-radius: 5px;
}
.huida_bc i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.huifu_bc p{
	color: #2767b1!important;
}
.huifu_bc i{
	background-position: -138px -68px!important;
}
.caina_list{
	width: 420px;
	height: 200px;
	background: #fff;
	position: fixed;
	top: 20%;
	left: 40%;
	z-index: 999;
	display: none;
	border-radius: 5px;
}
.caina_list .caina_lead{
	height: 38px;
	border-bottom: 1px solid #dddddd;
	color: #fff;
	background: #2767b1;
	line-height: 38px;
}
.caina_list .caina_lead p{
	    font-size: 14px;
    float: left;
    margin-left: 10px;
    width: 70px;
}
.caina_list .caina_lead i{
    font-style: normal;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    width: 20px;
}
.caina_list span{
	width: 180px;
	margin: 40px auto;
	font-size: 16px;
	display: block;
}
.caina_list ul {
	width: 178px;
	margin: 0 auto;
}
.caina_list ul li{
	width: 80px;
	height: 26px;
	border-radius: 5px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.caina_list ul .sure{
	background: #2767b1;
	float: left;
}
.caina_list ul .cancel{
	background: #999999;
	float: right;
}
.pingjia_list{
		width: 625px;
	height: 345px;
	background: #fff;
	position: fixed;
	top: 20%;
	left: 35%;
	z-index: 999;
	display: none;
	border-radius: 5px;
}
.pingjia_list .pingjia_lead{
	height: 38px;
	border-bottom: 1px solid #dddddd;
	color: #fff;
	background: #2767b1;
	line-height: 38px;
}
.pingjia_list .pingjia_lead p{
	    font-size: 14px;
    float: left;
    margin-left: 10px;
    width: 70px;
}
.pingjia_list .pingjia_lead i{
    font-style: normal;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    width: 20px;
}
.pingjia_list .pingjia_ta{
	padding: 0 10px;
}
.pingjia_list .pingjia_ta .pingjia_txt{
	width: 595px;
	height: 157px;
	padding: 5px;
	border: 1px solid #e2e2e2;
	margin-top: 10px;
}
.pingjia_list .pingjia_ta  label{
	font-size: 16px;
	float: left;
	line-height: 40px;
}
.pingjia_list .pingjia_ta .xing{
	margin-top: 10px;
}
.pingjia_list .pingjia_ta .widgt{
    overflow: hidden;
    padding: 8px;
    float: left;
}
.pingjia_list .pingjia_ta .widgt .pingfen{
	width: 126px;
    height: 22px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    background: url(../images/ys_51.png) 0 -34px repeat-x;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.pingjia_list .pingjia_ta .widgt .pingfen .pingfen_selected{
    position: absolute;
    height: 22px;
    background: url(../images/ys_51.png)0 -1px repeat-x;
    font-size: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 2;
}
.pingjia_list .tiji a{
	width: 80px;
	height: 26px;
	background: #2767b1;
	line-height: 26px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px;
}
.ad_3{
	width: 300px;
	height: 225px;
	background: #000;
}
.ad_4{
	margin-top: 20px;
	width: 300px;
	height: 140px;
	background: #000;
}
.rank{
	margin-top: 20px;
}
.rank .ranklead{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.rank .ranklead i{
	float: right;
	margin-right: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/RS.png) no-repeat center;
    position: relative;
    top: 9px;
	font-style: normal;
	line-height: 20px;
	font-size: 12px;
	cursor: pointer;
}
.rank .ranklead i:hover .HelpBox{
	display: block;
}
.rank .ranklead i .HelpBox{
    position: absolute;
    top: 23px;
    z-index: 10;
    right: -15px;
    background: url(../images/help.png) no-repeat center;
    width: 188px;
    height: 64px;
    display: none;
}
.rank .ranklead i .HelpBox em{
	display: block;
	padding: 10px;
	padding-left: 15px;
	padding-top: 13px;
}
.rankbox{
	margin-top: 15px;
	position: relative;
}
.rankbox .rankpic{
	float: left;
	width: 86px;
	height: 86px;
	overflow: hidden;
	margin-right: 10px;
}
.rankbox .rankpic img{
	width: 86px;
}
.rankbox p{
	font-size: 16px;
	padding-top: 5px;
}
.rankbox span{
	display: block;
	margin-top: 8px;
	color: #999999;
}
.rankbox span em{
	color: #fea861;
}
.rankbox .rankicon1{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -5px -3px;
}
.rankbox .rankicon2{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -54px -3px;
}
.rankbox .rankicon3{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -103px -3px;
}
.rankbox .rankicon4{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -152px -3px;
}