.part_1 {
    width: 1200px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}
.part_2{
	width: 1200px;
	margin: 0 auto;
}
.part_2 .p2_left{
	float: left;
	width: 848px;
}
.part_2 .p2_left .screen{
	width: 846px;
	border: 1px solid #ededed;
	margin-bottom: 40px;
}
.part_2 .p2_left .screen .sc_l {
	background: #f8f8f8;
}
.part_2 .p2_left .screen div span{
	width: 98px;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	text-align: right;
	padding-right: 10px
}
.part_2 .p2_left .screen div .sc_1{
	width: 738px;
	float: left;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul {
	margin-top: 7px;
	margin-bottom: 5px;
}
.part_2 .p2_left .screen .sc_l1 .sc_1 ul li{
	float: left;
	margin-left: 10px;
	text-align: center;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.sc_bc{
	background: #2767b1;
	border-radius: 5px;
}
.sc_bc a{
	color: #fff;
}
.part_2 .p2_left .p2l_list .ll_lead{
	width: 848px;
	border-bottom: 2px solid #2767b1;
}
.part_2 .p2_left .p2l_list .ll_lead ul li{
	float: left;
	text-align: center;
	padding: 0 12px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	margin-right: 20px;
}
.part_2 .p2_left .p2l_list .ll_lead ul li a{
	display: block;
}
.ll_bc{
	background: #2767b1;
}
.ll_bc a{
	color: #fff;
}
.part_2 .p2_left .p2l_list .prot{
	width: 848px;
	padding: 20px 0;
	border-bottom: 1px solid #e2e2e2;
}
.part_2 .p2_left .p2l_list .prot .prot_left{
	float: left;
	width: 63px;
	height: 63px;
	text-align: center;
	font-size: 15px;
	margin-top: 14px;
	margin-right: 15px;
	margin-left: 10px;
	background: #f8f8f8;
}
.part_2 .p2_left .p2l_list .prot .prot_left span{
	font-size: 20px;
	color: #fea861;
	margin-top: 4px;
	display: block;
}
.part_2 .p2_left .p2l_list .prot .done{
	color: #2767b1;
}
.part_2 .p2_left .p2l_list .prot .done i{
	background-position: -39px -2px;
}
.part_2 .p2_left .p2l_list .prot .norepeat{
	color: #999999;
}
.part_2 .p2_left .p2l_list .prot .norepeat i{
	background-position: -74px -2px;
}
.part_2 .p2_left .p2l_list .prot .prot_right{
	float: left;
	width: 758px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead{
	height: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead em{
	font-size: 16px;
	float: left;
	font-weight: bold;
	margin-right: 37px;
	width: 300px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead i{
	font-size: 12px;
	float: left;
	font-style: normal;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.money{
	float: right;
    line-height: 29px;
	color: #fea861;
	font-size: 16px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.money{
	float: right;
    line-height: 29px;
	color: #fea861;
	font-size: 16px;
	margin-left: 25px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.money b{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 25px;
    display: block;
    background-position: -174px -2px;
    float: left;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.money{
	float: right;
    line-height: 29px;
	color: #fea861;
	font-size: 16px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.down{
	float: right;
    line-height: 29px;
	color: #fea861;
	font-size: 16px;
	color: #91c15c;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_lead span.down b{
	display: inline-block;
	width: 29px;
	height: 29px;
	vertical-align: middle;
	background: url(../images/dui.png) no-repeat center 3px;
}
.part_2 .p2_left .p2l_list .prot .prot_right p{
	font-size: 14px;
	margin-bottom: 10px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot{
	font-size: 12px;
	color: #999999;
    height: 26px;
    line-height: 26px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .time{
	float: left;
	margin-right: 22px;
	width: 145px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .time s{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 25px;
    display: block;
    background-position: -106px -2px;
    float: left;	
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .read{
	float: left;
	width: 200px;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .read s{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 25px;
    display: block;
    background-position: -128px -2px;
    float: left;	
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .from{
	float: right;
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .from.tel s{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 25px;
    display: block;
    background-position: -147px -2px;
    float: left;	
}
.part_2 .p2_left .p2l_list .prot .prot_right .pp_foot .from.wei s{
    background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 25px;
    display: block;
    background-position: -177px -57px;
    float: left;	
}
.part_2 .p2_left .fen{
	width: 445px;
    margin: 0 auto;
    margin-top: 50px;
}
.part_2 .p2_left .fen ul li{
	    float: left;
    width: 37px;
    height: 36px;
    border-radius: 5px;
    background: #eeeeee;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
}
.part_2 .p2_left .fen ul li:hover{
	    background: #2767b1;
}
.part_2 .p2_left .fen ul li:hover a{
	color: #fff;
}
.part_2 .p2_left .fen ul li a{
	display: block;
}
.part_2 .p2_left .fen ul .fen_all {
	width: 60px;
    height: 36px;
    border-radius: 0;
    background: #fff;
}
.part_2 .p2_right{
	width: 300px;
	float: right;
}
.part_2 .p2_right .personal{
	background: #f5f5f5;
	padding: 20px;
}
.part_2 .p2_right .personal .personal_infor{
	padding-bottom: 22px;
	border-bottom: 1px solid #dddddd;
}
.part_2 .p2_right .personal .personal_infor .infor_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.part_2 .p2_right .personal .personal_infor .infor_pic img{
	height: 86px;
	display: block;
	margin: 0 auto;
}
.part_2 .p2_right .personal .personal_infor h1{
	font-size: 14px;
	color: #3c95cb;
	line-height: 25px;
}
.part_2 .p2_right .personal .personal_infor h1 i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    background-position: -78px -63px;
    vertical-align: middle;
    margin-left: 9px;
}
.part_2 .p2_right .personal .personal_infor span{
	font-size: 12px;
	margin: 12px 0;
	display: block;
}
.part_2 .p2_right .personal .personal_infor p a{
    width: 50px;
    height: 20px;
    background: #2767b1;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin-left: 13px;
}
.part_2 .p2_right .personal .personal_list ul{
	width: 400px;
}
.part_2 .p2_right .personal .personal_list ul li{
    float: left;
    width: 89px;
    margin-right: 72px;
    margin-top: 15px;
}
.part_2 .p2_right .personal .personal_list ul li a{
	font-size: 14px
}
.part_2 .p2_right .personal .personal_list ul li i{
	background: url(../images/ys_45.png) no-repeat;
    width: 23px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}
.part_2 .p2_right .personal .personal_list ul .zh a i{
	background-position: -9px -34px;
}
.part_2 .p2_right .personal .personal_list ul .wz a i{
	background-position: -42px -34px;
}
.part_2 .p2_right .personal .personal_list ul .hd a i{
	background-position: -75px -34px;
}
.part_2 .p2_right .personal .personal_list ul .zx a i{
    background-position: -109px -34px;
}
.part_2 .p2_right .personal .personal_list ul .tb a i{
    background-position: -141px -34px;
}
.part_2 .p2_right .personal .personal_list ul .gj a i{
	background-position: -174px -34px;
}
.part_2 .p2_right .personal .personal_list ul .tg a i{
    background-position: -8px -62px;
}
.part_2 .p2_right .personal .personal_list ul .fw a i{
	background-position: -42px -62px;
}
.part_2 .p2_right .personal .personal_list .per_foot{
	margin-top: 20px;
}
.part_2 .p2_right .personal .personal_list .per_foot .enter{
	width: 200px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	background: #2767b1;
	border-radius: 5px;
	float: left;
}
.part_2 .p2_right .personal .personal_list .per_foot .quite{
	float: right;
	font-size: 14px;
	line-height: 35px;
}
.part_2 .p2_right .tj{
	margin-bottom: 20px;
	margin-top: 35px;
}
.part_2 .p2_right .tj h1{
	font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.part_2 .p2_right .tj ul{
	margin-top: 5px;
	width: 400px;
}
.part_2 .p2_right .tj ul li{
	width: 86px;
	height: 158px;
	float: left;
	text-align: center;
	margin-top: 12px;
	position: relative;
	margin-right: 21px;
}
.part_2 .p2_right .tj ul li .tj_pic{
	width: 86px;
	height: 86px;
	overflow: hidden;
	z-index: 999;
}
.part_2 .p2_right .tj ul li .tj_pic img{
	height: 86px;
	display: block;
	width: 86px;
}
.part_2 .p2_right .tj ul li .tj_pic:hover .infor{
	display: block;
}
.part_2 .p2_right .tj ul li .infor{
    position: absolute;
    right: -314px;
    top: 85px;
    width: 360px;
    height: 230px;
    background: url(../images/ys_19.png) no-repeat center;
    padding: 20px;
    text-align: left;
    display: none;
    z-index: 9999;
}
.part_2 .p2_right .tj ul li .infor .to{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 39px;
    right: 22px;
    background: #fea861;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
.part_2 .p2_right .tj ul li .infor .to a{
	color: #fff;
}
.part_2 .p2_right .tj ul li .infor h3{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 360px;
	height: 20px;
	overflow-y: hidden;
}
.part_2 .p2_right .tj ul li .infor span{
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.part_2 .p2_right .tj ul li .infor .rz {
	width: 360px;
}
.part_2 .p2_right .tj ul li .infor .rz ul li{
	float: left;
	width: 85px;
	height: 19px;
	margin: 15px 10px 15px 0;
	padding-left: 6px;
}
.part_2 .p2_right .tj ul li .infor .rz ul .zy{
	background: url(../images/ys_20.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .rz ul .moble{
	background: url(../images/ys_21.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .rz ul .vip{
	background: url(../images/ys_22.png) no-repeat left;
}
.part_2 .p2_right .tj ul li .infor .in_txt{
	width: 360px;
	height: 38px;
	overflow: hidden;
}
.part_2 .p2_right .tj ul li .infor .pj{
	margin: 0 auto;
	width: 251px;
}
.part_2 .p2_right .tj ul li .infor .pj i{
	width: 70px;
	text-align: center;
	font-style: normal;
	display: block;
	margin-top: 15px;
	color: #8ccdf4;
}
.part_2 .p2_right .tj ul li .infor .pj b{
	width: 70px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-top: 4px;
	color: #fff;
}
.part_2 .p2_right .tj ul li .infor .pj ul li{
	width: 70px;
	height: 70px;
	background: url(../images/ys_23.png) no-repeat center;
	background-size: 70px;
}
.part_2 .p2_right .tj ul li span{
	color: #2767b1;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}
.part_2 .p2_right .tj ul li p{
	color: #fea761;
	margin-bottom: 5px;
}
.part_2 .p2_right .tj ul li s{
	width: 84px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	border: 1px solid #e2e2e2;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.part_2 .p2_right .tj ul li s a{
	display: block;
}
.part_2 .p2_right .ad_1{
	margin: 20px 0;
}
.part_2 .p2_right .ad_1 a img{
	width: 300px;
	height: 88px;
}
.part_2 .p2_right .ad_2 a img{
	width: 300px;
	height: 180px;
}
.part_2 .p2_right .wx{
    width: 300px;
    height: 296px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 30px;
}
.part_2 .p2_right .wx img{
    margin-top: 29px;
}
.part_2 .p2_right .wx span{
	    display: block;
    font-size: 14px;
    margin-top: 15px;
}
.part_2 .p2_right .wx span i{
	background-image: url(../images/public_icons.png);
	background-position: -6px -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
}
.part_2 .p2_right .wx p{
	font-size: 12px;
	color: #999999;
}
.adBox1{
	width: 300px;
	height: 225px;
	background: #000;
}
.adBox2{
	width: 300px;
	height: 140px;
	background: #000;
	margin-top: 20px;
}
.rank{
	margin-top: 20px;
}
.rank .ranklead{
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    width: 300px;
    height: 35px;
    line-height: 35px;
}
.rank .ranklead i{
	float: right;
	margin-right: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/RS.png) no-repeat center;
    position: relative;
    top: 9px;
	font-style: normal;
	line-height: 20px;
	font-size: 12px;
	cursor: pointer;
}
.rank .ranklead i:hover .HelpBox{
	display: block;
}
.rank .ranklead i .HelpBox{
    position: absolute;
    top: 23px;
    z-index: 10;
    right: -15px;
    background: url(../images/help.png) no-repeat center;
    width: 188px;
    height: 64px;
    display: none;
}
.rank .ranklead i .HelpBox em{
	display: block;
	padding: 10px;
	padding-left: 15px;
	padding-top: 13px;
}
.rankbox{
	margin-top: 15px;
	position: relative;
}
.rankbox .rankpic{
	float: left;
	width: 86px;
	height: 86px;
	overflow: hidden;
	margin-right: 10px;
}
.rankbox .rankpic img{
	width: 86px;
}
.rankbox p{
	font-size: 16px;
	padding-top: 5px;
}
.rankbox span{
	display: block;
	margin-top: 8px;
	color: #999999;
}
.rankbox span em{
	color: #fea861;
}
.rankbox .rankicon1{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -5px -3px;
}
.rankbox .rankicon2{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -54px -3px;
}
.rankbox .rankicon3{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -103px -3px;
}
.rankbox .rankicon4{
	width: 40px;
	height: 46px;
	position: absolute;
	right: 10px;
	top: 20px;
	background: url(../images/rank.png) no-repeat center;
	background-position: -152px -3px;
}