body,html{
	background: #f5f5f5;
}
.part_1{
	width: 100%;
	background: #fff;
	height: 140px;
	line-height: 140px;
}
.part_1 .p1_list{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.part_1 .p1_list .logo{
	margin-top: 20px;
	float: left;
	width: 149px;
}
.part_1 .p1_list span{
	float: left;
	font-size: 26px;
	margin-left: 30px;
	width: 120px
}
.part_1 .p1_list p{
	float: right;
	width: 635px;
	float: right;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}
.part_1 .p1_list p img{
	margin-top: 35px;
}
.part_1 .p1_list p em{
	font-weight: bold;
	color: #f7532b;
	margin: 0 5px;
}
.QR{
	background: #fff;
	margin-top: 30px;
	height: 614px;
	margin-bottom: 100px;
}
.QR .QRtitle{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	padding: 30px 0;
	border-bottom: 1px solid #eeeeee;
}
.ToPC{
	position: relative;
}
.ToPC .TP{
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}
.ToPC .TP i{
	width: 32px;
	height: 30px;
	display: inline-block;
	background: url(../images/pc1.png) no-repeat center;
}
.ToPC .TP:hover i{
	background: url(../images/pc.png) no-repeat center;
}
.ToPC .TP:hover .PC_box{
	display: block;
}
.ToPC .PC_box{
    position: absolute;
    top: 41px;
    right: 77px;
    background: #fff;
    box-shadow: 1px 1px 15px #dedede;
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    display: none;
}
.ToPC .PC_box a{
	display: block;
}
.foot{
	background: #fff;
}
.foot .foot_l span{
    margin: 10px 0 0px 0;
    padding-bottom: 20px;
}
.QR_img{
	text-align: center;
	margin-top: 70px;
}
.QR_img p{
	font-size: 18px;
	margin-top: 20px;
}
.QR_img p em{
	color: #2767b1;
}