.SearchBox{
	height: 500px;
	background: url(../images/banner2.png);
}
.searchlead{
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding-top: 95px;
}
.searchlead img{
	vertical-align: middle;
	margin-right: 53px;
}
.search{
	width: 840px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
}
.search i{
	width: 80px;
	height: 60px;
	display: inline-block;
	background: url(../images/search.png) no-repeat center;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.search input{
	width: 628px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	border: none;
}
.search button{
	width: 132px;
	background: #2767b1;
	color: #fff;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	border: none;
}
.SearchNav{
	width: 840px;
	height: 50px;
	line-height: 50px;
	background: rgba(255, 255, 255, 0.38);
	margin: 0 auto;
	margin-top: 40px;
}
.SearchNav a{
	color: #fff;
	font-size: 16px;
	padding: 0 21px;
}
.SearchNav a:hover{
	color: #ff9e24;
	text-decoration: underline;
}
.LawsList{
	margin-top: 40px;
}
.LawsList .LawsLead{
	font-size: 22px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
}
.LawsLeft{
	float: left;
	width: 556px;
}
.LawsLeft .LL_Com ul li{
	padding: 17px 0;
}
.LawsLeft .LL_Com ul li p a{
	font-size: 14px;
	color: #2767b1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.LawsLeft .LL_Com ul li span{
	display: block;
	color: #b7b7b7;
	margin-top: 3px;
}
.LawsLeft .LL_Com ul li span em{
	margin-right: 18px;
}
.LawsRight{
	float: right;
	width: 555px;
}
.LR_dong ul li a {
	display: block;
	height: 35px;
	line-height: 35px;
	margin-top: 6px;
}
.LR_dong ul li a em{
	color: #2767b1;
	float: left;
	width: 458px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 30px;
	font-size: 14px;
}
.LR_dong ul li a span{
	color: #b7b7b7;
}