/*头部*/
.header{height: .9rem;background: #3176ea;display: -webkit-box;border-bottom: 1px solid #f1f1f1;position: fixed;left: 0;right: 0;top: 0;z-index: 11}
.header .header-c{-webkit-box-flex: 1;text-align: center;}
.header .header-c a{color: #fff;font-size: .32rem;padding: 0 .1rem;line-height: .9rem;}
.header .header-c a.active{color: #ffe44e;}
.header .header-c a.active span{border-bottom: 2px solid #ffe44e;padding-bottom: .05rem;}
.header-l a{display: table-cell;width: .7rem;height: .9rem;vertical-align: middle;}
.header-l a img{width: .5rem;height: auto;margin: 0 auto;display: block;}
.header-r{visibility: hidden;}
.header-r a{width: .7rem;height: .9rem;background: url(../images/star.png) center center no-repeat;background-size: .5rem .5rem;display: block;}
.header-r a.active{background-image: url(../images/star1.png);}

/*内容*/
.content{margin-top: 1rem; padding: .3rem .2rem; font-size: .26rem; line-height: .5rem;}
.content .newsd-tit{font-size: .36rem;}
.content .newsd-info{font-size: .28rem; color: #999; border-bottom: 1px solid #d9d9d9; padding: .15rem 0 .25rem; margin-bottom: .1rem;}
.content .newsd-info span{color: #3176ea;}
