<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var thumbSize = {#$thumbSize#}, thumbType = "{#$thumbType#}",  //缩略图配置
  atlasSize = {#$atlasSize#}, atlasType = "{#$atlasType#}", atlasMax = 0,  //图集配置
	modelType = "renovation", adminPath = "{#$adminPath#}",
	imglist = {#$imglist#}, addrListArr = {#$addrListArr#}, mapCity = "{#$mapCity#}";
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="title">案例名称 ：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="title" id="title" value="{#$title#}" maxlength="60" data-regex=".{3,60}" />
      <span class="input-tips"><s></s>请输入日记标题，3-60位</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label>类别：</label></dt>
    <dd class="radio">
      {#html_radios name="type" values=$typeopt checked=$type output=$typenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $type == 0#}
  <dl class="clearfix jiastyle">
  {#else#}
  <dl class="clearfix hide jiastyle">
  {#/if#}
    <dt><label>装修风格：</label></dt>
    <dd class="radio">
      {#html_radios name='style' values=$styleval output=$stylelist checked=$style separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $type == 0#}
  <dl class="clearfix jiastyle">
  {#else#}
  <dl class="clearfix hide jiastyle">
  {#/if#}
    <dt><label for="units">户型：</label></dt>
    <dd class="radio">
      {#html_radios name='units' values=$unitsval output=$unitslist checked=$units separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  {#if $type == 1#}
  <dl class="clearfix comstyle">
  {#else#}
  <dl class="clearfix hide comstyle">
  {#/if#}
    <dt><label>公装分类：</label></dt>
    <dd class="radio">
      {#html_radios name='comstyle' values=$comstyleval output=$comstylelist checked=$comstyle separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="btype">装修方式：</label></dt>
    <dd class="radio">
      {#html_radios name="btype" values=$btypeopt checked=$btype output=$btypenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>缩略图：</dt>
    <dd>
      <input name="litpic" type="hidden" id="litpic" value="{#$litpic#}" />
      {#if $litpic != ""#}
      <div id="license" class="uploadinp uploading"><span id="uploadBt"></span></div>
      <div id="licenseFiles" style="display:inline-block;"><a href='{#$cfg_attachment#}{#$litpic#}' target="_blank"><img alt="" src="{#$cfg_attachment#}{#$litpic#}&type=small" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;" style="display:inline-block;">删除图片</a>
      {#else#}
      <div id="license" class="uploadinp"><span id="uploadBt"></span></div>
      <div id="licenseFiles"><a href="#" target="_blank"><img alt="" src="" /></a></div>
      <a id="reupload" class="reupload" href="javascript:;">删除图片</a>
      {#/if#}
      <div id="licenseProgress" class="progressBar">
        <i id="licenseProgressBar" class="progress"></i>
        <span id="licensePercent">0%</span>
        <a id="cancelUploadBt" href="javascript:;">取消</a>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="area">面积：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="text" name="area" id="area" value="{#$area#}" data-regex="[1-9]\d*">
        <span class="add-on" style="margin-right:10px;">㎡</span>
        <span class="input-tips"><s></s>请输入装修面积</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt>户型图：</dt>
    <dd>
      <input name="unitspic" type="hidden" id="unitspic" value="{#$unitspic#}" />
      {#if $unitspic != ""#}
      <div class="spic">
        <div class="sholder"><img src="{#$cfg_attachment#}{#$unitspic#}"></div>
        <a href="javascript:;" class="reupload" style="display:inline-block;">重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=renovation&type=card&obj=unitspic" style="width:100%; height:25px; display:none;" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
      {#else#}
      <div class="spic hide">
        <div class="sholder"></div>
        <a href="javascript:;" class="reupload">重新上传</a>
      </div>
      <iframe src ="/include/upfile.inc.php?mod=renovation&type=card&obj=unitspic" style="width:100%; height:25px;" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>
      {#/if#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="price">价格：</label></dt>
    <dd>
      <div class="input-prepend input-append" style="margin:0;">
        <input class="input-mini" type="text" name="price" id="price" value="{#$price#}" data-regex="\d*\.?\d+">
        <span class="add-on" style="margin-right:10px;">万元</span>
        <span class="input-tips"><s></s>请输入装修总价</span>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="designername">设计师：</label></dt>
    <dd style="position:static;">
      <input class="input-medium" type="text" name="designername" id="designername" autocomplete="off" value="{#$designername#}" />
      <input type="hidden" name="designer" id="designer" value="{#$designer#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>请输入案例所属设计师</span>
      <div id="designerList" class="popup_key"></div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="case">设计方案：</label></dt>
    <dd>
      <div class="selectedTags" id="caseName">{#$caseName#}</div>
      <input type="hidden" name="case" id="case" value="{#$case#}" />
      <button class="btn chooseCase" type="button">选择</button>
    </dd>
  </dl>
  {#if $type == 0#}
  <dl class="clearfix jiastyle">
  {#else#}
  <dl class="clearfix hide jiastyle">
  {#/if#}
    <dt><label>所属小区：</label></dt>
    <dd>
      <div class="selectedTags" id="communityName">{#$communityName#}</div>
      <input type="hidden" name="communityid" id="communityid" value="{#$communityid#}" />
      <input type="hidden" name="community" id="community" value="{#$community#}" />
      <button class="btn chooseCommunity" type="button">选择</button>
    </dd>
  </dl>
  {#if $type == 1#}
  <dl class="clearfix hide">
  {#else#}
  <dl class="clearfix hide">
  {#/if#}
    <dt><label for="addrid">所在区域：</label></dt>
    <dd>
      <span id="addrList">
        <select name="addrid" id="addrid" class="input-large"></select>
      </span>
      <span class="input-tips"><s></s>请选择所在地</span>
    </dd>
  </dl>
  {#if $type == 1#}
  <dl class="clearfix hide">
  {#else#}
  <dl class="clearfix hide">
  {#/if#}
    <dt><label for="address">详细地址：</label></dt>
    <dd>
      <input class="input-xlarge" type="text" name="address" id="address" value="{#$address#}" data-regex=".{5,100}" />
      <img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;" title="标注地图位置" />
      <span class="input-tips"><s></s>请输入详细地址，5-100位</span>
      <input type="hidden" name="lnglat" id="lnglat" value="{#$lnglat#}" />
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="began">开工日期：</label></dt>
    <dd><input class="input-medium" id="began" name="began" type="text" value="{#$began#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="end">竣工日期：</label></dt>
    <dd><input class="input-large" id="end" name="end" type="text" value="{#$end#}" /></dd>
  </dl>
  <dl class="clearfix">
    <dt>施工现场：</dt>
    <dd>
      <div class="list-holder">
        <ul id="listSection" class="clearfix"></ul>
      </div>
      <div class="btn-section">
        <div class="uploadinp"><div id="flasHolder"></div></div>
        <div class="upload-tip">
          <p><a href="javascript:;" id="deleteAllAtlas">删除所有</a>&nbsp;&nbsp;{#$atlasType|replace:"*.":""|replace:";":"、"#}，单张最大{#$atlasSize/1024#}M</p>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="visit">是否接受参观：</label></dt>
    <dd class="radio">
      {#html_radios name="visit" values=$visitopt checked=$visit output=$visitnames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="0" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$jsFile#}
</body>
</html>
