<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/center_indent.css">
</head>
<body>
	<div class="rank_lead">
		<ul>
			<li class="rank_bc">下单记录</li>
			<li>待评价</li>
		</ul>
	</div>
	<div class="indent_list">
		<div class="indent_txt"><a href="ci_detail.html">
			<h1>2017-03-23 11:19:28 <em>删除</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>交易成功</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="ci_detail.html">
			<h1>2017-03-23 11:19:28 <em>删除</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>交易成功</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="ci_detail.html">
			<h1>2017-03-23 11:19:28 <em>删除</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>交易成功</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="ci_detail.html">
			<h1>2017-03-23 11:19:28 <em>删除</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>交易成功</span>
			</div>
		</a></div>
		<div class="indent_txt"><a href="ci_detail.html">
			<h1>2017-03-23 11:19:28 <em>删除</em></h1>
			<ul>
				<li>配送位置：b</li>
				<li>配送位置：a</li>
			</ul>
			<div class="it_foot fn-clear">
				<div class="price">总金额：<em>￥0.10</em></div>
				<span>交易成功</span>
			</div>
		</a></div>
	</div>
	<script src="js/public.js"></script>
</body>
</html>