<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/ci_detail1.css">
</head>
<body>
	<div class="ci_lead fn-clear">
		<ul>
			<li ><a href="ci_detail.html">订单状态</a></li>
			<li class="cil_bc"><a href="ci_detail1.html">订单详情</a></li>
		</ul>
	</div>
	<div class="cid_main1">
		<h1><i></i>火鸟测试</h1>
		<div class="content fn-clear">
			<em>商品测试</em>
			<b>￥0.00</b><i>×1</i>
		</div>
		<div class="total fn-clear"><em>1份,￥0.00</em><span>下单合计：</span></div>
	</div>
	<div class="ci_main2">
		<h1><i></i>顾客信息</h1>
		<ul>
			<li>联系姓名：zzx</li>
			<li>联系电话：18192838490</li>
			<li>联系地址：苏州九龙医院-呼吸道门诊</li>
		</ul>
	</div>
	<div class="ci_main3">
		<h1><i></i>订单信息</h1>
		<ul>
			<li>订单编号：12983192</li>
			<li>下单时间：2017-02-23 14:12:34</li>
			<li>订单备注：</li>
			<li>付款方式：货到付款</li>
			<li>订单状态：交易成功</li>
		</ul>
	</div>
	<div class="ci_main4">
		<div class="m4_lead fn-clear"><em>评论</em><span>修改评论</span></div>
		<div class="new_com">
			<div class="com_list">
				<div class="com_txt">
					<p>好评！msdkj嘻嘻嘻</p>
					<span class="fn-clear"><em>2017-03-21 14:23:31</em></span>
					<div class="pingjia"><i></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="refresh">刷新</div>
	<script src="js/public.js"></script>
</body>
</html>