<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/dynamic.css">
</head>
<body>
	<div class="dy_lead"><span>共有13条评论</span></div>
	<div class="dy_list">
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
		<div class="dy_txt">
			<div class="dt_1 fn-clear"><em>lkajd</em><span>2017-03-21 14:17:09</span></div>
			<div class="dt_2">点了一份商品测试</div>
		</div>
	</div>
	<script src="js/public.js"></script>
</body>
</html>