<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>进店外卖 服务到家</title>
	<script src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/indent_detail.css">
</head>
<body>
	<div class="ing fn-clear">
		<div class="ing_txt on"><em><i></i></em>待抢</div>
		<span class='line_1 on_1'></span>
		<div class="ing_txt"><em><i></i></em>已抢</div>
		<span class='line_2'></span>
		<div class="ing_txt"><em><i></i></em>成功</div>
	</div>
	<div class="indent_information">
		<h1>订单信息 <em>取消订单</em></h1>
		<ul>
			<li><em>配送位置：</em><span>b</span></li>
			<li><em>配送位置：</em><span>a</span></li>
			<li><em>服务费：</em><span>100元</span></li>
			<li><em>联系姓名：</em><span>zzx</span></li>
			<li><em>联系电话：</em><span>15103858291</span></li>
			<li><em>联系地址：</em><span>苏州九龙医院-呼吸道门诊 快递员</span></li>
			<li><em>下单时间：</em><span>2017-03-23 11:12:32</span></li>
			<li><em>订单状态：</em><b>待抢</b></li>
		</ul>
	</div>
	<div class="refresh">
		<button>刷新</button>
	</div>
	<div class="sure">
		<h1>您确定取消订单么</h1>
		<ul class="fn-clear">
			<li class="cancle">取消</li>
			<li>确定</li>
		</ul>
	</div>
	<div class="disk"></div>
	<script src="js/public.js"></script>
	<script src="js/indent_detail.js"></script>
</body>
</html>