
body,html{background: #f4f4f4;}

select{appearance:none; -moz-appearance:none; -webkit-appearance:none; border: 0; outline: 0; background: transparent;}
input{-webkit-appearance: none;}
::-webkit-input-placeholder {color:#b3b6be;}
:-moz-placeholder {color:#b3b6be;}
::-moz-placeholder {color:#b3b6be;}
:-ms-input-placeholder {color:#b3b6be;}

.main{background: #fff;}

.list{margin-top: .6rem;}
.inpbox{display: table; font-size: .26rem; border-bottom: 1px solid #f4f4f4; width: 100%; padding: .1rem 0; line-height: .6rem;}
.inpbox dt{display: table-cell; width: 1.6rem; color: #83868f; vertical-align: top;}
.inpbox dt span{padding-left: .2rem;}
.inpbox dd{display: table-cell; padding-right: .4rem; position: relative;}
.inpbox dd input{width: 100%; border: 0; outline: 0;}
.inpbox dd .textarea{width: 100%; height: 2rem; padding-top: .1rem; border: 0; outline: 0;}
.inpbox dd .radioBox{position: absolute; right: 0; top: 0;}
.inpbox dd .radioBox a{display: inline-block; height: .6rem; margin-right: .4rem; color: #0c0d0e;}
.inpbox dd .radioBox a:before{content: ""; width: .32rem; height: .32rem; background: url(../images/radio2.png) center center no-repeat; background-size: contain; display: inline-block; vertical-align: -0.06rem; margin-right: .1rem;}
.inpbox dd .radioBox a.active:before{background-image: url(../images/radio1.png);}
.inpbox dd .code{position: absolute; right: .4rem; top: 0; height: .6rem;}
.inpbox dd .area2{display: none;}
.autocomplete-suggestions{background: #fff; margin-top: .2rem; border: 1px solid #f4f4f4; box-shadow: 0px 6px 10px 4px rgba(0,0,0,0.3);}
.autocomplete-suggestions .autocomplete-suggestion{font-size: .26rem; line-height: .6rem; color: #b3b6be; text-indent: .2rem;}
.autocomplete-selected{background: #f0f0f0;}
select.w100{width: 100%;}
select.w30{width: 30%;}
.community-addr{display: none;}

/*错误提示*/
.error{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.error p{position: fixed; width: 150px; background-color: rgba(0,0,0,.7); border-radius: 5px; color: #fff; font-size: 16px; line-height: 1.4; text-align: center; padding: 12px 10px; z-index: 9999; left: 50%; margin-left: -75px; top: 50%; margin-top: -24px;}

.submit{padding: 20px 14px; background: #f4f4f4;}
.submit a{display: block; width: 100%; height: .7rem; line-height: .7rem; background: #df3031; color: #fff; border-radius: .04rem; text-align: center; font-size: .28rem;}

.state0,.state2 {padding:.2rem;text-align: center;color: #f60;font-weight: bold;}