*{padding: 0;margin: 0;}
body{font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;font-size: .24rem;max-width: 1080px;margin: 0 auto;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{background-color: #f8f8f8;}
body.show{opacity: 1;}
input{-webkit-appearance: none;}

/*头部*/
.header{height: 1rem;line-height: 1rem;display: -webkit-box;background: #FE5400;color: #fff;}
.header a{display: table-cell;height: 1rem;vertical-align: middle;width: 1rem;}
.header-l{width: 1rem;}
.header-l img{height: .4rem;display: block;margin: 0 auto;}
.header-c{-webkit-box-flex: 1;text-align: center;font-size: .36rem;}
.header-r a{color: #fff;font-size: .3rem;}

/*logo*/
.logo{width: 100%;padding: .8rem 0;}
.logo a{display: block;}
.logo img{display: block;height: 1rem;margin: 0 auto;}
.form-box input{display: block;width: 6.1rem;padding: .3rem;border: none;font-size: .28rem;line-height: .4rem;-webkit-appearance: none; border-radius: 0; margin-left: .8rem;}
.form-box input.password{border-bottom: none;}
.form-box form{position: relative;}
.login-btn{margin-top: .4rem;}
.login-btn input{display: block;width: 90%;height: .9rem;color: #fff;background: #FE5400;margin: 0 auto;border-radius: .06rem;font-size: .28rem;text-align: center;line-height: .9rem;-webkit-appearance: none; padding: 0;}
.find-btn{text-align: center;font-size: .28rem;margin-top: .4rem;}
.form-newpw{display: -webkit-box;}
.form-newpw input.password{-webkit-box-flex: 1;}
.form-newpw a{display: table-cell;vertical-align: middle;height: 1rem;padding: 0 .4rem;background: #fff url(../images/eye2.png) center center no-repeat;background-size: auto .3rem;}
.form-newpw a.show{background: #fff url(../images/eye1.png) center center no-repeat;background-size: auto .3rem;}
.form-newpw.bb {border-bottom: 1px solid #e6e6e8;}

.form-box input.vericode{-webkit-box-flex: 1;border-bottom: none;-webkit-appearance: none;}
.code-box{cursor: pointer;background: #fff;display: table-cell;height: .8rem;vertical-align: middle;}
#verifycode{vertical-align: middle;}

.inpbox{position: relative; border-bottom: 1px solid #e6e6e8; border-top: 1px solid #e6e6e8; margin-bottom: .2rem;}
.inpbox .icon{position: absolute; width: .8rem; height: 1rem;}
.inpbox .icon1{background: #fff url(../images/login_icon1.png) center center no-repeat; background-size: .4rem auto;}
.inpbox .icon2{background: #fff url(../images/login_icon2.png) center center no-repeat; background-size: .4rem auto;}
.inpbox .icon3{background: #fff url(../images/login_icon3.png) center center no-repeat; background-size: .4rem auto;}

/*其他方式登录*/
.other-login{margin: .6rem 0;}
.other-login .other-login-tit{border-bottom: 1px solid #e6e6e8;position: relative;color: #dadada;font-size: .26rem;line-height: .8rem;margin-bottom: 1rem;}
.other-login .other-login-tit span{display: block;width: 28%;position: absolute;top: -.4rem;background: #f8f8f8;left: 37%;text-align: center;}
.other-login-img{display: -webkit-box;}
.other-login-img a{display: block;-webkit-box-flex: 1;text-align: center;}
.other-login-img a img{width: 1rem;height: 1rem;}
