.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.container{width: 1000px; margin: 0 auto}
.w1200 .container{width: 1200px;}


.container{width: 1000px; margin:0 auto 30px; overflow: hidden;}
.w1200 .container{width: 1200px;}
/*你已选择*/
.select{  border:1px solid #ececec; border-width: 1px 1px 0 1px;  background: #f8f8f8; margin-top: 5px;}
.select .t,.select .b{position: relative; padding-left: 110px; font-size: 14px; border-bottom: 1px solid #ececec; line-height: 40px}
.select span.title{position: absolute; left: 0; top: 0; display: inline-block; width: 110px; text-align: center; color: #999;}
.select .pro{position:relative; display: inline-block; height: 20px; line-height: 20px; font-size: 12px; margin:0 15px;padding:0px 19px 0px 4px;max-width:144px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border:1px solid #77c111;color:#77c111;text-decoration:none; cursor: pointer; vertical-align: middle;}
.select .b div {border-left: 1px solid #ececec; background-color: #fff; padding: 5px 0; line-height: 30px;}
.select .pro .icon-btn-x{position:absolute; right:6px;top:6px;background:url(../images/home.png) -176px -72px;width:8px;height:8px}
.select em{font-size: 12px; cursor: pointer;}
.select .b a{margin:0 10px;}
.w1200 .select .b a{margin:0 13px;}
.select .b a.active{color:#77c111;}


/* 筛选 */
.filter{height: 40px; border:1px solid #ececec; margin-top:20px; z-index: 1;position: relative; background: #f7f7f7; line-height: 40px;}
.filter span.left{position: relative; padding:0 25px; font-size: 14px; color: #333; border-right: 1px solid #ececec}
.filter span.left a:hover{text-decoration: underline;}
.filter span.on{background: #fff}
.filter .right{display: none; height: 28px; margin-right:10px; line-height:28px;margin-top:5px;  color: #999 }
.filter .right span{display: inline-block; width: 40px; text-align: center;}
.filter .right a{display: inline-block; text-align: center; line-height: 28px; width:28px; height: 28px;  color: #333}
.filter .right a.on{color: #999}
.filter .right em{color: #77c111}
.filter .right label{color: #333}
.filter .block{height: 40px;  padding:0 10px; }
.filter .block input.but{width: 52px; height: 27px; color: #666; line-height: 27px; text-align: center; background: #fff; border:1px solid #ececec; border-radius: 5px;  margin:7px 5px 9px 10px; cursor: pointer;}
.filter .price{float: left; width: 82px; height: 25px; line-height: 25px; border:1px solid #ececec; padding:0 5px; margin-top: 7px; color: #999; background: #fff}
.filter .price input{width: 70px; height: 22px; border:0; line-height: 22px; }
.filter .line{float: left; width:15px; height: 14px; border:none; border-bottom:1px solid #ececec; margin:7px 10px;}
i.arrow-bottom{ position: absolute; right: 10px; top:20px; width: 0px; height: 0px; border:4px solid transparent; border-top-color:#333;}
i.arrow-bottom:after{content: ""; position: absolute;left:-4px; top:-5px; width: 0px; height: 0px; border:4px solid transparent;  border-top-color:#fff}


/* 商品列表部分 */

ul.list{width:1020px;  margin-left:-20px;}
.w1200 ul.list{width:1238px; margin-left:-38px;}
ul.list li{float: left; margin:20px 0 0 20px; width:182px; padding-bottom: 10px;border:1px solid #fff;}
.w1200 ul.list li{ width: 207px;  margin:30px 0 0 38px;}
ul.list li img{display: block; width: 207px; height:180px; }
ul.list li .info{padding:10px;}
ul.list li .info p.title{width: 100%; height: 44px; overflow: hidden; line-height: 22px; font-size: 14px;}
ul.list li .info span{display: block; margin: 5px 0}
ul.list li .info em{font-size: 18px; color: #ff7900}
ul.list li .info i{padding:0 3px; border-radius: 50%;color: #fff; background: #77c111}
ul.list li .info p.tips{width: 100%; height:30px; line-height:30px; border-top:1px solid #ececec; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
ul.list li:hover{border:1px solid #ececec;}
