.bread{width:980px; margin: 0 auto; height: 40px; line-height: 40px; padding-left: 20px; font-size: 14px; background: url(../images/furniture.png) 0 -270px no-repeat;}
.w1200 .bread{width:1180px;}
.container{width: 1000px; margin: 0 auto}
.w1200 .container{width: 1200px;}


.container{width: 1000px; margin:0 auto 30px; overflow: hidden;}
.w1200 .container{width: 1200px;}

.banner1 img{display: block; width:100%;}
.infoDetail{height: 115px; background: #f7f7f7; padding: 20px 0; border:1px solid #ececec;  margin-top:20px;}
.infoDetail dl.left{width:71%}
.infoDetail dl.left dt{float: left; width: 29%; border-right: 1px solid #ececec; margin-right: 4%}
.infoDetail dl.left dt .img{width: 100%; height: 75px; text-align: center;}
.infoDetail dl.left dt .img i{display: inline-block; height: 100%; vertical-align: middle}
.infoDetail dl.left dt .img img{max-width:100%; max-height:75px; display: inline; z-index: 0; vertical-align: middle; -ms-interpolation-mode: bicubic;}
.infoDetail dl.left dt p{font-size: 14px; line-height:40px; text-align: center;}
.infoDetail dl.left dd{ width:66%; height: 25px; font-size: 22px; color: #000; line-height: 25px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.infoDetail dl.left dd span{font-size: 14px; color:#666; margin-right:50px}
.infoDetail dl.left dd span em{color: #333}
.infoDetail .hot{float: left; width:29%; position: relative;}
.infoDetail .hot h3{font-size: 16px; color: #000; padding-bottom:6px;}
.infoDetail .hot ul{width:80%; height: 85px; overflow: hidden;}
.infoDetail .hot li{height: 85px;}
.infoDetail .hot dt{float: left; margin-right: 10px;}
.infoDetail .hot dt img{width:80px; height: 85px; }
.infoDetail .hot dd{float: left; width:65%; height: 25px; line-height: 25px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.infoDetail .hot dd span{font-size: 16px; color: #ff7900; margin-right: 10px;}
.infoDetail .hot dd s,.infoDetail .hot dd.look a{font-size: 12px; color: #999}
.infoDetail .hot dd.look a:hover{text-decoration: underline;}
.btn .prev,.btn .next{position: absolute; top: 30px; right:20px; display: block; width: 32px; height: 32px; background: url(../images/home.png) -242px -72px no-repeat; font-size: 0}
.btn .next{top:70px; background-position: -242px -107px; }
.btn .prev:hover{background-position:-277px -72px; }
.btn .next:hover{background-position:-277px -107px; }

.classify{overflow: hidden; margin-top:20px; font-size: 14px;}
.classify .t,.classify .b{width: 100%; height: 40px; line-height: 40px;}
.classify span{float: left; color: #999; display: inline-block; width: 77px; text-align: center;}
.classify a{padding:3px 10px; position: relative; margin-right:15px;}
.classify a i{position: absolute; right: 0; bottom:0; display: inline-block; width: 12px; height:13px; background: url(../images/home.png) -179px -192px no-repeat ; display: none;}
.classify a.current{border: 1px solid #77c111;}
.classify a.current i{display: block;}
.classify input.sou{ margin-right: 10px;  float: left;width: 330px; height: 30px; padding: 0 3px;border: 1px solid #ececec; line-height: 30px; }
.classify .price{float: left; width: 100px; height: 30px; line-height: 28px; border:1px solid #ececec; padding:0 5px;}
.classify .price input{width:86px; height: 24px; border:0; line-height: 24px; vertical-align: middle;}
.classify .line{float: left; width:15px; height: 14px; border:none; border-bottom:1px solid #ececec; margin:0px 5px;}
.classify em{color: #999}
.classify .b{margin-top: 10px;}
.classify .b span{height: 30px; line-height: 30px;  }
.classify .but{width: 100px; height: 32px; background: #000 url(../images/home.png) -230px -150px no-repeat; border:none; margin-left:10px; cursor: pointer;}

/* 商品列表部分 */

ul.list{width:1020px;  margin-left:-20px;}
.w1200 ul.list{width:1238px; margin-left:-38px;}
ul.list li{float: left; margin:20px 0 0 20px; width:182px; border:1px solid #fff; padding-bottom: 10px;}
.w1200 ul.list li{ width: 207px;  margin:20px 0 0 38px;}
ul.list li img{display: block; width: 100%; height:180px; }
.w1200 ul.list li img{width: 100%}
ul.list li .info{padding:10px;}
ul.list li .info p.title{width: 100%; height: 44px; overflow: hidden; line-height: 22px; font-size: 14px;}
ul.list li .info span{display: block; margin: 5px 0}
ul.list li .info em{font-size: 18px; color: #ff7900}
ul.list li:hover{border:1px solid #ececec;}
