/*
[name][简约灰色][/name]
[iconbgcolor]#666666[/iconbgcolor]
Powered by i1515
*/
/* 重定义 店铺全局的背景图跟背景色 */
.container_shop {background:#666 url(../images/bg_skin.jpg) 0 0 repeat;}

/* 重定义 banner bg480 */
.wrap_shop {background:url(../images/banner.jpg) 50% 0 no-repeat;}
.icon_mask{background:url(../images/icon_mask.png) 50% 0 no-repeat; width: 112px; height: 110px;top: 10px; right: 28px;}
.icon_mask_b{background:url(../images/icon_mask_b.png) 50% 0 no-repeat; width: 112px; height: 110px;bottom: 17px; left: 26px;position:absolute;z-index: 10; display: block;}

/* 重定义 默认图片 */
.img_default {background:url(../images/img_default.jpg) 50% 0 no-repeat;}

/* 重定义 幻灯片的位置 */
.goods_site {top:3px; left:417px;}
.goods_slider_div {top: 62px;left: 83px;}
.goods_slide_control {bottom:87px;}

/* 重定义 标题背景色*/
.mod_order,.mod_page,.mod_box_s .tit_bg{ background: #000;}
.order_box li{border-right: 1px solid #000;}
.mod_box_s .tit_bg { color:#FFF;}

/* 重定义 公司介绍标题下划线*/
.shop_intro h2{border-bottom: 1px solid #000;}

/* 重定义 重定义标题 的点 */
.mod_box_s h2 .dot { background: #882727;}


/* 重定义 用户信息的图标 */
.shop_user_info .icon_home {background: url(../images/icon_home.png) 0 0 no-repeat;}
.shop_user_info .icon_wellcome {background: url(../images/img_shop_wellcome.png) 0 15px no-repeat;}
a.btn_collect {background: url(../images/icon_collect.png) 0 0 no-repeat; text-decoration: none;}
a.btn_collect:hover{ background: url(../images/icon_collect.png) 0 -29px no-repeat;}

/* 分页文字颜色重定义 */
.labTotal,.labGoTo{color: #FFF;}