@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(255,0,0,0);}
body{max-width: 1080px;margin: 0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;font-size: .24rem;opacity: 0;color: #000;}
body.show {opacity:1;}
html{background-color: rgb(238, 238, 238);}
i,em{font-style: normal;}
li {list-style: none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.search{
    background: url(../images/head-back-black-3_8Oa-S.png) repeat-x;
    position: absolute;
    z-index: 2;
	left: 0;
	right: 0;
    opacity: 0.8;
    background-size: 7.5rem 1.1rem;
}
.search form{
	z-index: 3;
	position: relative;
	height: 1rem;
}
.search form img{
	width: .38rem;
	height: .36rem;
	position: absolute;
	left: 0.45rem;
	top: .43rem;
}
.inp{
	height: 0.72rem;
	outline: 0;
	border: 0;
	padding-left: .53rem;
	border-radius: .1125rem;
	color: #666;
	width: 5.6rem;
	    margin-left: 0.3625rem;
    margin-top: .25rem;
}
.s-i img{
	position: absolute;
	right:0.3rem;
	z-index: 3;
	top: .4rem;
}
.f-i{
	/*display: none;*/
}
.slideBox{
	position: relative;
		width: 7.5rem;
	height: 3.82rem;
}
.slideBox .swiper-wrapper .swiper-slide a img{
	width: 7.5rem;
	position: relative;
}
.swiper-pagination{
	width: 3.0rem;
	position: absolute;
	top: 3.47rem;
    left: 3.2rem;
}
.swiper-pagination-bullet{
	height: 0.1rem;
    width: 0.1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 0.3rem;
    display: block;
    float: left;
}
.lead ul{
    background: #fff;
    width: 100%;
    height: 1.8rem;
}
.lead ul li {
	float: left;
	width: 1.0rem;
	height: 1.0rem ;
	text-align: center;
	margin-left: 0.7rem;
	margin-top: .3rem;
}
.lead ul li a{
	text-align: center;
}
.lead ul li a span{
	width: 1.0rem;
	text-align: center;
	float: left;
}
.lead ul li a img{
	margin-left: 0.1rem;
	width: 0.8rem;
    height: 0.8rem;
}
.guang{
	    margin-top: 0.35rem;
}
.guang-l{
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.08rem;
    font-size: 0.32rem;
    width: 100%;
    height: 0.6rem;
    border-bottom: 1px #ddd solid;
    line-height: 0.8rem;
    background: #fff;
    padding-top: 0.2rem;
    float: left;
}
.guang-l span{
    border-left: 0.06rem red solid;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-left: 0.2rem;
    padding-left: 0.08rem;
    font-size: 0.32rem;
    float: left;
}
.li img{
	width: 2.5rem;
    float: left;
}
.ll img{
	    width: 1.6rem;
    height: 2.15rem;
}
.kk img{
	    width: 30%;
    float: left;
    height: 2.2rem;
}
.oo img{
	    width: 1.68rem;
    height: 2.2rem;
}