<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$cfg_soft_lang#}" />
<title>{#$pagetitle#}</title>
{#$cssFile#}
<script>
var adminPath = "{#$adminPath#}", modelType = 'tuan', mapCity = "{#$cfg_mapCity#}", typeListArr = {#$typeListArr#}, addrListArr = {#$addrListArr#}, circle = {#$circle#};
</script>
</head>

<body>
<form action="" method="post" name="editform" id="editform" class="editform">
  <input type="hidden" name="dopost" id="dopost" value="{#$dopost#}" />
  <input type="hidden" name="id" id="id" value="{#$id#}" />
  <input type="hidden" name="token" id="token" value="{#$token#}" />
  <dl class="clearfix">
    <dt><label for="company">对应会员：</label></dt>
    <dd style="position:static;">
      <input class="input-large" type="text" name="company" id="company" value="{#$company#}" autocomplete="off" />
      <input type="hidden" name="uid" id="uid" value="{#$uid#}" />
      <span class="input-tips" style="display:inline-block;"><s></s>此会员可以管理商家信息</span>
      <div id="companyList" class="popup_key"></div>
    </dd>
  </dl>
  
  <dl class="clearfix">
    <dt>商家类别：</dt>
    <dd style="overflow:visible;">
      <div class="btn-group" id="typeBtn" style="margin-left:10px;">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{#$typename#}<span class="caret"></span></button>
      </div>
      <input type="hidden" name="stype" id="stype" value="{#$stype#}" />
      <span class="input-tips"><s></s>请选择商家类别</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>所在地区：</dt>
    <dd style="overflow:visible;">
      <div class="btn-group" id="addrBtn" style="margin-left:10px;">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{#$addrname#}<span class="caret"></span></button>
      </div>
      <input type="hidden" name="addrid" id="addrid" value="{#$addrid#}" />
      <span class="input-tips"><s></s>请选择所在地区</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="circle">商圈：</label></dt>
    <dd id="circleList"><span class="help-inline" style="padding: 5px 0 0;">请先选择区域</span></dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="subway">附近地铁站：</label></dt>
    <dd>
      <div class="selectedTags">{#$subwaySelected#}</div>
      <input type="hidden" name="subway" id="subway" value="{#$subway#}" />
      <button class="btn chooseData" type="button">选择</button>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="address">详细地址：</label></dt>
    <dd>
      <input class="input-large" type="text" name="address" id="address" value="{#$address#}" maxlength="60" data-regex=".{5,60}" />
      <img src="{#$adminPath#}../static/images/admin/markditu.jpg" id="mark" style="cursor:pointer;" title="标注地图位置" />
      <span class="input-tips"><s></s>请输入详细地址，5-60位</span>
      <input type="hidden" name="lnglat" id="lnglat" value="{#$lnglat#}" />
    </dd>
  </dl>

  <dl class="clearfix">
    <dt><label for="tel">联系电话：</label></dt>
    <dd>
      <input class="input-large" type="text" name="tel" id="tel" value="{#$tel#}" maxlength="30" data-regex=".{7,30}" />
      <span class="input-tips"><s></s>请输入联系电话，7-30位</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>营业时间：</dt>
    <dd>
      <div class="input-prepend input-append">
        <input class="input-mini" type="text" name="openStart" id="openStart" value="{#$openStart#}" />
        <span class="add-on">到</span>
        <input class="input-mini" type="text" name="openEnd" id="openEnd" value="{#$openEnd#}" />
      </div>
    </dd>
  </dl>  

  <dl class="clearfix">
    <dt><label for="note">简介：</label></dt>
    <dd>
      <textarea class="input-xxlarge" rows="3" name="note" id="note" maxlength="250" data-regex=".{0,250}">{#$note#}</textarea>
      <span class="input-tips"><s></s>请输入商家简介，250字以内</span>
    </dd>
  </dl>

  <dl class="clearfix">
    <dt>详细介绍：</dt>
    <dd><script id="body" name="body" type="text/plain" style="width:85%;height:500px">{#$body#}</script></dd>
  </dl>
  
  <dl class="clearfix">
    <dt><label for="click">浏览次数：</label></dt>
    <dd>
      <span><input class="input-mini" type="number" name="click" min="0" id="click" value="{#$click#}" /></span>
      <label class="ml30" for="weight">排序：</label><input class="input-mini" type="number" name="weight" id="weight" min="1" data-regex="[1-9]\d*" value="{#$weight#}" />
      <span class="input-tips"><s></s>必填，排序越大，越排在前面</span>
    </dd>
  </dl>
  <dl class="clearfix">
    <dt><label for="state">显示状态：</label></dt>
    <dd class="radio">
      {#html_radios name="state" values=$stateopt checked=$state output=$statenames separator="&nbsp;&nbsp;"#}
    </dd>
  </dl>
  <dl class="clearfix formbtn">
    <dt>&nbsp;</dt>
    <dd><input class="btn btn-large btn-success" type="submit" name="submit" id="btnSubmit" value="确认提交" /></dd>
  </dl>
</form>

{#$editorFile#}
{#$jsFile#}
</body>
</html>