.wrap {width: 1200px; margin: 0 auto;}


/* 导航 */
.nav {position: relative;margin-top: 20px;height: 45px;/*margin-bottom: 30px;*/background: #ffc001;-moz-box-shadow: 0 5px 30px rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);box-shadow: 0 5px 30px rgba(0,0,0,.1);z-index: 100;}

/* 底部 */
.footer-login {margin-top: 40px;}
.footer-login p {line-height: 38px;text-align: center;font-size: 14px;color: #666;}
.footer-login a {color: #666;}
.footer-login a:hover {color: #f60;text-decoration: underline;}
.footer-login .pice {margin:0 14px;color: #ddd;}
