{#$pageTitle = "房产经纪人"#}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$pageTitle#} - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/config-house.css?v=1" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = cfg_staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var cookiePre = '{#$cfg_cookiePre#}';
	var modelType = 'house', uploadType = "card", thumbSize = {#$thumbSize#}, thumbType = '{#$thumbType#}';
</script>
</head>

<body>
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li class="curr"><a href="javascript:;">房产经纪人</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost='sale'#}">二手房</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost='zu'#}">租房</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost='xzl'#}">写字楼</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost='sp'#}">商铺</a></li>
				<li><a href="{#getUrlPath service='member' type='user' template='manage' action='house' dopost='cf'#}">厂房/仓库</a></li>
				<li class="add">
					<a href="javascript:;">发布房源&nbsp;+</a>
					<dl>
						{#*
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-demand'#}">求租、求购</a></dd>
						*#}
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-sale'#}">二手房</a></dd>
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-zu'#}">租房</a></dd>
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-xzl'#}">写字楼</a></dd>
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-sp'#}">商铺</a></dd>
						<dd><a href="{#getUrlPath service='member' type='user' template='fabu' action='house-cf'#}">厂房、仓库</a></dd>
					</dl>
				</li>
			</ul>
			<div class="w-form">

				{#if $jjr == 0#}
				<div class="reg">
					<a href="javascript:;" id="reg">立即申请房产经纪人</a>，或者直接使用个人身份发布房源！
				</div>
				{#/if#}

				<form name="fabuForm"{#if $jjr == 0#} class="fn-hide"{#/if#} id="fabuForm" method="post" action="{#$cfg_basehost#}/include/ajax.php?service=house&action=configZjUser">
					{#if $jjr && $detail_state == 0#}
					<p class="state0">您的资料正在审核中，请联系您的公司为您审核开通！</p>
					{#elseif $jjr && $detail_state == 2#}
					<p class="state2">您的资料审核失败，请联系您的公司查询失败原因！</p>
					{#/if#}
					<dl class="fn-clear">
						<dt>所属公司：</dt>
						<dd>
							<input type="text" name="company" id="company" class="inp" size="30" value="{#$detail_zjcomName#}" />
							<input type="hidden" name="zjcom" id="zjcom" value="{#$detail_zjcom#}" />
							<a href="{#getUrlPath service='member' template='config' action='house'#}" target="_blank" class="addNewCom">新增中介公司</a>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>所在门店：</dt>
						<dd><input type="text" name="store" id="store" class="inp" size="30" value="{#$detail_store#}" /></dd>
					</dl>
					<dl class="fn-clear">
						<dt>服务区域：</dt>
						<dd id="selAddr">
							<div class="sel-group">
								<button type="button" class="sel">{#if $detail_address#}{#$detail_address[0]#}{#else#}请选择{#/if#}<span class="caret"></span></button>
								<ul class="sel-menu">
									{#house action="addr" return="addr"#}
									<li><a href="javascript:;" data-id="{#$addr.id#}">{#$addr.typename#}</a></li>
									{#/house#}
								</ul>
							</div>
							<input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}" />
							<input type="hidden" id="addrname0" value="{#$detail_address[0]#}">
							<input type="hidden" id="addrname1" value="{#$detail_address[1]#}">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>主营小区：</dt>
						<dd>
							<div class="selectedTag" id="tag">
								{#foreach from=$detail_communityName item=community key=k#}
								<span data-id="{#$detail_communityArr[$k]#}" data-name="{#$community#}">{#$community#}<a href="javascript:;">×</a></span>
								{#/foreach#}
							</div>
							<button class="sel" type="button" id="selTags">选择小区</button>
							<input type="hidden" name="community" id="community" value="{#$detail_community#}">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>上传名片：</dt>
						<dd class="thumb fn-clear listImgBox">
							<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
							{#if $detail_litpic != ""#}
							<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">重新上传</a></li></ul>
							{#else#}
							<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
							{#/if#}
							{#if $jjr && $detail_flag == 0#}
							<p class="flag0">您的名片正在审核中，请耐心等待！</p>
							{#elseif $jjr && $detail_flag == 2#}
							<p class="flag2">您的名片审核失败，请重新上传！</p>
							{#/if#}
							<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id="litpic">
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>自我介绍：</dt>
						<dd><textarea class="inp text" name="note" id="note" rows="10" cols="60">{#$detail_note#}</textarea></dd>
					</dl>
					<dl class="fn-clear">
		        <dt>&nbsp;</dt>
		        <dd><button class="submit" id="submit">{#if $jjr#}更新资料{#else#}申请开通{#/if#}</button></dd>
		      </dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd>{#if $jjr#}备注：更新资料需要您的公司审核；<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未审核的经纪人所发布的房源将暂时不予展示，请尽快联系您的公司进行审核！{#/if#}</dd>
					</dl>
			  </form>

			</div>
		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery-ui-autocomplete.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/fabu.js?v=1"></script>
<script type="text/javascript" src="{#$templets_skin#}js/config-house.js?v=1"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/publicUpload.js?v=4"></script>
</body>
</html>
