<ul class="main-tab">
	<li class="curr"><a href="javascript:;">{#if $do == "edit"#}修改分类信息{#else#}发布分类信息{#/if#}</a></li>
	<li><a href="{#getUrlPath service='member' type='user' template='manage' action='info'#}">我的全部信息</a></li>
</ul>

{#if $typeid == 0 && $do != "edit"#}
<div class="seltype fn-clear">
	<div class="slide">
		<ul>
			{#info action="type" return='type'#}
			<li class="t{#$_bindex.type#}{#if $_bindex.type == 1#} curr{#/if#}"><a href="javascript:;"><i></i>{#$type.typename#}</a></li>
			{#/info#}
		</ul>
	</div>
	<div class="stype">
		<div class="sform" data-url="{#getUrlPath service='member' type='user' template='fabu' action='info' id='%id%'#}">
			<input type="text" id="skey" placeholder="类目搜索" />
		</div>
		{#info action="type" return='type1'#}
		<ul class="fn-clear"{#if $_bindex.type1 == 1#} style="display: block;"{#/if#}>
			{#info action="type" return='subtype' type="{#$type1.id#}"#}
			<li>
				<a href="{#if $subtype.lower#}javascript:;{#else#}{#getUrlPath service='member' type='user' template='fabu' action='info' typeid=$subtype.id#}{#/if#}" title="{#$subtype.typename#}">{#$subtype.typename#}</a>
				{#if $subtype.lower#}
				<div class="subnav">
					<i></i>
					{#info action="type" return='subtype1' type="{#$subtype.id#}"#}
					<a href="{#getUrlPath service='member' type='user' template='fabu' action='info' typeid=$subtype1.id#}">{#$subtype1.typename#}</a>
					{#/info#}
				</div>
				{#/if#}
			</li>
			{#/info#}
		</ul>
		{#/info#}
	</div>
</div>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery-ui-autocomplete.min.js"></script>
{#else#}
<div class="w-form">
	<form name="fabuForm" id="fabuForm" method="post" action="/include/ajax.php?service=info&action={#if $do == "edit"#}edit&id={#$id#}{#else#}put{#/if#}" data-url="{#getUrlPath service='member' type='user' template='manage' action='info'#}">
		<input type="hidden" name="typeid" id="typeid" value="{#if $detail_typeid != ""#}{#$detail_typeid#}{#else#}{#$typeid#}{#/if#}" />
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>标题：</dt>
			<dd>
				<input type="text" name="title" class="inp" id="title" size="60" maxlength="50" data-title="请输入信息标题，5-50个字" value="{#$detail_title#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>

		{#* 自定义区域 star *#}
			<div id="itemList">
				{#foreach from=$list_item key=key item=item#}
				<dl class="fn-clear" data-required="{#$item.required#}">
					<dt>{#if $item.required == 1#}<span>*</span>{#/if#}{#$item.title#}：</dt>
					<dd>
						{#$value = ""#}
						{#foreach from=$detail_item key=k item=i#}
							{#if $i.id == $item.id#}
							{#$value = $i.value#}
							{#/if#}
						{#/foreach#}
						{#if $item.formtype == "text"#}
						{#if $item.field == "price"#}
						<div class="input-append">
							<input id="{#$item.field#}" name="{#$item.field#}" type="text" size="8" maxlength="6" data-title="价格必须为整数，且不能为0" value="{#$value#}" />
							<span class="add-aft">元</span>
						</div>
						{#else#}
						<input type="text" name="{#$item.field#}" class="inp" id="{#$item.field#}" size="30" data-title="请输入{#$item.title#}" value="{#$value#}" />
						{#/if#}
						{#if $item.field == "address"#}<a href="javascript:;" class="getlnglat" id="getlnglat"><s></s>自动获取</a>{#/if#}
						{#elseif $item.formtype == "radio"#}
						<div class="radio" data-title="请选择{#$item.title#}">
							{#foreach from=$item.options key=k item=options#}
							<span{#if $item.default[0] == $options || $value == $options#} class="curr"{#/if#} data-id="{#$options#}">{#$options#}</span>
							{#/foreach#}
							<input type="hidden" name="{#$item.field#}" id="{#$item.field#}" value="{#if $value != ""#}{#$value#}{#else#}{#$item.default[0]#}{#/if#}" />
						</div>
						{#elseif $item.formtype == "checkbox"#}
						<div class="checkbox" data-title="请选择{#$item.title#}">
							{#foreach from=$item.options key=k item=options#}
							<label><input type="checkbox" name="{#$item.field#}[]" value="{#$options#}"{#if in_array($options, $item.default) ||  strstr($value, $options)#} checked{#/if#} />{#$options#}</label>
							{#/foreach#}
						</div>
						{#elseif $item.formtype == "select"#}
						<div class="sel-group" data-title="请选择{#$item.title#}">
							<button type="button" class="sel">{#if $value != ""#}{#$value#}{#elseif $item.default[0]#}{#$item.default[0]#}{#else#}请选择{#/if#}<span class="caret"></span></button>
							<ul class="sel-menu">
								{#foreach from=$item.options key=k item=options#}
								<li><a href="javascript:;" data-id="{#$options#}">{#$options#}</a></li>
								{#/foreach#}
							</ul>
						</div>
						<input type="hidden" name="{#$item.field#}" id="{#$item.field#}" value="{#if $value != ""#}{#$value#}{#else#}{#$item.default[0]#}{#/if#}" />
						{#/if#}
						{#if $item.required == 1#}<span class="tip-inline"></span>{#/if#}
					</dd>
				</dl>
				{#/foreach#}
			</div>
			{#* 自定义区域 end *#}

		<dl class="fn-clear">
			<dt><span>*</span>描述：</dt>
			<dd>
				<script id="body" name="body" type="text/plain" style="width:750px;height:300px">{#$detail_body#}</script>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>上传照片：</dt>
			<dd class="listImgBox">
				<div class="list-holder">
					<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_imglist#} style="display: block;"{#/if#}>
						{#foreach from=$detail_imglist key=k item=i#}
						<li class="fn-clear" id="WU_FILE_1_{#$k#}">
							<span class="li-move" title="拖动调整图片顺序">↕</span>
							<a class="li-rm" href="javascript:;">×</a>
							<div class="li-thumb" style="display: block;">
								<div class="r-progress"><s></s></div>
								<span class="ibtn">
									<a href="javascript:;" class="Lrotate" title="逆时针旋转90度"></a>
									<a href="javascript:;" class="Rrotate" title="顺时针旋转90度"></a>
									<a href="{#$i.path#}" target="_blank" class="enlarge" title="放大"></a>
								</span>
								<span class="ibg"></span>
								<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
							</div>
							<textarea class="li-desc" placeholder="请输入图片描述" style="display: inline-block;">{#$i.info#}</textarea>
						</li>
						{#/foreach#}
					</ul>
					<input type="hidden" name="imglist" value="" class="imglist-hidden">
				</div>
				<div class="btn-section fn-clear">
					<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>添加图片</span></div>
					<div class="upload-tip">
						<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_imglist#} style="display: inline-block;"{#/if#}>删除所有</a>&nbsp;&nbsp;单张最大2M，最多{#$atlasMax#}张 <span class="fileerror"></span></p>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>所在区域：</dt>
			<dd id="selAddr">
				<div class="sel-group" data-title="请选择所在区域">
					<button type="button" class="sel">{#if $detail_address != ""#}{#$detail_address#}{#else#}请选择{#/if#}<span class="caret"></span></button>
					<ul class="sel-menu">
						{#info action="addr" return="addr"#}
						<li><a href="javascript:;" data-id="{#$addr.id#}">{#$addr.typename#}</a></li>
						{#/info#}
					</ul>
				</div>
				<input type="hidden" name="addr" id="addr" value="{#$detail_addrid#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>联系人：</dt>
			<dd>
				<input type="text" name="person" class="inp" id="person" size="20" data-title="请输入联系人" value="{#if $detail_person != ""#}{#$detail_person#}{#else#}{#$userinfo.nickname#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>QQ号码：</dt>
			<dd><input type="text" name="qq" class="inp" id="qq" size="20" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_qq != ""#}{#$detail_qq#}{#else#}{#$userinfo.qq#}{#/if#}" /></dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>手机号码：</dt>
			<dd>
				<input type="text" name="tel" class="inp" id="tel" size="20" data-title="请输入手机号码" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_telNum != ""#}{#$detail_telNum#}{#else#}{#$userinfo.phone#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>有效期：</dt>
			<dd>
				<input type="text" name="valid" class="inp" id="valid" size="20" data-title="请选择有效期" value="{#if $detail_valid#}{#$detail_valid|date_format:"%Y-%m-%d"#}{#/if#}" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear" data-required="1">
			<dt><span>*</span>验证码：</dt>
			<dd>
				<input type="text" class="inp" maxlength="4" size="6" name="vdimgck" id="vdimgck" autocomplete="off" data-title="请输入验证码" />
				<img src="/include/vdimgck.php" title="看不清？点击换一张" id="verifycode" />
				<span class="tip-inline"></span>
			</dd>
		</dl>
		<dl class="fn-clear">
			<dt>&nbsp;</dt>
			<dd><button class="submit" id="submit">{#if $id == 0#}立即发布{#else#}提交修改{#/if#}</button></dd>
		</dl>
	</form>
</div>

<script>
	var map_city = '{#$cfg_mapCity#}';
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8Fr4D4DMfOpwcwmwtOomfrEh"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.coord.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/calendar/WdatePicker.js"></script>
{#/if#}
