<dl class="fn-clear" data-required="1">
	<dt><span>*</span>类别：</dt>
	<dd>
		<div class="radio type" data-title="请选择房源类别">
			<span data-id="0"{#if $detail_type == "0" || $detail_type == ""#} class="curr"{#/if#}>商铺出租</span>
			<span data-id="1"{#if $detail_type == "1"#} class="curr"{#/if#}>商铺出售</span>
			<span data-id="2"{#if $detail_type == "2"#} class="curr"{#/if#}>生意转让</span>
			<input type="hidden" name="lei" id="lei" value="{#if $detail_type != ""#}{#$detail_type#}{#else#}0{#/if#}" />
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear industry{#if $detail_type != 2#} fn-hide{#/if#}" data-required="1">
	<dt><span>*</span>现在经营行业：</dt>
	<dd id="selIndustry">
		<div class="sel-group" data-title="请选择现在所经营的行业">
			<button type="button" class="sel">{#if $detail_industry != ""#}{#$detail_industry#}{#else#}请选择{#/if#}<span class="caret"></span></button>
			<ul class="sel-menu">
				{#house action="industry" return="industry"#}
				<li><a href="javascript:;" data-id="{#$industry.id#}">{#$industry.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="industry" id="industry" value="{#$detail_industryid#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>所在区域：</dt>
	<dd id="selAddr">
		<div class="sel-group" data-title="请选择楼盘所在区域">
			<button type="button" class="sel">{#if $detail_addr#}{#$detail_addr[0]#} > {#$detail_addr[1]#}{#else#}请选择{#/if#}<span class="caret"></span></button>
			<ul class="sel-menu">
				{#house action="addr" return="addr"#}
				<li><a href="javascript:;" data-id="{#$addr.id#}">{#$addr.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" />
		<input type="text" name="address" class="inp" id="address" size="30" maxlength="50" data-title="请输入楼盘详细地址" value="{#$detail_address#}" />
		<a href="javascript:;" class="getlnglat" id="getlnglat"><s></s>自动获取</a>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>价格：</dt>
	<dd>
		<div class="input-append mr10">
			<input id="price" name="price" type="text" size="6" maxlength="7" data-title="价格必须为数字型" value="{#$detail_price#}">
			<span class="add-aft" id="priceType">{#if $detail_type == 0#}元/月{#else#}万元{#/if#}</span>
		</div>
		<div class="input-append input-prepend transfer{#if $detail_type != 2#} fn-hide{#/if#}">
			<span class="add-bef">转让费</span>
			<input id="transfer" name="transfer" type="text" size="6" maxlength="6" data-title="价格必须为整数，且不能为0" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_transfer#}">
			<span class="add-aft" id="priceType">万元</span>
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>物业费：</dt>
	<dd>
		<div class="input-append mr10">
			<input id="proprice" name="proprice" type="text" size="6" maxlength="6" data-title="价格必须为整数" value="{#$detail_proprice#}">
			<span class="add-aft">元/平米•月</span>
		</div>
		<div class="sel-group" data-title="请选择商铺类型">
			<button type="button" class="sel">{#if $detail_protype != ""#}{#$detail_protype#}{#else#}商铺类型{#/if#}<span class="caret"></span></button>
			<ul class="sel-menu">
				{#house action="item" return="item" type="9"#}
				<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="protype" id="protype" value="{#$detail_protypeid#}" />
		<div class="sel-group" data-title="请选择装修情况">
			<button type="button" class="sel">{#if $detail_zhuangxiu != ""#}{#$detail_zhuangxiu#}{#else#}装修情况{#/if#}<span class="caret"></span></button>
			<ul class="sel-menu" id="selZhuangxiu">
				{#house action="item" return="item" type="2"#}
				<li><a href="javascript:;" data-id="{#$item.id#}">{#$item.typename#}</a></li>
				{#/house#}
			</ul>
		</div>
		<input type="hidden" name="zhuangxiu" id="zhuangxiu" value="{#$detail_zhuangxiuid#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>参数：</dt>
	<dd>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">面积</span>
			<input id="area" name="area" type="text" size="4" maxlength="7" data-title="面积必须为数字型" value="{#$detail_area#}">
			<span class="add-aft">㎡</span>
		</div>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">第</span>
			<input id="bno" name="bno" type="text" size="3" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_bno#}">
			<span class="add-aft">层</span>
		</div>
		<div class="input-prepend input-append mr10">
			<span class="add-bef">共</span>
			<input id="floor" name="floor" type="text" size="3" maxlength="3" onkeyup="value=value.replace(/\D+/ig,'')" value="{#$detail_floor#}">
			<span class="add-aft">层</span>
		</div>
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>配套设置：</dt>
	<dd>
		<div class="checkbox">
			{#house action="item" return="item" type="83"#}
			<label><input type="checkbox" name="config[]" value="{#$item.id#}"{#if strstr($detail_config, $item.typename)#} checked{#/if#}>{#$item.typename#}</label>
			{#/house#}
		</div>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>适合经营行业：</dt>
	<dd>
		<div class="checkbox">
			{#house action="industry" return="industry"#}
			<label><input type="checkbox" name="suitable[]" value="{#$industry.id#}"{#if strstr($detail_suitable, $industry.typename)#} checked{#/if#}>{#$industry.typename#}</label>
			{#/house#}
		</div>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>标题：</dt>
	<dd>
		<input type="text" name="title" class="inp" id="title" size="50" maxlength="50" data-title="请输入标题" value="{#$detail_title#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>代表图片：</dt>
	<dd class="thumb fn-clear listImgBox fn-hide">
		<div class="uploadinp filePicker thumbtn{#if $detail_litpic != ""#} fn-hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist=""><div></div><span></span></div>
		{#if $detail_litpic != ""#}
		<ul id="listSection1" class="listSection thumblist fn-clear" style="display:inline-block;"><li id="WU_FILE_0_1"><a href='{#$detail_litpic#}' target="_blank" title=""><img alt="" src="{#changeFileSize url="$detail_litpic" type="small"#}" data-val="{#$detail_litpicSource#}"/></a><a class="reupload li-rm" href="javascript:;">删除图片</a></li></ul>
		{#else#}
		<ul id="listSection1" class="listSection thumblist fn-clear"></ul>
		{#/if#}
		<input type="hidden" name="litpic" value="{#$detail_litpicSource#}" class="imglist-hidden" id="litpic">
	</dd>
</dl>
<dl class="fn-clear">
	<dt>描述：</dt>
	<dd>
		<script id="note" name="note" type="text/plain" style="width:750px;height:300px">{#$detail_note#}</script>
	</dd>
</dl>
<dl class="fn-clear">
	<dt>图集：</dt>
	<dd class="listImgBox fn-hide">
		<div class="list-holder">
			<ul id="listSection2" class="fn-clear listSection fn-hide"{#if $detail_imglist#} style="display: block;"{#/if#}>
				{#foreach from=$detail_imglist key=k item=i#}
				<li class="fn-clear" id="WU_FILE_1_{#$k#}">
					<span class="li-move" title="拖动调整图片顺序">↕</span>
					<a class="li-rm" href="javascript:;">×</a>
					<div class="li-thumb" style="display: block;">
						<div class="r-progress"><s></s></div>
						<span class="ibtn">
							<a href="javascript:;" class="Lrotate" title="逆时针旋转90度"></a>
							<a href="javascript:;" class="Rrotate" title="顺时针旋转90度"></a>
							<a href="{#$i.path#}" target="_blank" class="enlarge" title="放大"></a>
						</span>
						<span class="ibg"></span>
						<img data-val="{#$i.pathSource#}" data-url="{#changeFileSize url="{#$i.path#}" type="small"#}" src="{#changeFileSize url="{#$i.path#}" type="small"#}" />
					</div>
					<textarea class="li-desc" placeholder="请输入图片描述" style="display: inline-block;">{#$i.info#}</textarea>
				</li>
				{#/foreach#}
			</ul>
			<input type="hidden" name="imglist" value="" class="imglist-hidden">
		</div>
		<div class="btn-section fn-clear">
			<div class="uploadinp filePicker" id="filePicker2" data-type="desc" data-count="{#$atlasMax#}" data-size="{#$atlasSize#}" data-imglist=""><div id="flasHolder"></div><span>添加图片</span></div>
			<div class="upload-tip">
				<p><a href="javascript:;" class="fn-hide deleteAllAtlas"{#if $detail_imglist#} style="display: inline-block;"{#/if#}>删除所有</a>&nbsp;&nbsp;单张最大2M，最多{#$atlasMax#}张 <span class="fileerror"></span></p>
			</div>
		</div>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>联系人：</dt>
	<dd>
		<input type="text" name="person" class="inp" id="person" size="20" data-title="请输入联系人" value="{#if $detail_username != ""#}{#$detail_username#}{#else#}{#$userinfo.nickname#}{#/if#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>
<dl class="fn-clear" data-required="1">
	<dt><span>*</span>手机号码：</dt>
	<dd>
		<input type="text" name="tel" class="inp" id="tel" size="20" data-title="请输入手机号码" onkeyup="value=value.replace(/\D+/ig,'')" value="{#if $detail_contact != ""#}{#$detail_contact#}{#else#}{#$userinfo.phone#}{#/if#}" />
		<span class="tip-inline"></span>
	</dd>
</dl>

<script>
	var map_city = '{#$cfg_mapCity#}';
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8Fr4D4DMfOpwcwmwtOomfrEh"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.coord.js"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.autocomplete.min.js"></script>
