<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>{#$cfg_pointName#}转赠 - {#$cfg_webname#}</title>
<link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css" media="all" />
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/transfer.css" media="all" />
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = {#$cfg_hideUrl#};
	var totalPoint = {#$userinfo.point#}, pointFee = {#$cfg_pointFee#}, pointName = '{#$cfg_pointName#}';
</script>
</head>

<body>
{#$pageTitle = "现金与"|cat:$cfg_pointName|cat:"兑换"#}
{#include file="top.html"#}

<div class="wrap">
	<div class="container fn-clear">

		{#include file="sidebar.html"#}

		<div class="main">

			<ul class="main-tab">
				<li><a href="{#getUrlPath service='member' type='user' template='convert'#}">现金与{#$cfg_pointName#}兑换</a></li>
				<li class="curr"><a href="javascript:;">{#$cfg_pointName#}转赠</a></li>
			</ul>

			<div class="transfer">

				<form action="/include/ajax.php?service=member&action=transfer" method="post" target="_blank" id="payform">
					<dl class="fn-clear txt-inline">
						<dt>可转赠{#$cfg_pointName#}：</dt>
						<dd class="fn-clear">
							<strong>{#$userinfo.point#}</strong>
							<em>【手续费：{#$cfg_pointFee#}%】</em>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><label for="user">对方用户名：</label></dt>
						<dd class="fn-clear">
							<input type="text" class="inp" name="user" id="user" />
							<span class="tip-inline"><s></s>请输入要转给的会员用户名</span>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt><label for="amount">转赠数量：</label></dt>
						<dd class="fn-clear">
							<input type="text" class="inp" name="amount" id="amount" />
							<span class="tip-inline"><s></s>数量必须为整数或小数，小数点后不超过2位。</span>
						</dd>
					</dl>
					<dl class="fn-clear txt-inline">
						<dt>手续费：</dt>
						<dd class="fn-clear"><strong id="fee">0</strong>，对方实际收到：<strong id="true">0</strong></dd>
					</dl>
					<dl class="fn-clear">
						<dt><label for="paypwd">支付密码：</label></dt>
						<dd class="fn-clear">
							<input type="password" class="inp" name="paypwd" id="paypwd" />
							<span class="tip-inline"><s></s>请输入支付密码，{#if $userinfo.paypwdCheck == 0#}您还未设置支付密码，请先<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdAdd'#}">设置支付密码</a>{#else#}如您忘记支付密码，请<a href="{#getUrlPath service='member' type='user' template='security' doget='paypwdEdit'#}">重置支付密码</a>{#/if#}！</span>
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd class="agree">
							<label><input type="checkbox" name="agree" id="agree" checked />同意并接受</label> <a href="{#getUrlPath service='siteConfig' template='protocol' id='12'#}" target="_blank">《{#$cfg_pointName#}转赠服务协议》</a><br />
						</dd>
					</dl>
					<dl class="fn-clear">
						<dt>&nbsp;</dt>
						<dd><button type="button" id="tj">确认转赠</button></dd>
					</dl>

				</form>
			</div>

		</div>
	</div>
</div>

{#include file="footer.html"#}
<script type="text/javascript" src="{#$templets_skin#}js/transfer.js"></script>
</body>
</html>
