@charset "utf-8";
/* Css Reset */
html {color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}
body, button, input, select, textarea {font:12px/1.5 "Microsoft Yahei", "\5B8B\4F53", sans-serif, tahoma, arial;}
input, select, textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:inherit;}
fieldset, img {border:0;}
iframe {display:block;}
abbr, acronym {border:0; font-variant:normal;}
del {text-decoration:line-through;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:500;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:500;}
q:before, q:after {content:'';}
sub, sup {font-size:75%; line-height:0;	position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a {color:#333;}
a *{*cursor:pointer}
a:hover {color:#ff6600; text-decoration:none;}
ins, a {text-decoration:none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
/*清除*/
*{margin:0;}
a{text-decoration:none;font-size:12px;}
img{display:block;}
.clearfix{clear:both;}
/*导航*/
.nav,.centerbox,.footer{width:1200px;margin-left:auto;margin-right:auto;}
.logobox,.logo,.logobox p,.search a{float:left;}
.logo{margin-top:20px;}
.logobox p{font-size:28px;font-family:"microsoft yahei";color:#666;line-height:90px;padding-left:32px;}
.search{float:right;}
.search a{font-size:16px;font-family:"microsoft yahei";color:#666;padding:0 25px 0 25px;line-height:90px;}
.search a:last-child{padding-right:0;}
/*广告*/
.bannerbox{background-color:#fb9643;position:relative;}
.centerbox{position:relative;}
.registerbox{width:355px;height:461px;background-color:white;position:absolute;right:0;top:47px;}
.inputbox{width:316px;height:331px;margin-left:auto;margin-right:auto;}
.bannerimg{display:block;padding:70px 0 70px 170px;width:465px;}
.box_01 p{font-size:20px;color:#333;float:left;line-height:80px;}
.box_01 a{font-size:14px;color:#ea2530;background:url(../images/arrow_right.png) no-repeat right;padding-right:25px;float:right;line-height:80px;}
.box_02{height:27px;border:solid 1px #fcd5a8;font-size:12px;color:#666;line-height:27px;background:url(../images/icon_04.png) no-repeat left 5px top 3px #fffde7;padding-left:30px;margin-bottom:5px;}
.box_03{height:40px;background:url(../images/icon_05.png) no-repeat left 0 top 0;border:solid 1px #ddd;padding-left:37px;margin-bottom:16px;position: relative;}
.box_03 input{outline:none;border:none;height:40px;width:100%;text-indent:5px;}
.box_03.Rewrite{border: 1px solid red!important;}
.box_06{position: absolute;padding: 4px 9px;background:url(../images/bac6.png) no-repeat;z-index: 99;bottom: 107%;right: 20px;height: 26px;}
.lio{display: none;}
.lio-1{display: none;width: 166px;text-align: center;}
.lio-3{display: none;width: 166px;text-align: center;}
.box_07 p i{width: 17px;height: 17px;background: url(../images/waring.png) no-repeat;display: inline-block;vertical-align: text-bottom;margin-right: 10px;}
.box_07 p s{width: 8px;height: 8px;background: url(../images/wrong.png) no-repeat;display: inline-block;margin-left: 20px;cursor: pointer;}
.box_07{position: relative;}
.write{background:url(../images/icon_06.png) no-repeat left 0 top 0;}
.box_04 .check{font-size:12px;font-family:"microsoft yahei";color:#666;float:left;}
.check input{margin-right:5px;}
.box_04 a{font-size:12px;font-family:"microsoft yahei";color:#333;float:right;}
.checkbtn{width:15px;height:15px;outline:none;vertical-align:middle;display:inline-block;margin:-2px 0 0 0;}
.box_05{height:40px;background-color:#4296cb;text-align:center;margin-top:20px;line-height:40px;}
.box_05 a{font-size:22px;font-family:"microsoft yahei";color:white;}
.sharebox{border-top:solid 1px #efefef;}
.sharebox a{float:left;font-size:12px;font-family:"microsoft yahei";color:#666;padding:0 28px 0 28px;}
.sharebox .center{width:316px;height:129px;margin:0 auto 0 auto;}
.sharebox .center p{margin-top:7px;}
.sharebox .text{font-size:12px;font-family:"microsoft yahei";color:#666;margin-top:10px;}
.sharebox .btns{text-align:center;margin-top:16px;}
/*页脚*/
.footer{text-align:center;line-height:12px;padding-top:40px;}
.message a,.copyright{font-size:12px;font-family:"microsoft yahei";color:#333;}
.message a{background:url(../images/bg_01.png) no-repeat right 0;padding-right:12px;margin-left:7px;}
.message a:last-child{background:none;}
.copyright{margin:10px 0 40px 0;}

