@charset "utf-8";
/* CSS Document */

html {color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section ,p{margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}
body, button, input, select, textarea {font:12px/1.5 "Microsoft Yahei", "\5B8B\4F53", sans-serif, tahoma, arial;}
input, select, textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:inherit;}
fieldset, img {border:0;}
iframe {display:block;}
abbr, acronym {border:0; font-variant:normal;}
del {text-decoration:line-through;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:500;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:500;}
q:before, q:after {content:'';}
sub, sup {font-size:75%; line-height:0;	position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a {color:#333;}
a *{*cursor:pointer}
a:hover {color:#ff6600; text-decoration:none;}
ins, a {text-decoration:none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
.relative {position:relative;}

/*导航*/
.nav,.centerbox,.footer{width:1200px;margin-left:auto;margin-right:auto;}
.nav{height:90px;}
.logobox,.logo,.logobox p,.search a{float:left;}
.logo{margin-top:20px;}
.logobox p{font-size:26px;line-height:90px;padding-left:32px;color:#666;}
.search,.stepbox{float:right;}
.search a{font-size:16px;color:#666;padding:0 15px 0 15px;line-height:50px;margin:20px 0 20px 10px;}
.search a:last-child{padding-right:0;}


/*注册页面*/
.bigbox{background-color:#f5f5f5;height:596px;}
.join{margin-top:28px;}
.join .welc{font-size:18px;color:#333;font-weight: bold;}
.join .reg{font-size:18px;color:#666;}
.join,.join p,.step1 div,.step1 span,.step1 img,.step1{float:left;}
.icon_01{width:33px;height:33px;background-color:#ffa346;border-radius:50%;text-align:center;font-size:20px;color:#fff;}
.icon_02{width:33px;height:33px;background-color:#bfbfbf;border-radius:50%;text-align:center;font-size:20px;color:#fff;}
.messpan{line-height:33px;margin-left:10px;font-size:16px;color:#333;}
.stepbox .current{color:#ffa346;font-size:16px;line-height:33px;margin-left:10px;}
.stepbox .position_01{position:absolute;left:auto;top:16px;margin-left:10px;}
.margin-right{margin-right:80px;}
.stepbox{margin-top:30px;}
.right{position:absolute;left:auto;top:auto;}

.userbox{width:216px;height:430px;background-color:#fff;float:left;margin:50px 24px 0 24px;padding:0 47px 0 47px;}
.userbox img{margin:30px auto 30px 20px;}
.userbox dt{font-size:26px;color:#333;text-align:center;margin-bottom:10px;}
.userbox dd{font-size:12px;color:#666;}
.userbox a{font-size:18px;color:#fff;background-color:#2767b1;display:block;text-align:center;line-height:40px;margin-top:20px;}
.centerbox02{width:1080px;margin-left:auto;margin-right:auto;}
.tep1 .right{position:absolute;left:auto;top:0;margin-left: 10px;}
.messpanlast{margin-left:44px;}


/*页脚*/
.footer{text-align:center;line-height:12px;padding-top:40px;margin-top:30px;}
.about a,.copyright{font-size:12px;font-family:"microsoft yahei";color:#333;}
.about a{background:url(../images/bg_01.png) no-repeat right center;padding-right:10px;padding-right:12px;margin-left:7px;}
.about a:last-child{background:none;}
.copyright{margin:10px 0 40px 0;}




