@charset "utf-8";
/* CSS Document */

html {color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section ,p{margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}
body, button, input, select, textarea {font:12px/1.5 "Microsoft Yahei", "\5B8B\4F53", sans-serif, tahoma, arial;}
input, select, textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:inherit;}
fieldset, img {border:0;}
iframe {display:block;}
abbr, acronym {border:0; font-variant:normal;}
del {text-decoration:line-through;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:500;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:500;}
q:before, q:after {content:'';}
sub, sup {font-size:75%; line-height:0;	position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a {color:#333;}
a *{*cursor:pointer}
a:hover {color:#ff6600; text-decoration:none;}
ins, a {text-decoration:none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}


/*导航*/
.nav,.centerbox01,.centerbox02,.footer,.smallbox{width:1200px;margin-left:auto;margin-right:auto;}
.nav{height:90px;}
.logobox,.logo,.logobox p,.search a,.floatright span,.floatright img,.floatleft,.step02,.step03,.messagebox01 .mobilebox,.messagebox01 input,.mobilebox .star,.mobilebox .mobile,.tipbox li,.messagebox02{float:left;}
.logo{margin-top:20px;}
.logobox p{font-size:26px;line-height:90px;padding-left:32px;color:#666;}
.search{float:right;}
.search a{font-size:14px;color:#666;padding:0 15px 0 15px;line-height:50px;margin:20px 0 20px 10px;}
.search a:last-child{padding-right:0;}


/*注册表*/
.bigbox{background-color: #f5f5f5;height:1080px;}
.centerbox01{position: relative;}
.floatleft .text_01{font-size: 18px;color:#333;}
.floatleft .text_02{font-size: 18px;color:#666;}

.centerbox01{line-height:88px;}
.floatright{position:relative;float: right;margin-top: 28px;}
.step01,.area dd{float: left;}
.floatright .dot_01{width:33px;height:33px;background-color:#bfbfbf;border-radius:50%;font-size: 20px;text-align: center;color:#fff;}
.floatright span{font-size: 16px;color: #333;line-height: 33px;
margin-left: 10px;}
.step01 img,.step02 img{margin:16px 0 10px 10px;}
.step02 .dot_01{background-color:#ffa346;}
.floatright .step02 .write{color:#ffa346;}
.dot_03{margin-left: 10px;}

.centerbox02{background-color: #fff;}
.user{font-size: 20px;color: #fff;background-color: #2f85ca;line-height: 75px;text-align: center;}
/*弹出层*/
.smallbox dl{position: relative;}
.phoneNum01{background: url(../images/pink.png) no-repeat;width: 220px;height: 44px;line-height: 44px;text-align: center;position: absolute;left: 90%;display: none;}
.phoneNum01 p{color: #fff;font-size:14px;}
.Rglove input.Youandme{border: 1px solid #fda6a8;}
.warningTxt{width: 225px;height: 46px;line-height: 46px;position: absolute;left: 90%;display: none;}
/*弹出层*/
.smallbox{width:550px;}
.margintop{margin-top:40px;}
.mobile{margin-top:20px;}
.mobile dt,.area dt,.margintop dt{width:130px;text-align: right;float: left;font-size: 16px;color:#333;line-height: 44px;margin-right: 6px;}
.mobile input,.margintop input{width:309px;height:44px;border:solid 1px #ddd;float: left;padding:0 10px 0 10px;outline: none;}
.mobile span,.area span,.margintop span{margin-right: 10px;color:#ea2530;}
.password{text-align: center;width:467px;}
.password span{display: block;color:#fff;background-color:#e0e0e0;width:109px;float:right;margin:2px 0 0 2px;}
.password .current{background-color:#fda6a8;}
.margin-top02{margin-top:30px;}
.aggree input{width:15px;height:15px;margin:-2px 5px 0 0;display:inline;vertical-align:middle;}
.check,.right{margin-left:136px;}
.aggree a{color: #2f85ca;}
.right a{background-color:#2f85ca;width:329px;font-size: 22px;color:#fff;line-height: 44px;text-align: center;margin-top: 30px;display: block;}
.now{margin:30px 0 30px 230px;}
.now span{font-size: 14px;color:#333;}
.now a{font-size: 14px;color:#2f85ca;}
.prompt{font-size: 12px;color:#666;margin-left:104px;display: block;line-height: 15px;padding-bottom:60px;}
.prompt img{margin:-2px 5px;}

.area{margin:20px 0 0 0;line-height: 34px;}
.area dd{width:110px;height:34px;border:solid 1px #ddd;position:relative;border-right: none;}
.area .zhejiang,.area dd ul a{font-size: 14px;color:#666;line-height: 34px;margin-left:10px;display: block;width:100px;}
.area img{position:absolute;right:10px;top:15px;}
.area dd ul li{float: left;}
.area dd:active .area ul{display: block;}
.area dd:active .area dd img{text-transform:rotate(180deg);}
.area .current{border-right:solid 1px #ddd;width:108px;}
.current02 dt{line-height: 34px;}
/*页脚*/
.footer{text-align:center;line-height:12px;padding-top:40px;margin-top:30px;}
.about a,.copyright{font-size:12px;font-family:"microsoft yahei";color:#333;}
.about a{background:url(../images/bg_01.png) no-repeat right 0;padding-right:12px;margin-left:7px;}
.about a:last-child{background:none;}
.copyright{margin:10px 0 40px 0;}
/*所在地区*/ 
.selectArea{border: 1px solid #dddddd;float: left;height: 34px;width: 331px;}
.selectArea select{display: inline-block;float: left;height: 34px;line-height: 34px;width: 110.3px;border: none;outline: 0;border-right: 1px solid #ddd;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url(../images/arrow01.png) no-repeat scroll 86px center transparent;padding: 0 10px;font-size: 16px;color: #666;}
.selectArea select.selectArea01{border-right: 0!important;}













@charset "utf-8";
/* CSS Document */

html {color:#333; background:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section ,p{margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}
body, button, input, select, textarea {font:12px/1.5 "Microsoft Yahei", "\5B8B\4F53", sans-serif, tahoma, arial;}
input, select, textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:inherit;}
fieldset, img {border:0;}
iframe {display:block;}
abbr, acronym {border:0; font-variant:normal;}
del {text-decoration:line-through;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:500;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:500;}
q:before, q:after {content:'';}
sub, sup {font-size:75%; line-height:0;	position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a {color:#333;}
a *{*cursor:pointer}
a:hover {color:#ff6600; text-decoration:none;}
ins, a {text-decoration:none;}
.fn-clear:after {visibility:hidden; display:block; font-size:0;	content:" "; clear:both; height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
.fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}


/*导航*/
.nav,.centerbox01,.centerbox02,.footer,.smallbox{width:1200px;margin-left:auto;margin-right:auto;}
.nav{height:90px;}
.logobox,.logo,.logobox p,.search a,.floatright span,.floatright img,.floatleft,.step02,.step03,.messagebox01 .mobilebox,.messagebox01 input,.mobilebox .star,.mobilebox .mobile,.tipbox li,.messagebox02{float:left;}
.logo{margin-top:20px;}
.logobox p{font-size:26px;line-height:90px;padding-left:32px;color:#666;}
.search{float:right;}
.search a{font-size:16px;color:#666;padding:0 15px 0 15px;line-height:50px;margin:20px 0 20px 10px;}
.search a:last-child{padding-right:0;}


/*注册表*/
.bigbox{background-color: #f5f5f5;height:1080px;}
.centerbox01{position: relative;}
.floatleft .text_01{font-size: 18px;color:#333;font-weight: bold;}
.floatleft .text_02{font-size: 18px;color:#666;}

.centerbox01{line-height:88px;}
.floatright{position:relative;float: right;margin-top: 28px;}
.step01,.area dd{float: left;}
.floatright .dot_01{width:33px;height:33px;background-color:#bfbfbf;border-radius:50%;font-size: 20px;text-align: center;color:#fff;}
.floatright span{font-size: 16px;color: #333;line-height: 33px;
margin-left: 10px;}
.step01 img,.step02 img{margin:16px 0 10px 10px;}
.step02 .dot_01{background-color:#ffa346;}
.step01 .dot_01{background-color:#ffa346;}
.floatright .step02 .write{color:#ffa346;}
.floatright .step01 .write{color:#ffa346;}
.dot_03{margin-left: 10px;}

.centerbox02{background-color: #fff;}
.user{font-size: 20px;color: #fff;background-color: #2767b1;line-height: 75px;text-align: center;}
/*弹出层*/
.smallbox dl{position: relative;}
.phoneNum01{background: url(../images/pink.png) no-repeat;width: 220px;height: 44px;line-height: 44px;text-align: center;position: absolute;left: 90%;display: none;}
.phoneNum01 p{color: #fff;font-size:14px;}
.Rglove input.Youandme{border: 1px solid #fda6a8;}
.warningTxt{width: 225px;height: 46px;line-height: 46px;position: absolute;left: 90%;display: none;}
/*弹出层*/
.smallbox{width:550px;}
.margintop{margin-top:40px;}
.mobile{margin-top:20px;}
.mobile dt,.area dt,.margintop dt{width:130px;text-align: right;float: left;font-size: 16px;color:#333;line-height: 44px;margin-right: 6px;}
.mobile input,.margintop input{width:309px;height:44px;border:solid 1px #ddd;float: left;padding:0 10px 0 10px;outline: none;}
.mobile span,.area span,.margintop span{margin-right: 10px;color:#ea2530;}
.password{text-align: center;width:467px;}
.password span{display: block;color:#fff;background-color:#e0e0e0;width:109px;float:right;margin:2px 0 0 2px;}
.password .current{background-color:#fda6a8;}
.margin-top02{margin-top:30px;}
.aggree input{width:15px;height:15px;margin:-2px 5px 0 0;display:inline;vertical-align:middle;}
.check,.right{margin-left:136px;}
.aggree a{color: #2f85ca;}
.right a{background-color:#ffa346;width:329px;font-size: 22px;color:#fff;line-height: 44px;text-align: center;margin-top: 30px;display: block;}
.now{margin:30px 0 30px 230px;}
.now span{font-size: 14px;color:#333;}
.now a{font-size: 14px;color:#2f85ca;}
.prompt{font-size: 12px;color:#666;margin-left:104px;display: block;line-height: 15px;padding-bottom:60px;}
.prompt img{margin:-2px 5px;}
.area{margin:20px 0 0 0;line-height: 34px;}
.area dd{width:110px;height:34px;border:solid 1px #ddd;position:relative;border-right: none;}
.area .zhejiang,.area dd ul a{font-size: 14px;color:#666;line-height: 34px;margin-left:10px;display: block;width:100px;}
.area img{position:absolute;right:10px;top:15px;}
.area dd ul li{float: left;}
.area dd:active .area ul{display: block;}
.area dd:active .area dd img{text-transform:rotate(180deg);}
.area .current{border-right:solid 1px #ddd;width:108px;}
.current02 dt{line-height: 34px;}
/*页脚*/
.footer{text-align:center;line-height:12px;padding-top:40px;margin-top:30px;}
.about a,.copyright{font-size:12px;font-family:"microsoft yahei";color:#333;}
.about a{background:url(../images/bg_01.png) no-repeat right 0;padding-right:12px;margin-left:7px;}
.about a:last-child{background:none;}
.copyright{margin:10px 0 40px 0;}
/*所在地区*/ 
.selectArea{border: 1px solid #dddddd;float: left;height: 34px;width: 331px;}
.selectArea select{display: inline-block;float: left;height: 34px;line-height: 34px;width: 110.3px;border: none;outline: 0;border-right: 1px solid #ddd;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url(../images/arrow01.png) no-repeat scroll 86px center transparent;padding: 0 10px;font-size: 16px;color: #666;}
.selectArea select.selectArea01{border-right: 0!important;}













