.reg {text-align: center; padding-top: 150px;}
.reg a {font-weight: 700; color: blue; text-decoration: underline;}

.state0, .state2 {padding: 0 0 10px 165px; font-weight: 700; color: #f60;}
.state2 {color: #f00;}

.flag0, .flag2 {font-size: 12px; color: #f60; padding-bottom: 15px;}
.flag2 {color: #f00;}


.addNewCom {color: blue; margin-left: 20px; text-decoration: underline; font-weight: 700;}


.ui_state_tips .ui_icon_bg {margin: 5px 0 2px 9px;}
.ui_state_tips .ui_content {margin-top: 9px;}

.ui-autocomplete {position: absolute; z-index: 100; cursor: default; background-color: #fff; border: 1px solid #e4e4e4;}
.ui-menu-item {display: block; padding: 0 10px; height: 30px; line-height: 30px; cursor: pointer;}
.ui-state-focus {background-color: #f1f1f1;}
.ui-helper-hidden-accessible {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}

.tip {float: left; padding: 20px 0 0 20px;}




/* 选择标签 */
.selectedTags {position: relative; padding:0 0 12px 45px; line-height:25px;}
.selectedTags label {position: absolute; left: 0; top: 0;}
.selectedTags span {display:inline-block; background-color:#81befb; border:1px solid #70b0f0; padding:0 5px; color:#fff; margin:0 4px 4px 0;}
.selectedTags span a {font-size:10px; color:#fff; line-height:25px; padding-left:5px; display:inline-block; vertical-align:bottom;}

.chooseData {padding:15px 45px 10px 0; margin-bottom:10px;}
.choose-item {float:left; width:200px; margin-left: 45px;}
.choose-item h2 {font-size:16px; margin:0; line-height: 2em;}
.choose-item h2 small {line-height: 17px;}
.choose-container {border:1px solid #b3b3b3;}
.choose-container .pinp_rit {width:160px;}
.choose-container .pinp_main_zm a {position:relative; font-size:14px; height:30px; line-height:30px;}
.choose-container .pinp_main_zm a s {position:absolute; right:10px; top:7px;}
.choose-container .pinp_main_zm a:hover s, .choose-container .pinp_main_zm a.cur s {background-image:url("/static/images/admin/glyphicons-halflings-white.png");}
.choose-container .pinp-zm-item ul {margin:0; list-style:none; background:#f5f5f5; padding:4px;}
.choose-container .pinp-zm-item ul li {position:relative; line-height:28px; padding-left:10px; cursor:pointer;}
.choose-container .pinp-zm-item ul li.cur {background:#f93; color:#fff;}
.choose-container li s {position:absolute; right:10px; top:6px; cursor:pointer;}
.choose-container li:hover {background:#fff;}

.choose-container .pinp_main {height:343px; overflow-y:auto;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm a {height:24px; line-height:24px; overflow:hidden; display:block; padding:0 5px 0 3px; white-space:nowrap; text-overflow:ellipsis;}
.choose-container .pinp_main_zm a, .choose-container .pinp_main_zm a:link, .choose-container .pinp_main_zm a:visited {text-decoration:none; color:#333; padding:0 5px 0 3px!important;}
.choose-container .pinp_main_zm a:hover, .choose-container .pinp_main_zm a.cur {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .pinp_main_zm a.on, .choose-container .pinp_main_zm a.on:link, .choose-container .pinp_main_zm a.on:visited, .choose-container .pinp_main_zm a.on:hover {text-decoration:none; color:#fff; background-color:#f93;}
.choose-container .cxtit {height:29px; line-height:29px; overflow:hidden; border-bottom:1px solid #e7e7e7; background-color:#fdfdfd; color:#999; font-size:12px; font-weight:bold; text-align:center;}
.choose-container .pinp_main_zm {border-top:1px solid #e7e7e7; margin-top:-1px; margin-right:4px; padding:3px 0; font-size:12px; margin-left:3px;}
.choose-container .pinp_main_zm p {margin:0px;}
.choose-container .pinp_main_zm i {font-weight:bold; color:#333; float:none; font-style:normal; display:block; padding:10px 0 5px 3px;}


/* 已选标签 */
.selectedTag {display:inline-block; line-height:32px; vertical-align:top;}
.selectedTag span {display:inline-block; background-color:#81befb; border:1px solid #70b0f0; padding:0 5px; color:#fff; margin:0 4px 4px 0;}
.selectedTag span a {font-size:10px; color:#fff; padding-left:5px; display:inline-block; vertical-align:bottom;}
.selectedTag span a:hover {text-decoration:none;}
.selectedTag span a.name {font-size:16px;}
.selectedTag span.selected {background:#04c;}
.selectedTag span i {vertical-align:initial; margin-left:5px; cursor:pointer;}
