.banner .conbg,
.mon-dwea .money s {background-image: url('../images/pubSprite.png'); background-repeat: no-repeat;}

/* 会员基本信息 */
.banner {position: relative; z-index: 10; height: 180px; background-image: url('../images/banner.jpg'); border-radius: 10px;}
.banner .conbg {position: absolute; right: 10px; top: 10px; width: 20px; height: 20px; overflow: hidden; font-size: 0; text-indent: -999em; background-position: 0 -34px; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.banner a:hover.conbg {-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);}
.banner .uinfo {padding: 20px 0 0 46px;}
.banner .uinfo dt {float: left; width: 100px; height: 100px; border: 1px solid #fff; overflow: hidden;}
.banner .uinfo dt a {display: block; position: relative;}
.banner .uinfo dt img {position: relative; z-index: 1; width: 100px; height: 100px;}
.banner .uinfo dt span {position: absolute; z-index: 2; left: 0; right: 0; bottom: -20px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #fff; background-color: #3e3f40; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.banner .uinfo dt a:hover span {bottom: 4px;}
.banner .uinfo dd {padding-left: 123px;}
.banner .name {height: 23px; line-height: 23px; margin-left: 12px;}
.banner .name h2 {float: left; position: relative; padding: 0 8px;}
.banner .name span {position: relative; z-index: 2; font-size: 14px; color: #fff;}
.banner .name em {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 4px; background-color: #000; filter: alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2;}
.banner .uinfo ul {padding-top: 25px; height: 60px;}
.banner .uinfo li {float: left;}
.banner .uinfo li a {color: #fff; display: block; padding: 0 12px;}
.banner .uinfo li a s {display: block; margin: 0 auto 4px; width: 30px; height: 29px; background-image: url('../images/certIcon.png'); -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.banner .uinfo li a:hover s {-webkit-transform: translate(0,-3px) scale(1.2); -moz-transform: translate(0,-3px) scale(1.2); -o-transform: translate(0,-3px) scale(1.2); transform: translate(0,-3px) scale(1.2);}
.banner .uinfo li a.disable s {background-position: -30px 0;}
.banner .uinfo li a.real s {background-position: 0 -29px;}
.banner .uinfo li a.real.disable s {background-position: -30px -29px;}
.banner .uinfo li a.email s {background-position: 0 -58px;}
.banner .uinfo li a.email.disable s {background-position: -30px -58px;}
.banner .uinfo li a.save s {background-position: 0 -87px;}
.banner .uinfo li a.save.disable s {background-position: -30px -87px;}
.banner .uinfo li a.pay s {background-position: 0 -116px;}
.banner .uinfo li a.pay.disable s {background-position: -30px -116px;}
.banner .uinfo li a.question s {background-position: 0 -145px;}
.banner .uinfo li a.question.disable s {background-position: -30px -145px;}
.banner .bot {position: absolute; left: 0; right: 0; bottom: 0; height: 40px; line-height: 40px; color: #fff;}
.banner .bot .l {position: relative; z-index: 2; float: left; font-size: 12px; margin-left: 48px;}
.banner .bot .l a {color: #ccc;}
.banner .bot .l a:hover {text-decoration: underline;}
.banner .bot .r {position: relative; z-index: 2; float: right; font-size: 14px; margin-right: 20px;}
.banner .bot .r a {height: 20px; line-height: 20px; color: #fff; padding: 0 7px; margin-left: 15px; background-color: #ccc;}
.banner .bot .r a.l1 {background-color: #81cb50;}
.banner .bot .r a.l2 {background-color: #e35352;}
.banner .bot .bg {position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 0 0 10px 10px; background-color: #000; filter: alpha(opacity=30); -moz-opacity: 0.3; -khtml-opacity: 0.3; opacity: 0.3;}

/* 自定义封面图片 */
.custom-cover {position: absolute; left: 10px; top: 180px; right: 10px; background-color: #fff; border: 1px solid #ececec\9; *border: 1px solid #ececec; _border: 1px solid #ececec; border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -ms-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -o-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4); -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.custom-cover .tit {height: 40px; line-height: 40px; padding: 0 15px; background-color: #f9f9f9; border-bottom: 1px solid #efefef;}
.custom-cover .tit h5 {float: left; font-size: 16px; color: #696969;}
.custom-cover .tit .close {float: right; width: 21px; height: 21px; font-size: 0; text-indent: -999em; margin: 10px 0 0 0; background: url('../images/pubSprite.png') -20px -16px; -moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in;}
.custom-cover .tit a:hover.close {-moz-transform:rotate(180deg); -moz-transform-origin:50% 50%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 50%; -o-transform:rotate(180deg); -o-transform-origin:50% 50%; transform:rotate(180deg); transform-origin:50% 50%;}

.custom-cover .loading {height: 300px; line-height: 300px; text-align: center; font-size: 14px;}
.custom-cover .loading img {margin: -3px 5px 0 0; vertical-align: middle;}

/* 封面图片分类 */
.custom-cover .cont {padding: 15px 0 0 16px;}
.w1200 .custom-cover .cont {padding: 15px 0 0 35px;}
.custom-cover .cover-type {padding-bottom: 10px;}
.custom-cover .cover-type li {float: left; margin: 0 2px 5px 0;}
.custom-cover .cover-type li a {height: 21px; display: block; padding: 0 12px; line-height: 21px;}
.custom-cover .cover-type li.curr a, .custom-cover .cover-type li a:hover {color: #fff; background: #ff6701;}

/* 封面图片列表 */
.custom-cover .cover-list li {float: left; width: 209px; height: 71px; margin: 0 10px 15px 0; cursor: pointer;}
.w1200 .custom-cover .cover-list li {width: 249px; height: 84px; margin: 0 30px 20px 0;}
.custom-cover .cover-list li a {display: block; position: relative; width: 205px; height: 67px; border: 2px solid #fff;}
.w1200 .custom-cover .cover-list li a {width: 245px; height: 80px;}
.custom-cover .cover-list li img {position: relative; z-index: 1; width: 205px; height: 67px; display: block;}
.w1200 .custom-cover .cover-list li img {width: 245px; height: 80px;}

.custom-cover .cover-list li .txt {display: none; position: absolute; z-index: 2; left: 0; right: 0; bottom: 0; width: 100%; height: 25px; line-height: 25px; text-align: center;}
.custom-cover .cover-list li .txt p {position: absolute; z-index: 2; width: 100%; color: #fff; font-size: 12px;}
.custom-cover .cover-list li .txt span {position: absolute; z-index: 1; left: 0; width: 100%; height: 25px; background-color: #4a4a4a; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.custom-cover .cover-list li.curr i {position: absolute; z-index: 3; right: 0; bottom: 0; width: 20px; height: 21px; background: url('../images/pubSprite.png') -52px -35px;}
.custom-cover .cover-list li.curr a, .custom-cover .cover-list li a:hover {border-color: #f60;}

.custom-cover .pagination {margin: 0 19px 20px 0;}
.w1200 .custom-cover .pagination {margin: 0 40px 20px 0;}
.custom-cover .foot {padding: 15px; text-align: right; background-color: #f6f6f6; border-top: solid 1px #e9e9e9; text-align: center;}
.custom-cover .foot input {display: inline-block; font-size: 12px; padding: 3px 20px 3px 22px; padding: 5px 20px 2px 22px\0; margin-left: 10px; cursor: pointer; display: inline-block; text-align: center; height: 25px; letter-spacing: 3px; overflow: visible; color: #333; border-radius: 2px; border: solid 1px #c4c4c4; background: #fafafa; background: linear-gradient(top,#fff,#f4f4f4); background: -moz-linear-gradient(top,#fff,#f4f4f4); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#f4f4f4)); background: -o-linear-gradient(top,#fff,#f4f4f4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4f4f4', GradientType='0'); -moz-transition: -moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;}
.custom-cover .foot input.save {color: #fff; border-color: #106bab #106bab #0d68a9; text-shadow: 0 -1px #1c5e91; background: #1771b2; background: linear-gradient(top,#2981c4,#1771b2); background: -moz-linear-gradient(top,#2981c4,#1771b2); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#2981c4),to(#1771b2)); background: -o-linear-gradient(top,#2981c4,#1771b2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2981c4',endColorstr='#1771b2');}



/* 帐户信息 */
.mon-dwea {margin-top: 15px; height: 260px;}
.mon-dwea .money {float: left; position: relative; z-index: 1; width: 345px; height: 258px; background-color: #fafafa; border: 1px solid #ececec;}
.w1200 .mon-dwea .money {width: 438px;}
#chart {position: absolute; z-index: 2; width: 220px; height: 220px; left: 5px; top: 20px;}
.w1200 #chart {left: 20px;}
.mon-dwea .money .tmon {position: absolute; z-index: 3; width: 12px; height: 12px; left: 160px; top: 115px;}
.w1200 .mon-dwea .money .tmon {left: 176px;}
.mon-dwea .money .cinfo {position: absolute; z-index: 1; left: 40px; top: 55px; width: 150px; height: 150px; text-align: center; color: #333; overflow: hidden;}
.w1200 .mon-dwea .money .cinfo {left: 54px;}
.mon-dwea .money .cinfo p {padding-top: 50px; font-size: 18px;}
.mon-dwea .money .cinfo strong {font-size: 24px; font-weight: 500;}
.mon-dwea .money ul {position: absolute; right: 10px; top: 52px;}
.w1200 .mon-dwea .money ul {right: 20px;}
.mon-dwea .money li {position: relative; z-index: 1; width: 90px; height: 32px; padding: 3px 0 3px 15px; margin-bottom: 20px; color: #333; line-height: 16px; font-size: 14px;}
.w1200 .mon-dwea .money li {width: 120px;}
.mon-dwea .money li.curr {z-index: 2;}
.mon-dwea .money li div {position: relative; z-index: 2;}
.mon-dwea .money li label {color: #53a0e3;}
.mon-dwea .money li i {position: absolute; z-index: 1; left: 0; top: 0; bottom: 0; width: 5px; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.mon-dwea .money li.m1 i {background-color: #64b2e9;}
.mon-dwea .money li.m2 i {background-color: #ffb324;}
.mon-dwea .money li.m3 i {background-color: #81cb50;}
.mon-dwea .money li.curr, .mon-dwea .money li.curr label {color: #fff;}
.mon-dwea .money li.curr i {width: 100%;}
.mon-dwea .money .pop {position: relative; display: inline-block;}
.mon-dwea .money s {display: inline-block; width: 12px; height: 12px; background-position: -13px 0; vertical-align: middle; margin: -3px 0 0 5px; cursor: help;}
.w1200 .mon-dwea .money .tmon s {margin-top: -15px;}
.mon-dwea .money .popup {display: none; position: absolute; z-index: 20; left: 0; top: 17px; width: 240px; margin-left: -115px; padding: 5px 5px; border: 1px solid #c0c9ce; background-color: #fff; font-size: 12px; color: #8a949c; line-height: 18px; box-shadow: 0 3px 10px #ccc; border-radius: 5px; -webkit-animation:topFadeIn .3s ease-out; -moz-animation:topFadeIn .3s ease-out; animation:topFadeIn .3s ease-out;}
.mon-dwea .money .popup dt, .mon-dwea .money .popup dt em {position: absolute; position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; z-index: 10;}
.mon-dwea .money .popup dt {left: 119px; top: -12px; border-width: 6px; border-bottom-color: #c0c9ce;}
.mon-dwea .money .popup dt em {left: -5px; top: -4px; border-width: 5px; border-bottom-color: #fff;}
.mon-dwea .money li .popup {margin-left: -115px; top: 17px;}

/* 日历&天气 */
.date-weather {float: right; width: 345px; height: 258px; background-color: #fafafa; border: 1px solid #ececec;}
.w1200 .date-weather {width: 438px;}
.date-weather h5 {margin: 20px 0 30px 35px; font-size: 24px; color: #333;}
.date-weather li {float: left; width: 180px; height: 150px; text-align: center; font-size: 18px; color: #333;}
.w1200 .date-weather li {width: 219px;}
.date-weather li.d {width: 160px; border-right: 1px solid #ececec;}
.w1200 .date-weather li.d {width: 218px;}
.date-weather li.d strong {display: block; color: #ef5734; font-size: 60px; line-height: 55px; margin-bottom: 20px;}
.date-weather li.weather1 .date, .date-weather li.weather1 .wind {display: none;}
.date-weather li.weather1 .pic, .date-weather li.weather1 .weather {display: block;}
.date-weather li.weather1 .pic {margin-bottom: 5px;}
.date-weather li.weather1 .pic img {height: 63px; margin: 0 5px;}

/* 系统提醒 */
.message {padding-top: 10px; margin-top: 15px; background-color: #f7f7f7;}
.message .tab {position: relative; z-index: 2; height: 60px; line-height: 58px; font-size: 18px; color: #333;}
.message .tab li {float: left; border-bottom: 2px solid #ddd; padding: 0 5px;}
.message .tab li.curr {border-color: #027cff;}
.message .tab li a {display: block; padding: 0 30px; color: #333;}
.message .tab li.curr a {color: #027cff;}
.message .tab li em {display: inline-block; height: 18px; padding: 0 6px; margin: -3px 0 0 5px; vertical-align: middle; overflow: hidden; border-radius: 10px; font-size: 12px; line-height: 18px; color: #fff; background-color: #ff6803;}
.message .con {position: relative; z-index: 1; border-top: 2px solid #ddd; margin-top: -2px; padding: 0 0 25px 20px;}
.message .con .item {width: auto;}
.w1200 .message .con .item {width: 900px;}
.message .con dl {float: left; position: relative; z-index: 1; width: 300px; height: 53px; margin: 25px 40px 0 0;}
.w1200 .message .con dl {width: 287px; margin: 25px 10px 0 0;}
.message .con dl.curr {z-index: 2;}
.message .con dt {float: left; width: 50px; height: 50px; line-height: 50px; text-align: center; border: 1px solid #037cff; color: #037cff; border-radius: 50%; font-size: 16px; background-color: #fff;}
.message .con dl.curr dt, .message .con dl:hover dt {background-color: #037cff; color: #fff;}
.message .con dl dd {padding-left: 50px;}
.message .con dl h5 {position: absolute; z-index: 1; left: 50px; top: 3px;}
.message .con dl a {font-size: 20px; color: #f50; font-weight: 500; font-family: arial; padding: 0 3px 0 5px; margin-left: 5px; line-height: 25px;}
.message .con dl p {position: absolute; z-index: 1; left: 50px; bottom: 5px; font-size: 12px; color: #999; padding: 5px 0 0 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.message .con dl ul {display: none; position: absolute; z-index: 2; left: 30px; top: 34px; width: 240px; padding: 5px 0; background-color: #f0f0f0; border-radius: 5px; box-shadow: 0 2px 10px #999; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; transform-origin: 0 0; -webkit-animation: popup .3s ease-out; -moz-animation: popup .3s ease-out; animation: popup .3s ease-out;}
.message .con dl.curr ul {display: block;}
.message .con dl li {height: 35px; line-height: 35px;}
.message .con dl li a {display: block; padding: 0 20px; margin: 0; line-height: 35px; font-size: 14px; color: #333; font-family: 'microsoft yahei';}
.message .con dl li a:hover {background-color: #027cff; color: #fff;}
.message .con dl li em {float: right; height: 16px; padding: 0 5px; margin: 10px 0 0 5px; overflow: hidden; border-radius: 10px; font-size: 12px; line-height: 16px; color: #fff; background-color: #81cb50;}

/* 模块集合 */
.modules {margin-top: 15px;}
.modules ul {width: 721px;}
.w1200 .modules ul {width: 921px;}
.modules li {float: left; width: 360px; height: 120px; margin-bottom: 20px;}
.w1200 .modules li {width: 307px;}
.modules a {display: block; width: 328px; height: 118px; padding-right: 10px; border: 1px solid #ececec; background-color: #fafafa;}
.w1200 .modules a {width: 273px;}
.modules a:hover {background-color: #027cff; border-color: #027cff;}
.modules img {float: left; width: 65px; height: 65px; background-color: #fff; border-radius: 50%; margin: 26px 15px 0 22px;}
.modules h5 {padding-top: 22px; font-size: 18px; color: #4d4d4d;}
.modules p {font-size: 14px; color: #999;}
.modules a:hover h5, .modules a:hover p {color: #fff;}