.wrap {width: 1000px; margin: 0 auto;}
.w1200 .wrap {width: 1200px;}

/* LGOO */
.header {margin:40px auto 30px;}
.header .logo {float: left;width: 270px;height: 61px; margin-top: -5px;}
.header .logo a {display: block;overflow: hidden;}
.header .logo a:hover {text-decoration: none;}
.header .logo h2 {float: left;margin-bottom: 6px;line-height: 1;font-size: 24px;color: #333; margin-top: 8px;}
.header .logo span {font-size: 13px;color: #999;}
.header .logo img {float: left;margin-right: 10px;vertical-align: middle;}

.header .kefu {float: right;}
.header .kefu dt ,.header .kefu dd {float: left;}
.header .kefu dd {margin-left: 15px;}
.header .kefu dt img {margin-top: 3px;width: 44px;height: 43px;}
.header .kefu p {white-space: nowrap;}
.header .kefu .p1 {font-size: 14px;color: #333;}
.header .kefu .p2 {font-size: 20px;color: #ff8800;}

.split-line {height: 1px; overflow: hidden; background: #e5e5e5;}

.registerwrap {font-size: 14px;}

.register {width: 530px;float: left;padding:20px;}
..w1200 .register {margin:20px 110px;}
.register .tab-nav li {float: left;width: 33.3%;height: 55px;line-height: 55px;text-align: center;}
.register .tab-nav li a {display: block;color: #a9a9a9;font-size: 16px;}
.register .tab-nav li.active a {color: #f48117;}
.register .tab-head {position: relative;margin-bottom: 40px;border-bottom: 1px solid #e5e5e5;}
.register .tab-head .mark {position: absolute;width: 33.3%;height:2px;background: #fa8211;overflow: visible !important;}
.register .tab-head .mark em {position: absolute;left:50%;top:0;margin-left: -8px;display: block;width: 0;height: 0;border:8px solid transparent;border-top-color: #fa8211;}

.tab-pane {display: none;}


.register .form-row {margin-top: 25px;}
.register .form-row.type01, .register .form-row.type02, .register .form-row.type03 {margin-top: 32px;}
.register .type {width: 70px;float: left;margin: 10px 5px 0 0;text-align: right;color: #666;}
.register .type02 ,.register .type03 ,.register .dtvdimgck {display: none;}
.register .error {position: absolute;left:228px;top:10px;display: block;color:#f48117;white-space: nowrap;}
.register .error1 {left:150px;}
.w1200 .register .error {left:450px;}
.w1200 .register .error1 {left:102%;}
#djs {color: #0580e0;}
.register .field {position: relative;width: 455px;float: left;color: #999;}
.register .inp {width: 326px;height: 20px;padding:10px;border:1px solid #e5e5e5;}
.register .yzm {width: 204px;float: left;}
.register .vdimgck {float: left;margin-left: 21px;width: 100px;height: 40px;border:1px solid #e5e5e5;}
.register .submit {display: block;width: 210px;height: 40px;margin-bottom: 18px;background: #f68014;color: #fff;font-size: 16px;border:0;outline:0;border-radius:3px;cursor: pointer;}
.register .submit:hover {background: #F49035;transition:all .25s;}
.register .btnwrap {margin-top: 42px;}
.register .btnwrap .type {font-size: 0;color: #fff;}

.register .usertype {margin-top: 10px;overflow: hidden;}
.register .usertype label {position: relative;float: left;display: inline-block;height: 21px;margin-right: 35px;cursor: pointer;white-space: nowrap;}
.register .usertype label {display: inline;}
.register .usertype label i {display: inline-block;width: 17px;height: 17px;float: left;margin:3px 5px 0;background-position: 0 -17px;transition: all .2s;}
.register .usertype label.selected i {background-position: 0 0;}
.register .usertype label input {position: absolute;left:0;top:0;width: 100%;height: 100%;opacity:0;filter:alpha(opacity=0);}
.register .change {margin-left: 8px;color: #999;line-height: 42px;}
.register .change:hover {color: #f48117;}
.agreement {color: #989898;}
.agreement label {display: inline-block;}
.agreement i {width: 19px; height: 16px; float: left;margin-top: 3px; background-position: 0 -35px; margin-right: 5px;}
.agreement .checked i ,.agreement label:hover i {background-position: 0 -52px;}
.agreement a {color: #319ed9;}
.agreement a:hover {text-decoration: underline;}

.sendvdimgck {*display: inline-block;margin:0 5px;padding:2px 5px;background: #2fa2e1;color: #fff;border-radius:3px;}
.sendvdimgck:hover {background: #1594D9;color: #fff;}
.regmail {width: 16px;height: 10px;margin-right: 4px;background-position: -21px 0;}
.vdimgckinfo {width: 450px;margin-top: 15px;line-height: 24px;color: #bcbcbc;}
.vdimgckinfo span {color: #f68012;}

.ftype03 .vdimgckinfo .sendvdimgck {background: #84ca0f;}

.regicon {display: inline-block;background-image:url(../images/register_icon.png);background-repeat: no-repeat;*vertical-align: middle;}

/* 右侧 */
.gologin {width: 350px;height: 425px;float: right;padding-left: 30px;margin:70px 40px 0 0;color: #999;border-left: 1px solid #eee;}
.gologin .title {margin-bottom: 20px;}
.gologin a {color: #0580e0;}
.gologin a:hover {text-decoration: underline;}
.otherlogin a {display: inline-block;float: left;width: 132px;height: 38px;line-height: 38px;text-align: center;color: #fff;border-radius:3px;}
.otherlogin a:hover {text-decoration: none;}
.otherlogin a i {display: inline-block;width: 20px;height: 20px;float: left;margin:9px 4px 0 10px;}
.regqq {background-position: -21px -12px;}
.regwx {background-position: -21px -32px;}
.otherlogin a span {display: inline-block;float: left;height: 20px;line-height: 20px;margin:9px 0 0 5px;padding:0 9px;border-left: 1px solid #fff;}
.qqlogin {background: #2ca5dc;margin-right: 18px;}
.qqlogin:hover {background: #46BAEE;}
.wxlogin {background: #68d311;}
.wxlogin:hover {background: #7DDB31;}
.gologin .otherlogin {padding-bottom: 20px;margin-bottom: 25px;border-bottom: 1px dashed #ececec;}
.gologin .info dt {margin-bottom: 25px;}
.gologin .info dd {line-height: 30px;}
.gologin .info span {color: #f87e0f;}

input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #fff inset;}
