html {background-color: #f0efed;}
body {opacity: 0;}
body.show{opacity: 1;}

/*头部*/
.container{position: relative;}
.header{height: 0.9rem;line-height: 0.9rem;background-color: #ff552e;border-bottom: 1px solid #efefef;width: 100%;position: relative;font-size: 0.35rem;}
.header .header-l{position: absolute;left: .3rem;top: 0.1rem;}
.header .header-l img{height: 0.4rem}
.header .header-c{text-align: center;color: #fff;}
.header .header-r{position: absolute;right: 0;top: 0.1rem;text-align: center;}
.header-r span{margin-right: .1rem;display: inline-block;}
.header-r img{width: 0.6rem;height: 0.6rem}
.h-user a,.h-menu a{display: block;line-height: 0;font-size: .16rem;color: #fff;}
.h-user i,.h-menu i{display: block;width: .6rem;height: .6rem;margin: 0 auto;background: url(../images/home.png) no-repeat 0 -.08rem;background-size: .6rem auto;}
.h-menu i{background: url(../images/search.png) no-repeat 0 -.06rem;background-size: .6rem auto;}

/*选择城市*/
.choose-tit{font-size: .3rem;margin: 0 0 .2rem .1rem;}
.choose{padding: .2rem;}
.choose li{float: left;height: .8rem;text-align: center;line-height: .8rem;background: #fff;border: 1px solid #ddd8ce;margin: .1rem;}
.choose li a{display: block;padding: 0 .52rem;}
